/* extras/css/themes/twilight/oasis_twilight_dark.css
 * name: Oasis Twilight Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="twilight_dark"],
.oasis-twilight_dark {
	--oasis-name: "Oasis Twilight Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #221B2F;
	--oasis-bg-mantle: #2B243B;
	--oasis-bg-shadow: #201C2B;
	--oasis-bg-surface: #352D47;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #352D47;
	--oasis-diff-delete: #532E2E;
	--oasis-fg-core: #E6E0F8;
	--oasis-fg-dim: #6F6055;
	--oasis-fg-muted: #5D4E7E;
	--oasis-fg-strong: #E1D2FF;
	--oasis-syntax-bracket: #B3B3C7;
	--oasis-syntax-builtinConst: #A3ABB8;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #58B8FD;
	--oasis-syntax-comment: #8073A1;
	--oasis-syntax-conditional: #C695FF;
	--oasis-syntax-constant: #FFA852;
	--oasis-syntax-delimiter: #C28EFF;
	--oasis-syntax-exception: #F28D8D;
	--oasis-syntax-func: #FFC78F;
	--oasis-syntax-identifier: #A8DDD5;
	--oasis-syntax-operator: #FFB0B0;
	--oasis-syntax-parameter: #F0E68C;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #F09595;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #DEC2FF;
	--oasis-syntax-string: #34CB7D;
	--oasis-syntax-type: #81C0B6;
	--oasis-terminal-black: #000000;
	--oasis-terminal-blue: #519BFF;
	--oasis-terminal-bright-black: #666666;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #FFA247;
	--oasis-terminal-color0: #000000;
	--oasis-terminal-color1: #D06666;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #FFA247;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #519BFF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #666666;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #D06666;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #34CB7D;
	--oasis-theme-light-primary: #D8B7FF;
	--oasis-theme-palette-primary-50: #F4EEFF;
	--oasis-theme-palette-primary-100: #EEDDFF;
	--oasis-theme-palette-primary-200: #DEC2FF;
	--oasis-theme-palette-primary-300: #D8B7FF;
	--oasis-theme-palette-primary-400: #C695FF;
	--oasis-theme-palette-primary-500: #C28EFF;
	--oasis-theme-palette-primary-600: #A870F0;
	--oasis-theme-palette-primary-700: #9C5FEB;
	--oasis-theme-palette-primary-800: #8F4FE6;
	--oasis-theme-palette-primary-900: #7033CC;
	--oasis-theme-primary: #C28EFF;
	--oasis-theme-secondary: #F3EA9F;
	--oasis-ui-border: #C28EFF;
	--oasis-ui-curSearch-bg: #F5A72C;
	--oasis-ui-curSearch-fg: #221B2F;
	--oasis-ui-cursorLine: #2B243B;
	--oasis-ui-diag-error-bg: #322639;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #273644;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #203346;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #00FF7F;
	--oasis-ui-diag-warn-bg: #38343D;
	--oasis-ui-diag-warn-fg: #EEEE00;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #352D47;
	--oasis-ui-float-border-bg: #2B243B;
	--oasis-ui-float-border-fg: #C28EFF;
	--oasis-ui-float-fg: #E6E0F8;
	--oasis-ui-float-title: #C28EFF;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #FFA247;
	--oasis-ui-match-fg: #221B2F;
	--oasis-ui-nontext: #6F6055;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #E6E0F8;
	--oasis-ui-title: #C28EFF;
	--oasis-ui-visual-bg: #5A3824;
	--oasis-ui-visual-fg: none;
}