/* extras/css/themes/light/2/oasis_starlight_light_2.css
 * name: Oasis Starlight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="starlight_light_2"],
.oasis-starlight_light_2 {
	--oasis-name: "Oasis Starlight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #faf8f4;
	--oasis-bg-mantle: #f0ebdf;
	--oasis-bg-shadow: #f5f1e9;
	--oasis-bg-surface: #ece4d4;
	--oasis-diff-add: #396b53;
	--oasis-diff-change: #56627a;
	--oasis-diff-delete: #8f4f4f;
	--oasis-diff-text: #895537;
	--oasis-fg-comment: #717c88;
	--oasis-fg-core: #1f1c16;
	--oasis-fg-dim: #9c8d87;
	--oasis-fg-muted: #6c737e;
	--oasis-fg-strong: #47453f;
	--oasis-git-add: #29701f;
	--oasis-git-change: #905215;
	--oasis-git-delete: #c70000;
	--oasis-syntax-bracket: #4f525d;
	--oasis-syntax-builtinConst: #6761c9;
	--oasis-syntax-builtinFunc: #835924;
	--oasis-syntax-builtinVar: #8728e1;
	--oasis-syntax-comment: #647489;
	--oasis-syntax-conditional: #1464a8;
	--oasis-syntax-constant: #ac5713;
	--oasis-syntax-delimiter: #2976ba;
	--oasis-syntax-exception: #c2151c;
	--oasis-syntax-func: #6f4f25;
	--oasis-syntax-identifier: #2a6f8a;
	--oasis-syntax-macro: #5b5630;
	--oasis-syntax-operator: #1460bc;
	--oasis-syntax-parameter: #3c7437;
	--oasis-syntax-preproc: #6a622c;
	--oasis-syntax-punctuation: #1254a4;
	--oasis-syntax-regex: #b15273;
	--oasis-syntax-special: #964f10;
	--oasis-syntax-statement: #1770c0;
	--oasis-syntax-string: #ab1319;
	--oasis-syntax-type: #3c706b;
	--oasis-syntax-typedef: #315d56;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #1662b0;
	--oasis-terminal-bright-black: #544942;
	--oasis-terminal-bright-blue: #266984;
	--oasis-terminal-bright-cyan: #366a63;
	--oasis-terminal-bright-green: #3a6d33;
	--oasis-terminal-bright-magenta: #7f32dd;
	--oasis-terminal-bright-red: #c21414;
	--oasis-terminal-bright-white: #534b2c;
	--oasis-terminal-bright-yellow: #905215;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #c21414;
	--oasis-terminal-color10: #3a6d33;
	--oasis-terminal-color11: #905215;
	--oasis-terminal-color12: #266984;
	--oasis-terminal-color13: #7f32dd;
	--oasis-terminal-color14: #366a63;
	--oasis-terminal-color15: #534b2c;
	--oasis-terminal-color2: #3d6c3a;
	--oasis-terminal-color3: #6a6323;
	--oasis-terminal-color4: #1662b0;
	--oasis-terminal-color5: #8031dd;
	--oasis-terminal-color6: #376a64;
	--oasis-terminal-color7: #584a12;
	--oasis-terminal-color8: #544942;
	--oasis-terminal-color9: #c21414;
	--oasis-terminal-cyan: #376a64;
	--oasis-terminal-green: #3d6c3a;
	--oasis-terminal-magenta: #8031dd;
	--oasis-terminal-red: #c21414;
	--oasis-terminal-white: #584a12;
	--oasis-terminal-yellow: #6a6323;
	--oasis-theme-accent: #a30505;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #7d7730;
	--oasis-theme-light-primary: #144d64;
	--oasis-theme-primary: #054b7d;
	--oasis-theme-secondary: #706712;
	--oasis-theme-strong-primary: #1b70aa;
	--oasis-ui-border: #225980;
	--oasis-ui-cursorLine: #f0ebdf;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #254a59;
	--oasis-ui-float-bg: #f0ebdf;
	--oasis-ui-float-border-bg: #f0ebdf;
	--oasis-ui-float-border-fg: #2e78ac;
	--oasis-ui-float-fg: #5b562a;
	--oasis-ui-float-title: #5b562a;
	--oasis-ui-lineNumber: #a46426;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #ece4d4;
	--oasis-ui-matchParen-fg: #817d4c;
	--oasis-ui-nontext: #968079;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #245980;
	--oasis-ui-visual-bg: #ece4d4;
	--oasis-ui-visual-fg: none;
}