/* extras/css/themes/light/2/oasis_desert_light_2.css
 * name: Oasis Desert Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="desert_light_2"],
.oasis-desert_light_2 {
	--oasis-name: "Oasis Desert Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f8f0e7;
	--oasis-bg-mantle: #f5e9db;
	--oasis-bg-shadow: #f1e1cf;
	--oasis-bg-surface: #eedac3;
	--oasis-diff-add: #305a46;
	--oasis-diff-change: #515151;
	--oasis-diff-delete: #784242;
	--oasis-fg-core: #5f4e3b;
	--oasis-fg-dim: #948a81;
	--oasis-fg-muted: #657076;
	--oasis-fg-strong: #5a5046;
	--oasis-syntax-bracket: #686e7e;
	--oasis-syntax-builtinConst: #575d6d;
	--oasis-syntax-builtinFunc: #944910;
	--oasis-syntax-builtinVar: #5c5e5f;
	--oasis-syntax-comment: #5d7182;
	--oasis-syntax-conditional: #5f592b;
	--oasis-syntax-constant: #434342;
	--oasis-syntax-delimiter: #92474a;
	--oasis-syntax-exception: #b81c14;
	--oasis-syntax-func: #7b4e0d;
	--oasis-syntax-identifier: #33665e;
	--oasis-syntax-operator: #a03e1a;
	--oasis-syntax-parameter: #6a00d3;
	--oasis-syntax-preproc: #22647f;
	--oasis-syntax-punctuation: #ae2c30;
	--oasis-syntax-regex: #2f6a1f;
	--oasis-syntax-special: #8f4c10;
	--oasis-syntax-statement: #695e19;
	--oasis-syntax-string: #236440;
	--oasis-syntax-type: #336059;
	--oasis-terminal-black: #515151;
	--oasis-terminal-blue: #145bb9;
	--oasis-terminal-bright-black: #58504a;
	--oasis-terminal-bright-blue: #24647e;
	--oasis-terminal-bright-cyan: #34665f;
	--oasis-terminal-bright-green: #356926;
	--oasis-terminal-bright-magenta: #7a2bdc;
	--oasis-terminal-bright-red: #bb1313;
	--oasis-terminal-bright-white: #77450c;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #515151;
	--oasis-terminal-color1: #9e3e3e;
	--oasis-terminal-color10: #356926;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24647e;
	--oasis-terminal-color13: #7a2bdc;
	--oasis-terminal-color14: #34665f;
	--oasis-terminal-color15: #77450c;
	--oasis-terminal-color2: #2f6849;
	--oasis-terminal-color3: #655f22;
	--oasis-terminal-color4: #145bb9;
	--oasis-terminal-color5: #7c29dc;
	--oasis-terminal-color6: #356660;
	--oasis-terminal-color7: #545149;
	--oasis-terminal-color8: #58504a;
	--oasis-terminal-color9: #bb1313;
	--oasis-terminal-cyan: #356660;
	--oasis-terminal-green: #2f6849;
	--oasis-terminal-magenta: #7c29dc;
	--oasis-terminal-red: #9e3e3e;
	--oasis-terminal-white: #545149;
	--oasis-terminal-yellow: #655f22;
	--oasis-theme-accent: #1c6c8d;
	--oasis-theme-light-primary: #810404;
	--oasis-theme-palette-primary-50: #FEFBEB;
	--oasis-theme-palette-primary-100: #FBF6D8;
	--oasis-theme-palette-primary-200: #F9F2C5;
	--oasis-theme-palette-primary-300: #F6EEB2;
	--oasis-theme-palette-primary-400: #F3EA9F;
	--oasis-theme-palette-primary-500: #F0E68C;
	--oasis-theme-palette-primary-600: #CDC673;
	--oasis-theme-palette-primary-700: #BDB76B;
	--oasis-theme-palette-primary-800: #807C37;
	--oasis-theme-palette-primary-900: #4D4A1B;
	--oasis-theme-primary: #881616;
	--oasis-theme-secondary: #918517;
	--oasis-theme-strong-primary: #8a2e2e;
	--oasis-ui-border: #7d3f3f;
	--oasis-ui-curSearch-bg: #dd986f;
	--oasis-ui-curSearch-fg: #351908;
	--oasis-ui-cursorLine: #f5e9db;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #2b5768;
	--oasis-ui-float-bg: #eedac3;
	--oasis-ui-float-border-bg: #f5e9db;
	--oasis-ui-float-border-fg: #7d3f3f;
	--oasis-ui-float-fg: #8d3333;
	--oasis-ui-float-title: #8d3333;
	--oasis-ui-lineNumber: #73471b;
	--oasis-ui-nontext: #958a80;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #8d3333;
	--oasis-ui-visual-bg: #eedac3;
	--oasis-ui-visual-fg: none;
}