/* extras/css/themes/light/2/oasis_midnight_light_2.css
 * name: Oasis Midnight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="midnight_light_2"],
.oasis-midnight_light_2 {
	--oasis-name: "Oasis Midnight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #e3e6ee;
	--oasis-bg-mantle: #d5d9e5;
	--oasis-bg-shadow: #d9dee8;
	--oasis-bg-surface: #bdc4d7;
	--oasis-diff-add: #33604a;
	--oasis-diff-change: #3f5977;
	--oasis-diff-delete: #804747;
	--oasis-diff-text: #7a4c31;
	--oasis-fg-comment: #68707b;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #89837c;
	--oasis-fg-muted: #606970;
	--oasis-fg-strong: #513521;
	--oasis-git-add: #24641c;
	--oasis-git-change: #804913;
	--oasis-git-delete: #b20000;
	--oasis-syntax-bracket: #454851;
	--oasis-syntax-builtinConst: #5a54c5;
	--oasis-syntax-builtinFunc: #744f20;
	--oasis-syntax-builtinVar: #791dd0;
	--oasis-syntax-comment: #5d687a;
	--oasis-syntax-conditional: #5d5831;
	--oasis-syntax-constant: #9b4f11;
	--oasis-syntax-delimiter: #6e6842;
	--oasis-syntax-exception: #ae1319;
	--oasis-syntax-func: #5e472a;
	--oasis-syntax-identifier: #26637c;
	--oasis-syntax-macro: #783825;
	--oasis-syntax-operator: #5e582a;
	--oasis-syntax-parameter: #366831;
	--oasis-syntax-preproc: #9b341b;
	--oasis-syntax-punctuation: #504c2a;
	--oasis-syntax-regex: #a84364;
	--oasis-syntax-special: #86460f;
	--oasis-syntax-statement: #6f641b;
	--oasis-syntax-string: #971016;
	--oasis-syntax-type: #356560;
	--oasis-syntax-typedef: #2b514d;
	--oasis-terminal-black: #414141;
	--oasis-terminal-blue: #13589d;
	--oasis-terminal-bright-black: #493f39;
	--oasis-terminal-bright-blue: #225d76;
	--oasis-terminal-bright-cyan: #305f58;
	--oasis-terminal-bright-green: #33612d;
	--oasis-terminal-bright-magenta: #7223d3;
	--oasis-terminal-bright-red: #ae1212;
	--oasis-terminal-bright-white: #474126;
	--oasis-terminal-bright-yellow: #804913;
	--oasis-terminal-color0: #414141;
	--oasis-terminal-color1: #ae1212;
	--oasis-terminal-color10: #33612d;
	--oasis-terminal-color11: #804913;
	--oasis-terminal-color12: #225d76;
	--oasis-terminal-color13: #7223d3;
	--oasis-terminal-color14: #305f58;
	--oasis-terminal-color15: #474126;
	--oasis-terminal-color2: #376033;
	--oasis-terminal-color3: #5f5820;
	--oasis-terminal-color4: #13589d;
	--oasis-terminal-color5: #7323d2;
	--oasis-terminal-color6: #315f59;
	--oasis-terminal-color7: #4c4010;
	--oasis-terminal-color8: #493f39;
	--oasis-terminal-color9: #ae1212;
	--oasis-terminal-cyan: #315f59;
	--oasis-terminal-green: #376033;
	--oasis-terminal-magenta: #7323d2;
	--oasis-terminal-red: #ae1212;
	--oasis-terminal-white: #4c4010;
	--oasis-terminal-yellow: #5f5820;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #685e10;
	--oasis-theme-primary: #615b21;
	--oasis-theme-secondary: #7e0404;
	--oasis-theme-secondary-light: #740404;
	--oasis-theme-secondary-strong: #933131;
	--oasis-theme-strong-primary: #86803f;
	--oasis-theme-title: #762828;
	--oasis-ui-border: #5f5b38;
	--oasis-ui-cursorLine: #d5d9e5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2a5566;
	--oasis-ui-float-bg: #d5d9e5;
	--oasis-ui-float-border-bg: #d5d9e5;
	--oasis-ui-float-border-fg: #5f5b38;
	--oasis-ui-float-fg: #7f1e1e;
	--oasis-ui-float-title: #7f1e1e;
	--oasis-ui-lineNumber: #945a23;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #bdc4d7;
	--oasis-ui-matchParen-fg: #9d5151;
	--oasis-ui-nontext: #81776f;
	--oasis-ui-picker-bg: #d5d9e5;
	--oasis-ui-picker-border-bg: #d5d9e5;
	--oasis-ui-picker-border-fg: #8b4646;
	--oasis-ui-picker-fg: #8e2121;
	--oasis-ui-picker-title: #8e2121;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #ab2828;
	--oasis-ui-visual-bg: #bdc4d7;
	--oasis-ui-visual-fg: none;
}