/* extras/css/themes/light/2/oasis_moonlight_light_2.css
 * name: Oasis Moonlight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="moonlight_light_2"],
.oasis-moonlight_light_2 {
	--oasis-name: "Oasis Moonlight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f6f2e4;
	--oasis-bg-mantle: #f3edd8;
	--oasis-bg-shadow: #efe7cd;
	--oasis-bg-surface: #ebe2c1;
	--oasis-diff-add: #305a46;
	--oasis-diff-change: #3e5372;
	--oasis-diff-delete: #784343;
	--oasis-diff-text: #73472e;
	--oasis-fg-comment: #6f7883;
	--oasis-fg-core: #191615;
	--oasis-fg-dim: #888d93;
	--oasis-fg-muted: #677079;
	--oasis-fg-strong: #2c4264;
	--oasis-git-add: #225e1a;
	--oasis-git-change: #5b530c;
	--oasis-git-delete: #a80000;
	--oasis-syntax-bracket: #4b4f59;
	--oasis-syntax-builtinConst: #625dc7;
	--oasis-syntax-builtinFunc: #7e5623;
	--oasis-syntax-builtinVar: #8220df;
	--oasis-syntax-comment: #637083;
	--oasis-syntax-conditional: #645f35;
	--oasis-syntax-constant: #a65412;
	--oasis-syntax-delimiter: #3773a6;
	--oasis-syntax-exception: #bb141b;
	--oasis-syntax-func: #674d2e;
	--oasis-syntax-identifier: #296b85;
	--oasis-syntax-macro: #7b4231;
	--oasis-syntax-operator: #655f2e;
	--oasis-syntax-parameter: #3a7035;
	--oasis-syntax-preproc: #a7381d;
	--oasis-syntax-punctuation: #57532e;
	--oasis-syntax-regex: #b4486b;
	--oasis-syntax-special: #904c10;
	--oasis-syntax-statement: #776b1d;
	--oasis-syntax-string: #a41218;
	--oasis-syntax-type: #3a6d65;
	--oasis-syntax-typedef: #2f5954;
	--oasis-terminal-black: #39537a;
	--oasis-terminal-blue: #155fa9;
	--oasis-terminal-bright-black: #445361;
	--oasis-terminal-bright-blue: #24657f;
	--oasis-terminal-bright-cyan: #34665f;
	--oasis-terminal-bright-green: #386931;
	--oasis-terminal-bright-magenta: #7b2bdc;
	--oasis-terminal-bright-red: #bc1313;
	--oasis-terminal-bright-white: #5a5230;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #39537a;
	--oasis-terminal-color1: #bc1313;
	--oasis-terminal-color10: #386931;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24657f;
	--oasis-terminal-color13: #7b2bdc;
	--oasis-terminal-color14: #34665f;
	--oasis-terminal-color15: #5a5230;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #665f22;
	--oasis-terminal-color4: #155fa9;
	--oasis-terminal-color5: #7c2bdc;
	--oasis-terminal-color6: #356660;
	--oasis-terminal-color7: #605114;
	--oasis-terminal-color8: #445361;
	--oasis-terminal-color9: #bc1313;
	--oasis-terminal-cyan: #356660;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c2bdc;
	--oasis-terminal-red: #bc1313;
	--oasis-terminal-white: #605114;
	--oasis-terminal-yellow: #665f22;
	--oasis-theme-accent: #a30505;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a80505;
	--oasis-theme-light-primary: #253d53;
	--oasis-theme-primary: #28405a;
	--oasis-theme-secondary: #706712;
	--oasis-theme-strong-primary: #3c6188;
	--oasis-ui-border: #405469;
	--oasis-ui-cursorLine: #f3edd8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #234654;
	--oasis-ui-float-bg: #f3edd8;
	--oasis-ui-float-border-bg: #f3edd8;
	--oasis-ui-float-border-fg: #56718e;
	--oasis-ui-float-fg: #575328;
	--oasis-ui-float-title: #575328;
	--oasis-ui-lineNumber: #9e6025;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #ebe2c1;
	--oasis-ui-matchParen-fg: #7c784e;
	--oasis-ui-nontext: #79828c;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #405469;
	--oasis-ui-visual-bg: #ebe2c1;
	--oasis-ui-visual-fg: none;
}