/* extras/css/themes/light/2/oasis_starlight_light_2.css
 * name: Oasis Starlight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="starlight_light_2"],
.oasis-starlight_light_2 {
	--oasis-name: "Oasis Starlight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f9f5ec;
	--oasis-bg-mantle: #f5efe0;
	--oasis-bg-shadow: #f2e9d5;
	--oasis-bg-surface: #eee3c9;
	--oasis-diff-add: #315c47;
	--oasis-diff-change: #545454;
	--oasis-diff-delete: #7b4444;
	--oasis-diff-text: #75492f;
	--oasis-fg-comment: #6f7b86;
	--oasis-fg-core: #5b5341;
	--oasis-fg-dim: #9b8b85;
	--oasis-fg-muted: #6b717c;
	--oasis-fg-strong: #55544c;
	--oasis-git-add: #216010;
	--oasis-git-change: #5d5509;
	--oasis-git-delete: #ac0000;
	--oasis-syntax-bracket: #6f6f87;
	--oasis-syntax-builtinConst: #5a606d;
	--oasis-syntax-builtinFunc: #984b11;
	--oasis-syntax-builtinVar: #60605e;
	--oasis-syntax-comment: #627287;
	--oasis-syntax-conditional: #135d9c;
	--oasis-syntax-constant: #454544;
	--oasis-syntax-delimiter: #22639c;
	--oasis-syntax-exception: #b42c2f;
	--oasis-syntax-func: #8b490f;
	--oasis-syntax-identifier: #346960;
	--oasis-syntax-operator: #be151c;
	--oasis-syntax-parameter: #6e00d7;
	--oasis-syntax-preproc: #236782;
	--oasis-syntax-punctuation: #be151c;
	--oasis-syntax-regex: #326d21;
	--oasis-syntax-special: #934d10;
	--oasis-syntax-statement: #1462a7;
	--oasis-syntax-string: #286645;
	--oasis-syntax-type: #3a625b;
	--oasis-terminal-black: #545454;
	--oasis-terminal-blue: #1561ac;
	--oasis-terminal-bright-black: #5a524c;
	--oasis-terminal-bright-blue: #256781;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #366c27;
	--oasis-terminal-bright-magenta: #7d2fdd;
	--oasis-terminal-bright-red: #bf1313;
	--oasis-terminal-bright-white: #7a470c;
	--oasis-terminal-bright-yellow: #8d5115;
	--oasis-terminal-color0: #545454;
	--oasis-terminal-color1: #b62929;
	--oasis-terminal-color10: #366c27;
	--oasis-terminal-color11: #8d5115;
	--oasis-terminal-color12: #256781;
	--oasis-terminal-color13: #7d2fdd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #7a470c;
	--oasis-terminal-color2: #306b4b;
	--oasis-terminal-color3: #686120;
	--oasis-terminal-color4: #1561ac;
	--oasis-terminal-color5: #7e2edd;
	--oasis-terminal-color6: #366863;
	--oasis-terminal-color7: #56544b;
	--oasis-terminal-color8: #5a524c;
	--oasis-terminal-color9: #bf1313;
	--oasis-terminal-cyan: #366863;
	--oasis-terminal-green: #306b4b;
	--oasis-terminal-magenta: #7e2edd;
	--oasis-terminal-red: #b62929;
	--oasis-terminal-white: #56544b;
	--oasis-terminal-yellow: #686120;
	--oasis-theme-accent: #9c540c;
	--oasis-theme-light-primary: #16556f;
	--oasis-theme-palette-primary-50: #EEF4FF;
	--oasis-theme-palette-primary-100: #D0E8FE;
	--oasis-theme-palette-primary-200: #B2DCFE;
	--oasis-theme-palette-primary-300: #94D0FE;
	--oasis-theme-palette-primary-400: #76C4FD;
	--oasis-theme-palette-primary-500: #58B8FD;
	--oasis-theme-palette-primary-600: #3AACFD;
	--oasis-theme-palette-primary-700: #1CA0FD;
	--oasis-theme-palette-primary-800: #1670AD;
	--oasis-theme-palette-primary-900: #0D4266;
	--oasis-theme-primary: #075b98;
	--oasis-theme-secondary: #918517;
	--oasis-theme-strong-primary: #076ab0;
	--oasis-ui-border: #22587e;
	--oasis-ui-cursorLine: #f5efe0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec997;
	--oasis-ui-diag-warn-fg: #5d550b;
	--oasis-ui-dir: #2d596b;
	--oasis-ui-float-bg: #f5efe0;
	--oasis-ui-float-border-bg: #f5efe0;
	--oasis-ui-float-border-fg: #22587e;
	--oasis-ui-float-fg: #23587e;
	--oasis-ui-float-title: #23587e;
	--oasis-ui-lineNumber: #77491c;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-nontext: #9e8a84;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #23587e;
	--oasis-ui-visual-bg: #eee3c9;
	--oasis-ui-visual-fg: none;
}