/* extras/css/themes/light/2/oasis_canyon_light_2.css
 * name: Oasis Canyon Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="canyon_light_2"],
.oasis-canyon_light_2 {
	--oasis-name: "Oasis Canyon Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f8f0e7;
	--oasis-bg-mantle: #f5e9db;
	--oasis-bg-shadow: #f1e1cf;
	--oasis-bg-surface: #eedac3;
	--oasis-diff-add: #305a46;
	--oasis-diff-change: #704924;
	--oasis-diff-delete: #784242;
	--oasis-fg-core: #624e35;
	--oasis-fg-dim: #8b8b8b;
	--oasis-fg-muted: #7d6b5e;
	--oasis-fg-strong: #6e492d;
	--oasis-syntax-bracket: #696e7c;
	--oasis-syntax-builtinConst: #575e6a;
	--oasis-syntax-builtinFunc: #83530e;
	--oasis-syntax-builtinVar: #5c5e5f;
	--oasis-syntax-comment: #866857;
	--oasis-syntax-conditional: #87470f;
	--oasis-syntax-constant: #434342;
	--oasis-syntax-delimiter: #894f1d;
	--oasis-syntax-exception: #b2272c;
	--oasis-syntax-func: #7c4e0e;
	--oasis-syntax-identifier: #34665f;
	--oasis-syntax-operator: #ba141b;
	--oasis-syntax-parameter: #6b00d1;
	--oasis-syntax-preproc: #22647f;
	--oasis-syntax-punctuation: #af2b30;
	--oasis-syntax-regex: #2f6a1f;
	--oasis-syntax-special: #8f4c10;
	--oasis-syntax-statement: #8f4c10;
	--oasis-syntax-string: #276343;
	--oasis-syntax-type: #385f59;
	--oasis-terminal-black: #515151;
	--oasis-terminal-blue: #145bb9;
	--oasis-terminal-bright-black: #58504a;
	--oasis-terminal-bright-blue: #24647e;
	--oasis-terminal-bright-cyan: #34665f;
	--oasis-terminal-bright-green: #356926;
	--oasis-terminal-bright-magenta: #7a2bdc;
	--oasis-terminal-bright-red: #bb1313;
	--oasis-terminal-bright-white: #77450c;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #515151;
	--oasis-terminal-color1: #9e3e3e;
	--oasis-terminal-color10: #356926;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24647e;
	--oasis-terminal-color13: #7a2bdc;
	--oasis-terminal-color14: #34665f;
	--oasis-terminal-color15: #77450c;
	--oasis-terminal-color2: #2f6849;
	--oasis-terminal-color3: #655f22;
	--oasis-terminal-color4: #145bb9;
	--oasis-terminal-color5: #7c29dc;
	--oasis-terminal-color6: #356660;
	--oasis-terminal-color7: #545149;
	--oasis-terminal-color8: #58504a;
	--oasis-terminal-color9: #bb1313;
	--oasis-terminal-cyan: #356660;
	--oasis-terminal-green: #2f6849;
	--oasis-terminal-magenta: #7c29dc;
	--oasis-terminal-red: #9e3e3e;
	--oasis-terminal-white: #545149;
	--oasis-terminal-yellow: #655f22;
	--oasis-theme-accent: #258353;
	--oasis-theme-light-primary: #7b5009;
	--oasis-theme-palette-primary-50: #FFE7CC;
	--oasis-theme-palette-primary-100: #FFD7AD;
	--oasis-theme-palette-primary-200: #FFC78F;
	--oasis-theme-palette-primary-300: #FFB870;
	--oasis-theme-palette-primary-400: #FFA852;
	--oasis-theme-palette-primary-500: #FFA247;
	--oasis-theme-palette-primary-600: #FF8A1F;
	--oasis-theme-palette-primary-700: #E67200;
	--oasis-theme-palette-primary-800: #B35A00;
	--oasis-theme-palette-primary-900: #804000;
	--oasis-theme-primary: #994f05;
	--oasis-theme-secondary: #1c6c8d;
	--oasis-theme-strong-primary: #b25b06;
	--oasis-ui-border: #73471b;
	--oasis-ui-curSearch-bg: #72aeda;
	--oasis-ui-curSearch-fg: #092234;
	--oasis-ui-cursorLine: #f5e9db;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #2a5768;
	--oasis-ui-float-bg: #eedac3;
	--oasis-ui-float-border-bg: #f5e9db;
	--oasis-ui-float-border-fg: #73471b;
	--oasis-ui-float-fg: #73471b;
	--oasis-ui-float-title: #73471b;
	--oasis-ui-lineNumber: #5b5120;
	--oasis-ui-nontext: #8b8b8b;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #73471b;
	--oasis-ui-visual-bg: #eedac3;
	--oasis-ui-visual-fg: none;
}