/* extras/css/themes/light/2/oasis_rose_light_2.css
 * name: Oasis Rose Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="rose_light_2"],
.oasis-rose_light_2 {
	--oasis-name: "Oasis Rose Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f6e2ef;
	--oasis-bg-mantle: #f1d0e5;
	--oasis-bg-shadow: #f2d6e9;
	--oasis-bg-surface: #e8b3d5;
	--oasis-diff-add: #34614b;
	--oasis-diff-change: #6e4e65;
	--oasis-diff-delete: #814747;
	--oasis-diff-text: #7b4d31;
	--oasis-fg-comment: #7d6c74;
	--oasis-fg-core: #1a0f12;
	--oasis-fg-dim: #8c837e;
	--oasis-fg-muted: #74646d;
	--oasis-fg-strong: #4c3447;
	--oasis-git-add: #25651c;
	--oasis-git-change: #824a13;
	--oasis-git-delete: #b40000;
	--oasis-syntax-bracket: #464952;
	--oasis-syntax-builtinConst: #5b55c5;
	--oasis-syntax-builtinFunc: #765021;
	--oasis-syntax-builtinVar: #7a1ed2;
	--oasis-syntax-comment: #7e606f;
	--oasis-syntax-conditional: #874259;
	--oasis-syntax-constant: #9c4f11;
	--oasis-syntax-delimiter: #8c5a6b;
	--oasis-syntax-exception: #af131a;
	--oasis-syntax-func: #624721;
	--oasis-syntax-identifier: #26647d;
	--oasis-syntax-macro: #723e2e;
	--oasis-syntax-operator: #8b3f59;
	--oasis-syntax-parameter: #366931;
	--oasis-syntax-preproc: #9c351b;
	--oasis-syntax-punctuation: #74394d;
	--oasis-syntax-regex: #cc161e;
	--oasis-syntax-special: #87470f;
	--oasis-syntax-statement: #a54262;
	--oasis-syntax-string: #554c15;
	--oasis-syntax-type: #366661;
	--oasis-syntax-typedef: #2c524e;
	--oasis-terminal-black: #424242;
	--oasis-terminal-blue: #13599f;
	--oasis-terminal-bright-black: #4a4039;
	--oasis-terminal-bright-blue: #225e77;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34622e;
	--oasis-terminal-bright-magenta: #7323d5;
	--oasis-terminal-bright-red: #b01212;
	--oasis-terminal-bright-white: #494227;
	--oasis-terminal-bright-yellow: #824a13;
	--oasis-terminal-color0: #424242;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622e;
	--oasis-terminal-color11: #824a13;
	--oasis-terminal-color12: #225e77;
	--oasis-terminal-color13: #7323d5;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #494227;
	--oasis-terminal-color2: #376134;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #13599f;
	--oasis-terminal-color5: #7423d4;
	--oasis-terminal-color6: #31605a;
	--oasis-terminal-color7: #4d4110;
	--oasis-terminal-color8: #4a4039;
	--oasis-terminal-color9: #b01212;
	--oasis-terminal-cyan: #31605a;
	--oasis-terminal-green: #376134;
	--oasis-terminal-magenta: #7423d4;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #4d4110;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #33756b;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #3e7040;
	--oasis-theme-light-primary: #5b1d31;
	--oasis-theme-primary: #5e2438;
	--oasis-theme-secondary: #2e542f;
	--oasis-theme-strong-primary: #8a3a55;
	--oasis-ui-border: #7a4f5d;
	--oasis-ui-cursorLine: #f1d0e5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2b5667;
	--oasis-ui-float-bg: #f1d0e5;
	--oasis-ui-float-border-bg: #f1d0e5;
	--oasis-ui-float-border-fg: #7a4f5d;
	--oasis-ui-float-fg: #354835;
	--oasis-ui-float-title: #354835;
	--oasis-ui-lineNumber: #955b23;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #e8b3d5;
	--oasis-ui-matchParen-fg: #3f7357;
	--oasis-ui-nontext: #85776f;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #7e4d5e;
	--oasis-ui-visual-bg: #e8b3d5;
	--oasis-ui-visual-fg: none;
}