/* extras/css/themes/light/2/oasis_mirage_light_2.css
 * name: Oasis Mirage Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="mirage_light_2"],
.oasis-mirage_light_2 {
	--oasis-name: "Oasis Mirage Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #ebf9f9;
	--oasis-bg-mantle: #dff5f5;
	--oasis-bg-shadow: #d3f2f2;
	--oasis-bg-surface: #c8eeee;
	--oasis-diff-add: #315d48;
	--oasis-diff-change: #3b5962;
	--oasis-diff-delete: #7c4545;
	--oasis-diff-text: #76492f;
	--oasis-fg-comment: #637f7a;
	--oasis-fg-core: #425858;
	--oasis-fg-dim: #968d86;
	--oasis-fg-muted: #677473;
	--oasis-fg-strong: #3f5954;
	--oasis-git-add: #216110;
	--oasis-git-change: #5d5509;
	--oasis-git-delete: #ad0000;
	--oasis-syntax-bracket: #6a7282;
	--oasis-syntax-builtinConst: #5a6070;
	--oasis-syntax-builtinFunc: #984b11;
	--oasis-syntax-builtinVar: #60605f;
	--oasis-syntax-comment: #4a7a71;
	--oasis-syntax-conditional: #32635d;
	--oasis-syntax-constant: #464644;
	--oasis-syntax-delimiter: #3d6863;
	--oasis-syntax-exception: #b7282c;
	--oasis-syntax-func: #8c4a0f;
	--oasis-syntax-identifier: #1962a7;
	--oasis-syntax-operator: #c0151c;
	--oasis-syntax-parameter: #6f00d8;
	--oasis-syntax-preproc: #8a540f;
	--oasis-syntax-punctuation: #bc1e23;
	--oasis-syntax-regex: #326d22;
	--oasis-syntax-special: #944e10;
	--oasis-syntax-statement: #356962;
	--oasis-syntax-string: #286646;
	--oasis-syntax-type: #175d9b;
	--oasis-terminal-black: #545454;
	--oasis-terminal-blue: #1561ad;
	--oasis-terminal-bright-black: #5b534c;
	--oasis-terminal-bright-blue: #256782;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #366d27;
	--oasis-terminal-bright-magenta: #7e30dd;
	--oasis-terminal-bright-red: #c01313;
	--oasis-terminal-bright-white: #7b480c;
	--oasis-terminal-bright-yellow: #8e5115;
	--oasis-terminal-color0: #545454;
	--oasis-terminal-color1: #b72929;
	--oasis-terminal-color10: #366d27;
	--oasis-terminal-color11: #8e5115;
	--oasis-terminal-color12: #256782;
	--oasis-terminal-color13: #7e30dd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #7b480c;
	--oasis-terminal-color2: #306b4c;
	--oasis-terminal-color3: #696220;
	--oasis-terminal-color4: #1561ad;
	--oasis-terminal-color5: #7f2fdd;
	--oasis-terminal-color6: #366963;
	--oasis-terminal-color7: #57544b;
	--oasis-terminal-color8: #5b534c;
	--oasis-terminal-color9: #c01313;
	--oasis-terminal-cyan: #366963;
	--oasis-terminal-green: #306b4c;
	--oasis-terminal-magenta: #7f2fdd;
	--oasis-terminal-red: #b72929;
	--oasis-terminal-white: #57544b;
	--oasis-terminal-yellow: #696220;
	--oasis-theme-accent: #4e05a3;
	--oasis-theme-light-primary: #285c55;
	--oasis-theme-palette-primary-50: #DEF8F4;
	--oasis-theme-palette-primary-100: #CCEFE9;
	--oasis-theme-palette-primary-200: #BAE6DF;
	--oasis-theme-palette-primary-300: #A8DDD5;
	--oasis-theme-palette-primary-400: #96D4CB;
	--oasis-theme-palette-primary-500: #8FD1C7;
	--oasis-theme-palette-primary-600: #81C0B6;
	--oasis-theme-palette-primary-700: #5ABAAE;
	--oasis-theme-palette-primary-800: #47A99B;
	--oasis-theme-palette-primary-900: #2A5E56;
	--oasis-theme-primary: #366860;
	--oasis-theme-secondary: #9c540c;
	--oasis-theme-strong-primary: #387f76;
	--oasis-ui-border: #375b55;
	--oasis-ui-cursorLine: #dff5f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec997;
	--oasis-ui-diag-warn-fg: #5d550b;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #dff5f5;
	--oasis-ui-float-border-bg: #dff5f5;
	--oasis-ui-float-border-fg: #375b55;
	--oasis-ui-float-fg: #3c5a56;
	--oasis-ui-float-title: #3c5a56;
	--oasis-ui-lineNumber: #774a1c;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-nontext: #988d84;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #3c5a56;
	--oasis-ui-visual-bg: #c8eeee;
	--oasis-ui-visual-fg: none;
}