/* extras/css/themes/light/2/oasis_cactus_light_2.css
 * name: Oasis Cactus Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="cactus_light_2"],
.oasis-cactus_light_2 {
	--oasis-name: "Oasis Cactus Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #eef7f2;
	--oasis-bg-mantle: #e4f2ea;
	--oasis-bg-shadow: #d9ede2;
	--oasis-bg-surface: #cfe8da;
	--oasis-diff-add: #315c47;
	--oasis-diff-change: #45584a;
	--oasis-diff-delete: #7b4444;
	--oasis-diff-text: #75492f;
	--oasis-fg-comment: #6a7e6b;
	--oasis-fg-core: #151b17;
	--oasis-fg-dim: #968c84;
	--oasis-fg-muted: #66746a;
	--oasis-fg-strong: #334838;
	--oasis-git-add: #235f1a;
	--oasis-git-change: #5c540c;
	--oasis-git-delete: #ab0000;
	--oasis-syntax-bracket: #4d515b;
	--oasis-syntax-builtinConst: #645fc8;
	--oasis-syntax-builtinFunc: #805724;
	--oasis-syntax-builtinVar: #8424e0;
	--oasis-syntax-comment: #5f7760;
	--oasis-syntax-conditional: #3f6940;
	--oasis-syntax-constant: #a85612;
	--oasis-syntax-delimiter: #527a53;
	--oasis-syntax-exception: #be151c;
	--oasis-syntax-func: #6c4e24;
	--oasis-syntax-identifier: #2a6d87;
	--oasis-syntax-macro: #863f29;
	--oasis-syntax-operator: #3d6a3e;
	--oasis-syntax-parameter: #835f13;
	--oasis-syntax-preproc: #aa391d;
	--oasis-syntax-punctuation: #375c38;
	--oasis-syntax-regex: #af4f70;
	--oasis-syntax-special: #934d10;
	--oasis-syntax-statement: #467749;
	--oasis-syntax-string: #a71218;
	--oasis-syntax-type: #3a6e69;
	--oasis-syntax-typedef: #305b56;
	--oasis-terminal-black: #535353;
	--oasis-terminal-blue: #1560ac;
	--oasis-terminal-bright-black: #5e5149;
	--oasis-terminal-bright-blue: #256681;
	--oasis-terminal-bright-cyan: #356861;
	--oasis-terminal-bright-green: #396b32;
	--oasis-terminal-bright-magenta: #7d2fdd;
	--oasis-terminal-bright-red: #bf1313;
	--oasis-terminal-bright-white: #5c5331;
	--oasis-terminal-bright-yellow: #8d5115;
	--oasis-terminal-color0: #535353;
	--oasis-terminal-color1: #bf1313;
	--oasis-terminal-color10: #396b32;
	--oasis-terminal-color11: #8d5115;
	--oasis-terminal-color12: #256681;
	--oasis-terminal-color13: #7d2fdd;
	--oasis-terminal-color14: #356861;
	--oasis-terminal-color15: #5c5331;
	--oasis-terminal-color2: #3c6a38;
	--oasis-terminal-color3: #686123;
	--oasis-terminal-color4: #1560ac;
	--oasis-terminal-color5: #7e2edc;
	--oasis-terminal-color6: #366862;
	--oasis-terminal-color7: #615214;
	--oasis-terminal-color8: #5e5149;
	--oasis-terminal-color9: #bf1313;
	--oasis-terminal-cyan: #366862;
	--oasis-terminal-green: #3c6a38;
	--oasis-terminal-magenta: #7e2edc;
	--oasis-terminal-red: #bf1313;
	--oasis-terminal-white: #615214;
	--oasis-terminal-yellow: #686123;
	--oasis-theme-accent: #4c05a3;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a80505;
	--oasis-theme-light-primary: #294f2b;
	--oasis-theme-primary: #2e5430;
	--oasis-theme-secondary: #7e0404;
	--oasis-theme-strong-primary: #467e49;
	--oasis-ui-border: #425943;
	--oasis-ui-cursorLine: #e4f2ea;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #244856;
	--oasis-ui-float-bg: #e4f2ea;
	--oasis-ui-float-border-bg: #e4f2ea;
	--oasis-ui-float-border-fg: #59785b;
	--oasis-ui-float-fg: #9e2525;
	--oasis-ui-float-title: #9e2525;
	--oasis-ui-lineNumber: #a06226;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #cfe8da;
	--oasis-ui-matchParen-fg: #7e7a4f;
	--oasis-ui-nontext: #8d8076;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #425943;
	--oasis-ui-visual-bg: #cfe8da;
	--oasis-ui-visual-fg: none;
}