/* extras/css/themes/light/2/oasis_canyon_light_2.css
 * name: Oasis Canyon Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="canyon_light_2"],
.oasis-canyon_light_2 {
	--oasis-name: "Oasis Canyon Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f1dbc9;
	--oasis-bg-mantle: #ebcbb1;
	--oasis-bg-shadow: #eed3bd;
	--oasis-bg-surface: #e8c3a5;
	--oasis-diff-add: #315b46;
	--oasis-diff-change: #6b4b3d;
	--oasis-diff-delete: #794343;
	--oasis-diff-text: #74482e;
	--oasis-fg-comment: #7c675b;
	--oasis-fg-core: #1b150e;
	--oasis-fg-dim: #887d76;
	--oasis-fg-muted: #725f55;
	--oasis-fg-strong: #4a311e;
	--oasis-git-add: #235f1a;
	--oasis-git-change: #7a4612;
	--oasis-git-delete: #aa0000;
	--oasis-syntax-bracket: #41444c;
	--oasis-syntax-builtinConst: #554ec3;
	--oasis-syntax-builtinFunc: #5c531e;
	--oasis-syntax-builtinVar: #731cc6;
	--oasis-syntax-comment: #7d5b4c;
	--oasis-syntax-conditional: #7d4414;
	--oasis-syntax-constant: #944b10;
	--oasis-syntax-delimiter: #92531f;
	--oasis-syntax-exception: #a61218;
	--oasis-syntax-func: #4e471a;
	--oasis-syntax-identifier: #245f76;
	--oasis-syntax-macro: #5e420a;
	--oasis-syntax-operator: #7c4514;
	--oasis-syntax-parameter: #33632f;
	--oasis-syntax-preproc: #6c4d0c;
	--oasis-syntax-punctuation: #6b3b11;
	--oasis-syntax-regex: #9a4563;
	--oasis-syntax-special: #5a5325;
	--oasis-syntax-statement: #8e4f17;
	--oasis-syntax-string: #8f1015;
	--oasis-syntax-type: #33605b;
	--oasis-syntax-typedef: #294d49;
	--oasis-terminal-black: #3d3d3d;
	--oasis-terminal-blue: #125395;
	--oasis-terminal-bright-black: #443b35;
	--oasis-terminal-bright-blue: #205970;
	--oasis-terminal-bright-cyan: #2e5a53;
	--oasis-terminal-bright-green: #315c2b;
	--oasis-terminal-bright-magenta: #6d21c9;
	--oasis-terminal-bright-red: #a61111;
	--oasis-terminal-bright-white: #433c24;
	--oasis-terminal-bright-yellow: #7a4612;
	--oasis-terminal-color0: #3d3d3d;
	--oasis-terminal-color1: #a61111;
	--oasis-terminal-color10: #315c2b;
	--oasis-terminal-color11: #7a4612;
	--oasis-terminal-color12: #205970;
	--oasis-terminal-color13: #6d21c9;
	--oasis-terminal-color14: #2e5a53;
	--oasis-terminal-color15: #433c24;
	--oasis-terminal-color2: #345c31;
	--oasis-terminal-color3: #5a541e;
	--oasis-terminal-color4: #125395;
	--oasis-terminal-color5: #6e21c8;
	--oasis-terminal-color6: #2e5a55;
	--oasis-terminal-color7: #473c0f;
	--oasis-terminal-color8: #443b35;
	--oasis-terminal-color9: #a61111;
	--oasis-terminal-cyan: #2e5a55;
	--oasis-terminal-green: #345c31;
	--oasis-terminal-magenta: #6e21c8;
	--oasis-terminal-red: #a61111;
	--oasis-terminal-white: #473c0f;
	--oasis-terminal-yellow: #5a541e;
	--oasis-theme-accent: #1c6c8d;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a80505;
	--oasis-theme-light-primary: #6f4808;
	--oasis-theme-primary: #78410a;
	--oasis-theme-secondary: #7e0404;
	--oasis-theme-strong-primary: #a36021;
	--oasis-ui-border: #653d18;
	--oasis-ui-cursorLine: #ebcbb1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #1c3a46;
	--oasis-ui-float-bg: #ebcbb1;
	--oasis-ui-float-border-bg: #ebcbb1;
	--oasis-ui-float-border-fg: #8d5621;
	--oasis-ui-float-fg: #872020;
	--oasis-ui-float-title: #872020;
	--oasis-ui-lineNumber: #78602a;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #e8c3a5;
	--oasis-ui-matchParen-fg: #397288;
	--oasis-ui-nontext: #7e7269;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #643e18;
	--oasis-ui-visual-bg: #e8c3a5;
	--oasis-ui-visual-fg: none;
}