/* extras/css/themes/light/2/oasis_dune_light_2.css
 * name: Oasis Dune Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="dune_light_2"],
.oasis-dune_light_2 {
	--oasis-name: "Oasis Dune Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f9f0e1;
	--oasis-bg-mantle: #f5e6ce;
	--oasis-bg-shadow: #f6ead4;
	--oasis-bg-surface: #efd7ae;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #685b4d;
	--oasis-diff-delete: #894c4c;
	--oasis-diff-text: #835134;
	--oasis-fg-comment: #80746c;
	--oasis-fg-core: #171613;
	--oasis-fg-dim: #8c8c8c;
	--oasis-fg-muted: #776c63;
	--oasis-fg-strong: #44422c;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f14;
	--oasis-git-delete: #bf0000;
	--oasis-syntax-bracket: #4b4e58;
	--oasis-syntax-builtinConst: #625cc7;
	--oasis-syntax-builtinFunc: #7d5523;
	--oasis-syntax-builtinVar: #8120de;
	--oasis-syntax-comment: #796c62;
	--oasis-syntax-conditional: #635e34;
	--oasis-syntax-constant: #a55412;
	--oasis-syntax-delimiter: #756f46;
	--oasis-syntax-exception: #ba141b;
	--oasis-syntax-func: #664d2e;
	--oasis-syntax-identifier: #296a84;
	--oasis-syntax-macro: #823d28;
	--oasis-syntax-operator: #655e2a;
	--oasis-syntax-parameter: #3a6f34;
	--oasis-syntax-preproc: #a6381d;
	--oasis-syntax-punctuation: #585228;
	--oasis-syntax-regex: #b3476a;
	--oasis-syntax-special: #8f4c10;
	--oasis-syntax-statement: #766a1d;
	--oasis-syntax-string: #a31218;
	--oasis-syntax-type: #396c66;
	--oasis-syntax-typedef: #2f5854;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #155ea8;
	--oasis-terminal-bright-black: #50453e;
	--oasis-terminal-bright-blue: #24647e;
	--oasis-terminal-bright-cyan: #34665e;
	--oasis-terminal-bright-green: #376830;
	--oasis-terminal-bright-magenta: #7b2bdc;
	--oasis-terminal-bright-red: #bb1313;
	--oasis-terminal-bright-white: #4f472a;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #ba1313;
	--oasis-terminal-color10: #376830;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24647e;
	--oasis-terminal-color13: #7b2bdc;
	--oasis-terminal-color14: #34665e;
	--oasis-terminal-color15: #4f472a;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #655f22;
	--oasis-terminal-color4: #155ea8;
	--oasis-terminal-color5: #7c29dc;
	--oasis-terminal-color6: #346660;
	--oasis-terminal-color7: #534611;
	--oasis-terminal-color8: #50453e;
	--oasis-terminal-color9: #bb1313;
	--oasis-terminal-cyan: #346660;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c29dc;
	--oasis-terminal-red: #ba1313;
	--oasis-terminal-white: #534611;
	--oasis-terminal-yellow: #655f22;
	--oasis-theme-accent: #4c05a3;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #357870;
	--oasis-theme-light-primary: #685e0f;
	--oasis-theme-primary: #615b21;
	--oasis-theme-secondary: #275b53;
	--oasis-theme-strong-primary: #86763f;
	--oasis-ui-border: #646244;
	--oasis-ui-cursorLine: #f5e6ce;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2e5c6e;
	--oasis-ui-float-bg: #f5e6ce;
	--oasis-ui-float-border-bg: #f5e6ce;
	--oasis-ui-float-border-fg: #646244;
	--oasis-ui-float-fg: #304e4a;
	--oasis-ui-float-title: #304e4a;
	--oasis-ui-lineNumber: #9d6025;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #efd7ae;
	--oasis-ui-matchParen-fg: #487670;
	--oasis-ui-nontext: #808080;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #66623c;
	--oasis-ui-visual-bg: #efd7ae;
	--oasis-ui-visual-fg: none;
}