/* extras/css/themes/light/2/oasis_abyss_light_2.css
 * name: Oasis Abyss Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="abyss_light_2"],
.oasis-abyss_light_2 {
	--oasis-name: "Oasis Abyss Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f0f0f0;
	--oasis-bg-mantle: #e8e8e8;
	--oasis-bg-shadow: #e1e1e1;
	--oasis-bg-surface: #d9d9d9;
	--oasis-diff-add: #2f5945;
	--oasis-diff-change: #515151;
	--oasis-diff-delete: #774242;
	--oasis-diff-text: #71472d;
	--oasis-fg-comment: #78766c;
	--oasis-fg-core: #171513;
	--oasis-fg-dim: #7f8d91;
	--oasis-fg-muted: #706e65;
	--oasis-fg-strong: #5f3627;
	--oasis-git-add: #225c1a;
	--oasis-git-change: #59510c;
	--oasis-git-delete: #a70000;
	--oasis-syntax-bracket: #4a4e58;
	--oasis-syntax-builtinConst: #615bc7;
	--oasis-syntax-builtinFunc: #7c5523;
	--oasis-syntax-builtinVar: #811fde;
	--oasis-syntax-comment: #716e62;
	--oasis-syntax-conditional: #635e34;
	--oasis-syntax-constant: #a45412;
	--oasis-syntax-delimiter: #b74a4c;
	--oasis-syntax-exception: #b9141b;
	--oasis-syntax-func: #654c2d;
	--oasis-syntax-identifier: #296a84;
	--oasis-syntax-macro: #823d28;
	--oasis-syntax-operator: #645e2d;
	--oasis-syntax-parameter: #396f34;
	--oasis-syntax-preproc: #a5381d;
	--oasis-syntax-punctuation: #56522d;
	--oasis-syntax-regex: #b24769;
	--oasis-syntax-special: #8f4b10;
	--oasis-syntax-statement: #766a1d;
	--oasis-syntax-string: #a21218;
	--oasis-syntax-type: #396b66;
	--oasis-syntax-typedef: #2f5852;
	--oasis-terminal-black: #515151;
	--oasis-terminal-blue: #155ea7;
	--oasis-terminal-bright-black: #5b4e46;
	--oasis-terminal-bright-blue: #24637d;
	--oasis-terminal-bright-cyan: #33655e;
	--oasis-terminal-bright-green: #376830;
	--oasis-terminal-bright-magenta: #7a29dc;
	--oasis-terminal-bright-red: #ba1313;
	--oasis-terminal-bright-white: #595130;
	--oasis-terminal-bright-yellow: #894e14;
	--oasis-terminal-color0: #515151;
	--oasis-terminal-color1: #ba1313;
	--oasis-terminal-color10: #376830;
	--oasis-terminal-color11: #894e14;
	--oasis-terminal-color12: #24637d;
	--oasis-terminal-color13: #7a29dc;
	--oasis-terminal-color14: #33655e;
	--oasis-terminal-color15: #595130;
	--oasis-terminal-color2: #3a6737;
	--oasis-terminal-color3: #655e22;
	--oasis-terminal-color4: #155ea7;
	--oasis-terminal-color5: #7b28dc;
	--oasis-terminal-color6: #34655f;
	--oasis-terminal-color7: #5f5014;
	--oasis-terminal-color8: #5b4e46;
	--oasis-terminal-color9: #ba1313;
	--oasis-terminal-cyan: #34655f;
	--oasis-terminal-green: #3a6737;
	--oasis-terminal-magenta: #7b28dc;
	--oasis-terminal-red: #ba1313;
	--oasis-terminal-white: #5f5014;
	--oasis-terminal-yellow: #655e22;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #685e10;
	--oasis-theme-primary: #615b21;
	--oasis-theme-secondary: #7e0404;
	--oasis-theme-secondary-light: #740404;
	--oasis-theme-secondary-strong: #933131;
	--oasis-theme-strong-primary: #86803f;
	--oasis-ui-border: #992424;
	--oasis-ui-cursorLine: #e8e8e8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #234553;
	--oasis-ui-float-bg: #e8e8e8;
	--oasis-ui-float-border-bg: #e8e8e8;
	--oasis-ui-float-border-fg: #ce3030;
	--oasis-ui-float-fg: #555132;
	--oasis-ui-float-title: #555132;
	--oasis-ui-lineNumber: #9d5f25;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #d9d9d9;
	--oasis-ui-matchParen-fg: #7b774d;
	--oasis-ui-nontext: #718288;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #992424;
	--oasis-ui-visual-bg: #d9d9d9;
	--oasis-ui-visual-fg: none;
}