/* extras/css/themes/light/2/oasis_night_light_2.css
 * name: Oasis Night Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="night_light_2"],
.oasis-night_light_2 {
	--oasis-name: "Oasis Night Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #e9deb9;
	--oasis-bg-mantle: #e5d8ae;
	--oasis-bg-shadow: #e2d3a2;
	--oasis-bg-surface: #decd96;
	--oasis-diff-add: #294d3c;
	--oasis-diff-change: #44445b;
	--oasis-diff-delete: #673939;
	--oasis-diff-text: #633d27;
	--oasis-fg-comment: #79675c;
	--oasis-fg-core: #54432d;
	--oasis-fg-dim: #7f7f7f;
	--oasis-fg-muted: #706053;
	--oasis-fg-strong: #5f3f27;
	--oasis-git-add: #1c510d;
	--oasis-git-change: #4e470a;
	--oasis-git-delete: #920000;
	--oasis-syntax-bracket: #5e636f;
	--oasis-syntax-builtinConst: #3c5471;
	--oasis-syntax-builtinFunc: #73490d;
	--oasis-syntax-builtinVar: #525251;
	--oasis-syntax-comment: #785d4e;
	--oasis-syntax-conditional: #783d0d;
	--oasis-syntax-constant: #383837;
	--oasis-syntax-delimiter: #7a451a;
	--oasis-syntax-exception: #9f1f24;
	--oasis-syntax-func: #6d440c;
	--oasis-syntax-identifier: #22586e;
	--oasis-syntax-operator: #a51218;
	--oasis-syntax-parameter: #5d00b6;
	--oasis-syntax-preproc: #2b5a52;
	--oasis-syntax-punctuation: #9a262b;
	--oasis-syntax-regex: #295d1c;
	--oasis-syntax-special: #80410e;
	--oasis-syntax-statement: #7e430e;
	--oasis-syntax-string: #22563b;
	--oasis-syntax-type: #2c544f;
	--oasis-terminal-black: #653d15;
	--oasis-terminal-blue: #125395;
	--oasis-terminal-bright-black: #584131;
	--oasis-terminal-bright-blue: #20586f;
	--oasis-terminal-bright-cyan: #2e5a53;
	--oasis-terminal-bright-green: #2e5c22;
	--oasis-terminal-bright-magenta: #6c21c8;
	--oasis-terminal-bright-red: #a51111;
	--oasis-terminal-bright-white: #673c0a;
	--oasis-terminal-bright-yellow: #794512;
	--oasis-terminal-color0: #653d15;
	--oasis-terminal-color1: #a51111;
	--oasis-terminal-color10: #2e5c22;
	--oasis-terminal-color11: #794512;
	--oasis-terminal-color12: #20586f;
	--oasis-terminal-color13: #6c21c8;
	--oasis-terminal-color14: #2e5a53;
	--oasis-terminal-color15: #673c0a;
	--oasis-terminal-color2: #295c41;
	--oasis-terminal-color3: #59531e;
	--oasis-terminal-color4: #125395;
	--oasis-terminal-color5: #6d21c7;
	--oasis-terminal-color6: #2e5954;
	--oasis-terminal-color7: #48463f;
	--oasis-terminal-color8: #584131;
	--oasis-terminal-color9: #a51111;
	--oasis-terminal-cyan: #2e5954;
	--oasis-terminal-green: #295c41;
	--oasis-terminal-magenta: #6d21c7;
	--oasis-terminal-red: #a51111;
	--oasis-terminal-white: #48463f;
	--oasis-terminal-yellow: #59531e;
	--oasis-theme-accent: #4e05a3;
	--oasis-theme-light-primary: #721212;
	--oasis-theme-primary: #990505;
	--oasis-theme-secondary: #9c540c;
	--oasis-theme-strong-primary: #8a2e2e;
	--oasis-ui-border: #861f1f;
	--oasis-ui-cursorLine: #e5d8ae;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #254b5a;
	--oasis-ui-float-bg: #e5d8ae;
	--oasis-ui-float-border-bg: #e5d8ae;
	--oasis-ui-float-border-fg: #861f1f;
	--oasis-ui-float-fg: #861f1f;
	--oasis-ui-float-title: #861f1f;
	--oasis-ui-lineNumber: #643d18;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #decd96;
	--oasis-ui-matchParen-fg: #4b4722;
	--oasis-ui-nontext: #867d73;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #861f1f;
	--oasis-ui-visual-bg: #decd96;
	--oasis-ui-visual-fg: none;
}