/* extras/css/themes/light/2/oasis_canyon_light_2.css
 * name: Oasis Canyon Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="canyon_light_2"],
.oasis-canyon_light_2 {
	--oasis-name: "Oasis Canyon Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f1dbc9;
	--oasis-bg-crust: #efd7c3;
	--oasis-bg-mantle: #eccfb7;
	--oasis-bg-shadow: #eed3bd;
	--oasis-bg-surface: #e4bb98;
	--oasis-diff-add: #315b46;
	--oasis-diff-change: #6c4b3c;
	--oasis-diff-delete: #794343;
	--oasis-diff-text: #74482e;
	--oasis-fg-comment: #7c675b;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #887d76;
	--oasis-fg-muted: #725f55;
	--oasis-fg-strong: #38381c;
	--oasis-git-add: #235f1a;
	--oasis-git-change: #7a4612;
	--oasis-git-delete: #aa0000;
	--oasis-syntax-bracket: #41444c;
	--oasis-syntax-builtin-const: #554ec3;
	--oasis-syntax-builtin-func: #58532f;
	--oasis-syntax-builtin-var: #731cc6;
	--oasis-syntax-comment: #7d5b4c;
	--oasis-syntax-conditional: #843e29;
	--oasis-syntax-constant: #944b10;
	--oasis-syntax-delimiter: #8c5544;
	--oasis-syntax-exception: #a61218;
	--oasis-syntax-func: #4e471a;
	--oasis-syntax-identifier: #245f76;
	--oasis-syntax-macro: #404b23;
	--oasis-syntax-operator: #923319;
	--oasis-syntax-parameter: #33632f;
	--oasis-syntax-preproc: #4b5729;
	--oasis-syntax-punctuation: #6a392b;
	--oasis-syntax-regex: #a53b65;
	--oasis-syntax-special: #7f430e;
	--oasis-syntax-statement: #a73b1d;
	--oasis-syntax-string: #8f1015;
	--oasis-syntax-type: #316153;
	--oasis-syntax-typedef: #2a4d44;
	--oasis-terminal-black: #3d3d3d;
	--oasis-terminal-blue: #125395;
	--oasis-terminal-bright-black: #443b35;
	--oasis-terminal-bright-blue: #205970;
	--oasis-terminal-bright-cyan: #315a4e;
	--oasis-terminal-bright-green: #315c2b;
	--oasis-terminal-bright-magenta: #6d21c9;
	--oasis-terminal-bright-red: #a61111;
	--oasis-terminal-bright-white: #3e3e0d;
	--oasis-terminal-bright-yellow: #7a4612;
	--oasis-terminal-color0: #3d3d3d;
	--oasis-terminal-color1: #a61111;
	--oasis-terminal-color10: #315c2b;
	--oasis-terminal-color11: #7a4612;
	--oasis-terminal-color12: #205970;
	--oasis-terminal-color13: #6d21c9;
	--oasis-terminal-color14: #315a4e;
	--oasis-terminal-color15: #3e3e0d;
	--oasis-terminal-color2: #345c31;
	--oasis-terminal-color3: #5a541e;
	--oasis-terminal-color4: #125395;
	--oasis-terminal-color5: #6e21c8;
	--oasis-terminal-color6: #335a4f;
	--oasis-terminal-color7: #3e3e1d;
	--oasis-terminal-color8: #443b35;
	--oasis-terminal-color9: #a61111;
	--oasis-terminal-cyan: #335a4f;
	--oasis-terminal-green: #345c31;
	--oasis-terminal-magenta: #6e21c8;
	--oasis-terminal-red: #a61111;
	--oasis-terminal-white: #3e3e1d;
	--oasis-terminal-yellow: #5a541e;
	--oasis-theme-accent: #a30505;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a80505;
	--oasis-theme-primary: #78410a;
	--oasis-theme-primary-light: #6f4808;
	--oasis-theme-primary-strong: #a36021;
	--oasis-theme-secondary: #05497d;
	--oasis-ui-border: #774b3c;
	--oasis-ui-cursor-line: #eccfb7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #275061;
	--oasis-ui-float-bg: #eccfb7;
	--oasis-ui-float-border-bg: #eccfb7;
	--oasis-ui-float-border-fg: #7d4834;
	--oasis-ui-float-fg: #19415f;
	--oasis-ui-float-title: #19415f;
	--oasis-ui-line-number: #78602a;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-match-parent-bg: #e4bb98;
	--oasis-ui-match-parent-fg: #296796;
	--oasis-ui-nontext: #7e7269;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #8a4128;
	--oasis-ui-visual-bg: #e4bb98;
	--oasis-ui-visual-fg: none;
}