/* extras/css/themes/light/2/oasis_midnight_light_2.css
 * name: Oasis Midnight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="midnight_light_2"],
.oasis-midnight_light_2 {
	--oasis-name: "Oasis Midnight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f2e6d4;
	--oasis-bg-mantle: #efdfc8;
	--oasis-bg-shadow: #ebd8bc;
	--oasis-bg-surface: #e8d1b0;
	--oasis-diff-add: #2d5341;
	--oasis-diff-change: #374e67;
	--oasis-diff-delete: #703e3e;
	--oasis-diff-text: #6a422b;
	--oasis-fg-comment: #69717c;
	--oasis-fg-core: #534a44;
	--oasis-fg-dim: #8a847d;
	--oasis-fg-muted: #616a72;
	--oasis-fg-strong: #68432b;
	--oasis-git-add: #205718;
	--oasis-git-change: #544c0b;
	--oasis-git-delete: #9d0000;
	--oasis-syntax-bracket: #636875;
	--oasis-syntax-builtinConst: #4c46c0;
	--oasis-syntax-builtinFunc: #7b4e16;
	--oasis-syntax-builtinVar: #7600e8;
	--oasis-syntax-comment: #5e697b;
	--oasis-syntax-conditional: #58532e;
	--oasis-syntax-constant: #3d3d3c;
	--oasis-syntax-delimiter: #5d5838;
	--oasis-syntax-exception: #af1319;
	--oasis-syntax-func: #6a4d27;
	--oasis-syntax-identifier: #245e75;
	--oasis-syntax-operator: #5e592b;
	--oasis-syntax-parameter: #22531e;
	--oasis-syntax-preproc: #9c351b;
	--oasis-syntax-punctuation: #5d5931;
	--oasis-syntax-regex: #8f3c56;
	--oasis-syntax-special: #87470f;
	--oasis-syntax-statement: #625818;
	--oasis-syntax-string: #a3171c;
	--oasis-syntax-type: #2f5a55;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #13589e;
	--oasis-terminal-bright-black: #554a42;
	--oasis-terminal-bright-blue: #225e76;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34622d;
	--oasis-terminal-bright-magenta: #7323d5;
	--oasis-terminal-bright-red: #b01212;
	--oasis-terminal-bright-white: #544c2d;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622d;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #225e76;
	--oasis-terminal-color13: #7323d5;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #544c2d;
	--oasis-terminal-color2: #376134;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #13589e;
	--oasis-terminal-color5: #7523d4;
	--oasis-terminal-color6: #31605a;
	--oasis-terminal-color7: #594b13;
	--oasis-terminal-color8: #554a42;
	--oasis-terminal-color9: #b01212;
	--oasis-terminal-cyan: #31605a;
	--oasis-terminal-green: #376134;
	--oasis-terminal-magenta: #7523d4;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #594b13;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #736812;
	--oasis-theme-primary: #766f28;
	--oasis-theme-secondary: #a30505;
	--oasis-theme-secondary-light: #810404;
	--oasis-theme-secondary-strong: #8a2e2e;
	--oasis-theme-strong-primary: #7d783b;
	--oasis-ui-border: #902222;
	--oasis-ui-cursorLine: #efdfc8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #285161;
	--oasis-ui-float-bg: #efdfc8;
	--oasis-ui-float-border-bg: #efdfc8;
	--oasis-ui-float-border-fg: #902222;
	--oasis-ui-float-fg: #902222;
	--oasis-ui-float-title: #902222;
	--oasis-ui-lineNumber: #6c4219;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e8d1b0;
	--oasis-ui-matchParen-fg: #4f4d2f;
	--oasis-ui-nontext: #8d837b;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #902222;
	--oasis-ui-visual-bg: #e8d1b0;
	--oasis-ui-visual-fg: none;
}