/* extras/css/themes/light/2/oasis_lagoon_light_2.css
 * name: Oasis Lagoon Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="lagoon_light_2"],
.oasis-lagoon_light_2 {
	--oasis-name: "Oasis Lagoon Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #e9f2fc;
	--oasis-bg-mantle: #cee2f8;
	--oasis-bg-shadow: #dceafa;
	--oasis-bg-surface: #c1daf6;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #395d99;
	--oasis-diff-delete: #894c4c;
	--oasis-diff-text: #835134;
	--oasis-fg-comment: #647a86;
	--oasis-fg-core: #111620;
	--oasis-fg-dim: #938a81;
	--oasis-fg-muted: #5c717e;
	--oasis-fg-strong: #34434f;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f14;
	--oasis-git-delete: #bf0000;
	--oasis-syntax-bracket: #4b4e58;
	--oasis-syntax-builtinConst: #625cc7;
	--oasis-syntax-builtinFunc: #7d5523;
	--oasis-syntax-builtinVar: #8120de;
	--oasis-syntax-comment: #527286;
	--oasis-syntax-conditional: #1360a1;
	--oasis-syntax-constant: #a55412;
	--oasis-syntax-delimiter: #2771b3;
	--oasis-syntax-exception: #ba141b;
	--oasis-syntax-func: #694b23;
	--oasis-syntax-identifier: #296a84;
	--oasis-syntax-macro: #57522d;
	--oasis-syntax-operator: #145cb4;
	--oasis-syntax-parameter: #3a6f34;
	--oasis-syntax-preproc: #655e2a;
	--oasis-syntax-punctuation: #11509d;
	--oasis-syntax-regex: #ab4d6e;
	--oasis-syntax-special: #8f4b10;
	--oasis-syntax-statement: #166cb8;
	--oasis-syntax-string: #a31218;
	--oasis-syntax-type: #396c64;
	--oasis-syntax-typedef: #2f5854;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #155ea8;
	--oasis-terminal-bright-black: #50453e;
	--oasis-terminal-bright-blue: #24647e;
	--oasis-terminal-bright-cyan: #34665e;
	--oasis-terminal-bright-green: #376830;
	--oasis-terminal-bright-magenta: #7a2adc;
	--oasis-terminal-bright-red: #ba1313;
	--oasis-terminal-bright-white: #4f472a;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #ba1313;
	--oasis-terminal-color10: #376830;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24647e;
	--oasis-terminal-color13: #7a2adc;
	--oasis-terminal-color14: #34665e;
	--oasis-terminal-color15: #4f472a;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #655f22;
	--oasis-terminal-color4: #155ea8;
	--oasis-terminal-color5: #7c29dc;
	--oasis-terminal-color6: #346660;
	--oasis-terminal-color7: #534611;
	--oasis-terminal-color8: #50453e;
	--oasis-terminal-color9: #ba1313;
	--oasis-terminal-cyan: #346660;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c29dc;
	--oasis-terminal-red: #ba1313;
	--oasis-terminal-white: #534611;
	--oasis-terminal-yellow: #655f22;
	--oasis-theme-accent: #a30505;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a24b0b;
	--oasis-theme-light-primary: #054373;
	--oasis-theme-primary: #054b7d;
	--oasis-theme-secondary: #78410a;
	--oasis-theme-strong-primary: #1b70aa;
	--oasis-ui-border: #21557a;
	--oasis-ui-cursorLine: #cee2f8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #234654;
	--oasis-ui-float-bg: #cee2f8;
	--oasis-ui-float-border-bg: #cee2f8;
	--oasis-ui-float-border-fg: #2c73a6;
	--oasis-ui-float-fg: #714820;
	--oasis-ui-float-title: #714820;
	--oasis-ui-lineNumber: #9d6025;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #c1daf6;
	--oasis-ui-matchParen-fg: #ac642f;
	--oasis-ui-nontext: #8a7e73;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #22557a;
	--oasis-ui-visual-bg: #c1daf6;
	--oasis-ui-visual-fg: none;
}