/* extras/css/themes/light/2/oasis_dune_light_2.css
 * name: Oasis Dune Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="dune_light_2"],
.oasis-dune_light_2 {
	--oasis-name: "Oasis Dune Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f8f1e7;
	--oasis-bg-mantle: #f5eadb;
	--oasis-bg-shadow: #f1e3cf;
	--oasis-bg-surface: #eedcc3;
	--oasis-diff-add: #305a46;
	--oasis-diff-change: #5b5043;
	--oasis-diff-delete: #784343;
	--oasis-diff-text: #73472e;
	--oasis-fg-comment: #80756c;
	--oasis-fg-core: #181714;
	--oasis-fg-dim: #8c8c8c;
	--oasis-fg-muted: #776d64;
	--oasis-fg-strong: #45422d;
	--oasis-git-add: #225e1a;
	--oasis-git-change: #5a530c;
	--oasis-git-delete: #a80000;
	--oasis-syntax-bracket: #4b4f59;
	--oasis-syntax-builtinConst: #625dc7;
	--oasis-syntax-builtinFunc: #7d5623;
	--oasis-syntax-builtinVar: #8220df;
	--oasis-syntax-comment: #7a6c62;
	--oasis-syntax-conditional: #645f35;
	--oasis-syntax-constant: #a65412;
	--oasis-syntax-delimiter: #757047;
	--oasis-syntax-exception: #bb141b;
	--oasis-syntax-func: #674d2e;
	--oasis-syntax-identifier: #296b85;
	--oasis-syntax-macro: #833d28;
	--oasis-syntax-operator: #665f2a;
	--oasis-syntax-parameter: #3a7035;
	--oasis-syntax-preproc: #a7381d;
	--oasis-syntax-punctuation: #585328;
	--oasis-syntax-regex: #b4486b;
	--oasis-syntax-special: #904c10;
	--oasis-syntax-statement: #776b1d;
	--oasis-syntax-string: #a41218;
	--oasis-syntax-type: #396c67;
	--oasis-syntax-typedef: #2f5954;
	--oasis-terminal-black: #525252;
	--oasis-terminal-blue: #155fa9;
	--oasis-terminal-bright-black: #5c4f47;
	--oasis-terminal-bright-blue: #24657f;
	--oasis-terminal-bright-cyan: #34665f;
	--oasis-terminal-bright-green: #386931;
	--oasis-terminal-bright-magenta: #7b2bdc;
	--oasis-terminal-bright-red: #bc1313;
	--oasis-terminal-bright-white: #5a5230;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #525252;
	--oasis-terminal-color1: #bc1313;
	--oasis-terminal-color10: #386931;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24657f;
	--oasis-terminal-color13: #7b2bdc;
	--oasis-terminal-color14: #34665f;
	--oasis-terminal-color15: #5a5230;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #665f22;
	--oasis-terminal-color4: #155fa9;
	--oasis-terminal-color5: #7c2bdc;
	--oasis-terminal-color6: #356660;
	--oasis-terminal-color7: #605114;
	--oasis-terminal-color8: #5c4f47;
	--oasis-terminal-color9: #bc1313;
	--oasis-terminal-cyan: #356660;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c2bdc;
	--oasis-terminal-red: #bc1313;
	--oasis-terminal-white: #605114;
	--oasis-terminal-yellow: #665f22;
	--oasis-theme-accent: #4c05a3;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #357870;
	--oasis-theme-light-primary: #685e0f;
	--oasis-theme-primary: #615b21;
	--oasis-theme-secondary: #275b53;
	--oasis-theme-strong-primary: #86763f;
	--oasis-ui-border: #55533a;
	--oasis-ui-cursorLine: #f5eadb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #234654;
	--oasis-ui-float-bg: #f5eadb;
	--oasis-ui-float-border-bg: #f5eadb;
	--oasis-ui-float-border-fg: #73704e;
	--oasis-ui-float-fg: #355853;
	--oasis-ui-float-title: #355853;
	--oasis-ui-lineNumber: #9e6025;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #eedcc3;
	--oasis-ui-matchParen-fg: #4e807a;
	--oasis-ui-nontext: #818181;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #565333;
	--oasis-ui-visual-bg: #eedcc3;
	--oasis-ui-visual-fg: none;
}