/* extras/css/themes/light/2/oasis_mirage_light_2.css
 * name: Oasis Mirage Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="mirage_light_2"],
.oasis-mirage_light_2 {
	--oasis-name: "Oasis Mirage Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #ebf9f9;
	--oasis-bg-mantle: #dff5f5;
	--oasis-bg-shadow: #d3f2f2;
	--oasis-bg-surface: #c8eeee;
	--oasis-diff-add: #315d48;
	--oasis-diff-change: #3a5865;
	--oasis-diff-delete: #7c4545;
	--oasis-diff-text: #76492f;
	--oasis-fg-comment: #637f7b;
	--oasis-fg-core: #151c1c;
	--oasis-fg-dim: #968e86;
	--oasis-fg-muted: #677473;
	--oasis-fg-strong: #334844;
	--oasis-git-add: #23601b;
	--oasis-git-change: #5d550c;
	--oasis-git-delete: #ad0000;
	--oasis-syntax-bracket: #4e515c;
	--oasis-syntax-builtinConst: #655fc8;
	--oasis-syntax-builtinFunc: #815824;
	--oasis-syntax-builtinVar: #8526e0;
	--oasis-syntax-comment: #4a7a71;
	--oasis-syntax-conditional: #356964;
	--oasis-syntax-constant: #aa5612;
	--oasis-syntax-delimiter: #477a75;
	--oasis-syntax-exception: #c0151c;
	--oasis-syntax-func: #6d4e24;
	--oasis-syntax-identifier: #2a6e88;
	--oasis-syntax-macro: #873f2a;
	--oasis-syntax-operator: #356960;
	--oasis-syntax-parameter: #3b7236;
	--oasis-syntax-preproc: #ab3a1e;
	--oasis-syntax-punctuation: #2e5c57;
	--oasis-syntax-regex: #b74a6d;
	--oasis-syntax-special: #934f10;
	--oasis-syntax-statement: #3b776e;
	--oasis-syntax-string: #a81218;
	--oasis-syntax-type: #3b6f6a;
	--oasis-syntax-typedef: #305b57;
	--oasis-terminal-black: #545454;
	--oasis-terminal-blue: #1561ae;
	--oasis-terminal-bright-black: #5f5249;
	--oasis-terminal-bright-blue: #256782;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7e30dd;
	--oasis-terminal-bright-red: #c01313;
	--oasis-terminal-bright-white: #5d5432;
	--oasis-terminal-bright-yellow: #8e5215;
	--oasis-terminal-color0: #545454;
	--oasis-terminal-color1: #c01313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8e5215;
	--oasis-terminal-color12: #256782;
	--oasis-terminal-color13: #7e30dd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #5d5432;
	--oasis-terminal-color2: #3d6b39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1561ae;
	--oasis-terminal-color5: #7f2fdd;
	--oasis-terminal-color6: #366963;
	--oasis-terminal-color7: #635315;
	--oasis-terminal-color8: #5f5249;
	--oasis-terminal-color9: #c01313;
	--oasis-terminal-cyan: #366963;
	--oasis-terminal-green: #3d6b39;
	--oasis-terminal-magenta: #7f2fdd;
	--oasis-terminal-red: #c01313;
	--oasis-terminal-white: #635315;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #4c05a3;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a24b0b;
	--oasis-theme-light-primary: #24544d;
	--oasis-theme-primary: #285a54;
	--oasis-theme-secondary: #78410a;
	--oasis-theme-strong-primary: #3c887f;
	--oasis-ui-border: #375b57;
	--oasis-ui-cursorLine: #dff5f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #244957;
	--oasis-ui-float-bg: #dff5f5;
	--oasis-ui-float-border-bg: #dff5f5;
	--oasis-ui-float-border-fg: #4a7a74;
	--oasis-ui-float-fg: #754b22;
	--oasis-ui-float-title: #754b22;
	--oasis-ui-lineNumber: #a26226;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #c8eeee;
	--oasis-ui-matchParen-fg: #b16731;
	--oasis-ui-nontext: #8d8177;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #375b57;
	--oasis-ui-visual-bg: #c8eeee;
	--oasis-ui-visual-fg: none;
}