/* extras/css/themes/light/2/oasis_luna_light_2.css
 * name: Oasis Luna Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="luna_light_2"],
.oasis-luna_light_2 {
	--oasis-name: "Oasis Luna Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #edecf9;
	--oasis-bg-mantle: #e2e0f5;
	--oasis-bg-shadow: #d7d5f2;
	--oasis-bg-surface: #ccc9ee;
	--oasis-diff-add: #2f5744;
	--oasis-diff-change: #483eac;
	--oasis-diff-delete: #744040;
	--oasis-diff-text: #6f452c;
	--oasis-fg-comment: #76718c;
	--oasis-fg-core: #131020;
	--oasis-fg-dim: #898798;
	--oasis-fg-muted: #6d6a7e;
	--oasis-fg-strong: #403672;
	--oasis-git-add: #215b19;
	--oasis-git-change: #58500b;
	--oasis-git-delete: #a40000;
	--oasis-syntax-bracket: #494c56;
	--oasis-syntax-builtinConst: #5f59c6;
	--oasis-syntax-builtinFunc: #7a5322;
	--oasis-syntax-builtinVar: #7f1fda;
	--oasis-syntax-comment: #706596;
	--oasis-syntax-conditional: #615c33;
	--oasis-syntax-constant: #a15212;
	--oasis-syntax-delimiter: #726d45;
	--oasis-syntax-exception: #b6141a;
	--oasis-syntax-func: #634b2c;
	--oasis-syntax-identifier: #286881;
	--oasis-syntax-macro: #774030;
	--oasis-syntax-operator: #625c2c;
	--oasis-syntax-parameter: #386c33;
	--oasis-syntax-preproc: #92442d;
	--oasis-syntax-punctuation: #54502c;
	--oasis-syntax-regex: #af4668;
	--oasis-syntax-special: #8c4a0f;
	--oasis-syntax-statement: #74681c;
	--oasis-syntax-string: #9f1117;
	--oasis-syntax-type: #386964;
	--oasis-syntax-typedef: #2e5650;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #145ca4;
	--oasis-terminal-bright-black: #594d45;
	--oasis-terminal-bright-blue: #23627b;
	--oasis-terminal-bright-cyan: #33635c;
	--oasis-terminal-bright-green: #36662f;
	--oasis-terminal-bright-magenta: #7826db;
	--oasis-terminal-bright-red: #b61212;
	--oasis-terminal-bright-white: #574f2f;
	--oasis-terminal-bright-yellow: #874d14;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #b61212;
	--oasis-terminal-color10: #36662f;
	--oasis-terminal-color11: #874d14;
	--oasis-terminal-color12: #23627b;
	--oasis-terminal-color13: #7826db;
	--oasis-terminal-color14: #33635c;
	--oasis-terminal-color15: #574f2f;
	--oasis-terminal-color2: #396536;
	--oasis-terminal-color3: #635c21;
	--oasis-terminal-color4: #145ca4;
	--oasis-terminal-color5: #7925db;
	--oasis-terminal-color6: #33635d;
	--oasis-terminal-color7: #5c4e13;
	--oasis-terminal-color8: #594d45;
	--oasis-terminal-color9: #b61212;
	--oasis-terminal-cyan: #33635d;
	--oasis-terminal-green: #396536;
	--oasis-terminal-magenta: #7925db;
	--oasis-terminal-red: #b61212;
	--oasis-terminal-white: #5c4e13;
	--oasis-terminal-yellow: #635c21;
	--oasis-theme-accent: #187590;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #685e10;
	--oasis-theme-primary: #706712;
	--oasis-theme-secondary: #191969;
	--oasis-theme-secondary-light: #121466;
	--oasis-theme-secondary-strong: #86803f;
	--oasis-theme-status: #212188;
	--oasis-theme-strong-primary: #403391;
	--oasis-ui-border: #45459b;
	--oasis-ui-cursorLine: #e2e0f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #224351;
	--oasis-ui-float-bg: #e2e0f5;
	--oasis-ui-float-border-bg: #e2e0f5;
	--oasis-ui-float-border-fg: #6363b9;
	--oasis-ui-float-fg: #545027;
	--oasis-ui-float-title: #545027;
	--oasis-ui-lineNumber: #9a5e24;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #ccc9ee;
	--oasis-ui-matchParen-fg: #79764c;
	--oasis-ui-nontext: #7f7b8e;
	--oasis-ui-picker-bg: #e2e0f5;
	--oasis-ui-picker-border-bg: #e2e0f5;
	--oasis-ui-picker-border-fg: #7c7639;
	--oasis-ui-picker-fg: #545027;
	--oasis-ui-picker-title: #545027;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #545027;
	--oasis-ui-visual-bg: #ccc9ee;
	--oasis-ui-visual-fg: none;
}