/* extras/css/themes/light/2/oasis_cactus_light_2.css
 * name: Oasis Cactus Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="cactus_light_2"],
.oasis-cactus_light_2 {
	--oasis-name: "Oasis Cactus Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #e7f4eb;
	--oasis-bg-mantle: #d7edde;
	--oasis-bg-shadow: #ddefe2;
	--oasis-bg-surface: #bde1c8;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #4d6253;
	--oasis-diff-delete: #894c4c;
	--oasis-diff-text: #835134;
	--oasis-fg-comment: #687b69;
	--oasis-fg-core: #121714;
	--oasis-fg-dim: #938a81;
	--oasis-fg-muted: #647167;
	--oasis-fg-strong: #324636;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f14;
	--oasis-git-delete: #be0000;
	--oasis-syntax-bracket: #4b4e58;
	--oasis-syntax-builtinConst: #625cc7;
	--oasis-syntax-builtinFunc: #7d5523;
	--oasis-syntax-builtinVar: #8120de;
	--oasis-syntax-comment: #5c745e;
	--oasis-syntax-conditional: #3d673f;
	--oasis-syntax-constant: #a45412;
	--oasis-syntax-delimiter: #507752;
	--oasis-syntax-exception: #ba141b;
	--oasis-syntax-func: #694b23;
	--oasis-syntax-identifier: #296a84;
	--oasis-syntax-macro: #823d28;
	--oasis-syntax-operator: #3b673d;
	--oasis-syntax-parameter: #805d12;
	--oasis-syntax-preproc: #a6381d;
	--oasis-syntax-punctuation: #355936;
	--oasis-syntax-regex: #ab4d6e;
	--oasis-syntax-special: #8f4b10;
	--oasis-syntax-statement: #447447;
	--oasis-syntax-string: #a31218;
	--oasis-syntax-type: #396c66;
	--oasis-syntax-typedef: #2f5854;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #155ea8;
	--oasis-terminal-bright-black: #50453e;
	--oasis-terminal-bright-blue: #24647e;
	--oasis-terminal-bright-cyan: #34665e;
	--oasis-terminal-bright-green: #376830;
	--oasis-terminal-bright-magenta: #7a2adc;
	--oasis-terminal-bright-red: #ba1313;
	--oasis-terminal-bright-white: #4e472a;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #ba1313;
	--oasis-terminal-color10: #376830;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24647e;
	--oasis-terminal-color13: #7a2adc;
	--oasis-terminal-color14: #34665e;
	--oasis-terminal-color15: #4e472a;
	--oasis-terminal-color2: #3b6737;
	--oasis-terminal-color3: #655e22;
	--oasis-terminal-color4: #155ea8;
	--oasis-terminal-color5: #7b29dc;
	--oasis-terminal-color6: #346660;
	--oasis-terminal-color7: #534611;
	--oasis-terminal-color8: #50453e;
	--oasis-terminal-color9: #ba1313;
	--oasis-terminal-cyan: #346660;
	--oasis-terminal-green: #3b6737;
	--oasis-terminal-magenta: #7b29dc;
	--oasis-terminal-red: #ba1313;
	--oasis-terminal-white: #534611;
	--oasis-terminal-yellow: #655e22;
	--oasis-theme-accent: #a30505;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a80505;
	--oasis-theme-light-primary: #294f2b;
	--oasis-theme-primary: #2e5430;
	--oasis-theme-secondary: #3b047e;
	--oasis-theme-secondary-strong: #5b06be;
	--oasis-theme-strong-primary: #467e49;
	--oasis-ui-border: #4d674e;
	--oasis-ui-cursorLine: #d7edde;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2e5b6e;
	--oasis-ui-float-bg: #d7edde;
	--oasis-ui-float-border-bg: #d7edde;
	--oasis-ui-float-border-fg: #4d674e;
	--oasis-ui-float-fg: #5e2e98;
	--oasis-ui-float-title: #5e2e98;
	--oasis-ui-lineNumber: #9d6025;
	--oasis-ui-match-bg: #bc76d6;
	--oasis-ui-match-fg: #280b32;
	--oasis-ui-matchParen-bg: #bde1c8;
	--oasis-ui-matchParen-fg: #835aba;
	--oasis-ui-nontext: #8a7e73;
	--oasis-ui-picker-bg: #d7edde;
	--oasis-ui-picker-border-bg: #d7edde;
	--oasis-ui-picker-border-fg: #7c3fc5;
	--oasis-ui-picker-fg: #6933aa;
	--oasis-ui-picker-title: #6933aa;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #4d674e;
	--oasis-ui-visual-bg: #bde1c8;
	--oasis-ui-visual-fg: none;
}