/* extras/css/themes/light/2/oasis_mirage_light_2.css
 * name: Oasis Mirage Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="mirage_light_2"],
.oasis-mirage_light_2 {
	--oasis-name: "Oasis Mirage Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #e3f6f4;
	--oasis-bg-mantle: #d2f0ed;
	--oasis-bg-shadow: #d7f2ef;
	--oasis-bg-surface: #b5e7e2;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #416371;
	--oasis-diff-delete: #8a4c4c;
	--oasis-diff-text: #845235;
	--oasis-fg-comment: #617d78;
	--oasis-fg-core: #121818;
	--oasis-fg-dim: #938b83;
	--oasis-fg-muted: #647271;
	--oasis-fg-strong: #324642;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f14;
	--oasis-git-delete: #c00000;
	--oasis-syntax-bracket: #4b4f59;
	--oasis-syntax-builtinConst: #635dc8;
	--oasis-syntax-builtinFunc: #7e5623;
	--oasis-syntax-builtinVar: #8220df;
	--oasis-syntax-comment: #48786f;
	--oasis-syntax-conditional: #346661;
	--oasis-syntax-constant: #a65412;
	--oasis-syntax-delimiter: #467872;
	--oasis-syntax-exception: #bb141b;
	--oasis-syntax-func: #6a4c23;
	--oasis-syntax-identifier: #296b85;
	--oasis-syntax-macro: #833d29;
	--oasis-syntax-operator: #33675e;
	--oasis-syntax-parameter: #3a7035;
	--oasis-syntax-preproc: #a7381d;
	--oasis-syntax-punctuation: #2d5955;
	--oasis-syntax-regex: #b4486b;
	--oasis-syntax-special: #8f4d10;
	--oasis-syntax-statement: #3a746c;
	--oasis-syntax-string: #a41218;
	--oasis-syntax-type: #3a6d67;
	--oasis-syntax-typedef: #2f5954;
	--oasis-terminal-black: #484848;
	--oasis-terminal-blue: #155fa9;
	--oasis-terminal-bright-black: #50463e;
	--oasis-terminal-bright-blue: #24657f;
	--oasis-terminal-bright-cyan: #34675f;
	--oasis-terminal-bright-green: #386931;
	--oasis-terminal-bright-magenta: #7b2cdc;
	--oasis-terminal-bright-red: #bc1313;
	--oasis-terminal-bright-white: #4f482a;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #484848;
	--oasis-terminal-color1: #bc1313;
	--oasis-terminal-color10: #386931;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24657f;
	--oasis-terminal-color13: #7b2cdc;
	--oasis-terminal-color14: #34675f;
	--oasis-terminal-color15: #4f482a;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #665f22;
	--oasis-terminal-color4: #155fa9;
	--oasis-terminal-color5: #7c2bdc;
	--oasis-terminal-color6: #356660;
	--oasis-terminal-color7: #544712;
	--oasis-terminal-color8: #50463e;
	--oasis-terminal-color9: #bc1313;
	--oasis-terminal-cyan: #356660;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c2bdc;
	--oasis-terminal-red: #bc1313;
	--oasis-terminal-white: #544712;
	--oasis-terminal-yellow: #665f22;
	--oasis-theme-accent: #4c05a3;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a24b0b;
	--oasis-theme-light-primary: #24544d;
	--oasis-theme-primary: #285a54;
	--oasis-theme-secondary: #78410a;
	--oasis-theme-strong-primary: #3c887f;
	--oasis-ui-border: #406964;
	--oasis-ui-cursorLine: #d2f0ed;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2e5c6f;
	--oasis-ui-float-bg: #d2f0ed;
	--oasis-ui-float-border-bg: #d2f0ed;
	--oasis-ui-float-border-fg: #406964;
	--oasis-ui-float-fg: #66411d;
	--oasis-ui-float-title: #66411d;
	--oasis-ui-lineNumber: #9e6025;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #b5e7e2;
	--oasis-ui-matchParen-fg: #a15e2c;
	--oasis-ui-nontext: #8b7e74;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #406964;
	--oasis-ui-visual-bg: #b5e7e2;
	--oasis-ui-visual-fg: none;
}