/* extras/css/themes/light/2/oasis_luna_light_2.css
 * name: Oasis Luna Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="luna_light_2"],
.oasis-luna_light_2 {
	--oasis-name: "Oasis Luna Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #eeecfb;
	--oasis-bg-mantle: #d7d3f6;
	--oasis-bg-shadow: #e3dff8;
	--oasis-bg-surface: #ccc6f3;
	--oasis-diff-add: #36654e;
	--oasis-diff-change: #554abe;
	--oasis-diff-delete: #864a4a;
	--oasis-diff-text: #805033;
	--oasis-fg-comment: #76718d;
	--oasis-fg-core: #141021;
	--oasis-fg-dim: #898798;
	--oasis-fg-muted: #6d6a7f;
	--oasis-fg-strong: #403773;
	--oasis-git-add: #26691d;
	--oasis-git-change: #874d14;
	--oasis-git-delete: #bb0000;
	--oasis-syntax-bracket: #494d56;
	--oasis-syntax-builtinConst: #5f5ac6;
	--oasis-syntax-builtinFunc: #7a5422;
	--oasis-syntax-builtinVar: #7f1fda;
	--oasis-syntax-comment: #716597;
	--oasis-syntax-conditional: #615d33;
	--oasis-syntax-constant: #a25212;
	--oasis-syntax-delimiter: #736d45;
	--oasis-syntax-exception: #b6141b;
	--oasis-syntax-func: #644b2c;
	--oasis-syntax-identifier: #286882;
	--oasis-syntax-macro: #774130;
	--oasis-syntax-operator: #625d2d;
	--oasis-syntax-parameter: #386d33;
	--oasis-syntax-preproc: #92452d;
	--oasis-syntax-punctuation: #55502c;
	--oasis-syntax-regex: #b04668;
	--oasis-syntax-special: #8c4a0f;
	--oasis-syntax-statement: #74681c;
	--oasis-syntax-string: #9f1117;
	--oasis-syntax-type: #386a64;
	--oasis-syntax-typedef: #2e5650;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #145ca5;
	--oasis-terminal-bright-black: #4e433c;
	--oasis-terminal-bright-blue: #23627b;
	--oasis-terminal-bright-cyan: #33645c;
	--oasis-terminal-bright-green: #36662f;
	--oasis-terminal-bright-magenta: #7826db;
	--oasis-terminal-bright-red: #b71212;
	--oasis-terminal-bright-white: #4d4529;
	--oasis-terminal-bright-yellow: #874d14;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #b71212;
	--oasis-terminal-color10: #36662f;
	--oasis-terminal-color11: #874d14;
	--oasis-terminal-color12: #23627b;
	--oasis-terminal-color13: #7826db;
	--oasis-terminal-color14: #33645c;
	--oasis-terminal-color15: #4d4529;
	--oasis-terminal-color2: #3a6536;
	--oasis-terminal-color3: #635c21;
	--oasis-terminal-color4: #145ca5;
	--oasis-terminal-color5: #7925db;
	--oasis-terminal-color6: #33645e;
	--oasis-terminal-color7: #514511;
	--oasis-terminal-color8: #4e433c;
	--oasis-terminal-color9: #b71212;
	--oasis-terminal-cyan: #33645e;
	--oasis-terminal-green: #3a6536;
	--oasis-terminal-magenta: #7925db;
	--oasis-terminal-red: #b71212;
	--oasis-terminal-white: #514511;
	--oasis-terminal-yellow: #635c21;
	--oasis-theme-accent: #187590;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #685e10;
	--oasis-theme-primary: #706712;
	--oasis-theme-secondary: #191969;
	--oasis-theme-secondary-light: #121466;
	--oasis-theme-secondary-strong: #86803f;
	--oasis-theme-status: #212188;
	--oasis-theme-strong-primary: #403391;
	--oasis-ui-border: #45459b;
	--oasis-ui-cursorLine: #d7d3f6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #224351;
	--oasis-ui-float-bg: #d7d3f6;
	--oasis-ui-float-border-bg: #d7d3f6;
	--oasis-ui-float-border-fg: #6363ba;
	--oasis-ui-float-fg: #555027;
	--oasis-ui-float-title: #555027;
	--oasis-ui-lineNumber: #9a5e24;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #ccc6f3;
	--oasis-ui-matchParen-fg: #79764c;
	--oasis-ui-nontext: #7f7c8e;
	--oasis-ui-picker-bg: #d7d3f6;
	--oasis-ui-picker-border-bg: #d7d3f6;
	--oasis-ui-picker-border-fg: #7c7639;
	--oasis-ui-picker-fg: #555027;
	--oasis-ui-picker-title: #555027;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #555027;
	--oasis-ui-visual-bg: #ccc6f3;
	--oasis-ui-visual-fg: none;
}