/* extras/css/themes/light/2/oasis_rose_light_2.css
 * name: Oasis Rose Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="rose_light_2"],
.oasis-rose_light_2 {
	--oasis-name: "Oasis Rose Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #d9edd9;
	--oasis-bg-mantle: #cee8ce;
	--oasis-bg-shadow: #c4e3c4;
	--oasis-bg-surface: #badeba;
	--oasis-diff-add: #2d5341;
	--oasis-diff-change: #5f4357;
	--oasis-diff-delete: #703e3e;
	--oasis-diff-text: #6a422b;
	--oasis-fg-comment: #7d6c75;
	--oasis-fg-core: #6b3f4c;
	--oasis-fg-dim: #8c837e;
	--oasis-fg-muted: #74646e;
	--oasis-fg-strong: #61425a;
	--oasis-git-add: #205718;
	--oasis-git-change: #544d0b;
	--oasis-git-delete: #9d0000;
	--oasis-syntax-bracket: #646876;
	--oasis-syntax-builtinConst: #4c46c0;
	--oasis-syntax-builtinFunc: #7b4e16;
	--oasis-syntax-builtinVar: #7700e8;
	--oasis-syntax-comment: #7e606f;
	--oasis-syntax-conditional: #a51218;
	--oasis-syntax-constant: #3d3d3c;
	--oasis-syntax-delimiter: #435f44;
	--oasis-syntax-exception: #74510d;
	--oasis-syntax-func: #704b1b;
	--oasis-syntax-identifier: #245e75;
	--oasis-syntax-operator: #b0131a;
	--oasis-syntax-parameter: #22531e;
	--oasis-syntax-preproc: #5f5928;
	--oasis-syntax-punctuation: #b0131a;
	--oasis-syntax-regex: #675627;
	--oasis-syntax-special: #87470f;
	--oasis-syntax-statement: #b0131a;
	--oasis-syntax-string: #7a4618;
	--oasis-syntax-type: #2f5a55;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #14599f;
	--oasis-terminal-bright-black: #554a42;
	--oasis-terminal-bright-blue: #225e77;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34622e;
	--oasis-terminal-bright-magenta: #7323d5;
	--oasis-terminal-bright-red: #b01212;
	--oasis-terminal-bright-white: #544c2d;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622e;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #225e77;
	--oasis-terminal-color13: #7323d5;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #544c2d;
	--oasis-terminal-color2: #376234;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #14599f;
	--oasis-terminal-color5: #7523d4;
	--oasis-terminal-color6: #31605a;
	--oasis-terminal-color7: #594b13;
	--oasis-terminal-color8: #554a42;
	--oasis-terminal-color9: #b01212;
	--oasis-terminal-cyan: #31605a;
	--oasis-terminal-green: #376234;
	--oasis-terminal-magenta: #7523d4;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #594b13;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #33756b;
	--oasis-theme-label: #3e7040;
	--oasis-theme-light-primary: #7b280a;
	--oasis-theme-primary: #912c0d;
	--oasis-theme-secondary: #3b6d3d;
	--oasis-theme-strong-primary: #8a462e;
	--oasis-ui-border: #902222;
	--oasis-ui-cursorLine: #cee8ce;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #285161;
	--oasis-ui-float-bg: #cee8ce;
	--oasis-ui-float-border-bg: #cee8ce;
	--oasis-ui-float-border-fg: #902222;
	--oasis-ui-float-fg: #902222;
	--oasis-ui-float-title: #902222;
	--oasis-ui-lineNumber: #6d4219;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #badeba;
	--oasis-ui-matchParen-fg: #3c513d;
	--oasis-ui-nontext: #90827a;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #902222;
	--oasis-ui-visual-bg: #badeba;
	--oasis-ui-visual-fg: none;
}