/* extras/css/themes/light/2/oasis_abyss_light_2.css
 * name: Oasis Abyss Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="abyss_light_2"],
.oasis-abyss_light_2 {
	--oasis-name: "Oasis Abyss Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f2e9d4;
	--oasis-bg-mantle: #eee2c9;
	--oasis-bg-shadow: #eadcbd;
	--oasis-bg-surface: #e7d6b1;
	--oasis-diff-add: #2d5542;
	--oasis-diff-change: #4d4d4d;
	--oasis-diff-delete: #713f3f;
	--oasis-diff-text: #6c432b;
	--oasis-fg-comment: #747269;
	--oasis-fg-core: #534c44;
	--oasis-fg-dim: #7a898e;
	--oasis-fg-muted: #6c6a61;
	--oasis-fg-strong: #71402f;
	--oasis-git-add: #205818;
	--oasis-git-change: #554e0b;
	--oasis-git-delete: #9f0000;
	--oasis-syntax-bracket: #656a77;
	--oasis-syntax-builtinConst: #4e47c0;
	--oasis-syntax-builtinFunc: #7d4f17;
	--oasis-syntax-builtinVar: #7800eb;
	--oasis-syntax-comment: #6d6a5f;
	--oasis-syntax-conditional: #59552f;
	--oasis-syntax-constant: #3e3e3d;
	--oasis-syntax-delimiter: #953c3d;
	--oasis-syntax-exception: #b2131a;
	--oasis-syntax-func: #6c4e28;
	--oasis-syntax-identifier: #255f77;
	--oasis-syntax-operator: #605a2b;
	--oasis-syntax-parameter: #23551e;
	--oasis-syntax-preproc: #9e351b;
	--oasis-syntax-punctuation: #5f5a32;
	--oasis-syntax-regex: #913c57;
	--oasis-syntax-special: #89480f;
	--oasis-syntax-statement: #635918;
	--oasis-syntax-string: #a6181c;
	--oasis-syntax-type: #305b56;
	--oasis-terminal-black: #4d4d4d;
	--oasis-terminal-blue: #145aa1;
	--oasis-terminal-bright-black: #564b43;
	--oasis-terminal-bright-blue: #236078;
	--oasis-terminal-bright-cyan: #31615a;
	--oasis-terminal-bright-green: #35632e;
	--oasis-terminal-bright-magenta: #7524d8;
	--oasis-terminal-bright-red: #b21212;
	--oasis-terminal-bright-white: #554d2d;
	--oasis-terminal-bright-yellow: #834b13;
	--oasis-terminal-color0: #4d4d4d;
	--oasis-terminal-color1: #b21212;
	--oasis-terminal-color10: #35632e;
	--oasis-terminal-color11: #834b13;
	--oasis-terminal-color12: #236078;
	--oasis-terminal-color13: #7524d8;
	--oasis-terminal-color14: #31615a;
	--oasis-terminal-color15: #554d2d;
	--oasis-terminal-color2: #386335;
	--oasis-terminal-color3: #615a20;
	--oasis-terminal-color4: #145aa1;
	--oasis-terminal-color5: #7623d7;
	--oasis-terminal-color6: #32615b;
	--oasis-terminal-color7: #5a4c13;
	--oasis-terminal-color8: #564b43;
	--oasis-terminal-color9: #b21212;
	--oasis-terminal-cyan: #32615b;
	--oasis-terminal-green: #386335;
	--oasis-terminal-magenta: #7623d7;
	--oasis-terminal-red: #b21212;
	--oasis-terminal-white: #5a4c13;
	--oasis-terminal-yellow: #615a20;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #736812;
	--oasis-theme-primary: #766f28;
	--oasis-theme-secondary: #a30505;
	--oasis-theme-secondary-light: #810404;
	--oasis-theme-secondary-strong: #952222;
	--oasis-theme-strong-primary: #7d783b;
	--oasis-ui-border: #922222;
	--oasis-ui-cursorLine: #eee2c9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #295262;
	--oasis-ui-float-bg: #eee2c9;
	--oasis-ui-float-border-bg: #eee2c9;
	--oasis-ui-float-border-fg: #922222;
	--oasis-ui-float-fg: #922222;
	--oasis-ui-float-title: #922222;
	--oasis-ui-lineNumber: #6e431a;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e7d6b1;
	--oasis-ui-matchParen-fg: #504e33;
	--oasis-ui-nontext: #788a8f;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #922222;
	--oasis-ui-visual-bg: #e7d6b1;
	--oasis-ui-visual-fg: none;
}