/* extras/css/themes/light/2/oasis_twilight_light_2.css
 * name: Oasis Twilight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="twilight_light_2"],
.oasis-twilight_light_2 {
	--oasis-name: "Oasis Twilight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f1eaf8;
	--oasis-bg-mantle: #e6d9f2;
	--oasis-bg-shadow: #e9dff4;
	--oasis-bg-surface: #d2bce9;
	--oasis-diff-add: #35644e;
	--oasis-diff-change: #6f4c8d;
	--oasis-diff-delete: #854a4a;
	--oasis-diff-text: #7f4f33;
	--oasis-fg-comment: #777089;
	--oasis-fg-core: #161217;
	--oasis-fg-dim: #90877f;
	--oasis-fg-muted: #6e697b;
	--oasis-fg-strong: #4b336b;
	--oasis-git-add: #26681d;
	--oasis-git-change: #864d14;
	--oasis-git-delete: #ba0000;
	--oasis-syntax-bracket: #484c55;
	--oasis-syntax-builtinConst: #5f59c6;
	--oasis-syntax-builtinFunc: #655b21;
	--oasis-syntax-builtinVar: #7e1fd9;
	--oasis-syntax-comment: #706785;
	--oasis-syntax-conditional: #894b16;
	--oasis-syntax-constant: #a15212;
	--oasis-syntax-delimiter: #985c49;
	--oasis-syntax-exception: #b5141a;
	--oasis-syntax-func: #564f1d;
	--oasis-syntax-identifier: #276882;
	--oasis-syntax-macro: #68490b;
	--oasis-syntax-operator: #864d15;
	--oasis-syntax-parameter: #386c33;
	--oasis-syntax-preproc: #76550d;
	--oasis-syntax-punctuation: #764213;
	--oasis-syntax-regex: #a74c6b;
	--oasis-syntax-special: #8c4a0f;
	--oasis-syntax-statement: #9b5619;
	--oasis-syntax-string: #9e1117;
	--oasis-syntax-type: #386964;
	--oasis-syntax-typedef: #2d5651;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #145ca4;
	--oasis-terminal-bright-black: #4d433c;
	--oasis-terminal-bright-blue: #23617b;
	--oasis-terminal-bright-cyan: #32635c;
	--oasis-terminal-bright-green: #36662f;
	--oasis-terminal-bright-magenta: #7725db;
	--oasis-terminal-bright-red: #b61212;
	--oasis-terminal-bright-white: #4c4428;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #b61212;
	--oasis-terminal-color10: #36662f;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617b;
	--oasis-terminal-color13: #7725db;
	--oasis-terminal-color14: #32635c;
	--oasis-terminal-color15: #4c4428;
	--oasis-terminal-color2: #396536;
	--oasis-terminal-color3: #625c21;
	--oasis-terminal-color4: #145ca4;
	--oasis-terminal-color5: #7824db;
	--oasis-terminal-color6: #33635d;
	--oasis-terminal-color7: #504411;
	--oasis-terminal-color8: #4d433c;
	--oasis-terminal-color9: #b61212;
	--oasis-terminal-cyan: #33635d;
	--oasis-terminal-green: #396536;
	--oasis-terminal-magenta: #7824db;
	--oasis-terminal-red: #b61212;
	--oasis-terminal-white: #504411;
	--oasis-terminal-yellow: #625c21;
	--oasis-theme-accent: #918517;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #7d7730;
	--oasis-theme-light-primary: #6f2509;
	--oasis-theme-primary: #77240b;
	--oasis-theme-secondary: #3b047e;
	--oasis-theme-secondary-strong: #591aaa;
	--oasis-theme-strong-primary: #a04625;
	--oasis-ui-border: #7546ae;
	--oasis-ui-cursorLine: #e6d9f2;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2c596b;
	--oasis-ui-float-bg: #e6d9f2;
	--oasis-ui-float-border-bg: #e6d9f2;
	--oasis-ui-float-border-fg: #7546ae;
	--oasis-ui-float-fg: #723422;
	--oasis-ui-float-title: #723422;
	--oasis-ui-lineNumber: #995d24;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #d2bce9;
	--oasis-ui-matchParen-fg: #ad4f33;
	--oasis-ui-nontext: #867b71;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #99452e;
	--oasis-ui-visual-bg: #d2bce9;
	--oasis-ui-visual-fg: none;
}