/* extras/css/themes/light/2/oasis_lagoon_light_2.css
 * name: Oasis Lagoon Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="lagoon_light_2"],
.oasis-lagoon_light_2 {
	--oasis-name: "Oasis Lagoon Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #ebf1f9;
	--oasis-bg-mantle: #dfe9f5;
	--oasis-bg-shadow: #d3e1f2;
	--oasis-bg-surface: #c8d8ee;
	--oasis-diff-add: #305945;
	--oasis-diff-change: #315185;
	--oasis-diff-delete: #774242;
	--oasis-diff-text: #71472d;
	--oasis-fg-comment: #637985;
	--oasis-fg-core: #3d5273;
	--oasis-fg-dim: #938981;
	--oasis-fg-muted: #5c717e;
	--oasis-fg-strong: #415361;
	--oasis-git-add: #205d0f;
	--oasis-git-change: #59520c;
	--oasis-git-delete: #a70000;
	--oasis-syntax-bracket: #696e7b;
	--oasis-syntax-builtinConst: #625e37;
	--oasis-syntax-builtinFunc: #934810;
	--oasis-syntax-builtinVar: #5d5d5b;
	--oasis-syntax-comment: #517286;
	--oasis-syntax-conditional: #125a97;
	--oasis-syntax-constant: #424241;
	--oasis-syntax-delimiter: #216097;
	--oasis-syntax-exception: #b51f25;
	--oasis-syntax-func: #87470f;
	--oasis-syntax-identifier: #26647c;
	--oasis-syntax-operator: #b9141b;
	--oasis-syntax-parameter: #6a00d0;
	--oasis-syntax-preproc: #695b47;
	--oasis-syntax-punctuation: #ae2b30;
	--oasis-syntax-regex: #2f6a1f;
	--oasis-syntax-special: #8c4d17;
	--oasis-syntax-statement: #135fa2;
	--oasis-syntax-string: #266243;
	--oasis-syntax-type: #325f5a;
	--oasis-terminal-black: #515151;
	--oasis-terminal-blue: #155ea8;
	--oasis-terminal-bright-black: #5b4f47;
	--oasis-terminal-bright-blue: #24647e;
	--oasis-terminal-bright-cyan: #34655e;
	--oasis-terminal-bright-green: #346926;
	--oasis-terminal-bright-magenta: #7a2adc;
	--oasis-terminal-bright-red: #ba1313;
	--oasis-terminal-bright-white: #77450c;
	--oasis-terminal-bright-yellow: #894f14;
	--oasis-terminal-color0: #515151;
	--oasis-terminal-color1: #ba1313;
	--oasis-terminal-color10: #346926;
	--oasis-terminal-color11: #894f14;
	--oasis-terminal-color12: #24647e;
	--oasis-terminal-color13: #7a2adc;
	--oasis-terminal-color14: #34655e;
	--oasis-terminal-color15: #77450c;
	--oasis-terminal-color2: #2f6849;
	--oasis-terminal-color3: #655e22;
	--oasis-terminal-color4: #155ea8;
	--oasis-terminal-color5: #7b29dc;
	--oasis-terminal-color6: #34655f;
	--oasis-terminal-color7: #535148;
	--oasis-terminal-color8: #5b4f47;
	--oasis-terminal-color9: #ba1313;
	--oasis-terminal-cyan: #34655f;
	--oasis-terminal-green: #2f6849;
	--oasis-terminal-magenta: #7b29dc;
	--oasis-terminal-red: #ba1313;
	--oasis-terminal-white: #535148;
	--oasis-terminal-yellow: #655e22;
	--oasis-theme-accent: #a30505;
	--oasis-theme-label: #a24b0b;
	--oasis-theme-light-primary: #054a7f;
	--oasis-theme-primary: #075b98;
	--oasis-theme-secondary: #9c540c;
	--oasis-theme-strong-primary: #076ab1;
	--oasis-ui-border: #21557a;
	--oasis-ui-cursorLine: #dfe9f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2b5668;
	--oasis-ui-float-bg: #dfe9f5;
	--oasis-ui-float-border-bg: #dfe9f5;
	--oasis-ui-float-border-fg: #21557a;
	--oasis-ui-float-fg: #22557a;
	--oasis-ui-float-title: #22557a;
	--oasis-ui-lineNumber: #74461b;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #c8d8ee;
	--oasis-ui-matchParen-fg: #764520;
	--oasis-ui-nontext: #95897f;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #22557a;
	--oasis-ui-visual-bg: #c8d8ee;
	--oasis-ui-visual-fg: none;
}