/* extras/css/themes/light/2/oasis_sol_light_2.css
 * name: Oasis Sol Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="sol_light_2"],
.oasis-sol_light_2 {
	--oasis-name: "Oasis Sol Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f8e7e7;
	--oasis-bg-mantle: #f5dbdb;
	--oasis-bg-shadow: #f1cfcf;
	--oasis-bg-surface: #eec3c3;
	--oasis-diff-add: #2e5542;
	--oasis-diff-change: #6e423a;
	--oasis-diff-delete: #723f3f;
	--oasis-diff-text: #6d442c;
	--oasis-fg-comment: #826e6b;
	--oasis-fg-core: #773e32;
	--oasis-fg-dim: #878787;
	--oasis-fg-muted: #776764;
	--oasis-fg-strong: #783d31;
	--oasis-git-add: #215919;
	--oasis-git-change: #564e0b;
	--oasis-git-delete: #a10000;
	--oasis-syntax-bracket: #656a78;
	--oasis-syntax-builtinConst: #4f48c1;
	--oasis-syntax-builtinFunc: #7d5017;
	--oasis-syntax-builtinVar: #7900ed;
	--oasis-syntax-comment: #7d6562;
	--oasis-syntax-conditional: #a91219;
	--oasis-syntax-constant: #3f3f3e;
	--oasis-syntax-delimiter: #ab2429;
	--oasis-syntax-exception: #77530d;
	--oasis-syntax-func: #734c1c;
	--oasis-syntax-identifier: #256078;
	--oasis-syntax-operator: #ad2227;
	--oasis-syntax-parameter: #23561f;
	--oasis-syntax-preproc: #615b28;
	--oasis-syntax-punctuation: #af1e23;
	--oasis-syntax-regex: #695828;
	--oasis-syntax-special: #8a490f;
	--oasis-syntax-statement: #ab2629;
	--oasis-syntax-string: #7d4718;
	--oasis-syntax-type: #315c57;
	--oasis-terminal-black: #4e4e4e;
	--oasis-terminal-blue: #145aa2;
	--oasis-terminal-bright-black: #574b44;
	--oasis-terminal-bright-blue: #236079;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35642f;
	--oasis-terminal-bright-magenta: #7624da;
	--oasis-terminal-bright-red: #b41212;
	--oasis-terminal-bright-white: #564d2e;
	--oasis-terminal-bright-yellow: #854c13;
	--oasis-terminal-color0: #4e4e4e;
	--oasis-terminal-color1: #b41212;
	--oasis-terminal-color10: #35642f;
	--oasis-terminal-color11: #854c13;
	--oasis-terminal-color12: #236079;
	--oasis-terminal-color13: #7624da;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #564d2e;
	--oasis-terminal-color2: #386435;
	--oasis-terminal-color3: #615b21;
	--oasis-terminal-color4: #145aa2;
	--oasis-terminal-color5: #7724d8;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #5b4d13;
	--oasis-terminal-color8: #574b44;
	--oasis-terminal-color9: #b41212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #386435;
	--oasis-terminal-magenta: #7724d8;
	--oasis-terminal-red: #b41212;
	--oasis-terminal-white: #5b4d13;
	--oasis-terminal-yellow: #615b21;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-label: #a24b0b;
	--oasis-theme-light-primary: #7b280a;
	--oasis-theme-primary: #912c0d;
	--oasis-theme-secondary: #9c540c;
	--oasis-theme-strong-primary: #8a462e;
	--oasis-ui-border: #942323;
	--oasis-ui-cursorLine: #f5dbdb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #295364;
	--oasis-ui-float-bg: #f5dbdb;
	--oasis-ui-float-border-bg: #f5dbdb;
	--oasis-ui-float-border-fg: #942323;
	--oasis-ui-float-fg: #942323;
	--oasis-ui-float-title: #942323;
	--oasis-ui-lineNumber: #6f441a;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #eec3c3;
	--oasis-ui-matchParen-fg: #514f30;
	--oasis-ui-nontext: #878787;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #942323;
	--oasis-ui-visual-bg: #eec3c3;
	--oasis-ui-visual-fg: none;
}