/* extras/css/themes/light/2/oasis_twilight_light_2.css
 * name: Oasis Twilight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="twilight_light_2"],
.oasis-twilight_light_2 {
	--oasis-name: "Oasis Twilight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #efecf9;
	--oasis-bg-mantle: #e5e0f5;
	--oasis-bg-shadow: #dbd5f2;
	--oasis-bg-surface: #d2c9ee;
	--oasis-diff-add: #2f5744;
	--oasis-diff-change: #554872;
	--oasis-diff-delete: #754141;
	--oasis-diff-text: #6f452d;
	--oasis-fg-comment: #77718a;
	--oasis-fg-core: #544975;
	--oasis-fg-dim: #918880;
	--oasis-fg-muted: #6f6a7c;
	--oasis-fg-strong: #59428b;
	--oasis-git-add: #1f5b0f;
	--oasis-git-change: #58500b;
	--oasis-git-delete: #a40000;
	--oasis-syntax-bracket: #6a6a81;
	--oasis-syntax-builtinConst: #435d7e;
	--oasis-syntax-builtinFunc: #914710;
	--oasis-syntax-builtinVar: #5a5c5d;
	--oasis-syntax-comment: #716886;
	--oasis-syntax-conditional: #7917d3;
	--oasis-syntax-constant: #414140;
	--oasis-syntax-delimiter: #7839bb;
	--oasis-syntax-exception: #b02328;
	--oasis-syntax-func: #84460e;
	--oasis-syntax-identifier: #24627b;
	--oasis-syntax-operator: #b6141b;
	--oasis-syntax-parameter: #4d4d4b;
	--oasis-syntax-preproc: #32645d;
	--oasis-syntax-punctuation: #ab2a2f;
	--oasis-syntax-regex: #2f681f;
	--oasis-syntax-special: #8e4810;
	--oasis-syntax-statement: #7f18e1;
	--oasis-syntax-string: #266142;
	--oasis-syntax-type: #325d59;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #145ca5;
	--oasis-terminal-bright-black: #594d45;
	--oasis-terminal-bright-blue: #23627b;
	--oasis-terminal-bright-cyan: #33645c;
	--oasis-terminal-bright-green: #346725;
	--oasis-terminal-bright-magenta: #7827db;
	--oasis-terminal-bright-red: #b71212;
	--oasis-terminal-bright-white: #75440b;
	--oasis-terminal-bright-yellow: #874d14;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #b71212;
	--oasis-terminal-color10: #346725;
	--oasis-terminal-color11: #874d14;
	--oasis-terminal-color12: #23627b;
	--oasis-terminal-color13: #7827db;
	--oasis-terminal-color14: #33645c;
	--oasis-terminal-color15: #75440b;
	--oasis-terminal-color2: #2e6648;
	--oasis-terminal-color3: #635d21;
	--oasis-terminal-color4: #145ca5;
	--oasis-terminal-color5: #7925db;
	--oasis-terminal-color6: #33645e;
	--oasis-terminal-color7: #524f47;
	--oasis-terminal-color8: #594d45;
	--oasis-terminal-color9: #b71212;
	--oasis-terminal-cyan: #33645e;
	--oasis-terminal-green: #2e6648;
	--oasis-terminal-magenta: #7925db;
	--oasis-terminal-red: #b71212;
	--oasis-terminal-white: #524f47;
	--oasis-terminal-yellow: #635d21;
	--oasis-theme-accent: #21874f;
	--oasis-theme-light-primary: #3c0481;
	--oasis-theme-primary: #490599;
	--oasis-theme-secondary: #928417;
	--oasis-theme-strong-primary: #5316a2;
	--oasis-ui-border: #6732a6;
	--oasis-ui-cursorLine: #e5e0f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2a5566;
	--oasis-ui-float-bg: #e5e0f5;
	--oasis-ui-float-border-bg: #e5e0f5;
	--oasis-ui-float-border-fg: #6732a6;
	--oasis-ui-float-fg: #6732a6;
	--oasis-ui-float-title: #6732a6;
	--oasis-ui-lineNumber: #71451b;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #d2c9ee;
	--oasis-ui-matchParen-fg: #555027;
	--oasis-ui-nontext: #92877d;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #6732a6;
	--oasis-ui-visual-bg: #d2c9ee;
	--oasis-ui-visual-fg: none;
}