/* extras/css/themes/light/2/oasis_moonlight_light_2.css
 * name: Oasis Moonlight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="moonlight_light_2"],
.oasis-moonlight_light_2 {
	--oasis-name: "Oasis Moonlight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #eeebe2;
	--oasis-bg-mantle: #e3decf;
	--oasis-bg-shadow: #e8e4d8;
	--oasis-bg-surface: #ddd7c5;
	--oasis-diff-add: #35634d;
	--oasis-diff-change: #445b7d;
	--oasis-diff-delete: #844949;
	--oasis-diff-text: #7e4f32;
	--oasis-fg-comment: #6b747f;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #83888f;
	--oasis-fg-muted: #636c74;
	--oasis-fg-strong: #293e5e;
	--oasis-git-add: #26671d;
	--oasis-git-change: #854c13;
	--oasis-git-delete: #b80000;
	--oasis-syntax-bracket: #484b54;
	--oasis-syntax-builtinConst: #5d58c6;
	--oasis-syntax-builtinFunc: #785222;
	--oasis-syntax-builtinVar: #7d1ed7;
	--oasis-syntax-comment: #606b7e;
	--oasis-syntax-conditional: #605b32;
	--oasis-syntax-constant: #9f5111;
	--oasis-syntax-delimiter: #356fa0;
	--oasis-syntax-exception: #b3141a;
	--oasis-syntax-func: #62492c;
	--oasis-syntax-identifier: #276780;
	--oasis-syntax-macro: #753f2f;
	--oasis-syntax-operator: #615b2c;
	--oasis-syntax-parameter: #386b33;
	--oasis-syntax-preproc: #a0361c;
	--oasis-syntax-punctuation: #534f2b;
	--oasis-syntax-regex: #ad4566;
	--oasis-syntax-special: #8a490f;
	--oasis-syntax-statement: #72671c;
	--oasis-syntax-string: #9d1117;
	--oasis-syntax-type: #376861;
	--oasis-syntax-typedef: #2d5550;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #145ba2;
	--oasis-terminal-bright-black: #4c423b;
	--oasis-terminal-bright-blue: #23607a;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35652f;
	--oasis-terminal-bright-magenta: #7624da;
	--oasis-terminal-bright-red: #b41212;
	--oasis-terminal-bright-white: #4b4428;
	--oasis-terminal-bright-yellow: #854c13;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #b41212;
	--oasis-terminal-color10: #35652f;
	--oasis-terminal-color11: #854c13;
	--oasis-terminal-color12: #23607a;
	--oasis-terminal-color13: #7624da;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #4b4428;
	--oasis-terminal-color2: #396435;
	--oasis-terminal-color3: #615b21;
	--oasis-terminal-color4: #145ba2;
	--oasis-terminal-color5: #7724d9;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #4f4311;
	--oasis-terminal-color8: #4c423b;
	--oasis-terminal-color9: #b41212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #396435;
	--oasis-terminal-magenta: #7724d9;
	--oasis-terminal-red: #b41212;
	--oasis-terminal-white: #4f4311;
	--oasis-terminal-yellow: #615b21;
	--oasis-theme-accent: #a30505;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a80505;
	--oasis-theme-light-primary: #253d53;
	--oasis-theme-primary: #28405a;
	--oasis-theme-secondary: #706712;
	--oasis-theme-strong-primary: #3c6188;
	--oasis-ui-border: #3d5064;
	--oasis-ui-cursorLine: #e3decf;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #21424f;
	--oasis-ui-float-bg: #e3decf;
	--oasis-ui-float-border-bg: #e3decf;
	--oasis-ui-float-border-fg: #536d89;
	--oasis-ui-float-fg: #534f26;
	--oasis-ui-float-title: #534f26;
	--oasis-ui-lineNumber: #985d24;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #ddd7c5;
	--oasis-ui-matchParen-fg: #78744b;
	--oasis-ui-nontext: #747d88;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3d5064;
	--oasis-ui-visual-bg: #ddd7c5;
	--oasis-ui-visual-fg: none;
}