/* extras/css/themes/light/2/oasis_night_light_2.css
 * name: Oasis Night Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="night_light_2"],
.oasis-night_light_2 {
	--oasis-name: "Oasis Night Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #d4e3f2;
	--oasis-bg-mantle: #c8dbef;
	--oasis-bg-shadow: #bcd4eb;
	--oasis-bg-surface: #b1cce7;
	--oasis-diff-add: #2a4f3d;
	--oasis-diff-change: #234685;
	--oasis-diff-delete: #6a3b3b;
	--oasis-diff-text: #653f28;
	--oasis-fg-comment: #7e685d;
	--oasis-fg-core: #57452f;
	--oasis-fg-dim: #897f78;
	--oasis-fg-muted: #746156;
	--oasis-fg-strong: #614128;
	--oasis-git-add: #1e5317;
	--oasis-git-change: #50490a;
	--oasis-git-delete: #960000;
	--oasis-syntax-bracket: #606471;
	--oasis-syntax-builtinConst: #4841be;
	--oasis-syntax-builtinFunc: #5e5416;
	--oasis-syntax-builtinVar: #7200de;
	--oasis-syntax-comment: #7f5d4d;
	--oasis-syntax-conditional: #774113;
	--oasis-syntax-constant: #393938;
	--oasis-syntax-delimiter: #7c471a;
	--oasis-syntax-exception: #a81218;
	--oasis-syntax-func: #584f15;
	--oasis-syntax-identifier: #225a70;
	--oasis-syntax-operator: #7e4614;
	--oasis-syntax-parameter: #204f1c;
	--oasis-syntax-preproc: #6e4f0c;
	--oasis-syntax-punctuation: #7f4514;
	--oasis-syntax-regex: #833e55;
	--oasis-syntax-special: #5b5526;
	--oasis-syntax-statement: #7e4614;
	--oasis-syntax-string: #9c161b;
	--oasis-syntax-type: #2d5651;
	--oasis-terminal-black: #633f36;
	--oasis-terminal-blue: #135598;
	--oasis-terminal-bright-black: #5e4234;
	--oasis-terminal-bright-blue: #215a71;
	--oasis-terminal-bright-cyan: #2f5c55;
	--oasis-terminal-bright-green: #325e2c;
	--oasis-terminal-bright-magenta: #6f22cc;
	--oasis-terminal-bright-red: #a91111;
	--oasis-terminal-bright-white: #50482a;
	--oasis-terminal-bright-yellow: #7c4712;
	--oasis-terminal-color0: #633f36;
	--oasis-terminal-color1: #a91111;
	--oasis-terminal-color10: #325e2c;
	--oasis-terminal-color11: #7c4712;
	--oasis-terminal-color12: #215a71;
	--oasis-terminal-color13: #6f22cc;
	--oasis-terminal-color14: #2f5c55;
	--oasis-terminal-color15: #50482a;
	--oasis-terminal-color2: #355d32;
	--oasis-terminal-color3: #5b551f;
	--oasis-terminal-color4: #135598;
	--oasis-terminal-color5: #7021cb;
	--oasis-terminal-color6: #2f5b56;
	--oasis-terminal-color7: #544712;
	--oasis-terminal-color8: #5e4234;
	--oasis-terminal-color9: #a91111;
	--oasis-terminal-cyan: #2f5b56;
	--oasis-terminal-green: #355d32;
	--oasis-terminal-magenta: #7021cb;
	--oasis-terminal-red: #a91111;
	--oasis-terminal-white: #544712;
	--oasis-terminal-yellow: #5b551f;
	--oasis-theme-accent: #a30505;
	--oasis-theme-label: #a80505;
	--oasis-theme-light-primary: #29435c;
	--oasis-theme-primary: #314e6d;
	--oasis-theme-secondary: #918517;
	--oasis-theme-strong-primary: #395b7f;
	--oasis-ui-border: #384a5c;
	--oasis-ui-cursorLine: #c8dbef;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #264d5c;
	--oasis-ui-float-bg: #c8dbef;
	--oasis-ui-float-border-bg: #c8dbef;
	--oasis-ui-float-border-fg: #384a5c;
	--oasis-ui-float-fg: #384a5c;
	--oasis-ui-float-title: #384a5c;
	--oasis-ui-lineNumber: #673f18;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #b1cce7;
	--oasis-ui-matchParen-fg: #4b492f;
	--oasis-ui-nontext: #79828c;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #384a5c;
	--oasis-ui-visual-bg: #b1cce7;
	--oasis-ui-visual-fg: none;
}