/* extras/css/themes/light/2/oasis_cactus_light_2.css
 * name: Oasis Cactus Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="cactus_light_2"],
.oasis-cactus_light_2 {
	--oasis-name: "Oasis Cactus Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #eef7f2;
	--oasis-bg-mantle: #e4f2ea;
	--oasis-bg-shadow: #d9ede2;
	--oasis-bg-surface: #cfe8da;
	--oasis-diff-add: #315c47;
	--oasis-diff-change: #465849;
	--oasis-diff-delete: #7b4444;
	--oasis-diff-text: #75492f;
	--oasis-fg-comment: #6a7e6c;
	--oasis-fg-core: #44584c;
	--oasis-fg-dim: #968c84;
	--oasis-fg-muted: #667469;
	--oasis-fg-strong: #405945;
	--oasis-git-add: #216010;
	--oasis-git-change: #5d540c;
	--oasis-git-delete: #ab0000;
	--oasis-syntax-bracket: #6a7180;
	--oasis-syntax-builtinConst: #59606f;
	--oasis-syntax-builtinFunc: #974a11;
	--oasis-syntax-builtinVar: #60605e;
	--oasis-syntax-comment: #5f7760;
	--oasis-syntax-conditional: #3b633d;
	--oasis-syntax-constant: #454544;
	--oasis-syntax-delimiter: #466847;
	--oasis-syntax-exception: #b5282c;
	--oasis-syntax-func: #8a490f;
	--oasis-syntax-identifier: #276780;
	--oasis-syntax-operator: #be151c;
	--oasis-syntax-parameter: #6d00d6;
	--oasis-syntax-preproc: #87550f;
	--oasis-syntax-punctuation: #bb1e23;
	--oasis-syntax-regex: #316c20;
	--oasis-syntax-special: #934d10;
	--oasis-syntax-statement: #3e6940;
	--oasis-syntax-string: #266547;
	--oasis-syntax-type: #175c9a;
	--oasis-terminal-black: #535353;
	--oasis-terminal-blue: #1560ad;
	--oasis-terminal-bright-black: #5e5149;
	--oasis-terminal-bright-blue: #256681;
	--oasis-terminal-bright-cyan: #356861;
	--oasis-terminal-bright-green: #366b27;
	--oasis-terminal-bright-magenta: #7d2fdd;
	--oasis-terminal-bright-red: #bf1313;
	--oasis-terminal-bright-white: #7a470c;
	--oasis-terminal-bright-yellow: #8d5115;
	--oasis-terminal-color0: #535353;
	--oasis-terminal-color1: #bf1313;
	--oasis-terminal-color10: #366b27;
	--oasis-terminal-color11: #8d5115;
	--oasis-terminal-color12: #256681;
	--oasis-terminal-color13: #7d2fdd;
	--oasis-terminal-color14: #356861;
	--oasis-terminal-color15: #7a470c;
	--oasis-terminal-color2: #306b4b;
	--oasis-terminal-color3: #686123;
	--oasis-terminal-color4: #1560ad;
	--oasis-terminal-color5: #7e2ddc;
	--oasis-terminal-color6: #356862;
	--oasis-terminal-color7: #56534b;
	--oasis-terminal-color8: #5e5149;
	--oasis-terminal-color9: #bf1313;
	--oasis-terminal-cyan: #356862;
	--oasis-terminal-green: #306b4b;
	--oasis-terminal-magenta: #7e2ddc;
	--oasis-terminal-red: #bf1313;
	--oasis-terminal-white: #56534b;
	--oasis-terminal-yellow: #686123;
	--oasis-theme-accent: #4c05a3;
	--oasis-theme-light-primary: #2e572f;
	--oasis-theme-primary: #38663b;
	--oasis-theme-secondary: #a30505;
	--oasis-theme-strong-primary: #417644;
	--oasis-ui-border: #425943;
	--oasis-ui-cursorLine: #e4f2ea;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2c596b;
	--oasis-ui-float-bg: #e4f2ea;
	--oasis-ui-float-border-bg: #e4f2ea;
	--oasis-ui-float-border-fg: #425943;
	--oasis-ui-float-fg: #425943;
	--oasis-ui-float-title: #425943;
	--oasis-ui-lineNumber: #76491c;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-nontext: #978c83;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #425943;
	--oasis-ui-visual-bg: #cfe8da;
	--oasis-ui-visual-fg: none;
}