/* extras/css/themes/light/2/oasis_sol_light_2.css
 * name: Oasis Sol Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="sol_light_2"],
.oasis-sol_light_2 {
	--oasis-name: "Oasis Sol Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f7e3e3;
	--oasis-bg-mantle: #f3d8d8;
	--oasis-bg-shadow: #f0cccc;
	--oasis-bg-surface: #edc0c0;
	--oasis-diff-add: #2d5341;
	--oasis-diff-change: #6c4139;
	--oasis-diff-delete: #6f3e3e;
	--oasis-diff-text: #6a422b;
	--oasis-fg-comment: #7f6c69;
	--oasis-fg-core: #1d0f0c;
	--oasis-fg-dim: #858585;
	--oasis-fg-muted: #756562;
	--oasis-fg-strong: #5c2f26;
	--oasis-git-add: #205718;
	--oasis-git-change: #544c0b;
	--oasis-git-delete: #9d0000;
	--oasis-syntax-bracket: #464952;
	--oasis-syntax-builtinConst: #5b55c5;
	--oasis-syntax-builtinFunc: #765021;
	--oasis-syntax-builtinVar: #7a1ed2;
	--oasis-syntax-comment: #7a6360;
	--oasis-syntax-conditional: #af131a;
	--oasis-syntax-constant: #9c4f11;
	--oasis-syntax-delimiter: #c72a2f;
	--oasis-syntax-exception: #74510d;
	--oasis-syntax-func: #624721;
	--oasis-syntax-identifier: #26647d;
	--oasis-syntax-macro: #524d25;
	--oasis-syntax-operator: #a92126;
	--oasis-syntax-parameter: #366931;
	--oasis-syntax-preproc: #5f5927;
	--oasis-syntax-punctuation: #951a1e;
	--oasis-syntax-regex: #79652b;
	--oasis-syntax-special: #87470f;
	--oasis-syntax-statement: #be2a2e;
	--oasis-syntax-string: #723f12;
	--oasis-syntax-type: #366661;
	--oasis-syntax-typedef: #2c524e;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #13599f;
	--oasis-terminal-bright-black: #554a42;
	--oasis-terminal-bright-blue: #225e77;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34622e;
	--oasis-terminal-bright-magenta: #7323d5;
	--oasis-terminal-bright-red: #b01212;
	--oasis-terminal-bright-white: #544c2d;
	--oasis-terminal-bright-yellow: #824a13;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622e;
	--oasis-terminal-color11: #824a13;
	--oasis-terminal-color12: #225e77;
	--oasis-terminal-color13: #7323d5;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #544c2d;
	--oasis-terminal-color2: #376134;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #13599f;
	--oasis-terminal-color5: #7423d4;
	--oasis-terminal-color6: #31605a;
	--oasis-terminal-color7: #594b13;
	--oasis-terminal-color8: #554a42;
	--oasis-terminal-color9: #b01212;
	--oasis-terminal-cyan: #31605a;
	--oasis-terminal-green: #376134;
	--oasis-terminal-magenta: #7423d4;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #594b13;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #a24b0b;
	--oasis-theme-light-primary: #740404;
	--oasis-theme-primary: #7e0404;
	--oasis-theme-secondary: #78410a;
	--oasis-theme-strong-primary: #933131;
	--oasis-ui-border: #902222;
	--oasis-ui-cursorLine: #f3d8d8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #20404c;
	--oasis-ui-float-bg: #f3d8d8;
	--oasis-ui-float-border-bg: #f3d8d8;
	--oasis-ui-float-border-fg: #c42e2e;
	--oasis-ui-float-fg: #69431e;
	--oasis-ui-float-title: #69431e;
	--oasis-ui-lineNumber: #955b23;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #edc0c0;
	--oasis-ui-matchParen-fg: #767246;
	--oasis-ui-nontext: #7a7a7a;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #902222;
	--oasis-ui-visual-bg: #edc0c0;
	--oasis-ui-visual-fg: none;
}