/* extras/css/themes/light/2/oasis_desert_light_2.css
 * name: Oasis Desert Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="desert_light_2"],
.oasis-desert_light_2 {
	--oasis-name: "Oasis Desert Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f9f7ec;
	--oasis-bg-mantle: #f5f2e0;
	--oasis-bg-shadow: #f2edd5;
	--oasis-bg-surface: #eee8c9;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #545454;
	--oasis-diff-delete: #7c4545;
	--oasis-diff-text: #764a2f;
	--oasis-fg-comment: #7c7a70;
	--oasis-fg-core: #63523d;
	--oasis-fg-dim: #869197;
	--oasis-fg-muted: #747268;
	--oasis-fg-strong: #5e5249;
	--oasis-git-add: #23611b;
	--oasis-git-change: #5d550c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #6c7280;
	--oasis-syntax-builtinConst: #5751c3;
	--oasis-syntax-builtinFunc: #875619;
	--oasis-syntax-builtinVar: #8200fe;
	--oasis-syntax-comment: #757266;
	--oasis-syntax-conditional: #615c33;
	--oasis-syntax-constant: #464645;
	--oasis-syntax-delimiter: #67623e;
	--oasis-syntax-exception: #c0151c;
	--oasis-syntax-func: #76552b;
	--oasis-syntax-identifier: #286781;
	--oasis-syntax-operator: #69622b;
	--oasis-syntax-parameter: #265d21;
	--oasis-syntax-preproc: #ac3a1e;
	--oasis-syntax-punctuation: #68622f;
	--oasis-syntax-regex: #9d415f;
	--oasis-syntax-special: #944e10;
	--oasis-syntax-statement: #6c611a;
	--oasis-syntax-string: #b4191f;
	--oasis-syntax-type: #35635c;
	--oasis-terminal-black: #545454;
	--oasis-terminal-blue: #1561ae;
	--oasis-terminal-bright-black: #5f524a;
	--oasis-terminal-bright-blue: #256782;
	--oasis-terminal-bright-cyan: #366962;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7e31dd;
	--oasis-terminal-bright-red: #c11313;
	--oasis-terminal-bright-white: #5d5432;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #545454;
	--oasis-terminal-color1: #c11313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #256782;
	--oasis-terminal-color13: #7e31dd;
	--oasis-terminal-color14: #366962;
	--oasis-terminal-color15: #5d5432;
	--oasis-terminal-color2: #3d6b39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1561ae;
	--oasis-terminal-color5: #7f30dd;
	--oasis-terminal-color6: #366963;
	--oasis-terminal-color7: #635315;
	--oasis-terminal-color8: #5f524a;
	--oasis-terminal-color9: #c11313;
	--oasis-terminal-cyan: #366963;
	--oasis-terminal-green: #3d6b39;
	--oasis-terminal-magenta: #7f30dd;
	--oasis-terminal-red: #c11313;
	--oasis-terminal-white: #635315;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #736812;
	--oasis-theme-primary: #887d16;
	--oasis-theme-secondary: #a30505;
	--oasis-theme-secondary-light: #810404;
	--oasis-theme-secondary-strong: #8a2e2e;
	--oasis-theme-strong-primary: #7d783b;
	--oasis-ui-border: #a02626;
	--oasis-ui-cursorLine: #f5f2e0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #f5f2e0;
	--oasis-ui-float-border-bg: #f5f2e0;
	--oasis-ui-float-border-fg: #a02626;
	--oasis-ui-float-fg: #a02626;
	--oasis-ui-float-title: #a02626;
	--oasis-ui-lineNumber: #79491c;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #eee8c9;
	--oasis-ui-matchParen-fg: #585638;
	--oasis-ui-nontext: #859199;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #a02626;
	--oasis-ui-visual-bg: #eee8c9;
	--oasis-ui-visual-fg: none;
}