/* extras/css/themes/light/2/oasis_abyss_light_2.css
 * name: Oasis Abyss Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="abyss_light_2"],
.oasis-abyss_light_2 {
	--oasis-name: "Oasis Abyss Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #e0e0e0;
	--oasis-bg-mantle: #d5d5d5;
	--oasis-bg-shadow: #d8d8d8;
	--oasis-bg-surface: #c1c1c1;
	--oasis-diff-add: #315c47;
	--oasis-diff-change: #535353;
	--oasis-diff-delete: #7a4444;
	--oasis-diff-text: #75492f;
	--oasis-fg-comment: #6e6c63;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #738287;
	--oasis-fg-muted: #66645c;
	--oasis-fg-strong: #512e21;
	--oasis-git-add: #235f1a;
	--oasis-git-change: #7b4712;
	--oasis-git-delete: #ab0000;
	--oasis-syntax-bracket: #41454d;
	--oasis-syntax-builtinConst: #564fc3;
	--oasis-syntax-builtinFunc: #6f4c1f;
	--oasis-syntax-builtinVar: #741cc8;
	--oasis-syntax-comment: #67645a;
	--oasis-syntax-conditional: #59542f;
	--oasis-syntax-constant: #954c10;
	--oasis-syntax-delimiter: #a84345;
	--oasis-syntax-exception: #a71218;
	--oasis-syntax-func: #5a4328;
	--oasis-syntax-identifier: #256077;
	--oasis-syntax-macro: #733623;
	--oasis-syntax-operator: #5a5429;
	--oasis-syntax-parameter: #34642f;
	--oasis-syntax-preproc: #95321a;
	--oasis-syntax-punctuation: #4c4828;
	--oasis-syntax-regex: #a24060;
	--oasis-syntax-special: #80440e;
	--oasis-syntax-statement: #6b601a;
	--oasis-syntax-string: #901015;
	--oasis-syntax-type: #33615c;
	--oasis-syntax-typedef: #294e48;
	--oasis-terminal-black: #3d3d3d;
	--oasis-terminal-blue: #135497;
	--oasis-terminal-bright-black: #453b35;
	--oasis-terminal-bright-blue: #205971;
	--oasis-terminal-bright-cyan: #2e5b54;
	--oasis-terminal-bright-green: #315d2b;
	--oasis-terminal-bright-magenta: #6e21cb;
	--oasis-terminal-bright-red: #a81111;
	--oasis-terminal-bright-white: #443d24;
	--oasis-terminal-bright-yellow: #7b4712;
	--oasis-terminal-color0: #3d3d3d;
	--oasis-terminal-color1: #a81111;
	--oasis-terminal-color10: #315d2b;
	--oasis-terminal-color11: #7b4712;
	--oasis-terminal-color12: #205971;
	--oasis-terminal-color13: #6e21cb;
	--oasis-terminal-color14: #2e5b54;
	--oasis-terminal-color15: #443d24;
	--oasis-terminal-color2: #345c31;
	--oasis-terminal-color3: #5b551e;
	--oasis-terminal-color4: #135497;
	--oasis-terminal-color5: #6f21ca;
	--oasis-terminal-color6: #2f5b55;
	--oasis-terminal-color7: #483d0f;
	--oasis-terminal-color8: #453b35;
	--oasis-terminal-color9: #a81111;
	--oasis-terminal-cyan: #2f5b55;
	--oasis-terminal-green: #345c31;
	--oasis-terminal-magenta: #6f21ca;
	--oasis-terminal-red: #a81111;
	--oasis-terminal-white: #483d0f;
	--oasis-terminal-yellow: #5b551e;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #685e10;
	--oasis-theme-primary: #615b21;
	--oasis-theme-secondary: #7e0404;
	--oasis-theme-secondary-light: #740404;
	--oasis-theme-secondary-strong: #933131;
	--oasis-theme-strong-primary: #86803f;
	--oasis-theme-title: #762828;
	--oasis-ui-border: #5c5836;
	--oasis-ui-cursorLine: #d5d5d5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #295162;
	--oasis-ui-float-bg: #d5d5d5;
	--oasis-ui-float-border-bg: #d5d5d5;
	--oasis-ui-float-border-fg: #5c5836;
	--oasis-ui-float-fg: #781c1c;
	--oasis-ui-float-title: #781c1c;
	--oasis-ui-lineNumber: #8e5721;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #c1c1c1;
	--oasis-ui-matchParen-fg: #a54545;
	--oasis-ui-nontext: #68787d;
	--oasis-ui-picker-bg: #d5d5d5;
	--oasis-ui-picker-border-bg: #d5d5d5;
	--oasis-ui-picker-border-fg: #903c3c;
	--oasis-ui-picker-fg: #882020;
	--oasis-ui-picker-title: #882020;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #a42727;
	--oasis-ui-visual-bg: #c1c1c1;
	--oasis-ui-visual-fg: none;
}