/* extras/css/themes/light/2/oasis_midnight_light_2.css
 * name: Oasis Midnight Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="midnight_light_2"],
.oasis-midnight_light_2 {
	--oasis-name: "Oasis Midnight Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #f7e7e3;
	--oasis-bg-mantle: #f3dcd8;
	--oasis-bg-shadow: #f0d2cc;
	--oasis-bg-surface: #edc8c0;
	--oasis-diff-add: #2e5542;
	--oasis-diff-change: #384f6a;
	--oasis-diff-delete: #723f3f;
	--oasis-diff-text: #6d442b;
	--oasis-fg-comment: #6b737e;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #8c867f;
	--oasis-fg-muted: #626b73;
	--oasis-fg-strong: #543723;
	--oasis-git-add: #205919;
	--oasis-git-change: #564e0b;
	--oasis-git-delete: #a00000;
	--oasis-syntax-bracket: #474b54;
	--oasis-syntax-builtinConst: #5d57c6;
	--oasis-syntax-builtinFunc: #785221;
	--oasis-syntax-builtinVar: #7c1ed5;
	--oasis-syntax-comment: #5f6b7d;
	--oasis-syntax-conditional: #5f5a32;
	--oasis-syntax-constant: #9e5111;
	--oasis-syntax-delimiter: #706b44;
	--oasis-syntax-exception: #b3131a;
	--oasis-syntax-func: #61492b;
	--oasis-syntax-identifier: #27667f;
	--oasis-syntax-macro: #7c3a26;
	--oasis-syntax-operator: #605b2c;
	--oasis-syntax-parameter: #376b32;
	--oasis-syntax-preproc: #9f361c;
	--oasis-syntax-punctuation: #534e2b;
	--oasis-syntax-regex: #ad4566;
	--oasis-syntax-special: #8a490f;
	--oasis-syntax-statement: #72661c;
	--oasis-syntax-string: #9c1117;
	--oasis-syntax-type: #376762;
	--oasis-syntax-typedef: #2d5450;
	--oasis-terminal-black: #4d4d4d;
	--oasis-terminal-blue: #145aa2;
	--oasis-terminal-bright-black: #574b43;
	--oasis-terminal-bright-blue: #236079;
	--oasis-terminal-bright-cyan: #32625a;
	--oasis-terminal-bright-green: #35642e;
	--oasis-terminal-bright-magenta: #7624d9;
	--oasis-terminal-bright-red: #b31212;
	--oasis-terminal-bright-white: #554d2e;
	--oasis-terminal-bright-yellow: #844c13;
	--oasis-terminal-color0: #4d4d4d;
	--oasis-terminal-color1: #b31212;
	--oasis-terminal-color10: #35642e;
	--oasis-terminal-color11: #844c13;
	--oasis-terminal-color12: #236079;
	--oasis-terminal-color13: #7624d9;
	--oasis-terminal-color14: #32625a;
	--oasis-terminal-color15: #554d2e;
	--oasis-terminal-color2: #386335;
	--oasis-terminal-color3: #615b21;
	--oasis-terminal-color4: #145aa2;
	--oasis-terminal-color5: #7624d8;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #5b4c13;
	--oasis-terminal-color8: #574b43;
	--oasis-terminal-color9: #b31212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #386335;
	--oasis-terminal-magenta: #7624d8;
	--oasis-terminal-red: #b31212;
	--oasis-terminal-white: #5b4c13;
	--oasis-terminal-yellow: #615b21;
	--oasis-theme-accent: #357a2f;
	--oasis-theme-cursor: #887d16;
	--oasis-theme-label: #911c1c;
	--oasis-theme-light-primary: #685e10;
	--oasis-theme-primary: #615b21;
	--oasis-theme-secondary: #7e0404;
	--oasis-theme-secondary-light: #740404;
	--oasis-theme-secondary-strong: #933131;
	--oasis-theme-strong-primary: #86803f;
	--oasis-ui-border: #932323;
	--oasis-ui-cursorLine: #f3dcd8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #21414f;
	--oasis-ui-float-bg: #f3dcd8;
	--oasis-ui-float-border-bg: #f3dcd8;
	--oasis-ui-float-border-fg: #c82f2f;
	--oasis-ui-float-fg: #524e30;
	--oasis-ui-float-title: #524e30;
	--oasis-ui-lineNumber: #985c24;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #edc8c0;
	--oasis-ui-matchParen-fg: #787447;
	--oasis-ui-nontext: #847a71;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #932323;
	--oasis-ui-visual-bg: #edc8c0;
	--oasis-ui-visual-fg: none;
}