/* extras/css/themes/cactus/oasis_cactus_light_2.css
 * name: Oasis Cactus Light 2
 * author: uhs-robert
 * mode: light
 * light intensity: 2
 */

:root,
[data-oasis-theme="cactus_light_2"],
.oasis-cactus_light_2 {
	--oasis-name: "Oasis Cactus Light 2";
	--oasis-mode: "light";
	--oasis-light-intensity: 2;
	--oasis-bg-core: #eef7f2;
	--oasis-bg-mantle: #e4f2ea;
	--oasis-bg-shadow: #d9ede2;
	--oasis-bg-surface: #cfe8da;
	--oasis-diff-add: #315c47;
	--oasis-diff-change: #465849;
	--oasis-diff-delete: #7b4444;
	--oasis-fg-core: #44584c;
	--oasis-fg-dim: #968c84;
	--oasis-fg-muted: #667469;
	--oasis-fg-strong: #405945;
	--oasis-syntax-bracket: #6a7180;
	--oasis-syntax-builtinConst: #59606f;
	--oasis-syntax-builtinFunc: #974a11;
	--oasis-syntax-builtinVar: #60605e;
	--oasis-syntax-comment: #5f7760;
	--oasis-syntax-conditional: #3b633d;
	--oasis-syntax-constant: #454544;
	--oasis-syntax-delimiter: #466847;
	--oasis-syntax-exception: #b5282c;
	--oasis-syntax-func: #8a490f;
	--oasis-syntax-identifier: #276780;
	--oasis-syntax-operator: #be151c;
	--oasis-syntax-parameter: #6d00d6;
	--oasis-syntax-preproc: #87550f;
	--oasis-syntax-punctuation: #bb1e23;
	--oasis-syntax-regex: #316c20;
	--oasis-syntax-special: #934d10;
	--oasis-syntax-statement: #3e6940;
	--oasis-syntax-string: #286545;
	--oasis-syntax-type: #175c9a;
	--oasis-terminal-black: #535353;
	--oasis-terminal-blue: #145dbd;
	--oasis-terminal-bright-black: #535353;
	--oasis-terminal-bright-blue: #256681;
	--oasis-terminal-bright-cyan: #356861;
	--oasis-terminal-bright-green: #366b27;
	--oasis-terminal-bright-magenta: #7d2fdd;
	--oasis-terminal-bright-red: #bf1313;
	--oasis-terminal-bright-white: #7a470c;
	--oasis-terminal-bright-yellow: #904f0e;
	--oasis-terminal-color0: #535353;
	--oasis-terminal-color1: #a13f3f;
	--oasis-terminal-color10: #366b27;
	--oasis-terminal-color11: #904f0e;
	--oasis-terminal-color12: #256681;
	--oasis-terminal-color13: #7d2fdd;
	--oasis-terminal-color14: #356861;
	--oasis-terminal-color15: #7a470c;
	--oasis-terminal-color2: #306b4b;
	--oasis-terminal-color3: #686123;
	--oasis-terminal-color4: #145dbd;
	--oasis-terminal-color5: #7e2ddd;
	--oasis-terminal-color6: #366863;
	--oasis-terminal-color7: #56534b;
	--oasis-terminal-color8: #535353;
	--oasis-terminal-color9: #bf1313;
	--oasis-terminal-cyan: #366863;
	--oasis-terminal-green: #306b4b;
	--oasis-terminal-magenta: #7e2ddd;
	--oasis-terminal-red: #a13f3f;
	--oasis-terminal-white: #56534b;
	--oasis-terminal-yellow: #686123;
	--oasis-theme-accent: #a30505;
	--oasis-theme-light-primary: #2e572f;
	--oasis-theme-palette-primary-50: #DEF6E0;
	--oasis-theme-palette-primary-100: #D2EED4;
	--oasis-theme-palette-primary-200: #C6E6C8;
	--oasis-theme-palette-primary-300: #BADEBC;
	--oasis-theme-palette-primary-400: #AED6B0;
	--oasis-theme-palette-primary-500: #A7D3A9;
	--oasis-theme-palette-primary-600: #93C795;
	--oasis-theme-palette-primary-700: #7FBB82;
	--oasis-theme-palette-primary-800: #5A9C5D;
	--oasis-theme-palette-primary-900: #355E37;
	--oasis-theme-primary: #38663b;
	--oasis-theme-secondary: #a30505;
	--oasis-ui-border: #425943;
	--oasis-ui-curSearch-bg: #ddb26f;
	--oasis-ui-curSearch-fg: #352408;
	--oasis-ui-cursorLine: #e4f2ea;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #2c596b;
	--oasis-ui-float-bg: #cfe8da;
	--oasis-ui-float-border-bg: #e4f2ea;
	--oasis-ui-float-border-fg: #425943;
	--oasis-ui-float-fg: #425943;
	--oasis-ui-float-title: #425943;
	--oasis-ui-lineNumber: #76491c;
	--oasis-ui-match-bg: #deb287;
	--oasis-ui-match-fg: #452608;
	--oasis-ui-nontext: #978c83;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #425943;
	--oasis-ui-visual-bg: #cfe8da;
	--oasis-ui-visual-fg: none;
}