/* extras/css/themes/light/1/oasis_desert_light_1.css
 * name: Oasis Desert Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="desert_light_1"],
.oasis-desert_light_1 {
	--oasis-name: "Oasis Desert Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f6e7;
	--oasis-bg-mantle: #f4efd5;
	--oasis-bg-shadow: #f6f1db;
	--oasis-bg-surface: #ede4b6;
	--oasis-diff-add: #386a52;
	--oasis-diff-change: #606060;
	--oasis-diff-delete: #8d4e4e;
	--oasis-diff-text: #875436;
	--oasis-fg-comment: #7c7970;
	--oasis-fg-core: #1f1913;
	--oasis-fg-dim: #859097;
	--oasis-fg-muted: #737167;
	--oasis-fg-strong: #4b423a;
	--oasis-git-add: #286e1e;
	--oasis-git-change: #8e5115;
	--oasis-git-delete: #c40000;
	--oasis-syntax-bracket: #4d515b;
	--oasis-syntax-builtinConst: #655fc8;
	--oasis-syntax-builtinFunc: #815824;
	--oasis-syntax-builtinVar: #8525e0;
	--oasis-syntax-comment: #747165;
	--oasis-syntax-conditional: #676136;
	--oasis-syntax-constant: #a95712;
	--oasis-syntax-delimiter: #787249;
	--oasis-syntax-exception: #bf151b;
	--oasis-syntax-func: #694f2f;
	--oasis-syntax-identifier: #296d88;
	--oasis-syntax-macro: #863f29;
	--oasis-syntax-operator: #69612b;
	--oasis-syntax-parameter: #3b7237;
	--oasis-syntax-preproc: #ab391d;
	--oasis-syntax-punctuation: #5a5529;
	--oasis-syntax-regex: #b8496d;
	--oasis-syntax-special: #934e10;
	--oasis-syntax-statement: #7a6d1c;
	--oasis-syntax-string: #a81218;
	--oasis-syntax-type: #3a6f67;
	--oasis-syntax-typedef: #305b56;
	--oasis-terminal-black: #4a4a4a;
	--oasis-terminal-blue: #1561ad;
	--oasis-terminal-bright-black: #534840;
	--oasis-terminal-bright-blue: #256782;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #396b32;
	--oasis-terminal-bright-magenta: #7e2fdd;
	--oasis-terminal-bright-red: #c01313;
	--oasis-terminal-bright-white: #52492c;
	--oasis-terminal-bright-yellow: #8e5115;
	--oasis-terminal-color0: #4a4a4a;
	--oasis-terminal-color1: #c01313;
	--oasis-terminal-color10: #396b32;
	--oasis-terminal-color11: #8e5115;
	--oasis-terminal-color12: #256782;
	--oasis-terminal-color13: #7e2fdd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #52492c;
	--oasis-terminal-color2: #3d6b38;
	--oasis-terminal-color3: #686123;
	--oasis-terminal-color4: #1561ad;
	--oasis-terminal-color5: #7f2edd;
	--oasis-terminal-color6: #356863;
	--oasis-terminal-color7: #574913;
	--oasis-terminal-color8: #534840;
	--oasis-terminal-color9: #c01313;
	--oasis-terminal-cyan: #356863;
	--oasis-terminal-green: #3d6b38;
	--oasis-terminal-magenta: #7f2edd;
	--oasis-terminal-red: #c01313;
	--oasis-terminal-white: #574913;
	--oasis-terminal-yellow: #686123;
	--oasis-theme-accent: #388032;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #786e14;
	--oasis-theme-secondary: #870606;
	--oasis-theme-secondary-light: #7d0505;
	--oasis-theme-secondary-strong: #9a3535;
	--oasis-theme-strong-primary: #8c8643;
	--oasis-theme-title: #7d2b2b;
	--oasis-ui-border: #6b6531;
	--oasis-ui-cursorLine: #f4efd5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2f5e71;
	--oasis-ui-float-bg: #f4efd5;
	--oasis-ui-float-border-bg: #f4efd5;
	--oasis-ui-float-border-fg: #6b6531;
	--oasis-ui-float-fg: #8f2121;
	--oasis-ui-float-title: #8f2121;
	--oasis-ui-lineNumber: #a26226;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #ede4b6;
	--oasis-ui-matchParen-fg: #aa5a5a;
	--oasis-ui-nontext: #77858f;
	--oasis-ui-picker-bg: #f4efd5;
	--oasis-ui-picker-border-bg: #f4efd5;
	--oasis-ui-picker-border-fg: #974e4e;
	--oasis-ui-picker-fg: #9f2525;
	--oasis-ui-picker-title: #9f2525;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #bc2c2c;
	--oasis-ui-visual-bg: #ede4b6;
	--oasis-ui-visual-fg: none;
}