/* extras/css/themes/light/1/oasis_desert_light_1.css
 * name: Oasis Desert Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="desert_light_1"],
.oasis-desert_light_1 {
	--oasis-name: "Oasis Desert Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #555555;
	--oasis-diff-delete: #7d4545;
	--oasis-fg-core: #63523d;
	--oasis-fg-dim: #978e87;
	--oasis-fg-muted: #687479;
	--oasis-fg-strong: #5e5348;
	--oasis-syntax-bracket: #6a7283;
	--oasis-syntax-builtinConst: #5a6171;
	--oasis-syntax-builtinFunc: #9a4b11;
	--oasis-syntax-builtinVar: #606162;
	--oasis-syntax-comment: #617486;
	--oasis-syntax-conditional: #625d2c;
	--oasis-syntax-constant: #464645;
	--oasis-syntax-delimiter: #974a4b;
	--oasis-syntax-exception: #be1d15;
	--oasis-syntax-func: #80520e;
	--oasis-syntax-identifier: #366a62;
	--oasis-syntax-operator: #a5411c;
	--oasis-syntax-parameter: #6f00da;
	--oasis-syntax-preproc: #236884;
	--oasis-syntax-punctuation: #b52e31;
	--oasis-syntax-regex: #316e20;
	--oasis-syntax-special: #954f10;
	--oasis-syntax-statement: #6d6119;
	--oasis-syntax-string: #246842;
	--oasis-syntax-type: #34645c;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #155ec0;
	--oasis-terminal-bright-black: #5c534d;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #366d27;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #7d490c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #a44040;
	--oasis-terminal-color10: #366d27;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #7d490c;
	--oasis-terminal-color2: #306c4c;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #155ec0;
	--oasis-terminal-color5: #7f30dd;
	--oasis-terminal-color6: #376a62;
	--oasis-terminal-color7: #58554c;
	--oasis-terminal-color8: #5c534d;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #376a62;
	--oasis-terminal-green: #306c4c;
	--oasis-terminal-magenta: #7f30dd;
	--oasis-terminal-red: #a44040;
	--oasis-terminal-white: #58554c;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #1f7294;
	--oasis-theme-light-primary: #890606;
	--oasis-theme-palette-primary-50: #FEFBEB;
	--oasis-theme-palette-primary-100: #FBF6D8;
	--oasis-theme-palette-primary-200: #F9F2C5;
	--oasis-theme-palette-primary-300: #F6EEB2;
	--oasis-theme-palette-primary-400: #F3EA9F;
	--oasis-theme-palette-primary-500: #F0E68C;
	--oasis-theme-palette-primary-600: #CDC673;
	--oasis-theme-palette-primary-700: #BDB76B;
	--oasis-theme-palette-primary-800: #807C37;
	--oasis-theme-palette-primary-900: #4D4A1B;
	--oasis-theme-primary: #8f1919;
	--oasis-theme-secondary: #988c1a;
	--oasis-theme-strong-primary: #903232;
	--oasis-ui-border: #814343;
	--oasis-ui-curSearch-bg: #dd986f;
	--oasis-ui-curSearch-fg: #351908;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #e8e0d8;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #814343;
	--oasis-ui-float-fg: #943434;
	--oasis-ui-float-title: #943434;
	--oasis-ui-lineNumber: #794a1c;
	--oasis-ui-nontext: #998e83;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #943434;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}