/* extras/css/themes/light/1/oasis_abyss_light_1.css
 * name: Oasis Abyss Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="abyss_light_1"],
.oasis-abyss_light_1 {
	--oasis-name: "Oasis Abyss Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #e7e7e7;
	--oasis-bg-mantle: #d8d8d8;
	--oasis-bg-shadow: #dfdfdf;
	--oasis-bg-surface: #d0d0d0;
	--oasis-diff-add: #33604b;
	--oasis-diff-change: #575757;
	--oasis-diff-delete: #814747;
	--oasis-diff-text: #7b4c31;
	--oasis-fg-comment: #737067;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #78878c;
	--oasis-fg-muted: #6a685f;
	--oasis-fg-strong: #573224;
	--oasis-git-add: #25641c;
	--oasis-git-change: #814a13;
	--oasis-git-delete: #b30000;
	--oasis-syntax-bracket: #454952;
	--oasis-syntax-builtinConst: #5b55c4;
	--oasis-syntax-builtinFunc: #755021;
	--oasis-syntax-builtinVar: #7a1dd2;
	--oasis-syntax-comment: #6b685d;
	--oasis-syntax-conditional: #5e5832;
	--oasis-syntax-constant: #9b5011;
	--oasis-syntax-delimiter: #af454a;
	--oasis-syntax-exception: #af1319;
	--oasis-syntax-func: #5e482a;
	--oasis-syntax-identifier: #26647d;
	--oasis-syntax-macro: #793925;
	--oasis-syntax-operator: #5e592a;
	--oasis-syntax-parameter: #366832;
	--oasis-syntax-preproc: #9c341a;
	--oasis-syntax-punctuation: #514c2b;
	--oasis-syntax-regex: #aa4264;
	--oasis-syntax-special: #86470f;
	--oasis-syntax-statement: #70641a;
	--oasis-syntax-string: #981116;
	--oasis-syntax-type: #356660;
	--oasis-syntax-typedef: #2c524c;
	--oasis-terminal-black: #414141;
	--oasis-terminal-blue: #14589e;
	--oasis-terminal-bright-black: #494038;
	--oasis-terminal-bright-blue: #225e77;
	--oasis-terminal-bright-cyan: #306058;
	--oasis-terminal-bright-green: #34622e;
	--oasis-terminal-bright-magenta: #7323d5;
	--oasis-terminal-bright-red: #b01212;
	--oasis-terminal-bright-white: #494127;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #414141;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622e;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #225e77;
	--oasis-terminal-color13: #7323d5;
	--oasis-terminal-color14: #306058;
	--oasis-terminal-color15: #494127;
	--oasis-terminal-color2: #376133;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #14589e;
	--oasis-terminal-color5: #7422d5;
	--oasis-terminal-color6: #315f5a;
	--oasis-terminal-color7: #4d4110;
	--oasis-terminal-color8: #494038;
	--oasis-terminal-color9: #b01212;
	--oasis-terminal-cyan: #315f5a;
	--oasis-terminal-green: #376133;
	--oasis-terminal-magenta: #7422d5;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #4d4110;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #388032;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #686224;
	--oasis-theme-secondary: #870606;
	--oasis-theme-secondary-light: #7d0505;
	--oasis-theme-secondary-strong: #9a3535;
	--oasis-theme-strong-primary: #8c8643;
	--oasis-ui-border: #902222;
	--oasis-ui-cursorLine: #d8d8d8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #203f4c;
	--oasis-ui-float-bg: #d8d8d8;
	--oasis-ui-float-border-bg: #d8d8d8;
	--oasis-ui-float-border-fg: #c42e2e;
	--oasis-ui-float-fg: #4f4c2f;
	--oasis-ui-float-title: #4f4c2f;
	--oasis-ui-lineNumber: #955a23;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #d0d0d0;
	--oasis-ui-matchParen-fg: #75714a;
	--oasis-ui-nontext: #6b7c83;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #902222;
	--oasis-ui-visual-bg: #d0d0d0;
	--oasis-ui-visual-fg: none;
}