/* extras/css/themes/light/1/oasis_cactus_light_1.css
 * name: Oasis Cactus Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="cactus_light_1"],
.oasis-cactus_light_1 {
	--oasis-name: "Oasis Cactus Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f1f9f4;
	--oasis-bg-mantle: #e1f2e7;
	--oasis-bg-shadow: #e6f4ec;
	--oasis-bg-surface: #c6e7d2;
	--oasis-diff-add: #396b53;
	--oasis-diff-change: #506656;
	--oasis-diff-delete: #8e4f4f;
	--oasis-diff-text: #885436;
	--oasis-fg-comment: #6c7f6d;
	--oasis-fg-core: #161d19;
	--oasis-fg-dim: #978e87;
	--oasis-fg-muted: #69756b;
	--oasis-fg-strong: #344a38;
	--oasis-git-add: #296f1f;
	--oasis-git-change: #8f5215;
	--oasis-git-delete: #c50000;
	--oasis-syntax-bracket: #4d525c;
	--oasis-syntax-builtinConst: #6660c8;
	--oasis-syntax-builtinFunc: #825824;
	--oasis-syntax-builtinVar: #8627e1;
	--oasis-syntax-comment: #607863;
	--oasis-syntax-conditional: #3f6b42;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #527c55;
	--oasis-syntax-exception: #c0151b;
	--oasis-syntax-func: #6f4f25;
	--oasis-syntax-identifier: #2a6e89;
	--oasis-syntax-macro: #874029;
	--oasis-syntax-operator: #3e6b40;
	--oasis-syntax-parameter: #856013;
	--oasis-syntax-preproc: #ac3a1d;
	--oasis-syntax-punctuation: #375d39;
	--oasis-syntax-regex: #b15171;
	--oasis-syntax-special: #944e10;
	--oasis-syntax-statement: #467949;
	--oasis-syntax-string: #aa1318;
	--oasis-syntax-type: #3a7069;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #1661ae;
	--oasis-terminal-bright-black: #534940;
	--oasis-terminal-bright-blue: #266883;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c11313;
	--oasis-terminal-bright-white: #534a2c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #c11313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266883;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #534a2c;
	--oasis-terminal-color2: #3d6c39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1661ae;
	--oasis-terminal-color5: #7f30de;
	--oasis-terminal-color6: #366964;
	--oasis-terminal-color7: #574a13;
	--oasis-terminal-color8: #534940;
	--oasis-terminal-color9: #c11313;
	--oasis-terminal-cyan: #366964;
	--oasis-terminal-green: #3d6c39;
	--oasis-terminal-magenta: #7f30de;
	--oasis-terminal-red: #c11313;
	--oasis-terminal-white: #574a13;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #5107ab;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #2d552f;
	--oasis-theme-primary: #325a34;
	--oasis-theme-secondary: #870606;
	--oasis-theme-strong-primary: #4a844d;
	--oasis-ui-border: #4f6b50;
	--oasis-ui-cursorLine: #e1f2e7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #305f72;
	--oasis-ui-float-bg: #e1f2e7;
	--oasis-ui-float-border-bg: #e1f2e7;
	--oasis-ui-float-border-fg: #4f6b50;
	--oasis-ui-float-fg: #912222;
	--oasis-ui-float-title: #912222;
	--oasis-ui-lineNumber: #a36326;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #c6e7d2;
	--oasis-ui-matchParen-fg: #aa5b5b;
	--oasis-ui-nontext: #8f8276;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #4f6b50;
	--oasis-ui-visual-bg: #c6e7d2;
	--oasis-ui-visual-fg: none;
}