/* extras/css/themes/light/1/oasis_midnight_light_1.css
 * name: Oasis Midnight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="midnight_light_1"],
.oasis-midnight_light_1 {
	--oasis-name: "Oasis Midnight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f7f2f2;
	--oasis-bg-mantle: #f2e9e9;
	--oasis-bg-shadow: #ecdfdf;
	--oasis-bg-surface: #e6d6d6;
	--oasis-diff-add: #305b46;
	--oasis-diff-change: #3c5471;
	--oasis-diff-delete: #794343;
	--oasis-diff-text: #74482e;
	--oasis-fg-comment: #707984;
	--oasis-fg-core: #1a1816;
	--oasis-fg-dim: #918c87;
	--oasis-fg-muted: #677179;
	--oasis-fg-strong: #5b3b26;
	--oasis-git-add: #235e1a;
	--oasis-git-change: #5b530c;
	--oasis-git-delete: #aa0000;
	--oasis-syntax-bracket: #4b5059;
	--oasis-syntax-builtinConst: #635ec7;
	--oasis-syntax-builtinFunc: #7f5623;
	--oasis-syntax-builtinVar: #8321e0;
	--oasis-syntax-comment: #657084;
	--oasis-syntax-conditional: #655f36;
	--oasis-syntax-constant: #a65512;
	--oasis-syntax-delimiter: #767148;
	--oasis-syntax-exception: #bc151b;
	--oasis-syntax-func: #674e2e;
	--oasis-syntax-identifier: #296c86;
	--oasis-syntax-macro: #843e28;
	--oasis-syntax-operator: #65602e;
	--oasis-syntax-parameter: #3a7036;
	--oasis-syntax-preproc: #a8391c;
	--oasis-syntax-punctuation: #58532f;
	--oasis-syntax-regex: #b7476c;
	--oasis-syntax-special: #914d10;
	--oasis-syntax-statement: #786c1c;
	--oasis-syntax-string: #a51218;
	--oasis-syntax-type: #396d67;
	--oasis-syntax-typedef: #2f5a55;
	--oasis-terminal-black: #525252;
	--oasis-terminal-blue: #155fab;
	--oasis-terminal-bright-black: #5c5047;
	--oasis-terminal-bright-blue: #256580;
	--oasis-terminal-bright-cyan: #34675f;
	--oasis-terminal-bright-green: #386a31;
	--oasis-terminal-bright-magenta: #7c2cdd;
	--oasis-terminal-bright-red: #bd1313;
	--oasis-terminal-bright-white: #5b5231;
	--oasis-terminal-bright-yellow: #8b5015;
	--oasis-terminal-color0: #525252;
	--oasis-terminal-color1: #bd1313;
	--oasis-terminal-color10: #386a31;
	--oasis-terminal-color11: #8b5015;
	--oasis-terminal-color12: #256580;
	--oasis-terminal-color13: #7c2cdd;
	--oasis-terminal-color14: #34675f;
	--oasis-terminal-color15: #5b5231;
	--oasis-terminal-color2: #3c6938;
	--oasis-terminal-color3: #676022;
	--oasis-terminal-color4: #155fab;
	--oasis-terminal-color5: #7d2bdd;
	--oasis-terminal-color6: #356762;
	--oasis-terminal-color7: #615115;
	--oasis-terminal-color8: #5c5047;
	--oasis-terminal-color9: #bd1313;
	--oasis-terminal-cyan: #356762;
	--oasis-terminal-green: #3c6938;
	--oasis-terminal-magenta: #7d2bdd;
	--oasis-terminal-red: #bd1313;
	--oasis-terminal-white: #615115;
	--oasis-terminal-yellow: #676022;
	--oasis-theme-accent: #388032;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #686224;
	--oasis-theme-secondary: #870606;
	--oasis-theme-secondary-light: #7d0505;
	--oasis-theme-secondary-strong: #9a3535;
	--oasis-theme-strong-primary: #8c8643;
	--oasis-ui-border: #9c2525;
	--oasis-ui-cursorLine: #f2e9e9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #234755;
	--oasis-ui-float-bg: #f2e9e9;
	--oasis-ui-float-border-bg: #f2e9e9;
	--oasis-ui-float-border-fg: #cf3434;
	--oasis-ui-float-fg: #565433;
	--oasis-ui-float-title: #565433;
	--oasis-ui-lineNumber: #a06025;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e6d6d6;
	--oasis-ui-matchParen-fg: #7d7a4a;
	--oasis-ui-nontext: #888076;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #9c2525;
	--oasis-ui-visual-bg: #e6d6d6;
	--oasis-ui-visual-fg: none;
}