/* extras/css/themes/light/1/oasis_luna_light_1.css
 * name: Oasis Luna Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="luna_light_1"],
.oasis-luna_light_1 {
	--oasis-name: "Oasis Luna Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f9fb;
	--oasis-bg-mantle: #f0f0f5;
	--oasis-bg-shadow: #e7e7ef;
	--oasis-bg-surface: #dddde9;
	--oasis-diff-add: #335f49;
	--oasis-diff-change: #4e43bb;
	--oasis-diff-delete: #7e4646;
	--oasis-diff-text: #794b30;
	--oasis-fg-comment: #7d7893;
	--oasis-fg-core: #1f1a33;
	--oasis-fg-dim: #928f9f;
	--oasis-fg-muted: #747185;
	--oasis-fg-strong: #483c7f;
	--oasis-git-add: #24621b;
	--oasis-git-change: #5f570c;
	--oasis-git-delete: #b00000;
	--oasis-syntax-bracket: #4e535d;
	--oasis-syntax-builtinConst: #6762c9;
	--oasis-syntax-builtinFunc: #845924;
	--oasis-syntax-builtinVar: #8729e1;
	--oasis-syntax-comment: #786c9d;
	--oasis-syntax-conditional: #696337;
	--oasis-syntax-constant: #ac5813;
	--oasis-syntax-delimiter: #7a744a;
	--oasis-syntax-exception: #c3151c;
	--oasis-syntax-func: #6b5130;
	--oasis-syntax-identifier: #2a6f8b;
	--oasis-syntax-macro: #814534;
	--oasis-syntax-operator: #69632f;
	--oasis-syntax-parameter: #3c7538;
	--oasis-syntax-preproc: #9d4a30;
	--oasis-syntax-punctuation: #5c5731;
	--oasis-syntax-regex: #b94c70;
	--oasis-syntax-special: #965010;
	--oasis-syntax-statement: #7c6f1d;
	--oasis-syntax-string: #ac1319;
	--oasis-syntax-type: #3b716b;
	--oasis-syntax-typedef: #325e57;
	--oasis-terminal-black: #565656;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #60534a;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366b63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #5f5633;
	--oasis-terminal-bright-yellow: #915315;
	--oasis-terminal-color0: #565656;
	--oasis-terminal-color1: #c41414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #915315;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366b63;
	--oasis-terminal-color15: #5f5633;
	--oasis-terminal-color2: #3e6d39;
	--oasis-terminal-color3: #6a6323;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8132de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #655516;
	--oasis-terminal-color8: #60534a;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d39;
	--oasis-terminal-magenta: #8132de;
	--oasis-terminal-red: #c41414;
	--oasis-terminal-white: #655516;
	--oasis-terminal-yellow: #6a6323;
	--oasis-theme-accent: #1b7b98;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #786e14;
	--oasis-theme-secondary: #1c1c70;
	--oasis-theme-secondary-light: #15166d;
	--oasis-theme-secondary-strong: #8c8643;
	--oasis-theme-status: #24248f;
	--oasis-theme-strong-primary: #443798;
	--oasis-ui-border: #4a4aa8;
	--oasis-ui-cursorLine: #f0f0f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #254b59;
	--oasis-ui-float-bg: #f0f0f5;
	--oasis-ui-float-border-bg: #f0f0f5;
	--oasis-ui-float-border-fg: #6b6bbd;
	--oasis-ui-float-fg: #5c572a;
	--oasis-ui-float-title: #5c572a;
	--oasis-ui-lineNumber: #a56427;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #dddde9;
	--oasis-ui-matchParen-fg: #817d51;
	--oasis-ui-nontext: #868397;
	--oasis-ui-picker-bg: #f0f0f5;
	--oasis-ui-picker-border-bg: #f0f0f5;
	--oasis-ui-picker-border-fg: #857d3d;
	--oasis-ui-picker-fg: #5c572a;
	--oasis-ui-picker-title: #5c572a;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #5c572a;
	--oasis-ui-visual-bg: #dddde9;
	--oasis-ui-visual-fg: none;
}