/* extras/css/themes/light/1/oasis_night_light_1.css
 * name: Oasis Night Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="night_light_1"],
.oasis-night_light_1 {
	--oasis-name: "Oasis Night Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #eaedf1;
	--oasis-bg-mantle: #e0e6eb;
	--oasis-bg-shadow: #d7dee4;
	--oasis-bg-surface: #ced6de;
	--oasis-diff-add: #2e5743;
	--oasis-diff-change: #264d91;
	--oasis-diff-delete: #744040;
	--oasis-diff-text: #6f452c;
	--oasis-fg-comment: #876f63;
	--oasis-fg-core: #5f4c34;
	--oasis-fg-dim: #918780;
	--oasis-fg-muted: #7d675c;
	--oasis-fg-strong: #6b472c;
	--oasis-git-add: #215a19;
	--oasis-git-change: #57500b;
	--oasis-git-delete: #a30000;
	--oasis-syntax-bracket: #666c78;
	--oasis-syntax-builtinConst: #504ac0;
	--oasis-syntax-builtinFunc: #665b18;
	--oasis-syntax-builtinVar: #7a00f0;
	--oasis-syntax-comment: #876453;
	--oasis-syntax-conditional: #814714;
	--oasis-syntax-constant: #40403f;
	--oasis-syntax-delimiter: #864c1c;
	--oasis-syntax-exception: #b5141a;
	--oasis-syntax-func: #605616;
	--oasis-syntax-identifier: #25617a;
	--oasis-syntax-operator: #874c15;
	--oasis-syntax-parameter: #23571e;
	--oasis-syntax-preproc: #77550d;
	--oasis-syntax-punctuation: #884b16;
	--oasis-syntax-regex: #8d435b;
	--oasis-syntax-special: #635c29;
	--oasis-syntax-statement: #874c15;
	--oasis-syntax-string: #a9181c;
	--oasis-syntax-type: #315d58;
	--oasis-terminal-black: #6c453b;
	--oasis-terminal-blue: #145ca4;
	--oasis-terminal-bright-black: #664838;
	--oasis-terminal-bright-blue: #23617b;
	--oasis-terminal-bright-cyan: #32635c;
	--oasis-terminal-bright-green: #36662f;
	--oasis-terminal-bright-magenta: #7725dc;
	--oasis-terminal-bright-red: #b61212;
	--oasis-terminal-bright-white: #574f2f;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #6c453b;
	--oasis-terminal-color1: #b61212;
	--oasis-terminal-color10: #36662f;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617b;
	--oasis-terminal-color13: #7725dc;
	--oasis-terminal-color14: #32635c;
	--oasis-terminal-color15: #574f2f;
	--oasis-terminal-color2: #396535;
	--oasis-terminal-color3: #625c21;
	--oasis-terminal-color4: #145ca4;
	--oasis-terminal-color5: #7824dc;
	--oasis-terminal-color6: #33635e;
	--oasis-terminal-color7: #5c4e14;
	--oasis-terminal-color8: #664838;
	--oasis-terminal-color9: #b61212;
	--oasis-terminal-cyan: #33635e;
	--oasis-terminal-green: #396535;
	--oasis-terminal-magenta: #7824dc;
	--oasis-terminal-red: #b61212;
	--oasis-terminal-white: #5c4e14;
	--oasis-terminal-yellow: #625c21;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #2c4962;
	--oasis-theme-primary: #355374;
	--oasis-theme-secondary: #988c1a;
	--oasis-theme-strong-primary: #3c6085;
	--oasis-ui-border: #3e5165;
	--oasis-ui-cursorLine: #e0e6eb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2a5465;
	--oasis-ui-float-bg: #e0e6eb;
	--oasis-ui-float-border-bg: #e0e6eb;
	--oasis-ui-float-border-fg: #3e5165;
	--oasis-ui-float-fg: #3e5165;
	--oasis-ui-float-title: #3e5165;
	--oasis-ui-lineNumber: #71441a;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #ced6de;
	--oasis-ui-matchParen-fg: #525034;
	--oasis-ui-nontext: #818a94;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3e5165;
	--oasis-ui-visual-bg: #ced6de;
	--oasis-ui-visual-fg: none;
}