/* extras/css/themes/light/1/oasis_midnight_light_1.css
 * name: Oasis Midnight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="midnight_light_1"],
.oasis-midnight_light_1 {
	--oasis-name: "Oasis Midnight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #eceff4;
	--oasis-bg-crust: #e7ebf1;
	--oasis-bg-mantle: #dde3ec;
	--oasis-bg-shadow: #e2e7ee;
	--oasis-bg-surface: #c5cede;
	--oasis-diff-add: #36654e;
	--oasis-diff-change: #435e7d;
	--oasis-diff-delete: #874b4b;
	--oasis-diff-text: #815034;
	--oasis-fg-comment: #6d7681;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #8e8983;
	--oasis-fg-muted: #646e77;
	--oasis-fg-strong: #424221;
	--oasis-git-add: #27691d;
	--oasis-git-change: #884e14;
	--oasis-git-delete: #bc0000;
	--oasis-syntax-bracket: #494e57;
	--oasis-syntax-builtin-const: #605ac6;
	--oasis-syntax-builtin-func: #7e5238;
	--oasis-syntax-builtin-var: #801fdc;
	--oasis-syntax-comment: #626e81;
	--oasis-syntax-conditional: #635d34;
	--oasis-syntax-constant: #a25312;
	--oasis-syntax-delimiter: #a95355;
	--oasis-syntax-exception: #b7141a;
	--oasis-syntax-func: #6e472f;
	--oasis-syntax-identifier: #286983;
	--oasis-syntax-macro: #485528;
	--oasis-syntax-operator: #635d2d;
	--oasis-syntax-parameter: #386e34;
	--oasis-syntax-preproc: #53612d;
	--oasis-syntax-punctuation: #54512d;
	--oasis-syntax-regex: #b6416f;
	--oasis-syntax-special: #8d4b0f;
	--oasis-syntax-statement: #75691b;
	--oasis-syntax-string: #a01217;
	--oasis-syntax-type: #356c5c;
	--oasis-syntax-typedef: #2f574d;
	--oasis-terminal-black: #464646;
	--oasis-terminal-blue: #155da6;
	--oasis-terminal-bright-black: #4e443c;
	--oasis-terminal-bright-blue: #24637d;
	--oasis-terminal-bright-cyan: #366458;
	--oasis-terminal-bright-green: #366730;
	--oasis-terminal-bright-magenta: #7927dc;
	--oasis-terminal-bright-red: #b81212;
	--oasis-terminal-bright-white: #48480f;
	--oasis-terminal-bright-yellow: #884e14;
	--oasis-terminal-color0: #464646;
	--oasis-terminal-color1: #b81212;
	--oasis-terminal-color10: #366730;
	--oasis-terminal-color11: #884e14;
	--oasis-terminal-color12: #24637d;
	--oasis-terminal-color13: #7927dc;
	--oasis-terminal-color14: #366458;
	--oasis-terminal-color15: #48480f;
	--oasis-terminal-color2: #3a6636;
	--oasis-terminal-color3: #645d21;
	--oasis-terminal-color4: #155da6;
	--oasis-terminal-color5: #7a26dc;
	--oasis-terminal-color6: #396458;
	--oasis-terminal-color7: #484822;
	--oasis-terminal-color8: #4e443c;
	--oasis-terminal-color9: #b81212;
	--oasis-terminal-cyan: #396458;
	--oasis-terminal-green: #3a6636;
	--oasis-terminal-magenta: #7a26dc;
	--oasis-terminal-red: #b81212;
	--oasis-terminal-white: #484822;
	--oasis-terminal-yellow: #645d21;
	--oasis-theme-accent: #388032;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-primary: #696224;
	--oasis-theme-primary-light: #706612;
	--oasis-theme-primary-strong: #8c8643;
	--oasis-theme-secondary: #870606;
	--oasis-theme-secondary-light: #7d0505;
	--oasis-theme-secondary-strong: #9a3535;
	--oasis-theme-title: #7d2b2b;
	--oasis-ui-border: #65613c;
	--oasis-ui-cursor-line: #dde3ec;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #dde3ec;
	--oasis-ui-float-border-bg: #dde3ec;
	--oasis-ui-float-border-fg: #65613c;
	--oasis-ui-float-fg: #882020;
	--oasis-ui-float-title: #882020;
	--oasis-ui-line-number: #9c5e24;
	--oasis-ui-match-bg: #b9d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-match-parent-bg: #c5cede;
	--oasis-ui-match-parent-fg: #a65555;
	--oasis-ui-nontext: #867e74;
	--oasis-ui-picker-bg: #dde3ec;
	--oasis-ui-picker-border-bg: #dde3ec;
	--oasis-ui-picker-border-fg: #636143;
	--oasis-ui-picker-fg: #545132;
	--oasis-ui-picker-title: #545132;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #b42a2a;
	--oasis-ui-visual-bg: #c5cede;
	--oasis-ui-visual-fg: none;
}