/* extras/css/themes/light/1/oasis_midnight_light_1.css
 * name: Oasis Midnight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="midnight_light_1"],
.oasis-midnight_light_1 {
	--oasis-name: "Oasis Midnight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #eceff4;
	--oasis-bg-mantle: #d9dfe9;
	--oasis-bg-shadow: #e2e7ee;
	--oasis-bg-surface: #cfd7e3;
	--oasis-diff-add: #36654e;
	--oasis-diff-change: #435e7d;
	--oasis-diff-delete: #874b4b;
	--oasis-diff-text: #815034;
	--oasis-fg-comment: #6d7681;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #8e8983;
	--oasis-fg-muted: #646e77;
	--oasis-fg-strong: #583925;
	--oasis-git-add: #27691d;
	--oasis-git-change: #884e14;
	--oasis-git-delete: #bc0000;
	--oasis-syntax-bracket: #494e57;
	--oasis-syntax-builtinConst: #605ac6;
	--oasis-syntax-builtinFunc: #7c5422;
	--oasis-syntax-builtinVar: #801fdc;
	--oasis-syntax-comment: #626e81;
	--oasis-syntax-conditional: #635d34;
	--oasis-syntax-constant: #a25312;
	--oasis-syntax-delimiter: #736e46;
	--oasis-syntax-exception: #b7141a;
	--oasis-syntax-func: #644c2c;
	--oasis-syntax-identifier: #286983;
	--oasis-syntax-macro: #803c27;
	--oasis-syntax-operator: #635d2d;
	--oasis-syntax-parameter: #386e34;
	--oasis-syntax-preproc: #a4371c;
	--oasis-syntax-punctuation: #56512d;
	--oasis-syntax-regex: #b24569;
	--oasis-syntax-special: #8d4b0f;
	--oasis-syntax-statement: #75691b;
	--oasis-syntax-string: #a01217;
	--oasis-syntax-type: #386a65;
	--oasis-syntax-typedef: #2d5752;
	--oasis-terminal-black: #464646;
	--oasis-terminal-blue: #155da6;
	--oasis-terminal-bright-black: #4e443c;
	--oasis-terminal-bright-blue: #24637d;
	--oasis-terminal-bright-cyan: #33655d;
	--oasis-terminal-bright-green: #366730;
	--oasis-terminal-bright-magenta: #7927dc;
	--oasis-terminal-bright-red: #b81212;
	--oasis-terminal-bright-white: #4d4629;
	--oasis-terminal-bright-yellow: #884e14;
	--oasis-terminal-color0: #464646;
	--oasis-terminal-color1: #b81212;
	--oasis-terminal-color10: #366730;
	--oasis-terminal-color11: #884e14;
	--oasis-terminal-color12: #24637d;
	--oasis-terminal-color13: #7927dc;
	--oasis-terminal-color14: #33655d;
	--oasis-terminal-color15: #4d4629;
	--oasis-terminal-color2: #3a6636;
	--oasis-terminal-color3: #645d21;
	--oasis-terminal-color4: #155da6;
	--oasis-terminal-color5: #7a26dc;
	--oasis-terminal-color6: #33645f;
	--oasis-terminal-color7: #524512;
	--oasis-terminal-color8: #4e443c;
	--oasis-terminal-color9: #b81212;
	--oasis-terminal-cyan: #33645f;
	--oasis-terminal-green: #3a6636;
	--oasis-terminal-magenta: #7a26dc;
	--oasis-terminal-red: #b81212;
	--oasis-terminal-white: #524512;
	--oasis-terminal-yellow: #645d21;
	--oasis-theme-accent: #388032;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #686224;
	--oasis-theme-secondary: #870606;
	--oasis-theme-secondary-light: #7d0505;
	--oasis-theme-secondary-strong: #9a3535;
	--oasis-theme-strong-primary: #8c8643;
	--oasis-ui-border: #982323;
	--oasis-ui-cursorLine: #d9dfe9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #224452;
	--oasis-ui-float-bg: #d9dfe9;
	--oasis-ui-float-border-bg: #d9dfe9;
	--oasis-ui-float-border-fg: #cd3030;
	--oasis-ui-float-fg: #545132;
	--oasis-ui-float-title: #545132;
	--oasis-ui-lineNumber: #9c5e24;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #cfd7e3;
	--oasis-ui-matchParen-fg: #7a7749;
	--oasis-ui-nontext: #867e74;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #982323;
	--oasis-ui-visual-bg: #cfd7e3;
	--oasis-ui-visual-fg: none;
}