/* extras/css/themes/light/1/oasis_twilight_light_1.css
 * name: Oasis Twilight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="twilight_light_1"],
.oasis-twilight_light_1 {
	--oasis-name: "Oasis Twilight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f9fb;
	--oasis-bg-mantle: #f0f0f5;
	--oasis-bg-shadow: #e7e7ef;
	--oasis-bg-surface: #dddde9;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #694885;
	--oasis-diff-delete: #7e4646;
	--oasis-diff-text: #784b30;
	--oasis-fg-comment: #7f7890;
	--oasis-fg-core: #5b4f7e;
	--oasis-fg-dim: #988f89;
	--oasis-fg-muted: #767085;
	--oasis-fg-strong: #614797;
	--oasis-git-add: #24621b;
	--oasis-git-change: #5f570c;
	--oasis-git-delete: #b00000;
	--oasis-syntax-bracket: #6d7381;
	--oasis-syntax-builtinConst: #5853c4;
	--oasis-syntax-builtinFunc: #8c560f;
	--oasis-syntax-builtinVar: #8404ff;
	--oasis-syntax-comment: #796e90;
	--oasis-syntax-conditional: #8b4d16;
	--oasis-syntax-constant: #474746;
	--oasis-syntax-delimiter: #8b5444;
	--oasis-syntax-exception: #c3151c;
	--oasis-syntax-func: #84510e;
	--oasis-syntax-identifier: #286983;
	--oasis-syntax-operator: #905317;
	--oasis-syntax-parameter: #275f21;
	--oasis-syntax-preproc: #6b632c;
	--oasis-syntax-punctuation: #925217;
	--oasis-syntax-regex: #984862;
	--oasis-syntax-special: #965010;
	--oasis-syntax-statement: #925217;
	--oasis-syntax-string: #b71a1f;
	--oasis-syntax-type: #35655f;
	--oasis-terminal-black: #565656;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #60544a;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366b63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #5f5633;
	--oasis-terminal-bright-yellow: #905315;
	--oasis-terminal-color0: #565656;
	--oasis-terminal-color1: #c41414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #905315;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366b63;
	--oasis-terminal-color15: #5f5633;
	--oasis-terminal-color2: #3e6d3a;
	--oasis-terminal-color3: #6a6323;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8132de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #645516;
	--oasis-terminal-color8: #60544a;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d3a;
	--oasis-terminal-magenta: #8132de;
	--oasis-terminal-red: #c41414;
	--oasis-terminal-white: #645516;
	--oasis-terminal-yellow: #6a6323;
	--oasis-theme-accent: #988c1a;
	--oasis-theme-label: #847e34;
	--oasis-theme-light-primary: #832c0c;
	--oasis-theme-primary: #992f10;
	--oasis-theme-secondary: #5107ab;
	--oasis-theme-strong-primary: #9c4626;
	--oasis-ui-border: #8b4029;
	--oasis-ui-cursorLine: #f0f0f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2e5b6e;
	--oasis-ui-float-bg: #f0f0f5;
	--oasis-ui-float-border-bg: #f0f0f5;
	--oasis-ui-float-border-fg: #8b4029;
	--oasis-ui-float-fg: #8b4029;
	--oasis-ui-float-title: #8b4029;
	--oasis-ui-lineNumber: #7b4a1d;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #dddde9;
	--oasis-ui-matchParen-fg: #5a5735;
	--oasis-ui-nontext: #998f86;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #8b4029;
	--oasis-ui-visual-bg: #dddde9;
	--oasis-ui-visual-fg: none;
}