/* extras/css/themes/light/1/oasis_dune_light_1.css
 * name: Oasis Dune Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="dune_light_1"],
.oasis-dune_light_1 {
	--oasis-name: "Oasis Dune Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #5f5346;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #774a30;
	--oasis-fg-comment: #847870;
	--oasis-fg-core: #1c1c19;
	--oasis-fg-dim: #909090;
	--oasis-fg-muted: #7b7066;
	--oasis-fg-strong: #47462e;
	--oasis-git-add: #24611b;
	--oasis-git-change: #5e560c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #4d525c;
	--oasis-syntax-builtinConst: #6661c8;
	--oasis-syntax-builtinFunc: #825824;
	--oasis-syntax-builtinVar: #8627e1;
	--oasis-syntax-comment: #7e6f66;
	--oasis-syntax-conditional: #686237;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #797349;
	--oasis-syntax-exception: #c1151c;
	--oasis-syntax-func: #6a502f;
	--oasis-syntax-identifier: #2a6e8a;
	--oasis-syntax-macro: #884029;
	--oasis-syntax-operator: #6a622c;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #ad3a1d;
	--oasis-syntax-punctuation: #5b5629;
	--oasis-syntax-regex: #b94a6f;
	--oasis-syntax-special: #954f10;
	--oasis-syntax-statement: #7b6e1d;
	--oasis-syntax-string: #aa1318;
	--oasis-syntax-type: #3b706a;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #5f5349;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #396d33;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #5e5532;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #c21313;
	--oasis-terminal-color10: #396d33;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #5e5532;
	--oasis-terminal-color2: #3d6c39;
	--oasis-terminal-color3: #696323;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8030de;
	--oasis-terminal-color6: #366a64;
	--oasis-terminal-color7: #635415;
	--oasis-terminal-color8: #5f5349;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #366a64;
	--oasis-terminal-green: #3d6c39;
	--oasis-terminal-magenta: #8030de;
	--oasis-terminal-red: #c21313;
	--oasis-terminal-white: #635415;
	--oasis-terminal-yellow: #696323;
	--oasis-theme-accent: #5107ab;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #397e76;
	--oasis-theme-light-primary: #706512;
	--oasis-theme-primary: #686224;
	--oasis-theme-secondary: #2b6159;
	--oasis-theme-strong-primary: #8c7c43;
	--oasis-ui-border: #58563c;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #254a58;
	--oasis-ui-float-bg: #f3efeb;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #767450;
	--oasis-ui-float-fg: #385b56;
	--oasis-ui-float-title: #385b56;
	--oasis-ui-lineNumber: #a36326;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e8e0d8;
	--oasis-ui-matchParen-fg: #50837e;
	--oasis-ui-nontext: #848484;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #595635;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}