/* extras/css/themes/light/1/oasis_moonlight_light_1.css
 * name: Oasis Moonlight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="moonlight_light_1"],
.oasis-moonlight_light_1 {
	--oasis-name: "Oasis Moonlight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f3f2eb;
	--oasis-bg-mantle: #e8e6d8;
	--oasis-bg-shadow: #edece1;
	--oasis-bg-surface: #e2dfce;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #475f82;
	--oasis-diff-delete: #8a4c4c;
	--oasis-diff-text: #845235;
	--oasis-fg-comment: #6f7883;
	--oasis-fg-core: #191615;
	--oasis-fg-dim: #878c94;
	--oasis-fg-muted: #667078;
	--oasis-fg-strong: #2c4265;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f15;
	--oasis-git-delete: #c00000;
	--oasis-syntax-bracket: #4b4f58;
	--oasis-syntax-builtinConst: #625dc7;
	--oasis-syntax-builtinFunc: #7e5623;
	--oasis-syntax-builtinVar: #8220e0;
	--oasis-syntax-comment: #646f83;
	--oasis-syntax-conditional: #645f35;
	--oasis-syntax-constant: #a55512;
	--oasis-syntax-delimiter: #3673a4;
	--oasis-syntax-exception: #bb141b;
	--oasis-syntax-func: #664d2d;
	--oasis-syntax-identifier: #296b85;
	--oasis-syntax-macro: #7b4231;
	--oasis-syntax-operator: #655f2d;
	--oasis-syntax-parameter: #397035;
	--oasis-syntax-preproc: #a7381c;
	--oasis-syntax-punctuation: #57522e;
	--oasis-syntax-regex: #b5476b;
	--oasis-syntax-special: #904c10;
	--oasis-syntax-statement: #776b1c;
	--oasis-syntax-string: #a41217;
	--oasis-syntax-type: #396c64;
	--oasis-syntax-typedef: #2f5954;
	--oasis-terminal-black: #484848;
	--oasis-terminal-blue: #155fa9;
	--oasis-terminal-bright-black: #50463e;
	--oasis-terminal-bright-blue: #24647f;
	--oasis-terminal-bright-cyan: #34675f;
	--oasis-terminal-bright-green: #376931;
	--oasis-terminal-bright-magenta: #7b2bdd;
	--oasis-terminal-bright-red: #bc1313;
	--oasis-terminal-bright-white: #4f472a;
	--oasis-terminal-bright-yellow: #8a4f15;
	--oasis-terminal-color0: #484848;
	--oasis-terminal-color1: #bc1313;
	--oasis-terminal-color10: #376931;
	--oasis-terminal-color11: #8a4f15;
	--oasis-terminal-color12: #24647f;
	--oasis-terminal-color13: #7b2bdd;
	--oasis-terminal-color14: #34675f;
	--oasis-terminal-color15: #4f472a;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #665f22;
	--oasis-terminal-color4: #155fa9;
	--oasis-terminal-color5: #7c2add;
	--oasis-terminal-color6: #346661;
	--oasis-terminal-color7: #544712;
	--oasis-terminal-color8: #50463e;
	--oasis-terminal-color9: #bc1313;
	--oasis-terminal-cyan: #346661;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c2add;
	--oasis-terminal-red: #bc1313;
	--oasis-terminal-white: #544712;
	--oasis-terminal-yellow: #665f22;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #28425a;
	--oasis-theme-primary: #2c4560;
	--oasis-theme-secondary: #786e14;
	--oasis-theme-strong-primary: #40668e;
	--oasis-ui-border: #405469;
	--oasis-ui-cursorLine: #e8e6d8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #234654;
	--oasis-ui-float-bg: #e8e6d8;
	--oasis-ui-float-border-bg: #e8e6d8;
	--oasis-ui-float-border-fg: #56718e;
	--oasis-ui-float-fg: #585328;
	--oasis-ui-float-title: #585328;
	--oasis-ui-lineNumber: #9e6025;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #e2dfce;
	--oasis-ui-matchParen-fg: #7c784e;
	--oasis-ui-nontext: #78828d;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #405469;
	--oasis-ui-visual-bg: #e2dfce;
	--oasis-ui-visual-fg: none;
}