/* extras/css/themes/light/1/oasis_moonlight_light_1.css
 * name: Oasis Moonlight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="moonlight_light_1"],
.oasis-moonlight_light_1 {
	--oasis-name: "Oasis Moonlight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f7f6f2;
	--oasis-bg-mantle: #f2efe9;
	--oasis-bg-shadow: #ece9df;
	--oasis-bg-surface: #e6e2d6;
	--oasis-diff-add: #315d48;
	--oasis-diff-change: #3f5575;
	--oasis-diff-delete: #7c4444;
	--oasis-diff-text: #76492f;
	--oasis-fg-comment: #727b86;
	--oasis-fg-core: #1d1a18;
	--oasis-fg-dim: #8a8f97;
	--oasis-fg-muted: #68737b;
	--oasis-fg-strong: #2e4569;
	--oasis-git-add: #23601b;
	--oasis-git-change: #5d550c;
	--oasis-git-delete: #ad0000;
	--oasis-syntax-bracket: #4d525b;
	--oasis-syntax-builtinConst: #6560c8;
	--oasis-syntax-builtinFunc: #815824;
	--oasis-syntax-builtinVar: #8525e1;
	--oasis-syntax-comment: #667286;
	--oasis-syntax-conditional: #676136;
	--oasis-syntax-constant: #a95712;
	--oasis-syntax-delimiter: #3776a8;
	--oasis-syntax-exception: #bf151b;
	--oasis-syntax-func: #69502f;
	--oasis-syntax-identifier: #2a6d89;
	--oasis-syntax-macro: #7f4433;
	--oasis-syntax-operator: #67612e;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #ab3a1d;
	--oasis-syntax-punctuation: #5a5530;
	--oasis-syntax-regex: #b8496e;
	--oasis-syntax-special: #934e10;
	--oasis-syntax-statement: #7a6d1c;
	--oasis-syntax-string: #a81218;
	--oasis-syntax-type: #3a6f67;
	--oasis-syntax-typedef: #305c56;
	--oasis-terminal-black: #3a557d;
	--oasis-terminal-blue: #1561ae;
	--oasis-terminal-bright-black: #475663;
	--oasis-terminal-bright-blue: #256782;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7e2fdd;
	--oasis-terminal-bright-red: #c01313;
	--oasis-terminal-bright-white: #5d5432;
	--oasis-terminal-bright-yellow: #8e5115;
	--oasis-terminal-color0: #3a557d;
	--oasis-terminal-color1: #c01313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8e5115;
	--oasis-terminal-color12: #256782;
	--oasis-terminal-color13: #7e2fdd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #5d5432;
	--oasis-terminal-color2: #3d6b38;
	--oasis-terminal-color3: #686223;
	--oasis-terminal-color4: #1561ae;
	--oasis-terminal-color5: #7f2edd;
	--oasis-terminal-color6: #356963;
	--oasis-terminal-color7: #635315;
	--oasis-terminal-color8: #475663;
	--oasis-terminal-color9: #c01313;
	--oasis-terminal-cyan: #356963;
	--oasis-terminal-green: #3d6b38;
	--oasis-terminal-magenta: #7f2edd;
	--oasis-terminal-red: #c01313;
	--oasis-terminal-white: #635315;
	--oasis-terminal-yellow: #686223;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #28425a;
	--oasis-theme-primary: #2c4560;
	--oasis-theme-secondary: #786e14;
	--oasis-theme-strong-primary: #40668e;
	--oasis-ui-border: #42566c;
	--oasis-ui-cursorLine: #f2efe9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #244857;
	--oasis-ui-float-bg: #f2efe9;
	--oasis-ui-float-border-bg: #f2efe9;
	--oasis-ui-float-border-fg: #587491;
	--oasis-ui-float-fg: #5a5529;
	--oasis-ui-float-title: #5a5529;
	--oasis-ui-lineNumber: #a26226;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #e6e2d6;
	--oasis-ui-matchParen-fg: #7f7b50;
	--oasis-ui-nontext: #7b848f;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #42566c;
	--oasis-ui-visual-bg: #e6e2d6;
	--oasis-ui-visual-fg: none;
}