/* extras/css/themes/light/1/oasis_rose_light_1.css
 * name: Oasis Rose Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="rose_light_1"],
.oasis-rose_light_1 {
	--oasis-name: "Oasis Rose Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #faeef5;
	--oasis-bg-mantle: #f5dceb;
	--oasis-bg-shadow: #f7e2ee;
	--oasis-bg-surface: #ecbfd9;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #75536b;
	--oasis-diff-delete: #894c4c;
	--oasis-diff-text: #835234;
	--oasis-fg-comment: #83727b;
	--oasis-fg-core: #201317;
	--oasis-fg-dim: #928a84;
	--oasis-fg-muted: #7a6a74;
	--oasis-fg-strong: #54394d;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f14;
	--oasis-git-delete: #bf0000;
	--oasis-syntax-bracket: #4a4f58;
	--oasis-syntax-builtinConst: #625cc6;
	--oasis-syntax-builtinFunc: #7e5523;
	--oasis-syntax-builtinVar: #821fdf;
	--oasis-syntax-comment: #856674;
	--oasis-syntax-conditional: #90465e;
	--oasis-syntax-constant: #a45412;
	--oasis-syntax-delimiter: #945f70;
	--oasis-syntax-exception: #ba141b;
	--oasis-syntax-func: #6a4b24;
	--oasis-syntax-identifier: #286b85;
	--oasis-syntax-macro: #7b4231;
	--oasis-syntax-operator: #94435e;
	--oasis-syntax-parameter: #396f35;
	--oasis-syntax-preproc: #a6381c;
	--oasis-syntax-punctuation: #7d3d52;
	--oasis-syntax-regex: #d7181f;
	--oasis-syntax-special: #8f4c10;
	--oasis-syntax-statement: #b04468;
	--oasis-syntax-string: #5b5215;
	--oasis-syntax-type: #396c66;
	--oasis-syntax-typedef: #2e5954;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #155ea9;
	--oasis-terminal-bright-black: #50453d;
	--oasis-terminal-bright-blue: #24647f;
	--oasis-terminal-bright-cyan: #33665e;
	--oasis-terminal-bright-green: #376831;
	--oasis-terminal-bright-magenta: #7b2adc;
	--oasis-terminal-bright-red: #bb1313;
	--oasis-terminal-bright-white: #4f472a;
	--oasis-terminal-bright-yellow: #8a4f14;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #bb1313;
	--oasis-terminal-color10: #376831;
	--oasis-terminal-color11: #8a4f14;
	--oasis-terminal-color12: #24647f;
	--oasis-terminal-color13: #7b2adc;
	--oasis-terminal-color14: #33665e;
	--oasis-terminal-color15: #4f472a;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #655f22;
	--oasis-terminal-color4: #155ea9;
	--oasis-terminal-color5: #7b29dd;
	--oasis-terminal-color6: #346660;
	--oasis-terminal-color7: #534612;
	--oasis-terminal-color8: #50453d;
	--oasis-terminal-color9: #bb1313;
	--oasis-terminal-cyan: #346660;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7b29dd;
	--oasis-terminal-red: #bb1313;
	--oasis-terminal-white: #534612;
	--oasis-terminal-yellow: #655f22;
	--oasis-theme-accent: #377c71;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #427645;
	--oasis-theme-light-primary: #622135;
	--oasis-theme-primary: #65283c;
	--oasis-theme-secondary: #325b33;
	--oasis-theme-strong-primary: #903e59;
	--oasis-ui-border: #825463;
	--oasis-ui-cursorLine: #f5dceb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2e5c6e;
	--oasis-ui-float-bg: #f5dceb;
	--oasis-ui-float-border-bg: #f5dceb;
	--oasis-ui-float-border-fg: #825463;
	--oasis-ui-float-fg: #3a4e3a;
	--oasis-ui-float-title: #3a4e3a;
	--oasis-ui-lineNumber: #9e6025;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #ecbfd9;
	--oasis-ui-matchParen-fg: #42795c;
	--oasis-ui-nontext: #8b7e75;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #865264;
	--oasis-ui-visual-bg: #ecbfd9;
	--oasis-ui-visual-fg: none;
}