/* extras/css/themes/light/1/oasis_lagoon_light_1.css
 * name: Oasis Lagoon Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="lagoon_light_1"],
.oasis-lagoon_light_1 {
	--oasis-name: "Oasis Lagoon Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f7fafe;
	--oasis-bg-mantle: #dce9fb;
	--oasis-bg-shadow: #e9f2fc;
	--oasis-bg-surface: #cee0f9;
	--oasis-diff-add: #3a6c54;
	--oasis-diff-change: #3c62a1;
	--oasis-diff-delete: #905050;
	--oasis-diff-text: #8a5637;
	--oasis-fg-comment: #687f8c;
	--oasis-fg-core: #161e2a;
	--oasis-fg-dim: #999089;
	--oasis-fg-muted: #617683;
	--oasis-fg-strong: #394854;
	--oasis-git-add: #29711f;
	--oasis-git-change: #915316;
	--oasis-git-delete: #c80000;
	--oasis-syntax-bracket: #4f545d;
	--oasis-syntax-builtinConst: #6862c9;
	--oasis-syntax-builtinFunc: #845a25;
	--oasis-syntax-builtinVar: #882ae1;
	--oasis-syntax-comment: #56788e;
	--oasis-syntax-conditional: #1465aa;
	--oasis-syntax-constant: #ac5813;
	--oasis-syntax-delimiter: #2977ba;
	--oasis-syntax-exception: #c4151c;
	--oasis-syntax-func: #715026;
	--oasis-syntax-identifier: #2b708c;
	--oasis-syntax-macro: #5c5731;
	--oasis-syntax-operator: #1561bd;
	--oasis-syntax-parameter: #3c7538;
	--oasis-syntax-preproc: #6b632c;
	--oasis-syntax-punctuation: #1255a6;
	--oasis-syntax-regex: #b15373;
	--oasis-syntax-special: #975010;
	--oasis-syntax-statement: #1872bf;
	--oasis-syntax-string: #ac1319;
	--oasis-syntax-type: #3b7269;
	--oasis-syntax-typedef: #315e59;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #554a42;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366c63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8134de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #544c2d;
	--oasis-terminal-bright-yellow: #915316;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #c41414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #915316;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8134de;
	--oasis-terminal-color14: #366c63;
	--oasis-terminal-color15: #544c2d;
	--oasis-terminal-color2: #3e6d3a;
	--oasis-terminal-color3: #6b6424;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8133de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #594b13;
	--oasis-terminal-color8: #554a42;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d3a;
	--oasis-terminal-magenta: #8133de;
	--oasis-terminal-red: #c41414;
	--oasis-terminal-white: #594b13;
	--oasis-terminal-yellow: #6b6424;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #06497c;
	--oasis-theme-primary: #075085;
	--oasis-theme-secondary: #81460c;
	--oasis-theme-strong-primary: #1e75b1;
	--oasis-ui-border: #235a81;
	--oasis-ui-cursorLine: #dce9fb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #254b5a;
	--oasis-ui-float-bg: #dce9fb;
	--oasis-ui-float-border-bg: #dce9fb;
	--oasis-ui-float-border-fg: #3079ad;
	--oasis-ui-float-fg: #784c22;
	--oasis-ui-float-title: #784c22;
	--oasis-ui-lineNumber: #a56427;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #cee0f9;
	--oasis-ui-matchParen-fg: #b46932;
	--oasis-ui-nontext: #908378;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #235a81;
	--oasis-ui-visual-bg: #cee0f9;
	--oasis-ui-visual-fg: none;
}