/* extras/css/themes/light/1/oasis_mirage_light_1.css
 * name: Oasis Mirage Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="mirage_light_1"],
.oasis-mirage_light_1 {
	--oasis-name: "Oasis Mirage Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9fbfa;
	--oasis-bg-mantle: #f0f5f2;
	--oasis-bg-shadow: #e7efeb;
	--oasis-bg-surface: #dde9e3;
	--oasis-diff-add: #335f4a;
	--oasis-diff-change: #3d5b65;
	--oasis-diff-delete: #7f4747;
	--oasis-diff-text: #794b31;
	--oasis-fg-comment: #65827d;
	--oasis-fg-core: #455b5b;
	--oasis-fg-dim: #9a9089;
	--oasis-fg-muted: #687776;
	--oasis-fg-strong: #415c55;
	--oasis-git-add: #226410;
	--oasis-git-change: #60580a;
	--oasis-git-delete: #b20000;
	--oasis-syntax-bracket: #6c7484;
	--oasis-syntax-builtinConst: #5b6373;
	--oasis-syntax-builtinFunc: #9d4c11;
	--oasis-syntax-builtinVar: #636361;
	--oasis-syntax-comment: #4c7d74;
	--oasis-syntax-conditional: #346660;
	--oasis-syntax-constant: #484847;
	--oasis-syntax-delimiter: #3e6b66;
	--oasis-syntax-exception: #bb292d;
	--oasis-syntax-func: #8f4c10;
	--oasis-syntax-identifier: #1a65aa;
	--oasis-syntax-operator: #c4151c;
	--oasis-syntax-parameter: #7100de;
	--oasis-syntax-preproc: #8d560f;
	--oasis-syntax-punctuation: #c11e23;
	--oasis-syntax-regex: #337022;
	--oasis-syntax-special: #995011;
	--oasis-syntax-statement: #356c63;
	--oasis-syntax-string: #286947;
	--oasis-syntax-type: #19609f;
	--oasis-terminal-black: #575757;
	--oasis-terminal-blue: #1664b1;
	--oasis-terminal-bright-black: #5e554f;
	--oasis-terminal-bright-blue: #266a86;
	--oasis-terminal-bright-cyan: #366c63;
	--oasis-terminal-bright-green: #376f28;
	--oasis-terminal-bright-magenta: #8134de;
	--oasis-terminal-bright-red: #c51414;
	--oasis-terminal-bright-white: #7f4a0d;
	--oasis-terminal-bright-yellow: #925416;
	--oasis-terminal-color0: #575757;
	--oasis-terminal-color1: #bb2b2b;
	--oasis-terminal-color10: #376f28;
	--oasis-terminal-color11: #925416;
	--oasis-terminal-color12: #266a86;
	--oasis-terminal-color13: #8134de;
	--oasis-terminal-color14: #366c63;
	--oasis-terminal-color15: #7f4a0d;
	--oasis-terminal-color2: #306e4e;
	--oasis-terminal-color3: #6b6421;
	--oasis-terminal-color4: #1664b1;
	--oasis-terminal-color5: #8234de;
	--oasis-terminal-color6: #386c64;
	--oasis-terminal-color7: #59564e;
	--oasis-terminal-color8: #5e554f;
	--oasis-terminal-color9: #c51414;
	--oasis-terminal-cyan: #386c64;
	--oasis-terminal-green: #306e4e;
	--oasis-terminal-magenta: #8234de;
	--oasis-terminal-red: #bb2b2b;
	--oasis-terminal-white: #59564e;
	--oasis-terminal-yellow: #6b6421;
	--oasis-theme-accent: #5307ab;
	--oasis-theme-light-primary: #2c635b;
	--oasis-theme-palette-primary-50: #DEF8F4;
	--oasis-theme-palette-primary-100: #CCEFE9;
	--oasis-theme-palette-primary-200: #BAE6DF;
	--oasis-theme-palette-primary-300: #A8DDD5;
	--oasis-theme-palette-primary-400: #96D4CB;
	--oasis-theme-palette-primary-500: #8FD1C7;
	--oasis-theme-palette-primary-600: #81C0B6;
	--oasis-theme-palette-primary-700: #5ABAAE;
	--oasis-theme-palette-primary-800: #47A99B;
	--oasis-theme-palette-primary-900: #2A5E56;
	--oasis-theme-primary: #3a6e66;
	--oasis-theme-secondary: #a4590f;
	--oasis-theme-strong-primary: #3c857c;
	--oasis-ui-border: #395d58;
	--oasis-ui-cursorLine: #f0f5f2;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec997;
	--oasis-ui-diag-warn-fg: #5d550b;
	--oasis-ui-dir: #2e5c6f;
	--oasis-ui-float-bg: #f0f5f2;
	--oasis-ui-float-border-bg: #f0f5f2;
	--oasis-ui-float-border-fg: #395d58;
	--oasis-ui-float-fg: #3f5c58;
	--oasis-ui-float-title: #3f5c58;
	--oasis-ui-lineNumber: #7b4b1d;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-nontext: #9a9088;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #3f5c58;
	--oasis-ui-visual-bg: #dde9e3;
	--oasis-ui-visual-fg: none;
}