/* extras/css/themes/light/1/oasis_dune_light_1.css
 * name: Oasis Dune Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="dune_light_1"],
.oasis-dune_light_1 {
	--oasis-name: "Oasis Dune Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f8f5;
	--oasis-bg-mantle: #f3f1eb;
	--oasis-bg-shadow: #eeebe2;
	--oasis-bg-surface: #e8e4d8;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #5e5447;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #784a30;
	--oasis-fg-comment: #847970;
	--oasis-fg-core: #58554c;
	--oasis-fg-dim: #909090;
	--oasis-fg-muted: #7b7166;
	--oasis-fg-strong: #58573a;
	--oasis-git-add: #226210;
	--oasis-git-change: #5e560a;
	--oasis-git-delete: #af0000;
	--oasis-syntax-bracket: #6b7382;
	--oasis-syntax-builtinConst: #5a6172;
	--oasis-syntax-builtinFunc: #9a4b11;
	--oasis-syntax-builtinVar: #606263;
	--oasis-syntax-comment: #7e7066;
	--oasis-syntax-conditional: #625d34;
	--oasis-syntax-constant: #474746;
	--oasis-syntax-delimiter: #67623e;
	--oasis-syntax-exception: #b72b30;
	--oasis-syntax-func: #8d4b0f;
	--oasis-syntax-identifier: #376a63;
	--oasis-syntax-operator: #c2151c;
	--oasis-syntax-parameter: #7000db;
	--oasis-syntax-preproc: #246985;
	--oasis-syntax-punctuation: #be1e23;
	--oasis-syntax-regex: #326f21;
	--oasis-syntax-special: #964e10;
	--oasis-syntax-statement: #6d6219;
	--oasis-syntax-string: #276746;
	--oasis-syntax-type: #3b635d;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #5c544d;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #366a62;
	--oasis-terminal-bright-green: #366e27;
	--oasis-terminal-bright-magenta: #7f32de;
	--oasis-terminal-bright-red: #c21414;
	--oasis-terminal-bright-white: #7d490c;
	--oasis-terminal-bright-yellow: #905215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #b82a2a;
	--oasis-terminal-color10: #366e27;
	--oasis-terminal-color11: #905215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f32de;
	--oasis-terminal-color14: #366a62;
	--oasis-terminal-color15: #7d490c;
	--oasis-terminal-color2: #306d4d;
	--oasis-terminal-color3: #696320;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8031dd;
	--oasis-terminal-color6: #376a63;
	--oasis-terminal-color7: #58554d;
	--oasis-terminal-color8: #5c544d;
	--oasis-terminal-color9: #c21414;
	--oasis-terminal-cyan: #376a63;
	--oasis-terminal-green: #306d4d;
	--oasis-terminal-magenta: #8031dd;
	--oasis-terminal-red: #b82a2a;
	--oasis-terminal-white: #58554d;
	--oasis-terminal-yellow: #696320;
	--oasis-theme-accent: #298a57;
	--oasis-theme-light-primary: #7a7014;
	--oasis-theme-palette-primary-50: #FBF6D8;
	--oasis-theme-palette-primary-100: #F9F2C5;
	--oasis-theme-palette-primary-200: #F6EEB2;
	--oasis-theme-palette-primary-300: #F3EA9F;
	--oasis-theme-palette-primary-400: #F3E989;
	--oasis-theme-palette-primary-500: #F0E68C;
	--oasis-theme-palette-primary-600: #CDC673;
	--oasis-theme-palette-primary-700: #BDB76B;
	--oasis-theme-palette-primary-800: #807C37;
	--oasis-theme-palette-primary-900: #4D4A1B;
	--oasis-theme-primary: #79732f;
	--oasis-theme-secondary: #3e7540;
	--oasis-theme-strong-primary: #837e3f;
	--oasis-ui-border: #58563c;
	--oasis-ui-cursorLine: #f3f1eb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec997;
	--oasis-ui-diag-warn-fg: #5d550b;
	--oasis-ui-dir: #2d5b6d;
	--oasis-ui-float-bg: #f3f1eb;
	--oasis-ui-float-border-bg: #f3f1eb;
	--oasis-ui-float-border-fg: #58563c;
	--oasis-ui-float-fg: #595638;
	--oasis-ui-float-title: #595638;
	--oasis-ui-lineNumber: #794a1c;
	--oasis-ui-match-bg: #ab76d6;
	--oasis-ui-match-fg: #210b32;
	--oasis-ui-nontext: #909090;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #595638;
	--oasis-ui-visual-bg: #e8e4d8;
	--oasis-ui-visual-fg: none;
}