/* extras/css/themes/light/1/oasis_twilight_light_1.css
 * name: Oasis Twilight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="twilight_light_1"],
.oasis-twilight_light_1 {
	--oasis-name: "Oasis Twilight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f6fc;
	--oasis-bg-mantle: #eadff4;
	--oasis-bg-shadow: #f1ebf8;
	--oasis-bg-surface: #e2d4f1;
	--oasis-diff-add: #396b53;
	--oasis-diff-change: #765196;
	--oasis-diff-delete: #8e4f4f;
	--oasis-diff-text: #885536;
	--oasis-fg-comment: #7d778f;
	--oasis-fg-core: #201921;
	--oasis-fg-dim: #968e88;
	--oasis-fg-muted: #756f83;
	--oasis-fg-strong: #553775;
	--oasis-git-add: #296f1f;
	--oasis-git-change: #8f5215;
	--oasis-git-delete: #c50000;
	--oasis-syntax-bracket: #4d525c;
	--oasis-syntax-builtinConst: #6660c8;
	--oasis-syntax-builtinFunc: #6b6123;
	--oasis-syntax-builtinVar: #8627e1;
	--oasis-syntax-comment: #776d8e;
	--oasis-syntax-conditional: #915017;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #a1614f;
	--oasis-syntax-exception: #c0151b;
	--oasis-syntax-func: #5d551f;
	--oasis-syntax-identifier: #2a6e8a;
	--oasis-syntax-macro: #6f4f0c;
	--oasis-syntax-operator: #8e5216;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #7e5a0e;
	--oasis-syntax-punctuation: #7e4714;
	--oasis-syntax-regex: #b15171;
	--oasis-syntax-special: #954f10;
	--oasis-syntax-statement: #a35c1a;
	--oasis-syntax-string: #aa1318;
	--oasis-syntax-type: #3b706a;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #544940;
	--oasis-terminal-bright-blue: #266883;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c11313;
	--oasis-terminal-bright-white: #534a2c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #c11313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266883;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #534a2c;
	--oasis-terminal-color2: #3d6c39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8030de;
	--oasis-terminal-color6: #366a64;
	--oasis-terminal-color7: #574a13;
	--oasis-terminal-color8: #544940;
	--oasis-terminal-color9: #c11313;
	--oasis-terminal-cyan: #366a64;
	--oasis-terminal-green: #3d6c39;
	--oasis-terminal-magenta: #8030de;
	--oasis-terminal-red: #c11313;
	--oasis-terminal-white: #574a13;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #988c1a;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #847e34;
	--oasis-theme-light-primary: #77280b;
	--oasis-theme-primary: #7f270d;
	--oasis-theme-secondary: #400687;
	--oasis-theme-strong-primary: #a64a28;
	--oasis-ui-border: #893f29;
	--oasis-ui-cursorLine: #eadff4;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #254958;
	--oasis-ui-float-bg: #eadff4;
	--oasis-ui-float-border-bg: #eadff4;
	--oasis-ui-float-border-fg: #b85436;
	--oasis-ui-float-fg: #6d35b3;
	--oasis-ui-float-title: #6d35b3;
	--oasis-ui-lineNumber: #a36326;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #e2d4f1;
	--oasis-ui-matchParen-fg: #807c4c;
	--oasis-ui-nontext: #8d8278;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #893f29;
	--oasis-ui-visual-bg: #e2d4f1;
	--oasis-ui-visual-fg: none;
}