/* extras/css/themes/light/1/oasis_scorpion_light_1.css
 * name: Oasis Scorpion Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="scorpion_light_1"],
.oasis-scorpion_light_1 {
	--oasis-name: "Oasis Scorpion Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f2ebe9;
	--oasis-bg-mantle: #ece2df;
	--oasis-bg-shadow: #e6dad6;
	--oasis-bg-surface: #e0d1cc;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #754033;
	--oasis-diff-delete: #744040;
	--oasis-diff-text: #6e452c;
	--oasis-fg-comment: #826f6c;
	--oasis-fg-core: #624940;
	--oasis-fg-dim: #908683;
	--oasis-fg-muted: #786865;
	--oasis-fg-strong: #764031;
	--oasis-git-add: #215a19;
	--oasis-git-change: #57500b;
	--oasis-git-delete: #a20000;
	--oasis-syntax-bracket: #656c78;
	--oasis-syntax-builtinConst: #4f49c1;
	--oasis-syntax-builtinFunc: #7f5017;
	--oasis-syntax-builtinVar: #7a00ef;
	--oasis-syntax-comment: #816560;
	--oasis-syntax-conditional: #5c5630;
	--oasis-syntax-constant: #40403f;
	--oasis-syntax-delimiter: #804e3f;
	--oasis-syntax-exception: #b5141a;
	--oasis-syntax-func: #6e4f28;
	--oasis-syntax-identifier: #256179;
	--oasis-syntax-operator: #615c2c;
	--oasis-syntax-parameter: #23571e;
	--oasis-syntax-preproc: #91442c;
	--oasis-syntax-punctuation: #615c33;
	--oasis-syntax-regex: #943e5a;
	--oasis-syntax-special: #8b4a0f;
	--oasis-syntax-statement: #655b18;
	--oasis-syntax-string: #a9181c;
	--oasis-syntax-type: #315d58;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #145ba4;
	--oasis-terminal-bright-black: #584d44;
	--oasis-terminal-bright-blue: #23617b;
	--oasis-terminal-bright-cyan: #32635b;
	--oasis-terminal-bright-green: #35652f;
	--oasis-terminal-bright-magenta: #7724dc;
	--oasis-terminal-bright-red: #b51212;
	--oasis-terminal-bright-white: #574e2e;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #b61212;
	--oasis-terminal-color10: #35652f;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617b;
	--oasis-terminal-color13: #7724dc;
	--oasis-terminal-color14: #32635b;
	--oasis-terminal-color15: #574e2e;
	--oasis-terminal-color2: #396535;
	--oasis-terminal-color3: #625c21;
	--oasis-terminal-color4: #145ba4;
	--oasis-terminal-color5: #7823dc;
	--oasis-terminal-color6: #33635e;
	--oasis-terminal-color7: #5c4e14;
	--oasis-terminal-color8: #584d44;
	--oasis-terminal-color9: #b51212;
	--oasis-terminal-cyan: #33635e;
	--oasis-terminal-green: #396535;
	--oasis-terminal-magenta: #7823dc;
	--oasis-terminal-red: #b61212;
	--oasis-terminal-white: #5c4e14;
	--oasis-terminal-yellow: #625c21;
	--oasis-theme-accent: #388032;
	--oasis-theme-label: #944224;
	--oasis-theme-light-primary: #7a7014;
	--oasis-theme-primary: #908419;
	--oasis-theme-secondary: #a23211;
	--oasis-theme-secondary-light: #832c0c;
	--oasis-theme-secondary-strong: #914b31;
	--oasis-theme-strong-primary: #8b8537;
	--oasis-ui-border: #6c4536;
	--oasis-ui-cursorLine: #ece2df;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2a5465;
	--oasis-ui-float-bg: #ece2df;
	--oasis-ui-float-border-bg: #ece2df;
	--oasis-ui-float-border-fg: #6c4536;
	--oasis-ui-float-fg: #803a26;
	--oasis-ui-float-title: #803a26;
	--oasis-ui-lineNumber: #71441a;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e0d1cc;
	--oasis-ui-matchParen-fg: #525034;
	--oasis-ui-nontext: #948581;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #803a26;
	--oasis-ui-visual-bg: #e0d1cc;
	--oasis-ui-visual-fg: none;
}