/* extras/css/themes/light/1/oasis_rose_light_1.css
 * name: Oasis Rose Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="rose_light_1"],
.oasis-rose_light_1 {
	--oasis-name: "Oasis Rose Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #eaf1ea;
	--oasis-bg-mantle: #e0ebe0;
	--oasis-bg-shadow: #d7e4d7;
	--oasis-bg-surface: #cedece;
	--oasis-diff-add: #2f5844;
	--oasis-diff-change: #65475c;
	--oasis-diff-delete: #764141;
	--oasis-diff-text: #70462d;
	--oasis-fg-comment: #827179;
	--oasis-fg-core: #714251;
	--oasis-fg-dim: #918982;
	--oasis-fg-muted: #786972;
	--oasis-fg-strong: #67465e;
	--oasis-git-add: #225c1a;
	--oasis-git-change: #59510c;
	--oasis-git-delete: #a50000;
	--oasis-syntax-bracket: #676d7a;
	--oasis-syntax-builtinConst: #524cc1;
	--oasis-syntax-builtinFunc: #815217;
	--oasis-syntax-builtinVar: #7c00f3;
	--oasis-syntax-comment: #836573;
	--oasis-syntax-conditional: #ae1319;
	--oasis-syntax-constant: #424240;
	--oasis-syntax-delimiter: #466347;
	--oasis-syntax-exception: #79560d;
	--oasis-syntax-func: #754f1b;
	--oasis-syntax-identifier: #26637b;
	--oasis-syntax-operator: #b8141a;
	--oasis-syntax-parameter: #24581f;
	--oasis-syntax-preproc: #655d2a;
	--oasis-syntax-punctuation: #b8141a;
	--oasis-syntax-regex: #6b5b29;
	--oasis-syntax-special: #8d4b0f;
	--oasis-syntax-statement: #b8141a;
	--oasis-syntax-string: #814919;
	--oasis-syntax-type: #315e59;
	--oasis-terminal-black: #505050;
	--oasis-terminal-blue: #155da6;
	--oasis-terminal-bright-black: #5a4e45;
	--oasis-terminal-bright-blue: #24637d;
	--oasis-terminal-bright-cyan: #33655d;
	--oasis-terminal-bright-green: #366730;
	--oasis-terminal-bright-magenta: #7928dc;
	--oasis-terminal-bright-red: #b91313;
	--oasis-terminal-bright-white: #595030;
	--oasis-terminal-bright-yellow: #884e14;
	--oasis-terminal-color0: #505050;
	--oasis-terminal-color1: #b91212;
	--oasis-terminal-color10: #366730;
	--oasis-terminal-color11: #884e14;
	--oasis-terminal-color12: #24637d;
	--oasis-terminal-color13: #7928dc;
	--oasis-terminal-color14: #33655d;
	--oasis-terminal-color15: #595030;
	--oasis-terminal-color2: #3a6636;
	--oasis-terminal-color3: #645d21;
	--oasis-terminal-color4: #155da6;
	--oasis-terminal-color5: #7a27dc;
	--oasis-terminal-color6: #33655f;
	--oasis-terminal-color7: #5e4f14;
	--oasis-terminal-color8: #5a4e45;
	--oasis-terminal-color9: #b91313;
	--oasis-terminal-cyan: #33655f;
	--oasis-terminal-green: #3a6636;
	--oasis-terminal-magenta: #7a27dc;
	--oasis-terminal-red: #b91212;
	--oasis-terminal-white: #5e4f14;
	--oasis-terminal-yellow: #645d21;
	--oasis-theme-accent: #377c71;
	--oasis-theme-label: #427645;
	--oasis-theme-light-primary: #832c0c;
	--oasis-theme-primary: #992f10;
	--oasis-theme-secondary: #3f7341;
	--oasis-theme-strong-primary: #914b31;
	--oasis-ui-border: #982424;
	--oasis-ui-cursorLine: #e0ebe0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2b5667;
	--oasis-ui-float-bg: #e0ebe0;
	--oasis-ui-float-border-bg: #e0ebe0;
	--oasis-ui-float-border-fg: #982424;
	--oasis-ui-float-fg: #982424;
	--oasis-ui-float-title: #982424;
	--oasis-ui-lineNumber: #73461b;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #cedece;
	--oasis-ui-matchParen-fg: #3f5640;
	--oasis-ui-nontext: #948880;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #982424;
	--oasis-ui-visual-bg: #cedece;
	--oasis-ui-visual-fg: none;
}