/* extras/css/themes/light/1/oasis_sol_light_1.css
 * name: Oasis Sol Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="sol_light_1"],
.oasis-sol_light_1 {
	--oasis-name: "Oasis Sol Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f5f5;
	--oasis-bg-mantle: #f3ebeb;
	--oasis-bg-shadow: #eee2e2;
	--oasis-bg-surface: #e8d8d8;
	--oasis-diff-add: #315d48;
	--oasis-diff-change: #77483f;
	--oasis-diff-delete: #7b4444;
	--oasis-diff-text: #76492f;
	--oasis-fg-comment: #8a7572;
	--oasis-fg-core: #814236;
	--oasis-fg-dim: #8f8f8f;
	--oasis-fg-muted: #806d6a;
	--oasis-fg-strong: #814236;
	--oasis-git-add: #23601b;
	--oasis-git-change: #5d550c;
	--oasis-git-delete: #ad0000;
	--oasis-syntax-bracket: #6b727f;
	--oasis-syntax-builtinConst: #5650c2;
	--oasis-syntax-builtinFunc: #89540f;
	--oasis-syntax-builtinVar: #8100fd;
	--oasis-syntax-comment: #866b69;
	--oasis-syntax-conditional: #b5141a;
	--oasis-syntax-constant: #464644;
	--oasis-syntax-delimiter: #b7272b;
	--oasis-syntax-exception: #7f590e;
	--oasis-syntax-func: #814f0e;
	--oasis-syntax-identifier: #276781;
	--oasis-syntax-operator: #b9252a;
	--oasis-syntax-parameter: #265c21;
	--oasis-syntax-preproc: #69612c;
	--oasis-syntax-punctuation: #bb2126;
	--oasis-syntax-regex: #705f2b;
	--oasis-syntax-special: #934e10;
	--oasis-syntax-statement: #b6282c;
	--oasis-syntax-string: #874c1a;
	--oasis-syntax-type: #34635d;
	--oasis-terminal-black: #545454;
	--oasis-terminal-blue: #1561ad;
	--oasis-terminal-bright-black: #5e5248;
	--oasis-terminal-bright-blue: #256782;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #396b32;
	--oasis-terminal-bright-magenta: #7e2fdd;
	--oasis-terminal-bright-red: #c01313;
	--oasis-terminal-bright-white: #5d5432;
	--oasis-terminal-bright-yellow: #8e5115;
	--oasis-terminal-color0: #545454;
	--oasis-terminal-color1: #c01313;
	--oasis-terminal-color10: #396b32;
	--oasis-terminal-color11: #8e5115;
	--oasis-terminal-color12: #256782;
	--oasis-terminal-color13: #7e2fdd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #5d5432;
	--oasis-terminal-color2: #3d6b39;
	--oasis-terminal-color3: #686223;
	--oasis-terminal-color4: #1561ad;
	--oasis-terminal-color5: #7f2fdd;
	--oasis-terminal-color6: #366963;
	--oasis-terminal-color7: #625315;
	--oasis-terminal-color8: #5e5248;
	--oasis-terminal-color9: #c01313;
	--oasis-terminal-cyan: #366963;
	--oasis-terminal-green: #3d6b39;
	--oasis-terminal-magenta: #7f2fdd;
	--oasis-terminal-red: #c01313;
	--oasis-terminal-white: #625315;
	--oasis-terminal-yellow: #686223;
	--oasis-theme-accent: #388032;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #890606;
	--oasis-theme-primary: #a20707;
	--oasis-theme-secondary: #a4590f;
	--oasis-theme-strong-primary: #9c2525;
	--oasis-ui-border: #9f2525;
	--oasis-ui-cursorLine: #f3ebeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #f3ebeb;
	--oasis-ui-float-border-bg: #f3ebeb;
	--oasis-ui-float-border-fg: #9f2525;
	--oasis-ui-float-fg: #9f2525;
	--oasis-ui-float-title: #9f2525;
	--oasis-ui-lineNumber: #78491c;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #e8d8d8;
	--oasis-ui-matchParen-fg: #585534;
	--oasis-ui-nontext: #8f8f8f;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #9f2525;
	--oasis-ui-visual-bg: #e8d8d8;
	--oasis-ui-visual-fg: none;
}