/* extras/css/themes/light/1/oasis_desert_light_1.css
 * name: Oasis Desert Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="desert_light_1"],
.oasis-desert_light_1 {
	--oasis-name: "Oasis Desert Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #555555;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #774a30;
	--oasis-fg-comment: #687d89;
	--oasis-fg-core: #63523d;
	--oasis-fg-dim: #978e87;
	--oasis-fg-muted: #687479;
	--oasis-fg-strong: #5e5348;
	--oasis-git-add: #226210;
	--oasis-git-change: #5e560c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #6a7283;
	--oasis-syntax-builtinConst: #5a6171;
	--oasis-syntax-builtinFunc: #9a4b11;
	--oasis-syntax-builtinVar: #606162;
	--oasis-syntax-comment: #58768b;
	--oasis-syntax-conditional: #625d2c;
	--oasis-syntax-constant: #464645;
	--oasis-syntax-delimiter: #b9272c;
	--oasis-syntax-exception: #be1d15;
	--oasis-syntax-func: #80520e;
	--oasis-syntax-identifier: #366a62;
	--oasis-syntax-operator: #a5411c;
	--oasis-syntax-parameter: #6e00db;
	--oasis-syntax-preproc: #236884;
	--oasis-syntax-punctuation: #b52e31;
	--oasis-syntax-regex: #316e20;
	--oasis-syntax-special: #954f10;
	--oasis-syntax-statement: #6d6119;
	--oasis-syntax-string: #246842;
	--oasis-syntax-type: #34645c;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #1662ae;
	--oasis-terminal-bright-black: #5c534d;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #366d27;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #7d490c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #c21313;
	--oasis-terminal-color10: #366d27;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #7d490c;
	--oasis-terminal-color2: #306c4c;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1662ae;
	--oasis-terminal-color5: #7f30dd;
	--oasis-terminal-color6: #376a62;
	--oasis-terminal-color7: #58554c;
	--oasis-terminal-color8: #5c534d;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #376a62;
	--oasis-terminal-green: #306c4c;
	--oasis-terminal-magenta: #7f30dd;
	--oasis-terminal-red: #c21313;
	--oasis-terminal-white: #58554c;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #1f7294;
	--oasis-theme-light-primary: #7a7014;
	--oasis-theme-primary: #908419;
	--oasis-theme-secondary: #ab0707;
	--oasis-theme-secondary-light: #891006;
	--oasis-theme-secondary-strong: #903232;
	--oasis-theme-strong-primary: #8b8537;
	--oasis-ui-border: #a12626;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #f3efeb;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #a12626;
	--oasis-ui-float-fg: #a12626;
	--oasis-ui-float-title: #a12626;
	--oasis-ui-lineNumber: #794a1c;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-nontext: #998e83;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #a12626;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}