/* extras/css/themes/light/1/oasis_mirage_light_1.css
 * name: Oasis Mirage Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="mirage_light_1"],
.oasis-mirage_light_1 {
	--oasis-name: "Oasis Mirage Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #effaf8;
	--oasis-bg-mantle: #def5f0;
	--oasis-bg-shadow: #e3f6f3;
	--oasis-bg-surface: #c0ebe4;
	--oasis-diff-add: #396b53;
	--oasis-diff-change: #436675;
	--oasis-diff-delete: #8f4f4f;
	--oasis-diff-text: #885536;
	--oasis-fg-comment: #64807c;
	--oasis-fg-core: #161d1d;
	--oasis-fg-dim: #978e87;
	--oasis-fg-muted: #677574;
	--oasis-fg-strong: #344944;
	--oasis-git-add: #296f1f;
	--oasis-git-change: #8f5215;
	--oasis-git-delete: #c60000;
	--oasis-syntax-bracket: #4e525c;
	--oasis-syntax-builtinConst: #6661c8;
	--oasis-syntax-builtinFunc: #825924;
	--oasis-syntax-builtinVar: #8627e1;
	--oasis-syntax-comment: #4b7b73;
	--oasis-syntax-conditional: #356a64;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #477b76;
	--oasis-syntax-exception: #c1151c;
	--oasis-syntax-func: #6f4f25;
	--oasis-syntax-identifier: #2a6f8a;
	--oasis-syntax-macro: #884029;
	--oasis-syntax-operator: #356a63;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #ad3a1d;
	--oasis-syntax-punctuation: #2f5d57;
	--oasis-syntax-regex: #b94b6f;
	--oasis-syntax-special: #944f10;
	--oasis-syntax-statement: #3b786f;
	--oasis-syntax-string: #aa1318;
	--oasis-syntax-type: #3b706a;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #544941;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #396d33;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21414;
	--oasis-terminal-bright-white: #534b2c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #c21313;
	--oasis-terminal-color10: #396d33;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #534b2c;
	--oasis-terminal-color2: #3d6c39;
	--oasis-terminal-color3: #696323;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8030de;
	--oasis-terminal-color6: #366a64;
	--oasis-terminal-color7: #584a13;
	--oasis-terminal-color8: #544941;
	--oasis-terminal-color9: #c21414;
	--oasis-terminal-cyan: #366a64;
	--oasis-terminal-green: #3d6c39;
	--oasis-terminal-magenta: #8030de;
	--oasis-terminal-red: #c21313;
	--oasis-terminal-white: #584a13;
	--oasis-terminal-yellow: #696323;
	--oasis-theme-accent: #5107ab;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #285a53;
	--oasis-theme-primary: #2c615a;
	--oasis-theme-secondary: #81460c;
	--oasis-theme-strong-primary: #408e85;
	--oasis-ui-border: #426c68;
	--oasis-ui-cursorLine: #def5f0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #306073;
	--oasis-ui-float-bg: #def5f0;
	--oasis-ui-float-border-bg: #def5f0;
	--oasis-ui-float-border-fg: #426c68;
	--oasis-ui-float-fg: #6a441e;
	--oasis-ui-float-title: #6a441e;
	--oasis-ui-lineNumber: #a36326;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #c0ebe4;
	--oasis-ui-matchParen-fg: #a6612e;
	--oasis-ui-nontext: #8e8279;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #426c68;
	--oasis-ui-visual-bg: #c0ebe4;
	--oasis-ui-visual-fg: none;
}