/* extras/css/themes/light/1/oasis_lagoon_light_1.css
 * name: Oasis Lagoon Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="lagoon_light_1"],
.oasis-lagoon_light_1 {
	--oasis-name: "Oasis Lagoon Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f2f7fd;
	--oasis-bg-mantle: #deebfa;
	--oasis-bg-shadow: #e5effb;
	--oasis-bg-surface: #bdd6f5;
	--oasis-diff-add: #396a52;
	--oasis-diff-change: #3a609e;
	--oasis-diff-delete: #8e4f4f;
	--oasis-diff-text: #875436;
	--oasis-fg-comment: #677d89;
	--oasis-fg-core: #141b26;
	--oasis-fg-dim: #978e86;
	--oasis-fg-muted: #607581;
	--oasis-fg-strong: #374652;
	--oasis-git-add: #286f1f;
	--oasis-git-change: #8e5215;
	--oasis-git-delete: #c40000;
	--oasis-syntax-bracket: #4d525b;
	--oasis-syntax-builtinConst: #6560c8;
	--oasis-syntax-builtinFunc: #815824;
	--oasis-syntax-builtinVar: #8626e1;
	--oasis-syntax-comment: #55758b;
	--oasis-syntax-conditional: #1463a7;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #2975b7;
	--oasis-syntax-exception: #c0151b;
	--oasis-syntax-func: #6e4e25;
	--oasis-syntax-identifier: #2a6e89;
	--oasis-syntax-macro: #5a5530;
	--oasis-syntax-operator: #145fb9;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #69612c;
	--oasis-syntax-punctuation: #1253a2;
	--oasis-syntax-regex: #b05071;
	--oasis-syntax-special: #944e10;
	--oasis-syntax-statement: #186fbc;
	--oasis-syntax-string: #a91218;
	--oasis-syntax-type: #3a7067;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #4a4a4a;
	--oasis-terminal-blue: #1561ae;
	--oasis-terminal-bright-black: #534840;
	--oasis-terminal-bright-blue: #266783;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7e30dd;
	--oasis-terminal-bright-red: #c01313;
	--oasis-terminal-bright-white: #524a2c;
	--oasis-terminal-bright-yellow: #8e5215;
	--oasis-terminal-color0: #4a4a4a;
	--oasis-terminal-color1: #c01313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8e5215;
	--oasis-terminal-color12: #266783;
	--oasis-terminal-color13: #7e30dd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #524a2c;
	--oasis-terminal-color2: #3d6b39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1561ae;
	--oasis-terminal-color5: #7f2fde;
	--oasis-terminal-color6: #366963;
	--oasis-terminal-color7: #574913;
	--oasis-terminal-color8: #534840;
	--oasis-terminal-color9: #c01313;
	--oasis-terminal-cyan: #366963;
	--oasis-terminal-green: #3d6b39;
	--oasis-terminal-magenta: #7f2fde;
	--oasis-terminal-red: #c01313;
	--oasis-terminal-white: #574913;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #06497c;
	--oasis-theme-primary: #075085;
	--oasis-theme-secondary: #81460c;
	--oasis-theme-strong-primary: #1e75b1;
	--oasis-ui-border: #296996;
	--oasis-ui-cursorLine: #deebfa;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2f5f72;
	--oasis-ui-float-bg: #deebfa;
	--oasis-ui-float-border-bg: #deebfa;
	--oasis-ui-float-border-fg: #296996;
	--oasis-ui-float-fg: #69431e;
	--oasis-ui-float-title: #69431e;
	--oasis-ui-lineNumber: #a26226;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #bdd6f5;
	--oasis-ui-matchParen-fg: #a5602d;
	--oasis-ui-nontext: #8e8176;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #296996;
	--oasis-ui-visual-bg: #bdd6f5;
	--oasis-ui-visual-fg: none;
}