/* extras/css/themes/light/1/oasis_canyon_light_1.css
 * name: Oasis Canyon Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="canyon_light_1"],
.oasis-canyon_light_1 {
	--oasis-name: "Oasis Canyon Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #6e4d3f;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #774a30;
	--oasis-fg-comment: #8e7568;
	--oasis-fg-core: #211b12;
	--oasis-fg-dim: #978e88;
	--oasis-fg-muted: #846d62;
	--oasis-fg-strong: #5d3e27;
	--oasis-git-add: #24611b;
	--oasis-git-change: #5e560c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #4d525c;
	--oasis-syntax-builtinConst: #6661c8;
	--oasis-syntax-builtinFunc: #6c6223;
	--oasis-syntax-builtinVar: #8627e1;
	--oasis-syntax-comment: #8f6a58;
	--oasis-syntax-conditional: #915017;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #a96024;
	--oasis-syntax-exception: #c1151c;
	--oasis-syntax-func: #5d561f;
	--oasis-syntax-identifier: #2a6e8a;
	--oasis-syntax-macro: #704f0c;
	--oasis-syntax-operator: #915117;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #7f5b0e;
	--oasis-syntax-punctuation: #804714;
	--oasis-syntax-regex: #b15171;
	--oasis-syntax-special: #6a622c;
	--oasis-syntax-statement: #a35c1a;
	--oasis-syntax-string: #aa1318;
	--oasis-syntax-type: #3b706a;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #5f5349;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #396d33;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #5e5532;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #c21313;
	--oasis-terminal-color10: #396d33;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #5e5532;
	--oasis-terminal-color2: #3d6c39;
	--oasis-terminal-color3: #696323;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8030de;
	--oasis-terminal-color6: #366a64;
	--oasis-terminal-color7: #635415;
	--oasis-terminal-color8: #5f5349;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #366a64;
	--oasis-terminal-green: #3d6c39;
	--oasis-terminal-magenta: #8030de;
	--oasis-terminal-red: #c21313;
	--oasis-terminal-white: #635415;
	--oasis-terminal-yellow: #696323;
	--oasis-theme-accent: #1f7294;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #784e0a;
	--oasis-theme-primary: #81460c;
	--oasis-theme-secondary: #870606;
	--oasis-theme-strong-primary: #aa6524;
	--oasis-ui-border: #7a491c;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #244a59;
	--oasis-ui-float-bg: #f3efeb;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #a36326;
	--oasis-ui-float-fg: #a12626;
	--oasis-ui-float-title: #a12626;
	--oasis-ui-lineNumber: #8a6e2f;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #e8e0d8;
	--oasis-ui-matchParen-fg: #41829c;
	--oasis-ui-nontext: #8f827a;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #794a1c;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}