/* extras/css/themes/light/1/oasis_canyon_light_1.css
 * name: Oasis Canyon Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="canyon_light_1"],
.oasis-canyon_light_1 {
	--oasis-name: "Oasis Canyon Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #744c26;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #774a30;
	--oasis-fg-comment: #8b766a;
	--oasis-fg-core: #665137;
	--oasis-fg-dim: #8f8f8f;
	--oasis-fg-muted: #816e62;
	--oasis-fg-strong: #734c30;
	--oasis-git-add: #226210;
	--oasis-git-change: #5e560c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #6c727f;
	--oasis-syntax-builtinConst: #466386;
	--oasis-syntax-builtinFunc: #87560f;
	--oasis-syntax-builtinVar: #606162;
	--oasis-syntax-comment: #8b6b5a;
	--oasis-syntax-conditional: #8e4910;
	--oasis-syntax-constant: #464645;
	--oasis-syntax-delimiter: #8f511e;
	--oasis-syntax-exception: #ba252a;
	--oasis-syntax-func: #81510e;
	--oasis-syntax-identifier: #276882;
	--oasis-syntax-operator: #c1151c;
	--oasis-syntax-parameter: #6f00da;
	--oasis-syntax-preproc: #6f5e4a;
	--oasis-syntax-punctuation: #b62d32;
	--oasis-syntax-regex: #316e20;
	--oasis-syntax-special: #c1151c;
	--oasis-syntax-statement: #954f10;
	--oasis-syntax-string: #276746;
	--oasis-syntax-type: #34645e;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #5f5349;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #366d27;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #7d490c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #c21313;
	--oasis-terminal-color10: #366d27;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #7d490c;
	--oasis-terminal-color2: #306c4c;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8030de;
	--oasis-terminal-color6: #366a64;
	--oasis-terminal-color7: #58554c;
	--oasis-terminal-color8: #5f5349;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #366a64;
	--oasis-terminal-green: #306c4c;
	--oasis-terminal-magenta: #8030de;
	--oasis-terminal-red: #c21313;
	--oasis-terminal-white: #58554c;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #0966a9;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #83560b;
	--oasis-theme-primary: #a25407;
	--oasis-theme-secondary: #ab0707;
	--oasis-theme-strong-primary: #ba5e08;
	--oasis-ui-border: #79491c;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2c5a6d;
	--oasis-ui-float-bg: #f3efeb;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #79491c;
	--oasis-ui-float-fg: #794a1c;
	--oasis-ui-float-title: #794a1c;
	--oasis-ui-lineNumber: #79491c;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #e8e0d8;
	--oasis-ui-matchParen-fg: #23597f;
	--oasis-ui-nontext: #8f8f8f;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #794a1c;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}