/* extras/css/themes/light/1/oasis_sol_light_1.css
 * name: Oasis Sol Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="sol_light_1"],
.oasis-sol_light_1 {
	--oasis-name: "Oasis Sol Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #fbf9f9;
	--oasis-bg-mantle: #f5f0f0;
	--oasis-bg-shadow: #efe7e7;
	--oasis-bg-surface: #e9dddd;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #7a4940;
	--oasis-diff-delete: #7e4646;
	--oasis-diff-text: #794b30;
	--oasis-fg-comment: #8c7774;
	--oasis-fg-core: #844437;
	--oasis-fg-dim: #919191;
	--oasis-fg-muted: #826f6c;
	--oasis-fg-strong: #854337;
	--oasis-git-add: #24631b;
	--oasis-git-change: #5f570c;
	--oasis-git-delete: #b00000;
	--oasis-syntax-bracket: #6d7481;
	--oasis-syntax-builtinConst: #5953c3;
	--oasis-syntax-builtinFunc: #895719;
	--oasis-syntax-builtinVar: #8505ff;
	--oasis-syntax-comment: #886d6b;
	--oasis-syntax-conditional: #b9141a;
	--oasis-syntax-constant: #484846;
	--oasis-syntax-delimiter: #bb282c;
	--oasis-syntax-exception: #815b0e;
	--oasis-syntax-func: #7e541d;
	--oasis-syntax-identifier: #286983;
	--oasis-syntax-operator: #bc252a;
	--oasis-syntax-parameter: #275f21;
	--oasis-syntax-preproc: #6b632c;
	--oasis-syntax-punctuation: #be2227;
	--oasis-syntax-regex: #72612b;
	--oasis-syntax-special: #965010;
	--oasis-syntax-statement: #bb292c;
	--oasis-syntax-string: #8a4e1a;
	--oasis-syntax-type: #35655f;
	--oasis-terminal-black: #565656;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #60544a;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366b63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #5f5633;
	--oasis-terminal-bright-yellow: #915315;
	--oasis-terminal-color0: #565656;
	--oasis-terminal-color1: #c41414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #915315;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366b63;
	--oasis-terminal-color15: #5f5633;
	--oasis-terminal-color2: #3e6d3a;
	--oasis-terminal-color3: #6a6423;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8132de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #655516;
	--oasis-terminal-color8: #60544a;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d3a;
	--oasis-terminal-magenta: #8132de;
	--oasis-terminal-red: #c41414;
	--oasis-terminal-white: #655516;
	--oasis-terminal-yellow: #6a6423;
	--oasis-theme-accent: #388032;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #832c0c;
	--oasis-theme-primary: #992f10;
	--oasis-theme-secondary: #a4590f;
	--oasis-theme-strong-primary: #914b31;
	--oasis-ui-border: #a32626;
	--oasis-ui-cursorLine: #f5f0f0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2e5c6e;
	--oasis-ui-float-bg: #f5f0f0;
	--oasis-ui-float-border-bg: #f5f0f0;
	--oasis-ui-float-border-fg: #a32626;
	--oasis-ui-float-fg: #a32626;
	--oasis-ui-float-title: #a32626;
	--oasis-ui-lineNumber: #7b4a1d;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #e9dddd;
	--oasis-ui-matchParen-fg: #5a5735;
	--oasis-ui-nontext: #919191;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #a32626;
	--oasis-ui-visual-bg: #e9dddd;
	--oasis-ui-visual-fg: none;
}