/* extras/css/themes/light/1/oasis_lagoon_light_1.css
 * name: Oasis Lagoon Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="lagoon_light_1"],
.oasis-lagoon_light_1 {
	--oasis-name: "Oasis Lagoon Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9fafb;
	--oasis-bg-mantle: #f0f2f5;
	--oasis-bg-shadow: #e7ebef;
	--oasis-bg-surface: #dde3e9;
	--oasis-diff-add: #335f4a;
	--oasis-diff-change: #34568d;
	--oasis-diff-delete: #7f4646;
	--oasis-diff-text: #794b30;
	--oasis-fg-comment: #697f8c;
	--oasis-fg-core: #40577a;
	--oasis-fg-dim: #999089;
	--oasis-fg-muted: #617784;
	--oasis-fg-strong: #465968;
	--oasis-git-add: #226310;
	--oasis-git-change: #60570c;
	--oasis-git-delete: #b10000;
	--oasis-syntax-bracket: #6d7481;
	--oasis-syntax-builtinConst: #69643a;
	--oasis-syntax-builtinFunc: #9c4c11;
	--oasis-syntax-builtinVar: #636361;
	--oasis-syntax-comment: #56788e;
	--oasis-syntax-conditional: #135fa1;
	--oasis-syntax-constant: #484847;
	--oasis-syntax-delimiter: #23669f;
	--oasis-syntax-exception: #bf2227;
	--oasis-syntax-func: #8f4c10;
	--oasis-syntax-identifier: #286984;
	--oasis-syntax-operator: #c4151c;
	--oasis-syntax-parameter: #7100de;
	--oasis-syntax-preproc: #71604b;
	--oasis-syntax-punctuation: #b82d32;
	--oasis-syntax-regex: #337022;
	--oasis-syntax-special: #945217;
	--oasis-syntax-statement: #1665aa;
	--oasis-syntax-string: #286947;
	--oasis-syntax-type: #356560;
	--oasis-terminal-black: #565656;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #60544a;
	--oasis-terminal-bright-blue: #266a86;
	--oasis-terminal-bright-cyan: #366c63;
	--oasis-terminal-bright-green: #376f28;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #7e4a0d;
	--oasis-terminal-bright-yellow: #915315;
	--oasis-terminal-color0: #565656;
	--oasis-terminal-color1: #c51414;
	--oasis-terminal-color10: #376f28;
	--oasis-terminal-color11: #915315;
	--oasis-terminal-color12: #266a86;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366c63;
	--oasis-terminal-color15: #7e4a0d;
	--oasis-terminal-color2: #306e4e;
	--oasis-terminal-color3: #6a6423;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8133de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #59564e;
	--oasis-terminal-color8: #60544a;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #306e4e;
	--oasis-terminal-magenta: #8133de;
	--oasis-terminal-red: #c51414;
	--oasis-terminal-white: #59564e;
	--oasis-terminal-yellow: #6a6423;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #075088;
	--oasis-theme-primary: #0961a0;
	--oasis-theme-secondary: #a4590f;
	--oasis-theme-strong-primary: #0970b8;
	--oasis-ui-border: #245b81;
	--oasis-ui-cursorLine: #f0f2f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2e5c6e;
	--oasis-ui-float-bg: #f0f2f5;
	--oasis-ui-float-border-bg: #f0f2f5;
	--oasis-ui-float-border-fg: #245b81;
	--oasis-ui-float-fg: #245b81;
	--oasis-ui-float-title: #245b81;
	--oasis-ui-lineNumber: #7c4b1d;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #dde3e9;
	--oasis-ui-matchParen-fg: #7e4923;
	--oasis-ui-nontext: #9b9086;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #245b81;
	--oasis-ui-visual-bg: #dde3e9;
	--oasis-ui-visual-fg: none;
}