/* extras/css/themes/light/1/oasis_scorpion_light_1.css
 * name: Oasis Scorpion Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="scorpion_light_1"],
.oasis-scorpion_light_1 {
	--oasis-name: "Oasis Scorpion Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9e4dd;
	--oasis-bg-mantle: #f6d5c9;
	--oasis-bg-shadow: #f7dad0;
	--oasis-bg-surface: #f0bba9;
	--oasis-diff-add: #34614b;
	--oasis-diff-change: #834839;
	--oasis-diff-delete: #824848;
	--oasis-diff-text: #7c4d31;
	--oasis-fg-comment: #7f6d69;
	--oasis-fg-core: #191210;
	--oasis-fg-dim: #8e8380;
	--oasis-fg-muted: #756663;
	--oasis-fg-strong: #5b3126;
	--oasis-git-add: #25651c;
	--oasis-git-change: #824b13;
	--oasis-git-delete: #b50000;
	--oasis-syntax-bracket: #454a52;
	--oasis-syntax-builtinConst: #5b56c5;
	--oasis-syntax-builtinFunc: #765021;
	--oasis-syntax-builtinVar: #7b1ed3;
	--oasis-syntax-comment: #7e625e;
	--oasis-syntax-conditional: #5f5932;
	--oasis-syntax-constant: #9c5011;
	--oasis-syntax-delimiter: #955a49;
	--oasis-syntax-exception: #b01319;
	--oasis-syntax-func: #5f482a;
	--oasis-syntax-identifier: #26657e;
	--oasis-syntax-macro: #733e2e;
	--oasis-syntax-operator: #5f592b;
	--oasis-syntax-parameter: #366932;
	--oasis-syntax-preproc: #8d422b;
	--oasis-syntax-punctuation: #524d2b;
	--oasis-syntax-regex: #ac4365;
	--oasis-syntax-special: #87480f;
	--oasis-syntax-statement: #71651a;
	--oasis-syntax-string: #991116;
	--oasis-syntax-type: #366661;
	--oasis-syntax-typedef: #2c534d;
	--oasis-terminal-black: #424242;
	--oasis-terminal-blue: #14599f;
	--oasis-terminal-bright-black: #4a4039;
	--oasis-terminal-bright-blue: #225f78;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34632e;
	--oasis-terminal-bright-magenta: #7423d7;
	--oasis-terminal-bright-red: #b11212;
	--oasis-terminal-bright-white: #494227;
	--oasis-terminal-bright-yellow: #824b13;
	--oasis-terminal-color0: #424242;
	--oasis-terminal-color1: #b11212;
	--oasis-terminal-color10: #34632e;
	--oasis-terminal-color11: #824b13;
	--oasis-terminal-color12: #225f78;
	--oasis-terminal-color13: #7423d7;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #494227;
	--oasis-terminal-color2: #386234;
	--oasis-terminal-color3: #605a20;
	--oasis-terminal-color4: #14599f;
	--oasis-terminal-color5: #7522d6;
	--oasis-terminal-color6: #31605b;
	--oasis-terminal-color7: #4e4111;
	--oasis-terminal-color8: #4a4039;
	--oasis-terminal-color9: #b11212;
	--oasis-terminal-cyan: #31605b;
	--oasis-terminal-green: #386234;
	--oasis-terminal-magenta: #7522d6;
	--oasis-terminal-red: #b11212;
	--oasis-terminal-white: #4e4111;
	--oasis-terminal-yellow: #605a20;
	--oasis-theme-accent: #388032;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #944224;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #786e14;
	--oasis-theme-secondary: #7f270d;
	--oasis-theme-secondary-light: #77280b;
	--oasis-theme-secondary-strong: #9a5034;
	--oasis-theme-status: #a23211;
	--oasis-theme-strong-primary: #948d3a;
	--oasis-ui-border: #7e503f;
	--oasis-ui-cursorLine: #f6d5c9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2b5667;
	--oasis-ui-float-bg: #f6d5c9;
	--oasis-ui-float-border-bg: #f6d5c9;
	--oasis-ui-float-border-fg: #7e503f;
	--oasis-ui-float-fg: #6e3221;
	--oasis-ui-float-title: #6e3221;
	--oasis-ui-lineNumber: #965b23;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #f0bba9;
	--oasis-ui-matchParen-fg: #a94e32;
	--oasis-ui-nontext: #877772;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #94442c;
	--oasis-ui-visual-bg: #f0bba9;
	--oasis-ui-visual-fg: none;
}