/* extras/css/themes/light/1/oasis_night_light_1.css
 * name: Oasis Night Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="night_light_1"],
.oasis-night_light_1 {
	--oasis-name: "Oasis Night Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #e0dbcc;
	--oasis-bg-mantle: #dbd5c2;
	--oasis-bg-shadow: #d5ceb9;
	--oasis-bg-surface: #cfc7af;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #23427f;
	--oasis-diff-delete: #653838;
	--oasis-diff-text: #603c26;
	--oasis-fg-comment: #7a6459;
	--oasis-fg-core: #52422d;
	--oasis-fg-dim: #857b74;
	--oasis-fg-muted: #705d53;
	--oasis-fg-strong: #5d3d27;
	--oasis-git-add: #1d4e16;
	--oasis-git-change: #4c450a;
	--oasis-git-delete: #8f0000;
	--oasis-syntax-bracket: #5b616c;
	--oasis-syntax-builtinConst: #453fb4;
	--oasis-syntax-builtinFunc: #72460d;
	--oasis-syntax-builtinVar: #6d00d6;
	--oasis-syntax-comment: #7a5a4b;
	--oasis-syntax-conditional: #713e12;
	--oasis-syntax-constant: #353535;
	--oasis-syntax-delimiter: #774419;
	--oasis-syntax-exception: #a11217;
	--oasis-syntax-func: #6b420c;
	--oasis-syntax-identifier: #21566c;
	--oasis-syntax-operator: #784313;
	--oasis-syntax-parameter: #1f4b1a;
	--oasis-syntax-preproc: #694b0b;
	--oasis-syntax-punctuation: #794313;
	--oasis-syntax-regex: #7c3b51;
	--oasis-syntax-special: #585124;
	--oasis-syntax-statement: #784313;
	--oasis-syntax-string: #951519;
	--oasis-syntax-type: #2b524d;
	--oasis-terminal-black: #5e3c33;
	--oasis-terminal-blue: #125191;
	--oasis-terminal-bright-black: #593f30;
	--oasis-terminal-bright-blue: #1f566d;
	--oasis-terminal-bright-cyan: #2c5851;
	--oasis-terminal-bright-green: #2f5a2a;
	--oasis-terminal-bright-magenta: #6a20c4;
	--oasis-terminal-bright-red: #a21010;
	--oasis-terminal-bright-white: #4c4428;
	--oasis-terminal-bright-yellow: #764412;
	--oasis-terminal-color0: #5e3c33;
	--oasis-terminal-color1: #a21010;
	--oasis-terminal-color10: #2f5a2a;
	--oasis-terminal-color11: #764412;
	--oasis-terminal-color12: #1f566d;
	--oasis-terminal-color13: #6a20c4;
	--oasis-terminal-color14: #2c5851;
	--oasis-terminal-color15: #4c4428;
	--oasis-terminal-color2: #33592f;
	--oasis-terminal-color3: #57511d;
	--oasis-terminal-color4: #125191;
	--oasis-terminal-color5: #6b1fc4;
	--oasis-terminal-color6: #2d5753;
	--oasis-terminal-color7: #504311;
	--oasis-terminal-color8: #593f30;
	--oasis-terminal-color9: #a21010;
	--oasis-terminal-cyan: #2d5753;
	--oasis-terminal-green: #33592f;
	--oasis-terminal-magenta: #6b1fc4;
	--oasis-terminal-red: #a21010;
	--oasis-terminal-white: #504311;
	--oasis-terminal-yellow: #57511d;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-label: #888030;
	--oasis-theme-light-primary: #2c4962;
	--oasis-theme-primary: #355374;
	--oasis-theme-secondary: #847d2e;
	--oasis-theme-strong-primary: #3c6085;
	--oasis-ui-border: #354658;
	--oasis-ui-cursorLine: #dbd5c2;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244958;
	--oasis-ui-float-bg: #dbd5c2;
	--oasis-ui-float-border-bg: #dbd5c2;
	--oasis-ui-float-border-fg: #354658;
	--oasis-ui-float-fg: #354658;
	--oasis-ui-float-title: #354658;
	--oasis-ui-lineNumber: #623b17;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #cfc7af;
	--oasis-ui-matchParen-fg: #48452d;
	--oasis-ui-nontext: #747e89;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #354658;
	--oasis-ui-visual-bg: #cfc7af;
	--oasis-ui-visual-fg: none;
}