/* extras/css/themes/light/1/oasis_starlight_light_1.css
 * name: Oasis Starlight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="starlight_light_1"],
.oasis-starlight_light_1 {
	--oasis-name: "Oasis Starlight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #faf9f5;
	--oasis-bg-mantle: #f2f0e6;
	--oasis-bg-shadow: #f5f3eb;
	--oasis-bg-surface: #e6e1cc;
	--oasis-diff-add: #3a6c54;
	--oasis-diff-change: #56627b;
	--oasis-diff-delete: #905050;
	--oasis-diff-text: #895537;
	--oasis-fg-comment: #717d88;
	--oasis-fg-core: #1f1d17;
	--oasis-fg-dim: #9d8e88;
	--oasis-fg-muted: #6c747e;
	--oasis-fg-strong: #484540;
	--oasis-git-add: #29701f;
	--oasis-git-change: #905315;
	--oasis-git-delete: #c70000;
	--oasis-syntax-bracket: #4e535d;
	--oasis-syntax-builtinConst: #6762c8;
	--oasis-syntax-builtinFunc: #845924;
	--oasis-syntax-builtinVar: #8729e1;
	--oasis-syntax-comment: #64758a;
	--oasis-syntax-conditional: #1464a9;
	--oasis-syntax-constant: #ac5813;
	--oasis-syntax-delimiter: #2977b9;
	--oasis-syntax-exception: #c3151c;
	--oasis-syntax-func: #704f26;
	--oasis-syntax-identifier: #2a6f8b;
	--oasis-syntax-macro: #5c5631;
	--oasis-syntax-operator: #1560bc;
	--oasis-syntax-parameter: #3c7438;
	--oasis-syntax-preproc: #6b632c;
	--oasis-syntax-punctuation: #1254a5;
	--oasis-syntax-regex: #b15273;
	--oasis-syntax-special: #965010;
	--oasis-syntax-statement: #1871bf;
	--oasis-syntax-string: #ac1319;
	--oasis-syntax-type: #3b716b;
	--oasis-syntax-typedef: #325d56;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #554a41;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366b63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c31414;
	--oasis-terminal-bright-white: #544b2d;
	--oasis-terminal-bright-yellow: #905315;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #c31414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #905315;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366b63;
	--oasis-terminal-color15: #544b2d;
	--oasis-terminal-color2: #3e6d39;
	--oasis-terminal-color3: #6a6323;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8132de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #594b13;
	--oasis-terminal-color8: #554a41;
	--oasis-terminal-color9: #c31414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d39;
	--oasis-terminal-magenta: #8132de;
	--oasis-terminal-red: #c31414;
	--oasis-terminal-white: #594b13;
	--oasis-terminal-yellow: #6a6323;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #847e34;
	--oasis-theme-light-primary: #16536c;
	--oasis-theme-primary: #075085;
	--oasis-theme-secondary: #786e14;
	--oasis-theme-strong-primary: #1e75b1;
	--oasis-ui-border: #2a6a98;
	--oasis-ui-cursorLine: #f2f0e6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #306074;
	--oasis-ui-float-bg: #f2f0e6;
	--oasis-ui-float-border-bg: #f2f0e6;
	--oasis-ui-float-border-fg: #2a6a98;
	--oasis-ui-float-fg: #534e26;
	--oasis-ui-float-title: #534e26;
	--oasis-ui-lineNumber: #a46326;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #e6e1cc;
	--oasis-ui-matchParen-fg: #a46326;
	--oasis-ui-nontext: #95817a;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #2a6a98;
	--oasis-ui-visual-bg: #e6e1cc;
	--oasis-ui-visual-fg: none;
}