/* extras/css/themes/light/1/oasis_starlight_light_1.css
 * name: Oasis Starlight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="starlight_light_1"],
.oasis-starlight_light_1 {
	--oasis-name: "Oasis Starlight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #ffffff;
	--oasis-bg-mantle: #f0f0f0;
	--oasis-bg-shadow: #f7f7f7;
	--oasis-bg-surface: #e8e8e8;
	--oasis-diff-add: #3c6f56;
	--oasis-diff-change: #59667f;
	--oasis-diff-delete: #955353;
	--oasis-diff-text: #8e5839;
	--oasis-fg-comment: #75818c;
	--oasis-fg-core: #24211a;
	--oasis-fg-dim: #a1928d;
	--oasis-fg-muted: #707882;
	--oasis-fg-strong: #4c4943;
	--oasis-git-add: #2b7420;
	--oasis-git-change: #955616;
	--oasis-git-delete: #ce0000;
	--oasis-syntax-bracket: #515661;
	--oasis-syntax-builtinConst: #6b66ca;
	--oasis-syntax-builtinFunc: #885c26;
	--oasis-syntax-builtinVar: #8b30e2;
	--oasis-syntax-comment: #67788e;
	--oasis-syntax-conditional: #1568af;
	--oasis-syntax-constant: #b15b13;
	--oasis-syntax-delimiter: #2a7bbf;
	--oasis-syntax-exception: #c9161d;
	--oasis-syntax-func: #745227;
	--oasis-syntax-identifier: #2c7390;
	--oasis-syntax-macro: #5f5a32;
	--oasis-syntax-operator: #1564c2;
	--oasis-syntax-parameter: #3e7839;
	--oasis-syntax-preproc: #6f662e;
	--oasis-syntax-punctuation: #1358ab;
	--oasis-syntax-regex: #b45777;
	--oasis-syntax-special: #9b5211;
	--oasis-syntax-statement: #1975c5;
	--oasis-syntax-string: #b21319;
	--oasis-syntax-type: #3d756e;
	--oasis-syntax-typedef: #34615a;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #1766b7;
	--oasis-terminal-bright-black: #584d44;
	--oasis-terminal-bright-blue: #276c89;
	--oasis-terminal-bright-cyan: #386f66;
	--oasis-terminal-bright-green: #3c7135;
	--oasis-terminal-bright-magenta: #8439df;
	--oasis-terminal-bright-red: #ca1414;
	--oasis-terminal-bright-white: #574f2f;
	--oasis-terminal-bright-yellow: #955616;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #ca1414;
	--oasis-terminal-color10: #3c7135;
	--oasis-terminal-color11: #955616;
	--oasis-terminal-color12: #276c89;
	--oasis-terminal-color13: #8439df;
	--oasis-terminal-color14: #386f66;
	--oasis-terminal-color15: #574f2f;
	--oasis-terminal-color2: #40703b;
	--oasis-terminal-color3: #6e6725;
	--oasis-terminal-color4: #1766b7;
	--oasis-terminal-color5: #8538df;
	--oasis-terminal-color6: #386e68;
	--oasis-terminal-color7: #5c4e14;
	--oasis-terminal-color8: #584d44;
	--oasis-terminal-color9: #ca1414;
	--oasis-terminal-cyan: #386e68;
	--oasis-terminal-green: #40703b;
	--oasis-terminal-magenta: #8538df;
	--oasis-terminal-red: #ca1414;
	--oasis-terminal-white: #5c4e14;
	--oasis-terminal-yellow: #6e6725;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #847e34;
	--oasis-theme-light-primary: #16536c;
	--oasis-theme-primary: #075085;
	--oasis-theme-secondary: #786e14;
	--oasis-theme-strong-primary: #1e75b1;
	--oasis-ui-border: #255d85;
	--oasis-ui-cursorLine: #f0f0f0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #274e5d;
	--oasis-ui-float-bg: #f0f0f0;
	--oasis-ui-float-border-bg: #f0f0f0;
	--oasis-ui-float-border-fg: #317cb2;
	--oasis-ui-float-fg: #605a2c;
	--oasis-ui-float-title: #605a2c;
	--oasis-ui-lineNumber: #aa6728;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #e8e8e8;
	--oasis-ui-matchParen-fg: #85814f;
	--oasis-ui-nontext: #98857f;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #255d85;
	--oasis-ui-visual-bg: #e8e8e8;
	--oasis-ui-visual-fg: none;
}