/* extras/css/themes/light/1/oasis_luna_light_1.css
 * name: Oasis Luna Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="luna_light_1"],
.oasis-luna_light_1 {
	--oasis-name: "Oasis Luna Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f3f3fc;
	--oasis-bg-mantle: #e1e1f7;
	--oasis-bg-shadow: #e7e7f9;
	--oasis-bg-surface: #c2c2f0;
	--oasis-diff-add: #386851;
	--oasis-diff-change: #594fbf;
	--oasis-diff-delete: #8b4d4d;
	--oasis-diff-text: #855335;
	--oasis-fg-comment: #7a7590;
	--oasis-fg-core: #1a162b;
	--oasis-fg-dim: #8e8b9c;
	--oasis-fg-muted: #716d81;
	--oasis-fg-strong: #45397a;
	--oasis-git-add: #286c1e;
	--oasis-git-change: #8c5015;
	--oasis-git-delete: #c20000;
	--oasis-syntax-bracket: #4c505a;
	--oasis-syntax-builtinConst: #635ec8;
	--oasis-syntax-builtinFunc: #7f5623;
	--oasis-syntax-builtinVar: #8322e0;
	--oasis-syntax-comment: #75699a;
	--oasis-syntax-conditional: #666036;
	--oasis-syntax-constant: #a75512;
	--oasis-syntax-delimiter: #767148;
	--oasis-syntax-exception: #bd151b;
	--oasis-syntax-func: #674e2e;
	--oasis-syntax-identifier: #296c87;
	--oasis-syntax-macro: #7d4332;
	--oasis-syntax-operator: #66602e;
	--oasis-syntax-parameter: #3a7136;
	--oasis-syntax-preproc: #98472e;
	--oasis-syntax-punctuation: #59542f;
	--oasis-syntax-regex: #b7476c;
	--oasis-syntax-special: #914d10;
	--oasis-syntax-statement: #786c1c;
	--oasis-syntax-string: #a61218;
	--oasis-syntax-type: #396e67;
	--oasis-syntax-typedef: #305a53;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #1560ab;
	--oasis-terminal-bright-black: #51473f;
	--oasis-terminal-bright-blue: #256681;
	--oasis-terminal-bright-cyan: #346860;
	--oasis-terminal-bright-green: #386a31;
	--oasis-terminal-bright-magenta: #7d2ddd;
	--oasis-terminal-bright-red: #be1313;
	--oasis-terminal-bright-white: #51482b;
	--oasis-terminal-bright-yellow: #8c5015;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #be1313;
	--oasis-terminal-color10: #386a31;
	--oasis-terminal-color11: #8c5015;
	--oasis-terminal-color12: #256681;
	--oasis-terminal-color13: #7d2ddd;
	--oasis-terminal-color14: #346860;
	--oasis-terminal-color15: #51482b;
	--oasis-terminal-color2: #3c6938;
	--oasis-terminal-color3: #676022;
	--oasis-terminal-color4: #1560ab;
	--oasis-terminal-color5: #7d2cdd;
	--oasis-terminal-color6: #356762;
	--oasis-terminal-color7: #554812;
	--oasis-terminal-color8: #51473f;
	--oasis-terminal-color9: #be1313;
	--oasis-terminal-cyan: #356762;
	--oasis-terminal-green: #3c6938;
	--oasis-terminal-magenta: #7d2cdd;
	--oasis-terminal-red: #be1313;
	--oasis-terminal-white: #554812;
	--oasis-terminal-yellow: #676022;
	--oasis-theme-accent: #1b7b98;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #706612;
	--oasis-theme-primary: #786e14;
	--oasis-theme-secondary: #1c1c70;
	--oasis-theme-secondary-light: #15166d;
	--oasis-theme-secondary-strong: #8c8643;
	--oasis-theme-status: #24248f;
	--oasis-theme-strong-primary: #443798;
	--oasis-ui-border: #5858b5;
	--oasis-ui-cursorLine: #e1e1f7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2f5d70;
	--oasis-ui-float-bg: #e1e1f7;
	--oasis-ui-float-border-bg: #e1e1f7;
	--oasis-ui-float-border-fg: #5858b5;
	--oasis-ui-float-fg: #504b24;
	--oasis-ui-float-title: #504b24;
	--oasis-ui-lineNumber: #a06125;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #c2c2f0;
	--oasis-ui-matchParen-fg: #866d2e;
	--oasis-ui-nontext: #837f93;
	--oasis-ui-picker-bg: #e1e1f7;
	--oasis-ui-picker-border-bg: #e1e1f7;
	--oasis-ui-picker-border-fg: #6a6430;
	--oasis-ui-picker-fg: #595429;
	--oasis-ui-picker-title: #595429;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #6a6430;
	--oasis-ui-visual-bg: #c2c2f0;
	--oasis-ui-visual-fg: none;
}