/* extras/css/themes/light/1/oasis_canyon_light_1.css
 * name: Oasis Canyon Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="canyon_light_1"],
.oasis-canyon_light_1 {
	--oasis-name: "Oasis Canyon Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f4e3d5;
	--oasis-bg-mantle: #efd7c3;
	--oasis-bg-shadow: #f1dbc9;
	--oasis-bg-surface: #e7c3a5;
	--oasis-diff-add: #335f4a;
	--oasis-diff-change: #714f40;
	--oasis-diff-delete: #7f4747;
	--oasis-diff-text: #7a4c31;
	--oasis-fg-comment: #826b5f;
	--oasis-fg-core: #1a150e;
	--oasis-fg-dim: #8c827b;
	--oasis-fg-muted: #786359;
	--oasis-fg-strong: #503521;
	--oasis-git-add: #24641c;
	--oasis-git-change: #804913;
	--oasis-git-delete: #b20000;
	--oasis-syntax-bracket: #444851;
	--oasis-syntax-builtinConst: #5a54c4;
	--oasis-syntax-builtinFunc: #605720;
	--oasis-syntax-builtinVar: #791dd0;
	--oasis-syntax-comment: #826050;
	--oasis-syntax-conditional: #824815;
	--oasis-syntax-constant: #9a4f11;
	--oasis-syntax-delimiter: #995720;
	--oasis-syntax-exception: #ad1319;
	--oasis-syntax-func: #524b1c;
	--oasis-syntax-identifier: #26637c;
	--oasis-syntax-macro: #62450b;
	--oasis-syntax-operator: #814914;
	--oasis-syntax-parameter: #356832;
	--oasis-syntax-preproc: #71510c;
	--oasis-syntax-punctuation: #703e12;
	--oasis-syntax-regex: #a14967;
	--oasis-syntax-special: #5f5727;
	--oasis-syntax-statement: #945317;
	--oasis-syntax-string: #971016;
	--oasis-syntax-type: #35655f;
	--oasis-syntax-typedef: #2b514d;
	--oasis-terminal-black: #414141;
	--oasis-terminal-blue: #13589d;
	--oasis-terminal-bright-black: #493f38;
	--oasis-terminal-bright-blue: #225d76;
	--oasis-terminal-bright-cyan: #305f57;
	--oasis-terminal-bright-green: #33612d;
	--oasis-terminal-bright-magenta: #7222d4;
	--oasis-terminal-bright-red: #ae1111;
	--oasis-terminal-bright-white: #484026;
	--oasis-terminal-bright-yellow: #804913;
	--oasis-terminal-color0: #414141;
	--oasis-terminal-color1: #ae1111;
	--oasis-terminal-color10: #33612d;
	--oasis-terminal-color11: #804913;
	--oasis-terminal-color12: #225d76;
	--oasis-terminal-color13: #7222d4;
	--oasis-terminal-color14: #305f57;
	--oasis-terminal-color15: #484026;
	--oasis-terminal-color2: #376033;
	--oasis-terminal-color3: #5e581f;
	--oasis-terminal-color4: #13589d;
	--oasis-terminal-color5: #7322d3;
	--oasis-terminal-color6: #305f5a;
	--oasis-terminal-color7: #4c4010;
	--oasis-terminal-color8: #493f38;
	--oasis-terminal-color9: #ae1111;
	--oasis-terminal-cyan: #305f5a;
	--oasis-terminal-green: #376033;
	--oasis-terminal-magenta: #7322d3;
	--oasis-terminal-red: #ae1111;
	--oasis-terminal-white: #4c4010;
	--oasis-terminal-yellow: #5e581f;
	--oasis-theme-accent: #1f7294;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #b00707;
	--oasis-theme-light-primary: #784e0a;
	--oasis-theme-primary: #81460c;
	--oasis-theme-secondary: #870606;
	--oasis-theme-strong-primary: #aa6524;
	--oasis-ui-border: #814e1e;
	--oasis-ui-cursorLine: #efd7c3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #295567;
	--oasis-ui-float-bg: #efd7c3;
	--oasis-ui-float-border-bg: #efd7c3;
	--oasis-ui-float-border-fg: #814e1e;
	--oasis-ui-float-fg: #7f1e1e;
	--oasis-ui-float-title: #7f1e1e;
	--oasis-ui-lineNumber: #7d642b;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #e7c3a5;
	--oasis-ui-matchParen-fg: #376e84;
	--oasis-ui-nontext: #83766f;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #804f1e;
	--oasis-ui-visual-bg: #e7c3a5;
	--oasis-ui-visual-fg: none;
}