/* extras/css/themes/light/1/oasis_starlight_light_1.css
 * name: Oasis Starlight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="starlight_light_1"],
.oasis-starlight_light_1 {
	--oasis-name: "Oasis Starlight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #4a556a;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #774a30;
	--oasis-fg-comment: #707c87;
	--oasis-fg-core: #5c5442;
	--oasis-fg-dim: #9c8d88;
	--oasis-fg-muted: #6b737d;
	--oasis-fg-strong: #58544d;
	--oasis-git-add: #24611b;
	--oasis-git-change: #5e560c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #6c727f;
	--oasis-syntax-builtinConst: #5752c3;
	--oasis-syntax-builtinFunc: #8a550f;
	--oasis-syntax-builtinVar: #8200ff;
	--oasis-syntax-comment: #637489;
	--oasis-syntax-conditional: #135e9e;
	--oasis-syntax-constant: #464645;
	--oasis-syntax-delimiter: #23649c;
	--oasis-syntax-exception: #c1151c;
	--oasis-syntax-func: #83500e;
	--oasis-syntax-identifier: #276882;
	--oasis-syntax-operator: #1563a7;
	--oasis-syntax-parameter: #265e21;
	--oasis-syntax-preproc: #6a622c;
	--oasis-syntax-punctuation: #1463a7;
	--oasis-syntax-regex: #964861;
	--oasis-syntax-special: #954f10;
	--oasis-syntax-statement: #1563a7;
	--oasis-syntax-string: #b5191e;
	--oasis-syntax-type: #34645e;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #1662af;
	--oasis-terminal-bright-black: #5f5349;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #5e5432;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #c21313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #5e5432;
	--oasis-terminal-color2: #3d6c39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1662af;
	--oasis-terminal-color5: #8030de;
	--oasis-terminal-color6: #366a64;
	--oasis-terminal-color7: #635415;
	--oasis-terminal-color8: #5f5349;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #366a64;
	--oasis-terminal-green: #3d6c39;
	--oasis-terminal-magenta: #8030de;
	--oasis-terminal-red: #c21313;
	--oasis-terminal-white: #635415;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-label: #847e34;
	--oasis-theme-light-primary: #185b76;
	--oasis-theme-primary: #0961a0;
	--oasis-theme-secondary: #988c1a;
	--oasis-theme-strong-primary: #0a70b8;
	--oasis-ui-border: #23597f;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #f3efeb;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #23597f;
	--oasis-ui-float-fg: #23597f;
	--oasis-ui-float-title: #23597f;
	--oasis-ui-lineNumber: #79491c;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #e8e0d8;
	--oasis-ui-matchParen-fg: #595635;
	--oasis-ui-nontext: #9e8c86;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #23597f;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}