/* extras/css/themes/light/1/oasis_luna_light_1.css
 * name: Oasis Luna Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="luna_light_1"],
.oasis-luna_light_1 {
	--oasis-name: "Oasis Luna Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f9fb;
	--oasis-bg-mantle: #f0f0f5;
	--oasis-bg-shadow: #e7e7ef;
	--oasis-bg-surface: #dddde9;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #4d43bd;
	--oasis-diff-delete: #7e4646;
	--oasis-diff-text: #784b30;
	--oasis-fg-comment: #7d7893;
	--oasis-fg-core: #594b94;
	--oasis-fg-dim: #928f9f;
	--oasis-fg-muted: #747185;
	--oasis-fg-strong: #58499c;
	--oasis-git-add: #24621b;
	--oasis-git-change: #5f570c;
	--oasis-git-delete: #b00000;
	--oasis-syntax-bracket: #6d7381;
	--oasis-syntax-builtinConst: #5853c4;
	--oasis-syntax-builtinFunc: #8c560f;
	--oasis-syntax-builtinVar: #8404ff;
	--oasis-syntax-comment: #786c9d;
	--oasis-syntax-conditional: #635e35;
	--oasis-syntax-constant: #474746;
	--oasis-syntax-delimiter: #68633f;
	--oasis-syntax-exception: #c3151c;
	--oasis-syntax-func: #84510e;
	--oasis-syntax-identifier: #286983;
	--oasis-syntax-operator: #69632f;
	--oasis-syntax-parameter: #275f21;
	--oasis-syntax-preproc: #9d4a30;
	--oasis-syntax-punctuation: #696337;
	--oasis-syntax-regex: #9c4562;
	--oasis-syntax-special: #965010;
	--oasis-syntax-statement: #6b632c;
	--oasis-syntax-string: #b71a1f;
	--oasis-syntax-type: #35655f;
	--oasis-terminal-black: #565656;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #60544a;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366b63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #5f5633;
	--oasis-terminal-bright-yellow: #905315;
	--oasis-terminal-color0: #565656;
	--oasis-terminal-color1: #c41414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #905315;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366b63;
	--oasis-terminal-color15: #5f5633;
	--oasis-terminal-color2: #3e6d3a;
	--oasis-terminal-color3: #6a6323;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8132de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #645516;
	--oasis-terminal-color8: #60544a;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d3a;
	--oasis-terminal-magenta: #8132de;
	--oasis-terminal-red: #c41414;
	--oasis-terminal-white: #645516;
	--oasis-terminal-yellow: #6a6323;
	--oasis-theme-accent: #1b7b98;
	--oasis-theme-label: #991f1f;
	--oasis-theme-light-primary: #7a7014;
	--oasis-theme-primary: #908419;
	--oasis-theme-secondary: #5307ab;
	--oasis-theme-secondary-light: #410689;
	--oasis-theme-secondary-strong: #837e3f;
	--oasis-theme-strong-primary: #837e3f;
	--oasis-ui-border: #7035b3;
	--oasis-ui-cursorLine: #f0f0f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2e5b6e;
	--oasis-ui-float-bg: #f0f0f5;
	--oasis-ui-float-border-bg: #f0f0f5;
	--oasis-ui-float-border-fg: #7035b3;
	--oasis-ui-float-fg: #5c572a;
	--oasis-ui-float-title: #5c572a;
	--oasis-ui-lineNumber: #7b4a1d;
	--oasis-ui-match-bg: #7ad1a1;
	--oasis-ui-match-fg: #0d311d;
	--oasis-ui-matchParen-bg: #dddde9;
	--oasis-ui-matchParen-fg: #5a5738;
	--oasis-ui-nontext: #928fa1;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #5c572a;
	--oasis-ui-visual-bg: #dddde9;
	--oasis-ui-visual-fg: none;
}