/* extras/css/themes/light/1/oasis_mirage_light_1.css
 * name: Oasis Mirage Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="mirage_light_1"],
.oasis-mirage_light_1 {
	--oasis-name: "Oasis Mirage Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9fbfa;
	--oasis-bg-mantle: #f0f5f2;
	--oasis-bg-shadow: #e7efeb;
	--oasis-bg-surface: #dde9e3;
	--oasis-diff-add: #335f4a;
	--oasis-diff-change: #3c5b68;
	--oasis-diff-delete: #7f4646;
	--oasis-diff-text: #794c31;
	--oasis-fg-comment: #65827d;
	--oasis-fg-core: #182020;
	--oasis-fg-dim: #9a9089;
	--oasis-fg-muted: #687776;
	--oasis-fg-strong: #354b45;
	--oasis-git-add: #24631c;
	--oasis-git-change: #60570c;
	--oasis-git-delete: #b20000;
	--oasis-syntax-bracket: #4f545e;
	--oasis-syntax-builtinConst: #6863c9;
	--oasis-syntax-builtinFunc: #855a25;
	--oasis-syntax-builtinVar: #882be1;
	--oasis-syntax-comment: #4c7d75;
	--oasis-syntax-conditional: #366c66;
	--oasis-syntax-constant: #ad5913;
	--oasis-syntax-delimiter: #487d78;
	--oasis-syntax-exception: #c4151c;
	--oasis-syntax-func: #715026;
	--oasis-syntax-identifier: #2b708d;
	--oasis-syntax-macro: #8b412a;
	--oasis-syntax-operator: #366c64;
	--oasis-syntax-parameter: #3c7538;
	--oasis-syntax-preproc: #b03b1e;
	--oasis-syntax-punctuation: #305e59;
	--oasis-syntax-regex: #ba4e71;
	--oasis-syntax-special: #965110;
	--oasis-syntax-statement: #3c7a70;
	--oasis-syntax-string: #ad1319;
	--oasis-syntax-type: #3c726c;
	--oasis-syntax-typedef: #315e59;
	--oasis-terminal-black: #575757;
	--oasis-terminal-blue: #1664b2;
	--oasis-terminal-bright-black: #61544b;
	--oasis-terminal-bright-blue: #266a86;
	--oasis-terminal-bright-cyan: #366c63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8134de;
	--oasis-terminal-bright-red: #c51414;
	--oasis-terminal-bright-white: #605633;
	--oasis-terminal-bright-yellow: #915416;
	--oasis-terminal-color0: #575757;
	--oasis-terminal-color1: #c51414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #915416;
	--oasis-terminal-color12: #266a86;
	--oasis-terminal-color13: #8134de;
	--oasis-terminal-color14: #366c63;
	--oasis-terminal-color15: #605633;
	--oasis-terminal-color2: #3e6e3a;
	--oasis-terminal-color3: #6b6424;
	--oasis-terminal-color4: #1664b2;
	--oasis-terminal-color5: #8233de;
	--oasis-terminal-color6: #376c66;
	--oasis-terminal-color7: #655516;
	--oasis-terminal-color8: #61544b;
	--oasis-terminal-color9: #c51414;
	--oasis-terminal-cyan: #376c66;
	--oasis-terminal-green: #3e6e3a;
	--oasis-terminal-magenta: #8233de;
	--oasis-terminal-red: #c51414;
	--oasis-terminal-white: #655516;
	--oasis-terminal-yellow: #6b6424;
	--oasis-theme-accent: #5107ab;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #aa500d;
	--oasis-theme-light-primary: #285a53;
	--oasis-theme-primary: #2c615a;
	--oasis-theme-secondary: #81460c;
	--oasis-theme-strong-primary: #408e85;
	--oasis-ui-border: #395d59;
	--oasis-ui-cursorLine: #f0f5f2;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #264b5a;
	--oasis-ui-float-bg: #f0f5f2;
	--oasis-ui-float-border-bg: #f0f5f2;
	--oasis-ui-float-border-fg: #4c7d77;
	--oasis-ui-float-fg: #784d22;
	--oasis-ui-float-title: #784d22;
	--oasis-ui-lineNumber: #a66427;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #dde9e3;
	--oasis-ui-matchParen-fg: #b56a32;
	--oasis-ui-nontext: #8f847b;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #395d59;
	--oasis-ui-visual-bg: #dde9e3;
	--oasis-ui-visual-fg: none;
}