/* extras/css/themes/light/1/oasis_rose_light_1.css
 * name: Oasis Rose Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="rose_light_1"],
.oasis-rose_light_1 {
	--oasis-name: "Oasis Rose Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #fbf9fb;
	--oasis-bg-mantle: #f5f0f5;
	--oasis-bg-shadow: #efe7ef;
	--oasis-bg-surface: #e9dde9;
	--oasis-diff-add: #335f49;
	--oasis-diff-change: #6c4c63;
	--oasis-diff-delete: #7f4646;
	--oasis-diff-text: #794b30;
	--oasis-fg-comment: #897780;
	--oasis-fg-core: #2a191e;
	--oasis-fg-dim: #97908a;
	--oasis-fg-muted: #806f79;
	--oasis-fg-strong: #5a3d52;
	--oasis-git-add: #24631b;
	--oasis-git-change: #5f570c;
	--oasis-git-delete: #b10000;
	--oasis-syntax-bracket: #4f545d;
	--oasis-syntax-builtinConst: #6862c9;
	--oasis-syntax-builtinFunc: #845924;
	--oasis-syntax-builtinVar: #882ae1;
	--oasis-syntax-comment: #8b6a7a;
	--oasis-syntax-conditional: #974963;
	--oasis-syntax-constant: #ac5813;
	--oasis-syntax-delimiter: #9b6475;
	--oasis-syntax-exception: #c3151c;
	--oasis-syntax-func: #705026;
	--oasis-syntax-identifier: #2a708c;
	--oasis-syntax-macro: #824634;
	--oasis-syntax-operator: #9b4663;
	--oasis-syntax-parameter: #3c7538;
	--oasis-syntax-preproc: #af3b1d;
	--oasis-syntax-punctuation: #854056;
	--oasis-syntax-regex: #e11920;
	--oasis-syntax-special: #975010;
	--oasis-syntax-statement: #b8486d;
	--oasis-syntax-string: #605617;
	--oasis-syntax-type: #3b716b;
	--oasis-syntax-typedef: #315e58;
	--oasis-terminal-black: #565656;
	--oasis-terminal-blue: #1663b1;
	--oasis-terminal-bright-black: #60544a;
	--oasis-terminal-bright-blue: #266985;
	--oasis-terminal-bright-cyan: #366b63;
	--oasis-terminal-bright-green: #3a6e33;
	--oasis-terminal-bright-magenta: #8033de;
	--oasis-terminal-bright-red: #c41414;
	--oasis-terminal-bright-white: #5f5633;
	--oasis-terminal-bright-yellow: #915315;
	--oasis-terminal-color0: #565656;
	--oasis-terminal-color1: #c41414;
	--oasis-terminal-color10: #3a6e33;
	--oasis-terminal-color11: #915315;
	--oasis-terminal-color12: #266985;
	--oasis-terminal-color13: #8033de;
	--oasis-terminal-color14: #366b63;
	--oasis-terminal-color15: #5f5633;
	--oasis-terminal-color2: #3e6d3a;
	--oasis-terminal-color3: #6b6424;
	--oasis-terminal-color4: #1663b1;
	--oasis-terminal-color5: #8133de;
	--oasis-terminal-color6: #376b65;
	--oasis-terminal-color7: #655516;
	--oasis-terminal-color8: #60544a;
	--oasis-terminal-color9: #c41414;
	--oasis-terminal-cyan: #376b65;
	--oasis-terminal-green: #3e6d3a;
	--oasis-terminal-magenta: #8133de;
	--oasis-terminal-red: #c41414;
	--oasis-terminal-white: #655516;
	--oasis-terminal-yellow: #6b6424;
	--oasis-theme-accent: #377c71;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #427645;
	--oasis-theme-light-primary: #622135;
	--oasis-theme-primary: #65283c;
	--oasis-theme-secondary: #325b33;
	--oasis-theme-strong-primary: #903e59;
	--oasis-ui-border: #734a58;
	--oasis-ui-cursorLine: #f5f0f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #254b5a;
	--oasis-ui-float-bg: #f5f0f5;
	--oasis-ui-float-border-bg: #f5f0f5;
	--oasis-ui-float-border-fg: #9a6476;
	--oasis-ui-float-fg: #445c45;
	--oasis-ui-float-title: #445c45;
	--oasis-ui-lineNumber: #a56427;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #e9dde9;
	--oasis-ui-matchParen-fg: #628463;
	--oasis-ui-nontext: #90837b;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #774859;
	--oasis-ui-visual-bg: #e9dde9;
	--oasis-ui-visual-fg: none;
}