/* extras/css/themes/light/1/oasis_twilight_light_1.css
 * name: Oasis Twilight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="twilight_light_1"],
.oasis-twilight_light_1 {
	--oasis-name: "Oasis Twilight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f6f5;
	--oasis-bg-mantle: #f3edeb;
	--oasis-bg-shadow: #eee5e2;
	--oasis-bg-surface: #e8dcd8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #674683;
	--oasis-diff-delete: #7c4545;
	--oasis-diff-text: #764a2f;
	--oasis-fg-comment: #7d778f;
	--oasis-fg-core: #201920;
	--oasis-fg-dim: #968e87;
	--oasis-fg-muted: #746f83;
	--oasis-fg-strong: #543674;
	--oasis-git-add: #23611b;
	--oasis-git-change: #5d550c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #4d525c;
	--oasis-syntax-builtinConst: #6560c8;
	--oasis-syntax-builtinFunc: #6b6123;
	--oasis-syntax-builtinVar: #8626e1;
	--oasis-syntax-comment: #776d8e;
	--oasis-syntax-conditional: #915017;
	--oasis-syntax-constant: #aa5713;
	--oasis-syntax-delimiter: #a1614f;
	--oasis-syntax-exception: #c0151b;
	--oasis-syntax-func: #5d551f;
	--oasis-syntax-identifier: #2a6e89;
	--oasis-syntax-macro: #6f4e0c;
	--oasis-syntax-operator: #8e5216;
	--oasis-syntax-parameter: #3b7337;
	--oasis-syntax-preproc: #7e5a0e;
	--oasis-syntax-punctuation: #7e4714;
	--oasis-syntax-regex: #b05071;
	--oasis-syntax-special: #944e10;
	--oasis-syntax-statement: #a25b1a;
	--oasis-syntax-string: #a91218;
	--oasis-syntax-type: #3a7069;
	--oasis-syntax-typedef: #305c57;
	--oasis-terminal-black: #545454;
	--oasis-terminal-blue: #1561ae;
	--oasis-terminal-bright-black: #5f5249;
	--oasis-terminal-bright-blue: #266783;
	--oasis-terminal-bright-cyan: #356961;
	--oasis-terminal-bright-green: #396c32;
	--oasis-terminal-bright-magenta: #7e30dd;
	--oasis-terminal-bright-red: #c11313;
	--oasis-terminal-bright-white: #5d5432;
	--oasis-terminal-bright-yellow: #8e5215;
	--oasis-terminal-color0: #545454;
	--oasis-terminal-color1: #c11313;
	--oasis-terminal-color10: #396c32;
	--oasis-terminal-color11: #8e5215;
	--oasis-terminal-color12: #266783;
	--oasis-terminal-color13: #7e30dd;
	--oasis-terminal-color14: #356961;
	--oasis-terminal-color15: #5d5432;
	--oasis-terminal-color2: #3d6b39;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #1561ae;
	--oasis-terminal-color5: #7f2fde;
	--oasis-terminal-color6: #366963;
	--oasis-terminal-color7: #635315;
	--oasis-terminal-color8: #5f5249;
	--oasis-terminal-color9: #c11313;
	--oasis-terminal-cyan: #366963;
	--oasis-terminal-green: #3d6b39;
	--oasis-terminal-magenta: #7f2fde;
	--oasis-terminal-red: #c11313;
	--oasis-terminal-white: #635315;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #988c1a;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #847e34;
	--oasis-theme-light-primary: #77280b;
	--oasis-theme-primary: #7f270d;
	--oasis-theme-secondary: #400687;
	--oasis-theme-strong-primary: #a64a28;
	--oasis-ui-border: #893f29;
	--oasis-ui-cursorLine: #f3edeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #244958;
	--oasis-ui-float-bg: #f3edeb;
	--oasis-ui-float-border-bg: #f3edeb;
	--oasis-ui-float-border-fg: #b75436;
	--oasis-ui-float-fg: #6d35b2;
	--oasis-ui-float-title: #6d35b2;
	--oasis-ui-lineNumber: #a36226;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #e8dcd8;
	--oasis-ui-matchParen-fg: #807c4c;
	--oasis-ui-nontext: #8d8278;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #893f29;
	--oasis-ui-visual-bg: #e8dcd8;
	--oasis-ui-visual-fg: none;
}