/* extras/css/themes/light/1/oasis_abyss_light_1.css
 * name: Oasis Abyss Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="abyss_light_1"],
.oasis-abyss_light_1 {
	--oasis-name: "Oasis Abyss Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f9f7f5;
	--oasis-bg-mantle: #f3efeb;
	--oasis-bg-shadow: #eee8e2;
	--oasis-bg-surface: #e8e0d8;
	--oasis-diff-add: #325d48;
	--oasis-diff-change: #555555;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #774a30;
	--oasis-fg-comment: #6e7d84;
	--oasis-fg-core: #5c534b;
	--oasis-fg-dim: #978e88;
	--oasis-fg-muted: #677479;
	--oasis-fg-strong: #7c4734;
	--oasis-git-add: #226210;
	--oasis-git-change: #5e560c;
	--oasis-git-delete: #ae0000;
	--oasis-syntax-bracket: #6c727f;
	--oasis-syntax-builtinConst: #5b616e;
	--oasis-syntax-builtinFunc: #9a4b11;
	--oasis-syntax-builtinVar: #606162;
	--oasis-syntax-comment: #63757e;
	--oasis-syntax-conditional: #a92e32;
	--oasis-syntax-constant: #464645;
	--oasis-syntax-delimiter: #a34045;
	--oasis-syntax-exception: #68622f;
	--oasis-syntax-func: #8d4a0f;
	--oasis-syntax-identifier: #3e6862;
	--oasis-syntax-operator: #a93d1c;
	--oasis-syntax-parameter: #6f00da;
	--oasis-syntax-preproc: #2a6786;
	--oasis-syntax-punctuation: #ad373a;
	--oasis-syntax-regex: #326e21;
	--oasis-syntax-special: #964e10;
	--oasis-syntax-statement: #bb2328;
	--oasis-syntax-string: #276746;
	--oasis-syntax-type: #34645d;
	--oasis-terminal-black: #555555;
	--oasis-terminal-blue: #155ec0;
	--oasis-terminal-bright-black: #5c534d;
	--oasis-terminal-bright-blue: #266884;
	--oasis-terminal-bright-cyan: #356a62;
	--oasis-terminal-bright-green: #366d27;
	--oasis-terminal-bright-magenta: #7f31de;
	--oasis-terminal-bright-red: #c21313;
	--oasis-terminal-bright-white: #7d490c;
	--oasis-terminal-bright-yellow: #8f5215;
	--oasis-terminal-color0: #555555;
	--oasis-terminal-color1: #a44040;
	--oasis-terminal-color10: #366d27;
	--oasis-terminal-color11: #8f5215;
	--oasis-terminal-color12: #266884;
	--oasis-terminal-color13: #7f31de;
	--oasis-terminal-color14: #356a62;
	--oasis-terminal-color15: #7d490c;
	--oasis-terminal-color2: #306c4c;
	--oasis-terminal-color3: #696223;
	--oasis-terminal-color4: #155ec0;
	--oasis-terminal-color5: #7f30dd;
	--oasis-terminal-color6: #376a62;
	--oasis-terminal-color7: #58554c;
	--oasis-terminal-color8: #5c534d;
	--oasis-terminal-color9: #c21313;
	--oasis-terminal-cyan: #376a62;
	--oasis-terminal-green: #306c4c;
	--oasis-terminal-magenta: #7f30dd;
	--oasis-terminal-red: #a44040;
	--oasis-terminal-white: #58554c;
	--oasis-terminal-yellow: #696223;
	--oasis-theme-accent: #3e756c;
	--oasis-theme-light-primary: #7a1515;
	--oasis-theme-palette-primary-50: #FFACA5;
	--oasis-theme-palette-primary-100: #F29B9B;
	--oasis-theme-palette-primary-200: #F39493;
	--oasis-theme-palette-primary-300: #F28D8D;
	--oasis-theme-palette-primary-400: #F58888;
	--oasis-theme-palette-primary-500: #ED7777;
	--oasis-theme-palette-primary-600: #E87272;
	--oasis-theme-palette-primary-700: #E26E6E;
	--oasis-theme-palette-primary-800: #D06666;
	--oasis-theme-palette-primary-900: #A23B3B;
	--oasis-theme-primary: #8f1919;
	--oasis-theme-secondary: #a4590f;
	--oasis-theme-strong-primary: #9c2525;
	--oasis-ui-border: #8d3b3b;
	--oasis-ui-cursorLine: #f3efeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #123d07;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #3d3707;
	--oasis-ui-dir: #2d5a6c;
	--oasis-ui-float-bg: #f3efeb;
	--oasis-ui-float-border-bg: #f3efeb;
	--oasis-ui-float-border-fg: #8d3b3b;
	--oasis-ui-float-fg: #943434;
	--oasis-ui-float-title: #943434;
	--oasis-ui-lineNumber: #7a491d;
	--oasis-ui-match-bg: #7ad1a1;
	--oasis-ui-match-fg: #0d311d;
	--oasis-ui-nontext: #9a8d85;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #943434;
	--oasis-ui-visual-bg: #e8e0d8;
	--oasis-ui-visual-fg: none;
}