/* extras/css/themes/light/1/oasis_moonlight_light_1.css
 * name: Oasis Moonlight Light 1
 * author: uhs-robert
 * mode: light
 * light intensity: 1
 */

:root,
[data-oasis-theme="moonlight_light_1"],
.oasis-moonlight_light_1 {
	--oasis-name: "Oasis Moonlight Light 1";
	--oasis-mode: "light";
	--oasis-light-intensity: 1;
	--oasis-bg-core: #f3f2eb;
	--oasis-bg-crust: #f0efe6;
	--oasis-bg-mantle: #eae9dd;
	--oasis-bg-shadow: #edece1;
	--oasis-bg-surface: #dcd9c5;
	--oasis-diff-add: #376750;
	--oasis-diff-change: #456080;
	--oasis-diff-delete: #8a4c4c;
	--oasis-diff-text: #845235;
	--oasis-fg-comment: #6f7883;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #888c91;
	--oasis-fg-inlay: #838176;
	--oasis-fg-muted: #667078;
	--oasis-fg-strong: #434322;
	--oasis-git-add: #276b1e;
	--oasis-git-change: #8a4f15;
	--oasis-git-delete: #c00000;
	--oasis-syntax-bracket: #4b4f58;
	--oasis-syntax-builtin-const: #625dc7;
	--oasis-syntax-builtin-func: #815339;
	--oasis-syntax-builtin-var: #8220e0;
	--oasis-syntax-comment: #646f83;
	--oasis-syntax-conditional: #645f35;
	--oasis-syntax-constant: #a55512;
	--oasis-syntax-delimiter: #3673a4;
	--oasis-syntax-exception: #bb141b;
	--oasis-syntax-func: #714831;
	--oasis-syntax-identifier: #296b85;
	--oasis-syntax-macro: #495728;
	--oasis-syntax-operator: #655f2d;
	--oasis-syntax-parameter: #397035;
	--oasis-syntax-preproc: #55632e;
	--oasis-syntax-punctuation: #56532e;
	--oasis-syntax-regex: #d8181f;
	--oasis-syntax-special: #904c10;
	--oasis-syntax-statement: #756b2f;
	--oasis-syntax-string: #a41217;
	--oasis-syntax-type: #366e5e;
	--oasis-syntax-typedef: #30594e;
	--oasis-terminal-black: #484848;
	--oasis-terminal-blue: #155fa9;
	--oasis-terminal-bright-black: #50463e;
	--oasis-terminal-bright-blue: #24647f;
	--oasis-terminal-bright-cyan: #37665a;
	--oasis-terminal-bright-green: #376931;
	--oasis-terminal-bright-magenta: #7b2bdd;
	--oasis-terminal-bright-red: #bc1313;
	--oasis-terminal-bright-white: #4a4a10;
	--oasis-terminal-bright-yellow: #8a4f15;
	--oasis-terminal-color0: #484848;
	--oasis-terminal-color1: #bc1313;
	--oasis-terminal-color10: #376931;
	--oasis-terminal-color11: #8a4f15;
	--oasis-terminal-color12: #24647f;
	--oasis-terminal-color13: #7b2bdd;
	--oasis-terminal-color14: #37665a;
	--oasis-terminal-color15: #4a4a10;
	--oasis-terminal-color2: #3b6837;
	--oasis-terminal-color3: #665f22;
	--oasis-terminal-color4: #155fa9;
	--oasis-terminal-color5: #7c2add;
	--oasis-terminal-color6: #3a665a;
	--oasis-terminal-color7: #494922;
	--oasis-terminal-color8: #50463e;
	--oasis-terminal-color9: #bc1313;
	--oasis-terminal-cyan: #3a665a;
	--oasis-terminal-green: #3b6837;
	--oasis-terminal-magenta: #7c2add;
	--oasis-terminal-red: #bc1313;
	--oasis-terminal-white: #494922;
	--oasis-terminal-yellow: #665f22;
	--oasis-theme-accent: #ab0707;
	--oasis-theme-cursor: #908419;
	--oasis-theme-label: #b00707;
	--oasis-theme-primary: #2c4560;
	--oasis-theme-primary-light: #28425a;
	--oasis-theme-primary-strong: #40668e;
	--oasis-theme-secondary: #786e14;
	--oasis-theme-secondary-strong: #8c8643;
	--oasis-ui-border: #4c647c;
	--oasis-ui-cursor-line: #eae9dd;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2e5c6e;
	--oasis-ui-float-bg: #eae9dd;
	--oasis-ui-float-border-bg: #eae9dd;
	--oasis-ui-float-border-fg: #4c647c;
	--oasis-ui-float-fg: #4f4a24;
	--oasis-ui-float-title: #4f4a24;
	--oasis-ui-inlay: #545247;
	--oasis-ui-line-number: #9e6025;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-match-parent-bg: #dcd9c5;
	--oasis-ui-match-parent-fg: #9e6025;
	--oasis-ui-nontext: #7b8189;
	--oasis-ui-picker-bg: #eae9dd;
	--oasis-ui-picker-border-bg: #eae9dd;
	--oasis-ui-picker-border-fg: #656245;
	--oasis-ui-picker-fg: #585328;
	--oasis-ui-picker-title: #585328;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #4c647c;
	--oasis-ui-visual-bg: #dcd9c5;
	--oasis-ui-visual-fg: none;
}