/* extras/css/themes/light/4/oasis_starlight_light_4.css
 * name: Oasis Starlight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="starlight_light_4"],
.oasis-starlight_light_4 {
	--oasis-name: "Oasis Starlight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f0ece0;
	--oasis-bg-mantle: #e9e3d1;
	--oasis-bg-shadow: #ebe6d6;
	--oasis-bg-surface: #dcd3b7;
	--oasis-diff-add: #35634d;
	--oasis-diff-change: #4f5b71;
	--oasis-diff-delete: #854a4a;
	--oasis-diff-text: #7f4f33;
	--oasis-fg-comment: #697580;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #7c8b8f;
	--oasis-fg-muted: #656c75;
	--oasis-fg-strong: #404020;
	--oasis-git-add: #26681d;
	--oasis-git-change: #864c14;
	--oasis-git-delete: #b90000;
	--oasis-syntax-bracket: #474c55;
	--oasis-syntax-builtin-const: #6158c3;
	--oasis-syntax-builtin-func: #7d5038;
	--oasis-syntax-builtin-var: #7930c7;
	--oasis-syntax-comment: #5d6d80;
	--oasis-syntax-conditional: #675a2d;
	--oasis-syntax-constant: #a05211;
	--oasis-syntax-delimiter: #266fad;
	--oasis-syntax-exception: #b5141a;
	--oasis-syntax-func: #6c452f;
	--oasis-syntax-identifier: #276782;
	--oasis-syntax-macro: #475328;
	--oasis-syntax-operator: #615c2c;
	--oasis-syntax-parameter: #376c34;
	--oasis-syntax-preproc: #52602e;
	--oasis-syntax-punctuation: #544f2c;
	--oasis-syntax-regex: #b2406d;
	--oasis-syntax-special: #8c490f;
	--oasis-syntax-statement: #71682d;
	--oasis-syntax-string: #9e1116;
	--oasis-syntax-type: #376963;
	--oasis-syntax-typedef: #2d5550;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #145ba2;
	--oasis-terminal-bright-black: #4c423c;
	--oasis-terminal-bright-blue: #23617a;
	--oasis-terminal-bright-cyan: #32635b;
	--oasis-terminal-bright-green: #35652f;
	--oasis-terminal-bright-magenta: #7724dc;
	--oasis-terminal-bright-red: #b51212;
	--oasis-terminal-bright-white: #47470f;
	--oasis-terminal-bright-yellow: #864c14;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #b51212;
	--oasis-terminal-color10: #35652f;
	--oasis-terminal-color11: #864c14;
	--oasis-terminal-color12: #23617a;
	--oasis-terminal-color13: #7724dc;
	--oasis-terminal-color14: #32635b;
	--oasis-terminal-color15: #47470f;
	--oasis-terminal-color2: #396435;
	--oasis-terminal-color3: #625c21;
	--oasis-terminal-color4: #145ba2;
	--oasis-terminal-color5: #7824da;
	--oasis-terminal-color6: #33635d;
	--oasis-terminal-color7: #464621;
	--oasis-terminal-color8: #4c423c;
	--oasis-terminal-color9: #b51212;
	--oasis-terminal-cyan: #33635d;
	--oasis-terminal-green: #396435;
	--oasis-terminal-magenta: #7824da;
	--oasis-terminal-red: #b51212;
	--oasis-terminal-white: #464621;
	--oasis-terminal-yellow: #625c21;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-primary: #01376d;
	--oasis-theme-primary-light: #013162;
	--oasis-theme-primary-strong: #15659b;
	--oasis-theme-secondary: #60580d;
	--oasis-ui-border: #3b6187;
	--oasis-ui-cursor-line: #e9e3d1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2c596b;
	--oasis-ui-float-bg: #e9e3d1;
	--oasis-ui-float-border-bg: #e9e3d1;
	--oasis-ui-float-border-fg: #3b6187;
	--oasis-ui-float-fg: #4b4722;
	--oasis-ui-float-title: #4b4722;
	--oasis-ui-line-number: #995d25;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-match-parent-bg: #dcd3b7;
	--oasis-ui-match-parent-fg: #995d24;
	--oasis-ui-nontext: #707f85;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #276099;
	--oasis-ui-visual-bg: #dcd3b7;
	--oasis-ui-visual-fg: none;
}