/* extras/css/themes/light/4/oasis_night_light_4.css
 * name: Oasis Night Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="night_light_4"],
.oasis-night_light_4 {
	--oasis-name: "Oasis Night Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #e3d7aa;
	--oasis-bg-mantle: #e0d19f;
	--oasis-bg-shadow: #dccb93;
	--oasis-bg-surface: #d8c688;
	--oasis-diff-add: #274838;
	--oasis-diff-change: #404056;
	--oasis-diff-delete: #613636;
	--oasis-diff-text: #5c3a25;
	--oasis-fg-comment: #736358;
	--oasis-fg-core: #4f3f2b;
	--oasis-fg-dim: #7a7a7a;
	--oasis-fg-muted: #6b5b50;
	--oasis-fg-strong: #593b26;
	--oasis-git-add: #1a4c0c;
	--oasis-git-change: #494209;
	--oasis-git-delete: #8a0000;
	--oasis-syntax-bracket: #585f69;
	--oasis-syntax-builtinConst: #494e59;
	--oasis-syntax-builtinFunc: #6d450c;
	--oasis-syntax-builtinVar: #4d4e4e;
	--oasis-syntax-comment: #72594a;
	--oasis-syntax-conditional: #703b0c;
	--oasis-syntax-constant: #333332;
	--oasis-syntax-delimiter: #734119;
	--oasis-syntax-exception: #961e22;
	--oasis-syntax-func: #66400b;
	--oasis-syntax-identifier: #2c554f;
	--oasis-syntax-operator: #9c1116;
	--oasis-syntax-parameter: #5700ab;
	--oasis-syntax-preproc: #1d536a;
	--oasis-syntax-punctuation: #932427;
	--oasis-syntax-regex: #27591a;
	--oasis-syntax-special: #783f0d;
	--oasis-syntax-statement: #773f0d;
	--oasis-syntax-string: #1f5237;
	--oasis-syntax-type: #2a4f4a;
	--oasis-terminal-black: #5f3913;
	--oasis-terminal-blue: #114f8c;
	--oasis-terminal-bright-black: #533d2e;
	--oasis-terminal-bright-blue: #1e5369;
	--oasis-terminal-bright-cyan: #2b554e;
	--oasis-terminal-bright-green: #2c5820;
	--oasis-terminal-bright-magenta: #671fbe;
	--oasis-terminal-bright-red: #9d0f0f;
	--oasis-terminal-bright-white: #60380a;
	--oasis-terminal-bright-yellow: #734211;
	--oasis-terminal-color0: #5f3913;
	--oasis-terminal-color1: #9d1010;
	--oasis-terminal-color10: #2c5820;
	--oasis-terminal-color11: #734211;
	--oasis-terminal-color12: #1e5369;
	--oasis-terminal-color13: #671fbe;
	--oasis-terminal-color14: #2b554e;
	--oasis-terminal-color15: #60380a;
	--oasis-terminal-color2: #27573d;
	--oasis-terminal-color3: #544f1c;
	--oasis-terminal-color4: #114f8c;
	--oasis-terminal-color5: #681fbd;
	--oasis-terminal-color6: #2c5550;
	--oasis-terminal-color7: #44423b;
	--oasis-terminal-color8: #533d2e;
	--oasis-terminal-color9: #9d0f0f;
	--oasis-terminal-cyan: #2c5550;
	--oasis-terminal-green: #27573d;
	--oasis-terminal-magenta: #681fbd;
	--oasis-terminal-red: #9d1010;
	--oasis-terminal-white: #44423b;
	--oasis-terminal-yellow: #544f1c;
	--oasis-theme-accent: #440192;
	--oasis-theme-light-primary: #620e0e;
	--oasis-theme-primary: #880101;
	--oasis-theme-secondary: #8c4908;
	--oasis-theme-strong-primary: #7c2727;
	--oasis-ui-border: #7d1e1e;
	--oasis-ui-cursorLine: #e0d19f;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #234655;
	--oasis-ui-float-bg: #e0d19f;
	--oasis-ui-float-border-bg: #e0d19f;
	--oasis-ui-float-border-fg: #7d1e1e;
	--oasis-ui-float-fg: #7d1e1e;
	--oasis-ui-float-title: #7d1e1e;
	--oasis-ui-lineNumber: #5d3a17;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-nontext: #80786d;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #7d1e1e;
	--oasis-ui-visual-bg: #d8c688;
	--oasis-ui-visual-fg: none;
}