/* extras/css/themes/light/4/oasis_abyss_light_4.css
 * name: Oasis Abyss Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="abyss_light_4"],
.oasis-abyss_light_4 {
	--oasis-name: "Oasis Abyss Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #d0d0d0;
	--oasis-bg-crust: #cccccc;
	--oasis-bg-mantle: #c5c5c5;
	--oasis-bg-shadow: #c8c8c8;
	--oasis-bg-surface: #b1b1b1;
	--oasis-diff-add: #2b513f;
	--oasis-diff-change: #494949;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #636159;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #767570;
	--oasis-fg-inlay: #606c71;
	--oasis-fg-muted: #5b5a52;
	--oasis-fg-strong: #2e2e17;
	--oasis-git-add: #1f5417;
	--oasis-git-change: #6d3e10;
	--oasis-git-delete: #990000;
	--oasis-syntax-bracket: #373b41;
	--oasis-syntax-builtin-const: #4943bf;
	--oasis-syntax-builtin-func: #65412d;
	--oasis-syntax-builtin-var: #661ab1;
	--oasis-syntax-comment: #5d5a50;
	--oasis-syntax-conditional: #4f4a29;
	--oasis-syntax-constant: #85440e;
	--oasis-syntax-delimiter: #973c3e;
	--oasis-syntax-exception: #941015;
	--oasis-syntax-func: #553625;
	--oasis-syntax-identifier: #20556b;
	--oasis-syntax-macro: #38411f;
	--oasis-syntax-operator: #4f4a24;
	--oasis-syntax-parameter: #2d592a;
	--oasis-syntax-preproc: #424e25;
	--oasis-syntax-punctuation: #403e23;
	--oasis-syntax-regex: #b01319;
	--oasis-syntax-special: #713b0c;
	--oasis-syntax-statement: #5e5625;
	--oasis-syntax-string: #7d0e12;
	--oasis-syntax-type: #2b5749;
	--oasis-syntax-typedef: #24433b;
	--oasis-terminal-black: #333333;
	--oasis-terminal-blue: #104a84;
	--oasis-terminal-bright-black: #39322c;
	--oasis-terminal-bright-blue: #1c4f63;
	--oasis-terminal-bright-cyan: #2b5046;
	--oasis-terminal-bright-green: #2b5226;
	--oasis-terminal-bright-magenta: #611db4;
	--oasis-terminal-bright-red: #950e0e;
	--oasis-terminal-bright-white: #35350b;
	--oasis-terminal-bright-yellow: #6d3e10;
	--oasis-terminal-color0: #333333;
	--oasis-terminal-color1: #950f0f;
	--oasis-terminal-color10: #2b5226;
	--oasis-terminal-color11: #6d3e10;
	--oasis-terminal-color12: #1c4f63;
	--oasis-terminal-color13: #611db4;
	--oasis-terminal-color14: #2b5046;
	--oasis-terminal-color15: #35350b;
	--oasis-terminal-color2: #2e522b;
	--oasis-terminal-color3: #504a1b;
	--oasis-terminal-color4: #104a84;
	--oasis-terminal-color5: #621db2;
	--oasis-terminal-color6: #2d5046;
	--oasis-terminal-color7: #343419;
	--oasis-terminal-color8: #39322c;
	--oasis-terminal-color9: #950e0e;
	--oasis-terminal-cyan: #2d5046;
	--oasis-terminal-green: #2e522b;
	--oasis-terminal-magenta: #621db2;
	--oasis-terminal-red: #950f0f;
	--oasis-terminal-white: #343419;
	--oasis-terminal-yellow: #504a1b;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #821717;
	--oasis-theme-primary: #534e1a;
	--oasis-theme-primary-light: #58500c;
	--oasis-theme-primary-strong: #797437;
	--oasis-theme-secondary: #6d0101;
	--oasis-theme-secondary-light: #620101;
	--oasis-theme-secondary-strong: #862a2a;
	--oasis-theme-title: #692121;
	--oasis-ui-border: #514e2f;
	--oasis-ui-cursor-line: #c5c5c5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #234755;
	--oasis-ui-float-bg: #c5c5c5;
	--oasis-ui-float-border-bg: #c5c5c5;
	--oasis-ui-float-border-fg: #514e2f;
	--oasis-ui-float-fg: #651818;
	--oasis-ui-float-title: #651818;
	--oasis-ui-inlay: #363f42;
	--oasis-ui-line-number: #804e1f;
	--oasis-ui-match-bg: #b9d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-match-parent-bg: #b1b1b1;
	--oasis-ui-match-parent-fg: #953e3e;
	--oasis-ui-nontext: #6c6a62;
	--oasis-ui-picker-bg: #c5c5c5;
	--oasis-ui-picker-border-bg: #c5c5c5;
	--oasis-ui-picker-border-fg: #504e37;
	--oasis-ui-picker-fg: #413e26;
	--oasis-ui-picker-title: #413e26;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #912323;
	--oasis-ui-visual-bg: #b1b1b1;
	--oasis-ui-visual-fg: none;
}