/* extras/css/themes/light/4/oasis_moonlight_light_4.css
 * name: Oasis Moonlight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="moonlight_light_4"],
.oasis-moonlight_light_4 {
	--oasis-name: "Oasis Moonlight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #e2dfce;
	--oasis-bg-mantle: #d7d2bb;
	--oasis-bg-shadow: #dcd9c4;
	--oasis-bg-surface: #d1ccb1;
	--oasis-diff-add: #305b46;
	--oasis-diff-change: #3e5473;
	--oasis-diff-delete: #794343;
	--oasis-diff-text: #74482e;
	--oasis-fg-comment: #636b76;
	--oasis-fg-core: #171412;
	--oasis-fg-dim: #7a8087;
	--oasis-fg-muted: #5b646c;
	--oasis-fg-strong: #243755;
	--oasis-git-add: #235e1a;
	--oasis-git-change: #7a4612;
	--oasis-git-delete: #aa0000;
	--oasis-syntax-bracket: #3f444c;
	--oasis-syntax-builtinConst: #544fc2;
	--oasis-syntax-builtinFunc: #6f4b1e;
	--oasis-syntax-builtinVar: #721dc6;
	--oasis-syntax-comment: #586476;
	--oasis-syntax-conditional: #58532e;
	--oasis-syntax-constant: #934b10;
	--oasis-syntax-delimiter: #316792;
	--oasis-syntax-exception: #a51217;
	--oasis-syntax-func: #574328;
	--oasis-syntax-identifier: #245f77;
	--oasis-syntax-macro: #6b392a;
	--oasis-syntax-operator: #585328;
	--oasis-syntax-parameter: #32632f;
	--oasis-syntax-preproc: #933119;
	--oasis-syntax-punctuation: #4c4728;
	--oasis-syntax-regex: #a1405f;
	--oasis-syntax-special: #7f420e;
	--oasis-syntax-statement: #695f1a;
	--oasis-syntax-string: #8e0f14;
	--oasis-syntax-type: #336059;
	--oasis-syntax-typedef: #284d48;
	--oasis-terminal-black: #3c3c3c;
	--oasis-terminal-blue: #125394;
	--oasis-terminal-bright-black: #433b35;
	--oasis-terminal-bright-blue: #20596f;
	--oasis-terminal-bright-cyan: #2e5a53;
	--oasis-terminal-bright-green: #315c2a;
	--oasis-terminal-bright-magenta: #6d20c9;
	--oasis-terminal-bright-red: #a61010;
	--oasis-terminal-bright-white: #433c23;
	--oasis-terminal-bright-yellow: #7a4612;
	--oasis-terminal-color0: #3c3c3c;
	--oasis-terminal-color1: #a61111;
	--oasis-terminal-color10: #315c2a;
	--oasis-terminal-color11: #7a4612;
	--oasis-terminal-color12: #20596f;
	--oasis-terminal-color13: #6d20c9;
	--oasis-terminal-color14: #2e5a53;
	--oasis-terminal-color15: #433c23;
	--oasis-terminal-color2: #345c31;
	--oasis-terminal-color3: #5a541e;
	--oasis-terminal-color4: #125394;
	--oasis-terminal-color5: #6e21c7;
	--oasis-terminal-color6: #2e5a55;
	--oasis-terminal-color7: #473c0f;
	--oasis-terminal-color8: #433b35;
	--oasis-terminal-color9: #a61010;
	--oasis-terminal-cyan: #2e5a55;
	--oasis-terminal-green: #345c31;
	--oasis-terminal-magenta: #6e21c7;
	--oasis-terminal-red: #a61111;
	--oasis-terminal-white: #473c0f;
	--oasis-terminal-yellow: #5a541e;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-light-primary: #1e3346;
	--oasis-theme-primary: #21364d;
	--oasis-theme-secondary: #60580d;
	--oasis-theme-strong-primary: #35577b;
	--oasis-ui-border: #36485a;
	--oasis-ui-cursorLine: #d7d2bb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #1d3a46;
	--oasis-ui-float-bg: #d7d2bb;
	--oasis-ui-float-border-bg: #d7d2bb;
	--oasis-ui-float-border-fg: #4c657e;
	--oasis-ui-float-fg: #4b4822;
	--oasis-ui-float-title: #4b4822;
	--oasis-ui-lineNumber: #8d5622;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #d1ccb1;
	--oasis-ui-matchParen-fg: #706c46;
	--oasis-ui-nontext: #6b757e;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #36485a;
	--oasis-ui-visual-bg: #d1ccb1;
	--oasis-ui-visual-fg: none;
}