/* extras/css/themes/light/4/oasis_cactus_light_4.css
 * name: Oasis Cactus Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="cactus_light_4"],
.oasis-cactus_light_4 {
	--oasis-name: "Oasis Cactus Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #d2eadb;
	--oasis-bg-mantle: #c2e3ce;
	--oasis-bg-shadow: #c8e5d3;
	--oasis-bg-surface: #a8d7ba;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #475a4c;
	--oasis-diff-delete: #7e4646;
	--oasis-diff-text: #784b30;
	--oasis-fg-comment: #617362;
	--oasis-fg-core: #121714;
	--oasis-fg-dim: #8c8179;
	--oasis-fg-muted: #5e6960;
	--oasis-fg-strong: #2c3e30;
	--oasis-git-add: #24621b;
	--oasis-git-change: #7f4813;
	--oasis-git-delete: #b00000;
	--oasis-syntax-bracket: #42474f;
	--oasis-syntax-builtinConst: #5853c4;
	--oasis-syntax-builtinFunc: #734e1f;
	--oasis-syntax-builtinVar: #771ecd;
	--oasis-syntax-comment: #576c58;
	--oasis-syntax-conditional: #385f3a;
	--oasis-syntax-constant: #994e11;
	--oasis-syntax-delimiter: #4b6f4c;
	--oasis-syntax-exception: #ac1318;
	--oasis-syntax-func: #604520;
	--oasis-syntax-identifier: #26627b;
	--oasis-syntax-macro: #763824;
	--oasis-syntax-operator: #365f39;
	--oasis-syntax-parameter: #775611;
	--oasis-syntax-preproc: #99331a;
	--oasis-syntax-punctuation: #305132;
	--oasis-syntax-regex: #9f4866;
	--oasis-syntax-special: #84450e;
	--oasis-syntax-statement: #406c42;
	--oasis-syntax-string: #951015;
	--oasis-syntax-type: #35645e;
	--oasis-syntax-typedef: #2a504c;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #13579a;
	--oasis-terminal-bright-black: #473e38;
	--oasis-terminal-bright-blue: #215c74;
	--oasis-terminal-bright-cyan: #305e57;
	--oasis-terminal-bright-green: #33602c;
	--oasis-terminal-bright-magenta: #7122d1;
	--oasis-terminal-bright-red: #ac1111;
	--oasis-terminal-bright-white: #464025;
	--oasis-terminal-bright-yellow: #7f4813;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #ac1111;
	--oasis-terminal-color10: #33602c;
	--oasis-terminal-color11: #7f4813;
	--oasis-terminal-color12: #215c74;
	--oasis-terminal-color13: #7122d1;
	--oasis-terminal-color14: #305e57;
	--oasis-terminal-color15: #464025;
	--oasis-terminal-color2: #365f33;
	--oasis-terminal-color3: #5d571f;
	--oasis-terminal-color4: #13579a;
	--oasis-terminal-color5: #7222cf;
	--oasis-terminal-color6: #305d58;
	--oasis-terminal-color7: #4b3f10;
	--oasis-terminal-color8: #473e38;
	--oasis-terminal-color9: #ac1111;
	--oasis-terminal-cyan: #305d58;
	--oasis-terminal-green: #365f33;
	--oasis-terminal-magenta: #7222cf;
	--oasis-terminal-red: #ac1111;
	--oasis-terminal-white: #4b3f10;
	--oasis-terminal-yellow: #5d571f;
	--oasis-theme-accent: #430192;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-light-primary: #214223;
	--oasis-theme-primary: #264728;
	--oasis-theme-secondary: #6d0101;
	--oasis-theme-strong-primary: #3e7240;
	--oasis-ui-border: #475f48;
	--oasis-ui-cursorLine: #c2e3ce;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2a5465;
	--oasis-ui-float-bg: #c2e3ce;
	--oasis-ui-float-border-bg: #c2e3ce;
	--oasis-ui-float-border-fg: #475f48;
	--oasis-ui-float-fg: #7c1e1e;
	--oasis-ui-float-title: #7c1e1e;
	--oasis-ui-lineNumber: #925923;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #a8d7ba;
	--oasis-ui-matchParen-fg: #9c5050;
	--oasis-ui-nontext: #81766a;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #475f48;
	--oasis-ui-visual-bg: #a8d7ba;
	--oasis-ui-visual-fg: none;
}