/* extras/css/themes/light/4/oasis_midnight_light_4.css
 * name: Oasis Midnight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="midnight_light_4"],
.oasis-midnight_light_4 {
	--oasis-name: "Oasis Midnight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f4cbc2;
	--oasis-bg-mantle: #f2c0b5;
	--oasis-bg-shadow: #f0b5a8;
	--oasis-bg-surface: #edaa9b;
	--oasis-diff-add: #264737;
	--oasis-diff-change: #2e4157;
	--oasis-diff-delete: #5e3434;
	--oasis-diff-text: #5a3824;
	--oasis-fg-comment: #5d656f;
	--oasis-fg-core: #171412;
	--oasis-fg-dim: #7c7771;
	--oasis-fg-muted: #555d64;
	--oasis-fg-strong: #412a1c;
	--oasis-git-add: #1b4914;
	--oasis-git-change: #474109;
	--oasis-git-delete: #870000;
	--oasis-syntax-bracket: #393e44;
	--oasis-syntax-builtinConst: #4c46c0;
	--oasis-syntax-builtinFunc: #66461c;
	--oasis-syntax-builtinVar: #6a1bb7;
	--oasis-syntax-comment: #525d6e;
	--oasis-syntax-conditional: #514d2b;
	--oasis-syntax-constant: #89460f;
	--oasis-syntax-delimiter: #615d3a;
	--oasis-syntax-exception: #991116;
	--oasis-syntax-func: #4f3d24;
	--oasis-syntax-identifier: #22586e;
	--oasis-syntax-macro: #673120;
	--oasis-syntax-operator: #524d25;
	--oasis-syntax-parameter: #2f5c2c;
	--oasis-syntax-preproc: #882d17;
	--oasis-syntax-punctuation: #454024;
	--oasis-syntax-regex: #963c59;
	--oasis-syntax-special: #753d0d;
	--oasis-syntax-statement: #625918;
	--oasis-syntax-string: #820e12;
	--oasis-syntax-type: #2f5954;
	--oasis-syntax-typedef: #254642;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #114d89;
	--oasis-terminal-bright-black: #473e38;
	--oasis-terminal-bright-blue: #1d5267;
	--oasis-terminal-bright-cyan: #2a534d;
	--oasis-terminal-bright-green: #2d5527;
	--oasis-terminal-bright-magenta: #651eba;
	--oasis-terminal-bright-red: #9a0f0f;
	--oasis-terminal-bright-white: #474026;
	--oasis-terminal-bright-yellow: #714011;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #9a1010;
	--oasis-terminal-color10: #2d5527;
	--oasis-terminal-color11: #714011;
	--oasis-terminal-color12: #1d5267;
	--oasis-terminal-color13: #651eba;
	--oasis-terminal-color14: #2a534d;
	--oasis-terminal-color15: #474026;
	--oasis-terminal-color2: #30542d;
	--oasis-terminal-color3: #524d1c;
	--oasis-terminal-color4: #114d89;
	--oasis-terminal-color5: #651eb8;
	--oasis-terminal-color6: #2b534e;
	--oasis-terminal-color7: #4b3f10;
	--oasis-terminal-color8: #473e38;
	--oasis-terminal-color9: #9a0f0f;
	--oasis-terminal-cyan: #2b534e;
	--oasis-terminal-green: #30542d;
	--oasis-terminal-magenta: #651eb8;
	--oasis-terminal-red: #9a1010;
	--oasis-terminal-white: #4b3f10;
	--oasis-terminal-yellow: #524d1c;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #58500c;
	--oasis-theme-primary: #534e1b;
	--oasis-theme-secondary: #6d0101;
	--oasis-theme-secondary-light: #620101;
	--oasis-theme-secondary-strong: #862a2a;
	--oasis-theme-strong-primary: #797437;
	--oasis-ui-border: #7a1e1e;
	--oasis-ui-cursorLine: #f2c0b5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #19333d;
	--oasis-ui-float-bg: #f2c0b5;
	--oasis-ui-float-border-bg: #f2c0b5;
	--oasis-ui-float-border-fg: #ad2a2a;
	--oasis-ui-float-fg: #434128;
	--oasis-ui-float-title: #434128;
	--oasis-ui-lineNumber: #845020;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #edaa9b;
	--oasis-ui-matchParen-fg: #69663e;
	--oasis-ui-nontext: #746b64;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #7a1e1e;
	--oasis-ui-visual-bg: #edaa9b;
	--oasis-ui-visual-fg: none;
}