/* extras/css/themes/light/4/oasis_cactus_light_4.css
 * name: Oasis Cactus Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="cactus_light_4"],
.oasis-cactus_light_4 {
	--oasis-name: "Oasis Cactus Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #d2eadb;
	--oasis-bg-crust: #cde8d7;
	--oasis-bg-mantle: #c2e3ce;
	--oasis-bg-shadow: #c8e5d3;
	--oasis-bg-surface: #a8d7ba;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #465b4c;
	--oasis-diff-delete: #7e4646;
	--oasis-diff-text: #784b30;
	--oasis-fg-comment: #617362;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #7c857e;
	--oasis-fg-inlay: #80766d;
	--oasis-fg-muted: #5e6960;
	--oasis-fg-strong: #3b3b1e;
	--oasis-git-add: #24621b;
	--oasis-git-change: #7f4813;
	--oasis-git-delete: #b00000;
	--oasis-syntax-bracket: #42474f;
	--oasis-syntax-builtin-const: #5853c4;
	--oasis-syntax-builtin-func: #764c35;
	--oasis-syntax-builtin-var: #771ecd;
	--oasis-syntax-comment: #576c58;
	--oasis-syntax-conditional: #385f3a;
	--oasis-syntax-constant: #994e11;
	--oasis-syntax-delimiter: #4b6f4c;
	--oasis-syntax-exception: #ac1318;
	--oasis-syntax-func: #66412c;
	--oasis-syntax-identifier: #26627b;
	--oasis-syntax-macro: #4f4b24;
	--oasis-syntax-operator: #365f39;
	--oasis-syntax-parameter: #775611;
	--oasis-syntax-preproc: #605617;
	--oasis-syntax-punctuation: #345035;
	--oasis-syntax-regex: #c8161c;
	--oasis-syntax-special: #84450e;
	--oasis-syntax-statement: #406c42;
	--oasis-syntax-string: #951015;
	--oasis-syntax-type: #326555;
	--oasis-syntax-typedef: #2b5147;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #13579a;
	--oasis-terminal-bright-black: #473e38;
	--oasis-terminal-bright-blue: #215c74;
	--oasis-terminal-bright-cyan: #335e51;
	--oasis-terminal-bright-green: #33602c;
	--oasis-terminal-bright-magenta: #7122d1;
	--oasis-terminal-bright-red: #ac1111;
	--oasis-terminal-bright-white: #42420e;
	--oasis-terminal-bright-yellow: #7f4813;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #ac1111;
	--oasis-terminal-color10: #33602c;
	--oasis-terminal-color11: #7f4813;
	--oasis-terminal-color12: #215c74;
	--oasis-terminal-color13: #7122d1;
	--oasis-terminal-color14: #335e51;
	--oasis-terminal-color15: #42420e;
	--oasis-terminal-color2: #365f33;
	--oasis-terminal-color3: #5d571f;
	--oasis-terminal-color4: #13579a;
	--oasis-terminal-color5: #7222cf;
	--oasis-terminal-color6: #355d52;
	--oasis-terminal-color7: #41411f;
	--oasis-terminal-color8: #473e38;
	--oasis-terminal-color9: #ac1111;
	--oasis-terminal-cyan: #355d52;
	--oasis-terminal-green: #365f33;
	--oasis-terminal-magenta: #7222cf;
	--oasis-terminal-red: #ac1111;
	--oasis-terminal-white: #41411f;
	--oasis-terminal-yellow: #5d571f;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-primary: #264728;
	--oasis-theme-primary-light: #214223;
	--oasis-theme-primary-strong: #3e7240;
	--oasis-theme-secondary: #32016d;
	--oasis-theme-secondary-strong: #5102ae;
	--oasis-ui-border: #475f48;
	--oasis-ui-cursor-line: #c2e3ce;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2a5465;
	--oasis-ui-float-bg: #c2e3ce;
	--oasis-ui-float-border-bg: #c2e3ce;
	--oasis-ui-float-border-fg: #475f48;
	--oasis-ui-float-fg: #552989;
	--oasis-ui-float-title: #552989;
	--oasis-ui-inlay: #504941;
	--oasis-ui-line-number: #925923;
	--oasis-ui-match-bg: #bc76d6;
	--oasis-ui-match-fg: #280b32;
	--oasis-ui-match-parent-bg: #a8d7ba;
	--oasis-ui-match-parent-fg: #7c50b6;
	--oasis-ui-nontext: #6f7b71;
	--oasis-ui-picker-bg: #c2e3ce;
	--oasis-ui-picker-border-bg: #c2e3ce;
	--oasis-ui-picker-border-fg: #7437b9;
	--oasis-ui-picker-fg: #602e9b;
	--oasis-ui-picker-title: #602e9b;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #475f48;
	--oasis-ui-visual-bg: #a8d7ba;
	--oasis-ui-visual-fg: none;
}