/* extras/css/themes/light/4/oasis_sol_light_4.css
 * name: Oasis Sol Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="sol_light_4"],
.oasis-sol_light_4 {
	--oasis-name: "Oasis Sol Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f4c2c2;
	--oasis-bg-mantle: #f2b5b5;
	--oasis-bg-shadow: #f0a8a8;
	--oasis-bg-surface: #ed9b9b;
	--oasis-diff-add: #234233;
	--oasis-diff-change: #55332d;
	--oasis-diff-delete: #593131;
	--oasis-diff-text: #553522;
	--oasis-fg-comment: #6c5c5a;
	--oasis-fg-core: #1d0f0c;
	--oasis-fg-dim: #737373;
	--oasis-fg-muted: #635553;
	--oasis-fg-strong: #43221c;
	--oasis-git-add: #194513;
	--oasis-git-change: #433d09;
	--oasis-git-delete: #7f0000;
	--oasis-syntax-bracket: #363a40;
	--oasis-syntax-builtinConst: #4742be;
	--oasis-syntax-builtinFunc: #61421a;
	--oasis-syntax-builtinVar: #6519ad;
	--oasis-syntax-comment: #685451;
	--oasis-syntax-conditional: #921015;
	--oasis-syntax-constant: #83430e;
	--oasis-syntax-delimiter: #a82428;
	--oasis-syntax-exception: #60430a;
	--oasis-syntax-func: #4e381a;
	--oasis-syntax-identifier: #205469;
	--oasis-syntax-macro: #413d1e;
	--oasis-syntax-operator: #8c1c1f;
	--oasis-syntax-parameter: #2d572a;
	--oasis-syntax-preproc: #4e4921;
	--oasis-syntax-punctuation: #771517;
	--oasis-syntax-regex: #665525;
	--oasis-syntax-special: #703a0c;
	--oasis-syntax-statement: #a12326;
	--oasis-syntax-string: #5b320f;
	--oasis-syntax-type: #2d5550;
	--oasis-syntax-typedef: #23413e;
	--oasis-terminal-black: #3c3c3c;
	--oasis-terminal-blue: #104982;
	--oasis-terminal-bright-black: #433b35;
	--oasis-terminal-bright-blue: #1c4d61;
	--oasis-terminal-bright-cyan: #284f49;
	--oasis-terminal-bright-green: #2b5125;
	--oasis-terminal-bright-magenta: #601db1;
	--oasis-terminal-bright-red: #920e0e;
	--oasis-terminal-bright-white: #423c23;
	--oasis-terminal-bright-yellow: #6b3d10;
	--oasis-terminal-color0: #3c3c3c;
	--oasis-terminal-color1: #920f0f;
	--oasis-terminal-color10: #2b5125;
	--oasis-terminal-color11: #6b3d10;
	--oasis-terminal-color12: #1c4d61;
	--oasis-terminal-color13: #601db1;
	--oasis-terminal-color14: #284f49;
	--oasis-terminal-color15: #423c23;
	--oasis-terminal-color2: #2d502b;
	--oasis-terminal-color3: #4e491a;
	--oasis-terminal-color4: #104982;
	--oasis-terminal-color5: #601daf;
	--oasis-terminal-color6: #294f4a;
	--oasis-terminal-color7: #473b0f;
	--oasis-terminal-color8: #433b35;
	--oasis-terminal-color9: #920e0e;
	--oasis-terminal-cyan: #294f4a;
	--oasis-terminal-green: #2d502b;
	--oasis-terminal-magenta: #601daf;
	--oasis-terminal-red: #920f0f;
	--oasis-terminal-white: #473b0f;
	--oasis-terminal-yellow: #4e491a;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #924207;
	--oasis-theme-light-primary: #620101;
	--oasis-theme-primary: #6d0101;
	--oasis-theme-secondary: #683606;
	--oasis-theme-strong-primary: #862a2a;
	--oasis-ui-border: #731c1c;
	--oasis-ui-cursorLine: #f2b5b5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #172e38;
	--oasis-ui-float-bg: #f2b5b5;
	--oasis-ui-float-border-bg: #f2b5b5;
	--oasis-ui-float-border-fg: #a62828;
	--oasis-ui-float-fg: #533518;
	--oasis-ui-float-title: #533518;
	--oasis-ui-lineNumber: #7e4d1f;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #ed9b9b;
	--oasis-ui-matchParen-fg: #64613c;
	--oasis-ui-nontext: #696969;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #731c1c;
	--oasis-ui-visual-bg: #ed9b9b;
	--oasis-ui-visual-fg: none;
}