/* extras/css/themes/light/4/oasis_midnight_light_4.css
 * name: Oasis Midnight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="midnight_light_4"],
.oasis-midnight_light_4 {
	--oasis-name: "Oasis Midnight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f2d9b5;
	--oasis-bg-mantle: #f0d2a8;
	--oasis-bg-shadow: #edcb9b;
	--oasis-bg-surface: #ebc58e;
	--oasis-diff-add: #294c3b;
	--oasis-diff-change: #32475e;
	--oasis-diff-delete: #663838;
	--oasis-diff-text: #613c27;
	--oasis-fg-comment: #626a74;
	--oasis-fg-core: #4c443e;
	--oasis-fg-dim: #827d77;
	--oasis-fg-muted: #5a636a;
	--oasis-fg-strong: #5f3d28;
	--oasis-git-add: #1d4f16;
	--oasis-git-change: #4d460a;
	--oasis-git-delete: #900000;
	--oasis-syntax-bracket: #5b626d;
	--oasis-syntax-builtinConst: #453fb8;
	--oasis-syntax-builtinFunc: #714815;
	--oasis-syntax-builtinVar: #6e00d8;
	--oasis-syntax-comment: #576274;
	--oasis-syntax-conditional: #514d2b;
	--oasis-syntax-constant: #373636;
	--oasis-syntax-delimiter: #565233;
	--oasis-syntax-exception: #a31217;
	--oasis-syntax-func: #624723;
	--oasis-syntax-identifier: #21576d;
	--oasis-syntax-operator: #575228;
	--oasis-syntax-parameter: #1f4c1a;
	--oasis-syntax-preproc: #913019;
	--oasis-syntax-punctuation: #57522d;
	--oasis-syntax-regex: #843751;
	--oasis-syntax-special: #7d410e;
	--oasis-syntax-statement: #5a5216;
	--oasis-syntax-string: #97161a;
	--oasis-syntax-type: #2c524e;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #125292;
	--oasis-terminal-bright-black: #4d433c;
	--oasis-terminal-bright-blue: #1f576d;
	--oasis-terminal-bright-cyan: #2d5952;
	--oasis-terminal-bright-green: #305b2a;
	--oasis-terminal-bright-magenta: #6b20c6;
	--oasis-terminal-bright-red: #a31010;
	--oasis-terminal-bright-white: #4c4529;
	--oasis-terminal-bright-yellow: #784512;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #a31111;
	--oasis-terminal-color10: #305b2a;
	--oasis-terminal-color11: #784512;
	--oasis-terminal-color12: #1f576d;
	--oasis-terminal-color13: #6b20c6;
	--oasis-terminal-color14: #2d5952;
	--oasis-terminal-color15: #4c4529;
	--oasis-terminal-color2: #335a30;
	--oasis-terminal-color3: #58521e;
	--oasis-terminal-color4: #125292;
	--oasis-terminal-color5: #6c20c5;
	--oasis-terminal-color6: #2e5854;
	--oasis-terminal-color7: #514411;
	--oasis-terminal-color8: #4d433c;
	--oasis-terminal-color9: #a31010;
	--oasis-terminal-cyan: #2e5854;
	--oasis-terminal-green: #335a30;
	--oasis-terminal-magenta: #6c20c5;
	--oasis-terminal-red: #a31111;
	--oasis-terminal-white: #514411;
	--oasis-terminal-yellow: #58521e;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #635a0d;
	--oasis-theme-primary: #686222;
	--oasis-theme-secondary: #920101;
	--oasis-theme-secondary-light: #6f0101;
	--oasis-theme-secondary-strong: #7c2727;
	--oasis-theme-strong-primary: #706c33;
	--oasis-ui-border: #832020;
	--oasis-ui-cursorLine: #f0d2a8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #254a59;
	--oasis-ui-float-bg: #f0d2a8;
	--oasis-ui-float-border-bg: #f0d2a8;
	--oasis-ui-float-border-fg: #832020;
	--oasis-ui-float-fg: #832020;
	--oasis-ui-float-title: #832020;
	--oasis-ui-lineNumber: #633c18;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #ebc58e;
	--oasis-ui-matchParen-fg: #49462b;
	--oasis-ui-nontext: #867b73;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #832020;
	--oasis-ui-visual-bg: #ebc58e;
	--oasis-ui-visual-fg: none;
}