/* extras/css/themes/light/4/oasis_abyss_light_4.css
 * name: Oasis Abyss Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="abyss_light_4"],
.oasis-abyss_light_4 {
	--oasis-name: "Oasis Abyss Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #dedede;
	--oasis-bg-mantle: #d6d6d6;
	--oasis-bg-shadow: #cfcfcf;
	--oasis-bg-surface: #c7c7c7;
	--oasis-diff-add: #294d3c;
	--oasis-diff-change: #464646;
	--oasis-diff-delete: #673939;
	--oasis-diff-text: #633d27;
	--oasis-fg-comment: #6d6b62;
	--oasis-fg-core: #171412;
	--oasis-fg-dim: #728186;
	--oasis-fg-muted: #64635a;
	--oasis-fg-strong: #4f2d21;
	--oasis-git-add: #1e5116;
	--oasis-git-change: #4e470a;
	--oasis-git-delete: #920000;
	--oasis-syntax-bracket: #3f444b;
	--oasis-syntax-builtinConst: #544ec2;
	--oasis-syntax-builtinFunc: #6e4b1e;
	--oasis-syntax-builtinVar: #721dc5;
	--oasis-syntax-comment: #666358;
	--oasis-syntax-conditional: #58532e;
	--oasis-syntax-constant: #934b10;
	--oasis-syntax-delimiter: #a54244;
	--oasis-syntax-exception: #a41217;
	--oasis-syntax-func: #574327;
	--oasis-syntax-identifier: #245e77;
	--oasis-syntax-macro: #703523;
	--oasis-syntax-operator: #585328;
	--oasis-syntax-parameter: #32622f;
	--oasis-syntax-preproc: #933119;
	--oasis-syntax-punctuation: #4b4727;
	--oasis-syntax-regex: #a0405e;
	--oasis-syntax-special: #7f420e;
	--oasis-syntax-statement: #695f1a;
	--oasis-syntax-string: #8e0f14;
	--oasis-syntax-type: #325f5a;
	--oasis-syntax-typedef: #284c47;
	--oasis-terminal-black: #464646;
	--oasis-terminal-blue: #125394;
	--oasis-terminal-bright-black: #4e443d;
	--oasis-terminal-bright-blue: #1f586f;
	--oasis-terminal-bright-cyan: #2e5a53;
	--oasis-terminal-bright-green: #305c2a;
	--oasis-terminal-bright-magenta: #6c20c8;
	--oasis-terminal-bright-red: #a51010;
	--oasis-terminal-bright-white: #4e4629;
	--oasis-terminal-bright-yellow: #794512;
	--oasis-terminal-color0: #464646;
	--oasis-terminal-color1: #a51111;
	--oasis-terminal-color10: #305c2a;
	--oasis-terminal-color11: #794512;
	--oasis-terminal-color12: #1f586f;
	--oasis-terminal-color13: #6c20c8;
	--oasis-terminal-color14: #2e5a53;
	--oasis-terminal-color15: #4e4629;
	--oasis-terminal-color2: #345b31;
	--oasis-terminal-color3: #59531e;
	--oasis-terminal-color4: #125394;
	--oasis-terminal-color5: #6d21c7;
	--oasis-terminal-color6: #2e5955;
	--oasis-terminal-color7: #534511;
	--oasis-terminal-color8: #4e443d;
	--oasis-terminal-color9: #a51010;
	--oasis-terminal-cyan: #2e5955;
	--oasis-terminal-green: #345b31;
	--oasis-terminal-magenta: #6d21c7;
	--oasis-terminal-red: #a51111;
	--oasis-terminal-white: #534511;
	--oasis-terminal-yellow: #59531e;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #58500c;
	--oasis-theme-primary: #534e1b;
	--oasis-theme-secondary: #6d0101;
	--oasis-theme-secondary-light: #620101;
	--oasis-theme-secondary-strong: #862a2a;
	--oasis-theme-strong-primary: #797437;
	--oasis-ui-border: #852020;
	--oasis-ui-cursorLine: #d6d6d6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1d3945;
	--oasis-ui-float-bg: #d6d6d6;
	--oasis-ui-float-border-bg: #d6d6d6;
	--oasis-ui-float-border-fg: #b92d2d;
	--oasis-ui-float-fg: #4a472c;
	--oasis-ui-float-title: #4a472c;
	--oasis-ui-lineNumber: #8d5522;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #c7c7c7;
	--oasis-ui-matchParen-fg: #6f6c46;
	--oasis-ui-nontext: #67767b;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #852020;
	--oasis-ui-visual-bg: #c7c7c7;
	--oasis-ui-visual-fg: none;
}