/* extras/css/themes/light/4/oasis_mirage_light_4.css
 * name: Oasis Mirage Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="mirage_light_4"],
.oasis-mirage_light_4 {
	--oasis-name: "Oasis Mirage Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #cdf4f4;
	--oasis-bg-mantle: #c0f1f1;
	--oasis-bg-shadow: #b4eeee;
	--oasis-bg-surface: #a7ecec;
	--oasis-diff-add: #2e5743;
	--oasis-diff-change: #37535e;
	--oasis-diff-delete: #744040;
	--oasis-diff-text: #6f452c;
	--oasis-fg-comment: #5d7974;
	--oasis-fg-core: #121717;
	--oasis-fg-dim: #90877f;
	--oasis-fg-muted: #616e6d;
	--oasis-fg-strong: #2f423e;
	--oasis-git-add: #215a19;
	--oasis-git-change: #57500b;
	--oasis-git-delete: #a30000;
	--oasis-syntax-bracket: #474c55;
	--oasis-syntax-builtinConst: #5e59c6;
	--oasis-syntax-builtinFunc: #7a5321;
	--oasis-syntax-builtinVar: #7d20d9;
	--oasis-syntax-comment: #46746c;
	--oasis-syntax-conditional: #32635d;
	--oasis-syntax-constant: #a15211;
	--oasis-syntax-delimiter: #43746f;
	--oasis-syntax-exception: #b5141a;
	--oasis-syntax-func: #664922;
	--oasis-syntax-identifier: #286782;
	--oasis-syntax-macro: #7e3c27;
	--oasis-syntax-operator: #32635c;
	--oasis-syntax-parameter: #376c34;
	--oasis-syntax-preproc: #a2361c;
	--oasis-syntax-punctuation: #2b5651;
	--oasis-syntax-regex: #af4567;
	--oasis-syntax-special: #8b4a0f;
	--oasis-syntax-statement: #387168;
	--oasis-syntax-string: #9e1116;
	--oasis-syntax-type: #376963;
	--oasis-syntax-typedef: #2d5551;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #145ca3;
	--oasis-terminal-bright-black: #584d45;
	--oasis-terminal-bright-blue: #23617a;
	--oasis-terminal-bright-cyan: #33635c;
	--oasis-terminal-bright-green: #35652f;
	--oasis-terminal-bright-magenta: #7724dc;
	--oasis-terminal-bright-red: #b61212;
	--oasis-terminal-bright-white: #574e2e;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #b51212;
	--oasis-terminal-color10: #35652f;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617a;
	--oasis-terminal-color13: #7724dc;
	--oasis-terminal-color14: #33635c;
	--oasis-terminal-color15: #574e2e;
	--oasis-terminal-color2: #396536;
	--oasis-terminal-color3: #625c21;
	--oasis-terminal-color4: #145ca3;
	--oasis-terminal-color5: #7824db;
	--oasis-terminal-color6: #33635e;
	--oasis-terminal-color7: #5c4d13;
	--oasis-terminal-color8: #584d45;
	--oasis-terminal-color9: #b61212;
	--oasis-terminal-cyan: #33635e;
	--oasis-terminal-green: #396536;
	--oasis-terminal-magenta: #7824db;
	--oasis-terminal-red: #b51212;
	--oasis-terminal-white: #5c4d13;
	--oasis-terminal-yellow: #625c21;
	--oasis-theme-accent: #430192;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #924207;
	--oasis-theme-light-primary: #1d4640;
	--oasis-theme-primary: #214d48;
	--oasis-theme-secondary: #683606;
	--oasis-theme-strong-primary: #357b73;
	--oasis-ui-border: #335551;
	--oasis-ui-cursorLine: #c0f1f1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #214351;
	--oasis-ui-float-bg: #c0f1f1;
	--oasis-ui-float-border-bg: #c0f1f1;
	--oasis-ui-float-border-fg: #46746f;
	--oasis-ui-float-fg: #6d461f;
	--oasis-ui-float-title: #6d461f;
	--oasis-ui-lineNumber: #995d25;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #a7ecec;
	--oasis-ui-matchParen-fg: #a8622e;
	--oasis-ui-nontext: #877b71;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #345551;
	--oasis-ui-visual-bg: #a7ecec;
	--oasis-ui-visual-fg: none;
}