/* extras/css/themes/light/4/oasis_rose_light_4.css
 * name: Oasis Rose Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="rose_light_4"],
.oasis-rose_light_4 {
	--oasis-name: "Oasis Rose Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f0cae1;
	--oasis-bg-mantle: #ebb8d7;
	--oasis-bg-shadow: #edbeda;
	--oasis-bg-surface: #e39ac6;
	--oasis-diff-add: #2d5441;
	--oasis-diff-change: #604458;
	--oasis-diff-delete: #703e3e;
	--oasis-diff-text: #6b432b;
	--oasis-fg-comment: #706068;
	--oasis-fg-core: #1a0f12;
	--oasis-fg-dim: #7f7670;
	--oasis-fg-muted: #675961;
	--oasis-fg-strong: #3d2a38;
	--oasis-git-add: #205818;
	--oasis-git-change: #714111;
	--oasis-git-delete: #9e0000;
	--oasis-syntax-bracket: #393e45;
	--oasis-syntax-builtinConst: #4c47c0;
	--oasis-syntax-builtinFunc: #66461c;
	--oasis-syntax-builtinVar: #6b1bb6;
	--oasis-syntax-comment: #715563;
	--oasis-syntax-conditional: #76384d;
	--oasis-syntax-constant: #8a460f;
	--oasis-syntax-delimiter: #7c505f;
	--oasis-syntax-exception: #991116;
	--oasis-syntax-func: #543c1c;
	--oasis-syntax-identifier: #22586f;
	--oasis-syntax-macro: #623427;
	--oasis-syntax-operator: #78374d;
	--oasis-syntax-parameter: #2f5c2c;
	--oasis-syntax-preproc: #892e18;
	--oasis-syntax-punctuation: #643041;
	--oasis-syntax-regex: #b5141a;
	--oasis-syntax-special: #763d0d;
	--oasis-syntax-statement: #923a56;
	--oasis-syntax-string: #484112;
	--oasis-syntax-type: #2f5954;
	--oasis-syntax-typedef: #254642;
	--oasis-terminal-black: #363636;
	--oasis-terminal-blue: #114d89;
	--oasis-terminal-bright-black: #3c352f;
	--oasis-terminal-bright-blue: #1d5267;
	--oasis-terminal-bright-cyan: #2b534d;
	--oasis-terminal-bright-green: #2d5527;
	--oasis-terminal-bright-magenta: #651ebb;
	--oasis-terminal-bright-red: #9a0f0f;
	--oasis-terminal-bright-white: #3c3620;
	--oasis-terminal-bright-yellow: #714111;
	--oasis-terminal-color0: #363636;
	--oasis-terminal-color1: #9a1010;
	--oasis-terminal-color10: #2d5527;
	--oasis-terminal-color11: #714111;
	--oasis-terminal-color12: #1d5267;
	--oasis-terminal-color13: #651ebb;
	--oasis-terminal-color14: #2b534d;
	--oasis-terminal-color15: #3c3620;
	--oasis-terminal-color2: #30552d;
	--oasis-terminal-color3: #534d1c;
	--oasis-terminal-color4: #114d89;
	--oasis-terminal-color5: #661fb9;
	--oasis-terminal-color6: #2b534f;
	--oasis-terminal-color7: #3f350d;
	--oasis-terminal-color8: #3c352f;
	--oasis-terminal-color9: #9a0f0f;
	--oasis-terminal-cyan: #2b534f;
	--oasis-terminal-green: #30552d;
	--oasis-terminal-magenta: #661fb9;
	--oasis-terminal-red: #9a1010;
	--oasis-terminal-white: #3f350d;
	--oasis-terminal-yellow: #534d1c;
	--oasis-theme-accent: #2c685f;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #366338;
	--oasis-theme-light-primary: #4c1728;
	--oasis-theme-primary: #501d2f;
	--oasis-theme-secondary: #264827;
	--oasis-theme-strong-primary: #7d334b;
	--oasis-ui-border: #6b4551;
	--oasis-ui-cursorLine: #ebb8d7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #254a59;
	--oasis-ui-float-bg: #ebb8d7;
	--oasis-ui-float-border-bg: #ebb8d7;
	--oasis-ui-float-border-fg: #6b4551;
	--oasis-ui-float-fg: #2c3b2c;
	--oasis-ui-float-title: #2c3b2c;
	--oasis-ui-lineNumber: #845020;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #e39ac6;
	--oasis-ui-matchParen-fg: #38664d;
	--oasis-ui-nontext: #776b64;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #6f4351;
	--oasis-ui-visual-bg: #e39ac6;
	--oasis-ui-visual-fg: none;
}