/* extras/css/themes/light/4/oasis_dune_light_4.css
 * name: Oasis Dune Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="dune_light_4"],
.oasis-dune_light_4 {
	--oasis-name: "Oasis Dune Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f0e9d1;
	--oasis-bg-mantle: #ece3c5;
	--oasis-bg-shadow: #e8deba;
	--oasis-bg-surface: #e5d8ae;
	--oasis-diff-add: #2d5441;
	--oasis-diff-change: #544b40;
	--oasis-diff-delete: #713f3f;
	--oasis-fg-core: #4f4d44;
	--oasis-fg-dim: #868686;
	--oasis-fg-muted: #72685e;
	--oasis-fg-strong: #504d34;
	--oasis-syntax-bracket: #636979;
	--oasis-syntax-builtinConst: #535868;
	--oasis-syntax-builtinFunc: #8d450f;
	--oasis-syntax-builtinVar: #575959;
	--oasis-syntax-comment: #73685c;
	--oasis-syntax-conditional: #59542f;
	--oasis-syntax-constant: #3f3e3e;
	--oasis-syntax-delimiter: #5e5a32;
	--oasis-syntax-exception: #a7292d;
	--oasis-syntax-func: #80430e;
	--oasis-syntax-identifier: #32615a;
	--oasis-syntax-operator: #b11319;
	--oasis-syntax-parameter: #6500c6;
	--oasis-syntax-preproc: #215f79;
	--oasis-syntax-punctuation: #ae1c20;
	--oasis-syntax-regex: #2d641f;
	--oasis-syntax-special: #89470f;
	--oasis-syntax-statement: #635918;
	--oasis-syntax-string: #245e40;
	--oasis-syntax-type: #365a54;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #1356b0;
	--oasis-terminal-bright-black: #4c4c4c;
	--oasis-terminal-bright-blue: #225f78;
	--oasis-terminal-bright-cyan: #316159;
	--oasis-terminal-bright-green: #326425;
	--oasis-terminal-bright-magenta: #7523d8;
	--oasis-terminal-bright-red: #b21111;
	--oasis-terminal-bright-white: #70420b;
	--oasis-terminal-bright-yellow: #86490d;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #963b3b;
	--oasis-terminal-color10: #326425;
	--oasis-terminal-color11: #86490d;
	--oasis-terminal-color12: #225f78;
	--oasis-terminal-color13: #7523d8;
	--oasis-terminal-color14: #316159;
	--oasis-terminal-color15: #70420b;
	--oasis-terminal-color2: #2c6346;
	--oasis-terminal-color3: #605a20;
	--oasis-terminal-color4: #1356b0;
	--oasis-terminal-color5: #7623d7;
	--oasis-terminal-color6: #32615a;
	--oasis-terminal-color7: #4f4d45;
	--oasis-terminal-color8: #4c4c4c;
	--oasis-terminal-color9: #b21111;
	--oasis-terminal-cyan: #32615a;
	--oasis-terminal-green: #2c6346;
	--oasis-terminal-magenta: #7623d7;
	--oasis-terminal-red: #963b3b;
	--oasis-terminal-white: #4f4d45;
	--oasis-terminal-yellow: #605a20;
	--oasis-theme-accent: #1f7548;
	--oasis-theme-light-primary: #625a0e;
	--oasis-theme-palette-primary-50: #FEFBEB;
	--oasis-theme-palette-primary-100: #FBF6D8;
	--oasis-theme-palette-primary-200: #F9F2C5;
	--oasis-theme-palette-primary-300: #F6EEB2;
	--oasis-theme-palette-primary-400: #F3EA9F;
	--oasis-theme-palette-primary-500: #F0E68C;
	--oasis-theme-palette-primary-600: #CDC673;
	--oasis-theme-palette-primary-700: #BDB76B;
	--oasis-theme-palette-primary-800: #807C37;
	--oasis-theme-palette-primary-900: #4D4A1B;
	--oasis-theme-primary: #5f5b2b;
	--oasis-theme-secondary: #326234;
	--oasis-ui-border: #504d36;
	--oasis-ui-curSearch-bg: #ddb26f;
	--oasis-ui-curSearch-fg: #352408;
	--oasis-ui-cursorLine: #ece3c5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #295263;
	--oasis-ui-float-bg: #e5d8ae;
	--oasis-ui-float-border-bg: #ece3c5;
	--oasis-ui-float-border-fg: #504d36;
	--oasis-ui-float-fg: #71411f;
	--oasis-ui-float-title: #71411f;
	--oasis-ui-lineNumber: #6d431a;
	--oasis-ui-match-bg: #deb287;
	--oasis-ui-match-fg: #452608;
	--oasis-ui-nontext: #868686;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #71411f;
	--oasis-ui-visual-bg: #e5d8ae;
	--oasis-ui-visual-fg: none;
}