/* extras/css/themes/light/4/oasis_canyon_light_4.css
 * name: Oasis Canyon Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="canyon_light_4"],
.oasis-canyon_light_4 {
	--oasis-name: "Oasis Canyon Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5dfc7;
	--oasis-bg-mantle: #f3d8ba;
	--oasis-bg-shadow: #f0d0ad;
	--oasis-bg-surface: #eec9a0;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #5e4236;
	--oasis-diff-delete: #6b3b3b;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #7f695e;
	--oasis-fg-core: #574630;
	--oasis-fg-dim: #8b7f78;
	--oasis-fg-muted: #756157;
	--oasis-fg-strong: #63412a;
	--oasis-git-add: #1f5317;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #970000;
	--oasis-syntax-bracket: #5e6671;
	--oasis-syntax-builtinConst: #4842be;
	--oasis-syntax-builtinFunc: #5f5516;
	--oasis-syntax-builtinVar: #7400df;
	--oasis-syntax-comment: #805e4f;
	--oasis-syntax-conditional: #784213;
	--oasis-syntax-constant: #3b3a3a;
	--oasis-syntax-delimiter: #7e471b;
	--oasis-syntax-exception: #aa1218;
	--oasis-syntax-func: #585016;
	--oasis-syntax-identifier: #235b72;
	--oasis-syntax-operator: #7f4714;
	--oasis-syntax-parameter: #21501c;
	--oasis-syntax-preproc: #6f4f0c;
	--oasis-syntax-punctuation: #804614;
	--oasis-syntax-regex: #833f56;
	--oasis-syntax-special: #5c5626;
	--oasis-syntax-statement: #7f4714;
	--oasis-syntax-string: #9d171b;
	--oasis-syntax-type: #2e5651;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135698;
	--oasis-terminal-bright-black: #514740;
	--oasis-terminal-bright-blue: #205b73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #325f2c;
	--oasis-terminal-bright-magenta: #7021cf;
	--oasis-terminal-bright-red: #aa1010;
	--oasis-terminal-bright-white: #50482b;
	--oasis-terminal-bright-yellow: #7d4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #aa1111;
	--oasis-terminal-color10: #325f2c;
	--oasis-terminal-color11: #7d4813;
	--oasis-terminal-color12: #205b73;
	--oasis-terminal-color13: #7021cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #50482b;
	--oasis-terminal-color2: #355e32;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135698;
	--oasis-terminal-color5: #7122cd;
	--oasis-terminal-color6: #305c57;
	--oasis-terminal-color7: #564812;
	--oasis-terminal-color8: #514740;
	--oasis-terminal-color9: #aa1010;
	--oasis-terminal-cyan: #305c57;
	--oasis-terminal-green: #355e32;
	--oasis-terminal-magenta: #7122cd;
	--oasis-terminal-red: #aa1111;
	--oasis-terminal-white: #564812;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #16607e;
	--oasis-theme-label: #970202;
	--oasis-theme-light-primary: #6a4406;
	--oasis-theme-primary: #884501;
	--oasis-theme-secondary: #920101;
	--oasis-theme-strong-primary: #a24f02;
	--oasis-ui-border: #683f19;
	--oasis-ui-cursorLine: #f3d8ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #f3d8ba;
	--oasis-ui-float-border-bg: #f3d8ba;
	--oasis-ui-float-border-fg: #683f19;
	--oasis-ui-float-fg: #674019;
	--oasis-ui-float-title: #674019;
	--oasis-ui-lineNumber: #58471e;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #eec9a0;
	--oasis-ui-matchParen-fg: #274e5d;
	--oasis-ui-nontext: #8d7f77;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #674019;
	--oasis-ui-visual-bg: #eec9a0;
	--oasis-ui-visual-fg: none;
}