/* extras/css/themes/light/4/oasis_twilight_light_4.css
 * name: Oasis Twilight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="twilight_light_4"],
.oasis-twilight_light_4 {
	--oasis-name: "Oasis Twilight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5d2c7;
	--oasis-bg-mantle: #f3c8ba;
	--oasis-bg-shadow: #f0bdad;
	--oasis-bg-surface: #eeb3a0;
	--oasis-diff-add: #284a39;
	--oasis-diff-change: #523868;
	--oasis-diff-delete: #633737;
	--oasis-diff-text: #5f3b26;
	--oasis-fg-comment: #69647a;
	--oasis-fg-core: #161217;
	--oasis-fg-dim: #837973;
	--oasis-fg-muted: #625d6e;
	--oasis-fg-strong: #3e2957;
	--oasis-git-add: #1c4d15;
	--oasis-git-change: #4a440a;
	--oasis-git-delete: #8d0000;
	--oasis-syntax-bracket: #3c4148;
	--oasis-syntax-builtinConst: #504bc1;
	--oasis-syntax-builtinFunc: #58501d;
	--oasis-syntax-builtinVar: #6f1cbd;
	--oasis-syntax-comment: #635c76;
	--oasis-syntax-conditional: #784113;
	--oasis-syntax-constant: #8e490f;
	--oasis-syntax-delimiter: #875242;
	--oasis-syntax-exception: #9f1117;
	--oasis-syntax-func: #4a4419;
	--oasis-syntax-identifier: #235b72;
	--oasis-syntax-macro: #593e0a;
	--oasis-syntax-operator: #744413;
	--oasis-syntax-parameter: #315f2d;
	--oasis-syntax-preproc: #684a0b;
	--oasis-syntax-punctuation: #653810;
	--oasis-syntax-regex: #94445f;
	--oasis-syntax-special: #7b400d;
	--oasis-syntax-statement: #894c16;
	--oasis-syntax-string: #880f13;
	--oasis-syntax-type: #315c57;
	--oasis-syntax-typedef: #274945;
	--oasis-terminal-black: #434343;
	--oasis-terminal-blue: #11508f;
	--oasis-terminal-bright-black: #4b423b;
	--oasis-terminal-bright-blue: #1e556b;
	--oasis-terminal-bright-cyan: #2c5650;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #691fc2;
	--oasis-terminal-bright-red: #a00f0f;
	--oasis-terminal-bright-white: #4a4328;
	--oasis-terminal-bright-yellow: #754311;
	--oasis-terminal-color0: #434343;
	--oasis-terminal-color1: #a01010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #754311;
	--oasis-terminal-color12: #1e556b;
	--oasis-terminal-color13: #691fc2;
	--oasis-terminal-color14: #2c5650;
	--oasis-terminal-color15: #4a4328;
	--oasis-terminal-color2: #32582f;
	--oasis-terminal-color3: #56501d;
	--oasis-terminal-color4: #11508f;
	--oasis-terminal-color5: #6a20c0;
	--oasis-terminal-color6: #2d5652;
	--oasis-terminal-color7: #4f4311;
	--oasis-terminal-color8: #4b423b;
	--oasis-terminal-color9: #a00f0f;
	--oasis-terminal-cyan: #2d5652;
	--oasis-terminal-green: #32582f;
	--oasis-terminal-magenta: #6a20c0;
	--oasis-terminal-red: #a01010;
	--oasis-terminal-white: #4f4311;
	--oasis-terminal-yellow: #56501d;
	--oasis-theme-accent: #827712;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #706a29;
	--oasis-theme-light-primary: #5e1d05;
	--oasis-theme-primary: #661d07;
	--oasis-theme-secondary: #32016d;
	--oasis-theme-strong-primary: #913e1f;
	--oasis-ui-border: #6d3221;
	--oasis-ui-cursorLine: #f3c8ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1b3641;
	--oasis-ui-float-bg: #f3c8ba;
	--oasis-ui-float-border-bg: #f3c8ba;
	--oasis-ui-float-border-fg: #9a472e;
	--oasis-ui-float-fg: #572a8e;
	--oasis-ui-float-title: #572a8e;
	--oasis-ui-lineNumber: #895321;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #eeb3a0;
	--oasis-ui-matchParen-fg: #6c6940;
	--oasis-ui-nontext: #7a6f67;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #6d3221;
	--oasis-ui-visual-bg: #eeb3a0;
	--oasis-ui-visual-fg: none;
}