/* extras/css/themes/light/4/oasis_mirage_light_4.css
 * name: Oasis Mirage Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="mirage_light_4"],
.oasis-mirage_light_4 {
	--oasis-name: "Oasis Mirage Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #cdeeea;
	--oasis-bg-crust: #c7ece8;
	--oasis-bg-mantle: #bce8e3;
	--oasis-bg-shadow: #c2eae5;
	--oasis-bg-surface: #9fded7;
	--oasis-diff-add: #33604b;
	--oasis-diff-change: #3c5c6b;
	--oasis-diff-delete: #814747;
	--oasis-diff-text: #7b4d31;
	--oasis-fg-comment: #5b7571;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #8d837b;
	--oasis-fg-muted: #5e6b6a;
	--oasis-fg-strong: #3d3d1f;
	--oasis-git-add: #25641c;
	--oasis-git-change: #814a13;
	--oasis-git-delete: #b40000;
	--oasis-syntax-bracket: #444951;
	--oasis-syntax-builtin-const: #5a55c5;
	--oasis-syntax-builtin-func: #794d36;
	--oasis-syntax-builtin-var: #791fd2;
	--oasis-syntax-comment: #437068;
	--oasis-syntax-conditional: #30605a;
	--oasis-syntax-constant: #9b4f11;
	--oasis-syntax-delimiter: #41716c;
	--oasis-syntax-exception: #af1319;
	--oasis-syntax-func: #68432e;
	--oasis-syntax-identifier: #26647e;
	--oasis-syntax-macro: #445026;
	--oasis-syntax-operator: #306059;
	--oasis-syntax-parameter: #366932;
	--oasis-syntax-preproc: #4f5d2c;
	--oasis-syntax-punctuation: #29534e;
	--oasis-syntax-regex: #ae3f6b;
	--oasis-syntax-special: #87470f;
	--oasis-syntax-statement: #376d65;
	--oasis-syntax-string: #981116;
	--oasis-syntax-type: #695e1c;
	--oasis-syntax-typedef: #504c2c;
	--oasis-terminal-black: #424242;
	--oasis-terminal-blue: #13599d;
	--oasis-terminal-bright-black: #494039;
	--oasis-terminal-bright-blue: #215e76;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34622d;
	--oasis-terminal-bright-magenta: #7322d5;
	--oasis-terminal-bright-red: #b01111;
	--oasis-terminal-bright-white: #44440e;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #424242;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622d;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #215e76;
	--oasis-terminal-color13: #7322d5;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #44440e;
	--oasis-terminal-color2: #376134;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #13599d;
	--oasis-terminal-color5: #7423d3;
	--oasis-terminal-color6: #315f5a;
	--oasis-terminal-color7: #434320;
	--oasis-terminal-color8: #494039;
	--oasis-terminal-color9: #b01111;
	--oasis-terminal-cyan: #315f5a;
	--oasis-terminal-green: #376134;
	--oasis-terminal-magenta: #7423d3;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #434320;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #430192;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #924207;
	--oasis-theme-primary: #214d48;
	--oasis-theme-primary-light: #1d4640;
	--oasis-theme-primary-strong: #357b73;
	--oasis-theme-secondary: #683606;
	--oasis-ui-border: #3b625e;
	--oasis-ui-cursor-line: #bce8e3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2b5567;
	--oasis-ui-float-bg: #bce8e3;
	--oasis-ui-float-border-bg: #bce8e3;
	--oasis-ui-float-border-fg: #3b625e;
	--oasis-ui-float-fg: #5d3c1a;
	--oasis-ui-float-title: #5d3c1a;
	--oasis-ui-line-number: #955a24;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-match-parent-bg: #9fded7;
	--oasis-ui-match-parent-fg: #98592a;
	--oasis-ui-nontext: #83786e;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #3c625e;
	--oasis-ui-visual-bg: #9fded7;
	--oasis-ui-visual-fg: none;
}