/* extras/css/themes/light/4/oasis_scorpion_light_4.css
 * name: Oasis Scorpion Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="scorpion_light_4"],
.oasis-scorpion_light_4 {
	--oasis-name: "Oasis Scorpion Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f2c5b6;
	--oasis-bg-mantle: #efb6a3;
	--oasis-bg-shadow: #f0bba9;
	--oasis-bg-surface: #e99c82;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #6c3c2f;
	--oasis-diff-delete: #6b3b3b;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #6c5d59;
	--oasis-fg-core: #191210;
	--oasis-fg-dim: #7c726e;
	--oasis-fg-muted: #635653;
	--oasis-fg-strong: #42241c;
	--oasis-git-add: #1f5317;
	--oasis-git-change: #6c3e10;
	--oasis-git-delete: #970000;
	--oasis-syntax-bracket: #363a40;
	--oasis-syntax-builtinConst: #4842be;
	--oasis-syntax-builtinFunc: #61421b;
	--oasis-syntax-builtinVar: #651aaf;
	--oasis-syntax-comment: #6b544f;
	--oasis-syntax-conditional: #4e4929;
	--oasis-syntax-constant: #84430e;
	--oasis-syntax-delimiter: #7e4c3d;
	--oasis-syntax-exception: #931015;
	--oasis-syntax-func: #4b3a22;
	--oasis-syntax-identifier: #20546a;
	--oasis-syntax-macro: #5c3125;
	--oasis-syntax-operator: #4e4924;
	--oasis-syntax-parameter: #2d582a;
	--oasis-syntax-preproc: #743724;
	--oasis-syntax-punctuation: #413d22;
	--oasis-syntax-regex: #913955;
	--oasis-syntax-special: #703b0c;
	--oasis-syntax-statement: #5e5517;
	--oasis-syntax-string: #7c0d11;
	--oasis-syntax-type: #2d5550;
	--oasis-syntax-typedef: #23423d;
	--oasis-terminal-black: #323232;
	--oasis-terminal-blue: #104a83;
	--oasis-terminal-bright-black: #38312c;
	--oasis-terminal-bright-blue: #1c4e62;
	--oasis-terminal-bright-cyan: #284f49;
	--oasis-terminal-bright-green: #2b5125;
	--oasis-terminal-bright-magenta: #601db2;
	--oasis-terminal-bright-red: #930e0e;
	--oasis-terminal-bright-white: #37321d;
	--oasis-terminal-bright-yellow: #6c3e10;
	--oasis-terminal-color0: #323232;
	--oasis-terminal-color1: #930f0f;
	--oasis-terminal-color10: #2b5125;
	--oasis-terminal-color11: #6c3e10;
	--oasis-terminal-color12: #1c4e62;
	--oasis-terminal-color13: #601db2;
	--oasis-terminal-color14: #284f49;
	--oasis-terminal-color15: #37321d;
	--oasis-terminal-color2: #2e512b;
	--oasis-terminal-color3: #4f4a1a;
	--oasis-terminal-color4: #104a83;
	--oasis-terminal-color5: #611db0;
	--oasis-terminal-color6: #294f4b;
	--oasis-terminal-color7: #3b320c;
	--oasis-terminal-color8: #38312c;
	--oasis-terminal-color9: #930e0e;
	--oasis-terminal-cyan: #294f4b;
	--oasis-terminal-green: #2e512b;
	--oasis-terminal-magenta: #611db0;
	--oasis-terminal-red: #930f0f;
	--oasis-terminal-white: #3b320c;
	--oasis-terminal-yellow: #4f4a1a;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #7e361b;
	--oasis-theme-light-primary: #58500c;
	--oasis-theme-primary: #60580d;
	--oasis-theme-secondary: #661d07;
	--oasis-theme-secondary-light: #5e1d05;
	--oasis-theme-secondary-strong: #86422a;
	--oasis-theme-status: #8a270a;
	--oasis-theme-strong-primary: #817a2f;
	--oasis-ui-border: #684335;
	--oasis-ui-cursorLine: #efb6a3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #234654;
	--oasis-ui-float-bg: #efb6a3;
	--oasis-ui-float-border-bg: #efb6a3;
	--oasis-ui-float-border-fg: #684335;
	--oasis-ui-float-fg: #542719;
	--oasis-ui-float-title: #542719;
	--oasis-ui-lineNumber: #7f4d1f;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e99c82;
	--oasis-ui-matchParen-fg: #90422b;
	--oasis-ui-nontext: #766662;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #7b3825;
	--oasis-ui-visual-bg: #e99c82;
	--oasis-ui-visual-fg: none;
}