/* extras/css/themes/light/4/oasis_twilight_light_4.css
 * name: Oasis Twilight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="twilight_light_4"],
.oasis-twilight_light_4 {
	--oasis-name: "Oasis Twilight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #e3d4f0;
	--oasis-bg-mantle: #d8c3ea;
	--oasis-bg-shadow: #dcc9ec;
	--oasis-bg-surface: #c5a7e0;
	--oasis-diff-add: #2f5744;
	--oasis-diff-change: #61427b;
	--oasis-diff-delete: #754141;
	--oasis-diff-text: #6f452d;
	--oasis-fg-comment: #69657a;
	--oasis-fg-core: #161217;
	--oasis-fg-dim: #837973;
	--oasis-fg-muted: #625d6e;
	--oasis-fg-strong: #3e2957;
	--oasis-git-add: #215b19;
	--oasis-git-change: #764311;
	--oasis-git-delete: #a40000;
	--oasis-syntax-bracket: #3c4148;
	--oasis-syntax-builtinConst: #504bc1;
	--oasis-syntax-builtinFunc: #58501d;
	--oasis-syntax-builtinVar: #6f1cbd;
	--oasis-syntax-comment: #635c76;
	--oasis-syntax-conditional: #784113;
	--oasis-syntax-constant: #8e490f;
	--oasis-syntax-delimiter: #875242;
	--oasis-syntax-exception: #9f1117;
	--oasis-syntax-func: #4a4419;
	--oasis-syntax-identifier: #235b72;
	--oasis-syntax-macro: #5a3e0a;
	--oasis-syntax-operator: #744413;
	--oasis-syntax-parameter: #31602e;
	--oasis-syntax-preproc: #684a0b;
	--oasis-syntax-punctuation: #653810;
	--oasis-syntax-regex: #94445f;
	--oasis-syntax-special: #7b400d;
	--oasis-syntax-statement: #894c16;
	--oasis-syntax-string: #880f13;
	--oasis-syntax-type: #315d57;
	--oasis-syntax-typedef: #274945;
	--oasis-terminal-black: #393939;
	--oasis-terminal-blue: #11508f;
	--oasis-terminal-bright-black: #403832;
	--oasis-terminal-bright-blue: #1e556b;
	--oasis-terminal-bright-cyan: #2c5750;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #691fc2;
	--oasis-terminal-bright-red: #a01010;
	--oasis-terminal-bright-white: #3f3922;
	--oasis-terminal-bright-yellow: #764311;
	--oasis-terminal-color0: #393939;
	--oasis-terminal-color1: #a01010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #764311;
	--oasis-terminal-color12: #1e556b;
	--oasis-terminal-color13: #691fc2;
	--oasis-terminal-color14: #2c5750;
	--oasis-terminal-color15: #3f3922;
	--oasis-terminal-color2: #32582f;
	--oasis-terminal-color3: #56511d;
	--oasis-terminal-color4: #11508f;
	--oasis-terminal-color5: #6a20c0;
	--oasis-terminal-color6: #2d5652;
	--oasis-terminal-color7: #43390e;
	--oasis-terminal-color8: #403832;
	--oasis-terminal-color9: #a01010;
	--oasis-terminal-cyan: #2d5652;
	--oasis-terminal-green: #32582f;
	--oasis-terminal-magenta: #6a20c0;
	--oasis-terminal-red: #a01010;
	--oasis-terminal-white: #43390e;
	--oasis-terminal-yellow: #56511d;
	--oasis-theme-accent: #827712;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #706a29;
	--oasis-theme-light-primary: #5e1d05;
	--oasis-theme-primary: #661d07;
	--oasis-theme-secondary: #32016d;
	--oasis-theme-secondary-strong: #4f159b;
	--oasis-theme-strong-primary: #913e1f;
	--oasis-ui-border: #663e99;
	--oasis-ui-cursorLine: #d8c3ea;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #264d5d;
	--oasis-ui-float-bg: #d8c3ea;
	--oasis-ui-float-border-bg: #d8c3ea;
	--oasis-ui-float-border-fg: #663e99;
	--oasis-ui-float-fg: #602c1c;
	--oasis-ui-float-title: #602c1c;
	--oasis-ui-lineNumber: #895321;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #c5a7e0;
	--oasis-ui-matchParen-fg: #9b472e;
	--oasis-ui-nontext: #7a6f67;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #863d28;
	--oasis-ui-visual-bg: #c5a7e0;
	--oasis-ui-visual-fg: none;
}