/* extras/css/themes/light/4/oasis_sol_light_4.css
 * name: Oasis Sol Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="sol_light_4"],
.oasis-sol_light_4 {
	--oasis-name: "Oasis Sol Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #ecb0b0;
	--oasis-bg-mantle: #e69797;
	--oasis-bg-shadow: #e9a4a4;
	--oasis-bg-surface: #e38b8b;
	--oasis-diff-add: #244435;
	--oasis-diff-change: #58352f;
	--oasis-diff-delete: #5c3333;
	--oasis-diff-text: #573623;
	--oasis-fg-comment: #615351;
	--oasis-fg-core: #1d0f0c;
	--oasis-fg-dim: #696969;
	--oasis-fg-muted: #584c49;
	--oasis-fg-strong: #301814;
	--oasis-git-add: #1a4714;
	--oasis-git-change: #5c350e;
	--oasis-git-delete: #830000;
	--oasis-syntax-bracket: #2c2f34;
	--oasis-syntax-builtinConst: #3f3aa8;
	--oasis-syntax-builtinFunc: #533917;
	--oasis-syntax-builtinVar: #581696;
	--oasis-syntax-comment: #5c4a48;
	--oasis-syntax-conditional: #7f0e12;
	--oasis-syntax-constant: #743b0d;
	--oasis-syntax-delimiter: #962024;
	--oasis-syntax-exception: #533909;
	--oasis-syntax-func: #412e16;
	--oasis-syntax-identifier: #1c495c;
	--oasis-syntax-macro: #353218;
	--oasis-syntax-operator: #79181b;
	--oasis-syntax-parameter: #274c24;
	--oasis-syntax-preproc: #433f1c;
	--oasis-syntax-punctuation: #641114;
	--oasis-syntax-regex: #5a4c20;
	--oasis-syntax-special: #60320a;
	--oasis-syntax-statement: #8f1f22;
	--oasis-syntax-string: #4c290c;
	--oasis-syntax-type: #274a46;
	--oasis-syntax-typedef: #1d3633;
	--oasis-terminal-black: #262626;
	--oasis-terminal-blue: #0e3f70;
	--oasis-terminal-bright-black: #2b2521;
	--oasis-terminal-bright-blue: #184354;
	--oasis-terminal-bright-cyan: #23443f;
	--oasis-terminal-bright-green: #254620;
	--oasis-terminal-bright-magenta: #53199a;
	--oasis-terminal-bright-red: #7f0c0c;
	--oasis-terminal-bright-white: #2a2617;
	--oasis-terminal-bright-yellow: #5c350e;
	--oasis-terminal-color0: #262626;
	--oasis-terminal-color1: #7f0d0d;
	--oasis-terminal-color10: #254620;
	--oasis-terminal-color11: #5c350e;
	--oasis-terminal-color12: #184354;
	--oasis-terminal-color13: #53199a;
	--oasis-terminal-color14: #23443f;
	--oasis-terminal-color15: #2a2617;
	--oasis-terminal-color2: #274525;
	--oasis-terminal-color3: #443f17;
	--oasis-terminal-color4: #0e3f70;
	--oasis-terminal-color5: #541998;
	--oasis-terminal-color6: #234440;
	--oasis-terminal-color7: #2d2609;
	--oasis-terminal-color8: #2b2521;
	--oasis-terminal-color9: #7f0c0c;
	--oasis-terminal-cyan: #234440;
	--oasis-terminal-green: #274525;
	--oasis-terminal-magenta: #541998;
	--oasis-terminal-red: #7f0d0d;
	--oasis-terminal-white: #2d2609;
	--oasis-terminal-yellow: #443f17;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #924207;
	--oasis-theme-light-primary: #620101;
	--oasis-theme-primary: #6d0101;
	--oasis-theme-secondary: #683606;
	--oasis-theme-strong-primary: #862a2a;
	--oasis-ui-border: #601717;
	--oasis-ui-cursorLine: #e69797;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #102127;
	--oasis-ui-float-bg: #e69797;
	--oasis-ui-float-border-bg: #e69797;
	--oasis-ui-float-border-fg: #942424;
	--oasis-ui-float-fg: #452c14;
	--oasis-ui-float-title: #452c14;
	--oasis-ui-lineNumber: #70441b;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #e38b8b;
	--oasis-ui-matchParen-fg: #5a5735;
	--oasis-ui-nontext: #5e5e5e;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #601717;
	--oasis-ui-visual-bg: #e38b8b;
	--oasis-ui-visual-fg: none;
}