/* extras/css/themes/light/4/oasis_night_light_4.css
 * name: Oasis Night Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="night_light_4"],
.oasis-night_light_4 {
	--oasis-name: "Oasis Night Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #c1daf6;
	--oasis-bg-mantle: #adcef3;
	--oasis-bg-shadow: #b3d2f4;
	--oasis-bg-surface: #8cbbee;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #264c90;
	--oasis-diff-delete: #734040;
	--oasis-diff-text: #6e442c;
	--oasis-fg-comment: #5d6771;
	--oasis-fg-core: #0c131c;
	--oasis-fg-dim: #757a82;
	--oasis-fg-muted: #575f67;
	--oasis-fg-strong: #253246;
	--oasis-git-add: #215919;
	--oasis-git-change: #734211;
	--oasis-git-delete: #a10000;
	--oasis-syntax-bracket: #3b4047;
	--oasis-syntax-builtinConst: #4f49c1;
	--oasis-syntax-builtinFunc: #69471d;
	--oasis-syntax-builtinVar: #6c1bbb;
	--oasis-syntax-comment: #526071;
	--oasis-syntax-conditional: #544f2c;
	--oasis-syntax-constant: #8c480f;
	--oasis-syntax-delimiter: #2f628c;
	--oasis-syntax-exception: #9d1116;
	--oasis-syntax-func: #523f25;
	--oasis-syntax-identifier: #225a71;
	--oasis-syntax-macro: #643528;
	--oasis-syntax-operator: #544f26;
	--oasis-syntax-parameter: #305e2d;
	--oasis-syntax-preproc: #8b2e18;
	--oasis-syntax-punctuation: #474325;
	--oasis-syntax-regex: #993d5a;
	--oasis-syntax-special: #793f0d;
	--oasis-syntax-statement: #645b18;
	--oasis-syntax-string: #860f13;
	--oasis-syntax-type: #305b55;
	--oasis-syntax-typedef: #264844;
	--oasis-terminal-black: #383838;
	--oasis-terminal-blue: #114f8c;
	--oasis-terminal-bright-black: #3e3631;
	--oasis-terminal-bright-blue: #1e5469;
	--oasis-terminal-bright-cyan: #2b554f;
	--oasis-terminal-bright-green: #2e5728;
	--oasis-terminal-bright-magenta: #671fbf;
	--oasis-terminal-bright-red: #9d0f0f;
	--oasis-terminal-bright-white: #3e3821;
	--oasis-terminal-bright-yellow: #734211;
	--oasis-terminal-color0: #383838;
	--oasis-terminal-color1: #9d1010;
	--oasis-terminal-color10: #2e5728;
	--oasis-terminal-color11: #734211;
	--oasis-terminal-color12: #1e5469;
	--oasis-terminal-color13: #671fbf;
	--oasis-terminal-color14: #2b554f;
	--oasis-terminal-color15: #3e3821;
	--oasis-terminal-color2: #31572e;
	--oasis-terminal-color3: #554f1c;
	--oasis-terminal-color4: #114f8c;
	--oasis-terminal-color5: #681fbd;
	--oasis-terminal-color6: #2c5550;
	--oasis-terminal-color7: #42370e;
	--oasis-terminal-color8: #3e3631;
	--oasis-terminal-color9: #9d0f0f;
	--oasis-terminal-cyan: #2c5550;
	--oasis-terminal-green: #31572e;
	--oasis-terminal-magenta: #681fbd;
	--oasis-terminal-red: #9d1010;
	--oasis-terminal-white: #42370e;
	--oasis-terminal-yellow: #554f1c;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-light-primary: #1e3346;
	--oasis-theme-primary: #21364d;
	--oasis-theme-secondary: #60580d;
	--oasis-theme-strong-primary: #35577b;
	--oasis-ui-border: #3f5368;
	--oasis-ui-cursorLine: #adcef3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #264b5b;
	--oasis-ui-float-bg: #adcef3;
	--oasis-ui-float-border-bg: #adcef3;
	--oasis-ui-float-border-fg: #3f5368;
	--oasis-ui-float-fg: #3d3a1c;
	--oasis-ui-float-title: #3d3a1c;
	--oasis-ui-lineNumber: #875221;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #8cbbee;
	--oasis-ui-matchParen-fg: #875220;
	--oasis-ui-nontext: #677079;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3f5368;
	--oasis-ui-visual-bg: #8cbbee;
	--oasis-ui-visual-fg: none;
}