/* extras/css/themes/light/4/oasis_twilight_light_4.css
 * name: Oasis Twilight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="twilight_light_4"],
.oasis-twilight_light_4 {
	--oasis-name: "Oasis Twilight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #d7cef3;
	--oasis-bg-mantle: #cdc2f0;
	--oasis-bg-shadow: #c3b5ed;
	--oasis-bg-surface: #b9a9ea;
	--oasis-diff-add: #254636;
	--oasis-diff-change: #4d3562;
	--oasis-diff-delete: #5d3434;
	--oasis-diff-text: #593724;
	--oasis-fg-comment: #656075;
	--oasis-fg-core: #433a5c;
	--oasis-fg-dim: #7f756e;
	--oasis-fg-muted: #5e5969;
	--oasis-fg-strong: #48356f;
	--oasis-git-add: #1b4914;
	--oasis-git-change: #464009;
	--oasis-git-delete: #850000;
	--oasis-syntax-bracket: #555c66;
	--oasis-syntax-builtinConst: #403bab;
	--oasis-syntax-builtinFunc: #6c420c;
	--oasis-syntax-builtinVar: #6700c8;
	--oasis-syntax-comment: #5f5871;
	--oasis-syntax-conditional: #6a3a11;
	--oasis-syntax-constant: #313030;
	--oasis-syntax-delimiter: #6b4034;
	--oasis-syntax-exception: #971015;
	--oasis-syntax-func: #653d0b;
	--oasis-syntax-identifier: #1f5164;
	--oasis-syntax-operator: #6e4012;
	--oasis-syntax-parameter: #1c4518;
	--oasis-syntax-preproc: #524c22;
	--oasis-syntax-punctuation: #713f12;
	--oasis-syntax-regex: #75384c;
	--oasis-syntax-special: #743d0d;
	--oasis-syntax-statement: #713f12;
	--oasis-syntax-string: #8b1418;
	--oasis-syntax-type: #284c48;
	--oasis-terminal-black: #3f3f3f;
	--oasis-terminal-blue: #104c87;
	--oasis-terminal-bright-black: #473e37;
	--oasis-terminal-bright-blue: #1d5166;
	--oasis-terminal-bright-cyan: #2a524c;
	--oasis-terminal-bright-green: #2c5427;
	--oasis-terminal-bright-magenta: #641eb8;
	--oasis-terminal-bright-red: #990f0f;
	--oasis-terminal-bright-white: #463f25;
	--oasis-terminal-bright-yellow: #6f4011;
	--oasis-terminal-color0: #3f3f3f;
	--oasis-terminal-color1: #980f0f;
	--oasis-terminal-color10: #2c5427;
	--oasis-terminal-color11: #6f4011;
	--oasis-terminal-color12: #1d5166;
	--oasis-terminal-color13: #641eb8;
	--oasis-terminal-color14: #2a524c;
	--oasis-terminal-color15: #463f25;
	--oasis-terminal-color2: #2f542c;
	--oasis-terminal-color3: #524c1b;
	--oasis-terminal-color4: #104c87;
	--oasis-terminal-color5: #641eb7;
	--oasis-terminal-color6: #2a524e;
	--oasis-terminal-color7: #4a3e10;
	--oasis-terminal-color8: #473e37;
	--oasis-terminal-color9: #990f0f;
	--oasis-terminal-cyan: #2a524e;
	--oasis-terminal-green: #2f542c;
	--oasis-terminal-magenta: #641eb7;
	--oasis-terminal-red: #980f0f;
	--oasis-terminal-white: #4a3e10;
	--oasis-terminal-yellow: #524c1b;
	--oasis-theme-accent: #827712;
	--oasis-theme-label: #706a29;
	--oasis-theme-light-primary: #6a2106;
	--oasis-theme-primary: #812509;
	--oasis-theme-secondary: #430192;
	--oasis-theme-strong-primary: #87391c;
	--oasis-ui-border: #672f1f;
	--oasis-ui-cursorLine: #cdc2f0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #224351;
	--oasis-ui-float-bg: #cdc2f0;
	--oasis-ui-float-border-bg: #cdc2f0;
	--oasis-ui-float-border-fg: #672f1f;
	--oasis-ui-float-fg: #672f1f;
	--oasis-ui-float-title: #672f1f;
	--oasis-ui-lineNumber: #5b3716;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #b9a9ea;
	--oasis-ui-matchParen-fg: #424027;
	--oasis-ui-nontext: #80756d;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #672f1f;
	--oasis-ui-visual-bg: #b9a9ea;
	--oasis-ui-visual-fg: none;
}