/* extras/css/themes/light/4/oasis_sol_light_4.css
 * name: Oasis Sol Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="sol_light_4"],
.oasis-sol_light_4 {
	--oasis-name: "Oasis Sol Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5c7c7;
	--oasis-bg-mantle: #f3baba;
	--oasis-bg-shadow: #f0adad;
	--oasis-bg-surface: #eea0a0;
	--oasis-diff-add: #254535;
	--oasis-diff-change: #59352f;
	--oasis-diff-delete: #5c3333;
	--oasis-diff-text: #583723;
	--oasis-fg-comment: #6f5f5d;
	--oasis-fg-core: #603128;
	--oasis-fg-dim: #767676;
	--oasis-fg-muted: #665855;
	--oasis-fg-strong: #613129;
	--oasis-git-add: #1a4814;
	--oasis-git-change: #464009;
	--oasis-git-delete: #840000;
	--oasis-syntax-bracket: #555b65;
	--oasis-syntax-builtinConst: #3f3aa9;
	--oasis-syntax-builtinFunc: #684313;
	--oasis-syntax-builtinVar: #6700c6;
	--oasis-syntax-comment: #6a5653;
	--oasis-syntax-conditional: #8d0f14;
	--oasis-syntax-constant: #302f2f;
	--oasis-syntax-delimiter: #8f1f22;
	--oasis-syntax-exception: #63450b;
	--oasis-syntax-func: #5e3f17;
	--oasis-syntax-identifier: #1f5065;
	--oasis-syntax-operator: #901d20;
	--oasis-syntax-parameter: #1c4418;
	--oasis-syntax-preproc: #514b22;
	--oasis-syntax-punctuation: #93191d;
	--oasis-syntax-regex: #574921;
	--oasis-syntax-special: #733c0d;
	--oasis-syntax-statement: #901f22;
	--oasis-syntax-string: #673a13;
	--oasis-syntax-type: #284c47;
	--oasis-terminal-black: #3f3f3f;
	--oasis-terminal-blue: #104c86;
	--oasis-terminal-bright-black: #463d37;
	--oasis-terminal-bright-blue: #1d5065;
	--oasis-terminal-bright-cyan: #2a514b;
	--oasis-terminal-bright-green: #2c5426;
	--oasis-terminal-bright-magenta: #631db7;
	--oasis-terminal-bright-red: #970f0f;
	--oasis-terminal-bright-white: #453e25;
	--oasis-terminal-bright-yellow: #6f3f10;
	--oasis-terminal-color0: #3f3f3f;
	--oasis-terminal-color1: #970f0f;
	--oasis-terminal-color10: #2c5426;
	--oasis-terminal-color11: #6f3f10;
	--oasis-terminal-color12: #1d5065;
	--oasis-terminal-color13: #631db7;
	--oasis-terminal-color14: #2a514b;
	--oasis-terminal-color15: #453e25;
	--oasis-terminal-color2: #2f532c;
	--oasis-terminal-color3: #514c1b;
	--oasis-terminal-color4: #104c86;
	--oasis-terminal-color5: #641eb5;
	--oasis-terminal-color6: #2a514d;
	--oasis-terminal-color7: #4a3e10;
	--oasis-terminal-color8: #463d37;
	--oasis-terminal-color9: #970f0f;
	--oasis-terminal-cyan: #2a514d;
	--oasis-terminal-green: #2f532c;
	--oasis-terminal-magenta: #641eb5;
	--oasis-terminal-red: #970f0f;
	--oasis-terminal-white: #4a3e10;
	--oasis-terminal-yellow: #514c1b;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-label: #924207;
	--oasis-theme-light-primary: #6a2106;
	--oasis-theme-primary: #812509;
	--oasis-theme-secondary: #8c4908;
	--oasis-theme-strong-primary: #7c3e27;
	--oasis-ui-border: #771d1d;
	--oasis-ui-cursorLine: #f3baba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #214351;
	--oasis-ui-float-bg: #f3baba;
	--oasis-ui-float-border-bg: #f3baba;
	--oasis-ui-float-border-fg: #771d1d;
	--oasis-ui-float-fg: #771d1d;
	--oasis-ui-float-title: #771d1d;
	--oasis-ui-lineNumber: #5a3616;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #eea0a0;
	--oasis-ui-matchParen-fg: #424027;
	--oasis-ui-nontext: #767676;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #771d1d;
	--oasis-ui-visual-bg: #eea0a0;
	--oasis-ui-visual-fg: none;
}