/* extras/css/themes/light/4/oasis_dune_light_4.css
 * name: Oasis Dune Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="dune_light_4"],
.oasis-dune_light_4 {
	--oasis-name: "Oasis Dune Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5e1c7;
	--oasis-bg-mantle: #f3daba;
	--oasis-bg-shadow: #f0d3ad;
	--oasis-bg-surface: #eecca0;
	--oasis-diff-add: #2b513f;
	--oasis-diff-change: #52483d;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #776c64;
	--oasis-fg-core: #4c4941;
	--oasis-fg-dim: #828282;
	--oasis-fg-muted: #6e655c;
	--oasis-fg-strong: #4d4a32;
	--oasis-git-add: #1f5417;
	--oasis-git-change: #524a0b;
	--oasis-git-delete: #990000;
	--oasis-syntax-bracket: #5f6772;
	--oasis-syntax-builtinConst: #4943bf;
	--oasis-syntax-builtinFunc: #774c16;
	--oasis-syntax-builtinVar: #7500e1;
	--oasis-syntax-comment: #70645b;
	--oasis-syntax-conditional: #56512d;
	--oasis-syntax-constant: #3c3b3b;
	--oasis-syntax-delimiter: #5a5636;
	--oasis-syntax-exception: #ab1318;
	--oasis-syntax-func: #684b25;
	--oasis-syntax-identifier: #235c73;
	--oasis-syntax-operator: #5d5627;
	--oasis-syntax-parameter: #21511c;
	--oasis-syntax-preproc: #99331a;
	--oasis-syntax-punctuation: #5c572a;
	--oasis-syntax-regex: #8b3a55;
	--oasis-syntax-special: #84450e;
	--oasis-syntax-statement: #5f5617;
	--oasis-syntax-string: #9f171b;
	--oasis-syntax-type: #2e5752;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #13579a;
	--oasis-terminal-bright-black: #524840;
	--oasis-terminal-bright-blue: #215c74;
	--oasis-terminal-bright-cyan: #305d56;
	--oasis-terminal-bright-green: #32602c;
	--oasis-terminal-bright-magenta: #7122d0;
	--oasis-terminal-bright-red: #ac1111;
	--oasis-terminal-bright-white: #51492b;
	--oasis-terminal-bright-yellow: #7f4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #ac1111;
	--oasis-terminal-color10: #32602c;
	--oasis-terminal-color11: #7f4813;
	--oasis-terminal-color12: #215c74;
	--oasis-terminal-color13: #7122d0;
	--oasis-terminal-color14: #305d56;
	--oasis-terminal-color15: #51492b;
	--oasis-terminal-color2: #365f33;
	--oasis-terminal-color3: #5d571f;
	--oasis-terminal-color4: #13579a;
	--oasis-terminal-color5: #7222cf;
	--oasis-terminal-color6: #305d58;
	--oasis-terminal-color7: #564812;
	--oasis-terminal-color8: #524840;
	--oasis-terminal-color9: #ac1111;
	--oasis-terminal-cyan: #305d58;
	--oasis-terminal-green: #365f33;
	--oasis-terminal-magenta: #7222cf;
	--oasis-terminal-red: #ac1111;
	--oasis-terminal-white: #564812;
	--oasis-terminal-yellow: #5d571f;
	--oasis-theme-accent: #430192;
	--oasis-theme-label: #2e6b64;
	--oasis-theme-light-primary: #64590d;
	--oasis-theme-primary: #686222;
	--oasis-theme-secondary: #2c685f;
	--oasis-theme-strong-primary: #706c33;
	--oasis-ui-border: #4d4a34;
	--oasis-ui-cursorLine: #f3daba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5f;
	--oasis-ui-float-bg: #f3daba;
	--oasis-ui-float-border-bg: #f3daba;
	--oasis-ui-float-border-fg: #4d4a34;
	--oasis-ui-float-fg: #4e4b2e;
	--oasis-ui-float-title: #4e4b2e;
	--oasis-ui-lineNumber: #69401a;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #eecca0;
	--oasis-ui-matchParen-fg: #304f4c;
	--oasis-ui-nontext: #828282;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #4e4b2e;
	--oasis-ui-visual-bg: #eecca0;
	--oasis-ui-visual-fg: none;
}