/* extras/css/themes/light/4/oasis_starlight_light_4.css
 * name: Oasis Starlight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="starlight_light_4"],
.oasis-starlight_light_4 {
	--oasis-name: "Oasis Starlight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f0e6d1;
	--oasis-bg-mantle: #ece0c5;
	--oasis-bg-shadow: #e8d9ba;
	--oasis-bg-surface: #e5d3ae;
	--oasis-diff-add: #2c5340;
	--oasis-diff-change: #4b4b4b;
	--oasis-diff-delete: #6f3d3d;
	--oasis-diff-text: #6a422a;
	--oasis-fg-comment: #66717c;
	--oasis-fg-core: #524b3b;
	--oasis-fg-dim: #91817c;
	--oasis-fg-muted: #626972;
	--oasis-fg-strong: #4e4b44;
	--oasis-git-add: #1e570e;
	--oasis-git-change: #534c0b;
	--oasis-git-delete: #9c0000;
	--oasis-syntax-bracket: #66667c;
	--oasis-syntax-builtinConst: #405979;
	--oasis-syntax-builtinFunc: #8b440f;
	--oasis-syntax-builtinVar: #585856;
	--oasis-syntax-comment: #5a697d;
	--oasis-syntax-conditional: #11548e;
	--oasis-syntax-constant: #3e3c3c;
	--oasis-syntax-delimiter: #1f5b8d;
	--oasis-syntax-exception: #af1319;
	--oasis-syntax-func: #7f420e;
	--oasis-syntax-identifier: #315f59;
	--oasis-syntax-operator: #af1319;
	--oasis-syntax-parameter: #6300c3;
	--oasis-syntax-preproc: #215e77;
	--oasis-syntax-punctuation: #af1319;
	--oasis-syntax-regex: #2d631d;
	--oasis-syntax-special: #87460f;
	--oasis-syntax-statement: #125a97;
	--oasis-syntax-string: #245c3f;
	--oasis-syntax-type: #2f5954;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #13589d;
	--oasis-terminal-bright-black: #544942;
	--oasis-terminal-bright-blue: #215e76;
	--oasis-terminal-bright-cyan: #315f58;
	--oasis-terminal-bright-green: #326224;
	--oasis-terminal-bright-magenta: #7322d5;
	--oasis-terminal-bright-red: #af1111;
	--oasis-terminal-bright-white: #6e400b;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #af1212;
	--oasis-terminal-color10: #326224;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #215e76;
	--oasis-terminal-color13: #7322d5;
	--oasis-terminal-color14: #315f58;
	--oasis-terminal-color15: #6e400b;
	--oasis-terminal-color2: #2b6245;
	--oasis-terminal-color3: #5f5820;
	--oasis-terminal-color4: #13589d;
	--oasis-terminal-color5: #7423d3;
	--oasis-terminal-color6: #315f5a;
	--oasis-terminal-color7: #4e4b44;
	--oasis-terminal-color8: #544942;
	--oasis-terminal-color9: #af1111;
	--oasis-terminal-cyan: #315f5a;
	--oasis-terminal-green: #2b6245;
	--oasis-terminal-magenta: #7423d3;
	--oasis-terminal-red: #af1212;
	--oasis-terminal-white: #4e4b44;
	--oasis-terminal-yellow: #5f5820;
	--oasis-theme-accent: #8c4908;
	--oasis-theme-light-primary: #11495f;
	--oasis-theme-primary: #035087;
	--oasis-theme-secondary: #827712;
	--oasis-theme-strong-primary: #035fa0;
	--oasis-ui-border: #1f4f71;
	--oasis-ui-cursorLine: #ece0c5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #285061;
	--oasis-ui-float-bg: #ece0c5;
	--oasis-ui-float-border-bg: #ece0c5;
	--oasis-ui-float-border-fg: #1f4f71;
	--oasis-ui-float-fg: #1f4f71;
	--oasis-ui-float-title: #1f4f71;
	--oasis-ui-lineNumber: #6b421a;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #e5d3ae;
	--oasis-ui-matchParen-fg: #514c25;
	--oasis-ui-nontext: #948179;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #1f4f71;
	--oasis-ui-visual-bg: #e5d3ae;
	--oasis-ui-visual-fg: none;
}