/* extras/css/themes/light/4/oasis_desert_light_4.css
 * name: Oasis Desert Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="desert_light_4"],
.oasis-desert_light_4 {
	--oasis-name: "Oasis Desert Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5dfc7;
	--oasis-bg-mantle: #f3d8ba;
	--oasis-bg-shadow: #f0d0ad;
	--oasis-bg-surface: #eec9a0;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #494949;
	--oasis-diff-delete: #6b3b3b;
	--oasis-fg-core: #564634;
	--oasis-fg-dim: #8a8078;
	--oasis-fg-muted: #5c676d;
	--oasis-fg-strong: #50473f;
	--oasis-syntax-bracket: #5e6675;
	--oasis-syntax-builtinConst: #4e5562;
	--oasis-syntax-builtinFunc: #86420f;
	--oasis-syntax-builtinVar: #545555;
	--oasis-syntax-comment: #556776;
	--oasis-syntax-conditional: #555127;
	--oasis-syntax-constant: #3b3a3a;
	--oasis-syntax-delimiter: #834143;
	--oasis-syntax-exception: #a81912;
	--oasis-syntax-func: #70470c;
	--oasis-syntax-identifier: #2f5c56;
	--oasis-syntax-operator: #923817;
	--oasis-syntax-parameter: #6000bc;
	--oasis-syntax-preproc: #205b73;
	--oasis-syntax-punctuation: #9e292d;
	--oasis-syntax-regex: #2a601c;
	--oasis-syntax-special: #82450e;
	--oasis-syntax-statement: #5e5517;
	--oasis-syntax-string: #1f5a3a;
	--oasis-syntax-type: #2e5650;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #1252a8;
	--oasis-terminal-bright-black: #4f4742;
	--oasis-terminal-bright-blue: #205b73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #306023;
	--oasis-terminal-bright-magenta: #7021cf;
	--oasis-terminal-bright-red: #aa1010;
	--oasis-terminal-bright-white: #6b3e0b;
	--oasis-terminal-bright-yellow: #7d4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #8f3838;
	--oasis-terminal-color10: #306023;
	--oasis-terminal-color11: #7d4813;
	--oasis-terminal-color12: #205b73;
	--oasis-terminal-color13: #7021cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #6b3e0b;
	--oasis-terminal-color2: #2a5f43;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #1252a8;
	--oasis-terminal-color5: #7121cd;
	--oasis-terminal-color6: #305c56;
	--oasis-terminal-color7: #4b4941;
	--oasis-terminal-color8: #4f4742;
	--oasis-terminal-color9: #aa1010;
	--oasis-terminal-cyan: #305c56;
	--oasis-terminal-green: #2a5f43;
	--oasis-terminal-magenta: #7121cd;
	--oasis-terminal-red: #8f3838;
	--oasis-terminal-white: #4b4941;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #16607e;
	--oasis-theme-light-primary: #6f0101;
	--oasis-theme-palette-primary-50: #FEFBEB;
	--oasis-theme-palette-primary-100: #FBF6D8;
	--oasis-theme-palette-primary-200: #F9F2C5;
	--oasis-theme-palette-primary-300: #F6EEB2;
	--oasis-theme-palette-primary-400: #F3EA9F;
	--oasis-theme-palette-primary-500: #F0E68C;
	--oasis-theme-palette-primary-600: #CDC673;
	--oasis-theme-palette-primary-700: #BDB76B;
	--oasis-theme-palette-primary-800: #807C37;
	--oasis-theme-palette-primary-900: #4D4A1B;
	--oasis-theme-primary: #791111;
	--oasis-theme-secondary: #827712;
	--oasis-theme-strong-primary: #742525;
	--oasis-ui-border: #703939;
	--oasis-ui-curSearch-bg: #dd986f;
	--oasis-ui-curSearch-fg: #351908;
	--oasis-ui-cursorLine: #f3d8ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #eec9a0;
	--oasis-ui-float-border-bg: #f3d8ba;
	--oasis-ui-float-border-fg: #703939;
	--oasis-ui-float-fg: #7f2d2d;
	--oasis-ui-float-title: #7f2d2d;
	--oasis-ui-lineNumber: #674019;
	--oasis-ui-nontext: #8c8073;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #7f2d2d;
	--oasis-ui-visual-bg: #eec9a0;
	--oasis-ui-visual-fg: none;
}