/* extras/css/themes/light/4/oasis_night_light_4.css
 * name: Oasis Night Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="night_light_4"],
.oasis-night_light_4 {
	--oasis-name: "Oasis Night Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #c4dcf2;
	--oasis-bg-mantle: #b8d4ef;
	--oasis-bg-shadow: #abcded;
	--oasis-bg-surface: #9fc5ea;
	--oasis-diff-add: #274a39;
	--oasis-diff-change: #21427c;
	--oasis-diff-delete: #633737;
	--oasis-diff-text: #5e3b26;
	--oasis-fg-comment: #5e6872;
	--oasis-fg-core: #0c131c;
	--oasis-fg-dim: #767c83;
	--oasis-fg-muted: #586068;
	--oasis-fg-strong: #263348;
	--oasis-git-add: #1c4d15;
	--oasis-git-change: #4a440a;
	--oasis-git-delete: #8c0000;
	--oasis-syntax-bracket: #3c4148;
	--oasis-syntax-builtinConst: #504ac1;
	--oasis-syntax-builtinFunc: #6a481d;
	--oasis-syntax-builtinVar: #6e1cbe;
	--oasis-syntax-comment: #536172;
	--oasis-syntax-conditional: #55502c;
	--oasis-syntax-constant: #8e490f;
	--oasis-syntax-delimiter: #2f638d;
	--oasis-syntax-exception: #9f1116;
	--oasis-syntax-func: #534026;
	--oasis-syntax-identifier: #235b72;
	--oasis-syntax-macro: #663628;
	--oasis-syntax-operator: #555027;
	--oasis-syntax-parameter: #315f2d;
	--oasis-syntax-preproc: #8d2f18;
	--oasis-syntax-punctuation: #484426;
	--oasis-syntax-regex: #9b3e5b;
	--oasis-syntax-special: #7a400d;
	--oasis-syntax-statement: #665c19;
	--oasis-syntax-string: #880f13;
	--oasis-syntax-type: #315c56;
	--oasis-syntax-typedef: #274945;
	--oasis-terminal-black: #1f4180;
	--oasis-terminal-blue: #11508e;
	--oasis-terminal-bright-black: #394450;
	--oasis-terminal-bright-blue: #1e556b;
	--oasis-terminal-bright-cyan: #2c5650;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #681fc1;
	--oasis-terminal-bright-red: #9f0f0f;
	--oasis-terminal-bright-white: #4a4327;
	--oasis-terminal-bright-yellow: #754311;
	--oasis-terminal-color0: #1f4180;
	--oasis-terminal-color1: #9f1010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #754311;
	--oasis-terminal-color12: #1e556b;
	--oasis-terminal-color13: #681fc1;
	--oasis-terminal-color14: #2c5650;
	--oasis-terminal-color15: #4a4327;
	--oasis-terminal-color2: #32582f;
	--oasis-terminal-color3: #56501d;
	--oasis-terminal-color4: #11508e;
	--oasis-terminal-color5: #6920c0;
	--oasis-terminal-color6: #2d5652;
	--oasis-terminal-color7: #4f4211;
	--oasis-terminal-color8: #394450;
	--oasis-terminal-color9: #9f0f0f;
	--oasis-terminal-cyan: #2d5652;
	--oasis-terminal-green: #32582f;
	--oasis-terminal-magenta: #6920c0;
	--oasis-terminal-red: #9f1010;
	--oasis-terminal-white: #4f4211;
	--oasis-terminal-yellow: #56501d;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-light-primary: #1e3346;
	--oasis-theme-primary: #21364d;
	--oasis-theme-secondary: #60580d;
	--oasis-theme-strong-primary: #35577b;
	--oasis-ui-border: #344556;
	--oasis-ui-cursorLine: #b8d4ef;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1b3641;
	--oasis-ui-float-bg: #b8d4ef;
	--oasis-ui-float-border-bg: #b8d4ef;
	--oasis-ui-float-border-fg: #4a627a;
	--oasis-ui-float-fg: #484420;
	--oasis-ui-float-title: #484420;
	--oasis-ui-lineNumber: #895321;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #9fc5ea;
	--oasis-ui-matchParen-fg: #6c6944;
	--oasis-ui-nontext: #68717b;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #344556;
	--oasis-ui-visual-bg: #9fc5ea;
	--oasis-ui-visual-fg: none;
}