/* extras/css/themes/light/4/oasis_rose_light_4.css
 * name: Oasis Rose Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="rose_light_4"],
.oasis-rose_light_4 {
	--oasis-name: "Oasis Rose Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #c7ebc8;
	--oasis-bg-mantle: #bce6bd;
	--oasis-bg-shadow: #b1e2b3;
	--oasis-bg-surface: #a5dea8;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #5b4053;
	--oasis-diff-delete: #6a3b3b;
	--oasis-diff-text: #653f29;
	--oasis-fg-comment: #796871;
	--oasis-fg-core: #663c49;
	--oasis-fg-dim: #887f79;
	--oasis-fg-muted: #70606a;
	--oasis-fg-strong: #5d3f55;
	--oasis-git-add: #1e5317;
	--oasis-git-change: #50490a;
	--oasis-git-delete: #960000;
	--oasis-syntax-bracket: #5e6570;
	--oasis-syntax-builtinConst: #4742be;
	--oasis-syntax-builtinFunc: #764b16;
	--oasis-syntax-builtinVar: #7300de;
	--oasis-syntax-comment: #7b5c6c;
	--oasis-syntax-conditional: #9f1116;
	--oasis-syntax-constant: #3a3939;
	--oasis-syntax-delimiter: #3f5b41;
	--oasis-syntax-exception: #704e0c;
	--oasis-syntax-func: #6b481a;
	--oasis-syntax-identifier: #235a72;
	--oasis-syntax-operator: #a91218;
	--oasis-syntax-parameter: #214f1c;
	--oasis-syntax-preproc: #5b5526;
	--oasis-syntax-punctuation: #a91218;
	--oasis-syntax-regex: #625325;
	--oasis-syntax-special: #82440e;
	--oasis-syntax-statement: #a91218;
	--oasis-syntax-string: #754316;
	--oasis-syntax-type: #2d5651;
	--oasis-terminal-black: #484848;
	--oasis-terminal-blue: #125597;
	--oasis-terminal-bright-black: #51463f;
	--oasis-terminal-bright-blue: #205a72;
	--oasis-terminal-bright-cyan: #2f5c55;
	--oasis-terminal-bright-green: #325e2b;
	--oasis-terminal-bright-magenta: #6f21cd;
	--oasis-terminal-bright-red: #a91010;
	--oasis-terminal-bright-white: #50482b;
	--oasis-terminal-bright-yellow: #7c4712;
	--oasis-terminal-color0: #484848;
	--oasis-terminal-color1: #a91111;
	--oasis-terminal-color10: #325e2b;
	--oasis-terminal-color11: #7c4712;
	--oasis-terminal-color12: #205a72;
	--oasis-terminal-color13: #6f21cd;
	--oasis-terminal-color14: #2f5c55;
	--oasis-terminal-color15: #50482b;
	--oasis-terminal-color2: #355e32;
	--oasis-terminal-color3: #5b551f;
	--oasis-terminal-color4: #125597;
	--oasis-terminal-color5: #7022cb;
	--oasis-terminal-color6: #305c57;
	--oasis-terminal-color7: #554712;
	--oasis-terminal-color8: #51463f;
	--oasis-terminal-color9: #a91010;
	--oasis-terminal-cyan: #305c57;
	--oasis-terminal-green: #355e32;
	--oasis-terminal-magenta: #7022cb;
	--oasis-terminal-red: #a91111;
	--oasis-terminal-white: #554712;
	--oasis-terminal-yellow: #5b551f;
	--oasis-theme-accent: #2c685f;
	--oasis-theme-label: #366338;
	--oasis-theme-light-primary: #6a2106;
	--oasis-theme-primary: #812509;
	--oasis-theme-secondary: #336135;
	--oasis-theme-strong-primary: #7c3e27;
	--oasis-ui-border: #892121;
	--oasis-ui-cursorLine: #bce6bd;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #264d5d;
	--oasis-ui-float-bg: #bce6bd;
	--oasis-ui-float-border-bg: #bce6bd;
	--oasis-ui-float-border-fg: #892121;
	--oasis-ui-float-fg: #892121;
	--oasis-ui-float-title: #892121;
	--oasis-ui-lineNumber: #673f19;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #a5dea8;
	--oasis-ui-matchParen-fg: #394d3a;
	--oasis-ui-nontext: #8d7e76;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #892121;
	--oasis-ui-visual-bg: #a5dea8;
	--oasis-ui-visual-fg: none;
}