/* extras/css/themes/light/4/oasis_luna_light_4.css
 * name: Oasis Luna Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="luna_light_4"],
.oasis-luna_light_4 {
	--oasis-name: "Oasis Luna Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #bcb9ee;
	--oasis-bg-mantle: #b0adeb;
	--oasis-bg-shadow: #a5a1e8;
	--oasis-bg-surface: #9994e5;
	--oasis-diff-add: #1d362a;
	--oasis-diff-change: #2c266e;
	--oasis-diff-delete: #482828;
	--oasis-diff-text: #452b1c;
	--oasis-fg-comment: #565367;
	--oasis-fg-core: #342b55;
	--oasis-fg-dim: #696676;
	--oasis-fg-muted: #4e4c5b;
	--oasis-fg-strong: #322a59;
	--oasis-git-add: #153910;
	--oasis-git-change: #373207;
	--oasis-git-delete: #6a0000;
	--oasis-syntax-bracket: #494e57;
	--oasis-syntax-builtinConst: #34308c;
	--oasis-syntax-builtinFunc: #563710;
	--oasis-syntax-builtinVar: #5600a6;
	--oasis-syntax-comment: #51496c;
	--oasis-syntax-conditional: #3c391f;
	--oasis-syntax-constant: #202020;
	--oasis-syntax-delimiter: #413e27;
	--oasis-syntax-exception: #7e0e12;
	--oasis-syntax-func: #49341a;
	--oasis-syntax-identifier: #194253;
	--oasis-syntax-operator: #423f1e;
	--oasis-syntax-parameter: #163512;
	--oasis-syntax-preproc: #632f1e;
	--oasis-syntax-punctuation: #423e23;
	--oasis-syntax-regex: #652a3e;
	--oasis-syntax-special: #60320a;
	--oasis-syntax-statement: #453e11;
	--oasis-syntax-string: #711114;
	--oasis-syntax-type: #203d3a;
	--oasis-terminal-black: #313131;
	--oasis-terminal-blue: #0e3f6f;
	--oasis-terminal-bright-black: #37302b;
	--oasis-terminal-bright-blue: #184253;
	--oasis-terminal-bright-cyan: #22433e;
	--oasis-terminal-bright-green: #244520;
	--oasis-terminal-bright-magenta: #521998;
	--oasis-terminal-bright-red: #7e0c0c;
	--oasis-terminal-bright-white: #36311d;
	--oasis-terminal-bright-yellow: #5c340e;
	--oasis-terminal-color0: #313131;
	--oasis-terminal-color1: #7e0d0d;
	--oasis-terminal-color10: #244520;
	--oasis-terminal-color11: #5c340e;
	--oasis-terminal-color12: #184253;
	--oasis-terminal-color13: #521998;
	--oasis-terminal-color14: #22433e;
	--oasis-terminal-color15: #36311d;
	--oasis-terminal-color2: #274525;
	--oasis-terminal-color3: #433e16;
	--oasis-terminal-color4: #0e3f6f;
	--oasis-terminal-color5: #531997;
	--oasis-terminal-color6: #23433f;
	--oasis-terminal-color7: #3a300c;
	--oasis-terminal-color8: #37302b;
	--oasis-terminal-color9: #7e0c0c;
	--oasis-terminal-cyan: #23433f;
	--oasis-terminal-green: #274525;
	--oasis-terminal-magenta: #531997;
	--oasis-terminal-red: #7e0d0d;
	--oasis-terminal-white: #3a300c;
	--oasis-terminal-yellow: #433e16;
	--oasis-theme-accent: #136881;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #635a0d;
	--oasis-theme-primary: #796e11;
	--oasis-theme-secondary: #450192;
	--oasis-theme-secondary-light: #33016f;
	--oasis-theme-secondary-strong: #706c33;
	--oasis-theme-strong-primary: #706c33;
	--oasis-ui-border: #411f68;
	--oasis-ui-cursorLine: #b0adeb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #1a343f;
	--oasis-ui-float-bg: #b0adeb;
	--oasis-ui-float-border-bg: #b0adeb;
	--oasis-ui-float-border-fg: #411f68;
	--oasis-ui-float-fg: #343218;
	--oasis-ui-float-title: #343218;
	--oasis-ui-lineNumber: #472b11;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #9994e5;
	--oasis-ui-matchParen-fg: #333220;
	--oasis-ui-nontext: #6a6678;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #343218;
	--oasis-ui-visual-bg: #9994e5;
	--oasis-ui-visual-fg: none;
}