/* extras/css/themes/light/4/oasis_scorpion_light_4.css
 * name: Oasis Scorpion Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="scorpion_light_4"],
.oasis-scorpion_light_4 {
	--oasis-name: "Oasis Scorpion Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f2c5b5;
	--oasis-bg-mantle: #f0bba8;
	--oasis-bg-shadow: #edb19b;
	--oasis-bg-surface: #eba78e;
	--oasis-diff-add: #244334;
	--oasis-diff-change: #5a3227;
	--oasis-diff-delete: #593131;
	--oasis-diff-text: #553522;
	--oasis-fg-comment: #6c5d59;
	--oasis-fg-core: #4b3831;
	--oasis-fg-dim: #7c726f;
	--oasis-fg-muted: #625653;
	--oasis-fg-strong: #5b3127;
	--oasis-git-add: #194513;
	--oasis-git-change: #433d09;
	--oasis-git-delete: #800000;
	--oasis-syntax-bracket: #535963;
	--oasis-syntax-builtinConst: #3e39a5;
	--oasis-syntax-builtinFunc: #654113;
	--oasis-syntax-builtinVar: #6300c3;
	--oasis-syntax-comment: #6b544f;
	--oasis-syntax-conditional: #484426;
	--oasis-syntax-constant: #2e2d2d;
	--oasis-syntax-delimiter: #673e32;
	--oasis-syntax-exception: #921015;
	--oasis-syntax-func: #573f1f;
	--oasis-syntax-identifier: #1e4e62;
	--oasis-syntax-operator: #4e4924;
	--oasis-syntax-parameter: #1b4217;
	--oasis-syntax-preproc: #743724;
	--oasis-syntax-punctuation: #4e4929;
	--oasis-syntax-regex: #763248;
	--oasis-syntax-special: #703b0c;
	--oasis-syntax-statement: #514914;
	--oasis-syntax-string: #861417;
	--oasis-syntax-type: #274945;
	--oasis-terminal-black: #3d3d3d;
	--oasis-terminal-blue: #104a83;
	--oasis-terminal-bright-black: #443b35;
	--oasis-terminal-bright-blue: #1c4e62;
	--oasis-terminal-bright-cyan: #284f49;
	--oasis-terminal-bright-green: #2b5125;
	--oasis-terminal-bright-magenta: #601db2;
	--oasis-terminal-bright-red: #930e0e;
	--oasis-terminal-bright-white: #433c24;
	--oasis-terminal-bright-yellow: #6c3d10;
	--oasis-terminal-color0: #3d3d3d;
	--oasis-terminal-color1: #930f0f;
	--oasis-terminal-color10: #2b5125;
	--oasis-terminal-color11: #6c3d10;
	--oasis-terminal-color12: #1c4e62;
	--oasis-terminal-color13: #601db2;
	--oasis-terminal-color14: #284f49;
	--oasis-terminal-color15: #433c24;
	--oasis-terminal-color2: #2e512b;
	--oasis-terminal-color3: #4f491a;
	--oasis-terminal-color4: #104a83;
	--oasis-terminal-color5: #611db1;
	--oasis-terminal-color6: #294f4b;
	--oasis-terminal-color7: #473c0f;
	--oasis-terminal-color8: #443b35;
	--oasis-terminal-color9: #930e0e;
	--oasis-terminal-cyan: #294f4b;
	--oasis-terminal-green: #2e512b;
	--oasis-terminal-magenta: #611db1;
	--oasis-terminal-red: #930f0f;
	--oasis-terminal-white: #473c0f;
	--oasis-terminal-yellow: #4f491a;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-label: #7e361b;
	--oasis-theme-light-primary: #635a0d;
	--oasis-theme-primary: #796e11;
	--oasis-theme-secondary: #8a270a;
	--oasis-theme-secondary-light: #6a2106;
	--oasis-theme-secondary-strong: #7c3e27;
	--oasis-theme-strong-primary: #77722c;
	--oasis-ui-border: #53352a;
	--oasis-ui-cursorLine: #f0bba8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #20404e;
	--oasis-ui-float-bg: #f0bba8;
	--oasis-ui-float-border-bg: #f0bba8;
	--oasis-ui-float-border-fg: #53352a;
	--oasis-ui-float-fg: #622d1d;
	--oasis-ui-float-title: #622d1d;
	--oasis-ui-lineNumber: #573515;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #eba78e;
	--oasis-ui-matchParen-fg: #3f3d28;
	--oasis-ui-nontext: #81706c;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #622d1d;
	--oasis-ui-visual-bg: #eba78e;
	--oasis-ui-visual-fg: none;
}