/* extras/css/themes/light/4/oasis_luna_light_4.css
 * name: Oasis Luna Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="luna_light_4"],
.oasis-luna_light_4 {
	--oasis-name: "Oasis Luna Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #d0cef3;
	--oasis-bg-mantle: #c4c2f0;
	--oasis-bg-shadow: #b8b5ed;
	--oasis-bg-surface: #ada9ea;
	--oasis-diff-add: #254535;
	--oasis-diff-change: #393188;
	--oasis-diff-delete: #5c3333;
	--oasis-diff-text: #583723;
	--oasis-fg-comment: #636076;
	--oasis-fg-core: #110e1b;
	--oasis-fg-dim: #777486;
	--oasis-fg-muted: #5b596a;
	--oasis-fg-strong: #2e2753;
	--oasis-git-add: #1a4714;
	--oasis-git-change: #453f09;
	--oasis-git-delete: #840000;
	--oasis-syntax-bracket: #373c42;
	--oasis-syntax-builtinConst: #4a44bf;
	--oasis-syntax-builtinFunc: #64441b;
	--oasis-syntax-builtinVar: #681ab2;
	--oasis-syntax-comment: #5e557e;
	--oasis-syntax-conditional: #504b2a;
	--oasis-syntax-constant: #86450f;
	--oasis-syntax-delimiter: #605c39;
	--oasis-syntax-exception: #961015;
	--oasis-syntax-func: #4d3b23;
	--oasis-syntax-identifier: #21566c;
	--oasis-syntax-macro: #5e3226;
	--oasis-syntax-operator: #504b24;
	--oasis-syntax-parameter: #2e5a2b;
	--oasis-syntax-preproc: #773825;
	--oasis-syntax-punctuation: #433f23;
	--oasis-syntax-regex: #933b57;
	--oasis-syntax-special: #733c0d;
	--oasis-syntax-statement: #605717;
	--oasis-syntax-string: #7f0e12;
	--oasis-syntax-type: #2e5752;
	--oasis-syntax-typedef: #24443f;
	--oasis-terminal-black: #3e3e3e;
	--oasis-terminal-blue: #104b86;
	--oasis-terminal-bright-black: #463d36;
	--oasis-terminal-bright-blue: #1c5064;
	--oasis-terminal-bright-cyan: #2a514b;
	--oasis-terminal-bright-green: #2c5326;
	--oasis-terminal-bright-magenta: #631db6;
	--oasis-terminal-bright-red: #970f0f;
	--oasis-terminal-bright-white: #453e25;
	--oasis-terminal-bright-yellow: #6e3f10;
	--oasis-terminal-color0: #3e3e3e;
	--oasis-terminal-color1: #960f0f;
	--oasis-terminal-color10: #2c5326;
	--oasis-terminal-color11: #6e3f10;
	--oasis-terminal-color12: #1c5064;
	--oasis-terminal-color13: #631db6;
	--oasis-terminal-color14: #2a514b;
	--oasis-terminal-color15: #453e25;
	--oasis-terminal-color2: #2f532c;
	--oasis-terminal-color3: #514b1b;
	--oasis-terminal-color4: #104b86;
	--oasis-terminal-color5: #631eb4;
	--oasis-terminal-color6: #2a514d;
	--oasis-terminal-color7: #493d0f;
	--oasis-terminal-color8: #463d36;
	--oasis-terminal-color9: #970f0f;
	--oasis-terminal-cyan: #2a514d;
	--oasis-terminal-green: #2f532c;
	--oasis-terminal-magenta: #631eb4;
	--oasis-terminal-red: #960f0f;
	--oasis-terminal-white: #493d0f;
	--oasis-terminal-yellow: #514b1b;
	--oasis-theme-accent: #136881;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #58500c;
	--oasis-theme-primary: #60580d;
	--oasis-theme-secondary: #14145a;
	--oasis-theme-secondary-light: #0e0f56;
	--oasis-theme-secondary-strong: #797437;
	--oasis-theme-status: #1b1b79;
	--oasis-theme-strong-primary: #382c84;
	--oasis-ui-border: #36367c;
	--oasis-ui-cursorLine: #c4c2f0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #18313b;
	--oasis-ui-float-bg: #c4c2f0;
	--oasis-ui-float-border-bg: #c4c2f0;
	--oasis-ui-float-border-fg: #4e4eb2;
	--oasis-ui-float-fg: #423f1e;
	--oasis-ui-float-title: #423f1e;
	--oasis-ui-lineNumber: #814e1f;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #ada9ea;
	--oasis-ui-matchParen-fg: #676340;
	--oasis-ui-nontext: #6d697c;
	--oasis-ui-picker-bg: #c4c2f0;
	--oasis-ui-picker-border-bg: #c4c2f0;
	--oasis-ui-picker-border-fg: #69642f;
	--oasis-ui-picker-fg: #423f1e;
	--oasis-ui-picker-title: #423f1e;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #423f1e;
	--oasis-ui-visual-bg: #ada9ea;
	--oasis-ui-visual-fg: none;
}