/* extras/css/themes/light/4/oasis_moonlight_light_4.css
 * name: Oasis Moonlight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="moonlight_light_4"],
.oasis-moonlight_light_4 {
	--oasis-name: "Oasis Moonlight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #e2dfce;
	--oasis-bg-crust: #dfdcc9;
	--oasis-bg-mantle: #d9d6c0;
	--oasis-bg-shadow: #dcd9c4;
	--oasis-bg-surface: #cbc6a8;
	--oasis-diff-add: #305b46;
	--oasis-diff-change: #3c5470;
	--oasis-diff-delete: #794343;
	--oasis-diff-text: #74482e;
	--oasis-fg-comment: #636b76;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #7a8087;
	--oasis-fg-muted: #5b646c;
	--oasis-fg-strong: #38381c;
	--oasis-git-add: #235e1a;
	--oasis-git-change: #7a4612;
	--oasis-git-delete: #aa0000;
	--oasis-syntax-bracket: #3f444c;
	--oasis-syntax-builtin-const: #544fc2;
	--oasis-syntax-builtin-func: #714933;
	--oasis-syntax-builtin-var: #721dc6;
	--oasis-syntax-comment: #586476;
	--oasis-syntax-conditional: #58532e;
	--oasis-syntax-constant: #934b10;
	--oasis-syntax-delimiter: #316792;
	--oasis-syntax-exception: #a51217;
	--oasis-syntax-func: #613e2a;
	--oasis-syntax-identifier: #245f77;
	--oasis-syntax-macro: #404b24;
	--oasis-syntax-operator: #585328;
	--oasis-syntax-parameter: #32632f;
	--oasis-syntax-preproc: #4b572a;
	--oasis-syntax-punctuation: #4a4828;
	--oasis-syntax-regex: #a53b65;
	--oasis-syntax-special: #7f420e;
	--oasis-syntax-statement: #685f29;
	--oasis-syntax-string: #8e0f14;
	--oasis-syntax-type: #306152;
	--oasis-syntax-typedef: #294d44;
	--oasis-terminal-black: #3c3c3c;
	--oasis-terminal-blue: #125394;
	--oasis-terminal-bright-black: #433b35;
	--oasis-terminal-bright-blue: #20596f;
	--oasis-terminal-bright-cyan: #315a4e;
	--oasis-terminal-bright-green: #315c2a;
	--oasis-terminal-bright-magenta: #6d20c9;
	--oasis-terminal-bright-red: #a61010;
	--oasis-terminal-bright-white: #3e3e0d;
	--oasis-terminal-bright-yellow: #7a4612;
	--oasis-terminal-color0: #3c3c3c;
	--oasis-terminal-color1: #a61111;
	--oasis-terminal-color10: #315c2a;
	--oasis-terminal-color11: #7a4612;
	--oasis-terminal-color12: #20596f;
	--oasis-terminal-color13: #6d20c9;
	--oasis-terminal-color14: #315a4e;
	--oasis-terminal-color15: #3e3e0d;
	--oasis-terminal-color2: #345c31;
	--oasis-terminal-color3: #5a541e;
	--oasis-terminal-color4: #125394;
	--oasis-terminal-color5: #6e21c7;
	--oasis-terminal-color6: #335a4f;
	--oasis-terminal-color7: #3e3e1d;
	--oasis-terminal-color8: #433b35;
	--oasis-terminal-color9: #a61010;
	--oasis-terminal-cyan: #335a4f;
	--oasis-terminal-green: #345c31;
	--oasis-terminal-magenta: #6e21c7;
	--oasis-terminal-red: #a61111;
	--oasis-terminal-white: #3e3e1d;
	--oasis-terminal-yellow: #5a541e;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #970202;
	--oasis-theme-primary: #21364d;
	--oasis-theme-primary-light: #1e3346;
	--oasis-theme-primary-strong: #35577b;
	--oasis-theme-secondary: #60580d;
	--oasis-theme-secondary-strong: #797437;
	--oasis-ui-border: #42586e;
	--oasis-ui-cursor-line: #d9d6c0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #285061;
	--oasis-ui-float-bg: #d9d6c0;
	--oasis-ui-float-border-bg: #d9d6c0;
	--oasis-ui-float-border-fg: #42586e;
	--oasis-ui-float-fg: #423f1e;
	--oasis-ui-float-title: #423f1e;
	--oasis-ui-line-number: #8d5622;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-match-parent-bg: #cbc6a8;
	--oasis-ui-match-parent-fg: #8e5621;
	--oasis-ui-nontext: #6b757e;
	--oasis-ui-picker-bg: #d9d6c0;
	--oasis-ui-picker-border-bg: #d9d6c0;
	--oasis-ui-picker-border-fg: #59573d;
	--oasis-ui-picker-fg: #4b4822;
	--oasis-ui-picker-title: #4b4822;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #42586e;
	--oasis-ui-visual-bg: #cbc6a8;
	--oasis-ui-visual-fg: none;
}