/* extras/css/themes/light/4/oasis_desert_light_4.css
 * name: Oasis Desert Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="desert_light_4"],
.oasis-desert_light_4 {
	--oasis-name: "Oasis Desert Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5dfc7;
	--oasis-bg-mantle: #f3d8ba;
	--oasis-bg-shadow: #f0d0ad;
	--oasis-bg-surface: #eec9a0;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #494949;
	--oasis-diff-delete: #6b3b3b;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #6f6d64;
	--oasis-fg-core: #564634;
	--oasis-fg-dim: #77838b;
	--oasis-fg-muted: #67655d;
	--oasis-fg-strong: #50473f;
	--oasis-git-add: #1f5317;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #970000;
	--oasis-syntax-bracket: #5e6671;
	--oasis-syntax-builtinConst: #4842be;
	--oasis-syntax-builtinFunc: #794a0d;
	--oasis-syntax-builtinVar: #7400df;
	--oasis-syntax-comment: #69655b;
	--oasis-syntax-conditional: #55502d;
	--oasis-syntax-constant: #3b3a3a;
	--oasis-syntax-delimiter: #595636;
	--oasis-syntax-exception: #aa1218;
	--oasis-syntax-func: #72450c;
	--oasis-syntax-identifier: #235b72;
	--oasis-syntax-operator: #5c5626;
	--oasis-syntax-parameter: #21501c;
	--oasis-syntax-preproc: #97321a;
	--oasis-syntax-punctuation: #5b562a;
	--oasis-syntax-regex: #873c54;
	--oasis-syntax-special: #83440e;
	--oasis-syntax-statement: #5e5517;
	--oasis-syntax-string: #9d171b;
	--oasis-syntax-type: #2e5650;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135698;
	--oasis-terminal-bright-black: #514740;
	--oasis-terminal-bright-blue: #205b73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #325f2c;
	--oasis-terminal-bright-magenta: #7021cf;
	--oasis-terminal-bright-red: #aa1010;
	--oasis-terminal-bright-white: #50482b;
	--oasis-terminal-bright-yellow: #7d4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #aa1111;
	--oasis-terminal-color10: #325f2c;
	--oasis-terminal-color11: #7d4813;
	--oasis-terminal-color12: #205b73;
	--oasis-terminal-color13: #7021cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #50482b;
	--oasis-terminal-color2: #355e32;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135698;
	--oasis-terminal-color5: #7122cd;
	--oasis-terminal-color6: #305c57;
	--oasis-terminal-color7: #564812;
	--oasis-terminal-color8: #514740;
	--oasis-terminal-color9: #aa1010;
	--oasis-terminal-cyan: #305c57;
	--oasis-terminal-green: #355e32;
	--oasis-terminal-magenta: #7122cd;
	--oasis-terminal-red: #aa1111;
	--oasis-terminal-white: #564812;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #635a0d;
	--oasis-theme-primary: #796e11;
	--oasis-theme-secondary: #920101;
	--oasis-theme-secondary-light: #6f0101;
	--oasis-theme-secondary-strong: #7c2727;
	--oasis-theme-strong-primary: #706c33;
	--oasis-ui-border: #8a2121;
	--oasis-ui-cursorLine: #f3d8ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #f3d8ba;
	--oasis-ui-float-border-bg: #f3d8ba;
	--oasis-ui-float-border-fg: #8a2121;
	--oasis-ui-float-fg: #8a2121;
	--oasis-ui-float-title: #8a2121;
	--oasis-ui-lineNumber: #683f19;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #eec9a0;
	--oasis-ui-matchParen-fg: #4c4a30;
	--oasis-ui-nontext: #75848c;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #8a2121;
	--oasis-ui-visual-bg: #eec9a0;
	--oasis-ui-visual-fg: none;
}