/* extras/css/themes/light/4/oasis_canyon_light_4.css
 * name: Oasis Canyon Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="canyon_light_4"],
.oasis-canyon_light_4 {
	--oasis-name: "Oasis Canyon Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5dfc7;
	--oasis-bg-mantle: #f3d8ba;
	--oasis-bg-shadow: #f0d0ad;
	--oasis-bg-surface: #eec9a0;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #644121;
	--oasis-diff-delete: #6b3b3b;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #7b6a5e;
	--oasis-fg-core: #574630;
	--oasis-fg-dim: #818181;
	--oasis-fg-muted: #736256;
	--oasis-fg-strong: #63412a;
	--oasis-git-add: #1d540e;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #970000;
	--oasis-syntax-bracket: #5e6671;
	--oasis-syntax-builtinConst: #505561;
	--oasis-syntax-builtinFunc: #774b0d;
	--oasis-syntax-builtinVar: #545555;
	--oasis-syntax-comment: #7b604f;
	--oasis-syntax-conditional: #7b400d;
	--oasis-syntax-constant: #3a3a39;
	--oasis-syntax-delimiter: #7d471b;
	--oasis-syntax-exception: #a32124;
	--oasis-syntax-func: #70470c;
	--oasis-syntax-identifier: #305c56;
	--oasis-syntax-operator: #aa1218;
	--oasis-syntax-parameter: #6000bc;
	--oasis-syntax-preproc: #205b73;
	--oasis-syntax-punctuation: #9f272b;
	--oasis-syntax-regex: #2a601c;
	--oasis-syntax-special: #83440e;
	--oasis-syntax-statement: #82450e;
	--oasis-syntax-string: #235a3d;
	--oasis-syntax-type: #2e5651;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135698;
	--oasis-terminal-bright-black: #4f4742;
	--oasis-terminal-bright-blue: #205b73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #306023;
	--oasis-terminal-bright-magenta: #7021cf;
	--oasis-terminal-bright-red: #aa1010;
	--oasis-terminal-bright-white: #6b3e0b;
	--oasis-terminal-bright-yellow: #7d4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #aa1111;
	--oasis-terminal-color10: #306023;
	--oasis-terminal-color11: #7d4813;
	--oasis-terminal-color12: #205b73;
	--oasis-terminal-color13: #7021cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #6b3e0b;
	--oasis-terminal-color2: #2a5f43;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135698;
	--oasis-terminal-color5: #7122cd;
	--oasis-terminal-color6: #305c57;
	--oasis-terminal-color7: #4b4941;
	--oasis-terminal-color8: #4f4742;
	--oasis-terminal-color9: #aa1010;
	--oasis-terminal-cyan: #305c57;
	--oasis-terminal-green: #2a5f43;
	--oasis-terminal-magenta: #7122cd;
	--oasis-terminal-red: #aa1111;
	--oasis-terminal-white: #4b4941;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #16607e;
	--oasis-theme-light-primary: #6a4406;
	--oasis-theme-primary: #884501;
	--oasis-theme-secondary: #920101;
	--oasis-theme-strong-primary: #a25102;
	--oasis-ui-border: #674019;
	--oasis-ui-cursorLine: #f3d8ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #f3d8ba;
	--oasis-ui-float-border-bg: #f3d8ba;
	--oasis-ui-float-border-fg: #674019;
	--oasis-ui-float-fg: #674019;
	--oasis-ui-float-title: #674019;
	--oasis-ui-lineNumber: #51491c;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-nontext: #818181;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #674019;
	--oasis-ui-visual-bg: #eec9a0;
	--oasis-ui-visual-fg: none;
}