/* extras/css/themes/light/4/oasis_desert_light_4.css
 * name: Oasis Desert Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="desert_light_4"],
.oasis-desert_light_4 {
	--oasis-name: "Oasis Desert Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f0ecd1;
	--oasis-bg-mantle: #ece7c5;
	--oasis-bg-shadow: #e8e2ba;
	--oasis-bg-surface: #e5deae;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #4e4e4e;
	--oasis-diff-delete: #733f3f;
	--oasis-diff-text: #6d442c;
	--oasis-fg-comment: #757369;
	--oasis-fg-core: #19150f;
	--oasis-fg-dim: #7e8991;
	--oasis-fg-muted: #6d6b62;
	--oasis-fg-strong: #443d35;
	--oasis-git-add: #215919;
	--oasis-git-change: #564f0b;
	--oasis-git-delete: #a10000;
	--oasis-syntax-bracket: #464c54;
	--oasis-syntax-builtinConst: #5d58c6;
	--oasis-syntax-builtinFunc: #795221;
	--oasis-syntax-builtinVar: #7d1fd6;
	--oasis-syntax-comment: #6e6a5f;
	--oasis-syntax-conditional: #605b32;
	--oasis-syntax-constant: #9f5111;
	--oasis-syntax-delimiter: #716c44;
	--oasis-syntax-exception: #b41419;
	--oasis-syntax-func: #604a2c;
	--oasis-syntax-identifier: #276781;
	--oasis-syntax-macro: #7c3b26;
	--oasis-syntax-operator: #615b29;
	--oasis-syntax-parameter: #376b33;
	--oasis-syntax-preproc: #a0351c;
	--oasis-syntax-punctuation: #544f26;
	--oasis-syntax-regex: #ad4566;
	--oasis-syntax-special: #8b480f;
	--oasis-syntax-statement: #72671c;
	--oasis-syntax-string: #9d1116;
	--oasis-syntax-type: #376861;
	--oasis-syntax-typedef: #2d5550;
	--oasis-terminal-black: #4e4e4e;
	--oasis-terminal-blue: #145ba1;
	--oasis-terminal-bright-black: #574c44;
	--oasis-terminal-bright-blue: #226079;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35652e;
	--oasis-terminal-bright-magenta: #7623db;
	--oasis-terminal-bright-red: #b41111;
	--oasis-terminal-bright-white: #564e2e;
	--oasis-terminal-bright-yellow: #854c14;
	--oasis-terminal-color0: #4e4e4e;
	--oasis-terminal-color1: #b41212;
	--oasis-terminal-color10: #35652e;
	--oasis-terminal-color11: #854c14;
	--oasis-terminal-color12: #226079;
	--oasis-terminal-color13: #7623db;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #564e2e;
	--oasis-terminal-color2: #386435;
	--oasis-terminal-color3: #625b21;
	--oasis-terminal-color4: #145ba1;
	--oasis-terminal-color5: #7724d9;
	--oasis-terminal-color6: #33625d;
	--oasis-terminal-color7: #5c4d13;
	--oasis-terminal-color8: #574c44;
	--oasis-terminal-color9: #b41111;
	--oasis-terminal-cyan: #33625d;
	--oasis-terminal-green: #386435;
	--oasis-terminal-magenta: #7724d9;
	--oasis-terminal-red: #b41212;
	--oasis-terminal-white: #5c4d13;
	--oasis-terminal-yellow: #625b21;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #58500c;
	--oasis-theme-primary: #60580d;
	--oasis-theme-secondary: #6d0101;
	--oasis-theme-secondary-light: #620101;
	--oasis-theme-secondary-strong: #862a2a;
	--oasis-theme-strong-primary: #797437;
	--oasis-ui-border: #932424;
	--oasis-ui-cursorLine: #ece7c5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #214250;
	--oasis-ui-float-bg: #ece7c5;
	--oasis-ui-float-border-bg: #ece7c5;
	--oasis-ui-float-border-fg: #c73030;
	--oasis-ui-float-fg: #534f26;
	--oasis-ui-float-title: #534f26;
	--oasis-ui-lineNumber: #985c25;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e5deae;
	--oasis-ui-matchParen-fg: #78744b;
	--oasis-ui-nontext: #707e86;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #932424;
	--oasis-ui-visual-bg: #e5deae;
	--oasis-ui-visual-fg: none;
}