/* extras/css/themes/light/4/oasis_lagoon_light_4.css
 * name: Oasis Lagoon Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="lagoon_light_4"],
.oasis-lagoon_light_4 {
	--oasis-name: "Oasis Lagoon Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #c9dcf7;
	--oasis-bg-mantle: #bcd3f5;
	--oasis-bg-shadow: #aecbf3;
	--oasis-bg-surface: #a1c2f1;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #294470;
	--oasis-diff-delete: #643737;
	--oasis-diff-text: #5f3b26;
	--oasis-fg-comment: #576b75;
	--oasis-fg-core: #334561;
	--oasis-fg-dim: #857a72;
	--oasis-fg-muted: #51636e;
	--oasis-fg-strong: #374652;
	--oasis-git-add: #1d4e16;
	--oasis-git-change: #4b450a;
	--oasis-git-delete: #8e0000;
	--oasis-syntax-bracket: #5a616b;
	--oasis-syntax-builtinConst: #443eb5;
	--oasis-syntax-builtinFunc: #73460c;
	--oasis-syntax-builtinVar: #6c00d5;
	--oasis-syntax-comment: #496476;
	--oasis-syntax-conditional: #104d81;
	--oasis-syntax-constant: #363535;
	--oasis-syntax-delimiter: #1c5381;
	--oasis-syntax-exception: #a01117;
	--oasis-syntax-func: #6b410c;
	--oasis-syntax-identifier: #21566c;
	--oasis-syntax-operator: #114f9a;
	--oasis-syntax-parameter: #1f4b1a;
	--oasis-syntax-preproc: #575124;
	--oasis-syntax-punctuation: #114f9a;
	--oasis-syntax-regex: #7c3b51;
	--oasis-syntax-special: #7c400d;
	--oasis-syntax-statement: #11528a;
	--oasis-syntax-string: #94161a;
	--oasis-syntax-type: #2b514c;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #11518f;
	--oasis-terminal-bright-black: #4c423b;
	--oasis-terminal-bright-blue: #1f566c;
	--oasis-terminal-bright-cyan: #2c5751;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #691fc3;
	--oasis-terminal-bright-red: #a11010;
	--oasis-terminal-bright-white: #4b4428;
	--oasis-terminal-bright-yellow: #764312;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #a11010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #764312;
	--oasis-terminal-color12: #1f566c;
	--oasis-terminal-color13: #691fc3;
	--oasis-terminal-color14: #2c5751;
	--oasis-terminal-color15: #4b4428;
	--oasis-terminal-color2: #32592f;
	--oasis-terminal-color3: #57511d;
	--oasis-terminal-color4: #11518f;
	--oasis-terminal-color5: #6a20c1;
	--oasis-terminal-color6: #2d5752;
	--oasis-terminal-color7: #504311;
	--oasis-terminal-color8: #4c423b;
	--oasis-terminal-color9: #a11010;
	--oasis-terminal-cyan: #2d5752;
	--oasis-terminal-green: #32592f;
	--oasis-terminal-magenta: #6a20c1;
	--oasis-terminal-red: #a11010;
	--oasis-terminal-white: #504311;
	--oasis-terminal-yellow: #57511d;
	--oasis-theme-accent: #920101;
	--oasis-theme-label: #924207;
	--oasis-theme-light-primary: #023f6e;
	--oasis-theme-primary: #035087;
	--oasis-theme-secondary: #8c4908;
	--oasis-theme-strong-primary: #035fa0;
	--oasis-ui-border: #1c4766;
	--oasis-ui-cursorLine: #bcd3f5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244857;
	--oasis-ui-float-bg: #bcd3f5;
	--oasis-ui-float-border-bg: #bcd3f5;
	--oasis-ui-float-border-fg: #1c4766;
	--oasis-ui-float-fg: #1c4766;
	--oasis-ui-float-title: #1c4766;
	--oasis-ui-lineNumber: #613b18;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #a1c2f1;
	--oasis-ui-matchParen-fg: #633a1b;
	--oasis-ui-nontext: #867a6e;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #1c4766;
	--oasis-ui-visual-bg: #a1c2f1;
	--oasis-ui-visual-fg: none;
}