/* extras/css/themes/light/4/oasis_moonlight_light_4.css
 * name: Oasis Moonlight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="moonlight_light_4"],
.oasis-moonlight_light_4 {
	--oasis-name: "Oasis Moonlight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #e3d7aa;
	--oasis-bg-mantle: #e0d19f;
	--oasis-bg-shadow: #dccb93;
	--oasis-bg-surface: #d8c688;
	--oasis-diff-add: #274838;
	--oasis-diff-change: #32435b;
	--oasis-diff-delete: #613636;
	--oasis-diff-text: #5c3a25;
	--oasis-fg-comment: #766258;
	--oasis-fg-core: #4f3f2b;
	--oasis-fg-dim: #827771;
	--oasis-fg-muted: #6d5a51;
	--oasis-fg-strong: #593b26;
	--oasis-git-add: #1c4c15;
	--oasis-git-change: #494209;
	--oasis-git-delete: #8a0000;
	--oasis-syntax-bracket: #585f69;
	--oasis-syntax-builtinConst: #423cb0;
	--oasis-syntax-builtinFunc: #584e14;
	--oasis-syntax-builtinVar: #6b00ce;
	--oasis-syntax-comment: #775749;
	--oasis-syntax-conditional: #6e3c11;
	--oasis-syntax-constant: #343333;
	--oasis-syntax-delimiter: #744119;
	--oasis-syntax-exception: #9c1116;
	--oasis-syntax-func: #514914;
	--oasis-syntax-identifier: #205369;
	--oasis-syntax-operator: #744113;
	--oasis-syntax-parameter: #1d4819;
	--oasis-syntax-preproc: #66490b;
	--oasis-syntax-punctuation: #764013;
	--oasis-syntax-regex: #78394f;
	--oasis-syntax-special: #544f23;
	--oasis-syntax-statement: #744113;
	--oasis-syntax-string: #901519;
	--oasis-syntax-type: #2a4f4a;
	--oasis-terminal-black: #5a3a31;
	--oasis-terminal-blue: #114f8c;
	--oasis-terminal-bright-black: #563c2f;
	--oasis-terminal-bright-blue: #1e5369;
	--oasis-terminal-bright-cyan: #2b554e;
	--oasis-terminal-bright-green: #2e5728;
	--oasis-terminal-bright-magenta: #671fbe;
	--oasis-terminal-bright-red: #9d0f0f;
	--oasis-terminal-bright-white: #494227;
	--oasis-terminal-bright-yellow: #734211;
	--oasis-terminal-color0: #5a3a31;
	--oasis-terminal-color1: #9d1010;
	--oasis-terminal-color10: #2e5728;
	--oasis-terminal-color11: #734211;
	--oasis-terminal-color12: #1e5369;
	--oasis-terminal-color13: #671fbe;
	--oasis-terminal-color14: #2b554e;
	--oasis-terminal-color15: #494227;
	--oasis-terminal-color2: #31562e;
	--oasis-terminal-color3: #544f1c;
	--oasis-terminal-color4: #114f8c;
	--oasis-terminal-color5: #681fbd;
	--oasis-terminal-color6: #2c5550;
	--oasis-terminal-color7: #4d4110;
	--oasis-terminal-color8: #563c2f;
	--oasis-terminal-color9: #9d0f0f;
	--oasis-terminal-cyan: #2c5550;
	--oasis-terminal-green: #31562e;
	--oasis-terminal-magenta: #681fbd;
	--oasis-terminal-red: #9d1010;
	--oasis-terminal-white: #4d4110;
	--oasis-terminal-yellow: #544f1c;
	--oasis-theme-accent: #920101;
	--oasis-theme-label: #970202;
	--oasis-theme-light-primary: #22394f;
	--oasis-theme-primary: #294460;
	--oasis-theme-secondary: #827712;
	--oasis-theme-strong-primary: #315172;
	--oasis-ui-border: #334354;
	--oasis-ui-cursorLine: #e0d19f;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #234655;
	--oasis-ui-float-bg: #e0d19f;
	--oasis-ui-float-border-bg: #e0d19f;
	--oasis-ui-float-border-fg: #334354;
	--oasis-ui-float-fg: #334354;
	--oasis-ui-float-title: #334354;
	--oasis-ui-lineNumber: #5e3917;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #d8c688;
	--oasis-ui-matchParen-fg: #45432b;
	--oasis-ui-nontext: #707b85;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #334354;
	--oasis-ui-visual-bg: #d8c688;
	--oasis-ui-visual-fg: none;
}