/* extras/css/themes/light/4/oasis_starlight_light_4.css
 * name: Oasis Starlight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="starlight_light_4"],
.oasis-starlight_light_4 {
	--oasis-name: "Oasis Starlight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f0e6d1;
	--oasis-bg-mantle: #ece0c5;
	--oasis-bg-shadow: #e8d9ba;
	--oasis-bg-surface: #e5d3ae;
	--oasis-diff-add: #2c5340;
	--oasis-diff-change: #424c5f;
	--oasis-diff-delete: #6f3d3d;
	--oasis-diff-text: #6a422a;
	--oasis-fg-comment: #66717c;
	--oasis-fg-core: #181611;
	--oasis-fg-dim: #91817b;
	--oasis-fg-muted: #626972;
	--oasis-fg-strong: #3e3b36;
	--oasis-git-add: #205718;
	--oasis-git-change: #534c0b;
	--oasis-git-delete: #9d0000;
	--oasis-syntax-bracket: #444951;
	--oasis-syntax-builtinConst: #5a55c5;
	--oasis-syntax-builtinFunc: #755020;
	--oasis-syntax-builtinVar: #791fd1;
	--oasis-syntax-comment: #5a697c;
	--oasis-syntax-conditional: #125a97;
	--oasis-syntax-constant: #9b4f11;
	--oasis-syntax-delimiter: #246ca8;
	--oasis-syntax-exception: #af1319;
	--oasis-syntax-func: #624621;
	--oasis-syntax-identifier: #26647e;
	--oasis-syntax-macro: #514c2a;
	--oasis-syntax-operator: #1256a8;
	--oasis-syntax-parameter: #356832;
	--oasis-syntax-preproc: #5f5828;
	--oasis-syntax-punctuation: #104a92;
	--oasis-syntax-regex: #a14a67;
	--oasis-syntax-special: #87460f;
	--oasis-syntax-statement: #1566ac;
	--oasis-syntax-string: #981115;
	--oasis-syntax-type: #36655f;
	--oasis-syntax-typedef: #2b524c;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #13589d;
	--oasis-terminal-bright-black: #544942;
	--oasis-terminal-bright-blue: #215e76;
	--oasis-terminal-bright-cyan: #315f58;
	--oasis-terminal-bright-green: #34622d;
	--oasis-terminal-bright-magenta: #7322d5;
	--oasis-terminal-bright-red: #af1111;
	--oasis-terminal-bright-white: #534b2c;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #af1212;
	--oasis-terminal-color10: #34622d;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #215e76;
	--oasis-terminal-color13: #7322d5;
	--oasis-terminal-color14: #315f58;
	--oasis-terminal-color15: #534b2c;
	--oasis-terminal-color2: #376134;
	--oasis-terminal-color3: #5f5920;
	--oasis-terminal-color4: #13589d;
	--oasis-terminal-color5: #7423d3;
	--oasis-terminal-color6: #315f5a;
	--oasis-terminal-color7: #594a13;
	--oasis-terminal-color8: #544942;
	--oasis-terminal-color9: #af1111;
	--oasis-terminal-cyan: #315f5a;
	--oasis-terminal-green: #376134;
	--oasis-terminal-magenta: #7423d3;
	--oasis-terminal-red: #af1212;
	--oasis-terminal-white: #594a13;
	--oasis-terminal-yellow: #5f5920;
	--oasis-theme-accent: #920101;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #706a29;
	--oasis-theme-light-primary: #0f4055;
	--oasis-theme-primary: #023f6b;
	--oasis-theme-secondary: #60580d;
	--oasis-theme-strong-primary: #15659b;
	--oasis-ui-border: #1f4f71;
	--oasis-ui-cursorLine: #ece0c5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #203f4c;
	--oasis-ui-float-bg: #ece0c5;
	--oasis-ui-float-border-bg: #ece0c5;
	--oasis-ui-float-border-fg: #2a6d9c;
	--oasis-ui-float-fg: #504c24;
	--oasis-ui-float-title: #504c24;
	--oasis-ui-lineNumber: #955a24;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #e5d3ae;
	--oasis-ui-matchParen-fg: #757246;
	--oasis-ui-nontext: #8a756d;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #1f4f71;
	--oasis-ui-visual-bg: #e5d3ae;
	--oasis-ui-visual-fg: none;
}