/* extras/css/themes/light/4/oasis_midnight_light_4.css
 * name: Oasis Midnight Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="midnight_light_4"],
.oasis-midnight_light_4 {
	--oasis-name: "Oasis Midnight Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #cfd6e2;
	--oasis-bg-mantle: #c1cad9;
	--oasis-bg-shadow: #c5cedc;
	--oasis-bg-surface: #a9b5cb;
	--oasis-diff-add: #2d5542;
	--oasis-diff-change: #384f69;
	--oasis-diff-delete: #713f3f;
	--oasis-diff-text: #6c432b;
	--oasis-fg-comment: #5e6670;
	--oasis-fg-core: #171412;
	--oasis-fg-dim: #7d7872;
	--oasis-fg-muted: #565e65;
	--oasis-fg-strong: #432b1c;
	--oasis-git-add: #205818;
	--oasis-git-change: #724111;
	--oasis-git-delete: #9f0000;
	--oasis-syntax-bracket: #3a3f45;
	--oasis-syntax-builtinConst: #4d47c0;
	--oasis-syntax-builtinFunc: #67461c;
	--oasis-syntax-builtinVar: #6b1bb9;
	--oasis-syntax-comment: #535e6f;
	--oasis-syntax-conditional: #534e2b;
	--oasis-syntax-constant: #8a470f;
	--oasis-syntax-delimiter: #625e3b;
	--oasis-syntax-exception: #9b1116;
	--oasis-syntax-func: #503e25;
	--oasis-syntax-identifier: #22586f;
	--oasis-syntax-macro: #683120;
	--oasis-syntax-operator: #524e26;
	--oasis-syntax-parameter: #2f5d2c;
	--oasis-syntax-preproc: #8a2e18;
	--oasis-syntax-punctuation: #464224;
	--oasis-syntax-regex: #983c59;
	--oasis-syntax-special: #773e0d;
	--oasis-syntax-statement: #635918;
	--oasis-syntax-string: #840e13;
	--oasis-syntax-type: #2f5a55;
	--oasis-syntax-typedef: #254742;
	--oasis-terminal-black: #373737;
	--oasis-terminal-blue: #114e8a;
	--oasis-terminal-bright-black: #3d3530;
	--oasis-terminal-bright-blue: #1d5368;
	--oasis-terminal-bright-cyan: #2b544e;
	--oasis-terminal-bright-green: #2d5628;
	--oasis-terminal-bright-magenta: #661ebc;
	--oasis-terminal-bright-red: #9b0f0f;
	--oasis-terminal-bright-white: #3c3620;
	--oasis-terminal-bright-yellow: #724111;
	--oasis-terminal-color0: #373737;
	--oasis-terminal-color1: #9b1010;
	--oasis-terminal-color10: #2d5628;
	--oasis-terminal-color11: #724111;
	--oasis-terminal-color12: #1d5368;
	--oasis-terminal-color13: #661ebc;
	--oasis-terminal-color14: #2b544e;
	--oasis-terminal-color15: #3c3620;
	--oasis-terminal-color2: #30552d;
	--oasis-terminal-color3: #534e1c;
	--oasis-terminal-color4: #114e8a;
	--oasis-terminal-color5: #661fba;
	--oasis-terminal-color6: #2b544f;
	--oasis-terminal-color7: #40360e;
	--oasis-terminal-color8: #3d3530;
	--oasis-terminal-color9: #9b0f0f;
	--oasis-terminal-cyan: #2b544f;
	--oasis-terminal-green: #30552d;
	--oasis-terminal-magenta: #661fba;
	--oasis-terminal-red: #9b1010;
	--oasis-terminal-white: #40360e;
	--oasis-terminal-yellow: #534e1c;
	--oasis-theme-accent: #2d6c27;
	--oasis-theme-cursor: #796e11;
	--oasis-theme-label: #821717;
	--oasis-theme-light-primary: #58500c;
	--oasis-theme-primary: #534e1b;
	--oasis-theme-secondary: #6d0101;
	--oasis-theme-secondary-light: #620101;
	--oasis-theme-secondary-strong: #862a2a;
	--oasis-theme-strong-primary: #797437;
	--oasis-ui-border: #555132;
	--oasis-ui-cursorLine: #c1cad9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #254a5a;
	--oasis-ui-float-bg: #c1cad9;
	--oasis-ui-float-border-bg: #c1cad9;
	--oasis-ui-float-border-fg: #555132;
	--oasis-ui-float-fg: #6c1a1a;
	--oasis-ui-float-title: #6c1a1a;
	--oasis-ui-lineNumber: #855120;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #a9b5cb;
	--oasis-ui-matchParen-fg: #8e4949;
	--oasis-ui-nontext: #756c65;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #972525;
	--oasis-ui-visual-bg: #a9b5cb;
	--oasis-ui-visual-fg: none;
}