/* extras/css/themes/light/3/oasis_rose_light_3.css
 * name: Oasis Rose Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="rose_light_3"],
.oasis-rose_light_3 {
	--oasis-name: "Oasis Rose Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f4ddee;
	--oasis-bg-mantle: #f0d1e8;
	--oasis-bg-shadow: #edc6e2;
	--oasis-bg-surface: #e9badd;
	--oasis-diff-add: #2b513f;
	--oasis-diff-change: #5c4154;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #7a6972;
	--oasis-fg-core: #594353;
	--oasis-fg-dim: #89807b;
	--oasis-fg-muted: #70626b;
	--oasis-fg-strong: #5f4056;
	--oasis-git-add: #1d550e;
	--oasis-git-change: #514a08;
	--oasis-git-delete: #980000;
	--oasis-syntax-bracket: #616672;
	--oasis-syntax-builtinConst: #515661;
	--oasis-syntax-builtinFunc: #88420f;
	--oasis-syntax-builtinVar: #545557;
	--oasis-syntax-comment: #7c5e6c;
	--oasis-syntax-conditional: #a11216;
	--oasis-syntax-constant: #3b3b3a;
	--oasis-syntax-delimiter: #a42227;
	--oasis-syntax-exception: #605617;
	--oasis-syntax-func: #7c410d;
	--oasis-syntax-identifier: #305d56;
	--oasis-syntax-operator: #923a18;
	--oasis-syntax-parameter: #6100bd;
	--oasis-syntax-preproc: #1f5c73;
	--oasis-syntax-punctuation: #a81a1f;
	--oasis-syntax-regex: #2b611d;
	--oasis-syntax-special: #84450e;
	--oasis-syntax-statement: #ab1318;
	--oasis-syntax-string: #235a3d;
	--oasis-syntax-type: #2e5752;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #13569a;
	--oasis-terminal-bright-black: #4f4843;
	--oasis-terminal-bright-blue: #215c73;
	--oasis-terminal-bright-cyan: #2f5d57;
	--oasis-terminal-bright-green: #306023;
	--oasis-terminal-bright-magenta: #7022d0;
	--oasis-terminal-bright-red: #ab1111;
	--oasis-terminal-bright-white: #6c3f0b;
	--oasis-terminal-bright-yellow: #7e4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #a22525;
	--oasis-terminal-color10: #306023;
	--oasis-terminal-color11: #7e4813;
	--oasis-terminal-color12: #215c73;
	--oasis-terminal-color13: #7022d0;
	--oasis-terminal-color14: #2f5d57;
	--oasis-terminal-color15: #6c3f0b;
	--oasis-terminal-color2: #2b5f43;
	--oasis-terminal-color3: #5d571c;
	--oasis-terminal-color4: #13569a;
	--oasis-terminal-color5: #7122cf;
	--oasis-terminal-color6: #305d57;
	--oasis-terminal-color7: #4c4942;
	--oasis-terminal-color8: #4f4843;
	--oasis-terminal-color9: #ab1111;
	--oasis-terminal-cyan: #305d57;
	--oasis-terminal-green: #2b5f43;
	--oasis-terminal-magenta: #7122cf;
	--oasis-terminal-red: #a22525;
	--oasis-terminal-white: #4c4942;
	--oasis-terminal-yellow: #5d571c;
	--oasis-theme-accent: #196685;
	--oasis-theme-light-primary: #780202;
	--oasis-theme-palette-primary-50: #FFEBEB;
	--oasis-theme-palette-primary-100: #FFDCDC;
	--oasis-theme-palette-primary-200: #FFCECE;
	--oasis-theme-palette-primary-300: #FFC0C0;
	--oasis-theme-palette-primary-400: #FFB0B0;
	--oasis-theme-palette-primary-500: #FFA0A0;
	--oasis-theme-palette-primary-600: #FF9090;
	--oasis-theme-palette-primary-700: #FF8080;
	--oasis-theme-palette-primary-800: #CC5959;
	--oasis-theme-palette-primary-900: #803333;
	--oasis-theme-primary: #910303;
	--oasis-theme-secondary: #90800e;
	--oasis-theme-strong-primary: #aa0303;
	--oasis-ui-border: #8b2222;
	--oasis-ui-cursorLine: #f0d1e8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec997;
	--oasis-ui-diag-warn-fg: #5d550b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #f0d1e8;
	--oasis-ui-float-border-bg: #f0d1e8;
	--oasis-ui-float-border-fg: #8b2222;
	--oasis-ui-float-fg: #8b2222;
	--oasis-ui-float-title: #8b2222;
	--oasis-ui-lineNumber: #5e451b;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-nontext: #8d8076;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #8b2222;
	--oasis-ui-visual-bg: #e9badd;
	--oasis-ui-visual-fg: none;
}