/* extras/css/themes/light/3/oasis_canyon_light_3.css
 * name: Oasis Canyon Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="canyon_light_3"],
.oasis-canyon_light_3 {
	--oasis-name: "Oasis Canyon Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e7d4;
	--oasis-bg-mantle: #f5e0c7;
	--oasis-bg-shadow: #f2d9ba;
	--oasis-bg-surface: #f0d1ad;
	--oasis-diff-add: #2d5542;
	--oasis-diff-change: #644639;
	--oasis-diff-delete: #713f3f;
	--oasis-diff-text: #6c432b;
	--oasis-fg-comment: #846d62;
	--oasis-fg-core: #1a150e;
	--oasis-fg-dim: #8e847e;
	--oasis-fg-muted: #7a655b;
	--oasis-fg-strong: #533623;
	--oasis-git-add: #205818;
	--oasis-git-change: #554e0b;
	--oasis-git-delete: #9f0000;
	--oasis-syntax-bracket: #464a53;
	--oasis-syntax-builtinConst: #5c57c4;
	--oasis-syntax-builtinFunc: #635920;
	--oasis-syntax-builtinVar: #7c1fd4;
	--oasis-syntax-comment: #856252;
	--oasis-syntax-conditional: #864915;
	--oasis-syntax-constant: #9d5111;
	--oasis-syntax-delimiter: #9c5821;
	--oasis-syntax-exception: #b11319;
	--oasis-syntax-func: #554e1d;
	--oasis-syntax-identifier: #266580;
	--oasis-syntax-macro: #66470b;
	--oasis-syntax-operator: #854a15;
	--oasis-syntax-parameter: #376a32;
	--oasis-syntax-preproc: #74530d;
	--oasis-syntax-punctuation: #743f12;
	--oasis-syntax-regex: #a44a68;
	--oasis-syntax-special: #615a28;
	--oasis-syntax-statement: #975417;
	--oasis-syntax-string: #9b1115;
	--oasis-syntax-type: #366762;
	--oasis-syntax-typedef: #2c544f;
	--oasis-terminal-black: #4d4d4d;
	--oasis-terminal-blue: #135a9f;
	--oasis-terminal-bright-black: #564b43;
	--oasis-terminal-bright-blue: #226078;
	--oasis-terminal-bright-cyan: #31615a;
	--oasis-terminal-bright-green: #35632e;
	--oasis-terminal-bright-magenta: #7523d8;
	--oasis-terminal-bright-red: #b21212;
	--oasis-terminal-bright-white: #554c2e;
	--oasis-terminal-bright-yellow: #834b14;
	--oasis-terminal-color0: #4d4d4d;
	--oasis-terminal-color1: #b21212;
	--oasis-terminal-color10: #35632e;
	--oasis-terminal-color11: #834b14;
	--oasis-terminal-color12: #226078;
	--oasis-terminal-color13: #7523d8;
	--oasis-terminal-color14: #31615a;
	--oasis-terminal-color15: #554c2e;
	--oasis-terminal-color2: #386334;
	--oasis-terminal-color3: #615a20;
	--oasis-terminal-color4: #135a9f;
	--oasis-terminal-color5: #7623d7;
	--oasis-terminal-color6: #31615b;
	--oasis-terminal-color7: #5a4c13;
	--oasis-terminal-color8: #564b43;
	--oasis-terminal-color9: #b21212;
	--oasis-terminal-cyan: #31615b;
	--oasis-terminal-green: #386334;
	--oasis-terminal-magenta: #7623d7;
	--oasis-terminal-red: #b21212;
	--oasis-terminal-white: #5a4c13;
	--oasis-terminal-yellow: #615a20;
	--oasis-theme-accent: #196685;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #674207;
	--oasis-theme-primary: #703c08;
	--oasis-theme-secondary: #750202;
	--oasis-theme-strong-primary: #9c5b1e;
	--oasis-ui-border: #6e431b;
	--oasis-ui-cursorLine: #f5e0c7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #20414e;
	--oasis-ui-float-bg: #f5e0c7;
	--oasis-ui-float-border-bg: #f5e0c7;
	--oasis-ui-float-border-fg: #975b25;
	--oasis-ui-float-fg: #912323;
	--oasis-ui-float-title: #912323;
	--oasis-ui-lineNumber: #80662c;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #f0d1ad;
	--oasis-ui-matchParen-fg: #3c7991;
	--oasis-ui-nontext: #867971;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #6d431a;
	--oasis-ui-visual-bg: #f0d1ad;
	--oasis-ui-visual-fg: none;
}