/* extras/css/themes/light/3/oasis_abyss_light_3.css
 * name: Oasis Abyss Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="abyss_light_3"],
.oasis-abyss_light_3 {
	--oasis-name: "Oasis Abyss Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #eee2c9;
	--oasis-bg-mantle: #eadcbd;
	--oasis-bg-shadow: #e6d6b2;
	--oasis-bg-surface: #e2d0a6;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #494949;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #706e65;
	--oasis-fg-core: #4f4841;
	--oasis-fg-dim: #768589;
	--oasis-fg-muted: #68655d;
	--oasis-fg-strong: #6b3d2e;
	--oasis-git-add: #1f5417;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #980000;
	--oasis-syntax-bracket: #606672;
	--oasis-syntax-builtinConst: #4942bf;
	--oasis-syntax-builtinFunc: #784c15;
	--oasis-syntax-builtinVar: #7300e2;
	--oasis-syntax-comment: #69665a;
	--oasis-syntax-conditional: #54512d;
	--oasis-syntax-constant: #3b3a3a;
	--oasis-syntax-delimiter: #8f393b;
	--oasis-syntax-exception: #aa1318;
	--oasis-syntax-func: #674a26;
	--oasis-syntax-identifier: #235b73;
	--oasis-syntax-operator: #5b5629;
	--oasis-syntax-parameter: #21501d;
	--oasis-syntax-preproc: #983319;
	--oasis-syntax-punctuation: #5a5630;
	--oasis-syntax-regex: #8b3a54;
	--oasis-syntax-special: #83450e;
	--oasis-syntax-statement: #605517;
	--oasis-syntax-string: #9e171b;
	--oasis-syntax-type: #2e5752;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135699;
	--oasis-terminal-bright-black: #52473f;
	--oasis-terminal-bright-blue: #215c73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #335f2c;
	--oasis-terminal-bright-magenta: #7022cf;
	--oasis-terminal-bright-red: #ab1111;
	--oasis-terminal-bright-white: #51492c;
	--oasis-terminal-bright-yellow: #7e4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #ab1111;
	--oasis-terminal-color10: #335f2c;
	--oasis-terminal-color11: #7e4813;
	--oasis-terminal-color12: #215c73;
	--oasis-terminal-color13: #7022cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #51492c;
	--oasis-terminal-color2: #365e32;
	--oasis-terminal-color3: #5d561f;
	--oasis-terminal-color4: #135699;
	--oasis-terminal-color5: #7121ce;
	--oasis-terminal-color6: #2f5d58;
	--oasis-terminal-color7: #564812;
	--oasis-terminal-color8: #52473f;
	--oasis-terminal-color9: #ab1111;
	--oasis-terminal-cyan: #2f5d58;
	--oasis-terminal-green: #365e32;
	--oasis-terminal-magenta: #7121ce;
	--oasis-terminal-red: #ab1111;
	--oasis-terminal-white: #564812;
	--oasis-terminal-yellow: #5d561f;
	--oasis-theme-accent: #31732b;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #6b6110;
	--oasis-theme-primary: #6f6825;
	--oasis-theme-secondary: #9b0303;
	--oasis-theme-secondary-light: #780202;
	--oasis-theme-secondary-strong: #8e1f1f;
	--oasis-theme-strong-primary: #777237;
	--oasis-ui-border: #8b2222;
	--oasis-ui-cursorLine: #eadcbd;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #eadcbd;
	--oasis-ui-float-border-bg: #eadcbd;
	--oasis-ui-float-border-fg: #8b2222;
	--oasis-ui-float-fg: #8b2222;
	--oasis-ui-float-title: #8b2222;
	--oasis-ui-lineNumber: #694019;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e2d0a6;
	--oasis-ui-matchParen-fg: #4c4a30;
	--oasis-ui-nontext: #73858b;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #8b2222;
	--oasis-ui-visual-bg: #e2d0a6;
	--oasis-ui-visual-fg: none;
}