/* extras/css/themes/light/3/oasis_desert_light_3.css
 * name: Oasis Desert Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="desert_light_3"],
.oasis-desert_light_3 {
	--oasis-name: "Oasis Desert Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f3edcf;
	--oasis-bg-mantle: #eee6bd;
	--oasis-bg-shadow: #f0e8c3;
	--oasis-bg-surface: #e7db9e;
	--oasis-diff-add: #35644d;
	--oasis-diff-change: #5b5b5b;
	--oasis-diff-delete: #854a4a;
	--oasis-diff-text: #7f4f33;
	--oasis-fg-comment: #76746a;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #7e8a91;
	--oasis-fg-muted: #6e6b62;
	--oasis-fg-strong: #404021;
	--oasis-git-add: #26681d;
	--oasis-git-change: #864d14;
	--oasis-git-delete: #b90000;
	--oasis-syntax-bracket: #484c55;
	--oasis-syntax-builtin-const: #5e59c5;
	--oasis-syntax-builtin-func: #7c5038;
	--oasis-syntax-builtin-var: #7e1fd8;
	--oasis-syntax-comment: #6f6b60;
	--oasis-syntax-conditional: #605c33;
	--oasis-syntax-constant: #a05211;
	--oasis-syntax-delimiter: #a75156;
	--oasis-syntax-exception: #b51419;
	--oasis-syntax-func: #6c462f;
	--oasis-syntax-identifier: #276783;
	--oasis-syntax-macro: #475327;
	--oasis-syntax-operator: #635c28;
	--oasis-syntax-parameter: #386c33;
	--oasis-syntax-preproc: #52602e;
	--oasis-syntax-punctuation: #545026;
	--oasis-syntax-regex: #b3416e;
	--oasis-syntax-special: #8c490f;
	--oasis-syntax-statement: #74671c;
	--oasis-syntax-string: #9e1116;
	--oasis-syntax-type: #376961;
	--oasis-syntax-typedef: #2d5651;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #145ca2;
	--oasis-terminal-bright-black: #4c433b;
	--oasis-terminal-bright-blue: #23617a;
	--oasis-terminal-bright-cyan: #32635c;
	--oasis-terminal-bright-green: #36652f;
	--oasis-terminal-bright-magenta: #7725db;
	--oasis-terminal-bright-red: #b61212;
	--oasis-terminal-bright-white: #47470f;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #b61212;
	--oasis-terminal-color10: #36652f;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617a;
	--oasis-terminal-color13: #7725db;
	--oasis-terminal-color14: #32635c;
	--oasis-terminal-color15: #47470f;
	--oasis-terminal-color2: #396535;
	--oasis-terminal-color3: #635c21;
	--oasis-terminal-color4: #145ca2;
	--oasis-terminal-color5: #7824db;
	--oasis-terminal-color6: #32635d;
	--oasis-terminal-color7: #464621;
	--oasis-terminal-color8: #4c433b;
	--oasis-terminal-color9: #b61212;
	--oasis-terminal-cyan: #32635d;
	--oasis-terminal-green: #396535;
	--oasis-terminal-magenta: #7824db;
	--oasis-terminal-red: #b61212;
	--oasis-terminal-white: #464621;
	--oasis-terminal-yellow: #635c21;
	--oasis-theme-accent: #31732b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #8a1919;
	--oasis-theme-primary: #685f10;
	--oasis-theme-primary-light: #60570e;
	--oasis-theme-primary-strong: #7f7a3b;
	--oasis-theme-secondary: #750202;
	--oasis-theme-secondary-light: #6b0202;
	--oasis-theme-secondary-strong: #8c2e2e;
	--oasis-theme-title: #702424;
	--oasis-ui-border: #655f2d;
	--oasis-ui-cursor-line: #eee6bd;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2c596b;
	--oasis-ui-float-bg: #eee6bd;
	--oasis-ui-float-border-bg: #eee6bd;
	--oasis-ui-float-border-fg: #655f2d;
	--oasis-ui-float-fg: #852020;
	--oasis-ui-float-title: #852020;
	--oasis-ui-line-number: #995d25;
	--oasis-ui-match-bg: #b9d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-match-parent-bg: #e7db9e;
	--oasis-ui-match-parent-fg: #a35454;
	--oasis-ui-nontext: #707f87;
	--oasis-ui-picker-bg: #eee6bd;
	--oasis-ui-picker-border-bg: #eee6bd;
	--oasis-ui-picker-border-fg: #625f43;
	--oasis-ui-picker-fg: #545026;
	--oasis-ui-picker-title: #545026;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #655f2d;
	--oasis-ui-visual-bg: #e7db9e;
	--oasis-ui-visual-fg: none;
}