/* extras/css/themes/light/3/oasis_abyss_light_3.css
 * name: Oasis Abyss Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="abyss_light_3"],
.oasis-abyss_light_3 {
	--oasis-name: "Oasis Abyss Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e5d4;
	--oasis-bg-mantle: #f5ddc7;
	--oasis-bg-shadow: #f2d5ba;
	--oasis-bg-surface: #f0cead;
	--oasis-diff-add: #2d5441;
	--oasis-diff-change: #4c4c4c;
	--oasis-diff-delete: #703e3e;
	--oasis-diff-text: #6b422b;
	--oasis-fg-comment: #737168;
	--oasis-fg-core: #524b43;
	--oasis-fg-dim: #79888c;
	--oasis-fg-muted: #6b6960;
	--oasis-fg-strong: #6f402f;
	--oasis-git-add: #205718;
	--oasis-git-change: #544d0b;
	--oasis-git-delete: #9d0000;
	--oasis-syntax-bracket: #636975;
	--oasis-syntax-builtinConst: #4d46c0;
	--oasis-syntax-builtinFunc: #7f4c0e;
	--oasis-syntax-builtinVar: #7600e9;
	--oasis-syntax-comment: #6c695d;
	--oasis-syntax-conditional: #57542f;
	--oasis-syntax-constant: #3e3d3d;
	--oasis-syntax-delimiter: #5d5938;
	--oasis-syntax-exception: #b01318;
	--oasis-syntax-func: #76490d;
	--oasis-syntax-identifier: #245e77;
	--oasis-syntax-operator: #5e592b;
	--oasis-syntax-parameter: #22531e;
	--oasis-syntax-preproc: #8d422b;
	--oasis-syntax-punctuation: #5d5932;
	--oasis-syntax-regex: #8c3e58;
	--oasis-syntax-special: #88470f;
	--oasis-syntax-statement: #605928;
	--oasis-syntax-string: #a4181c;
	--oasis-syntax-type: #2f5a55;
	--oasis-terminal-black: #4c4c4c;
	--oasis-terminal-blue: #13599e;
	--oasis-terminal-bright-black: #554a42;
	--oasis-terminal-bright-blue: #225f77;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34622d;
	--oasis-terminal-bright-magenta: #7423d6;
	--oasis-terminal-bright-red: #b01212;
	--oasis-terminal-bright-white: #544c2d;
	--oasis-terminal-bright-yellow: #824a14;
	--oasis-terminal-color0: #4c4c4c;
	--oasis-terminal-color1: #b01212;
	--oasis-terminal-color10: #34622d;
	--oasis-terminal-color11: #824a14;
	--oasis-terminal-color12: #225f77;
	--oasis-terminal-color13: #7423d6;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #544c2d;
	--oasis-terminal-color2: #376233;
	--oasis-terminal-color3: #605920;
	--oasis-terminal-color4: #13599e;
	--oasis-terminal-color5: #7523d5;
	--oasis-terminal-color6: #31605b;
	--oasis-terminal-color7: #594b13;
	--oasis-terminal-color8: #554a42;
	--oasis-terminal-color9: #b01212;
	--oasis-terminal-cyan: #31605b;
	--oasis-terminal-green: #376233;
	--oasis-terminal-magenta: #7523d5;
	--oasis-terminal-red: #b01212;
	--oasis-terminal-white: #594b13;
	--oasis-terminal-yellow: #605920;
	--oasis-theme-accent: #31732b;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #6b6110;
	--oasis-theme-primary: #817613;
	--oasis-theme-secondary: #9b0303;
	--oasis-theme-secondary-light: #780202;
	--oasis-theme-secondary-strong: #8e1f1f;
	--oasis-theme-strong-primary: #777237;
	--oasis-ui-border: #902323;
	--oasis-ui-cursorLine: #f5ddc7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #285162;
	--oasis-ui-float-bg: #f5ddc7;
	--oasis-ui-float-border-bg: #f5ddc7;
	--oasis-ui-float-border-fg: #902323;
	--oasis-ui-float-fg: #902323;
	--oasis-ui-float-title: #902323;
	--oasis-ui-lineNumber: #6d421a;
	--oasis-ui-match-bg: #7ad1a1;
	--oasis-ui-match-fg: #0d311d;
	--oasis-ui-matchParen-bg: #f0cead;
	--oasis-ui-matchParen-fg: #504d32;
	--oasis-ui-nontext: #77888e;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #902323;
	--oasis-ui-visual-bg: #f0cead;
	--oasis-ui-visual-fg: none;
}