/* extras/css/themes/light/3/oasis_dune_light_3.css
 * name: Oasis Dune Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="dune_light_3"],
.oasis-dune_light_3 {
	--oasis-name: "Oasis Dune Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e9d4;
	--oasis-bg-mantle: #f5e2c7;
	--oasis-bg-shadow: #f2dcba;
	--oasis-bg-surface: #f0d5ad;
	--oasis-diff-add: #2e5542;
	--oasis-diff-change: #574c40;
	--oasis-diff-delete: #723f3f;
	--oasis-diff-text: #6d442c;
	--oasis-fg-comment: #7b7168;
	--oasis-fg-core: #504e45;
	--oasis-fg-dim: #878787;
	--oasis-fg-muted: #726960;
	--oasis-fg-strong: #504f35;
	--oasis-git-add: #215919;
	--oasis-git-change: #564e0b;
	--oasis-git-delete: #a00000;
	--oasis-syntax-bracket: #656a77;
	--oasis-syntax-builtinConst: #4e49bf;
	--oasis-syntax-builtinFunc: #7e5017;
	--oasis-syntax-builtinVar: #7a00ec;
	--oasis-syntax-comment: #76685f;
	--oasis-syntax-conditional: #595630;
	--oasis-syntax-constant: #403f3f;
	--oasis-syntax-delimiter: #5e5b39;
	--oasis-syntax-exception: #b31419;
	--oasis-syntax-func: #6d4e28;
	--oasis-syntax-identifier: #246079;
	--oasis-syntax-operator: #625a28;
	--oasis-syntax-parameter: #23551e;
	--oasis-syntax-preproc: #a0351b;
	--oasis-syntax-punctuation: #605b2c;
	--oasis-syntax-regex: #923d58;
	--oasis-syntax-special: #8a480f;
	--oasis-syntax-statement: #655a18;
	--oasis-syntax-string: #a7181c;
	--oasis-syntax-type: #305c57;
	--oasis-terminal-black: #4e4e4e;
	--oasis-terminal-blue: #145ba1;
	--oasis-terminal-bright-black: #574c43;
	--oasis-terminal-bright-blue: #226079;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35642e;
	--oasis-terminal-bright-magenta: #7624da;
	--oasis-terminal-bright-red: #b41212;
	--oasis-terminal-bright-white: #564d2e;
	--oasis-terminal-bright-yellow: #844c14;
	--oasis-terminal-color0: #4e4e4e;
	--oasis-terminal-color1: #b41212;
	--oasis-terminal-color10: #35642e;
	--oasis-terminal-color11: #844c14;
	--oasis-terminal-color12: #226079;
	--oasis-terminal-color13: #7624da;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #564d2e;
	--oasis-terminal-color2: #396434;
	--oasis-terminal-color3: #625b20;
	--oasis-terminal-color4: #145ba1;
	--oasis-terminal-color5: #7723d9;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #5b4d13;
	--oasis-terminal-color8: #574c43;
	--oasis-terminal-color9: #b41212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #396434;
	--oasis-terminal-magenta: #7723d9;
	--oasis-terminal-red: #b41212;
	--oasis-terminal-white: #5b4d13;
	--oasis-terminal-yellow: #625b20;
	--oasis-theme-accent: #48039b;
	--oasis-theme-label: #31726a;
	--oasis-theme-light-primary: #6c610f;
	--oasis-theme-primary: #6f6825;
	--oasis-theme-secondary: #2f6f65;
	--oasis-theme-strong-primary: #777237;
	--oasis-ui-border: #504e37;
	--oasis-ui-cursorLine: #f5e2c7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #295364;
	--oasis-ui-float-bg: #f5e2c7;
	--oasis-ui-float-border-bg: #f5e2c7;
	--oasis-ui-float-border-fg: #504e37;
	--oasis-ui-float-fg: #524f30;
	--oasis-ui-float-title: #524f30;
	--oasis-ui-lineNumber: #6f431b;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #f0d5ad;
	--oasis-ui-matchParen-fg: #335350;
	--oasis-ui-nontext: #878787;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #524f30;
	--oasis-ui-visual-bg: #f0d5ad;
	--oasis-ui-visual-fg: none;
}