/* extras/css/themes/light/3/oasis_lagoon_light_3.css
 * name: Oasis Lagoon Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="lagoon_light_3"],
.oasis-lagoon_light_3 {
	--oasis-name: "Oasis Lagoon Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #d9e5f7;
	--oasis-bg-mantle: #ccdcf4;
	--oasis-bg-shadow: #c0d4f2;
	--oasis-bg-surface: #b3cbef;
	--oasis-diff-add: #2b513f;
	--oasis-diff-change: #2d4a79;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #5d717c;
	--oasis-fg-core: #0e131b;
	--oasis-fg-dim: #8c8078;
	--oasis-fg-muted: #556975;
	--oasis-fg-strong: #2f3b46;
	--oasis-git-add: #1f5417;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #990000;
	--oasis-syntax-bracket: #43474f;
	--oasis-syntax-builtinConst: #5853c3;
	--oasis-syntax-builtinFunc: #734e20;
	--oasis-syntax-builtinVar: #771ece;
	--oasis-syntax-comment: #4e6a7d;
	--oasis-syntax-conditional: #125895;
	--oasis-syntax-constant: #984e11;
	--oasis-syntax-delimiter: #246aa5;
	--oasis-syntax-exception: #ac1318;
	--oasis-syntax-func: #604420;
	--oasis-syntax-identifier: #25627c;
	--oasis-syntax-macro: #4e4b2a;
	--oasis-syntax-operator: #1254a4;
	--oasis-syntax-parameter: #356731;
	--oasis-syntax-preproc: #5d5627;
	--oasis-syntax-punctuation: #0f498e;
	--oasis-syntax-regex: #9f4865;
	--oasis-syntax-special: #84450e;
	--oasis-syntax-statement: #1464aa;
	--oasis-syntax-string: #951015;
	--oasis-syntax-type: #34645c;
	--oasis-syntax-typedef: #2a504c;
	--oasis-terminal-black: #4a4a4a;
	--oasis-terminal-blue: #13579a;
	--oasis-terminal-bright-black: #524840;
	--oasis-terminal-bright-blue: #215c73;
	--oasis-terminal-bright-cyan: #305e57;
	--oasis-terminal-bright-green: #33602c;
	--oasis-terminal-bright-magenta: #7122d1;
	--oasis-terminal-bright-red: #ac1111;
	--oasis-terminal-bright-white: #52492c;
	--oasis-terminal-bright-yellow: #7f4813;
	--oasis-terminal-color0: #4a4a4a;
	--oasis-terminal-color1: #ac1111;
	--oasis-terminal-color10: #33602c;
	--oasis-terminal-color11: #7f4813;
	--oasis-terminal-color12: #215c73;
	--oasis-terminal-color13: #7122d1;
	--oasis-terminal-color14: #305e57;
	--oasis-terminal-color15: #52492c;
	--oasis-terminal-color2: #365f32;
	--oasis-terminal-color3: #5d571f;
	--oasis-terminal-color4: #13579a;
	--oasis-terminal-color5: #7222cf;
	--oasis-terminal-color6: #2f5d58;
	--oasis-terminal-color7: #564912;
	--oasis-terminal-color8: #524840;
	--oasis-terminal-color9: #ac1111;
	--oasis-terminal-cyan: #2f5d58;
	--oasis-terminal-green: #365f32;
	--oasis-terminal-magenta: #7222cf;
	--oasis-terminal-red: #ac1111;
	--oasis-terminal-white: #564912;
	--oasis-terminal-yellow: #5d571f;
	--oasis-theme-accent: #9b0303;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #033e6a;
	--oasis-theme-primary: #044574;
	--oasis-theme-secondary: #703c08;
	--oasis-theme-strong-primary: #186aa2;
	--oasis-ui-border: #1e4e6f;
	--oasis-ui-cursorLine: #ccdcf4;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1f3d4a;
	--oasis-ui-float-bg: #ccdcf4;
	--oasis-ui-float-border-bg: #ccdcf4;
	--oasis-ui-float-border-fg: #296b99;
	--oasis-ui-float-fg: #66421d;
	--oasis-ui-float-title: #66421d;
	--oasis-ui-lineNumber: #925923;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #b3cbef;
	--oasis-ui-matchParen-fg: #a15e2c;
	--oasis-ui-nontext: #82756b;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #1e4d70;
	--oasis-ui-visual-bg: #b3cbef;
	--oasis-ui-visual-fg: none;
}