/* extras/css/themes/light/3/oasis_canyon_light_3.css
 * name: Oasis Canyon Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="canyon_light_3"],
.oasis-canyon_light_3 {
	--oasis-name: "Oasis Canyon Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #eed3bd;
	--oasis-bg-mantle: #e9c7ab;
	--oasis-bg-shadow: #ebcbb1;
	--oasis-bg-surface: #e1b38c;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #66473a;
	--oasis-diff-delete: #734040;
	--oasis-diff-text: #6e442c;
	--oasis-fg-comment: #776258;
	--oasis-fg-core: #1a150e;
	--oasis-fg-dim: #827872;
	--oasis-fg-muted: #6d5b52;
	--oasis-fg-strong: #442d1d;
	--oasis-git-add: #215a19;
	--oasis-git-change: #744211;
	--oasis-git-delete: #a20000;
	--oasis-syntax-bracket: #3c4047;
	--oasis-syntax-builtinConst: #4f4ac0;
	--oasis-syntax-builtinFunc: #574f1c;
	--oasis-syntax-builtinVar: #6d1bbb;
	--oasis-syntax-comment: #77584a;
	--oasis-syntax-conditional: #764112;
	--oasis-syntax-constant: #8c480f;
	--oasis-syntax-delimiter: #8c4f1d;
	--oasis-syntax-exception: #9d1116;
	--oasis-syntax-func: #494319;
	--oasis-syntax-identifier: #225a72;
	--oasis-syntax-macro: #583e0a;
	--oasis-syntax-operator: #754112;
	--oasis-syntax-parameter: #305e2d;
	--oasis-syntax-preproc: #66490b;
	--oasis-syntax-punctuation: #643710;
	--oasis-syntax-regex: #93435d;
	--oasis-syntax-special: #554f23;
	--oasis-syntax-statement: #874b15;
	--oasis-syntax-string: #860f13;
	--oasis-syntax-type: #305b56;
	--oasis-syntax-typedef: #264844;
	--oasis-terminal-black: #383838;
	--oasis-terminal-blue: #114f8d;
	--oasis-terminal-bright-black: #3e3731;
	--oasis-terminal-bright-blue: #1e5469;
	--oasis-terminal-bright-cyan: #2b554f;
	--oasis-terminal-bright-green: #2f5828;
	--oasis-terminal-bright-magenta: #671fbf;
	--oasis-terminal-bright-red: #9e1010;
	--oasis-terminal-bright-white: #3e3821;
	--oasis-terminal-bright-yellow: #744211;
	--oasis-terminal-color0: #383838;
	--oasis-terminal-color1: #9e1010;
	--oasis-terminal-color10: #2f5828;
	--oasis-terminal-color11: #744211;
	--oasis-terminal-color12: #1e5469;
	--oasis-terminal-color13: #671fbf;
	--oasis-terminal-color14: #2b554f;
	--oasis-terminal-color15: #3e3821;
	--oasis-terminal-color2: #31572e;
	--oasis-terminal-color3: #554f1c;
	--oasis-terminal-color4: #114f8d;
	--oasis-terminal-color5: #681fbe;
	--oasis-terminal-color6: #2b5551;
	--oasis-terminal-color7: #42370e;
	--oasis-terminal-color8: #3e3731;
	--oasis-terminal-color9: #9e1010;
	--oasis-terminal-cyan: #2b5551;
	--oasis-terminal-green: #31572e;
	--oasis-terminal-magenta: #681fbe;
	--oasis-terminal-red: #9e1010;
	--oasis-terminal-white: #42370e;
	--oasis-terminal-yellow: #554f1c;
	--oasis-theme-accent: #9b0303;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #674207;
	--oasis-theme-primary: #703c08;
	--oasis-theme-secondary: #034374;
	--oasis-theme-strong-primary: #9c5b1e;
	--oasis-ui-border: #75471c;
	--oasis-ui-cursorLine: #e9c7ab;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #264c5b;
	--oasis-ui-float-bg: #e9c7ab;
	--oasis-ui-float-border-bg: #e9c7ab;
	--oasis-ui-float-border-fg: #75471c;
	--oasis-ui-float-fg: #183c58;
	--oasis-ui-float-title: #183c58;
	--oasis-ui-lineNumber: #735b27;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #e1b38c;
	--oasis-ui-matchParen-fg: #27638f;
	--oasis-ui-nontext: #796d66;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #74471c;
	--oasis-ui-visual-bg: #e1b38c;
	--oasis-ui-visual-fg: none;
}