/* extras/css/themes/light/3/oasis_sol_light_3.css
 * name: Oasis Sol Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="sol_light_3"],
.oasis-sol_light_3 {
	--oasis-name: "Oasis Sol Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7d4d4;
	--oasis-bg-mantle: #f5c7c7;
	--oasis-bg-shadow: #f2baba;
	--oasis-bg-surface: #f0adad;
	--oasis-diff-add: #294c3b;
	--oasis-diff-change: #623b34;
	--oasis-diff-delete: #663838;
	--oasis-diff-text: #613c27;
	--oasis-fg-comment: #776563;
	--oasis-fg-core: #6a372d;
	--oasis-fg-dim: #7d7d7d;
	--oasis-fg-muted: #6d5e5c;
	--oasis-fg-strong: #6b362d;
	--oasis-git-add: #1d4f16;
	--oasis-git-change: #4c460a;
	--oasis-git-delete: #900000;
	--oasis-syntax-bracket: #5c616d;
	--oasis-syntax-builtinConst: #453fb6;
	--oasis-syntax-builtinFunc: #724814;
	--oasis-syntax-builtinVar: #6f00d6;
	--oasis-syntax-comment: #735c5a;
	--oasis-syntax-conditional: #981115;
	--oasis-syntax-constant: #373636;
	--oasis-syntax-delimiter: #9b2025;
	--oasis-syntax-exception: #6b4b0c;
	--oasis-syntax-func: #674519;
	--oasis-syntax-identifier: #21576e;
	--oasis-syntax-operator: #9d1e23;
	--oasis-syntax-parameter: #1f4c1b;
	--oasis-syntax-preproc: #585224;
	--oasis-syntax-punctuation: #9e1c1f;
	--oasis-syntax-regex: #5f4f24;
	--oasis-syntax-special: #7d420e;
	--oasis-syntax-statement: #9b2225;
	--oasis-syntax-string: #704016;
	--oasis-syntax-type: #2b524e;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #125291;
	--oasis-terminal-bright-black: #4d433c;
	--oasis-terminal-bright-blue: #1f576d;
	--oasis-terminal-bright-cyan: #2d5852;
	--oasis-terminal-bright-green: #305b2a;
	--oasis-terminal-bright-magenta: #6b20c6;
	--oasis-terminal-bright-red: #a31010;
	--oasis-terminal-bright-white: #4c4529;
	--oasis-terminal-bright-yellow: #784412;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #a31010;
	--oasis-terminal-color10: #305b2a;
	--oasis-terminal-color11: #784412;
	--oasis-terminal-color12: #1f576d;
	--oasis-terminal-color13: #6b20c6;
	--oasis-terminal-color14: #2d5852;
	--oasis-terminal-color15: #4c4529;
	--oasis-terminal-color2: #335a2f;
	--oasis-terminal-color3: #58521d;
	--oasis-terminal-color4: #125291;
	--oasis-terminal-color5: #6c20c4;
	--oasis-terminal-color6: #2d5853;
	--oasis-terminal-color7: #514411;
	--oasis-terminal-color8: #4d433c;
	--oasis-terminal-color9: #a31010;
	--oasis-terminal-cyan: #2d5853;
	--oasis-terminal-green: #335a2f;
	--oasis-terminal-magenta: #6c20c4;
	--oasis-terminal-red: #a31010;
	--oasis-terminal-white: #514411;
	--oasis-terminal-yellow: #58521d;
	--oasis-theme-accent: #31732b;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #732508;
	--oasis-theme-primary: #89280b;
	--oasis-theme-secondary: #944f0a;
	--oasis-theme-strong-primary: #83422a;
	--oasis-ui-border: #832020;
	--oasis-ui-cursorLine: #f5c7c7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #254a59;
	--oasis-ui-float-bg: #f5c7c7;
	--oasis-ui-float-border-bg: #f5c7c7;
	--oasis-ui-float-border-fg: #832020;
	--oasis-ui-float-fg: #832020;
	--oasis-ui-float-title: #832020;
	--oasis-ui-lineNumber: #633c18;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #f0adad;
	--oasis-ui-matchParen-fg: #48462b;
	--oasis-ui-nontext: #7d7d7d;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #832020;
	--oasis-ui-visual-bg: #f0adad;
	--oasis-ui-visual-fg: none;
}