/* extras/css/themes/light/3/oasis_twilight_light_3.css
 * name: Oasis Twilight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="twilight_light_3"],
.oasis-twilight_light_3 {
	--oasis-name: "Oasis Twilight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f5d3c7;
	--oasis-bg-mantle: #f2c9ba;
	--oasis-bg-shadow: #f0bead;
	--oasis-bg-surface: #edb4a0;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #533969;
	--oasis-diff-delete: #643737;
	--oasis-diff-text: #5f3b26;
	--oasis-fg-comment: #6b657b;
	--oasis-fg-core: #4d3f51;
	--oasis-fg-dim: #847a73;
	--oasis-fg-muted: #625d6f;
	--oasis-fg-strong: #523773;
	--oasis-git-add: #1c4e16;
	--oasis-git-change: #4b440a;
	--oasis-git-delete: #8e0000;
	--oasis-syntax-bracket: #5b606c;
	--oasis-syntax-builtinConst: #443db5;
	--oasis-syntax-builtinFunc: #5a5015;
	--oasis-syntax-builtinVar: #6d00d3;
	--oasis-syntax-comment: #645c77;
	--oasis-syntax-conditional: #713e11;
	--oasis-syntax-constant: #363535;
	--oasis-syntax-delimiter: #704537;
	--oasis-syntax-exception: #a01116;
	--oasis-syntax-func: #544b14;
	--oasis-syntax-identifier: #20566b;
	--oasis-syntax-operator: #754412;
	--oasis-syntax-parameter: #1f4a1a;
	--oasis-syntax-preproc: #684a0b;
	--oasis-syntax-punctuation: #774312;
	--oasis-syntax-regex: #7c3b50;
	--oasis-syntax-special: #7b400d;
	--oasis-syntax-statement: #774312;
	--oasis-syntax-string: #941519;
	--oasis-syntax-type: #2b514d;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #11518f;
	--oasis-terminal-bright-black: #4b423b;
	--oasis-terminal-bright-blue: #1f566b;
	--oasis-terminal-bright-cyan: #2c5751;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #6920c3;
	--oasis-terminal-bright-red: #a11010;
	--oasis-terminal-bright-white: #4b4328;
	--oasis-terminal-bright-yellow: #764312;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #a11010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #764312;
	--oasis-terminal-color12: #1f566b;
	--oasis-terminal-color13: #6920c3;
	--oasis-terminal-color14: #2c5751;
	--oasis-terminal-color15: #4b4328;
	--oasis-terminal-color2: #32582e;
	--oasis-terminal-color3: #57511d;
	--oasis-terminal-color4: #11518f;
	--oasis-terminal-color5: #6a1fc1;
	--oasis-terminal-color6: #2c5752;
	--oasis-terminal-color7: #504311;
	--oasis-terminal-color8: #4b423b;
	--oasis-terminal-color9: #a11010;
	--oasis-terminal-cyan: #2c5752;
	--oasis-terminal-green: #32582e;
	--oasis-terminal-magenta: #6a1fc1;
	--oasis-terminal-red: #a11010;
	--oasis-terminal-white: #504311;
	--oasis-terminal-yellow: #57511d;
	--oasis-theme-accent: #897e15;
	--oasis-theme-label: #77712c;
	--oasis-theme-light-primary: #732508;
	--oasis-theme-primary: #89280b;
	--oasis-theme-secondary: #48039b;
	--oasis-theme-strong-primary: #8e3d1f;
	--oasis-ui-border: #6e3320;
	--oasis-ui-cursorLine: #f2c9ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244857;
	--oasis-ui-float-bg: #f2c9ba;
	--oasis-ui-float-border-bg: #f2c9ba;
	--oasis-ui-float-border-fg: #6e3320;
	--oasis-ui-float-fg: #6e3320;
	--oasis-ui-float-title: #6e3320;
	--oasis-ui-lineNumber: #613b18;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #edb4a0;
	--oasis-ui-matchParen-fg: #47452a;
	--oasis-ui-nontext: #857a71;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #6e3320;
	--oasis-ui-visual-bg: #edb4a0;
	--oasis-ui-visual-fg: none;
}