/* extras/css/themes/light/3/oasis_moonlight_light_3.css
 * name: Oasis Moonlight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="moonlight_light_3"],
.oasis-moonlight_light_3 {
	--oasis-name: "Oasis Moonlight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f1ebd5;
	--oasis-bg-mantle: #eee6c9;
	--oasis-bg-shadow: #eae0bd;
	--oasis-bg-surface: #e6dbb2;
	--oasis-diff-add: #2e5542;
	--oasis-diff-change: #3b4f6c;
	--oasis-diff-delete: #723f3f;
	--oasis-diff-text: #6d442c;
	--oasis-fg-comment: #6b737e;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #82888f;
	--oasis-fg-muted: #626c74;
	--oasis-fg-strong: #283e5f;
	--oasis-git-add: #215919;
	--oasis-git-change: #564f0b;
	--oasis-git-delete: #a10000;
	--oasis-syntax-bracket: #474b54;
	--oasis-syntax-builtinConst: #5e57c6;
	--oasis-syntax-builtinFunc: #795222;
	--oasis-syntax-builtinVar: #7c1fd7;
	--oasis-syntax-comment: #606b7f;
	--oasis-syntax-conditional: #5f5b33;
	--oasis-syntax-constant: #9f5211;
	--oasis-syntax-delimiter: #346f9f;
	--oasis-syntax-exception: #b31419;
	--oasis-syntax-func: #614a2c;
	--oasis-syntax-identifier: #276681;
	--oasis-syntax-macro: #753f2f;
	--oasis-syntax-operator: #605b2c;
	--oasis-syntax-parameter: #376b33;
	--oasis-syntax-preproc: #a0351b;
	--oasis-syntax-punctuation: #524f2c;
	--oasis-syntax-regex: #ad4566;
	--oasis-syntax-special: #8a490f;
	--oasis-syntax-statement: #73661c;
	--oasis-syntax-string: #9c1116;
	--oasis-syntax-type: #366861;
	--oasis-syntax-typedef: #2c5450;
	--oasis-terminal-black: #364f74;
	--oasis-terminal-blue: #145ba1;
	--oasis-terminal-bright-black: #414f5b;
	--oasis-terminal-bright-blue: #226079;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35642e;
	--oasis-terminal-bright-magenta: #7624da;
	--oasis-terminal-bright-red: #b41212;
	--oasis-terminal-bright-white: #564e2e;
	--oasis-terminal-bright-yellow: #854c14;
	--oasis-terminal-color0: #364f74;
	--oasis-terminal-color1: #b41212;
	--oasis-terminal-color10: #35642e;
	--oasis-terminal-color11: #854c14;
	--oasis-terminal-color12: #226079;
	--oasis-terminal-color13: #7624da;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #564e2e;
	--oasis-terminal-color2: #396434;
	--oasis-terminal-color3: #625b20;
	--oasis-terminal-color4: #145ba1;
	--oasis-terminal-color5: #7723d9;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #5b4d13;
	--oasis-terminal-color8: #414f5b;
	--oasis-terminal-color9: #b41212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #396434;
	--oasis-terminal-magenta: #7723d9;
	--oasis-terminal-red: #b41212;
	--oasis-terminal-white: #5b4d13;
	--oasis-terminal-yellow: #625b20;
	--oasis-theme-accent: #9b0303;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #21384c;
	--oasis-theme-primary: #253b53;
	--oasis-theme-secondary: #685f10;
	--oasis-theme-strong-primary: #395c82;
	--oasis-ui-border: #3c5063;
	--oasis-ui-cursorLine: #eee6c9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #21424f;
	--oasis-ui-float-bg: #eee6c9;
	--oasis-ui-float-border-bg: #eee6c9;
	--oasis-ui-float-border-fg: #536d87;
	--oasis-ui-float-fg: #534f26;
	--oasis-ui-float-title: #534f26;
	--oasis-ui-lineNumber: #985c25;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #e6dbb2;
	--oasis-ui-matchParen-fg: #78744b;
	--oasis-ui-nontext: #747d88;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3c5063;
	--oasis-ui-visual-bg: #e6dbb2;
	--oasis-ui-visual-fg: none;
}