/* extras/css/themes/light/3/oasis_starlight_light_3.css
 * name: Oasis Starlight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="starlight_light_3"],
.oasis-starlight_light_3 {
	--oasis-name: "Oasis Starlight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f4eddd;
	--oasis-bg-mantle: #f0e7d1;
	--oasis-bg-shadow: #ede1c6;
	--oasis-bg-surface: #e9dbba;
	--oasis-diff-add: #2f5744;
	--oasis-diff-change: #4f4f4f;
	--oasis-diff-delete: #754141;
	--oasis-diff-text: #6f452c;
	--oasis-fg-comment: #6a7681;
	--oasis-fg-core: #564f3e;
	--oasis-fg-dim: #978680;
	--oasis-fg-muted: #656d76;
	--oasis-fg-strong: #524f49;
	--oasis-git-add: #1f5b0f;
	--oasis-git-change: #58500b;
	--oasis-git-delete: #a40000;
	--oasis-syntax-bracket: #6c6a81;
	--oasis-syntax-builtinConst: #565b67;
	--oasis-syntax-builtinFunc: #914610;
	--oasis-syntax-builtinVar: #5b5b5a;
	--oasis-syntax-comment: #5f6d81;
	--oasis-syntax-conditional: #125895;
	--oasis-syntax-constant: #41413f;
	--oasis-syntax-delimiter: #205e93;
	--oasis-syntax-exception: #b61419;
	--oasis-syntax-func: #84460e;
	--oasis-syntax-identifier: #34645c;
	--oasis-syntax-operator: #b61419;
	--oasis-syntax-parameter: #6800cd;
	--oasis-syntax-preproc: #22627b;
	--oasis-syntax-punctuation: #b61419;
	--oasis-syntax-regex: #2f671f;
	--oasis-syntax-special: #8d4a0f;
	--oasis-syntax-statement: #135d9e;
	--oasis-syntax-string: #256042;
	--oasis-syntax-type: #315d58;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #145ca4;
	--oasis-terminal-bright-black: #554e48;
	--oasis-terminal-bright-blue: #23627b;
	--oasis-terminal-bright-cyan: #33645d;
	--oasis-terminal-bright-green: #336725;
	--oasis-terminal-bright-magenta: #7826dc;
	--oasis-terminal-bright-red: #b71212;
	--oasis-terminal-bright-white: #74440b;
	--oasis-terminal-bright-yellow: #874d14;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #b71212;
	--oasis-terminal-color10: #336725;
	--oasis-terminal-color11: #874d14;
	--oasis-terminal-color12: #23627b;
	--oasis-terminal-color13: #7826dc;
	--oasis-terminal-color14: #33645d;
	--oasis-terminal-color15: #74440b;
	--oasis-terminal-color2: #2e6648;
	--oasis-terminal-color3: #645d21;
	--oasis-terminal-color4: #145ca4;
	--oasis-terminal-color5: #7924dc;
	--oasis-terminal-color6: #33635e;
	--oasis-terminal-color7: #524f47;
	--oasis-terminal-color8: #554e48;
	--oasis-terminal-color9: #b71212;
	--oasis-terminal-cyan: #33635e;
	--oasis-terminal-green: #2e6648;
	--oasis-terminal-magenta: #7924dc;
	--oasis-terminal-red: #b71212;
	--oasis-terminal-white: #524f47;
	--oasis-terminal-yellow: #645d21;
	--oasis-theme-accent: #944f0a;
	--oasis-theme-light-primary: #134f67;
	--oasis-theme-primary: #05558f;
	--oasis-theme-secondary: #897e15;
	--oasis-theme-strong-primary: #0565a8;
	--oasis-ui-border: #205377;
	--oasis-ui-cursorLine: #f0e7d1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2a5466;
	--oasis-ui-float-bg: #f0e7d1;
	--oasis-ui-float-border-bg: #f0e7d1;
	--oasis-ui-float-border-fg: #205377;
	--oasis-ui-float-fg: #205378;
	--oasis-ui-float-title: #205378;
	--oasis-ui-lineNumber: #71451b;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-nontext: #98857e;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #205378;
	--oasis-ui-visual-bg: #e9dbba;
	--oasis-ui-visual-fg: none;
}