/* extras/css/themes/light/3/oasis_scorpion_light_3.css
 * name: Oasis Scorpion Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="scorpion_light_3"],
.oasis-scorpion_light_3 {
	--oasis-name: "Oasis Scorpion Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e3d4;
	--oasis-bg-mantle: #f5dbc7;
	--oasis-bg-shadow: #f2d2ba;
	--oasis-bg-surface: #f0caad;
	--oasis-diff-add: #2c5340;
	--oasis-diff-change: #703e30;
	--oasis-diff-delete: #6f3d3d;
	--oasis-diff-text: #6a422a;
	--oasis-fg-comment: #7d6c67;
	--oasis-fg-core: #191210;
	--oasis-fg-dim: #8d827f;
	--oasis-fg-muted: #746562;
	--oasis-fg-strong: #593026;
	--oasis-git-add: #205618;
	--oasis-git-change: #534c0b;
	--oasis-git-delete: #9c0000;
	--oasis-syntax-bracket: #454951;
	--oasis-syntax-builtinConst: #5a54c5;
	--oasis-syntax-builtinFunc: #754f21;
	--oasis-syntax-builtinVar: #781ed1;
	--oasis-syntax-comment: #7d625c;
	--oasis-syntax-conditional: #5c5931;
	--oasis-syntax-constant: #9a4f11;
	--oasis-syntax-delimiter: #925947;
	--oasis-syntax-exception: #ae1318;
	--oasis-syntax-func: #5e472a;
	--oasis-syntax-identifier: #26637e;
	--oasis-syntax-macro: #713d2d;
	--oasis-syntax-operator: #5d582a;
	--oasis-syntax-parameter: #366831;
	--oasis-syntax-preproc: #8c412a;
	--oasis-syntax-punctuation: #4f4c2a;
	--oasis-syntax-regex: #a94463;
	--oasis-syntax-special: #86470f;
	--oasis-syntax-statement: #70641b;
	--oasis-syntax-string: #971015;
	--oasis-syntax-type: #356560;
	--oasis-syntax-typedef: #2c524d;
	--oasis-terminal-black: #4b4b4b;
	--oasis-terminal-blue: #13589c;
	--oasis-terminal-bright-black: #544941;
	--oasis-terminal-bright-blue: #215e75;
	--oasis-terminal-bright-cyan: #305f58;
	--oasis-terminal-bright-green: #34612d;
	--oasis-terminal-bright-magenta: #7223d4;
	--oasis-terminal-bright-red: #af1212;
	--oasis-terminal-bright-white: #534b2d;
	--oasis-terminal-bright-yellow: #814a13;
	--oasis-terminal-color0: #4b4b4b;
	--oasis-terminal-color1: #af1212;
	--oasis-terminal-color10: #34612d;
	--oasis-terminal-color11: #814a13;
	--oasis-terminal-color12: #215e75;
	--oasis-terminal-color13: #7223d4;
	--oasis-terminal-color14: #305f58;
	--oasis-terminal-color15: #534b2d;
	--oasis-terminal-color2: #376133;
	--oasis-terminal-color3: #5f581f;
	--oasis-terminal-color4: #13589c;
	--oasis-terminal-color5: #7422d3;
	--oasis-terminal-color6: #305f5a;
	--oasis-terminal-color7: #584a13;
	--oasis-terminal-color8: #544941;
	--oasis-terminal-color9: #af1212;
	--oasis-terminal-cyan: #305f5a;
	--oasis-terminal-green: #376133;
	--oasis-terminal-magenta: #7422d3;
	--oasis-terminal-red: #af1212;
	--oasis-terminal-white: #584a13;
	--oasis-terminal-yellow: #5f581f;
	--oasis-theme-accent: #31732b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #863a1e;
	--oasis-theme-light-primary: #60570e;
	--oasis-theme-primary: #685f10;
	--oasis-theme-secondary: #6f2009;
	--oasis-theme-secondary-light: #672107;
	--oasis-theme-secondary-strong: #8d472d;
	--oasis-theme-status: #922b0c;
	--oasis-theme-strong-primary: #878133;
	--oasis-ui-border: #684235;
	--oasis-ui-cursorLine: #f5dbc7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1f3f4c;
	--oasis-ui-float-bg: #f5dbc7;
	--oasis-ui-float-border-bg: #f5dbc7;
	--oasis-ui-float-border-fg: #8f5b49;
	--oasis-ui-float-fg: #514c24;
	--oasis-ui-float-title: #514c24;
	--oasis-ui-lineNumber: #945a24;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #f0caad;
	--oasis-ui-matchParen-fg: #757149;
	--oasis-ui-nontext: #877670;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #7a3824;
	--oasis-ui-visual-bg: #f0caad;
	--oasis-ui-visual-fg: none;
}