/* extras/css/themes/light/3/oasis_scorpion_light_3.css
 * name: Oasis Scorpion Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="scorpion_light_3"],
.oasis-scorpion_light_3 {
	--oasis-name: "Oasis Scorpion Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f4cfc3;
	--oasis-bg-mantle: #efbaa9;
	--oasis-bg-shadow: #f2c5b6;
	--oasis-bg-surface: #edb09c;
	--oasis-diff-add: #2e5542;
	--oasis-diff-change: #744032;
	--oasis-diff-delete: #723f3f;
	--oasis-diff-text: #6d442c;
	--oasis-fg-comment: #72635e;
	--oasis-fg-core: #191210;
	--oasis-fg-dim: #827774;
	--oasis-fg-muted: #695b58;
	--oasis-fg-strong: #4a2820;
	--oasis-git-add: #215919;
	--oasis-git-change: #734211;
	--oasis-git-delete: #a10000;
	--oasis-syntax-bracket: #3c3f47;
	--oasis-syntax-builtinConst: #4f48c1;
	--oasis-syntax-builtinFunc: #69471d;
	--oasis-syntax-builtinVar: #6c1bbb;
	--oasis-syntax-comment: #715954;
	--oasis-syntax-conditional: #524f2c;
	--oasis-syntax-constant: #8c480f;
	--oasis-syntax-delimiter: #855141;
	--oasis-syntax-exception: #9c1116;
	--oasis-syntax-func: #523e25;
	--oasis-syntax-identifier: #225971;
	--oasis-syntax-macro: #633528;
	--oasis-syntax-operator: #534f26;
	--oasis-syntax-parameter: #305d2c;
	--oasis-syntax-preproc: #7d3a26;
	--oasis-syntax-punctuation: #454325;
	--oasis-syntax-regex: #993d5a;
	--oasis-syntax-special: #783f0d;
	--oasis-syntax-statement: #655a18;
	--oasis-syntax-string: #860f13;
	--oasis-syntax-type: #305b56;
	--oasis-syntax-typedef: #264843;
	--oasis-terminal-black: #373737;
	--oasis-terminal-blue: #114f8b;
	--oasis-terminal-bright-black: #3e3630;
	--oasis-terminal-bright-blue: #1e5469;
	--oasis-terminal-bright-cyan: #2b554f;
	--oasis-terminal-bright-green: #2e5728;
	--oasis-terminal-bright-magenta: #661fbe;
	--oasis-terminal-bright-red: #9d1010;
	--oasis-terminal-bright-white: #3d3721;
	--oasis-terminal-bright-yellow: #734211;
	--oasis-terminal-color0: #373737;
	--oasis-terminal-color1: #9d1010;
	--oasis-terminal-color10: #2e5728;
	--oasis-terminal-color11: #734211;
	--oasis-terminal-color12: #1e5469;
	--oasis-terminal-color13: #661fbe;
	--oasis-terminal-color14: #2b554f;
	--oasis-terminal-color15: #3d3721;
	--oasis-terminal-color2: #31562d;
	--oasis-terminal-color3: #554f1c;
	--oasis-terminal-color4: #114f8b;
	--oasis-terminal-color5: #681fbd;
	--oasis-terminal-color6: #2b5550;
	--oasis-terminal-color7: #41370e;
	--oasis-terminal-color8: #3e3630;
	--oasis-terminal-color9: #9d1010;
	--oasis-terminal-cyan: #2b5550;
	--oasis-terminal-green: #31562d;
	--oasis-terminal-magenta: #681fbd;
	--oasis-terminal-red: #9d1010;
	--oasis-terminal-white: #41370e;
	--oasis-terminal-yellow: #554f1c;
	--oasis-theme-accent: #31732b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #863a1e;
	--oasis-theme-light-primary: #60570e;
	--oasis-theme-primary: #685f10;
	--oasis-theme-secondary: #6f2009;
	--oasis-theme-secondary-light: #672107;
	--oasis-theme-secondary-strong: #8d472d;
	--oasis-theme-status: #922b0c;
	--oasis-theme-strong-primary: #878133;
	--oasis-ui-border: #5b3a2e;
	--oasis-ui-cursorLine: #efbaa9;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #1a343f;
	--oasis-ui-float-bg: #efbaa9;
	--oasis-ui-float-border-bg: #efbaa9;
	--oasis-ui-float-border-fg: #815242;
	--oasis-ui-float-fg: #464320;
	--oasis-ui-float-title: #464320;
	--oasis-ui-lineNumber: #865221;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #edb09c;
	--oasis-ui-matchParen-fg: #6a6743;
	--oasis-ui-nontext: #7b6c66;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #6a311f;
	--oasis-ui-visual-bg: #edb09c;
	--oasis-ui-visual-fg: none;
}