/* extras/css/themes/light/3/oasis_mirage_light_3.css
 * name: Oasis Mirage Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="mirage_light_3"],
.oasis-mirage_light_3 {
	--oasis-name: "Oasis Mirage Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #dbf5f5;
	--oasis-bg-mantle: #cff2f2;
	--oasis-bg-shadow: #c3eeee;
	--oasis-bg-surface: #b7ebeb;
	--oasis-diff-add: #2f5945;
	--oasis-diff-change: #385561;
	--oasis-diff-delete: #764242;
	--oasis-diff-text: #71462d;
	--oasis-fg-comment: #607b77;
	--oasis-fg-core: #121717;
	--oasis-fg-dim: #938983;
	--oasis-fg-muted: #627170;
	--oasis-fg-strong: #304541;
	--oasis-git-add: #225c1a;
	--oasis-git-change: #59510c;
	--oasis-git-delete: #a60000;
	--oasis-syntax-bracket: #4a4e57;
	--oasis-syntax-builtinConst: #605cc6;
	--oasis-syntax-builtinFunc: #7d5423;
	--oasis-syntax-builtinVar: #8020de;
	--oasis-syntax-comment: #47766d;
	--oasis-syntax-conditional: #33655e;
	--oasis-syntax-constant: #a35412;
	--oasis-syntax-delimiter: #447670;
	--oasis-syntax-exception: #b9141a;
	--oasis-syntax-func: #6a4b24;
	--oasis-syntax-identifier: #286985;
	--oasis-syntax-macro: #823c27;
	--oasis-syntax-operator: #32655d;
	--oasis-syntax-parameter: #396e34;
	--oasis-syntax-preproc: #a5371c;
	--oasis-syntax-punctuation: #2d5852;
	--oasis-syntax-regex: #b24768;
	--oasis-syntax-special: #8e4c0f;
	--oasis-syntax-statement: #39736a;
	--oasis-syntax-string: #a21216;
	--oasis-syntax-type: #386b65;
	--oasis-syntax-typedef: #2e5853;
	--oasis-terminal-black: #505050;
	--oasis-terminal-blue: #145ea6;
	--oasis-terminal-bright-black: #5a4f46;
	--oasis-terminal-bright-blue: #24647d;
	--oasis-terminal-bright-cyan: #33655e;
	--oasis-terminal-bright-green: #376730;
	--oasis-terminal-bright-magenta: #7929dc;
	--oasis-terminal-bright-red: #b91313;
	--oasis-terminal-bright-white: #595030;
	--oasis-terminal-bright-yellow: #894e15;
	--oasis-terminal-color0: #505050;
	--oasis-terminal-color1: #b91313;
	--oasis-terminal-color10: #376730;
	--oasis-terminal-color11: #894e15;
	--oasis-terminal-color12: #24647d;
	--oasis-terminal-color13: #7929dc;
	--oasis-terminal-color14: #33655e;
	--oasis-terminal-color15: #595030;
	--oasis-terminal-color2: #3a6736;
	--oasis-terminal-color3: #655e21;
	--oasis-terminal-color4: #145ea6;
	--oasis-terminal-color5: #7b27dc;
	--oasis-terminal-color6: #33655f;
	--oasis-terminal-color7: #5f5014;
	--oasis-terminal-color8: #5a4f46;
	--oasis-terminal-color9: #b91313;
	--oasis-terminal-cyan: #33655f;
	--oasis-terminal-green: #3a6736;
	--oasis-terminal-magenta: #7b27dc;
	--oasis-terminal-red: #b91313;
	--oasis-terminal-white: #5f5014;
	--oasis-terminal-yellow: #655e21;
	--oasis-theme-accent: #48039b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #214d46;
	--oasis-theme-primary: #24544e;
	--oasis-theme-secondary: #703c08;
	--oasis-theme-strong-primary: #388279;
	--oasis-ui-border: #355753;
	--oasis-ui-cursorLine: #cff2f2;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #224553;
	--oasis-ui-float-bg: #cff2f2;
	--oasis-ui-float-border-bg: #cff2f2;
	--oasis-ui-float-border-fg: #487671;
	--oasis-ui-float-fg: #70481f;
	--oasis-ui-float-title: #70481f;
	--oasis-ui-lineNumber: #9c5f26;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #b7ebeb;
	--oasis-ui-matchParen-fg: #ab642f;
	--oasis-ui-nontext: #897d72;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #355753;
	--oasis-ui-visual-bg: #b7ebeb;
	--oasis-ui-visual-fg: none;
}