/* extras/css/themes/light/3/oasis_cactus_light_3.css
 * name: Oasis Cactus Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="cactus_light_3"],
.oasis-cactus_light_3 {
	--oasis-name: "Oasis Cactus Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #e0f0e7;
	--oasis-bg-mantle: #d6ebdf;
	--oasis-bg-shadow: #cbe6d7;
	--oasis-bg-surface: #c1e1cf;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #425244;
	--oasis-diff-delete: #734040;
	--oasis-diff-text: #6e442c;
	--oasis-fg-comment: #657867;
	--oasis-fg-core: #405348;
	--oasis-fg-dim: #91867f;
	--oasis-fg-muted: #626e65;
	--oasis-fg-strong: #3c5441;
	--oasis-git-add: #1f5a0f;
	--oasis-git-change: #574f0b;
	--oasis-git-delete: #a20000;
	--oasis-syntax-bracket: #646b7a;
	--oasis-syntax-builtinConst: #605c35;
	--oasis-syntax-builtinFunc: #904610;
	--oasis-syntax-builtinVar: #5a5a59;
	--oasis-syntax-comment: #5a715d;
	--oasis-syntax-conditional: #385e3a;
	--oasis-syntax-constant: #414040;
	--oasis-syntax-delimiter: #426243;
	--oasis-syntax-exception: #ac2529;
	--oasis-syntax-func: #83450e;
	--oasis-syntax-identifier: #25617b;
	--oasis-syntax-operator: #b51419;
	--oasis-syntax-parameter: #6800c9;
	--oasis-syntax-preproc: #665845;
	--oasis-syntax-punctuation: #b21b21;
	--oasis-syntax-regex: #2e671e;
	--oasis-syntax-special: #b51419;
	--oasis-syntax-statement: #3a643d;
	--oasis-syntax-string: #256044;
	--oasis-syntax-type: #315d58;
	--oasis-terminal-black: #4e4e4e;
	--oasis-terminal-blue: #145ca2;
	--oasis-terminal-bright-black: #574c44;
	--oasis-terminal-bright-blue: #23617a;
	--oasis-terminal-bright-cyan: #32635c;
	--oasis-terminal-bright-green: #336625;
	--oasis-terminal-bright-magenta: #7725db;
	--oasis-terminal-bright-red: #b51212;
	--oasis-terminal-bright-white: #73430b;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #4e4e4e;
	--oasis-terminal-color1: #b51212;
	--oasis-terminal-color10: #336625;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617a;
	--oasis-terminal-color13: #7725db;
	--oasis-terminal-color14: #32635c;
	--oasis-terminal-color15: #73430b;
	--oasis-terminal-color2: #2d6547;
	--oasis-terminal-color3: #625c21;
	--oasis-terminal-color4: #145ca2;
	--oasis-terminal-color5: #7823db;
	--oasis-terminal-color6: #32635d;
	--oasis-terminal-color7: #514e47;
	--oasis-terminal-color8: #574c44;
	--oasis-terminal-color9: #b51212;
	--oasis-terminal-cyan: #32635d;
	--oasis-terminal-green: #2d6547;
	--oasis-terminal-magenta: #7823db;
	--oasis-terminal-red: #b51212;
	--oasis-terminal-white: #514e47;
	--oasis-terminal-yellow: #625c21;
	--oasis-theme-accent: #48039b;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #2a512b;
	--oasis-theme-primary: #346036;
	--oasis-theme-secondary: #9b0303;
	--oasis-theme-strong-primary: #3d7040;
	--oasis-ui-border: #3e543f;
	--oasis-ui-cursorLine: #d6ebdf;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #2a5465;
	--oasis-ui-float-bg: #d6ebdf;
	--oasis-ui-float-border-bg: #d6ebdf;
	--oasis-ui-float-border-fg: #3e543f;
	--oasis-ui-float-fg: #3e543f;
	--oasis-ui-float-title: #3e543f;
	--oasis-ui-lineNumber: #70441b;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #c1e1cf;
	--oasis-ui-matchParen-fg: #8f2a2a;
	--oasis-ui-nontext: #91867c;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #3e543f;
	--oasis-ui-visual-bg: #c1e1cf;
	--oasis-ui-visual-fg: none;
}