/* extras/css/themes/light/3/oasis_twilight_light_3.css
 * name: Oasis Twilight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="twilight_light_3"],
.oasis-twilight_light_3 {
	--oasis-name: "Oasis Twilight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7ddd4;
	--oasis-bg-mantle: #f5d3c7;
	--oasis-bg-shadow: #f2c9ba;
	--oasis-bg-surface: #f0bead;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #593d71;
	--oasis-diff-delete: #6b3b3b;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #706a82;
	--oasis-fg-core: #161217;
	--oasis-fg-dim: #8a7f78;
	--oasis-fg-muted: #686375;
	--oasis-fg-strong: #452e60;
	--oasis-git-add: #1f5317;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #970000;
	--oasis-syntax-bracket: #43464f;
	--oasis-syntax-builtinConst: #5851c4;
	--oasis-syntax-builtinFunc: #5e551f;
	--oasis-syntax-builtinVar: #761dca;
	--oasis-syntax-comment: #6a617e;
	--oasis-syntax-conditional: #804614;
	--oasis-syntax-constant: #964d10;
	--oasis-syntax-delimiter: #8f5746;
	--oasis-syntax-exception: #aa1218;
	--oasis-syntax-func: #50491b;
	--oasis-syntax-identifier: #246179;
	--oasis-syntax-macro: #60440a;
	--oasis-syntax-operator: #7d4813;
	--oasis-syntax-parameter: #346530;
	--oasis-syntax-preproc: #6f4f0c;
	--oasis-syntax-punctuation: #6d3d11;
	--oasis-syntax-regex: #9d4764;
	--oasis-syntax-special: #82440e;
	--oasis-syntax-statement: #915116;
	--oasis-syntax-string: #931014;
	--oasis-syntax-type: #34625d;
	--oasis-syntax-typedef: #2a4f4b;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135698;
	--oasis-terminal-bright-black: #51473f;
	--oasis-terminal-bright-blue: #205b72;
	--oasis-terminal-bright-cyan: #2f5c56;
	--oasis-terminal-bright-green: #325f2c;
	--oasis-terminal-bright-magenta: #6f22ce;
	--oasis-terminal-bright-red: #aa1111;
	--oasis-terminal-bright-white: #50482b;
	--oasis-terminal-bright-yellow: #7d4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #aa1111;
	--oasis-terminal-color10: #325f2c;
	--oasis-terminal-color11: #7d4813;
	--oasis-terminal-color12: #205b72;
	--oasis-terminal-color13: #6f22ce;
	--oasis-terminal-color14: #2f5c56;
	--oasis-terminal-color15: #50482b;
	--oasis-terminal-color2: #355e31;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135698;
	--oasis-terminal-color5: #7121cd;
	--oasis-terminal-color6: #2f5c57;
	--oasis-terminal-color7: #554812;
	--oasis-terminal-color8: #51473f;
	--oasis-terminal-color9: #aa1111;
	--oasis-terminal-cyan: #2f5c57;
	--oasis-terminal-green: #355e31;
	--oasis-terminal-magenta: #7121cd;
	--oasis-terminal-red: #aa1111;
	--oasis-terminal-white: #554812;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #897e15;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #77712c;
	--oasis-theme-light-primary: #672107;
	--oasis-theme-primary: #6f2009;
	--oasis-theme-secondary: #360275;
	--oasis-theme-strong-primary: #984222;
	--oasis-ui-border: #763623;
	--oasis-ui-cursorLine: #f5d3c7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1e3c49;
	--oasis-ui-float-bg: #f5d3c7;
	--oasis-ui-float-border-bg: #f5d3c7;
	--oasis-ui-float-border-fg: #a34b30;
	--oasis-ui-float-fg: #5f2d99;
	--oasis-ui-float-title: #5f2d99;
	--oasis-ui-lineNumber: #915823;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #f0bead;
	--oasis-ui-matchParen-fg: #726f44;
	--oasis-ui-nontext: #7f746c;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #763623;
	--oasis-ui-visual-bg: #f0bead;
	--oasis-ui-visual-fg: none;
}