/* extras/css/themes/light/3/oasis_midnight_light_3.css
 * name: Oasis Midnight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="midnight_light_3"],
.oasis-midnight_light_3 {
	--oasis-name: "Oasis Midnight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f4e0c3;
	--oasis-bg-mantle: #f1dab6;
	--oasis-bg-shadow: #efd3a9;
	--oasis-bg-surface: #edcc9c;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #354b64;
	--oasis-diff-delete: #6b3b3b;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #666e79;
	--oasis-fg-core: #504741;
	--oasis-fg-dim: #87807b;
	--oasis-fg-muted: #5d676e;
	--oasis-fg-strong: #63412a;
	--oasis-git-add: #1f5317;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #970000;
	--oasis-syntax-bracket: #606571;
	--oasis-syntax-builtinConst: #4942bf;
	--oasis-syntax-builtinFunc: #774b15;
	--oasis-syntax-builtinVar: #7200e1;
	--oasis-syntax-comment: #5b6679;
	--oasis-syntax-conditional: #54512d;
	--oasis-syntax-constant: #3b3a3a;
	--oasis-syntax-delimiter: #595636;
	--oasis-syntax-exception: #aa1218;
	--oasis-syntax-func: #674a26;
	--oasis-syntax-identifier: #225b73;
	--oasis-syntax-operator: #5b5629;
	--oasis-syntax-parameter: #21501c;
	--oasis-syntax-preproc: #983319;
	--oasis-syntax-punctuation: #5a5630;
	--oasis-syntax-regex: #8a3953;
	--oasis-syntax-special: #83450e;
	--oasis-syntax-statement: #5f5517;
	--oasis-syntax-string: #9e171b;
	--oasis-syntax-type: #2e5652;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135698;
	--oasis-terminal-bright-black: #51473f;
	--oasis-terminal-bright-blue: #215b72;
	--oasis-terminal-bright-cyan: #2f5c56;
	--oasis-terminal-bright-green: #335f2c;
	--oasis-terminal-bright-magenta: #7022cf;
	--oasis-terminal-bright-red: #ab1111;
	--oasis-terminal-bright-white: #51492b;
	--oasis-terminal-bright-yellow: #7e4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #ab1111;
	--oasis-terminal-color10: #335f2c;
	--oasis-terminal-color11: #7e4813;
	--oasis-terminal-color12: #215b72;
	--oasis-terminal-color13: #7022cf;
	--oasis-terminal-color14: #2f5c56;
	--oasis-terminal-color15: #51492b;
	--oasis-terminal-color2: #365e32;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135698;
	--oasis-terminal-color5: #7121ce;
	--oasis-terminal-color6: #2f5c57;
	--oasis-terminal-color7: #554812;
	--oasis-terminal-color8: #51473f;
	--oasis-terminal-color9: #ab1111;
	--oasis-terminal-cyan: #2f5c57;
	--oasis-terminal-green: #365e32;
	--oasis-terminal-magenta: #7121ce;
	--oasis-terminal-red: #ab1111;
	--oasis-terminal-white: #554812;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #31732b;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #6b6110;
	--oasis-theme-primary: #6f6825;
	--oasis-theme-secondary: #9b0303;
	--oasis-theme-secondary-light: #780202;
	--oasis-theme-secondary-strong: #832b2b;
	--oasis-theme-strong-primary: #777237;
	--oasis-ui-border: #8a2121;
	--oasis-ui-cursorLine: #f1dab6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #f1dab6;
	--oasis-ui-float-border-bg: #f1dab6;
	--oasis-ui-float-border-fg: #8a2121;
	--oasis-ui-float-fg: #8a2121;
	--oasis-ui-float-title: #8a2121;
	--oasis-ui-lineNumber: #683f19;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #edcc9c;
	--oasis-ui-matchParen-fg: #4c4a2d;
	--oasis-ui-nontext: #8a8078;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #8a2121;
	--oasis-ui-visual-bg: #edcc9c;
	--oasis-ui-visual-fg: none;
}