/* extras/css/themes/light/3/oasis_sol_light_3.css
 * name: Oasis Sol Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="sol_light_3"],
.oasis-sol_light_3 {
	--oasis-name: "Oasis Sol Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #efbcbc;
	--oasis-bg-mantle: #e9a3a3;
	--oasis-bg-shadow: #ecb0b0;
	--oasis-bg-surface: #e69797;
	--oasis-diff-add: #284b3b;
	--oasis-diff-change: #613a33;
	--oasis-diff-delete: #653838;
	--oasis-diff-text: #603c26;
	--oasis-fg-comment: #695957;
	--oasis-fg-core: #1d0f0c;
	--oasis-fg-dim: #6f6f6f;
	--oasis-fg-muted: #5f5250;
	--oasis-fg-strong: #3c1e1a;
	--oasis-git-add: #1d4f16;
	--oasis-git-change: #653a0f;
	--oasis-git-delete: #8f0000;
	--oasis-syntax-bracket: #33363c;
	--oasis-syntax-builtinConst: #443fb4;
	--oasis-syntax-builtinFunc: #5c3e1a;
	--oasis-syntax-builtinVar: #6018a5;
	--oasis-syntax-comment: #64504e;
	--oasis-syntax-conditional: #8b0f13;
	--oasis-syntax-constant: #7d410e;
	--oasis-syntax-delimiter: #a22227;
	--oasis-syntax-exception: #5b400a;
	--oasis-syntax-func: #4a3419;
	--oasis-syntax-identifier: #1e4f64;
	--oasis-syntax-macro: #3c391b;
	--oasis-syntax-operator: #861a1e;
	--oasis-syntax-parameter: #2b5327;
	--oasis-syntax-preproc: #4b451f;
	--oasis-syntax-punctuation: #701416;
	--oasis-syntax-regex: #625222;
	--oasis-syntax-special: #6a370b;
	--oasis-syntax-statement: #9a2125;
	--oasis-syntax-string: #552f0d;
	--oasis-syntax-type: #2b514c;
	--oasis-syntax-typedef: #203d3a;
	--oasis-terminal-black: #2d2d2d;
	--oasis-terminal-blue: #0f457b;
	--oasis-terminal-bright-black: #332c28;
	--oasis-terminal-bright-blue: #1a4a5c;
	--oasis-terminal-bright-cyan: #264b45;
	--oasis-terminal-bright-green: #294d23;
	--oasis-terminal-bright-magenta: #5b1ca8;
	--oasis-terminal-bright-red: #8b0e0e;
	--oasis-terminal-bright-white: #322d1b;
	--oasis-terminal-bright-yellow: #653a0f;
	--oasis-terminal-color0: #2d2d2d;
	--oasis-terminal-color1: #8b0e0e;
	--oasis-terminal-color10: #294d23;
	--oasis-terminal-color11: #653a0f;
	--oasis-terminal-color12: #1a4a5c;
	--oasis-terminal-color13: #5b1ca8;
	--oasis-terminal-color14: #264b45;
	--oasis-terminal-color15: #322d1b;
	--oasis-terminal-color2: #2b4c28;
	--oasis-terminal-color3: #4a4519;
	--oasis-terminal-color4: #0f457b;
	--oasis-terminal-color5: #5c1ba7;
	--oasis-terminal-color6: #264b47;
	--oasis-terminal-color7: #362d0b;
	--oasis-terminal-color8: #332c28;
	--oasis-terminal-color9: #8b0e0e;
	--oasis-terminal-cyan: #264b47;
	--oasis-terminal-green: #2b4c28;
	--oasis-terminal-magenta: #5c1ba7;
	--oasis-terminal-red: #8b0e0e;
	--oasis-terminal-white: #362d0b;
	--oasis-terminal-yellow: #4a4519;
	--oasis-theme-accent: #31732b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #6b0202;
	--oasis-theme-primary: #750202;
	--oasis-theme-secondary: #703c08;
	--oasis-theme-strong-primary: #8c2e2e;
	--oasis-ui-border: #6c1a1a;
	--oasis-ui-cursorLine: #e9a3a3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #152932;
	--oasis-ui-float-bg: #e9a3a3;
	--oasis-ui-float-border-bg: #e9a3a3;
	--oasis-ui-float-border-fg: #9f2727;
	--oasis-ui-float-fg: #4e3216;
	--oasis-ui-float-title: #4e3216;
	--oasis-ui-lineNumber: #79491d;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #e69797;
	--oasis-ui-matchParen-fg: #615e39;
	--oasis-ui-nontext: #656565;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #6c1a1a;
	--oasis-ui-visual-bg: #e69797;
	--oasis-ui-visual-fg: none;
}