/* extras/css/themes/light/3/oasis_cactus_light_3.css
 * name: Oasis Cactus Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="cactus_light_3"],
.oasis-cactus_light_3 {
	--oasis-name: "Oasis Cactus Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #dcefe3;
	--oasis-bg-mantle: #cce8d6;
	--oasis-bg-shadow: #d2eadb;
	--oasis-bg-surface: #b2dcc1;
	--oasis-diff-add: #35624c;
	--oasis-diff-change: #4a5e50;
	--oasis-diff-delete: #834949;
	--oasis-diff-text: #7e4e32;
	--oasis-fg-comment: #657766;
	--oasis-fg-core: #121714;
	--oasis-fg-dim: #90857d;
	--oasis-fg-muted: #616d64;
	--oasis-fg-strong: #2e4232;
	--oasis-git-add: #25661c;
	--oasis-git-change: #844c14;
	--oasis-git-delete: #b70000;
	--oasis-syntax-bracket: #474b54;
	--oasis-syntax-builtinConst: #5c58c5;
	--oasis-syntax-builtinFunc: #785222;
	--oasis-syntax-builtinVar: #7b1fd6;
	--oasis-syntax-comment: #59705c;
	--oasis-syntax-conditional: #3b623c;
	--oasis-syntax-constant: #9e5111;
	--oasis-syntax-delimiter: #4d734f;
	--oasis-syntax-exception: #b31319;
	--oasis-syntax-func: #654822;
	--oasis-syntax-identifier: #276681;
	--oasis-syntax-macro: #7d3a26;
	--oasis-syntax-operator: #39633c;
	--oasis-syntax-parameter: #7c5912;
	--oasis-syntax-preproc: #a0351b;
	--oasis-syntax-punctuation: #335534;
	--oasis-syntax-regex: #a54b69;
	--oasis-syntax-special: #8a480f;
	--oasis-syntax-statement: #417144;
	--oasis-syntax-string: #9c1116;
	--oasis-syntax-type: #376862;
	--oasis-syntax-typedef: #2c5450;
	--oasis-terminal-black: #434343;
	--oasis-terminal-blue: #145ba1;
	--oasis-terminal-bright-black: #4b423a;
	--oasis-terminal-bright-blue: #226078;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35642e;
	--oasis-terminal-bright-magenta: #7524d9;
	--oasis-terminal-bright-red: #b31212;
	--oasis-terminal-bright-white: #4b4328;
	--oasis-terminal-bright-yellow: #844c14;
	--oasis-terminal-color0: #434343;
	--oasis-terminal-color1: #b31212;
	--oasis-terminal-color10: #35642e;
	--oasis-terminal-color11: #844c14;
	--oasis-terminal-color12: #226078;
	--oasis-terminal-color13: #7524d9;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #4b4328;
	--oasis-terminal-color2: #386334;
	--oasis-terminal-color3: #615b20;
	--oasis-terminal-color4: #145ba1;
	--oasis-terminal-color5: #7723d8;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #4f4311;
	--oasis-terminal-color8: #4b423a;
	--oasis-terminal-color9: #b31212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #386334;
	--oasis-terminal-magenta: #7723d8;
	--oasis-terminal-red: #b31212;
	--oasis-terminal-white: #4f4311;
	--oasis-terminal-yellow: #615b20;
	--oasis-theme-accent: #48039b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #254827;
	--oasis-theme-primary: #2a4e2c;
	--oasis-theme-secondary: #750202;
	--oasis-theme-strong-primary: #427844;
	--oasis-ui-border: #49634a;
	--oasis-ui-cursorLine: #cce8d6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2c5769;
	--oasis-ui-float-bg: #cce8d6;
	--oasis-ui-float-border-bg: #cce8d6;
	--oasis-ui-float-border-fg: #49634a;
	--oasis-ui-float-fg: #832020;
	--oasis-ui-float-title: #832020;
	--oasis-ui-lineNumber: #985c25;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #b2dcc1;
	--oasis-ui-matchParen-fg: #a15353;
	--oasis-ui-nontext: #857a6f;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #49634a;
	--oasis-ui-visual-bg: #b2dcc1;
	--oasis-ui-visual-fg: none;
}