/* extras/css/themes/light/3/oasis_midnight_light_3.css
 * name: Oasis Midnight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="midnight_light_3"],
.oasis-midnight_light_3 {
	--oasis-name: "Oasis Midnight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f6d6d0;
	--oasis-bg-mantle: #f4cbc3;
	--oasis-bg-shadow: #f1c0b6;
	--oasis-bg-surface: #efb5a9;
	--oasis-diff-add: #294d3b;
	--oasis-diff-change: #32475f;
	--oasis-diff-delete: #663939;
	--oasis-diff-text: #623d27;
	--oasis-fg-comment: #636a75;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #837d77;
	--oasis-fg-muted: #5a636b;
	--oasis-fg-strong: #49301f;
	--oasis-git-add: #1d5016;
	--oasis-git-change: #4d460a;
	--oasis-git-delete: #910000;
	--oasis-syntax-bracket: #3f434b;
	--oasis-syntax-builtinConst: #544dc2;
	--oasis-syntax-builtinFunc: #6d4a1f;
	--oasis-syntax-builtinVar: #711cc4;
	--oasis-syntax-comment: #586275;
	--oasis-syntax-conditional: #56532e;
	--oasis-syntax-constant: #914b10;
	--oasis-syntax-delimiter: #67633e;
	--oasis-syntax-exception: #a31217;
	--oasis-syntax-func: #564227;
	--oasis-syntax-identifier: #235d76;
	--oasis-syntax-macro: #703422;
	--oasis-syntax-operator: #575328;
	--oasis-syntax-parameter: #32622e;
	--oasis-syntax-preproc: #923118;
	--oasis-syntax-punctuation: #494627;
	--oasis-syntax-regex: #9f405d;
	--oasis-syntax-special: #7e420e;
	--oasis-syntax-statement: #6a5e1a;
	--oasis-syntax-string: #8d0f14;
	--oasis-syntax-type: #325f5a;
	--oasis-syntax-typedef: #284c47;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #125292;
	--oasis-terminal-bright-black: #4d443c;
	--oasis-terminal-bright-blue: #1f586e;
	--oasis-terminal-bright-cyan: #2d5953;
	--oasis-terminal-bright-green: #305b2a;
	--oasis-terminal-bright-magenta: #6b20c7;
	--oasis-terminal-bright-red: #a41111;
	--oasis-terminal-bright-white: #4d4529;
	--oasis-terminal-bright-yellow: #784512;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #a41111;
	--oasis-terminal-color10: #305b2a;
	--oasis-terminal-color11: #784512;
	--oasis-terminal-color12: #1f586e;
	--oasis-terminal-color13: #6b20c7;
	--oasis-terminal-color14: #2d5953;
	--oasis-terminal-color15: #4d4529;
	--oasis-terminal-color2: #335b30;
	--oasis-terminal-color3: #59521d;
	--oasis-terminal-color4: #125292;
	--oasis-terminal-color5: #6d20c6;
	--oasis-terminal-color6: #2d5954;
	--oasis-terminal-color7: #524511;
	--oasis-terminal-color8: #4d443c;
	--oasis-terminal-color9: #a41111;
	--oasis-terminal-cyan: #2d5954;
	--oasis-terminal-green: #335b30;
	--oasis-terminal-magenta: #6d20c6;
	--oasis-terminal-red: #a41111;
	--oasis-terminal-white: #524511;
	--oasis-terminal-yellow: #59521d;
	--oasis-theme-accent: #31732b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #60570e;
	--oasis-theme-primary: #5a551e;
	--oasis-theme-secondary: #750202;
	--oasis-theme-secondary-light: #6b0202;
	--oasis-theme-secondary-strong: #8c2e2e;
	--oasis-theme-strong-primary: #7f7a3b;
	--oasis-ui-border: #842020;
	--oasis-ui-cursorLine: #f4cbc3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1c3944;
	--oasis-ui-float-bg: #f4cbc3;
	--oasis-ui-float-border-bg: #f4cbc3;
	--oasis-ui-float-border-fg: #b82d2d;
	--oasis-ui-float-fg: #49462b;
	--oasis-ui-float-title: #49462b;
	--oasis-ui-lineNumber: #8c5522;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #efb5a9;
	--oasis-ui-matchParen-fg: #6f6b42;
	--oasis-ui-nontext: #7a716a;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #842020;
	--oasis-ui-visual-bg: #efb5a9;
	--oasis-ui-visual-fg: none;
}