/* extras/css/themes/light/3/oasis_night_light_3.css
 * name: Oasis Night Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="night_light_3"],
.oasis-night_light_3 {
	--oasis-name: "Oasis Night Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #e6dbb2;
	--oasis-bg-mantle: #e2d5a6;
	--oasis-bg-shadow: #dfd09b;
	--oasis-bg-surface: #dbca8f;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #424259;
	--oasis-diff-delete: #643838;
	--oasis-diff-text: #603c26;
	--oasis-fg-comment: #76655a;
	--oasis-fg-core: #52412d;
	--oasis-fg-dim: #7c7c7c;
	--oasis-fg-muted: #6e5d52;
	--oasis-fg-strong: #5d3d28;
	--oasis-git-add: #1b4f0d;
	--oasis-git-change: #4c450a;
	--oasis-git-delete: #8e0000;
	--oasis-syntax-bracket: #5c616c;
	--oasis-syntax-builtinConst: #3a526e;
	--oasis-syntax-builtinFunc: #70470c;
	--oasis-syntax-builtinVar: #4f5051;
	--oasis-syntax-comment: #765b4c;
	--oasis-syntax-conditional: #743c0d;
	--oasis-syntax-constant: #363535;
	--oasis-syntax-delimiter: #774319;
	--oasis-syntax-exception: #9b1e23;
	--oasis-syntax-func: #6a420c;
	--oasis-syntax-identifier: #21566c;
	--oasis-syntax-operator: #a11216;
	--oasis-syntax-parameter: #5b00b0;
	--oasis-syntax-preproc: #5b4e3d;
	--oasis-syntax-punctuation: #97252a;
	--oasis-syntax-regex: #295b1a;
	--oasis-syntax-special: #a11216;
	--oasis-syntax-statement: #7c410d;
	--oasis-syntax-string: #215439;
	--oasis-syntax-type: #2b524d;
	--oasis-terminal-black: #623b14;
	--oasis-terminal-blue: #125190;
	--oasis-terminal-bright-black: #573f30;
	--oasis-terminal-bright-blue: #1f566c;
	--oasis-terminal-bright-cyan: #2c5851;
	--oasis-terminal-bright-green: #2d5a21;
	--oasis-terminal-bright-magenta: #6a20c4;
	--oasis-terminal-bright-red: #a11010;
	--oasis-terminal-bright-white: #643a0a;
	--oasis-terminal-bright-yellow: #774412;
	--oasis-terminal-color0: #623b14;
	--oasis-terminal-color1: #a11010;
	--oasis-terminal-color10: #2d5a21;
	--oasis-terminal-color11: #774412;
	--oasis-terminal-color12: #1f566c;
	--oasis-terminal-color13: #6a20c4;
	--oasis-terminal-color14: #2c5851;
	--oasis-terminal-color15: #643a0a;
	--oasis-terminal-color2: #285a3f;
	--oasis-terminal-color3: #57511d;
	--oasis-terminal-color4: #125190;
	--oasis-terminal-color5: #6b20c3;
	--oasis-terminal-color6: #2d5753;
	--oasis-terminal-color7: #47443d;
	--oasis-terminal-color8: #573f30;
	--oasis-terminal-color9: #a11010;
	--oasis-terminal-cyan: #2d5753;
	--oasis-terminal-green: #285a3f;
	--oasis-terminal-magenta: #6b20c3;
	--oasis-terminal-red: #a11010;
	--oasis-terminal-white: #47443d;
	--oasis-terminal-yellow: #57511d;
	--oasis-theme-accent: #49039b;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #6a1010;
	--oasis-theme-primary: #910303;
	--oasis-theme-secondary: #944f0a;
	--oasis-theme-strong-primary: #832b2b;
	--oasis-ui-border: #811f1f;
	--oasis-ui-cursorLine: #e2d5a6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244958;
	--oasis-ui-float-bg: #e2d5a6;
	--oasis-ui-float-border-bg: #e2d5a6;
	--oasis-ui-float-border-fg: #811f1f;
	--oasis-ui-float-fg: #811f1f;
	--oasis-ui-float-title: #811f1f;
	--oasis-ui-lineNumber: #623b18;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #dbca8f;
	--oasis-ui-matchParen-fg: #494521;
	--oasis-ui-nontext: #847b70;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #811f1f;
	--oasis-ui-visual-bg: #dbca8f;
	--oasis-ui-visual-fg: none;
}