/* extras/css/themes/light/3/oasis_luna_light_3.css
 * name: Oasis Luna Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="luna_light_3"],
.oasis-luna_light_3 {
	--oasis-name: "Oasis Luna Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #deddf4;
	--oasis-bg-mantle: #d3d1f0;
	--oasis-bg-shadow: #c8c6ed;
	--oasis-bg-surface: #bcbae9;
	--oasis-diff-add: #2a4e3d;
	--oasis-diff-change: #41389a;
	--oasis-diff-delete: #683a3a;
	--oasis-diff-text: #633e28;
	--oasis-fg-comment: #6c6881;
	--oasis-fg-core: #100e1b;
	--oasis-fg-dim: #807d90;
	--oasis-fg-muted: #646174;
	--oasis-fg-strong: #372f63;
	--oasis-git-add: #1e5116;
	--oasis-git-change: #4e480a;
	--oasis-git-delete: #930000;
	--oasis-syntax-bracket: #41444c;
	--oasis-syntax-builtinConst: #554ec3;
	--oasis-syntax-builtinFunc: #6f4b1f;
	--oasis-syntax-builtinVar: #731cc5;
	--oasis-syntax-comment: #665d8a;
	--oasis-syntax-conditional: #57542f;
	--oasis-syntax-constant: #934c10;
	--oasis-syntax-delimiter: #68643f;
	--oasis-syntax-exception: #a61217;
	--oasis-syntax-func: #584328;
	--oasis-syntax-identifier: #245f78;
	--oasis-syntax-macro: #6b392b;
	--oasis-syntax-operator: #595428;
	--oasis-syntax-parameter: #33632f;
	--oasis-syntax-preproc: #853e28;
	--oasis-syntax-punctuation: #4b4828;
	--oasis-syntax-regex: #a1415f;
	--oasis-syntax-special: #7f430e;
	--oasis-syntax-statement: #6b5f1a;
	--oasis-syntax-string: #8f1014;
	--oasis-syntax-type: #33605b;
	--oasis-syntax-typedef: #294d48;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #125494;
	--oasis-terminal-bright-black: #4f453d;
	--oasis-terminal-bright-blue: #20596f;
	--oasis-terminal-bright-cyan: #2e5a54;
	--oasis-terminal-bright-green: #315c2b;
	--oasis-terminal-bright-magenta: #6d21ca;
	--oasis-terminal-bright-red: #a61111;
	--oasis-terminal-bright-white: #4e472a;
	--oasis-terminal-bright-yellow: #7a4612;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #a61111;
	--oasis-terminal-color10: #315c2b;
	--oasis-terminal-color11: #7a4612;
	--oasis-terminal-color12: #20596f;
	--oasis-terminal-color13: #6d21ca;
	--oasis-terminal-color14: #2e5a54;
	--oasis-terminal-color15: #4e472a;
	--oasis-terminal-color2: #345c30;
	--oasis-terminal-color3: #5a541e;
	--oasis-terminal-color4: #125494;
	--oasis-terminal-color5: #6e21c8;
	--oasis-terminal-color6: #2e5a55;
	--oasis-terminal-color7: #534612;
	--oasis-terminal-color8: #4f453d;
	--oasis-terminal-color9: #a61111;
	--oasis-terminal-cyan: #2e5a55;
	--oasis-terminal-green: #345c30;
	--oasis-terminal-magenta: #6e21c8;
	--oasis-terminal-red: #a61111;
	--oasis-terminal-white: #534612;
	--oasis-terminal-yellow: #5a541e;
	--oasis-theme-accent: #156e89;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #60570e;
	--oasis-theme-primary: #685f10;
	--oasis-theme-secondary: #161661;
	--oasis-theme-secondary-light: #10115e;
	--oasis-theme-secondary-strong: #7f7a3b;
	--oasis-theme-status: #1e1e81;
	--oasis-theme-strong-primary: #3c2f8b;
	--oasis-ui-border: #3d3d8d;
	--oasis-ui-cursorLine: #d3d1f0;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1d3a46;
	--oasis-ui-float-bg: #d3d1f0;
	--oasis-ui-float-border-bg: #d3d1f0;
	--oasis-ui-float-border-fg: #5858b7;
	--oasis-ui-float-fg: #4c4822;
	--oasis-ui-float-title: #4c4822;
	--oasis-ui-lineNumber: #8e5622;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #bcbae9;
	--oasis-ui-matchParen-fg: #706c46;
	--oasis-ui-nontext: #757286;
	--oasis-ui-picker-bg: #d3d1f0;
	--oasis-ui-picker-border-bg: #d3d1f0;
	--oasis-ui-picker-border-fg: #736d34;
	--oasis-ui-picker-fg: #4c4822;
	--oasis-ui-picker-title: #4c4822;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #4c4822;
	--oasis-ui-visual-bg: #bcbae9;
	--oasis-ui-visual-fg: none;
}