/* extras/css/themes/light/3/oasis_desert_light_3.css
 * name: Oasis Desert Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="desert_light_3"],
.oasis-desert_light_3 {
	--oasis-name: "Oasis Desert Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e7d4;
	--oasis-bg-mantle: #f5e0c7;
	--oasis-bg-shadow: #f2d9ba;
	--oasis-bg-surface: #f0d1ad;
	--oasis-diff-add: #2d5441;
	--oasis-diff-change: #4d4d4d;
	--oasis-diff-delete: #713f3f;
	--oasis-diff-text: #6c432b;
	--oasis-fg-comment: #747268;
	--oasis-fg-core: #5a4a38;
	--oasis-fg-dim: #7c888f;
	--oasis-fg-muted: #6d6a61;
	--oasis-fg-strong: #564b42;
	--oasis-git-add: #205818;
	--oasis-git-change: #554e0b;
	--oasis-git-delete: #9f0000;
	--oasis-syntax-bracket: #646976;
	--oasis-syntax-builtinConst: #4d48bf;
	--oasis-syntax-builtinFunc: #804d0e;
	--oasis-syntax-builtinVar: #7900ea;
	--oasis-syntax-comment: #6d695e;
	--oasis-syntax-conditional: #58552f;
	--oasis-syntax-constant: #3f3e3e;
	--oasis-syntax-delimiter: #5e5a39;
	--oasis-syntax-exception: #b11319;
	--oasis-syntax-func: #77490d;
	--oasis-syntax-identifier: #245f78;
	--oasis-syntax-operator: #615a28;
	--oasis-syntax-parameter: #23551e;
	--oasis-syntax-preproc: #9f351a;
	--oasis-syntax-punctuation: #5f5a2b;
	--oasis-syntax-regex: #8d3f59;
	--oasis-syntax-special: #89480f;
	--oasis-syntax-statement: #645918;
	--oasis-syntax-string: #a5181c;
	--oasis-syntax-type: #2f5b54;
	--oasis-terminal-black: #4d4d4d;
	--oasis-terminal-blue: #135a9f;
	--oasis-terminal-bright-black: #564b43;
	--oasis-terminal-bright-blue: #225f77;
	--oasis-terminal-bright-cyan: #31615a;
	--oasis-terminal-bright-green: #35642e;
	--oasis-terminal-bright-magenta: #7523d8;
	--oasis-terminal-bright-red: #b21212;
	--oasis-terminal-bright-white: #554d2e;
	--oasis-terminal-bright-yellow: #834b14;
	--oasis-terminal-color0: #4d4d4d;
	--oasis-terminal-color1: #b21212;
	--oasis-terminal-color10: #35642e;
	--oasis-terminal-color11: #834b14;
	--oasis-terminal-color12: #225f77;
	--oasis-terminal-color13: #7523d8;
	--oasis-terminal-color14: #31615a;
	--oasis-terminal-color15: #554d2e;
	--oasis-terminal-color2: #386334;
	--oasis-terminal-color3: #615a20;
	--oasis-terminal-color4: #135a9f;
	--oasis-terminal-color5: #7623d7;
	--oasis-terminal-color6: #31615b;
	--oasis-terminal-color7: #5a4c13;
	--oasis-terminal-color8: #564b43;
	--oasis-terminal-color9: #b21212;
	--oasis-terminal-cyan: #31615b;
	--oasis-terminal-green: #386334;
	--oasis-terminal-magenta: #7623d7;
	--oasis-terminal-red: #b21212;
	--oasis-terminal-white: #5a4c13;
	--oasis-terminal-yellow: #615a20;
	--oasis-theme-accent: #31732b;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #6b6110;
	--oasis-theme-primary: #817613;
	--oasis-theme-secondary: #9b0303;
	--oasis-theme-secondary-light: #780202;
	--oasis-theme-secondary-strong: #832b2b;
	--oasis-theme-strong-primary: #777237;
	--oasis-ui-border: #912323;
	--oasis-ui-cursorLine: #f5e0c7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #295263;
	--oasis-ui-float-bg: #f5e0c7;
	--oasis-ui-float-border-bg: #f5e0c7;
	--oasis-ui-float-border-fg: #912323;
	--oasis-ui-float-fg: #912323;
	--oasis-ui-float-title: #912323;
	--oasis-ui-lineNumber: #6e431b;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #f0d1ad;
	--oasis-ui-matchParen-fg: #504e33;
	--oasis-ui-nontext: #7a8990;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #912323;
	--oasis-ui-visual-bg: #f0d1ad;
	--oasis-ui-visual-fg: none;
}