/* extras/css/themes/light/3/oasis_dune_light_3.css
 * name: Oasis Dune Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="dune_light_3"],
.oasis-dune_light_3 {
	--oasis-name: "Oasis Dune Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e9d4;
	--oasis-bg-mantle: #f3dfc1;
	--oasis-bg-shadow: #f5e2c7;
	--oasis-bg-surface: #edcfa0;
	--oasis-diff-add: #35634c;
	--oasis-diff-change: #64584a;
	--oasis-diff-delete: #844949;
	--oasis-diff-text: #7e4e32;
	--oasis-fg-comment: #7b7168;
	--oasis-fg-core: #161513;
	--oasis-fg-dim: #878787;
	--oasis-fg-muted: #726960;
	--oasis-fg-strong: #403e2a;
	--oasis-git-add: #26671c;
	--oasis-git-change: #854c14;
	--oasis-git-delete: #b80000;
	--oasis-syntax-bracket: #474b54;
	--oasis-syntax-builtinConst: #5d58c5;
	--oasis-syntax-builtinFunc: #785222;
	--oasis-syntax-builtinVar: #7d1fd5;
	--oasis-syntax-comment: #76685f;
	--oasis-syntax-conditional: #5f5b33;
	--oasis-syntax-constant: #9e5111;
	--oasis-syntax-delimiter: #706c44;
	--oasis-syntax-exception: #b31419;
	--oasis-syntax-func: #614a2c;
	--oasis-syntax-identifier: #276681;
	--oasis-syntax-macro: #7d3a26;
	--oasis-syntax-operator: #625a28;
	--oasis-syntax-parameter: #376b33;
	--oasis-syntax-preproc: #a0351b;
	--oasis-syntax-punctuation: #534f26;
	--oasis-syntax-regex: #ad4566;
	--oasis-syntax-special: #8a480f;
	--oasis-syntax-statement: #73661c;
	--oasis-syntax-string: #9c1116;
	--oasis-syntax-type: #376862;
	--oasis-syntax-typedef: #2c5450;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #145ba1;
	--oasis-terminal-bright-black: #4b423b;
	--oasis-terminal-bright-blue: #226079;
	--oasis-terminal-bright-cyan: #32625b;
	--oasis-terminal-bright-green: #35642e;
	--oasis-terminal-bright-magenta: #7624da;
	--oasis-terminal-bright-red: #b41212;
	--oasis-terminal-bright-white: #4b4328;
	--oasis-terminal-bright-yellow: #854c14;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #b41212;
	--oasis-terminal-color10: #35642e;
	--oasis-terminal-color11: #854c14;
	--oasis-terminal-color12: #226079;
	--oasis-terminal-color13: #7624da;
	--oasis-terminal-color14: #32625b;
	--oasis-terminal-color15: #4b4328;
	--oasis-terminal-color2: #386334;
	--oasis-terminal-color3: #615b20;
	--oasis-terminal-color4: #145ba1;
	--oasis-terminal-color5: #7723d9;
	--oasis-terminal-color6: #32625c;
	--oasis-terminal-color7: #4f4311;
	--oasis-terminal-color8: #4b423b;
	--oasis-terminal-color9: #b41212;
	--oasis-terminal-cyan: #32625c;
	--oasis-terminal-green: #386334;
	--oasis-terminal-magenta: #7723d9;
	--oasis-terminal-red: #b41212;
	--oasis-terminal-white: #4f4311;
	--oasis-terminal-yellow: #615b20;
	--oasis-theme-accent: #48039b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #31726a;
	--oasis-theme-light-primary: #60570d;
	--oasis-theme-primary: #5a551e;
	--oasis-theme-secondary: #24544d;
	--oasis-theme-strong-primary: #7f703b;
	--oasis-ui-border: #615e42;
	--oasis-ui-cursorLine: #f3dfc1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2c586a;
	--oasis-ui-float-bg: #f3dfc1;
	--oasis-ui-float-border-bg: #f3dfc1;
	--oasis-ui-float-border-fg: #615e42;
	--oasis-ui-float-fg: #2d4a46;
	--oasis-ui-float-title: #2d4a46;
	--oasis-ui-lineNumber: #985c25;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #edcfa0;
	--oasis-ui-matchParen-fg: #46726c;
	--oasis-ui-nontext: #7c7c7c;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #625e3a;
	--oasis-ui-visual-bg: #edcfa0;
	--oasis-ui-visual-fg: none;
}