/* extras/css/themes/light/3/oasis_starlight_light_3.css
 * name: Oasis Starlight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="starlight_light_3"],
.oasis-starlight_light_3 {
	--oasis-name: "Oasis Starlight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f4eddd;
	--oasis-bg-mantle: #f0e7d1;
	--oasis-bg-shadow: #ede1c6;
	--oasis-bg-surface: #e9dbba;
	--oasis-diff-add: #2f5744;
	--oasis-diff-change: #454f63;
	--oasis-diff-delete: #744141;
	--oasis-diff-text: #6f452c;
	--oasis-fg-comment: #6a7581;
	--oasis-fg-core: #181611;
	--oasis-fg-dim: #968580;
	--oasis-fg-muted: #656d76;
	--oasis-fg-strong: #423f3a;
	--oasis-git-add: #215b19;
	--oasis-git-change: #58500b;
	--oasis-git-delete: #a40000;
	--oasis-syntax-bracket: #494d56;
	--oasis-syntax-builtinConst: #5e5ac5;
	--oasis-syntax-builtinFunc: #7b5323;
	--oasis-syntax-builtinVar: #7e20db;
	--oasis-syntax-comment: #5f6d81;
	--oasis-syntax-conditional: #135e9f;
	--oasis-syntax-constant: #a15312;
	--oasis-syntax-delimiter: #2670ae;
	--oasis-syntax-exception: #b61419;
	--oasis-syntax-func: #684923;
	--oasis-syntax-identifier: #276884;
	--oasis-syntax-macro: #54502d;
	--oasis-syntax-operator: #135aaf;
	--oasis-syntax-parameter: #386d34;
	--oasis-syntax-preproc: #645c29;
	--oasis-syntax-punctuation: #114e98;
	--oasis-syntax-regex: #a84c6b;
	--oasis-syntax-special: #8c4a0f;
	--oasis-syntax-statement: #166ab4;
	--oasis-syntax-string: #9f1116;
	--oasis-syntax-type: #386a64;
	--oasis-syntax-typedef: #2e5651;
	--oasis-terminal-black: #4f4f4f;
	--oasis-terminal-blue: #145ca4;
	--oasis-terminal-bright-black: #584d45;
	--oasis-terminal-bright-blue: #23627b;
	--oasis-terminal-bright-cyan: #33645d;
	--oasis-terminal-bright-green: #36662f;
	--oasis-terminal-bright-magenta: #7826dc;
	--oasis-terminal-bright-red: #b71212;
	--oasis-terminal-bright-white: #584f2f;
	--oasis-terminal-bright-yellow: #874d14;
	--oasis-terminal-color0: #4f4f4f;
	--oasis-terminal-color1: #b71212;
	--oasis-terminal-color10: #36662f;
	--oasis-terminal-color11: #874d14;
	--oasis-terminal-color12: #23627b;
	--oasis-terminal-color13: #7826dc;
	--oasis-terminal-color14: #33645d;
	--oasis-terminal-color15: #584f2f;
	--oasis-terminal-color2: #3a6535;
	--oasis-terminal-color3: #635c21;
	--oasis-terminal-color4: #145ca4;
	--oasis-terminal-color5: #7924dc;
	--oasis-terminal-color6: #33635e;
	--oasis-terminal-color7: #5d4e14;
	--oasis-terminal-color8: #584d45;
	--oasis-terminal-color9: #b71212;
	--oasis-terminal-cyan: #33635e;
	--oasis-terminal-green: #3a6535;
	--oasis-terminal-magenta: #7924dc;
	--oasis-terminal-red: #b71212;
	--oasis-terminal-white: #5d4e14;
	--oasis-terminal-yellow: #635c21;
	--oasis-theme-accent: #9b0303;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #77712c;
	--oasis-theme-light-primary: #11475c;
	--oasis-theme-primary: #044574;
	--oasis-theme-secondary: #685f10;
	--oasis-theme-strong-primary: #186aa2;
	--oasis-ui-border: #205376;
	--oasis-ui-cursorLine: #f0e7d1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #224351;
	--oasis-ui-float-bg: #f0e7d1;
	--oasis-ui-float-border-bg: #f0e7d1;
	--oasis-ui-float-border-fg: #2b71a1;
	--oasis-ui-float-fg: #555026;
	--oasis-ui-float-title: #555026;
	--oasis-ui-lineNumber: #9a5e26;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #e9dbba;
	--oasis-ui-matchParen-fg: #7a7648;
	--oasis-ui-nontext: #8e7971;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #205378;
	--oasis-ui-visual-bg: #e9dbba;
	--oasis-ui-visual-fg: none;
}