/* extras/css/themes/light/3/oasis_sol_light_3.css
 * name: Oasis Sol Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="sol_light_3"],
.oasis-sol_light_3 {
	--oasis-name: "Oasis Sol Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7d9d4;
	--oasis-bg-mantle: #f5cec7;
	--oasis-bg-shadow: #f2c2ba;
	--oasis-bg-surface: #f0b7ad;
	--oasis-diff-add: #2a4e3d;
	--oasis-diff-change: #633d36;
	--oasis-diff-delete: #683a3a;
	--oasis-diff-text: #643e28;
	--oasis-fg-comment: #7a6765;
	--oasis-fg-core: #6d382e;
	--oasis-fg-dim: #808080;
	--oasis-fg-muted: #70605e;
	--oasis-fg-strong: #6e382f;
	--oasis-git-add: #1c520d;
	--oasis-git-change: #4f480a;
	--oasis-git-delete: #940000;
	--oasis-syntax-bracket: #5e636f;
	--oasis-syntax-builtinConst: #4e535e;
	--oasis-syntax-builtinFunc: #84400e;
	--oasis-syntax-builtinVar: #525354;
	--oasis-syntax-comment: #765e5c;
	--oasis-syntax-conditional: #9c1116;
	--oasis-syntax-constant: #383837;
	--oasis-syntax-delimiter: #a02126;
	--oasis-syntax-exception: #5d5317;
	--oasis-syntax-func: #783f0d;
	--oasis-syntax-identifier: #2f5a54;
	--oasis-syntax-operator: #8e3818;
	--oasis-syntax-parameter: #5f00b7;
	--oasis-syntax-preproc: #1f5970;
	--oasis-syntax-punctuation: #953219;
	--oasis-syntax-regex: #2a5e1c;
	--oasis-syntax-special: #80430e;
	--oasis-syntax-statement: #9f2326;
	--oasis-syntax-string: #22583b;
	--oasis-syntax-type: #2d5450;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #125495;
	--oasis-terminal-bright-black: #4f453e;
	--oasis-terminal-bright-blue: #205970;
	--oasis-terminal-bright-cyan: #2e5b54;
	--oasis-terminal-bright-green: #2f5e22;
	--oasis-terminal-bright-magenta: #6d21ca;
	--oasis-terminal-bright-red: #a71111;
	--oasis-terminal-bright-white: #683d0a;
	--oasis-terminal-bright-yellow: #7b4612;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #a71111;
	--oasis-terminal-color10: #2f5e22;
	--oasis-terminal-color11: #7b4612;
	--oasis-terminal-color12: #205970;
	--oasis-terminal-color13: #6d21ca;
	--oasis-terminal-color14: #2e5b54;
	--oasis-terminal-color15: #683d0a;
	--oasis-terminal-color2: #295d41;
	--oasis-terminal-color3: #5b541e;
	--oasis-terminal-color4: #125495;
	--oasis-terminal-color5: #6f21c9;
	--oasis-terminal-color6: #2e5a55;
	--oasis-terminal-color7: #4a4740;
	--oasis-terminal-color8: #4f453e;
	--oasis-terminal-color9: #a71111;
	--oasis-terminal-cyan: #2e5a55;
	--oasis-terminal-green: #295d41;
	--oasis-terminal-magenta: #6f21c9;
	--oasis-terminal-red: #a71111;
	--oasis-terminal-white: #4a4740;
	--oasis-terminal-yellow: #5b541e;
	--oasis-theme-accent: #05599a;
	--oasis-theme-light-primary: #780202;
	--oasis-theme-primary: #910303;
	--oasis-theme-secondary: #944f0a;
	--oasis-theme-strong-primary: #8e1f1f;
	--oasis-ui-border: #872121;
	--oasis-ui-cursorLine: #f5cec7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #264c5b;
	--oasis-ui-float-bg: #f5cec7;
	--oasis-ui-float-border-bg: #f5cec7;
	--oasis-ui-float-border-fg: #872121;
	--oasis-ui-float-fg: #872121;
	--oasis-ui-float-title: #872121;
	--oasis-ui-lineNumber: #5c431a;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-nontext: #808080;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #872121;
	--oasis-ui-visual-bg: #f0b7ad;
	--oasis-ui-visual-fg: none;
}