/* extras/css/themes/light/3/oasis_mirage_light_3.css
 * name: Oasis Mirage Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="mirage_light_3"],
.oasis-mirage_light_3 {
	--oasis-name: "Oasis Mirage Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #d8f2ef;
	--oasis-bg-mantle: #c1eae6;
	--oasis-bg-shadow: #cdeeea;
	--oasis-bg-surface: #b6e7e1;
	--oasis-diff-add: #35644e;
	--oasis-diff-change: #3f5f6d;
	--oasis-diff-delete: #854a4a;
	--oasis-diff-text: #7f4f33;
	--oasis-fg-comment: #5e7975;
	--oasis-fg-core: #121717;
	--oasis-fg-dim: #908680;
	--oasis-fg-muted: #606e6d;
	--oasis-fg-strong: #2f433f;
	--oasis-git-add: #26681d;
	--oasis-git-change: #864d14;
	--oasis-git-delete: #ba0000;
	--oasis-syntax-bracket: #484c55;
	--oasis-syntax-builtinConst: #5e59c5;
	--oasis-syntax-builtinFunc: #7a5322;
	--oasis-syntax-builtinVar: #7d1fd9;
	--oasis-syntax-comment: #45746b;
	--oasis-syntax-conditional: #32635c;
	--oasis-syntax-constant: #a05211;
	--oasis-syntax-delimiter: #43746e;
	--oasis-syntax-exception: #b51419;
	--oasis-syntax-func: #674923;
	--oasis-syntax-identifier: #276783;
	--oasis-syntax-macro: #7f3b26;
	--oasis-syntax-operator: #31635b;
	--oasis-syntax-parameter: #386c33;
	--oasis-syntax-preproc: #a2361b;
	--oasis-syntax-punctuation: #2b5650;
	--oasis-syntax-regex: #af4667;
	--oasis-syntax-special: #8b4a0f;
	--oasis-syntax-statement: #387168;
	--oasis-syntax-string: #9e1116;
	--oasis-syntax-type: #376963;
	--oasis-syntax-typedef: #2d5651;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #145ca3;
	--oasis-terminal-bright-black: #4c433b;
	--oasis-terminal-bright-blue: #23617a;
	--oasis-terminal-bright-cyan: #32635c;
	--oasis-terminal-bright-green: #36652f;
	--oasis-terminal-bright-magenta: #7725db;
	--oasis-terminal-bright-red: #b61212;
	--oasis-terminal-bright-white: #4c4529;
	--oasis-terminal-bright-yellow: #864d14;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #b61212;
	--oasis-terminal-color10: #36652f;
	--oasis-terminal-color11: #864d14;
	--oasis-terminal-color12: #23617a;
	--oasis-terminal-color13: #7725db;
	--oasis-terminal-color14: #32635c;
	--oasis-terminal-color15: #4c4529;
	--oasis-terminal-color2: #396535;
	--oasis-terminal-color3: #635c21;
	--oasis-terminal-color4: #145ca3;
	--oasis-terminal-color5: #7824db;
	--oasis-terminal-color6: #32635e;
	--oasis-terminal-color7: #514411;
	--oasis-terminal-color8: #4c433b;
	--oasis-terminal-color9: #b61212;
	--oasis-terminal-cyan: #32635e;
	--oasis-terminal-green: #396535;
	--oasis-terminal-magenta: #7824db;
	--oasis-terminal-red: #b61212;
	--oasis-terminal-white: #514411;
	--oasis-terminal-yellow: #635c21;
	--oasis-theme-accent: #48039b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #214d46;
	--oasis-theme-primary: #24544e;
	--oasis-theme-secondary: #703c08;
	--oasis-theme-strong-primary: #388279;
	--oasis-ui-border: #345552;
	--oasis-ui-cursorLine: #c1eae6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #214351;
	--oasis-ui-float-bg: #c1eae6;
	--oasis-ui-float-border-bg: #c1eae6;
	--oasis-ui-float-border-fg: #46736f;
	--oasis-ui-float-fg: #6d461f;
	--oasis-ui-float-title: #6d461f;
	--oasis-ui-lineNumber: #995d25;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #b6e7e1;
	--oasis-ui-matchParen-fg: #a8622e;
	--oasis-ui-nontext: #877b70;
	--oasis-ui-search-bg: #9fe0d7;
	--oasis-ui-search-fg: #0f4c44;
	--oasis-ui-title: #345552;
	--oasis-ui-visual-bg: #b6e7e1;
	--oasis-ui-visual-fg: none;
}