/* extras/css/themes/light/3/oasis_lagoon_light_3.css
 * name: Oasis Lagoon Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="lagoon_light_3"],
.oasis-lagoon_light_3 {
	--oasis-name: "Oasis Lagoon Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #dceafa;
	--oasis-bg-mantle: #c1daf6;
	--oasis-bg-shadow: #cfe2f8;
	--oasis-bg-surface: #b4d2f4;
	--oasis-diff-add: #34614b;
	--oasis-diff-change: #365891;
	--oasis-diff-delete: #824848;
	--oasis-diff-text: #7c4d32;
	--oasis-fg-comment: #5f7480;
	--oasis-fg-core: #0e131b;
	--oasis-fg-dim: #8f847c;
	--oasis-fg-muted: #586c78;
	--oasis-fg-strong: #313e49;
	--oasis-git-add: #25651c;
	--oasis-git-change: #824b14;
	--oasis-git-delete: #b50000;
	--oasis-syntax-bracket: #464a53;
	--oasis-syntax-builtinConst: #5b56c4;
	--oasis-syntax-builtinFunc: #775021;
	--oasis-syntax-builtinVar: #7a1fd4;
	--oasis-syntax-comment: #506d81;
	--oasis-syntax-conditional: #125a99;
	--oasis-syntax-constant: #9c5011;
	--oasis-syntax-delimiter: #256ca9;
	--oasis-syntax-exception: #b01318;
	--oasis-syntax-func: #644722;
	--oasis-syntax-identifier: #26657f;
	--oasis-syntax-macro: #514d2b;
	--oasis-syntax-operator: #1257a9;
	--oasis-syntax-parameter: #366a32;
	--oasis-syntax-preproc: #605928;
	--oasis-syntax-punctuation: #104b92;
	--oasis-syntax-regex: #a34a68;
	--oasis-syntax-special: #88470f;
	--oasis-syntax-statement: #1567ae;
	--oasis-syntax-string: #9a1115;
	--oasis-syntax-type: #35675f;
	--oasis-syntax-typedef: #2c534f;
	--oasis-terminal-black: #424242;
	--oasis-terminal-blue: #13599f;
	--oasis-terminal-bright-black: #4a4139;
	--oasis-terminal-bright-blue: #225f77;
	--oasis-terminal-bright-cyan: #316059;
	--oasis-terminal-bright-green: #34632e;
	--oasis-terminal-bright-magenta: #7423d7;
	--oasis-terminal-bright-red: #b11212;
	--oasis-terminal-bright-white: #494227;
	--oasis-terminal-bright-yellow: #824b14;
	--oasis-terminal-color0: #424242;
	--oasis-terminal-color1: #b11212;
	--oasis-terminal-color10: #34632e;
	--oasis-terminal-color11: #824b14;
	--oasis-terminal-color12: #225f77;
	--oasis-terminal-color13: #7423d7;
	--oasis-terminal-color14: #316059;
	--oasis-terminal-color15: #494227;
	--oasis-terminal-color2: #386233;
	--oasis-terminal-color3: #605920;
	--oasis-terminal-color4: #13599f;
	--oasis-terminal-color5: #7523d5;
	--oasis-terminal-color6: #31605b;
	--oasis-terminal-color7: #4e4111;
	--oasis-terminal-color8: #4a4139;
	--oasis-terminal-color9: #b11212;
	--oasis-terminal-cyan: #31605b;
	--oasis-terminal-green: #386233;
	--oasis-terminal-magenta: #7523d5;
	--oasis-terminal-red: #b11212;
	--oasis-terminal-white: #4e4111;
	--oasis-terminal-yellow: #605920;
	--oasis-theme-accent: #9b0303;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #9a4709;
	--oasis-theme-light-primary: #033e6a;
	--oasis-theme-primary: #044574;
	--oasis-theme-secondary: #703c08;
	--oasis-theme-strong-primary: #186aa2;
	--oasis-ui-border: #1f5072;
	--oasis-ui-cursorLine: #c1daf6;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #20404d;
	--oasis-ui-float-bg: #c1daf6;
	--oasis-ui-float-border-bg: #c1daf6;
	--oasis-ui-float-border-fg: #2a6e9d;
	--oasis-ui-float-fg: #6a441e;
	--oasis-ui-float-title: #6a441e;
	--oasis-ui-lineNumber: #965b24;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #b4d2f4;
	--oasis-ui-matchParen-fg: #a5602d;
	--oasis-ui-nontext: #85786d;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #1f5073;
	--oasis-ui-visual-bg: #b4d2f4;
	--oasis-ui-visual-fg: none;
}