/* extras/css/themes/light/3/oasis_rose_light_3.css
 * name: Oasis Rose Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="rose_light_3"],
.oasis-rose_light_3 {
	--oasis-name: "Oasis Rose Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #d2e9d4;
	--oasis-bg-mantle: #c8e4ca;
	--oasis-bg-shadow: #bedfc0;
	--oasis-bg-surface: #b3dab6;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #5c4154;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #664029;
	--oasis-fg-comment: #7a6972;
	--oasis-fg-core: #663d49;
	--oasis-fg-dim: #89807b;
	--oasis-fg-muted: #70626b;
	--oasis-fg-strong: #5e4055;
	--oasis-git-add: #1f5417;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #980000;
	--oasis-syntax-bracket: #606672;
	--oasis-syntax-builtinConst: #4843bd;
	--oasis-syntax-builtinFunc: #774b15;
	--oasis-syntax-builtinVar: #7400e0;
	--oasis-syntax-comment: #7b5d6b;
	--oasis-syntax-conditional: #a01116;
	--oasis-syntax-constant: #3b3a3a;
	--oasis-syntax-delimiter: #415c41;
	--oasis-syntax-exception: #704f0c;
	--oasis-syntax-func: #6c491a;
	--oasis-syntax-identifier: #235b73;
	--oasis-syntax-operator: #aa1318;
	--oasis-syntax-parameter: #21501c;
	--oasis-syntax-preproc: #5d5626;
	--oasis-syntax-punctuation: #aa1318;
	--oasis-syntax-regex: #645325;
	--oasis-syntax-special: #83450e;
	--oasis-syntax-statement: #aa1318;
	--oasis-syntax-string: #764317;
	--oasis-syntax-type: #2e5752;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135699;
	--oasis-terminal-bright-black: #52473f;
	--oasis-terminal-bright-blue: #215b72;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #335f2c;
	--oasis-terminal-bright-magenta: #7022cf;
	--oasis-terminal-bright-red: #ab1111;
	--oasis-terminal-bright-white: #51492c;
	--oasis-terminal-bright-yellow: #7e4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #ab1111;
	--oasis-terminal-color10: #335f2c;
	--oasis-terminal-color11: #7e4813;
	--oasis-terminal-color12: #215b72;
	--oasis-terminal-color13: #7022cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #51492c;
	--oasis-terminal-color2: #365e32;
	--oasis-terminal-color3: #5d561f;
	--oasis-terminal-color4: #135699;
	--oasis-terminal-color5: #7121ce;
	--oasis-terminal-color6: #2f5d58;
	--oasis-terminal-color7: #564812;
	--oasis-terminal-color8: #52473f;
	--oasis-terminal-color9: #ab1111;
	--oasis-terminal-cyan: #2f5d58;
	--oasis-terminal-green: #365e32;
	--oasis-terminal-magenta: #7121ce;
	--oasis-terminal-red: #ab1111;
	--oasis-terminal-white: #564812;
	--oasis-terminal-yellow: #5d561f;
	--oasis-theme-accent: #2f6f65;
	--oasis-theme-label: #3a6a3c;
	--oasis-theme-light-primary: #732508;
	--oasis-theme-primary: #89280b;
	--oasis-theme-secondary: #376739;
	--oasis-theme-strong-primary: #83422a;
	--oasis-ui-border: #8a2222;
	--oasis-ui-cursorLine: #c8e4ca;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #c8e4ca;
	--oasis-ui-float-border-bg: #c8e4ca;
	--oasis-ui-float-border-fg: #8a2222;
	--oasis-ui-float-fg: #8a2222;
	--oasis-ui-float-title: #8a2222;
	--oasis-ui-lineNumber: #694019;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #b3dab6;
	--oasis-ui-matchParen-fg: #3a4e3b;
	--oasis-ui-nontext: #8d8076;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #8a2222;
	--oasis-ui-visual-bg: #b3dab6;
	--oasis-ui-visual-fg: none;
}