/* extras/css/themes/light/3/oasis_moonlight_light_3.css
 * name: Oasis Moonlight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="moonlight_light_3"],
.oasis-moonlight_light_3 {
	--oasis-name: "Oasis Moonlight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #e8e5d8;
	--oasis-bg-mantle: #ddd8c5;
	--oasis-bg-shadow: #e2dfce;
	--oasis-bg-surface: #d7d2bb;
	--oasis-diff-add: #335f4a;
	--oasis-diff-change: #415778;
	--oasis-diff-delete: #7f4646;
	--oasis-diff-text: #794b30;
	--oasis-fg-comment: #67707a;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #7d848a;
	--oasis-fg-muted: #5e6870;
	--oasis-fg-strong: #263b59;
	--oasis-git-add: #24631b;
	--oasis-git-change: #7f4913;
	--oasis-git-delete: #b10000;
	--oasis-syntax-bracket: #444850;
	--oasis-syntax-builtinConst: #5953c4;
	--oasis-syntax-builtinFunc: #744f21;
	--oasis-syntax-builtinVar: #771ecf;
	--oasis-syntax-comment: #5d677a;
	--oasis-syntax-conditional: #5b5731;
	--oasis-syntax-constant: #994f11;
	--oasis-syntax-delimiter: #326b9a;
	--oasis-syntax-exception: #ac1318;
	--oasis-syntax-func: #5c462a;
	--oasis-syntax-identifier: #25627c;
	--oasis-syntax-macro: #703c2d;
	--oasis-syntax-operator: #5c572a;
	--oasis-syntax-parameter: #356731;
	--oasis-syntax-preproc: #9a331a;
	--oasis-syntax-punctuation: #4f4b2a;
	--oasis-syntax-regex: #a74362;
	--oasis-syntax-special: #85460e;
	--oasis-syntax-statement: #6f631b;
	--oasis-syntax-string: #951015;
	--oasis-syntax-type: #34645d;
	--oasis-syntax-typedef: #2b514c;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #13579b;
	--oasis-terminal-bright-black: #483f38;
	--oasis-terminal-bright-blue: #215d74;
	--oasis-terminal-bright-cyan: #305e57;
	--oasis-terminal-bright-green: #33602c;
	--oasis-terminal-bright-magenta: #7122d2;
	--oasis-terminal-bright-red: #ad1111;
	--oasis-terminal-bright-white: #474026;
	--oasis-terminal-bright-yellow: #7f4913;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #ad1111;
	--oasis-terminal-color10: #33602c;
	--oasis-terminal-color11: #7f4913;
	--oasis-terminal-color12: #215d74;
	--oasis-terminal-color13: #7122d2;
	--oasis-terminal-color14: #305e57;
	--oasis-terminal-color15: #474026;
	--oasis-terminal-color2: #366032;
	--oasis-terminal-color3: #5e571f;
	--oasis-terminal-color4: #13579b;
	--oasis-terminal-color5: #7322d1;
	--oasis-terminal-color6: #305e59;
	--oasis-terminal-color7: #4b3f10;
	--oasis-terminal-color8: #483f38;
	--oasis-terminal-color9: #ad1111;
	--oasis-terminal-cyan: #305e59;
	--oasis-terminal-green: #366032;
	--oasis-terminal-magenta: #7322d1;
	--oasis-terminal-red: #ad1111;
	--oasis-terminal-white: #4b3f10;
	--oasis-terminal-yellow: #5e571f;
	--oasis-theme-accent: #9b0303;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #21384c;
	--oasis-theme-primary: #253b53;
	--oasis-theme-secondary: #685f10;
	--oasis-theme-strong-primary: #395c82;
	--oasis-ui-border: #3a4c5f;
	--oasis-ui-cursorLine: #ddd8c5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #1f3e4b;
	--oasis-ui-float-bg: #ddd8c5;
	--oasis-ui-float-border-bg: #ddd8c5;
	--oasis-ui-float-border-fg: #506983;
	--oasis-ui-float-fg: #4f4b24;
	--oasis-ui-float-title: #4f4b24;
	--oasis-ui-lineNumber: #935924;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #d7d2bb;
	--oasis-ui-matchParen-fg: #747049;
	--oasis-ui-nontext: #707984;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3a4c5f;
	--oasis-ui-visual-bg: #d7d2bb;
	--oasis-ui-visual-fg: none;
}