/* extras/css/themes/light/3/oasis_midnight_light_3.css
 * name: Oasis Midnight Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="midnight_light_3"],
.oasis-midnight_light_3 {
	--oasis-name: "Oasis Midnight Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #d9dee8;
	--oasis-bg-mantle: #c6cddc;
	--oasis-bg-shadow: #cfd6e2;
	--oasis-bg-surface: #bcc5d7;
	--oasis-diff-add: #305a46;
	--oasis-diff-change: #3b5470;
	--oasis-diff-delete: #784343;
	--oasis-diff-text: #73482e;
	--oasis-fg-comment: #636b75;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #847d77;
	--oasis-fg-muted: #5a646b;
	--oasis-fg-strong: #49301f;
	--oasis-git-add: #225e1a;
	--oasis-git-change: #794512;
	--oasis-git-delete: #a90000;
	--oasis-syntax-bracket: #40434b;
	--oasis-syntax-builtinConst: #544dc3;
	--oasis-syntax-builtinFunc: #6e4b1f;
	--oasis-syntax-builtinVar: #711cc5;
	--oasis-syntax-comment: #596375;
	--oasis-syntax-conditional: #57532e;
	--oasis-syntax-constant: #924b10;
	--oasis-syntax-delimiter: #68633f;
	--oasis-syntax-exception: #a41217;
	--oasis-syntax-func: #574227;
	--oasis-syntax-identifier: #245e77;
	--oasis-syntax-macro: #713422;
	--oasis-syntax-operator: #585328;
	--oasis-syntax-parameter: #33622f;
	--oasis-syntax-preproc: #933118;
	--oasis-syntax-punctuation: #4a4728;
	--oasis-syntax-regex: #a0405e;
	--oasis-syntax-special: #7e420e;
	--oasis-syntax-statement: #6a5e1a;
	--oasis-syntax-string: #8e0f14;
	--oasis-syntax-type: #325f5a;
	--oasis-syntax-typedef: #284c48;
	--oasis-terminal-black: #3c3c3c;
	--oasis-terminal-blue: #125393;
	--oasis-terminal-bright-black: #433a34;
	--oasis-terminal-bright-blue: #1f586e;
	--oasis-terminal-bright-cyan: #2d5a53;
	--oasis-terminal-bright-green: #315c2a;
	--oasis-terminal-bright-magenta: #6c21c8;
	--oasis-terminal-bright-red: #a51111;
	--oasis-terminal-bright-white: #423c24;
	--oasis-terminal-bright-yellow: #794512;
	--oasis-terminal-color0: #3c3c3c;
	--oasis-terminal-color1: #a51111;
	--oasis-terminal-color10: #315c2a;
	--oasis-terminal-color11: #794512;
	--oasis-terminal-color12: #1f586e;
	--oasis-terminal-color13: #6c21c8;
	--oasis-terminal-color14: #2d5a53;
	--oasis-terminal-color15: #423c24;
	--oasis-terminal-color2: #345b30;
	--oasis-terminal-color3: #59531e;
	--oasis-terminal-color4: #125393;
	--oasis-terminal-color5: #6d20c7;
	--oasis-terminal-color6: #2d5954;
	--oasis-terminal-color7: #463b0f;
	--oasis-terminal-color8: #433a34;
	--oasis-terminal-color9: #a51111;
	--oasis-terminal-cyan: #2d5954;
	--oasis-terminal-green: #345b30;
	--oasis-terminal-magenta: #6d20c7;
	--oasis-terminal-red: #a51111;
	--oasis-terminal-white: #463b0f;
	--oasis-terminal-yellow: #59531e;
	--oasis-theme-accent: #31732b;
	--oasis-theme-cursor: #817613;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #60570e;
	--oasis-theme-primary: #5a551e;
	--oasis-theme-secondary: #750202;
	--oasis-theme-secondary-light: #6b0202;
	--oasis-theme-secondary-strong: #8c2e2e;
	--oasis-theme-strong-primary: #7f7a3b;
	--oasis-ui-border: #852020;
	--oasis-ui-cursorLine: #c6cddc;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #1d3945;
	--oasis-ui-float-bg: #c6cddc;
	--oasis-ui-float-border-bg: #c6cddc;
	--oasis-ui-float-border-fg: #b82d2d;
	--oasis-ui-float-fg: #4a472b;
	--oasis-ui-float-title: #4a472b;
	--oasis-ui-lineNumber: #8d5522;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #bcc5d7;
	--oasis-ui-matchParen-fg: #6f6c42;
	--oasis-ui-nontext: #7a726b;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #852020;
	--oasis-ui-visual-bg: #bcc5d7;
	--oasis-ui-visual-fg: none;
}