/* extras/css/themes/light/3/oasis_canyon_light_3.css
 * name: Oasis Canyon Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="canyon_light_3"],
.oasis-canyon_light_3 {
	--oasis-name: "Oasis Canyon Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #f7e7d4;
	--oasis-bg-mantle: #f5e0c7;
	--oasis-bg-shadow: #f2d9ba;
	--oasis-bg-surface: #f0d1ad;
	--oasis-diff-add: #2d5441;
	--oasis-diff-change: #6a4522;
	--oasis-diff-delete: #713f3f;
	--oasis-diff-text: #6c432b;
	--oasis-fg-comment: #816e62;
	--oasis-fg-core: #5d4a33;
	--oasis-fg-dim: #868686;
	--oasis-fg-muted: #78665a;
	--oasis-fg-strong: #69452d;
	--oasis-git-add: #1e590f;
	--oasis-git-change: #554e0b;
	--oasis-git-delete: #9f0000;
	--oasis-syntax-bracket: #646976;
	--oasis-syntax-builtinConst: #405b7a;
	--oasis-syntax-builtinFunc: #7c4f0e;
	--oasis-syntax-builtinVar: #58595a;
	--oasis-syntax-comment: #816353;
	--oasis-syntax-conditional: #82430e;
	--oasis-syntax-constant: #3f3e3e;
	--oasis-syntax-delimiter: #844a1b;
	--oasis-syntax-exception: #ab2126;
	--oasis-syntax-func: #764a0d;
	--oasis-syntax-identifier: #245f78;
	--oasis-syntax-operator: #b11319;
	--oasis-syntax-parameter: #6600c5;
	--oasis-syntax-preproc: #645743;
	--oasis-syntax-punctuation: #a6292e;
	--oasis-syntax-regex: #2d651d;
	--oasis-syntax-special: #b11319;
	--oasis-syntax-statement: #89480f;
	--oasis-syntax-string: #255e40;
	--oasis-syntax-type: #305b56;
	--oasis-terminal-black: #4d4d4d;
	--oasis-terminal-blue: #135a9f;
	--oasis-terminal-bright-black: #564b43;
	--oasis-terminal-bright-blue: #225f77;
	--oasis-terminal-bright-cyan: #31615a;
	--oasis-terminal-bright-green: #326424;
	--oasis-terminal-bright-magenta: #7523d8;
	--oasis-terminal-bright-red: #b21212;
	--oasis-terminal-bright-white: #71420b;
	--oasis-terminal-bright-yellow: #834b14;
	--oasis-terminal-color0: #4d4d4d;
	--oasis-terminal-color1: #b21212;
	--oasis-terminal-color10: #326424;
	--oasis-terminal-color11: #834b14;
	--oasis-terminal-color12: #225f77;
	--oasis-terminal-color13: #7523d8;
	--oasis-terminal-color14: #31615a;
	--oasis-terminal-color15: #71420b;
	--oasis-terminal-color2: #2c6346;
	--oasis-terminal-color3: #615a20;
	--oasis-terminal-color4: #135a9f;
	--oasis-terminal-color5: #7623d7;
	--oasis-terminal-color6: #31615b;
	--oasis-terminal-color7: #504d45;
	--oasis-terminal-color8: #564b43;
	--oasis-terminal-color9: #b21212;
	--oasis-terminal-cyan: #31615b;
	--oasis-terminal-green: #2c6346;
	--oasis-terminal-magenta: #7623d7;
	--oasis-terminal-red: #b21212;
	--oasis-terminal-white: #504d45;
	--oasis-terminal-yellow: #615a20;
	--oasis-theme-accent: #055b99;
	--oasis-theme-label: #a00303;
	--oasis-theme-light-primary: #734a08;
	--oasis-theme-primary: #914a03;
	--oasis-theme-secondary: #9b0303;
	--oasis-theme-strong-primary: #aa5403;
	--oasis-ui-border: #6e431b;
	--oasis-ui-cursorLine: #f5e0c7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #295263;
	--oasis-ui-float-bg: #f5e0c7;
	--oasis-ui-float-border-bg: #f5e0c7;
	--oasis-ui-float-border-fg: #6e431b;
	--oasis-ui-float-fg: #6d431a;
	--oasis-ui-float-title: #6d431a;
	--oasis-ui-lineNumber: #6e431b;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #f0d1ad;
	--oasis-ui-matchParen-fg: #205173;
	--oasis-ui-nontext: #868686;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #6d431a;
	--oasis-ui-visual-bg: #f0d1ad;
	--oasis-ui-visual-fg: none;
}