/* extras/css/themes/light/3/oasis_luna_light_3.css
 * name: Oasis Luna Light 3
 * author: uhs-robert
 * mode: light
 * light intensity: 3
 */

:root,
[data-oasis-theme="luna_light_3"],
.oasis-luna_light_3 {
	--oasis-name: "Oasis Luna Light 3";
	--oasis-mode: "light";
	--oasis-light-intensity: 3;
	--oasis-bg-core: #cbc9ee;
	--oasis-bg-mantle: #bfbdea;
	--oasis-bg-shadow: #b4b2e6;
	--oasis-bg-surface: #a9a6e2;
	--oasis-diff-add: #234132;
	--oasis-diff-change: #352e84;
	--oasis-diff-delete: #573030;
	--oasis-diff-text: #533421;
	--oasis-fg-comment: #5f5c72;
	--oasis-fg-core: #3e3366;
	--oasis-fg-dim: #737083;
	--oasis-fg-muted: #585565;
	--oasis-fg-strong: #3c336b;
	--oasis-git-add: #194413;
	--oasis-git-change: #423c09;
	--oasis-git-delete: #7d0000;
	--oasis-syntax-bracket: #535762;
	--oasis-syntax-builtinConst: #3d37a2;
	--oasis-syntax-builtinFunc: #643f12;
	--oasis-syntax-builtinVar: #6200be;
	--oasis-syntax-comment: #5a527a;
	--oasis-syntax-conditional: #464325;
	--oasis-syntax-constant: #2c2b2b;
	--oasis-syntax-delimiter: #4b482d;
	--oasis-syntax-exception: #901014;
	--oasis-syntax-func: #553d1f;
	--oasis-syntax-identifier: #1d4c61;
	--oasis-syntax-operator: #4c4823;
	--oasis-syntax-parameter: #1a4017;
	--oasis-syntax-preproc: #733523;
	--oasis-syntax-punctuation: #4b4828;
	--oasis-syntax-regex: #743046;
	--oasis-syntax-special: #6e3a0c;
	--oasis-syntax-statement: #504713;
	--oasis-syntax-string: #841316;
	--oasis-syntax-type: #264844;
	--oasis-terminal-black: #3b3b3b;
	--oasis-terminal-blue: #104880;
	--oasis-terminal-bright-black: #423a33;
	--oasis-terminal-bright-blue: #1b4c60;
	--oasis-terminal-bright-cyan: #274e48;
	--oasis-terminal-bright-green: #2a5025;
	--oasis-terminal-bright-magenta: #5e1daf;
	--oasis-terminal-bright-red: #900f0f;
	--oasis-terminal-bright-white: #413b23;
	--oasis-terminal-bright-yellow: #693c10;
	--oasis-terminal-color0: #3b3b3b;
	--oasis-terminal-color1: #900f0f;
	--oasis-terminal-color10: #2a5025;
	--oasis-terminal-color11: #693c10;
	--oasis-terminal-color12: #1b4c60;
	--oasis-terminal-color13: #5e1daf;
	--oasis-terminal-color14: #274e48;
	--oasis-terminal-color15: #413b23;
	--oasis-terminal-color2: #2d4f2a;
	--oasis-terminal-color3: #4d481a;
	--oasis-terminal-color4: #104880;
	--oasis-terminal-color5: #5f1cad;
	--oasis-terminal-color6: #274e49;
	--oasis-terminal-color7: #453a0f;
	--oasis-terminal-color8: #423a33;
	--oasis-terminal-color9: #900f0f;
	--oasis-terminal-cyan: #274e49;
	--oasis-terminal-green: #2d4f2a;
	--oasis-terminal-magenta: #5f1cad;
	--oasis-terminal-red: #900f0f;
	--oasis-terminal-white: #453a0f;
	--oasis-terminal-yellow: #4d481a;
	--oasis-theme-accent: #156e89;
	--oasis-theme-label: #8a1919;
	--oasis-theme-light-primary: #6b6110;
	--oasis-theme-primary: #817613;
	--oasis-theme-secondary: #4a039b;
	--oasis-theme-secondary-light: #370278;
	--oasis-theme-secondary-strong: #777237;
	--oasis-theme-strong-primary: #777237;
	--oasis-ui-border: #4e257c;
	--oasis-ui-cursorLine: #bfbdea;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #203f4c;
	--oasis-ui-float-bg: #bfbdea;
	--oasis-ui-float-border-bg: #bfbdea;
	--oasis-ui-float-border-fg: #4e257c;
	--oasis-ui-float-fg: #3f3c1c;
	--oasis-ui-float-title: #3f3c1c;
	--oasis-ui-lineNumber: #553315;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #a9a6e2;
	--oasis-ui-matchParen-fg: #3e3c27;
	--oasis-ui-nontext: #747084;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #3f3c1c;
	--oasis-ui-visual-bg: #a9a6e2;
	--oasis-ui-visual-fg: none;
}