/* extras/css/themes/starlight/oasis_starlight_light_5.css
 * name: Oasis Starlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="starlight_light_5"],
.oasis-starlight_light_5 {
	--oasis-name: "Oasis Starlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3deba;
	--oasis-bg-mantle: #f1d8ad;
	--oasis-bg-shadow: #eed2a0;
	--oasis-bg-surface: #eccb93;
	--oasis-diff-add: #28511f;
	--oasis-diff-change: #474747;
	--oasis-diff-delete: #693a3a;
	--oasis-fg-core: #4d4738;
	--oasis-fg-dim: #8d7d74;
	--oasis-fg-muted: #5e656e;
	--oasis-fg-strong: #494841;
	--oasis-syntax-bracket: #646277;
	--oasis-syntax-builtinConst: #4e545f;
	--oasis-syntax-builtinFunc: #85400e;
	--oasis-syntax-builtinVar: #545452;
	--oasis-syntax-comment: #4d6687;
	--oasis-syntax-conditional: #115089;
	--oasis-syntax-constant: #3a3939;
	--oasis-syntax-delimiter: #1f5687;
	--oasis-syntax-exception: #9d262b;
	--oasis-syntax-func: #78400d;
	--oasis-syntax-identifier: #2e5b55;
	--oasis-syntax-operator: #a81218;
	--oasis-syntax-parameter: #5e00b9;
	--oasis-syntax-preproc: #205a71;
	--oasis-syntax-punctuation: #a81218;
	--oasis-syntax-regex: #2b5f1d;
	--oasis-syntax-special: #81430e;
	--oasis-syntax-statement: #125592;
	--oasis-syntax-string: #22583c;
	--oasis-syntax-type: #32544f;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #1351a6;
	--oasis-terminal-bright-black: #474747;
	--oasis-terminal-bright-blue: #205a71;
	--oasis-terminal-bright-cyan: #2e5b54;
	--oasis-terminal-bright-green: #2f5e22;
	--oasis-terminal-bright-magenta: #6e21cb;
	--oasis-terminal-bright-red: #a81010;
	--oasis-terminal-bright-white: #693d0b;
	--oasis-terminal-bright-yellow: #7e450d;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #8d3838;
	--oasis-terminal-color10: #2f5e22;
	--oasis-terminal-color11: #7e450d;
	--oasis-terminal-color12: #205a71;
	--oasis-terminal-color13: #6e21cb;
	--oasis-terminal-color14: #2e5b54;
	--oasis-terminal-color15: #693d0b;
	--oasis-terminal-color2: #2a5d42;
	--oasis-terminal-color3: #5b551e;
	--oasis-terminal-color4: #1351a6;
	--oasis-terminal-color5: #7021ca;
	--oasis-terminal-color6: #2f5b55;
	--oasis-terminal-color7: #4a4740;
	--oasis-terminal-color8: #474747;
	--oasis-terminal-color9: #a81010;
	--oasis-terminal-cyan: #2f5b55;
	--oasis-terminal-green: #2a5d42;
	--oasis-terminal-magenta: #7021ca;
	--oasis-terminal-red: #8d3838;
	--oasis-terminal-white: #4a4740;
	--oasis-terminal-yellow: #5b551e;
	--oasis-theme-accent: #834406;
	--oasis-theme-light-primary: #0f4257;
	--oasis-theme-palette-primary-50: #EEF4FF;
	--oasis-theme-palette-primary-100: #D0E8FE;
	--oasis-theme-palette-primary-200: #B2DCFE;
	--oasis-theme-palette-primary-300: #94D0FE;
	--oasis-theme-palette-primary-400: #76C4FD;
	--oasis-theme-palette-primary-500: #58B8FD;
	--oasis-theme-palette-primary-600: #3AACFD;
	--oasis-theme-palette-primary-700: #1CA0FD;
	--oasis-theme-palette-primary-800: #1670AD;
	--oasis-theme-palette-primary-900: #0D4266;
	--oasis-theme-primary: #024a7e;
	--oasis-theme-secondary: #7a6f0f;
	--oasis-ui-border: #1e4b6c;
	--oasis-ui-curSearch-bg: #ddb26f;
	--oasis-ui-curSearch-fg: #352408;
	--oasis-ui-cursorLine: #f1d8ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #264c5c;
	--oasis-ui-float-bg: #eccb93;
	--oasis-ui-float-border-bg: #f1d8ad;
	--oasis-ui-float-border-fg: #1e4b6c;
	--oasis-ui-float-fg: #1e4b6c;
	--oasis-ui-float-title: #1e4b6c;
	--oasis-ui-lineNumber: #663f19;
	--oasis-ui-match-bg: #deb287;
	--oasis-ui-match-fg: #452608;
	--oasis-ui-nontext: #907c73;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #1e4b6c;
	--oasis-ui-visual-bg: #eccb93;
	--oasis-ui-visual-fg: none;
}