/* extras/css/themes/abyss/oasis_abyss_light_4.css
 * name: Oasis Abyss Light 4
 * author: uhs-robert
 * mode: light
 * light intensity: 4
 */

:root,
[data-oasis-theme="abyss_light_4"],
.oasis-abyss_light_4 {
	--oasis-name: "Oasis Abyss Light 4";
	--oasis-mode: "light";
	--oasis-light-intensity: 4;
	--oasis-bg-core: #f5ddc7;
	--oasis-bg-mantle: #f3d5ba;
	--oasis-bg-shadow: #f0cdad;
	--oasis-bg-surface: #eec5a0;
	--oasis-diff-add: #2a4f3d;
	--oasis-diff-change: #484848;
	--oasis-diff-delete: #6a3b3b;
	--oasis-fg-core: #4e473f;
	--oasis-fg-dim: #887f78;
	--oasis-fg-muted: #5b666b;
	--oasis-fg-strong: #693c2c;
	--oasis-syntax-bracket: #5e6570;
	--oasis-syntax-builtinConst: #4f5460;
	--oasis-syntax-builtinFunc: #85410e;
	--oasis-syntax-builtinVar: #535454;
	--oasis-syntax-comment: #58676f;
	--oasis-syntax-conditional: #91282c;
	--oasis-syntax-constant: #3a3939;
	--oasis-syntax-delimiter: #824042;
	--oasis-syntax-exception: #5a5529;
	--oasis-syntax-func: #78400d;
	--oasis-syntax-identifier: #365a55;
	--oasis-syntax-operator: #943418;
	--oasis-syntax-parameter: #5f00ba;
	--oasis-syntax-preproc: #245974;
	--oasis-syntax-punctuation: #972f32;
	--oasis-syntax-regex: #2b5f1d;
	--oasis-syntax-special: #81440e;
	--oasis-syntax-statement: #a22024;
	--oasis-syntax-string: #22583c;
	--oasis-syntax-type: #2d5550;
	--oasis-terminal-black: #484848;
	--oasis-terminal-blue: #1251a6;
	--oasis-terminal-bright-black: #484848;
	--oasis-terminal-bright-blue: #205a71;
	--oasis-terminal-bright-cyan: #2f5c55;
	--oasis-terminal-bright-green: #305e23;
	--oasis-terminal-bright-magenta: #6f21cd;
	--oasis-terminal-bright-red: #a91010;
	--oasis-terminal-bright-white: #693e0b;
	--oasis-terminal-bright-yellow: #7f450d;
	--oasis-terminal-color0: #484848;
	--oasis-terminal-color1: #8e3838;
	--oasis-terminal-color10: #305e23;
	--oasis-terminal-color11: #7f450d;
	--oasis-terminal-color12: #205a71;
	--oasis-terminal-color13: #6f21cd;
	--oasis-terminal-color14: #2f5c55;
	--oasis-terminal-color15: #693e0b;
	--oasis-terminal-color2: #2a5e42;
	--oasis-terminal-color3: #5b551f;
	--oasis-terminal-color4: #1251a6;
	--oasis-terminal-color5: #7021cc;
	--oasis-terminal-color6: #2f5b55;
	--oasis-terminal-color7: #4a4841;
	--oasis-terminal-color8: #484848;
	--oasis-terminal-color9: #a91010;
	--oasis-terminal-cyan: #2f5b55;
	--oasis-terminal-green: #2a5e42;
	--oasis-terminal-magenta: #7021cc;
	--oasis-terminal-red: #8e3838;
	--oasis-terminal-white: #4a4841;
	--oasis-terminal-yellow: #5b551f;
	--oasis-theme-accent: #32625a;
	--oasis-theme-light-primary: #6f0101;
	--oasis-theme-palette-primary-50: #FFACA5;
	--oasis-theme-palette-primary-100: #F29B9B;
	--oasis-theme-palette-primary-200: #F39493;
	--oasis-theme-palette-primary-300: #F28D8D;
	--oasis-theme-palette-primary-400: #F58888;
	--oasis-theme-palette-primary-500: #ED7777;
	--oasis-theme-palette-primary-600: #E87272;
	--oasis-theme-palette-primary-700: #E26E6E;
	--oasis-theme-palette-primary-800: #D06666;
	--oasis-theme-palette-primary-900: #A23B3B;
	--oasis-theme-primary: #692121;
	--oasis-theme-secondary: #924901;
	--oasis-ui-border: #773232;
	--oasis-ui-curSearch-bg: #ddb26f;
	--oasis-ui-curSearch-fg: #352408;
	--oasis-ui-cursorLine: #f3d5ba;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #264d5d;
	--oasis-ui-float-bg: #eec5a0;
	--oasis-ui-float-border-bg: #f3d5ba;
	--oasis-ui-float-border-fg: #773232;
	--oasis-ui-float-fg: #773232;
	--oasis-ui-float-title: #773232;
	--oasis-ui-lineNumber: #673e19;
	--oasis-ui-match-bg: #deb287;
	--oasis-ui-match-fg: #452608;
	--oasis-ui-nontext: #8c7e74;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #773232;
	--oasis-ui-visual-bg: #eec5a0;
	--oasis-ui-visual-fg: none;
}