/* extras/css/themes/light/5/oasis_moonlight_light_5.css
 * name: Oasis Moonlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="moonlight_light_5"],
.oasis-moonlight_light_5 {
	--oasis-name: "Oasis Moonlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ddd8c5;
	--oasis-bg-mantle: #d5ceb7;
	--oasis-bg-shadow: #d7d2bb;
	--oasis-bg-surface: #c6be9e;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #3b4f6d;
	--oasis-diff-delete: #734040;
	--oasis-diff-text: #6e442c;
	--oasis-fg-comment: #5f6771;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #757b82;
	--oasis-fg-muted: #576066;
	--oasis-fg-strong: #21324d;
	--oasis-git-add: #215a19;
	--oasis-git-change: #744211;
	--oasis-git-delete: #a20000;
	--oasis-syntax-bracket: #3c4046;
	--oasis-syntax-builtinConst: #4f49c1;
	--oasis-syntax-builtinFunc: #6a471d;
	--oasis-syntax-builtinVar: #6d1abc;
	--oasis-syntax-comment: #54606f;
	--oasis-syntax-conditional: #534f2d;
	--oasis-syntax-constant: #8e480f;
	--oasis-syntax-delimiter: #2e628f;
	--oasis-syntax-exception: #9d1117;
	--oasis-syntax-func: #533f26;
	--oasis-syntax-identifier: #225a71;
	--oasis-syntax-macro: #653628;
	--oasis-syntax-operator: #554f27;
	--oasis-syntax-parameter: #315e2c;
	--oasis-syntax-preproc: #8c2f17;
	--oasis-syntax-punctuation: #474326;
	--oasis-syntax-regex: #9a3d5b;
	--oasis-syntax-special: #793f0d;
	--oasis-syntax-statement: #655b18;
	--oasis-syntax-string: #860f13;
	--oasis-syntax-type: #305b56;
	--oasis-syntax-typedef: #264845;
	--oasis-terminal-black: #383838;
	--oasis-terminal-blue: #114f8d;
	--oasis-terminal-bright-black: #3e3730;
	--oasis-terminal-bright-blue: #1e546a;
	--oasis-terminal-bright-cyan: #2b564f;
	--oasis-terminal-bright-green: #2e5829;
	--oasis-terminal-bright-magenta: #681fbf;
	--oasis-terminal-bright-red: #9e0f0f;
	--oasis-terminal-bright-white: #3e3821;
	--oasis-terminal-bright-yellow: #744211;
	--oasis-terminal-color0: #383838;
	--oasis-terminal-color1: #9e0f0f;
	--oasis-terminal-color10: #2e5829;
	--oasis-terminal-color11: #744211;
	--oasis-terminal-color12: #1e546a;
	--oasis-terminal-color13: #681fbf;
	--oasis-terminal-color14: #2b564f;
	--oasis-terminal-color15: #3e3821;
	--oasis-terminal-color2: #31572e;
	--oasis-terminal-color3: #55501c;
	--oasis-terminal-color4: #114f8d;
	--oasis-terminal-color5: #691fbe;
	--oasis-terminal-color6: #2c5550;
	--oasis-terminal-color7: #42370e;
	--oasis-terminal-color8: #3e3730;
	--oasis-terminal-color9: #9e0f0f;
	--oasis-terminal-cyan: #2c5550;
	--oasis-terminal-green: #31572e;
	--oasis-terminal-magenta: #691fbe;
	--oasis-terminal-red: #9e0f0f;
	--oasis-terminal-white: #42370e;
	--oasis-terminal-yellow: #55501c;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #1a2d3f;
	--oasis-theme-primary: #1e3146;
	--oasis-theme-secondary: #58500b;
	--oasis-theme-strong-primary: #315275;
	--oasis-ui-border: #3f5469;
	--oasis-ui-cursorLine: #d5ceb7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #264c5c;
	--oasis-ui-float-bg: #d5ceb7;
	--oasis-ui-float-border-bg: #d5ceb7;
	--oasis-ui-float-border-fg: #3f5469;
	--oasis-ui-float-fg: #3e3b1c;
	--oasis-ui-float-title: #3e3b1c;
	--oasis-ui-lineNumber: #885221;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #c6be9e;
	--oasis-ui-matchParen-fg: #885220;
	--oasis-ui-nontext: #68707a;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3f5469;
	--oasis-ui-visual-bg: #c6be9e;
	--oasis-ui-visual-fg: none;
}