/* extras/css/themes/light/5/oasis_luna_light_5.css
 * name: Oasis Luna Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="luna_light_5"],
.oasis-luna_light_5 {
	--oasis-name: "Oasis Luna Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #cbc7f2;
	--oasis-bg-crust: #c5c1f1;
	--oasis-bg-mantle: #bab4ee;
	--oasis-bg-shadow: #bfbbef;
	--oasis-bg-surface: #9d95e6;
	--oasis-diff-add: #294d3c;
	--oasis-diff-change: #403897;
	--oasis-diff-delete: #683a3a;
	--oasis-diff-text: #633e28;
	--oasis-fg-comment: #5f5c72;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #726f81;
	--oasis-fg-muted: #575565;
	--oasis-fg-strong: #2a2a16;
	--oasis-git-add: #1e5116;
	--oasis-git-change: #683c0f;
	--oasis-git-delete: #930000;
	--oasis-syntax-bracket: #35383d;
	--oasis-syntax-builtin-const: #4640bb;
	--oasis-syntax-builtin-func: #613f2a;
	--oasis-syntax-builtin-var: #6318aa;
	--oasis-syntax-comment: #595179;
	--oasis-syntax-conditional: #4b4728;
	--oasis-syntax-constant: #81410e;
	--oasis-syntax-delimiter: #5c5837;
	--oasis-syntax-exception: #8e0f15;
	--oasis-syntax-func: #503423;
	--oasis-syntax-identifier: #1e5266;
	--oasis-syntax-macro: #353e1d;
	--oasis-syntax-operator: #4c4723;
	--oasis-syntax-parameter: #2c5528;
	--oasis-syntax-preproc: #404b23;
	--oasis-syntax-punctuation: #3d3b21;
	--oasis-syntax-regex: #913359;
	--oasis-syntax-special: #6e390c;
	--oasis-syntax-statement: #5a5324;
	--oasis-syntax-string: #770d11;
	--oasis-syntax-type: #2a5448;
	--oasis-syntax-typedef: #224038;
	--oasis-terminal-black: #303030;
	--oasis-terminal-blue: #0f487f;
	--oasis-terminal-bright-black: #352f29;
	--oasis-terminal-bright-blue: #1b4c5f;
	--oasis-terminal-bright-cyan: #2a4d43;
	--oasis-terminal-bright-green: #2a4f25;
	--oasis-terminal-bright-magenta: #5e1cac;
	--oasis-terminal-bright-red: #8f0e0e;
	--oasis-terminal-bright-white: #31310a;
	--oasis-terminal-bright-yellow: #683c0f;
	--oasis-terminal-color0: #303030;
	--oasis-terminal-color1: #8f0e0e;
	--oasis-terminal-color10: #2a4f25;
	--oasis-terminal-color11: #683c0f;
	--oasis-terminal-color12: #1b4c5f;
	--oasis-terminal-color13: #5e1cac;
	--oasis-terminal-color14: #2a4d43;
	--oasis-terminal-color15: #31310a;
	--oasis-terminal-color2: #2c4e29;
	--oasis-terminal-color3: #4c4819;
	--oasis-terminal-color4: #0f487f;
	--oasis-terminal-color5: #5e1cac;
	--oasis-terminal-color6: #2b4d43;
	--oasis-terminal-color7: #313117;
	--oasis-terminal-color8: #352f29;
	--oasis-terminal-color9: #8f0e0e;
	--oasis-terminal-cyan: #2b4d43;
	--oasis-terminal-green: #2c4e29;
	--oasis-terminal-magenta: #5e1cac;
	--oasis-terminal-red: #8f0e0e;
	--oasis-terminal-white: #313117;
	--oasis-terminal-yellow: #4c4819;
	--oasis-theme-accent: #116179;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #7b1414;
	--oasis-theme-primary: #58500b;
	--oasis-theme-primary-light: #4f480a;
	--oasis-theme-primary-strong: #34297d;
	--oasis-theme-secondary: #111152;
	--oasis-theme-secondary-light: #0c0d4e;
	--oasis-theme-secondary-strong: #736e33;
	--oasis-theme-status: #181872;
	--oasis-ui-border: #404092;
	--oasis-ui-cursor-line: #bab4ee;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #224352;
	--oasis-ui-float-bg: #bab4ee;
	--oasis-ui-float-border-bg: #bab4ee;
	--oasis-ui-float-border-fg: #404092;
	--oasis-ui-float-fg: #353218;
	--oasis-ui-float-title: #353218;
	--oasis-ui-line-number: #7c4b1e;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-match-parent-bg: #9d95e6;
	--oasis-ui-match-parent-fg: #685423;
	--oasis-ui-nontext: #676577;
	--oasis-ui-picker-bg: #bab4ee;
	--oasis-ui-picker-border-bg: #bab4ee;
	--oasis-ui-picker-border-fg: #4f4b24;
	--oasis-ui-picker-fg: #3e3b1c;
	--oasis-ui-picker-title: #3e3b1c;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #4f4b24;
	--oasis-ui-visual-bg: #9d95e6;
	--oasis-ui-visual-fg: none;
}