/* extras/css/themes/light/5/oasis_rose_light_5.css
 * name: Oasis Rose Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="rose_light_5"],
.oasis-rose_light_5 {
	--oasis-name: "Oasis Rose Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ecbedb;
	--oasis-bg-mantle: #e7acd1;
	--oasis-bg-shadow: #e9b2d4;
	--oasis-bg-surface: #de8fc1;
	--oasis-diff-add: #294d3c;
	--oasis-diff-change: #583e51;
	--oasis-diff-delete: #683939;
	--oasis-diff-text: #633d27;
	--oasis-fg-comment: #685a62;
	--oasis-fg-core: #1a0f12;
	--oasis-fg-dim: #79706b;
	--oasis-fg-muted: #5f535b;
	--oasis-fg-strong: #352430;
	--oasis-git-add: #1e5116;
	--oasis-git-change: #683b0f;
	--oasis-git-delete: #920000;
	--oasis-syntax-bracket: #34383d;
	--oasis-syntax-builtinConst: #4640bb;
	--oasis-syntax-builtinFunc: #5f401a;
	--oasis-syntax-builtinVar: #6218aa;
	--oasis-syntax-comment: #684f5c;
	--oasis-syntax-conditional: #6c3446;
	--oasis-syntax-constant: #81410e;
	--oasis-syntax-delimiter: #744b58;
	--oasis-syntax-exception: #8e0f15;
	--oasis-syntax-func: #4d3619;
	--oasis-syntax-identifier: #1e5266;
	--oasis-syntax-macro: #592f23;
	--oasis-syntax-operator: #703247;
	--oasis-syntax-parameter: #2c5528;
	--oasis-syntax-preproc: #7e2a15;
	--oasis-syntax-punctuation: #5a2c3a;
	--oasis-syntax-regex: #aa1219;
	--oasis-syntax-special: #6d390c;
	--oasis-syntax-statement: #893651;
	--oasis-syntax-string: #413b10;
	--oasis-syntax-type: #2b534f;
	--oasis-syntax-typedef: #213f3c;
	--oasis-terminal-black: #303030;
	--oasis-terminal-blue: #0f477f;
	--oasis-terminal-bright-black: #352e29;
	--oasis-terminal-bright-blue: #1b4b5f;
	--oasis-terminal-bright-cyan: #274d47;
	--oasis-terminal-bright-green: #2a4f25;
	--oasis-terminal-bright-magenta: #5d1cac;
	--oasis-terminal-bright-red: #8f0e0e;
	--oasis-terminal-bright-white: #352f1c;
	--oasis-terminal-bright-yellow: #683b0f;
	--oasis-terminal-color0: #303030;
	--oasis-terminal-color1: #8f0e0e;
	--oasis-terminal-color10: #2a4f25;
	--oasis-terminal-color11: #683b0f;
	--oasis-terminal-color12: #1b4b5f;
	--oasis-terminal-color13: #5d1cac;
	--oasis-terminal-color14: #274d47;
	--oasis-terminal-color15: #352f1c;
	--oasis-terminal-color2: #2c4e29;
	--oasis-terminal-color3: #4c4719;
	--oasis-terminal-color4: #0f477f;
	--oasis-terminal-color5: #5e1cab;
	--oasis-terminal-color6: #274d48;
	--oasis-terminal-color7: #382f0c;
	--oasis-terminal-color8: #352e29;
	--oasis-terminal-color9: #8f0e0e;
	--oasis-terminal-cyan: #274d48;
	--oasis-terminal-green: #2c4e29;
	--oasis-terminal-magenta: #5e1cab;
	--oasis-terminal-red: #8f0e0e;
	--oasis-terminal-white: #382f0c;
	--oasis-terminal-yellow: #4c4719;
	--oasis-theme-accent: #286259;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #325d34;
	--oasis-theme-light-primary: #451424;
	--oasis-theme-primary: #491a2a;
	--oasis-theme-secondary: #224123;
	--oasis-theme-strong-primary: #772f47;
	--oasis-ui-border: #62404b;
	--oasis-ui-cursorLine: #e7acd1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #224351;
	--oasis-ui-float-bg: #e7acd1;
	--oasis-ui-float-border-bg: #e7acd1;
	--oasis-ui-float-border-fg: #62404b;
	--oasis-ui-float-fg: #263527;
	--oasis-ui-float-title: #263527;
	--oasis-ui-lineNumber: #7c4b1e;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #de8fc1;
	--oasis-ui-matchParen-fg: #345f48;
	--oasis-ui-nontext: #70655e;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #653e4b;
	--oasis-ui-visual-bg: #de8fc1;
	--oasis-ui-visual-fg: none;
}