/* extras/css/themes/light/5/oasis_night_light_5.css
 * name: Oasis Night Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="night_light_5"],
.oasis-night_light_5 {
	--oasis-name: "Oasis Night Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #b7d7f0;
	--oasis-bg-mantle: #aad0ee;
	--oasis-bg-shadow: #9ec9eb;
	--oasis-bg-surface: #91c2e8;
	--oasis-diff-add: #254536;
	--oasis-diff-change: #1f3e75;
	--oasis-diff-delete: #5d3434;
	--oasis-diff-text: #593723;
	--oasis-fg-comment: #5a646e;
	--oasis-fg-core: #0c131d;
	--oasis-fg-dim: #72777f;
	--oasis-fg-muted: #545c65;
	--oasis-fg-strong: #232f41;
	--oasis-git-add: #1b4814;
	--oasis-git-change: #464009;
	--oasis-git-delete: #850000;
	--oasis-syntax-bracket: #393d43;
	--oasis-syntax-builtinConst: #4b45c0;
	--oasis-syntax-builtinFunc: #65441c;
	--oasis-syntax-builtinVar: #6919b5;
	--oasis-syntax-comment: #505d6d;
	--oasis-syntax-conditional: #504c2b;
	--oasis-syntax-constant: #88450f;
	--oasis-syntax-delimiter: #2d5f8a;
	--oasis-syntax-exception: #971016;
	--oasis-syntax-func: #4f3c24;
	--oasis-syntax-identifier: #20576d;
	--oasis-syntax-macro: #603326;
	--oasis-syntax-operator: #514c25;
	--oasis-syntax-parameter: #2f5b2b;
	--oasis-syntax-preproc: #872d16;
	--oasis-syntax-punctuation: #434024;
	--oasis-syntax-regex: #953b58;
	--oasis-syntax-special: #753c0d;
	--oasis-syntax-statement: #615818;
	--oasis-syntax-string: #810e13;
	--oasis-syntax-type: #2e5852;
	--oasis-syntax-typedef: #244541;
	--oasis-terminal-black: #1e3d78;
	--oasis-terminal-blue: #104c87;
	--oasis-terminal-bright-black: #35404c;
	--oasis-terminal-bright-blue: #1d5166;
	--oasis-terminal-bright-cyan: #2a524c;
	--oasis-terminal-bright-green: #2c5427;
	--oasis-terminal-bright-magenta: #641eb7;
	--oasis-terminal-bright-red: #980f0f;
	--oasis-terminal-bright-white: #463f25;
	--oasis-terminal-bright-yellow: #6f3f10;
	--oasis-terminal-color0: #1e3d78;
	--oasis-terminal-color1: #980f0f;
	--oasis-terminal-color10: #2c5427;
	--oasis-terminal-color11: #6f3f10;
	--oasis-terminal-color12: #1d5166;
	--oasis-terminal-color13: #641eb7;
	--oasis-terminal-color14: #2a524c;
	--oasis-terminal-color15: #463f25;
	--oasis-terminal-color2: #2f542c;
	--oasis-terminal-color3: #514c1b;
	--oasis-terminal-color4: #104c87;
	--oasis-terminal-color5: #651eb7;
	--oasis-terminal-color6: #2a524d;
	--oasis-terminal-color7: #4a3e0f;
	--oasis-terminal-color8: #35404c;
	--oasis-terminal-color9: #980f0f;
	--oasis-terminal-cyan: #2a524d;
	--oasis-terminal-green: #2f542c;
	--oasis-terminal-magenta: #651eb7;
	--oasis-terminal-red: #980f0f;
	--oasis-terminal-white: #4a3e0f;
	--oasis-terminal-yellow: #514c1b;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #1a2d3f;
	--oasis-theme-primary: #1e3146;
	--oasis-theme-secondary: #58500b;
	--oasis-theme-strong-primary: #315275;
	--oasis-ui-border: #314151;
	--oasis-ui-cursorLine: #aad0ee;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #19313c;
	--oasis-ui-float-bg: #aad0ee;
	--oasis-ui-float-border-bg: #aad0ee;
	--oasis-ui-float-border-fg: #465e75;
	--oasis-ui-float-fg: #44401f;
	--oasis-ui-float-title: #44401f;
	--oasis-ui-lineNumber: #834f20;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #91c2e8;
	--oasis-ui-matchParen-fg: #686441;
	--oasis-ui-nontext: #656d77;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #314151;
	--oasis-ui-visual-bg: #91c2e8;
	--oasis-ui-visual-fg: none;
}