/* extras/css/themes/light/5/oasis_night_light_5.css
 * name: Oasis Night Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="night_light_5"],
.oasis-night_light_5 {
	--oasis-name: "Oasis Night Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #e0cfa3;
	--oasis-bg-mantle: #ddc998;
	--oasis-bg-shadow: #d9c38c;
	--oasis-bg-surface: #d5bd81;
	--oasis-diff-add: #244434;
	--oasis-diff-change: #203c72;
	--oasis-diff-delete: #5b3232;
	--oasis-diff-text: #563623;
	--oasis-fg-comment: #715d54;
	--oasis-fg-core: #4b3b28;
	--oasis-fg-dim: #7d736d;
	--oasis-fg-muted: #68564d;
	--oasis-fg-strong: #543723;
	--oasis-git-add: #1a4714;
	--oasis-git-change: #443e09;
	--oasis-git-delete: #810000;
	--oasis-syntax-bracket: #555a63;
	--oasis-syntax-builtinConst: #3e39a7;
	--oasis-syntax-builtinFunc: #6a400b;
	--oasis-syntax-builtinVar: #6400c5;
	--oasis-syntax-comment: #725346;
	--oasis-syntax-conditional: #673811;
	--oasis-syntax-constant: #2f2e2e;
	--oasis-syntax-delimiter: #6d3e17;
	--oasis-syntax-exception: #941015;
	--oasis-syntax-func: #623c0b;
	--oasis-syntax-identifier: #1d4f63;
	--oasis-syntax-operator: #6d3e12;
	--oasis-syntax-parameter: #1c4318;
	--oasis-syntax-preproc: #61450a;
	--oasis-syntax-punctuation: #6f3d12;
	--oasis-syntax-regex: #73364b;
	--oasis-syntax-special: #504a21;
	--oasis-syntax-statement: #6d3e12;
	--oasis-syntax-string: #891317;
	--oasis-syntax-type: #274a46;
	--oasis-terminal-black: #54362e;
	--oasis-terminal-blue: #104b84;
	--oasis-terminal-bright-black: #50382b;
	--oasis-terminal-bright-blue: #1d4f63;
	--oasis-terminal-bright-cyan: #29504a;
	--oasis-terminal-bright-green: #2b5226;
	--oasis-terminal-bright-magenta: #621eb4;
	--oasis-terminal-bright-red: #950e0e;
	--oasis-terminal-bright-white: #443d24;
	--oasis-terminal-bright-yellow: #6d3e10;
	--oasis-terminal-color0: #54362e;
	--oasis-terminal-color1: #950e0e;
	--oasis-terminal-color10: #2b5226;
	--oasis-terminal-color11: #6d3e10;
	--oasis-terminal-color12: #1d4f63;
	--oasis-terminal-color13: #621eb4;
	--oasis-terminal-color14: #29504a;
	--oasis-terminal-color15: #443d24;
	--oasis-terminal-color2: #2e522b;
	--oasis-terminal-color3: #504b1a;
	--oasis-terminal-color4: #104b84;
	--oasis-terminal-color5: #621db3;
	--oasis-terminal-color6: #29504b;
	--oasis-terminal-color7: #483d0f;
	--oasis-terminal-color8: #50382b;
	--oasis-terminal-color9: #950e0e;
	--oasis-terminal-cyan: #29504b;
	--oasis-terminal-green: #2e522b;
	--oasis-terminal-magenta: #621db3;
	--oasis-terminal-red: #950e0e;
	--oasis-terminal-white: #483d0f;
	--oasis-terminal-yellow: #504b1a;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-label: #6d6622;
	--oasis-theme-light-primary: #1e3448;
	--oasis-theme-primary: #263f5a;
	--oasis-theme-secondary: #696221;
	--oasis-theme-strong-primary: #2d4c6c;
	--oasis-ui-border: #2f3f4f;
	--oasis-ui-cursorLine: #ddc998;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #21414f;
	--oasis-ui-float-bg: #ddc998;
	--oasis-ui-float-border-bg: #ddc998;
	--oasis-ui-float-border-fg: #2f3f4f;
	--oasis-ui-float-fg: #2f3f4f;
	--oasis-ui-float-title: #2f3f4f;
	--oasis-ui-lineNumber: #583515;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #d5bd81;
	--oasis-ui-matchParen-fg: #403e28;
	--oasis-ui-nontext: #6d7580;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #2f3f4f;
	--oasis-ui-visual-bg: #d5bd81;
	--oasis-ui-visual-fg: none;
}