/* extras/css/themes/light/5/oasis_desert_light_5.css
 * name: Oasis Desert Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="desert_light_5"],
.oasis-desert_light_5 {
	--oasis-name: "Oasis Desert Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3d5ba;
	--oasis-bg-mantle: #f1cdad;
	--oasis-bg-shadow: #eec5a0;
	--oasis-bg-surface: #ecbd93;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #444444;
	--oasis-diff-delete: #643737;
	--oasis-diff-text: #5f3b26;
	--oasis-fg-comment: #6a685f;
	--oasis-fg-core: #504132;
	--oasis-fg-dim: #727e85;
	--oasis-fg-muted: #636058;
	--oasis-fg-strong: #4b423a;
	--oasis-git-add: #1c4e16;
	--oasis-git-change: #4b440a;
	--oasis-git-delete: #8e0000;
	--oasis-syntax-bracket: #5b606a;
	--oasis-syntax-builtinConst: #443eb5;
	--oasis-syntax-builtinFunc: #73450c;
	--oasis-syntax-builtinVar: #6c00d4;
	--oasis-syntax-comment: #646055;
	--oasis-syntax-conditional: #4f4b2a;
	--oasis-syntax-constant: #363535;
	--oasis-syntax-delimiter: #545032;
	--oasis-syntax-exception: #a01117;
	--oasis-syntax-func: #6a410c;
	--oasis-syntax-identifier: #20556b;
	--oasis-syntax-operator: #575024;
	--oasis-syntax-parameter: #1f4a1b;
	--oasis-syntax-preproc: #8f3018;
	--oasis-syntax-punctuation: #565028;
	--oasis-syntax-regex: #803850;
	--oasis-syntax-special: #7c400d;
	--oasis-syntax-statement: #595016;
	--oasis-syntax-string: #951519;
	--oasis-syntax-type: #2b514c;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #11518f;
	--oasis-terminal-bright-black: #4b423a;
	--oasis-terminal-bright-blue: #1f566c;
	--oasis-terminal-bright-cyan: #2c5750;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #6a20c2;
	--oasis-terminal-bright-red: #a11010;
	--oasis-terminal-bright-white: #4b4428;
	--oasis-terminal-bright-yellow: #764311;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #a11010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #764311;
	--oasis-terminal-color12: #1f566c;
	--oasis-terminal-color13: #6a20c2;
	--oasis-terminal-color14: #2c5750;
	--oasis-terminal-color15: #4b4428;
	--oasis-terminal-color2: #32592f;
	--oasis-terminal-color3: #56511d;
	--oasis-terminal-color4: #11518f;
	--oasis-terminal-color5: #6b1fc2;
	--oasis-terminal-color6: #2d5752;
	--oasis-terminal-color7: #4f4311;
	--oasis-terminal-color8: #4b423a;
	--oasis-terminal-color9: #a11010;
	--oasis-terminal-cyan: #2d5752;
	--oasis-terminal-green: #32592f;
	--oasis-terminal-magenta: #6b1fc2;
	--oasis-terminal-red: #a11010;
	--oasis-terminal-white: #4f4311;
	--oasis-terminal-yellow: #56511d;
	--oasis-theme-accent: #296624;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #5b520b;
	--oasis-theme-primary: #71670f;
	--oasis-theme-secondary: #8a0000;
	--oasis-theme-secondary-light: #660000;
	--oasis-theme-secondary-strong: #752424;
	--oasis-theme-strong-primary: #6a662f;
	--oasis-ui-border: #811f1f;
	--oasis-ui-cursorLine: #f1cdad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244857;
	--oasis-ui-float-bg: #f1cdad;
	--oasis-ui-float-border-bg: #f1cdad;
	--oasis-ui-float-border-fg: #811f1f;
	--oasis-ui-float-fg: #811f1f;
	--oasis-ui-float-title: #811f1f;
	--oasis-ui-lineNumber: #613b18;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #ecbd93;
	--oasis-ui-matchParen-fg: #47452d;
	--oasis-ui-nontext: #707e87;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #811f1f;
	--oasis-ui-visual-bg: #ecbd93;
	--oasis-ui-visual-fg: none;
}