/* extras/css/themes/light/5/oasis_sol_light_5.css
 * name: Oasis Sol Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="sol_light_5"],
.oasis-sol_light_5 {
	--oasis-name: "Oasis Sol Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3babd;
	--oasis-bg-mantle: #f1adb1;
	--oasis-bg-shadow: #eea0a4;
	--oasis-bg-surface: #ec9398;
	--oasis-diff-add: #213e30;
	--oasis-diff-change: #50302a;
	--oasis-diff-delete: #532e2e;
	--oasis-diff-text: #4f3120;
	--oasis-fg-comment: #685957;
	--oasis-fg-core: #572c25;
	--oasis-fg-dim: #6f6f6f;
	--oasis-fg-muted: #5f524f;
	--oasis-fg-strong: #582c24;
	--oasis-git-add: #184112;
	--oasis-git-change: #3e3908;
	--oasis-git-delete: #780000;
	--oasis-syntax-bracket: #50555d;
	--oasis-syntax-builtinConst: #3a359c;
	--oasis-syntax-builtinFunc: #603c11;
	--oasis-syntax-builtinVar: #5e00b8;
	--oasis-syntax-comment: #63504e;
	--oasis-syntax-conditional: #810e13;
	--oasis-syntax-constant: #292828;
	--oasis-syntax-delimiter: #841c1f;
	--oasis-syntax-exception: #5b3f0a;
	--oasis-syntax-func: #553a15;
	--oasis-syntax-identifier: #1b495c;
	--oasis-syntax-operator: #851a1d;
	--oasis-syntax-parameter: #193d16;
	--oasis-syntax-preproc: #4b451f;
	--oasis-syntax-punctuation: #86181c;
	--oasis-syntax-regex: #50431e;
	--oasis-syntax-special: #6a370b;
	--oasis-syntax-statement: #831e1f;
	--oasis-syntax-string: #5e3512;
	--oasis-syntax-type: #244541;
	--oasis-terminal-black: #383838;
	--oasis-terminal-blue: #0f457b;
	--oasis-terminal-bright-black: #3e3730;
	--oasis-terminal-bright-blue: #1b495c;
	--oasis-terminal-bright-cyan: #264b45;
	--oasis-terminal-bright-green: #284c24;
	--oasis-terminal-bright-magenta: #5b1ba7;
	--oasis-terminal-bright-red: #8b0e0e;
	--oasis-terminal-bright-white: #3e3821;
	--oasis-terminal-bright-yellow: #653a0f;
	--oasis-terminal-color0: #383838;
	--oasis-terminal-color1: #8b0d0d;
	--oasis-terminal-color10: #284c24;
	--oasis-terminal-color11: #653a0f;
	--oasis-terminal-color12: #1b495c;
	--oasis-terminal-color13: #5b1ba7;
	--oasis-terminal-color14: #264b45;
	--oasis-terminal-color15: #3e3821;
	--oasis-terminal-color2: #2b4c28;
	--oasis-terminal-color3: #4a4519;
	--oasis-terminal-color4: #0f457b;
	--oasis-terminal-color5: #5c1ba7;
	--oasis-terminal-color6: #264a46;
	--oasis-terminal-color7: #42380e;
	--oasis-terminal-color8: #3e3730;
	--oasis-terminal-color9: #8b0e0e;
	--oasis-terminal-cyan: #264a46;
	--oasis-terminal-green: #2b4c28;
	--oasis-terminal-magenta: #5c1ba7;
	--oasis-terminal-red: #8b0d0d;
	--oasis-terminal-white: #42380e;
	--oasis-terminal-yellow: #4a4519;
	--oasis-theme-accent: #296624;
	--oasis-theme-label: #8a3e05;
	--oasis-theme-light-primary: #611e05;
	--oasis-theme-primary: #782107;
	--oasis-theme-secondary: #834406;
	--oasis-theme-strong-primary: #753924;
	--oasis-ui-border: #6b1a1a;
	--oasis-ui-cursorLine: #f1adb1;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #1e3c49;
	--oasis-ui-float-bg: #f1adb1;
	--oasis-ui-float-border-bg: #f1adb1;
	--oasis-ui-float-border-fg: #6b1a1a;
	--oasis-ui-float-fg: #6b1a1a;
	--oasis-ui-float-title: #6b1a1a;
	--oasis-ui-lineNumber: #513113;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #ec9398;
	--oasis-ui-matchParen-fg: #3b3923;
	--oasis-ui-nontext: #6f6f6f;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #6b1a1a;
	--oasis-ui-visual-bg: #ec9398;
	--oasis-ui-visual-fg: none;
}