/* extras/css/themes/light/5/oasis_midnight_light_5.css
 * name: Oasis Midnight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="midnight_light_5"],
.oasis-midnight_light_5 {
	--oasis-name: "Oasis Midnight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #c6cddc;
	--oasis-bg-mantle: #b8c1d3;
	--oasis-bg-shadow: #bdc5d6;
	--oasis-bg-surface: #a0acc5;
	--oasis-diff-add: #2a4f3d;
	--oasis-diff-change: #344961;
	--oasis-diff-delete: #693a3a;
	--oasis-diff-text: #643e28;
	--oasis-fg-comment: #596069;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #77726c;
	--oasis-fg-muted: #51595f;
	--oasis-fg-strong: #3a2518;
	--oasis-git-add: #1e5217;
	--oasis-git-change: #6a3c0f;
	--oasis-git-delete: #950000;
	--oasis-syntax-bracket: #35393e;
	--oasis-syntax-builtinConst: #4740bd;
	--oasis-syntax-builtinFunc: #60411a;
	--oasis-syntax-builtinVar: #6418ac;
	--oasis-syntax-comment: #4e5866;
	--oasis-syntax-conditional: #4c4829;
	--oasis-syntax-constant: #83420e;
	--oasis-syntax-delimiter: #5d5837;
	--oasis-syntax-exception: #901015;
	--oasis-syntax-func: #4a3822;
	--oasis-syntax-identifier: #1f5368;
	--oasis-syntax-macro: #5f2d1d;
	--oasis-syntax-operator: #4d4823;
	--oasis-syntax-parameter: #2d5629;
	--oasis-syntax-preproc: #802b15;
	--oasis-syntax-punctuation: #3f3c22;
	--oasis-syntax-regex: #8f3854;
	--oasis-syntax-special: #6f390c;
	--oasis-syntax-statement: #5d5417;
	--oasis-syntax-string: #790d11;
	--oasis-syntax-type: #2c5450;
	--oasis-syntax-typedef: #22403d;
	--oasis-terminal-black: #313131;
	--oasis-terminal-blue: #104880;
	--oasis-terminal-bright-black: #362f2a;
	--oasis-terminal-bright-blue: #1c4d61;
	--oasis-terminal-bright-cyan: #284e48;
	--oasis-terminal-bright-green: #2a5025;
	--oasis-terminal-bright-magenta: #5f1dae;
	--oasis-terminal-bright-red: #910e0e;
	--oasis-terminal-bright-white: #36301d;
	--oasis-terminal-bright-yellow: #6a3c0f;
	--oasis-terminal-color0: #313131;
	--oasis-terminal-color1: #910e0e;
	--oasis-terminal-color10: #2a5025;
	--oasis-terminal-color11: #6a3c0f;
	--oasis-terminal-color12: #1c4d61;
	--oasis-terminal-color13: #5f1dae;
	--oasis-terminal-color14: #284e48;
	--oasis-terminal-color15: #36301d;
	--oasis-terminal-color2: #2d4f2a;
	--oasis-terminal-color3: #4d481a;
	--oasis-terminal-color4: #104880;
	--oasis-terminal-color5: #601cae;
	--oasis-terminal-color6: #284e49;
	--oasis-terminal-color7: #39300c;
	--oasis-terminal-color8: #362f2a;
	--oasis-terminal-color9: #910e0e;
	--oasis-terminal-cyan: #284e49;
	--oasis-terminal-green: #2d4f2a;
	--oasis-terminal-magenta: #601cae;
	--oasis-terminal-red: #910e0e;
	--oasis-terminal-white: #39300c;
	--oasis-terminal-yellow: #4d481a;
	--oasis-theme-accent: #296624;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #4f480a;
	--oasis-theme-primary: #4c4718;
	--oasis-theme-secondary: #630000;
	--oasis-theme-secondary-light: #590000;
	--oasis-theme-secondary-strong: #7f2727;
	--oasis-theme-strong-primary: #736e33;
	--oasis-theme-title: #621e1e;
	--oasis-ui-border: #4e4c2f;
	--oasis-ui-cursorLine: #b8c1d3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #224453;
	--oasis-ui-float-bg: #b8c1d3;
	--oasis-ui-float-border-bg: #b8c1d3;
	--oasis-ui-float-border-fg: #4e4c2f;
	--oasis-ui-float-fg: #611717;
	--oasis-ui-float-title: #611717;
	--oasis-ui-lineNumber: #7d4c1e;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #a0acc5;
	--oasis-ui-matchParen-fg: #854545;
	--oasis-ui-nontext: #6e675f;
	--oasis-ui-picker-bg: #b8c1d3;
	--oasis-ui-picker-border-bg: #b8c1d3;
	--oasis-ui-picker-border-fg: #723b3b;
	--oasis-ui-picker-fg: #711b1b;
	--oasis-ui-picker-title: #711b1b;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #8e2222;
	--oasis-ui-visual-bg: #a0acc5;
	--oasis-ui-visual-fg: none;
}