/* extras/css/themes/light/5/oasis_dune_light_5.css
 * name: Oasis Dune Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="dune_light_5"],
.oasis-dune_light_5 {
	--oasis-name: "Oasis Dune Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ece1c6;
	--oasis-bg-mantle: #e8dbbb;
	--oasis-bg-shadow: #e4d5af;
	--oasis-bg-surface: #e1cfa4;
	--oasis-diff-add: #2b503e;
	--oasis-diff-change: #50473c;
	--oasis-diff-delete: #6a3b3b;
	--oasis-diff-text: #653f29;
	--oasis-fg-comment: #746b63;
	--oasis-fg-core: #4a4940;
	--oasis-fg-dim: #818181;
	--oasis-fg-muted: #6c635b;
	--oasis-fg-strong: #4b4931;
	--oasis-git-add: #1d530e;
	--oasis-git-change: #50490a;
	--oasis-git-delete: #960000;
	--oasis-syntax-bracket: #5f6573;
	--oasis-syntax-builtinConst: #4e5463;
	--oasis-syntax-builtinFunc: #87410f;
	--oasis-syntax-builtinVar: #535555;
	--oasis-syntax-comment: #6e635b;
	--oasis-syntax-conditional: #54502d;
	--oasis-syntax-constant: #3b3939;
	--oasis-syntax-delimiter: #595535;
	--oasis-syntax-exception: #9f272b;
	--oasis-syntax-func: #7b400d;
	--oasis-syntax-identifier: #2f5c55;
	--oasis-syntax-operator: #a91218;
	--oasis-syntax-parameter: #5f00bb;
	--oasis-syntax-preproc: #205a72;
	--oasis-syntax-punctuation: #a51b1f;
	--oasis-syntax-regex: #2b601c;
	--oasis-syntax-special: #83440e;
	--oasis-syntax-statement: #5e5517;
	--oasis-syntax-string: #22593d;
	--oasis-syntax-type: #2d5652;
	--oasis-terminal-black: #484848;
	--oasis-terminal-blue: #125597;
	--oasis-terminal-bright-black: #50473e;
	--oasis-terminal-bright-blue: #215b72;
	--oasis-terminal-bright-cyan: #2f5c55;
	--oasis-terminal-bright-green: #2f5f22;
	--oasis-terminal-bright-magenta: #6f22cd;
	--oasis-terminal-bright-red: #aa1111;
	--oasis-terminal-bright-white: #6a3e0b;
	--oasis-terminal-bright-yellow: #7d4712;
	--oasis-terminal-color0: #484848;
	--oasis-terminal-color1: #a91010;
	--oasis-terminal-color10: #2f5f22;
	--oasis-terminal-color11: #7d4712;
	--oasis-terminal-color12: #215b72;
	--oasis-terminal-color13: #6f22cd;
	--oasis-terminal-color14: #2f5c55;
	--oasis-terminal-color15: #6a3e0b;
	--oasis-terminal-color2: #2a5e42;
	--oasis-terminal-color3: #5b551e;
	--oasis-terminal-color4: #125597;
	--oasis-terminal-color5: #7021cc;
	--oasis-terminal-color6: #2f5c57;
	--oasis-terminal-color7: #4a4841;
	--oasis-terminal-color8: #50473e;
	--oasis-terminal-color9: #aa1111;
	--oasis-terminal-cyan: #2f5c57;
	--oasis-terminal-green: #2a5e42;
	--oasis-terminal-magenta: #7021cc;
	--oasis-terminal-red: #a91010;
	--oasis-terminal-white: #4a4841;
	--oasis-terminal-yellow: #5b551e;
	--oasis-theme-accent: #3e008a;
	--oasis-theme-light-primary: #5b520b;
	--oasis-theme-primary: #5e5922;
	--oasis-theme-secondary: #2e5b31;
	--oasis-theme-strong-primary: #6a662f;
	--oasis-ui-border: #4b4934;
	--oasis-ui-cursorLine: #e8dbbb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274d5d;
	--oasis-ui-float-bg: #e8dbbb;
	--oasis-ui-float-border-bg: #e8dbbb;
	--oasis-ui-float-border-fg: #4b4934;
	--oasis-ui-float-fg: #4b492f;
	--oasis-ui-float-title: #4b492f;
	--oasis-ui-lineNumber: #673f19;
	--oasis-ui-match-bg: #ab76d6;
	--oasis-ui-match-fg: #210b32;
	--oasis-ui-nontext: #818181;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #4b492f;
	--oasis-ui-visual-bg: #e1cfa4;
	--oasis-ui-visual-fg: none;
}