/* extras/css/themes/light/5/oasis_sol_light_5.css
 * name: Oasis Sol Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="sol_light_5"],
.oasis-sol_light_5 {
	--oasis-name: "Oasis Sol Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3bfba;
	--oasis-bg-mantle: #f1b3ad;
	--oasis-bg-shadow: #eea7a0;
	--oasis-bg-surface: #ec9b93;
	--oasis-diff-add: #224032;
	--oasis-diff-change: #51322c;
	--oasis-diff-delete: #563030;
	--oasis-diff-text: #523321;
	--oasis-fg-comment: #6a5b58;
	--oasis-fg-core: #5b2e26;
	--oasis-fg-dim: #727272;
	--oasis-fg-muted: #615451;
	--oasis-fg-strong: #5b2d26;
	--oasis-git-add: #17430b;
	--oasis-git-change: #413b08;
	--oasis-git-delete: #7c0000;
	--oasis-syntax-bracket: #525760;
	--oasis-syntax-builtinConst: #334861;
	--oasis-syntax-builtinFunc: #71360c;
	--oasis-syntax-builtinVar: #454747;
	--oasis-syntax-comment: #665250;
	--oasis-syntax-conditional: #840e13;
	--oasis-syntax-constant: #2b2a2a;
	--oasis-syntax-delimiter: #871d20;
	--oasis-syntax-exception: #4d4720;
	--oasis-syntax-func: #65340b;
	--oasis-syntax-identifier: #1c4c5f;
	--oasis-syntax-operator: #792f14;
	--oasis-syntax-parameter: #4e0098;
	--oasis-syntax-preproc: #504436;
	--oasis-syntax-punctuation: #7f2a15;
	--oasis-syntax-regex: #245018;
	--oasis-syntax-special: #6a3a12;
	--oasis-syntax-statement: #871f20;
	--oasis-syntax-string: #1c4932;
	--oasis-syntax-type: #254743;
	--oasis-terminal-black: #3a3a3a;
	--oasis-terminal-blue: #0f477f;
	--oasis-terminal-bright-black: #413932;
	--oasis-terminal-bright-blue: #1b4b5f;
	--oasis-terminal-bright-cyan: #274d47;
	--oasis-terminal-bright-green: #274f1d;
	--oasis-terminal-bright-magenta: #5d1cac;
	--oasis-terminal-bright-red: #8f0e0e;
	--oasis-terminal-bright-white: #563209;
	--oasis-terminal-bright-yellow: #683b0f;
	--oasis-terminal-color0: #3a3a3a;
	--oasis-terminal-color1: #8f0e0e;
	--oasis-terminal-color10: #274f1d;
	--oasis-terminal-color11: #683b0f;
	--oasis-terminal-color12: #1b4b5f;
	--oasis-terminal-color13: #5d1cac;
	--oasis-terminal-color14: #274d47;
	--oasis-terminal-color15: #563209;
	--oasis-terminal-color2: #234f38;
	--oasis-terminal-color3: #4c4719;
	--oasis-terminal-color4: #0f477f;
	--oasis-terminal-color5: #5e1cab;
	--oasis-terminal-color6: #274d48;
	--oasis-terminal-color7: #3c3a34;
	--oasis-terminal-color8: #413932;
	--oasis-terminal-color9: #8f0e0e;
	--oasis-terminal-cyan: #274d48;
	--oasis-terminal-green: #234f38;
	--oasis-terminal-magenta: #5e1cab;
	--oasis-terminal-red: #8f0e0e;
	--oasis-terminal-white: #3c3a34;
	--oasis-terminal-yellow: #4c4719;
	--oasis-theme-accent: #014e88;
	--oasis-theme-label: #8a3e05;
	--oasis-theme-light-primary: #660000;
	--oasis-theme-primary: #800000;
	--oasis-theme-secondary: #834406;
	--oasis-theme-strong-primary: #7f1a1a;
	--oasis-ui-border: #701b1b;
	--oasis-ui-cursorLine: #f1b3ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #1f3e4b;
	--oasis-ui-float-bg: #f1b3ad;
	--oasis-ui-float-border-bg: #f1b3ad;
	--oasis-ui-float-border-fg: #701b1b;
	--oasis-ui-float-fg: #701b1b;
	--oasis-ui-float-title: #701b1b;
	--oasis-ui-lineNumber: #543314;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #ec9b93;
	--oasis-ui-matchParen-fg: #3f3b1d;
	--oasis-ui-nontext: #727272;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #701b1b;
	--oasis-ui-visual-bg: #ec9b93;
	--oasis-ui-visual-fg: none;
}