/* extras/css/themes/light/5/oasis_canyon_light_5.css
 * name: Oasis Canyon Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="canyon_light_5"],
.oasis-canyon_light_5 {
	--oasis-name: "Oasis Canyon Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #e8c3a5;
	--oasis-bg-mantle: #e2b38d;
	--oasis-bg-shadow: #e5bb99;
	--oasis-bg-surface: #dfab80;
	--oasis-diff-add: #294c3b;
	--oasis-diff-change: #5a3f33;
	--oasis-diff-delete: #663939;
	--oasis-diff-text: #613d27;
	--oasis-fg-comment: #6c5950;
	--oasis-fg-core: #1a150e;
	--oasis-fg-dim: #786e68;
	--oasis-fg-muted: #63524a;
	--oasis-fg-strong: #362416;
	--oasis-git-add: #1d5016;
	--oasis-git-change: #673b0f;
	--oasis-git-delete: #910000;
	--oasis-syntax-bracket: #34373c;
	--oasis-syntax-builtinConst: #453fb9;
	--oasis-syntax-builtinFunc: #4d4619;
	--oasis-syntax-builtinVar: #6118a8;
	--oasis-syntax-comment: #6c4f43;
	--oasis-syntax-conditional: #693911;
	--oasis-syntax-constant: #7f400e;
	--oasis-syntax-delimiter: #7e481b;
	--oasis-syntax-exception: #8c0f14;
	--oasis-syntax-func: #403a15;
	--oasis-syntax-identifier: #1e5165;
	--oasis-syntax-macro: #4c3508;
	--oasis-syntax-operator: #673b11;
	--oasis-syntax-parameter: #2c5428;
	--oasis-syntax-preproc: #5b410a;
	--oasis-syntax-punctuation: #572f0e;
	--oasis-syntax-regex: #863b55;
	--oasis-syntax-special: #4c4620;
	--oasis-syntax-statement: #794514;
	--oasis-syntax-string: #750d11;
	--oasis-syntax-type: #2b524e;
	--oasis-syntax-typedef: #213e3b;
	--oasis-terminal-black: #2e2e2e;
	--oasis-terminal-blue: #0f467d;
	--oasis-terminal-bright-black: #342e28;
	--oasis-terminal-bright-blue: #1b4b5e;
	--oasis-terminal-bright-cyan: #274c46;
	--oasis-terminal-bright-green: #294e24;
	--oasis-terminal-bright-magenta: #5c1caa;
	--oasis-terminal-bright-red: #8d0e0e;
	--oasis-terminal-bright-white: #332e1b;
	--oasis-terminal-bright-yellow: #673b0f;
	--oasis-terminal-color0: #2e2e2e;
	--oasis-terminal-color1: #8d0e0e;
	--oasis-terminal-color10: #294e24;
	--oasis-terminal-color11: #673b0f;
	--oasis-terminal-color12: #1b4b5e;
	--oasis-terminal-color13: #5c1caa;
	--oasis-terminal-color14: #274c46;
	--oasis-terminal-color15: #332e1b;
	--oasis-terminal-color2: #2c4d29;
	--oasis-terminal-color3: #4b4619;
	--oasis-terminal-color4: #0f467d;
	--oasis-terminal-color5: #5d1ca9;
	--oasis-terminal-color6: #274c47;
	--oasis-terminal-color7: #372e0b;
	--oasis-terminal-color8: #342e28;
	--oasis-terminal-color9: #8d0e0e;
	--oasis-terminal-cyan: #274c47;
	--oasis-terminal-green: #2c4d29;
	--oasis-terminal-magenta: #5d1ca9;
	--oasis-terminal-red: #8d0e0e;
	--oasis-terminal-white: #372e0b;
	--oasis-terminal-yellow: #4b4619;
	--oasis-theme-accent: #145a76;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #553604;
	--oasis-theme-primary: #5f3105;
	--oasis-theme-secondary: #630000;
	--oasis-theme-strong-primary: #8d5118;
	--oasis-ui-border: #523214;
	--oasis-ui-cursorLine: #e2b38d;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #152b34;
	--oasis-ui-float-bg: #e2b38d;
	--oasis-ui-float-border-bg: #e2b38d;
	--oasis-ui-float-border-fg: #7b4a1e;
	--oasis-ui-float-fg: #6d1a1a;
	--oasis-ui-float-title: #6d1a1a;
	--oasis-ui-lineNumber: #675324;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #dfab80;
	--oasis-ui-matchParen-fg: #326377;
	--oasis-ui-nontext: #6f645d;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #523214;
	--oasis-ui-visual-bg: #dfab80;
	--oasis-ui-visual-fg: none;
}