/* extras/css/themes/light/5/oasis_lagoon_light_5.css
 * name: Oasis Lagoon Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="lagoon_light_5"],
.oasis-lagoon_light_5 {
	--oasis-name: "Oasis Lagoon Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #bcd6f5;
	--oasis-bg-mantle: #afcef3;
	--oasis-bg-shadow: #a1c6f1;
	--oasis-bg-surface: #94beef;
	--oasis-diff-add: #254636;
	--oasis-diff-change: #274068;
	--oasis-diff-delete: #5e3434;
	--oasis-fg-core: #30405b;
	--oasis-fg-dim: #7b7671;
	--oasis-fg-muted: #4e5e69;
	--oasis-fg-strong: #33414c;
	--oasis-syntax-bracket: #575c66;
	--oasis-syntax-builtinConst: #474c56;
	--oasis-syntax-builtinFunc: #793a0d;
	--oasis-syntax-builtinVar: #4c4c4a;
	--oasis-syntax-comment: #465f71;
	--oasis-syntax-conditional: #0f487b;
	--oasis-syntax-constant: #313030;
	--oasis-syntax-delimiter: #1b4e7c;
	--oasis-syntax-exception: #931d20;
	--oasis-syntax-func: #6d390c;
	--oasis-syntax-identifier: #2a534d;
	--oasis-syntax-operator: #981116;
	--oasis-syntax-parameter: #5400a5;
	--oasis-syntax-preproc: #1c5167;
	--oasis-syntax-punctuation: #8f2327;
	--oasis-syntax-regex: #26561a;
	--oasis-syntax-special: #753d0d;
	--oasis-syntax-statement: #104d84;
	--oasis-syntax-string: #1f4f36;
	--oasis-syntax-type: #2d4c47;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #114997;
	--oasis-terminal-bright-black: #404040;
	--oasis-terminal-bright-blue: #1d5166;
	--oasis-terminal-bright-cyan: #2a534c;
	--oasis-terminal-bright-green: #2a551f;
	--oasis-terminal-bright-magenta: #641eb8;
	--oasis-terminal-bright-red: #990f0f;
	--oasis-terminal-bright-white: #5d3609;
	--oasis-terminal-bright-yellow: #733e0b;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #803232;
	--oasis-terminal-color10: #2a551f;
	--oasis-terminal-color11: #733e0b;
	--oasis-terminal-color12: #1d5166;
	--oasis-terminal-color13: #641eb8;
	--oasis-terminal-color14: #2a534c;
	--oasis-terminal-color15: #5d3609;
	--oasis-terminal-color2: #26543c;
	--oasis-terminal-color3: #524d1b;
	--oasis-terminal-color4: #114997;
	--oasis-terminal-color5: #651eb8;
	--oasis-terminal-color6: #2b524d;
	--oasis-terminal-color7: #413f39;
	--oasis-terminal-color8: #404040;
	--oasis-terminal-color9: #990f0f;
	--oasis-terminal-cyan: #2b524d;
	--oasis-terminal-green: #26543c;
	--oasis-terminal-magenta: #651eb8;
	--oasis-terminal-red: #803232;
	--oasis-terminal-white: #413f39;
	--oasis-terminal-yellow: #524d1b;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-light-primary: #013a65;
	--oasis-theme-palette-primary-50: #EEF4FF;
	--oasis-theme-palette-primary-100: #D0E8FE;
	--oasis-theme-palette-primary-200: #B2DCFE;
	--oasis-theme-palette-primary-300: #94D0FE;
	--oasis-theme-palette-primary-400: #76C4FD;
	--oasis-theme-palette-primary-500: #58B8FD;
	--oasis-theme-palette-primary-600: #3AACFD;
	--oasis-theme-palette-primary-700: #1CA0FD;
	--oasis-theme-palette-primary-800: #1670AD;
	--oasis-theme-palette-primary-900: #0D4266;
	--oasis-theme-primary: #014b7e;
	--oasis-theme-secondary: #8a4400;
	--oasis-ui-border: #1a435f;
	--oasis-ui-curSearch-bg: #ddb26f;
	--oasis-ui-curSearch-fg: #352408;
	--oasis-ui-cursorLine: #afcef3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #340606;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #073e36;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #083142;
	--oasis-ui-diag-ok-bg: #97ceb2;
	--oasis-ui-diag-ok-fg: #073c21;
	--oasis-ui-diag-warn-bg: #cece97;
	--oasis-ui-diag-warn-fg: #3c3c07;
	--oasis-ui-dir: #224452;
	--oasis-ui-float-bg: #94beef;
	--oasis-ui-float-border-bg: #afcef3;
	--oasis-ui-float-border-fg: #1a435f;
	--oasis-ui-float-fg: #1a435f;
	--oasis-ui-float-title: #1a435f;
	--oasis-ui-lineNumber: #5b3716;
	--oasis-ui-match-bg: #d5be90;
	--oasis-ui-match-fg: #453008;
	--oasis-ui-nontext: #7e766d;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #1a435f;
	--oasis-ui-visual-bg: #94beef;
	--oasis-ui-visual-fg: none;
}