/* extras/css/themes/light/5/oasis_night_light_5.css
 * name: Oasis Night Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="night_light_5"],
.oasis-night_light_5 {
	--oasis-name: "Oasis Night Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #e0cfa3;
	--oasis-bg-mantle: #ddc998;
	--oasis-bg-shadow: #d9c38c;
	--oasis-bg-surface: #d5bd81;
	--oasis-diff-add: #244434;
	--oasis-diff-change: #3c3c50;
	--oasis-diff-delete: #5b3232;
	--oasis-diff-text: #563623;
	--oasis-fg-comment: #6e5e54;
	--oasis-fg-core: #4b3b28;
	--oasis-fg-dim: #757575;
	--oasis-fg-muted: #66574d;
	--oasis-fg-strong: #543723;
	--oasis-git-add: #18470c;
	--oasis-git-change: #443e09;
	--oasis-git-delete: #810000;
	--oasis-syntax-bracket: #555a63;
	--oasis-syntax-builtinConst: #354b66;
	--oasis-syntax-builtinFunc: #67420b;
	--oasis-syntax-builtinVar: #4a4a48;
	--oasis-syntax-comment: #6d5547;
	--oasis-syntax-conditional: #6b360c;
	--oasis-syntax-constant: #2f2e2e;
	--oasis-syntax-delimiter: #6d3e17;
	--oasis-syntax-exception: #8f1c20;
	--oasis-syntax-func: #603c0a;
	--oasis-syntax-identifier: #1d4f63;
	--oasis-syntax-operator: #941015;
	--oasis-syntax-parameter: #5200a0;
	--oasis-syntax-preproc: #27514a;
	--oasis-syntax-punctuation: #8b2226;
	--oasis-syntax-regex: #255319;
	--oasis-syntax-special: #733a0c;
	--oasis-syntax-statement: #723b0c;
	--oasis-syntax-string: #1e4d34;
	--oasis-syntax-type: #274a46;
	--oasis-terminal-black: #583512;
	--oasis-terminal-blue: #104b84;
	--oasis-terminal-bright-black: #4e392c;
	--oasis-terminal-bright-blue: #1d4f63;
	--oasis-terminal-bright-cyan: #29504a;
	--oasis-terminal-bright-green: #29531e;
	--oasis-terminal-bright-magenta: #621eb4;
	--oasis-terminal-bright-red: #950e0e;
	--oasis-terminal-bright-white: #5a3509;
	--oasis-terminal-bright-yellow: #6d3e10;
	--oasis-terminal-color0: #583512;
	--oasis-terminal-color1: #950e0e;
	--oasis-terminal-color10: #29531e;
	--oasis-terminal-color11: #6d3e10;
	--oasis-terminal-color12: #1d4f63;
	--oasis-terminal-color13: #621eb4;
	--oasis-terminal-color14: #29504a;
	--oasis-terminal-color15: #5a3509;
	--oasis-terminal-color2: #24523a;
	--oasis-terminal-color3: #504b1a;
	--oasis-terminal-color4: #104b84;
	--oasis-terminal-color5: #621db3;
	--oasis-terminal-color6: #29504b;
	--oasis-terminal-color7: #3f3d37;
	--oasis-terminal-color8: #4e392c;
	--oasis-terminal-color9: #950e0e;
	--oasis-terminal-cyan: #29504b;
	--oasis-terminal-green: #24523a;
	--oasis-terminal-magenta: #621db3;
	--oasis-terminal-red: #950e0e;
	--oasis-terminal-white: #3f3d37;
	--oasis-terminal-yellow: #504b1a;
	--oasis-theme-accent: #3f008a;
	--oasis-theme-light-primary: #5a0c0c;
	--oasis-theme-primary: #800000;
	--oasis-theme-secondary: #834406;
	--oasis-theme-strong-primary: #752424;
	--oasis-ui-border: #751c1c;
	--oasis-ui-cursorLine: #ddc998;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #21414f;
	--oasis-ui-float-bg: #ddc998;
	--oasis-ui-float-border-bg: #ddc998;
	--oasis-ui-float-border-fg: #751c1c;
	--oasis-ui-float-fg: #751c1c;
	--oasis-ui-float-title: #751c1c;
	--oasis-ui-lineNumber: #583515;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #d5bd81;
	--oasis-ui-matchParen-fg: #423e1e;
	--oasis-ui-nontext: #7d736b;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #751c1c;
	--oasis-ui-visual-bg: #d5bd81;
	--oasis-ui-visual-fg: none;
}