/* extras/css/themes/light/5/oasis_sol_light_5.css
 * name: Oasis Sol Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="sol_light_5"],
.oasis-sol_light_5 {
	--oasis-name: "Oasis Sol Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #e9a3a3;
	--oasis-bg-mantle: #e38a8a;
	--oasis-bg-shadow: #e69797;
	--oasis-bg-surface: #e07e7e;
	--oasis-diff-add: #203d2f;
	--oasis-diff-change: #4e2f29;
	--oasis-diff-delete: #512d2d;
	--oasis-diff-text: #4d301f;
	--oasis-fg-comment: #594c4a;
	--oasis-fg-core: #1d0f0c;
	--oasis-fg-dim: #626262;
	--oasis-fg-muted: #504543;
	--oasis-fg-strong: #1f100d;
	--oasis-git-add: #173f12;
	--oasis-git-change: #522f0c;
	--oasis-git-delete: #750000;
	--oasis-syntax-bracket: #25272b;
	--oasis-syntax-builtinConst: #393499;
	--oasis-syntax-builtinFunc: #4a3214;
	--oasis-syntax-builtinVar: #4e1387;
	--oasis-syntax-comment: #544442;
	--oasis-syntax-conditional: #710c10;
	--oasis-syntax-constant: #6a350b;
	--oasis-syntax-delimiter: #8a1d21;
	--oasis-syntax-exception: #493308;
	--oasis-syntax-func: #372712;
	--oasis-syntax-identifier: #184152;
	--oasis-syntax-macro: #2d2a15;
	--oasis-syntax-operator: #6c1518;
	--oasis-syntax-parameter: #234420;
	--oasis-syntax-preproc: #3c3719;
	--oasis-syntax-punctuation: #550f11;
	--oasis-syntax-regex: #52451d;
	--oasis-syntax-special: #562c09;
	--oasis-syntax-statement: #811d1f;
	--oasis-syntax-string: #40230b;
	--oasis-syntax-type: #23423f;
	--oasis-syntax-typedef: #182e2b;
	--oasis-terminal-black: #1d1d1d;
	--oasis-terminal-blue: #0c3864;
	--oasis-terminal-bright-black: #201d19;
	--oasis-terminal-bright-blue: #153b4b;
	--oasis-terminal-bright-cyan: #1f3c38;
	--oasis-terminal-bright-green: #213e1d;
	--oasis-terminal-bright-magenta: #4a1688;
	--oasis-terminal-bright-red: #720b0b;
	--oasis-terminal-bright-white: #201d11;
	--oasis-terminal-bright-yellow: #522f0c;
	--oasis-terminal-color0: #1d1d1d;
	--oasis-terminal-color1: #720b0b;
	--oasis-terminal-color10: #213e1d;
	--oasis-terminal-color11: #522f0c;
	--oasis-terminal-color12: #153b4b;
	--oasis-terminal-color13: #4a1688;
	--oasis-terminal-color14: #1f3c38;
	--oasis-terminal-color15: #201d11;
	--oasis-terminal-color2: #233d20;
	--oasis-terminal-color3: #3c3814;
	--oasis-terminal-color4: #0c3864;
	--oasis-terminal-color5: #4a1687;
	--oasis-terminal-color6: #1f3c39;
	--oasis-terminal-color7: #221d07;
	--oasis-terminal-color8: #201d19;
	--oasis-terminal-color9: #720b0b;
	--oasis-terminal-cyan: #1f3c39;
	--oasis-terminal-green: #233d20;
	--oasis-terminal-magenta: #4a1687;
	--oasis-terminal-red: #720b0b;
	--oasis-terminal-white: #221d07;
	--oasis-terminal-yellow: #3c3814;
	--oasis-theme-accent: #296624;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8a3e05;
	--oasis-theme-light-primary: #590000;
	--oasis-theme-primary: #630000;
	--oasis-theme-secondary: #5f3105;
	--oasis-theme-strong-primary: #7f2727;
	--oasis-ui-border: #521414;
	--oasis-ui-cursorLine: #e38a8a;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #0c181d;
	--oasis-ui-float-bg: #e38a8a;
	--oasis-ui-float-border-bg: #e38a8a;
	--oasis-ui-float-border-fg: #872121;
	--oasis-ui-float-fg: #3a2511;
	--oasis-ui-float-title: #3a2511;
	--oasis-ui-lineNumber: #673e19;
	--oasis-ui-match-bg: #7ad1a7;
	--oasis-ui-match-fg: #0d311f;
	--oasis-ui-matchParen-bg: #e07e7e;
	--oasis-ui-matchParen-fg: #535031;
	--oasis-ui-nontext: #575757;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #521414;
	--oasis-ui-visual-bg: #e07e7e;
	--oasis-ui-visual-fg: none;
}