/* extras/css/themes/light/5/oasis_canyon_light_5.css
 * name: Oasis Canyon Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="canyon_light_5"],
.oasis-canyon_light_5 {
	--oasis-name: "Oasis Canyon Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3d5ba;
	--oasis-bg-mantle: #f1cdad;
	--oasis-bg-shadow: #eec5a0;
	--oasis-bg-surface: #ecbd93;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #5d3d1e;
	--oasis-diff-delete: #643737;
	--oasis-diff-text: #5f3b26;
	--oasis-fg-comment: #76655a;
	--oasis-fg-core: #52412d;
	--oasis-fg-dim: #7c7c7c;
	--oasis-fg-muted: #6d5d53;
	--oasis-fg-strong: #5c3c26;
	--oasis-git-add: #1b4e0d;
	--oasis-git-change: #4b440a;
	--oasis-git-delete: #8e0000;
	--oasis-syntax-bracket: #5b606a;
	--oasis-syntax-builtinConst: #3a516e;
	--oasis-syntax-builtinFunc: #6f470c;
	--oasis-syntax-builtinVar: #50504e;
	--oasis-syntax-comment: #755a4b;
	--oasis-syntax-conditional: #753b0d;
	--oasis-syntax-constant: #363535;
	--oasis-syntax-delimiter: #764319;
	--oasis-syntax-exception: #9b1e22;
	--oasis-syntax-func: #69420b;
	--oasis-syntax-identifier: #20556b;
	--oasis-syntax-operator: #a01117;
	--oasis-syntax-parameter: #5a00b0;
	--oasis-syntax-preproc: #2a5750;
	--oasis-syntax-punctuation: #962529;
	--oasis-syntax-regex: #285b1b;
	--oasis-syntax-special: #7d3f0e;
	--oasis-syntax-statement: #7c400d;
	--oasis-syntax-string: #205439;
	--oasis-syntax-type: #2b514d;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #11518f;
	--oasis-terminal-bright-black: #4b423a;
	--oasis-terminal-bright-blue: #1f566c;
	--oasis-terminal-bright-cyan: #2c5750;
	--oasis-terminal-bright-green: #2d5a20;
	--oasis-terminal-bright-magenta: #6a20c2;
	--oasis-terminal-bright-red: #a11010;
	--oasis-terminal-bright-white: #643a0a;
	--oasis-terminal-bright-yellow: #764311;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #a11010;
	--oasis-terminal-color10: #2d5a20;
	--oasis-terminal-color11: #764311;
	--oasis-terminal-color12: #1f566c;
	--oasis-terminal-color13: #6a20c2;
	--oasis-terminal-color14: #2c5750;
	--oasis-terminal-color15: #643a0a;
	--oasis-terminal-color2: #28593f;
	--oasis-terminal-color3: #56511d;
	--oasis-terminal-color4: #11518f;
	--oasis-terminal-color5: #6b1fc2;
	--oasis-terminal-color6: #2d5752;
	--oasis-terminal-color7: #46443d;
	--oasis-terminal-color8: #4b423a;
	--oasis-terminal-color9: #a11010;
	--oasis-terminal-cyan: #2d5752;
	--oasis-terminal-green: #28593f;
	--oasis-terminal-magenta: #6b1fc2;
	--oasis-terminal-red: #a11010;
	--oasis-terminal-white: #46443d;
	--oasis-terminal-yellow: #56511d;
	--oasis-theme-accent: #025088;
	--oasis-theme-light-primary: #623e04;
	--oasis-theme-primary: #804000;
	--oasis-theme-secondary: #8a0000;
	--oasis-theme-strong-primary: #994a00;
	--oasis-ui-border: #613b18;
	--oasis-ui-cursorLine: #f1cdad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244857;
	--oasis-ui-float-bg: #f1cdad;
	--oasis-ui-float-border-bg: #f1cdad;
	--oasis-ui-float-border-fg: #613b18;
	--oasis-ui-float-fg: #603b17;
	--oasis-ui-float-title: #603b17;
	--oasis-ui-lineNumber: #613b18;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #ecbd93;
	--oasis-ui-matchParen-fg: #1c4766;
	--oasis-ui-nontext: #7c7c7c;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #603b17;
	--oasis-ui-visual-bg: #ecbd93;
	--oasis-ui-visual-fg: none;
}