/* extras/css/themes/light/5/oasis_luna_light_5.css
 * name: Oasis Luna Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="luna_light_5"],
.oasis-luna_light_5 {
	--oasis-name: "Oasis Luna Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #aeadeb;
	--oasis-bg-mantle: #a2a1e8;
	--oasis-bg-shadow: #9695e5;
	--oasis-bg-surface: #8a88e2;
	--oasis-diff-add: #182c22;
	--oasis-diff-change: #241f5a;
	--oasis-diff-delete: #3b2121;
	--oasis-diff-text: #392317;
	--oasis-fg-comment: #4e4b5d;
	--oasis-fg-core: #2a2346;
	--oasis-fg-dim: #615e6d;
	--oasis-fg-muted: #474452;
	--oasis-fg-strong: #292349;
	--oasis-git-add: #112e0d;
	--oasis-git-change: #2c2906;
	--oasis-git-delete: #590000;
	--oasis-syntax-bracket: #42464d;
	--oasis-syntax-builtinConst: #2e2a7a;
	--oasis-syntax-builtinFunc: #4b2f0d;
	--oasis-syntax-builtinVar: #4b0093;
	--oasis-syntax-comment: #484161;
	--oasis-syntax-conditional: #33301b;
	--oasis-syntax-constant: #141313;
	--oasis-syntax-delimiter: #393622;
	--oasis-syntax-exception: #6e0c10;
	--oasis-syntax-func: #3d2d16;
	--oasis-syntax-identifier: #153948;
	--oasis-syntax-operator: #3a361b;
	--oasis-syntax-parameter: #112a0f;
	--oasis-syntax-preproc: #56281a;
	--oasis-syntax-punctuation: #39361e;
	--oasis-syntax-regex: #572535;
	--oasis-syntax-special: #532b09;
	--oasis-syntax-statement: #3b360e;
	--oasis-syntax-string: #610e10;
	--oasis-syntax-type: #1b3431;
	--oasis-terminal-black: #282828;
	--oasis-terminal-blue: #0c3660;
	--oasis-terminal-bright-black: #2c2722;
	--oasis-terminal-bright-blue: #153948;
	--oasis-terminal-bright-cyan: #1e3a36;
	--oasis-terminal-bright-green: #203c1c;
	--oasis-terminal-bright-magenta: #481684;
	--oasis-terminal-bright-red: #6e0b0b;
	--oasis-terminal-bright-white: #2c2818;
	--oasis-terminal-bright-yellow: #4f2d0c;
	--oasis-terminal-color0: #282828;
	--oasis-terminal-color1: #6e0b0b;
	--oasis-terminal-color10: #203c1c;
	--oasis-terminal-color11: #4f2d0c;
	--oasis-terminal-color12: #153948;
	--oasis-terminal-color13: #481684;
	--oasis-terminal-color14: #1e3a36;
	--oasis-terminal-color15: #2c2818;
	--oasis-terminal-color2: #223b1f;
	--oasis-terminal-color3: #3a3613;
	--oasis-terminal-color4: #0c3660;
	--oasis-terminal-color5: #481584;
	--oasis-terminal-color6: #1e3a37;
	--oasis-terminal-color7: #2f280a;
	--oasis-terminal-color8: #2c2722;
	--oasis-terminal-color9: #6e0b0b;
	--oasis-terminal-cyan: #1e3a37;
	--oasis-terminal-green: #223b1f;
	--oasis-terminal-magenta: #481584;
	--oasis-terminal-red: #6e0b0b;
	--oasis-terminal-white: #2f280a;
	--oasis-terminal-yellow: #3a3613;
	--oasis-theme-accent: #116179;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #5b520b;
	--oasis-theme-primary: #71670f;
	--oasis-theme-secondary: #40008a;
	--oasis-theme-secondary-light: #2e0066;
	--oasis-theme-secondary-strong: #6a662f;
	--oasis-theme-strong-primary: #6a662f;
	--oasis-ui-border: #351a55;
	--oasis-ui-cursorLine: #a2a1e8;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #152b34;
	--oasis-ui-float-bg: #a2a1e8;
	--oasis-ui-float-border-bg: #a2a1e8;
	--oasis-ui-float-border-fg: #351a55;
	--oasis-ui-float-fg: #2b2913;
	--oasis-ui-float-title: #2b2913;
	--oasis-ui-lineNumber: #3a230e;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-matchParen-bg: #8a88e2;
	--oasis-ui-matchParen-fg: #2a291a;
	--oasis-ui-nontext: #605e6e;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #2b2913;
	--oasis-ui-visual-bg: #8a88e2;
	--oasis-ui-visual-fg: none;
}