/* extras/css/themes/light/5/oasis_midnight_light_5.css
 * name: Oasis Midnight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="midnight_light_5"],
.oasis-midnight_light_5 {
	--oasis-name: "Oasis Midnight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3cdba;
	--oasis-bg-mantle: #f1c4ad;
	--oasis-bg-shadow: #eebaa0;
	--oasis-bg-surface: #ecb193;
	--oasis-diff-add: #264737;
	--oasis-diff-change: #334250;
	--oasis-diff-delete: #5f3535;
	--oasis-diff-text: #5a3824;
	--oasis-fg-comment: #5d656f;
	--oasis-fg-core: #473f3a;
	--oasis-fg-dim: #7c7771;
	--oasis-fg-muted: #565e64;
	--oasis-fg-strong: #593925;
	--oasis-git-add: #194a0c;
	--oasis-git-change: #474109;
	--oasis-git-delete: #870000;
	--oasis-syntax-bracket: #575d66;
	--oasis-syntax-builtinConst: #474d57;
	--oasis-syntax-builtinFunc: #7a3b0d;
	--oasis-syntax-builtinVar: #4b4d4d;
	--oasis-syntax-comment: #525e6c;
	--oasis-syntax-conditional: #901015;
	--oasis-syntax-constant: #323131;
	--oasis-syntax-delimiter: #78393d;
	--oasis-syntax-exception: #554d15;
	--oasis-syntax-func: #6d3a0c;
	--oasis-syntax-identifier: #2c534e;
	--oasis-syntax-operator: #833316;
	--oasis-syntax-parameter: #5500a7;
	--oasis-syntax-preproc: #1d5268;
	--oasis-syntax-punctuation: #902327;
	--oasis-syntax-regex: #27571a;
	--oasis-syntax-special: #763d0d;
	--oasis-syntax-statement: #941d21;
	--oasis-syntax-string: #1f5037;
	--oasis-syntax-type: #294d49;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #114d8a;
	--oasis-terminal-bright-black: #463f3b;
	--oasis-terminal-bright-blue: #1e5267;
	--oasis-terminal-bright-cyan: #2a534d;
	--oasis-terminal-bright-green: #2b561f;
	--oasis-terminal-bright-magenta: #651fba;
	--oasis-terminal-bright-red: #9a0f0f;
	--oasis-terminal-bright-white: #5f370a;
	--oasis-terminal-bright-yellow: #714011;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #9a0f0f;
	--oasis-terminal-color10: #2b561f;
	--oasis-terminal-color11: #714011;
	--oasis-terminal-color12: #1e5267;
	--oasis-terminal-color13: #651fba;
	--oasis-terminal-color14: #2a534d;
	--oasis-terminal-color15: #5f370a;
	--oasis-terminal-color2: #26553c;
	--oasis-terminal-color3: #534d1b;
	--oasis-terminal-color4: #114d8a;
	--oasis-terminal-color5: #661eb9;
	--oasis-terminal-color6: #2b534e;
	--oasis-terminal-color7: #42403a;
	--oasis-terminal-color8: #463f3b;
	--oasis-terminal-color9: #9a0f0f;
	--oasis-terminal-cyan: #2b534e;
	--oasis-terminal-green: #26553c;
	--oasis-terminal-magenta: #661eb9;
	--oasis-terminal-red: #9a0f0f;
	--oasis-terminal-white: #42403a;
	--oasis-terminal-yellow: #534d1b;
	--oasis-theme-accent: #2e5c55;
	--oasis-theme-light-primary: #5a0c0c;
	--oasis-theme-primary: #800000;
	--oasis-theme-secondary: #834406;
	--oasis-theme-strong-primary: #752424;
	--oasis-ui-border: #7a1e1e;
	--oasis-ui-cursorLine: #f1c4ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #224553;
	--oasis-ui-float-bg: #f1c4ad;
	--oasis-ui-float-border-bg: #f1c4ad;
	--oasis-ui-float-border-fg: #7a1e1e;
	--oasis-ui-float-fg: #7a1e1e;
	--oasis-ui-float-title: #7a1e1e;
	--oasis-ui-lineNumber: #5b3816;
	--oasis-ui-match-bg: #7ad1a1;
	--oasis-ui-match-fg: #0d311d;
	--oasis-ui-nontext: #7f776e;
	--oasis-ui-search-bg: #e19d9d;
	--oasis-ui-search-fg: #4e0e0e;
	--oasis-ui-title: #7a1e1e;
	--oasis-ui-visual-bg: #ecb193;
	--oasis-ui-visual-fg: none;
}