/* extras/css/themes/light/5/oasis_rose_light_5.css
 * name: Oasis Rose Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="rose_light_5"],
.oasis-rose_light_5 {
	--oasis-name: "Oasis Rose Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f0c2e3;
	--oasis-bg-mantle: #edb6dd;
	--oasis-bg-shadow: #eaa9d8;
	--oasis-bg-surface: #e79dd2;
	--oasis-diff-add: #244334;
	--oasis-diff-change: #4d3646;
	--oasis-diff-delete: #5a3232;
	--oasis-diff-text: #563522;
	--oasis-fg-comment: #6b5d65;
	--oasis-fg-core: #1a0f12;
	--oasis-fg-dim: #7c736e;
	--oasis-fg-muted: #62565e;
	--oasis-fg-strong: #392633;
	--oasis-git-add: #1a4613;
	--oasis-git-change: #433e09;
	--oasis-git-delete: #810000;
	--oasis-syntax-bracket: #373a40;
	--oasis-syntax-builtinConst: #4943bf;
	--oasis-syntax-builtinFunc: #63431b;
	--oasis-syntax-builtinVar: #6619b0;
	--oasis-syntax-comment: #6c525f;
	--oasis-syntax-conditional: #713749;
	--oasis-syntax-constant: #85430e;
	--oasis-syntax-delimiter: #784d5b;
	--oasis-syntax-exception: #941015;
	--oasis-syntax-func: #50381a;
	--oasis-syntax-identifier: #20556a;
	--oasis-syntax-macro: #5d3125;
	--oasis-syntax-operator: #74344a;
	--oasis-syntax-parameter: #2e5829;
	--oasis-syntax-preproc: #832c16;
	--oasis-syntax-punctuation: #5e2e3d;
	--oasis-syntax-regex: #b01319;
	--oasis-syntax-special: #723b0c;
	--oasis-syntax-statement: #8d3853;
	--oasis-syntax-string: #443e11;
	--oasis-syntax-type: #2d5651;
	--oasis-syntax-typedef: #23423f;
	--oasis-terminal-black: #3d3d3d;
	--oasis-terminal-blue: #104a83;
	--oasis-terminal-bright-black: #443c34;
	--oasis-terminal-bright-blue: #1c4e63;
	--oasis-terminal-bright-cyan: #28504a;
	--oasis-terminal-bright-green: #2b5226;
	--oasis-terminal-bright-magenta: #611db2;
	--oasis-terminal-bright-red: #940e0e;
	--oasis-terminal-bright-white: #433d24;
	--oasis-terminal-bright-yellow: #6c3e10;
	--oasis-terminal-color0: #3d3d3d;
	--oasis-terminal-color1: #940e0e;
	--oasis-terminal-color10: #2b5226;
	--oasis-terminal-color11: #6c3e10;
	--oasis-terminal-color12: #1c4e63;
	--oasis-terminal-color13: #611db2;
	--oasis-terminal-color14: #28504a;
	--oasis-terminal-color15: #433d24;
	--oasis-terminal-color2: #2e512b;
	--oasis-terminal-color3: #4f4a1a;
	--oasis-terminal-color4: #104a83;
	--oasis-terminal-color5: #621db2;
	--oasis-terminal-color6: #29504b;
	--oasis-terminal-color7: #473c0f;
	--oasis-terminal-color8: #443c34;
	--oasis-terminal-color9: #940e0e;
	--oasis-terminal-cyan: #29504b;
	--oasis-terminal-green: #2e512b;
	--oasis-terminal-magenta: #621db2;
	--oasis-terminal-red: #940e0e;
	--oasis-terminal-white: #473c0f;
	--oasis-terminal-yellow: #4f4a1a;
	--oasis-theme-accent: #286259;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #325d34;
	--oasis-theme-light-primary: #451424;
	--oasis-theme-primary: #491a2a;
	--oasis-theme-secondary: #224123;
	--oasis-theme-strong-primary: #772f47;
	--oasis-ui-border: #52353e;
	--oasis-ui-cursorLine: #edb6dd;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #172f39;
	--oasis-ui-float-bg: #edb6dd;
	--oasis-ui-float-border-bg: #edb6dd;
	--oasis-ui-float-border-fg: #774d5b;
	--oasis-ui-float-fg: #2f4130;
	--oasis-ui-float-title: #2f4130;
	--oasis-ui-lineNumber: #804d1f;
	--oasis-ui-match-bg: #72dacc;
	--oasis-ui-match-fg: #09342f;
	--oasis-ui-matchParen-bg: #e79dd2;
	--oasis-ui-matchParen-fg: #4d684e;
	--oasis-ui-nontext: #736860;
	--oasis-ui-search-bg: #dba3c6;
	--oasis-ui-search-fg: #481335;
	--oasis-ui-title: #54343f;
	--oasis-ui-visual-bg: #e79dd2;
	--oasis-ui-visual-fg: none;
}