/* extras/css/themes/light/5/oasis_dune_light_5.css
 * name: Oasis Dune Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="dune_light_5"],
.oasis-dune_light_5 {
	--oasis-name: "Oasis Dune Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3d8ba;
	--oasis-bg-mantle: #f1d1ad;
	--oasis-bg-shadow: #eec9a0;
	--oasis-bg-surface: #ecc293;
	--oasis-diff-add: #294c3b;
	--oasis-diff-change: #4d4439;
	--oasis-diff-delete: #663838;
	--oasis-diff-text: #613c27;
	--oasis-fg-comment: #716860;
	--oasis-fg-core: #161513;
	--oasis-fg-dim: #7d7d7d;
	--oasis-fg-muted: #696057;
	--oasis-fg-strong: #373624;
	--oasis-git-add: #1d4f16;
	--oasis-git-change: #4c460a;
	--oasis-git-delete: #900000;
	--oasis-syntax-bracket: #3f4349;
	--oasis-syntax-builtinConst: #534dc2;
	--oasis-syntax-builtinFunc: #6d4a1e;
	--oasis-syntax-builtinVar: #711bc3;
	--oasis-syntax-comment: #6b5f58;
	--oasis-syntax-conditional: #56522e;
	--oasis-syntax-constant: #924a10;
	--oasis-syntax-delimiter: #67623d;
	--oasis-syntax-exception: #a31218;
	--oasis-syntax-func: #564127;
	--oasis-syntax-identifier: #235d75;
	--oasis-syntax-macro: #6f3421;
	--oasis-syntax-operator: #595225;
	--oasis-syntax-parameter: #32612e;
	--oasis-syntax-preproc: #913018;
	--oasis-syntax-punctuation: #4a4622;
	--oasis-syntax-regex: #9f3f5e;
	--oasis-syntax-special: #7e410e;
	--oasis-syntax-statement: #685e19;
	--oasis-syntax-string: #8c0f14;
	--oasis-syntax-type: #325e5a;
	--oasis-syntax-typedef: #274b47;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #125292;
	--oasis-terminal-bright-black: #4d433b;
	--oasis-terminal-bright-blue: #20576e;
	--oasis-terminal-bright-cyan: #2d5852;
	--oasis-terminal-bright-green: #305b2a;
	--oasis-terminal-bright-magenta: #6b20c5;
	--oasis-terminal-bright-red: #a31010;
	--oasis-terminal-bright-white: #4d4529;
	--oasis-terminal-bright-yellow: #784512;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #a31010;
	--oasis-terminal-color10: #305b2a;
	--oasis-terminal-color11: #784512;
	--oasis-terminal-color12: #20576e;
	--oasis-terminal-color13: #6b20c5;
	--oasis-terminal-color14: #2d5852;
	--oasis-terminal-color15: #4d4529;
	--oasis-terminal-color2: #335a2f;
	--oasis-terminal-color3: #58521d;
	--oasis-terminal-color4: #125292;
	--oasis-terminal-color5: #6c20c4;
	--oasis-terminal-color6: #2d5853;
	--oasis-terminal-color7: #514411;
	--oasis-terminal-color8: #4d433b;
	--oasis-terminal-color9: #a31010;
	--oasis-terminal-cyan: #2d5853;
	--oasis-terminal-green: #335a2f;
	--oasis-terminal-magenta: #6c20c4;
	--oasis-terminal-red: #a31010;
	--oasis-terminal-white: #514411;
	--oasis-terminal-yellow: #58521d;
	--oasis-theme-accent: #3e008a;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #2a655e;
	--oasis-theme-light-primary: #504809;
	--oasis-theme-primary: #4c4718;
	--oasis-theme-secondary: #1d4640;
	--oasis-theme-strong-primary: #736533;
	--oasis-ui-border: #484631;
	--oasis-ui-cursorLine: #f1d1ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1c3844;
	--oasis-ui-float-bg: #f1d1ad;
	--oasis-ui-float-border-bg: #f1d1ad;
	--oasis-ui-float-border-fg: #656246;
	--oasis-ui-float-fg: #2d4b46;
	--oasis-ui-float-title: #2d4b46;
	--oasis-ui-lineNumber: #8b5422;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #ecc293;
	--oasis-ui-matchParen-fg: #45716c;
	--oasis-ui-nontext: #727272;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #48462b;
	--oasis-ui-visual-bg: #ecc293;
	--oasis-ui-visual-fg: none;
}