/* extras/css/themes/light/5/oasis_desert_light_5.css
 * name: Oasis Desert Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="desert_light_5"],
.oasis-desert_light_5 {
	--oasis-name: "Oasis Desert Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ede4b7;
	--oasis-bg-mantle: #e8dda5;
	--oasis-bg-shadow: #eadfab;
	--oasis-bg-surface: #e1d286;
	--oasis-diff-add: #325e49;
	--oasis-diff-change: #555555;
	--oasis-diff-delete: #7d4545;
	--oasis-diff-text: #784a30;
	--oasis-fg-comment: #706e65;
	--oasis-fg-core: #191510;
	--oasis-fg-dim: #77848c;
	--oasis-fg-muted: #69665d;
	--oasis-fg-strong: #3f3831;
	--oasis-git-add: #24611b;
	--oasis-git-change: #7e4812;
	--oasis-git-delete: #af0000;
	--oasis-syntax-bracket: #43474e;
	--oasis-syntax-builtinConst: #5852c4;
	--oasis-syntax-builtinFunc: #734e20;
	--oasis-syntax-builtinVar: #761dcc;
	--oasis-syntax-comment: #69665a;
	--oasis-syntax-conditional: #5b5630;
	--oasis-syntax-constant: #984d11;
	--oasis-syntax-delimiter: #6c6740;
	--oasis-syntax-exception: #aa1219;
	--oasis-syntax-func: #5b452a;
	--oasis-syntax-identifier: #24627a;
	--oasis-syntax-macro: #753723;
	--oasis-syntax-operator: #5d5627;
	--oasis-syntax-parameter: #356630;
	--oasis-syntax-preproc: #983319;
	--oasis-syntax-punctuation: #4f4a24;
	--oasis-syntax-regex: #a64162;
	--oasis-syntax-special: #84440e;
	--oasis-syntax-statement: #6c621a;
	--oasis-syntax-string: #941015;
	--oasis-syntax-type: #34635d;
	--oasis-syntax-typedef: #2a504c;
	--oasis-terminal-black: #3f3f3f;
	--oasis-terminal-blue: #135699;
	--oasis-terminal-bright-black: #463e36;
	--oasis-terminal-bright-blue: #215b73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #325f2c;
	--oasis-terminal-bright-magenta: #7122cf;
	--oasis-terminal-bright-red: #ab1111;
	--oasis-terminal-bright-white: #463f25;
	--oasis-terminal-bright-yellow: #7e4812;
	--oasis-terminal-color0: #3f3f3f;
	--oasis-terminal-color1: #ab1111;
	--oasis-terminal-color10: #325f2c;
	--oasis-terminal-color11: #7e4812;
	--oasis-terminal-color12: #215b73;
	--oasis-terminal-color13: #7122cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #463f25;
	--oasis-terminal-color2: #365f32;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135699;
	--oasis-terminal-color5: #7122ce;
	--oasis-terminal-color6: #305d57;
	--oasis-terminal-color7: #4a3e0f;
	--oasis-terminal-color8: #463e36;
	--oasis-terminal-color9: #ab1111;
	--oasis-terminal-cyan: #305d57;
	--oasis-terminal-green: #365f32;
	--oasis-terminal-magenta: #7122ce;
	--oasis-terminal-red: #ab1111;
	--oasis-terminal-white: #4a3e0f;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #296624;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #4f480a;
	--oasis-theme-primary: #58500b;
	--oasis-theme-secondary: #630000;
	--oasis-theme-secondary-light: #590000;
	--oasis-theme-secondary-strong: #7f2727;
	--oasis-theme-strong-primary: #736e33;
	--oasis-ui-border: #5f5a2b;
	--oasis-ui-cursorLine: #e8dda5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #295365;
	--oasis-ui-float-bg: #e8dda5;
	--oasis-ui-float-border-bg: #e8dda5;
	--oasis-ui-float-border-fg: #5f5a2b;
	--oasis-ui-float-fg: #7b1e1e;
	--oasis-ui-float-title: #7b1e1e;
	--oasis-ui-lineNumber: #925823;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e1d286;
	--oasis-ui-matchParen-fg: #9b5050;
	--oasis-ui-nontext: #6c7981;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #a72828;
	--oasis-ui-visual-bg: #e1d286;
	--oasis-ui-visual-fg: none;
}