/* extras/css/themes/light/5/oasis_starlight_light_5.css
 * name: Oasis Starlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="starlight_light_5"],
.oasis-starlight_light_5 {
	--oasis-name: "Oasis Starlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ebe5d5;
	--oasis-bg-mantle: #e4dbc5;
	--oasis-bg-shadow: #e6dfcb;
	--oasis-bg-surface: #d7cbac;
	--oasis-diff-add: #335f4a;
	--oasis-diff-change: #4c576c;
	--oasis-diff-delete: #7f4646;
	--oasis-diff-text: #794b30;
	--oasis-fg-comment: #66707b;
	--oasis-fg-core: #181611;
	--oasis-fg-dim: #90807a;
	--oasis-fg-muted: #606871;
	--oasis-fg-strong: #3c3a35;
	--oasis-git-add: #24631b;
	--oasis-git-change: #804913;
	--oasis-git-delete: #b20000;
	--oasis-syntax-bracket: #44484f;
	--oasis-syntax-builtinConst: #5954c5;
	--oasis-syntax-builtinFunc: #754f20;
	--oasis-syntax-builtinVar: #781dcf;
	--oasis-syntax-comment: #5a687b;
	--oasis-syntax-conditional: #125897;
	--oasis-syntax-constant: #9a4e11;
	--oasis-syntax-delimiter: #266aa7;
	--oasis-syntax-exception: #ad1319;
	--oasis-syntax-func: #624520;
	--oasis-syntax-identifier: #25637c;
	--oasis-syntax-macro: #4f4b2a;
	--oasis-syntax-operator: #1255a7;
	--oasis-syntax-parameter: #356730;
	--oasis-syntax-preproc: #5e5727;
	--oasis-syntax-punctuation: #104991;
	--oasis-syntax-regex: #a14866;
	--oasis-syntax-special: #86450f;
	--oasis-syntax-statement: #1565ac;
	--oasis-syntax-string: #961016;
	--oasis-syntax-type: #35645f;
	--oasis-syntax-typedef: #2b514c;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #13579b;
	--oasis-terminal-bright-black: #473f37;
	--oasis-terminal-bright-blue: #225d75;
	--oasis-terminal-bright-cyan: #305f57;
	--oasis-terminal-bright-green: #33612d;
	--oasis-terminal-bright-magenta: #7222d2;
	--oasis-terminal-bright-red: #ae1111;
	--oasis-terminal-bright-white: #474026;
	--oasis-terminal-bright-yellow: #804913;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #ae1111;
	--oasis-terminal-color10: #33612d;
	--oasis-terminal-color11: #804913;
	--oasis-terminal-color12: #225d75;
	--oasis-terminal-color13: #7222d2;
	--oasis-terminal-color14: #305f57;
	--oasis-terminal-color15: #474026;
	--oasis-terminal-color2: #366033;
	--oasis-terminal-color3: #5e581f;
	--oasis-terminal-color4: #13579b;
	--oasis-terminal-color5: #7322d1;
	--oasis-terminal-color6: #305e59;
	--oasis-terminal-color7: #4b4010;
	--oasis-terminal-color8: #473f37;
	--oasis-terminal-color9: #ae1111;
	--oasis-terminal-cyan: #305e59;
	--oasis-terminal-green: #366033;
	--oasis-terminal-magenta: #7322d1;
	--oasis-terminal-red: #ae1111;
	--oasis-terminal-white: #4b4010;
	--oasis-terminal-yellow: #5e581f;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #696426;
	--oasis-theme-light-primary: #0d3a4c;
	--oasis-theme-primary: #013a62;
	--oasis-theme-secondary: #58500b;
	--oasis-theme-strong-primary: #135f93;
	--oasis-ui-border: #255e86;
	--oasis-ui-cursorLine: #e4dbc5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #2a5466;
	--oasis-ui-float-bg: #e4dbc5;
	--oasis-ui-float-border-bg: #e4dbc5;
	--oasis-ui-float-border-fg: #255e86;
	--oasis-ui-float-fg: #474320;
	--oasis-ui-float-title: #474320;
	--oasis-ui-lineNumber: #945924;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #d7cbac;
	--oasis-ui-matchParen-fg: #935922;
	--oasis-ui-nontext: #8a746d;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #255e88;
	--oasis-ui-visual-bg: #d7cbac;
	--oasis-ui-visual-fg: none;
}