/* extras/css/themes/light/5/oasis_moonlight_light_5.css
 * name: Oasis Moonlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="moonlight_light_5"],
.oasis-moonlight_light_5 {
	--oasis-name: "Oasis Moonlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #e9ddbe;
	--oasis-bg-mantle: #e6d7b3;
	--oasis-bg-shadow: #e2d1a7;
	--oasis-bg-surface: #decb9c;
	--oasis-diff-add: #294d3c;
	--oasis-diff-change: #354761;
	--oasis-diff-delete: #673939;
	--oasis-diff-text: #623d27;
	--oasis-fg-comment: #636b75;
	--oasis-fg-core: #161412;
	--oasis-fg-dim: #797f87;
	--oasis-fg-muted: #5b636a;
	--oasis-fg-strong: #233653;
	--oasis-git-add: #1d5016;
	--oasis-git-change: #4e470a;
	--oasis-git-delete: #920000;
	--oasis-syntax-bracket: #3f434a;
	--oasis-syntax-builtinConst: #534ec3;
	--oasis-syntax-builtinFunc: #6e4b1e;
	--oasis-syntax-builtinVar: #721cc5;
	--oasis-syntax-comment: #576373;
	--oasis-syntax-conditional: #57532f;
	--oasis-syntax-constant: #934a10;
	--oasis-syntax-delimiter: #306694;
	--oasis-syntax-exception: #a41218;
	--oasis-syntax-func: #574228;
	--oasis-syntax-identifier: #235e76;
	--oasis-syntax-macro: #6a382a;
	--oasis-syntax-operator: #585329;
	--oasis-syntax-parameter: #33622e;
	--oasis-syntax-preproc: #933118;
	--oasis-syntax-punctuation: #4a4728;
	--oasis-syntax-regex: #a03f5f;
	--oasis-syntax-special: #7f420e;
	--oasis-syntax-statement: #695f19;
	--oasis-syntax-string: #8e0f14;
	--oasis-syntax-type: #325f59;
	--oasis-syntax-typedef: #284c48;
	--oasis-terminal-black: #304768;
	--oasis-terminal-blue: #125393;
	--oasis-terminal-bright-black: #3b4851;
	--oasis-terminal-bright-blue: #20586f;
	--oasis-terminal-bright-cyan: #2d5952;
	--oasis-terminal-bright-green: #305c2b;
	--oasis-terminal-bright-magenta: #6c21c7;
	--oasis-terminal-bright-red: #a51010;
	--oasis-terminal-bright-white: #4d4629;
	--oasis-terminal-bright-yellow: #794512;
	--oasis-terminal-color0: #304768;
	--oasis-terminal-color1: #a51010;
	--oasis-terminal-color10: #305c2b;
	--oasis-terminal-color11: #794512;
	--oasis-terminal-color12: #20586f;
	--oasis-terminal-color13: #6c21c7;
	--oasis-terminal-color14: #2d5952;
	--oasis-terminal-color15: #4d4629;
	--oasis-terminal-color2: #335b30;
	--oasis-terminal-color3: #59531d;
	--oasis-terminal-color4: #125393;
	--oasis-terminal-color5: #6d20c6;
	--oasis-terminal-color6: #2e5954;
	--oasis-terminal-color7: #524511;
	--oasis-terminal-color8: #3b4851;
	--oasis-terminal-color9: #a51010;
	--oasis-terminal-cyan: #2e5954;
	--oasis-terminal-green: #335b30;
	--oasis-terminal-magenta: #6d20c6;
	--oasis-terminal-red: #a51010;
	--oasis-terminal-white: #524511;
	--oasis-terminal-yellow: #59531d;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #1a2d3f;
	--oasis-theme-primary: #1e3146;
	--oasis-theme-secondary: #58500b;
	--oasis-theme-strong-primary: #315275;
	--oasis-ui-border: #36485a;
	--oasis-ui-cursorLine: #e6d7b3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1d3945;
	--oasis-ui-float-bg: #e6d7b3;
	--oasis-ui-float-border-bg: #e6d7b3;
	--oasis-ui-float-border-fg: #4b657e;
	--oasis-ui-float-fg: #4b4722;
	--oasis-ui-float-title: #4b4722;
	--oasis-ui-lineNumber: #8d5522;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #decb9c;
	--oasis-ui-matchParen-fg: #6f6b46;
	--oasis-ui-nontext: #6c747f;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #36485a;
	--oasis-ui-visual-bg: #decb9c;
	--oasis-ui-visual-fg: none;
}