/* extras/css/themes/light/5/oasis_lagoon_light_5.css
 * name: Oasis Lagoon Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="lagoon_light_5"],
.oasis-lagoon_light_5 {
	--oasis-name: "Oasis Lagoon Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #bcd6f5;
	--oasis-bg-mantle: #afcef3;
	--oasis-bg-shadow: #a1c6f1;
	--oasis-bg-surface: #94beef;
	--oasis-diff-add: #254636;
	--oasis-diff-change: #274068;
	--oasis-diff-delete: #5e3434;
	--oasis-diff-text: #593824;
	--oasis-fg-comment: #536670;
	--oasis-fg-core: #30405b;
	--oasis-fg-dim: #7f766d;
	--oasis-fg-muted: #4d5e68;
	--oasis-fg-strong: #33414c;
	--oasis-git-add: #19490c;
	--oasis-git-change: #464009;
	--oasis-git-delete: #860000;
	--oasis-syntax-bracket: #575c66;
	--oasis-syntax-builtinConst: #474c56;
	--oasis-syntax-builtinFunc: #793a0d;
	--oasis-syntax-builtinVar: #4c4c4a;
	--oasis-syntax-comment: #455f6f;
	--oasis-syntax-conditional: #0f487b;
	--oasis-syntax-constant: #313030;
	--oasis-syntax-delimiter: #1b4e7c;
	--oasis-syntax-exception: #941b1e;
	--oasis-syntax-func: #6d390c;
	--oasis-syntax-identifier: #2b524d;
	--oasis-syntax-operator: #981116;
	--oasis-syntax-parameter: #5400a5;
	--oasis-syntax-preproc: #1c5167;
	--oasis-syntax-punctuation: #8f2327;
	--oasis-syntax-regex: #26561a;
	--oasis-syntax-special: #753d0d;
	--oasis-syntax-statement: #104d84;
	--oasis-syntax-string: #1f4f36;
	--oasis-syntax-type: #284c49;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #104d88;
	--oasis-terminal-bright-black: #463e37;
	--oasis-terminal-bright-blue: #1d5166;
	--oasis-terminal-bright-cyan: #2a534c;
	--oasis-terminal-bright-green: #2a551f;
	--oasis-terminal-bright-magenta: #641eb8;
	--oasis-terminal-bright-red: #990f0f;
	--oasis-terminal-bright-white: #5d3609;
	--oasis-terminal-bright-yellow: #704010;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #990f0f;
	--oasis-terminal-color10: #2a551f;
	--oasis-terminal-color11: #704010;
	--oasis-terminal-color12: #1d5166;
	--oasis-terminal-color13: #641eb8;
	--oasis-terminal-color14: #2a534c;
	--oasis-terminal-color15: #5d3609;
	--oasis-terminal-color2: #26543c;
	--oasis-terminal-color3: #524d1b;
	--oasis-terminal-color4: #104d88;
	--oasis-terminal-color5: #651eb8;
	--oasis-terminal-color6: #2a524e;
	--oasis-terminal-color7: #413f39;
	--oasis-terminal-color8: #463e37;
	--oasis-terminal-color9: #990f0f;
	--oasis-terminal-cyan: #2a524e;
	--oasis-terminal-green: #26543c;
	--oasis-terminal-magenta: #651eb8;
	--oasis-terminal-red: #990f0f;
	--oasis-terminal-white: #413f39;
	--oasis-terminal-yellow: #524d1b;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-light-primary: #013a65;
	--oasis-theme-primary: #024a7e;
	--oasis-theme-secondary: #834406;
	--oasis-theme-strong-primary: #015a98;
	--oasis-ui-border: #1a435f;
	--oasis-ui-cursorLine: #afcef3;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #224452;
	--oasis-ui-float-bg: #afcef3;
	--oasis-ui-float-border-bg: #afcef3;
	--oasis-ui-float-border-fg: #1a435f;
	--oasis-ui-float-fg: #1a4360;
	--oasis-ui-float-title: #1a4360;
	--oasis-ui-lineNumber: #5b3716;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-nontext: #80766b;
	--oasis-ui-search-bg: #9fcae0;
	--oasis-ui-search-fg: #0f384c;
	--oasis-ui-title: #1a4360;
	--oasis-ui-visual-bg: #94beef;
	--oasis-ui-visual-fg: none;
}