/* extras/css/themes/light/5/oasis_cactus_light_5.css
 * name: Oasis Cactus Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="cactus_light_5"],
.oasis-cactus_light_5 {
	--oasis-name: "Oasis Cactus Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #cbebd7;
	--oasis-bg-mantle: #c0e7cf;
	--oasis-bg-shadow: #b5e2c6;
	--oasis-bg-surface: #aadebe;
	--oasis-diff-add: #2b513f;
	--oasis-diff-change: #3e4d40;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #607261;
	--oasis-fg-core: #3c4d44;
	--oasis-fg-dim: #8b8077;
	--oasis-fg-muted: #5d6960;
	--oasis-fg-strong: #384f3d;
	--oasis-git-add: #1d540e;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #980000;
	--oasis-syntax-bracket: #606674;
	--oasis-syntax-builtinConst: #3d5775;
	--oasis-syntax-builtinFunc: #88420f;
	--oasis-syntax-builtinVar: #555553;
	--oasis-syntax-comment: #556b57;
	--oasis-syntax-conditional: #345835;
	--oasis-syntax-constant: #3c3a3a;
	--oasis-syntax-delimiter: #3e5d40;
	--oasis-syntax-exception: #a22527;
	--oasis-syntax-func: #7c400d;
	--oasis-syntax-identifier: #225c73;
	--oasis-syntax-operator: #ab1319;
	--oasis-syntax-parameter: #6100be;
	--oasis-syntax-preproc: #784b0d;
	--oasis-syntax-punctuation: #a71c20;
	--oasis-syntax-regex: #2b611d;
	--oasis-syntax-special: #85440e;
	--oasis-syntax-statement: #375e39;
	--oasis-syntax-string: #235a3f;
	--oasis-syntax-type: #155288;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135699;
	--oasis-terminal-bright-black: #51483f;
	--oasis-terminal-bright-blue: #215b73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #306023;
	--oasis-terminal-bright-magenta: #7022cf;
	--oasis-terminal-bright-red: #ac1111;
	--oasis-terminal-bright-white: #6b3f0b;
	--oasis-terminal-bright-yellow: #7e4813;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #ac1111;
	--oasis-terminal-color10: #306023;
	--oasis-terminal-color11: #7e4813;
	--oasis-terminal-color12: #215b73;
	--oasis-terminal-color13: #7022cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #6b3f0b;
	--oasis-terminal-color2: #2a5f43;
	--oasis-terminal-color3: #5c561f;
	--oasis-terminal-color4: #135699;
	--oasis-terminal-color5: #7222ce;
	--oasis-terminal-color6: #305d57;
	--oasis-terminal-color7: #4c4942;
	--oasis-terminal-color8: #51483f;
	--oasis-terminal-color9: #ac1111;
	--oasis-terminal-cyan: #305d57;
	--oasis-terminal-green: #2a5f43;
	--oasis-terminal-magenta: #7222ce;
	--oasis-terminal-red: #ac1111;
	--oasis-terminal-white: #4c4942;
	--oasis-terminal-yellow: #5c561f;
	--oasis-theme-accent: #3e008a;
	--oasis-theme-light-primary: #224424;
	--oasis-theme-primary: #2c532e;
	--oasis-theme-secondary: #8a0000;
	--oasis-theme-strong-primary: #356437;
	--oasis-ui-border: #3b4e3c;
	--oasis-ui-cursorLine: #c0e7cf;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #274e5e;
	--oasis-ui-float-bg: #c0e7cf;
	--oasis-ui-float-border-bg: #c0e7cf;
	--oasis-ui-float-border-fg: #3b4e3c;
	--oasis-ui-float-fg: #3b4e3c;
	--oasis-ui-float-title: #3b4e3c;
	--oasis-ui-lineNumber: #694019;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #aadebe;
	--oasis-ui-matchParen-fg: #862828;
	--oasis-ui-nontext: #8c8075;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #3b4e3c;
	--oasis-ui-visual-bg: #aadebe;
	--oasis-ui-visual-fg: none;
}