/* extras/css/themes/light/5/oasis_midnight_light_5.css
 * name: Oasis Midnight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="midnight_light_5"],
.oasis-midnight_light_5 {
	--oasis-name: "Oasis Midnight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f0cea8;
	--oasis-bg-mantle: #eec79b;
	--oasis-bg-shadow: #ebbf8e;
	--oasis-bg-surface: #e9b881;
	--oasis-diff-add: #254636;
	--oasis-diff-change: #2e4157;
	--oasis-diff-delete: #5e3434;
	--oasis-diff-text: #593824;
	--oasis-fg-comment: #5d656e;
	--oasis-fg-core: #463e3a;
	--oasis-fg-dim: #7c7770;
	--oasis-fg-muted: #555d63;
	--oasis-fg-strong: #583824;
	--oasis-git-add: #1b4914;
	--oasis-git-change: #464009;
	--oasis-git-delete: #860000;
	--oasis-syntax-bracket: #575c66;
	--oasis-syntax-builtinConst: #403bac;
	--oasis-syntax-builtinFunc: #6a4313;
	--oasis-syntax-builtinVar: #6700ca;
	--oasis-syntax-comment: #525d6c;
	--oasis-syntax-conditional: #4b4728;
	--oasis-syntax-constant: #313030;
	--oasis-syntax-delimiter: #504d30;
	--oasis-syntax-exception: #981116;
	--oasis-syntax-func: #5a4220;
	--oasis-syntax-identifier: #1e5166;
	--oasis-syntax-operator: #524c26;
	--oasis-syntax-parameter: #1d4619;
	--oasis-syntax-preproc: #882d17;
	--oasis-syntax-punctuation: #514d2b;
	--oasis-syntax-regex: #7b344b;
	--oasis-syntax-special: #753d0d;
	--oasis-syntax-statement: #544c14;
	--oasis-syntax-string: #8d1418;
	--oasis-syntax-type: #284c49;
	--oasis-terminal-black: #404040;
	--oasis-terminal-blue: #104d88;
	--oasis-terminal-bright-black: #463e37;
	--oasis-terminal-bright-blue: #1d5167;
	--oasis-terminal-bright-cyan: #2a534c;
	--oasis-terminal-bright-green: #2d5527;
	--oasis-terminal-bright-magenta: #641eb9;
	--oasis-terminal-bright-red: #990f0f;
	--oasis-terminal-bright-white: #463f26;
	--oasis-terminal-bright-yellow: #704010;
	--oasis-terminal-color0: #404040;
	--oasis-terminal-color1: #990f0f;
	--oasis-terminal-color10: #2d5527;
	--oasis-terminal-color11: #704010;
	--oasis-terminal-color12: #1d5167;
	--oasis-terminal-color13: #641eb9;
	--oasis-terminal-color14: #2a534c;
	--oasis-terminal-color15: #463f26;
	--oasis-terminal-color2: #30542c;
	--oasis-terminal-color3: #524d1b;
	--oasis-terminal-color4: #104d88;
	--oasis-terminal-color5: #651eb8;
	--oasis-terminal-color6: #2a524e;
	--oasis-terminal-color7: #4b3f10;
	--oasis-terminal-color8: #463e37;
	--oasis-terminal-color9: #990f0f;
	--oasis-terminal-cyan: #2a524e;
	--oasis-terminal-green: #30542c;
	--oasis-terminal-magenta: #651eb8;
	--oasis-terminal-red: #990f0f;
	--oasis-terminal-white: #4b3f10;
	--oasis-terminal-yellow: #524d1b;
	--oasis-theme-accent: #296624;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #5b520b;
	--oasis-theme-primary: #615b1e;
	--oasis-theme-secondary: #8a0000;
	--oasis-theme-secondary-light: #660000;
	--oasis-theme-secondary-strong: #752424;
	--oasis-theme-strong-primary: #6a662f;
	--oasis-ui-border: #791d1d;
	--oasis-ui-cursorLine: #eec79b;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #224452;
	--oasis-ui-float-bg: #eec79b;
	--oasis-ui-float-border-bg: #eec79b;
	--oasis-ui-float-border-fg: #791d1d;
	--oasis-ui-float-fg: #791d1d;
	--oasis-ui-float-title: #791d1d;
	--oasis-ui-lineNumber: #5b3716;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e9b881;
	--oasis-ui-matchParen-fg: #434028;
	--oasis-ui-nontext: #7e766e;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #791d1d;
	--oasis-ui-visual-bg: #e9b881;
	--oasis-ui-visual-fg: none;
}