/* extras/css/themes/light/5/oasis_abyss_light_5.css
 * name: Oasis Abyss Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="abyss_light_5"],
.oasis-abyss_light_5 {
	--oasis-name: "Oasis Abyss Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #c9c9c9;
	--oasis-bg-mantle: #bababa;
	--oasis-bg-shadow: #c1c1c1;
	--oasis-bg-surface: #b2b2b2;
	--oasis-diff-add: #294c3b;
	--oasis-diff-change: #454545;
	--oasis-diff-delete: #663838;
	--oasis-diff-text: #613c27;
	--oasis-fg-comment: #5f5d55;
	--oasis-fg-core: #171412;
	--oasis-fg-dim: #657277;
	--oasis-fg-muted: #58554e;
	--oasis-fg-strong: #3a2118;
	--oasis-git-add: #1d4f16;
	--oasis-git-change: #663a0f;
	--oasis-git-delete: #900000;
	--oasis-syntax-bracket: #33363c;
	--oasis-syntax-builtinConst: #453eb7;
	--oasis-syntax-builtinFunc: #5d3f1a;
	--oasis-syntax-builtinVar: #6117a7;
	--oasis-syntax-comment: #58554b;
	--oasis-syntax-conditional: #494627;
	--oasis-syntax-constant: #7f400e;
	--oasis-syntax-delimiter: #8f393b;
	--oasis-syntax-exception: #8c0f14;
	--oasis-syntax-func: #473620;
	--oasis-syntax-identifier: #1e5064;
	--oasis-syntax-macro: #5b2b1b;
	--oasis-syntax-operator: #4a4622;
	--oasis-syntax-parameter: #2b5427;
	--oasis-syntax-preproc: #7c2915;
	--oasis-syntax-punctuation: #3c3920;
	--oasis-syntax-regex: #8b3752;
	--oasis-syntax-special: #6b380c;
	--oasis-syntax-statement: #5a5116;
	--oasis-syntax-string: #740d11;
	--oasis-syntax-type: #2b514d;
	--oasis-syntax-typedef: #203e3a;
	--oasis-terminal-black: #2e2e2e;
	--oasis-terminal-blue: #0f467c;
	--oasis-terminal-bright-black: #332d28;
	--oasis-terminal-bright-blue: #1b4a5d;
	--oasis-terminal-bright-cyan: #264b46;
	--oasis-terminal-bright-green: #294d24;
	--oasis-terminal-bright-magenta: #5c1ca9;
	--oasis-terminal-bright-red: #8c0e0e;
	--oasis-terminal-bright-white: #332e1b;
	--oasis-terminal-bright-yellow: #663a0f;
	--oasis-terminal-color0: #2e2e2e;
	--oasis-terminal-color1: #8c0e0e;
	--oasis-terminal-color10: #294d24;
	--oasis-terminal-color11: #663a0f;
	--oasis-terminal-color12: #1b4a5d;
	--oasis-terminal-color13: #5c1ca9;
	--oasis-terminal-color14: #264b46;
	--oasis-terminal-color15: #332e1b;
	--oasis-terminal-color2: #2b4d28;
	--oasis-terminal-color3: #4b4619;
	--oasis-terminal-color4: #0f467c;
	--oasis-terminal-color5: #5d1ba8;
	--oasis-terminal-color6: #264b47;
	--oasis-terminal-color7: #362e0b;
	--oasis-terminal-color8: #332d28;
	--oasis-terminal-color9: #8c0e0e;
	--oasis-terminal-cyan: #264b47;
	--oasis-terminal-green: #2b4d28;
	--oasis-terminal-magenta: #5d1ba8;
	--oasis-terminal-red: #8c0e0e;
	--oasis-terminal-white: #362e0b;
	--oasis-terminal-yellow: #4b4619;
	--oasis-theme-accent: #296624;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #4f480a;
	--oasis-theme-primary: #4c4718;
	--oasis-theme-secondary: #630000;
	--oasis-theme-secondary-light: #590000;
	--oasis-theme-secondary-strong: #7f2727;
	--oasis-theme-strong-primary: #736e33;
	--oasis-ui-border: #6d1a1a;
	--oasis-ui-cursorLine: #bababa;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #152a33;
	--oasis-ui-float-bg: #bababa;
	--oasis-ui-float-border-bg: #bababa;
	--oasis-ui-float-border-fg: #a02727;
	--oasis-ui-float-fg: #3b3a24;
	--oasis-ui-float-title: #3b3a24;
	--oasis-ui-lineNumber: #7a4a1d;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #b2b2b2;
	--oasis-ui-matchParen-fg: #615e3d;
	--oasis-ui-nontext: #5a686b;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #6d1a1a;
	--oasis-ui-visual-bg: #b2b2b2;
	--oasis-ui-visual-fg: none;
}