/* extras/css/themes/light/5/oasis_twilight_light_5.css
 * name: Oasis Twilight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="twilight_light_5"],
.oasis-twilight_light_5 {
	--oasis-name: "Oasis Twilight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #cac2f0;
	--oasis-bg-mantle: #bfb6ed;
	--oasis-bg-shadow: #b5a9ea;
	--oasis-bg-surface: #aa9de7;
	--oasis-diff-add: #213d30;
	--oasis-diff-change: #3c3350;
	--oasis-diff-delete: #522e2e;
	--oasis-diff-text: #4e311f;
	--oasis-fg-comment: #5d596c;
	--oasis-fg-core: #3b3351;
	--oasis-fg-dim: #756e67;
	--oasis-fg-muted: #565260;
	--oasis-fg-strong: #402e61;
	--oasis-git-add: #16400b;
	--oasis-git-change: #3e3808;
	--oasis-git-delete: #770000;
	--oasis-syntax-bracket: #535365;
	--oasis-syntax-builtinConst: #40444d;
	--oasis-syntax-builtinFunc: #6d340c;
	--oasis-syntax-builtinVar: #434444;
	--oasis-syntax-comment: #595069;
	--oasis-syntax-conditional: #59119c;
	--oasis-syntax-constant: #282727;
	--oasis-syntax-delimiter: #5a2b8c;
	--oasis-syntax-exception: #851a1d;
	--oasis-syntax-func: #62330b;
	--oasis-syntax-identifier: #274a46;
	--oasis-syntax-operator: #890f14;
	--oasis-syntax-parameter: #353534;
	--oasis-syntax-preproc: #1a495c;
	--oasis-syntax-punctuation: #811f23;
	--oasis-syntax-regex: #224d17;
	--oasis-syntax-special: #6a370b;
	--oasis-syntax-statement: #6012a9;
	--oasis-syntax-string: #1b4630;
	--oasis-syntax-type: #244441;
	--oasis-terminal-black: #383838;
	--oasis-terminal-blue: #0f457b;
	--oasis-terminal-bright-black: #3c3733;
	--oasis-terminal-bright-blue: #1a495c;
	--oasis-terminal-bright-cyan: #264a45;
	--oasis-terminal-bright-green: #264d1c;
	--oasis-terminal-bright-magenta: #5a1ba6;
	--oasis-terminal-bright-red: #8a0d0d;
	--oasis-terminal-bright-white: #523008;
	--oasis-terminal-bright-yellow: #653a0f;
	--oasis-terminal-color0: #383838;
	--oasis-terminal-color1: #8b0d0d;
	--oasis-terminal-color10: #264d1c;
	--oasis-terminal-color11: #653a0f;
	--oasis-terminal-color12: #1a495c;
	--oasis-terminal-color13: #5a1ba6;
	--oasis-terminal-color14: #264a45;
	--oasis-terminal-color15: #523008;
	--oasis-terminal-color2: #224c36;
	--oasis-terminal-color3: #4a4518;
	--oasis-terminal-color4: #0f457b;
	--oasis-terminal-color5: #5b1ba6;
	--oasis-terminal-color6: #264a46;
	--oasis-terminal-color7: #393832;
	--oasis-terminal-color8: #3c3733;
	--oasis-terminal-color9: #8a0d0d;
	--oasis-terminal-cyan: #264a46;
	--oasis-terminal-green: #224c36;
	--oasis-terminal-magenta: #5b1ba6;
	--oasis-terminal-red: #8b0d0d;
	--oasis-terminal-white: #393832;
	--oasis-terminal-yellow: #4a4518;
	--oasis-theme-accent: #197140;
	--oasis-theme-light-primary: #2e0066;
	--oasis-theme-primary: #3b0080;
	--oasis-theme-secondary: #7a6e0f;
	--oasis-theme-strong-primary: #450f8a;
	--oasis-ui-border: #492375;
	--oasis-ui-cursorLine: #bfb6ed;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #1e3b48;
	--oasis-ui-float-bg: #bfb6ed;
	--oasis-ui-float-border-bg: #bfb6ed;
	--oasis-ui-float-border-fg: #492375;
	--oasis-ui-float-fg: #492375;
	--oasis-ui-float-title: #492375;
	--oasis-ui-lineNumber: #4f3113;
	--oasis-ui-match-bg: #d1be7a;
	--oasis-ui-match-fg: #31290d;
	--oasis-ui-nontext: #786d65;
	--oasis-ui-search-bg: #c3a1dd;
	--oasis-ui-search-fg: #31124a;
	--oasis-ui-title: #492375;
	--oasis-ui-visual-bg: #aa9de7;
	--oasis-ui-visual-fg: none;
}