/* extras/css/themes/light/5/oasis_starlight_light_5.css
 * name: Oasis Starlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="starlight_light_5"],
.oasis-starlight_light_5 {
	--oasis-name: "Oasis Starlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3deba;
	--oasis-bg-mantle: #f1d8ad;
	--oasis-bg-shadow: #eed2a0;
	--oasis-bg-surface: #eccb93;
	--oasis-diff-add: #2a4f3d;
	--oasis-diff-change: #474747;
	--oasis-diff-delete: #693a3a;
	--oasis-diff-text: #653f28;
	--oasis-fg-comment: #636d78;
	--oasis-fg-core: #4d4738;
	--oasis-fg-dim: #8e7d76;
	--oasis-fg-muted: #5e656e;
	--oasis-fg-strong: #494841;
	--oasis-git-add: #1c530e;
	--oasis-git-change: #4f480a;
	--oasis-git-delete: #950000;
	--oasis-syntax-bracket: #646277;
	--oasis-syntax-builtinConst: #3d5574;
	--oasis-syntax-builtinFunc: #85400e;
	--oasis-syntax-builtinVar: #545452;
	--oasis-syntax-comment: #576578;
	--oasis-syntax-conditional: #115089;
	--oasis-syntax-constant: #3a3939;
	--oasis-syntax-delimiter: #1f5687;
	--oasis-syntax-exception: #a81218;
	--oasis-syntax-func: #793f0d;
	--oasis-syntax-identifier: #305b55;
	--oasis-syntax-operator: #a81218;
	--oasis-syntax-parameter: #5e00b9;
	--oasis-syntax-preproc: #205a71;
	--oasis-syntax-punctuation: #a81218;
	--oasis-syntax-regex: #2a5f1c;
	--oasis-syntax-special: #81430e;
	--oasis-syntax-statement: #125592;
	--oasis-syntax-string: #22583c;
	--oasis-syntax-type: #2d5551;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #125596;
	--oasis-terminal-bright-black: #4f463d;
	--oasis-terminal-bright-blue: #205a71;
	--oasis-terminal-bright-cyan: #2e5b54;
	--oasis-terminal-bright-green: #2f5e22;
	--oasis-terminal-bright-magenta: #6e21cb;
	--oasis-terminal-bright-red: #a81010;
	--oasis-terminal-bright-white: #693d0b;
	--oasis-terminal-bright-yellow: #7c4712;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #a81010;
	--oasis-terminal-color10: #2f5e22;
	--oasis-terminal-color11: #7c4712;
	--oasis-terminal-color12: #205a71;
	--oasis-terminal-color13: #6e21cb;
	--oasis-terminal-color14: #2e5b54;
	--oasis-terminal-color15: #693d0b;
	--oasis-terminal-color2: #2a5d42;
	--oasis-terminal-color3: #5b551e;
	--oasis-terminal-color4: #125596;
	--oasis-terminal-color5: #6f21ca;
	--oasis-terminal-color6: #2f5b56;
	--oasis-terminal-color7: #4a4740;
	--oasis-terminal-color8: #4f463d;
	--oasis-terminal-color9: #a81010;
	--oasis-terminal-cyan: #2f5b56;
	--oasis-terminal-green: #2a5d42;
	--oasis-terminal-magenta: #6f21ca;
	--oasis-terminal-red: #a81010;
	--oasis-terminal-white: #4a4740;
	--oasis-terminal-yellow: #5b551e;
	--oasis-theme-accent: #834406;
	--oasis-theme-light-primary: #0f4257;
	--oasis-theme-primary: #024a7e;
	--oasis-theme-secondary: #7a6f10;
	--oasis-theme-strong-primary: #025997;
	--oasis-ui-border: #1d4b6b;
	--oasis-ui-cursorLine: #f1d8ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92c0d3;
	--oasis-ui-diag-info-fg: #0d506c;
	--oasis-ui-diag-ok-bg: #a3ce97;
	--oasis-ui-diag-ok-fg: #1c5d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #264c5c;
	--oasis-ui-float-bg: #f1d8ad;
	--oasis-ui-float-border-bg: #f1d8ad;
	--oasis-ui-float-border-fg: #1d4b6b;
	--oasis-ui-float-fg: #1e4b6c;
	--oasis-ui-float-title: #1e4b6c;
	--oasis-ui-lineNumber: #663f19;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #eccb93;
	--oasis-ui-matchParen-fg: #4d4923;
	--oasis-ui-nontext: #917b75;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #1e4b6c;
	--oasis-ui-visual-bg: #eccb93;
	--oasis-ui-visual-fg: none;
}