/* extras/css/themes/light/5/oasis_dune_light_5.css
 * name: Oasis Dune Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="dune_light_5"],
.oasis-dune_light_5 {
	--oasis-name: "Oasis Dune Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3d8ba;
	--oasis-bg-mantle: #f1d1ad;
	--oasis-bg-shadow: #eec9a0;
	--oasis-bg-surface: #ecc293;
	--oasis-diff-add: #294c3b;
	--oasis-diff-change: #4d4439;
	--oasis-diff-delete: #663838;
	--oasis-diff-text: #613c27;
	--oasis-fg-comment: #716860;
	--oasis-fg-core: #46453d;
	--oasis-fg-dim: #7d7d7d;
	--oasis-fg-muted: #696058;
	--oasis-fg-strong: #47462f;
	--oasis-git-add: #1d4f16;
	--oasis-git-change: #4d460a;
	--oasis-git-delete: #900000;
	--oasis-syntax-bracket: #5c626c;
	--oasis-syntax-builtinConst: #453fb8;
	--oasis-syntax-builtinFunc: #724814;
	--oasis-syntax-builtinVar: #6e00d7;
	--oasis-syntax-comment: #6b5f58;
	--oasis-syntax-conditional: #514d2b;
	--oasis-syntax-constant: #373636;
	--oasis-syntax-delimiter: #565233;
	--oasis-syntax-exception: #a31218;
	--oasis-syntax-func: #614723;
	--oasis-syntax-identifier: #20576d;
	--oasis-syntax-operator: #585225;
	--oasis-syntax-parameter: #1f4c1b;
	--oasis-syntax-preproc: #913018;
	--oasis-syntax-punctuation: #575228;
	--oasis-syntax-regex: #843750;
	--oasis-syntax-special: #7d410e;
	--oasis-syntax-statement: #5a5216;
	--oasis-syntax-string: #971519;
	--oasis-syntax-type: #2b524e;
	--oasis-terminal-black: #454545;
	--oasis-terminal-blue: #125292;
	--oasis-terminal-bright-black: #4d443b;
	--oasis-terminal-bright-blue: #1f576d;
	--oasis-terminal-bright-cyan: #2d5952;
	--oasis-terminal-bright-green: #305b2a;
	--oasis-terminal-bright-magenta: #6b20c5;
	--oasis-terminal-bright-red: #a31010;
	--oasis-terminal-bright-white: #4c4529;
	--oasis-terminal-bright-yellow: #784412;
	--oasis-terminal-color0: #454545;
	--oasis-terminal-color1: #a31010;
	--oasis-terminal-color10: #305b2a;
	--oasis-terminal-color11: #784412;
	--oasis-terminal-color12: #1f576d;
	--oasis-terminal-color13: #6b20c5;
	--oasis-terminal-color14: #2d5952;
	--oasis-terminal-color15: #4c4529;
	--oasis-terminal-color2: #335a2f;
	--oasis-terminal-color3: #58521d;
	--oasis-terminal-color4: #125292;
	--oasis-terminal-color5: #6c20c4;
	--oasis-terminal-color6: #2d5853;
	--oasis-terminal-color7: #514411;
	--oasis-terminal-color8: #4d443b;
	--oasis-terminal-color9: #a31010;
	--oasis-terminal-cyan: #2d5853;
	--oasis-terminal-green: #335a2f;
	--oasis-terminal-magenta: #6c20c4;
	--oasis-terminal-red: #a31010;
	--oasis-terminal-white: #514411;
	--oasis-terminal-yellow: #58521d;
	--oasis-theme-accent: #3e008a;
	--oasis-theme-label: #2a655e;
	--oasis-theme-light-primary: #5b520b;
	--oasis-theme-primary: #615b1e;
	--oasis-theme-secondary: #286259;
	--oasis-theme-strong-primary: #6a662f;
	--oasis-ui-border: #484631;
	--oasis-ui-cursorLine: #f1d1ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #254a59;
	--oasis-ui-float-bg: #f1d1ad;
	--oasis-ui-float-border-bg: #f1d1ad;
	--oasis-ui-float-border-fg: #484631;
	--oasis-ui-float-fg: #48462b;
	--oasis-ui-float-title: #48462b;
	--oasis-ui-lineNumber: #633c18;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #ecc293;
	--oasis-ui-matchParen-fg: #2d4a47;
	--oasis-ui-nontext: #7d7d7d;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #48462b;
	--oasis-ui-visual-bg: #ecc293;
	--oasis-ui-visual-fg: none;
}