/* extras/css/themes/light/5/oasis_cactus_light_5.css
 * name: Oasis Cactus Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="cactus_light_5"],
.oasis-cactus_light_5 {
	--oasis-name: "Oasis Cactus Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #c7e5d2;
	--oasis-bg-mantle: #b7dec5;
	--oasis-bg-shadow: #bde0ca;
	--oasis-bg-surface: #9dd2b0;
	--oasis-diff-add: #305a46;
	--oasis-diff-change: #445649;
	--oasis-diff-delete: #784343;
	--oasis-diff-text: #73482e;
	--oasis-fg-comment: #5d6f5e;
	--oasis-fg-core: #121714;
	--oasis-fg-dim: #877d74;
	--oasis-fg-muted: #5a655d;
	--oasis-fg-strong: #293a2d;
	--oasis-git-add: #225e1a;
	--oasis-git-change: #794512;
	--oasis-git-delete: #a90000;
	--oasis-syntax-bracket: #40444a;
	--oasis-syntax-builtinConst: #544ec3;
	--oasis-syntax-builtinFunc: #6e4b1e;
	--oasis-syntax-builtinVar: #721cc5;
	--oasis-syntax-comment: #526854;
	--oasis-syntax-conditional: #355a37;
	--oasis-syntax-constant: #934a10;
	--oasis-syntax-delimiter: #486b49;
	--oasis-syntax-exception: #a41218;
	--oasis-syntax-func: #5c411e;
	--oasis-syntax-identifier: #235e76;
	--oasis-syntax-macro: #703522;
	--oasis-syntax-operator: #355a37;
	--oasis-syntax-parameter: #715210;
	--oasis-syntax-preproc: #933118;
	--oasis-syntax-punctuation: #2d4d2f;
	--oasis-syntax-regex: #9a4462;
	--oasis-syntax-special: #7f420e;
	--oasis-syntax-statement: #3d683f;
	--oasis-syntax-string: #8e0f14;
	--oasis-syntax-type: #325f5b;
	--oasis-syntax-typedef: #284c48;
	--oasis-terminal-black: #3c3c3c;
	--oasis-terminal-blue: #125393;
	--oasis-terminal-bright-black: #423b33;
	--oasis-terminal-bright-blue: #20586f;
	--oasis-terminal-bright-cyan: #2d5a53;
	--oasis-terminal-bright-green: #305c2b;
	--oasis-terminal-bright-magenta: #6c21c7;
	--oasis-terminal-bright-red: #a51010;
	--oasis-terminal-bright-white: #423c23;
	--oasis-terminal-bright-yellow: #794512;
	--oasis-terminal-color0: #3c3c3c;
	--oasis-terminal-color1: #a51010;
	--oasis-terminal-color10: #305c2b;
	--oasis-terminal-color11: #794512;
	--oasis-terminal-color12: #20586f;
	--oasis-terminal-color13: #6c21c7;
	--oasis-terminal-color14: #2d5a53;
	--oasis-terminal-color15: #423c23;
	--oasis-terminal-color2: #335b30;
	--oasis-terminal-color3: #59531d;
	--oasis-terminal-color4: #125393;
	--oasis-terminal-color5: #6d20c7;
	--oasis-terminal-color6: #2e5954;
	--oasis-terminal-color7: #463b0f;
	--oasis-terminal-color8: #423b33;
	--oasis-terminal-color9: #a51010;
	--oasis-terminal-cyan: #2e5954;
	--oasis-terminal-green: #335b30;
	--oasis-terminal-magenta: #6d20c7;
	--oasis-terminal-red: #a51010;
	--oasis-terminal-white: #463b0f;
	--oasis-terminal-yellow: #59531d;
	--oasis-theme-accent: #3e008a;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #1e3b1f;
	--oasis-theme-primary: #234124;
	--oasis-theme-secondary: #630000;
	--oasis-theme-strong-primary: #3a6c3c;
	--oasis-ui-border: #445b46;
	--oasis-ui-cursorLine: #b7dec5;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #145e53;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #285061;
	--oasis-ui-float-bg: #b7dec5;
	--oasis-ui-float-border-bg: #b7dec5;
	--oasis-ui-float-border-fg: #445b46;
	--oasis-ui-float-fg: #751c1c;
	--oasis-ui-float-title: #751c1c;
	--oasis-ui-lineNumber: #8d5522;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #9dd2b0;
	--oasis-ui-matchParen-fg: #964d4d;
	--oasis-ui-nontext: #7c7268;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #445b46;
	--oasis-ui-visual-bg: #9dd2b0;
	--oasis-ui-visual-fg: none;
}