/* extras/css/themes/light/5/oasis_starlight_light_5.css
 * name: Oasis Starlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="starlight_light_5"],
.oasis-starlight_light_5 {
	--oasis-name: "Oasis Starlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3deba;
	--oasis-bg-mantle: #f1d8ad;
	--oasis-bg-shadow: #eed2a0;
	--oasis-bg-surface: #eccb93;
	--oasis-diff-add: #2a4f3d;
	--oasis-diff-change: #3f485a;
	--oasis-diff-delete: #693a3a;
	--oasis-diff-text: #653f28;
	--oasis-fg-comment: #636d78;
	--oasis-fg-core: #181611;
	--oasis-fg-dim: #8e7d76;
	--oasis-fg-muted: #5e656e;
	--oasis-fg-strong: #393732;
	--oasis-git-add: #1e5217;
	--oasis-git-change: #50490a;
	--oasis-git-delete: #950000;
	--oasis-syntax-bracket: #41454c;
	--oasis-syntax-builtinConst: #5650c3;
	--oasis-syntax-builtinFunc: #714c1f;
	--oasis-syntax-builtinVar: #741cc9;
	--oasis-syntax-comment: #576577;
	--oasis-syntax-conditional: #125692;
	--oasis-syntax-constant: #964c10;
	--oasis-syntax-delimiter: #2567a2;
	--oasis-syntax-exception: #a71218;
	--oasis-syntax-func: #5e421f;
	--oasis-syntax-identifier: #246078;
	--oasis-syntax-macro: #4c4929;
	--oasis-syntax-operator: #1252a2;
	--oasis-syntax-parameter: #34642f;
	--oasis-syntax-preproc: #5b5426;
	--oasis-syntax-punctuation: #0f468b;
	--oasis-syntax-regex: #9d4663;
	--oasis-syntax-special: #81430e;
	--oasis-syntax-statement: #1462a7;
	--oasis-syntax-string: #911015;
	--oasis-syntax-type: #33615c;
	--oasis-syntax-typedef: #294e49;
	--oasis-terminal-black: #474747;
	--oasis-terminal-blue: #125596;
	--oasis-terminal-bright-black: #4f463d;
	--oasis-terminal-bright-blue: #205a71;
	--oasis-terminal-bright-cyan: #2e5b54;
	--oasis-terminal-bright-green: #315d2b;
	--oasis-terminal-bright-magenta: #6e21cb;
	--oasis-terminal-bright-red: #a81010;
	--oasis-terminal-bright-white: #4f472a;
	--oasis-terminal-bright-yellow: #7c4712;
	--oasis-terminal-color0: #474747;
	--oasis-terminal-color1: #a81010;
	--oasis-terminal-color10: #315d2b;
	--oasis-terminal-color11: #7c4712;
	--oasis-terminal-color12: #205a71;
	--oasis-terminal-color13: #6e21cb;
	--oasis-terminal-color14: #2e5b54;
	--oasis-terminal-color15: #4f472a;
	--oasis-terminal-color2: #345d31;
	--oasis-terminal-color3: #5b551e;
	--oasis-terminal-color4: #125596;
	--oasis-terminal-color5: #6f21ca;
	--oasis-terminal-color6: #2f5b56;
	--oasis-terminal-color7: #544712;
	--oasis-terminal-color8: #4f463d;
	--oasis-terminal-color9: #a81010;
	--oasis-terminal-cyan: #2f5b56;
	--oasis-terminal-green: #345d31;
	--oasis-terminal-magenta: #6f21ca;
	--oasis-terminal-red: #a81010;
	--oasis-terminal-white: #544712;
	--oasis-terminal-yellow: #5b551e;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #696426;
	--oasis-theme-light-primary: #0d3a4c;
	--oasis-theme-primary: #013a62;
	--oasis-theme-secondary: #58500b;
	--oasis-theme-strong-primary: #135f93;
	--oasis-ui-border: #1d4b6b;
	--oasis-ui-cursorLine: #f1d8ad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1e3b48;
	--oasis-ui-float-bg: #f1d8ad;
	--oasis-ui-float-border-bg: #f1d8ad;
	--oasis-ui-float-border-fg: #296995;
	--oasis-ui-float-fg: #4d4923;
	--oasis-ui-float-title: #4d4923;
	--oasis-ui-lineNumber: #8f5723;
	--oasis-ui-match-bg: #dd986f;
	--oasis-ui-match-fg: #351908;
	--oasis-ui-matchParen-bg: #eccb93;
	--oasis-ui-matchParen-fg: #716e43;
	--oasis-ui-nontext: #86706a;
	--oasis-ui-search-bg: #dacfa4;
	--oasis-ui-search-fg: #473c15;
	--oasis-ui-title: #1d4b6c;
	--oasis-ui-visual-bg: #eccb93;
	--oasis-ui-visual-fg: none;
}