/* extras/css/themes/light/5/oasis_desert_light_5.css
 * name: Oasis Desert Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="desert_light_5"],
.oasis-desert_light_5 {
	--oasis-name: "Oasis Desert Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ece6c6;
	--oasis-bg-mantle: #e8e1bb;
	--oasis-bg-shadow: #e4dcaf;
	--oasis-bg-surface: #e1d7a4;
	--oasis-diff-add: #2c5240;
	--oasis-diff-change: #4a4a4a;
	--oasis-diff-delete: #6d3d3d;
	--oasis-diff-text: #69412a;
	--oasis-fg-comment: #716f66;
	--oasis-fg-core: #191510;
	--oasis-fg-dim: #79858d;
	--oasis-fg-muted: #6a675e;
	--oasis-fg-strong: #403932;
	--oasis-git-add: #1f5518;
	--oasis-git-change: #534b0b;
	--oasis-git-delete: #9b0000;
	--oasis-syntax-bracket: #44484f;
	--oasis-syntax-builtinConst: #5954c5;
	--oasis-syntax-builtinFunc: #754f20;
	--oasis-syntax-builtinVar: #781dcf;
	--oasis-syntax-comment: #6b675b;
	--oasis-syntax-conditional: #5c5731;
	--oasis-syntax-constant: #9a4e11;
	--oasis-syntax-delimiter: #6d6841;
	--oasis-syntax-exception: #ad1319;
	--oasis-syntax-func: #5d462b;
	--oasis-syntax-identifier: #25637c;
	--oasis-syntax-macro: #773824;
	--oasis-syntax-operator: #5e5727;
	--oasis-syntax-parameter: #356730;
	--oasis-syntax-preproc: #9a331a;
	--oasis-syntax-punctuation: #504b25;
	--oasis-syntax-regex: #a84263;
	--oasis-syntax-special: #86450f;
	--oasis-syntax-statement: #6e631b;
	--oasis-syntax-string: #961016;
	--oasis-syntax-type: #35645e;
	--oasis-syntax-typedef: #2b514d;
	--oasis-terminal-black: #4a4a4a;
	--oasis-terminal-blue: #13579b;
	--oasis-terminal-bright-black: #534940;
	--oasis-terminal-bright-blue: #225d75;
	--oasis-terminal-bright-cyan: #305f57;
	--oasis-terminal-bright-green: #33612d;
	--oasis-terminal-bright-magenta: #7222d2;
	--oasis-terminal-bright-red: #ae1111;
	--oasis-terminal-bright-white: #524a2c;
	--oasis-terminal-bright-yellow: #804913;
	--oasis-terminal-color0: #4a4a4a;
	--oasis-terminal-color1: #ae1111;
	--oasis-terminal-color10: #33612d;
	--oasis-terminal-color11: #804913;
	--oasis-terminal-color12: #225d75;
	--oasis-terminal-color13: #7222d2;
	--oasis-terminal-color14: #305f57;
	--oasis-terminal-color15: #524a2c;
	--oasis-terminal-color2: #366033;
	--oasis-terminal-color3: #5e581f;
	--oasis-terminal-color4: #13579b;
	--oasis-terminal-color5: #7322d1;
	--oasis-terminal-color6: #305e59;
	--oasis-terminal-color7: #574a12;
	--oasis-terminal-color8: #534940;
	--oasis-terminal-color9: #ae1111;
	--oasis-terminal-cyan: #305e59;
	--oasis-terminal-green: #366033;
	--oasis-terminal-magenta: #7322d1;
	--oasis-terminal-red: #ae1111;
	--oasis-terminal-white: #574a12;
	--oasis-terminal-yellow: #5e581f;
	--oasis-theme-accent: #296624;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #7b1414;
	--oasis-theme-light-primary: #4f480a;
	--oasis-theme-primary: #58500b;
	--oasis-theme-secondary: #630000;
	--oasis-theme-secondary-light: #590000;
	--oasis-theme-secondary-strong: #7f2727;
	--oasis-theme-strong-primary: #736e33;
	--oasis-ui-border: #8d2222;
	--oasis-ui-cursorLine: #e8e1bb;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1f3e4b;
	--oasis-ui-float-bg: #e8e1bb;
	--oasis-ui-float-border-bg: #e8e1bb;
	--oasis-ui-float-border-fg: #c12f2f;
	--oasis-ui-float-fg: #504b24;
	--oasis-ui-float-title: #504b24;
	--oasis-ui-lineNumber: #945924;
	--oasis-ui-match-bg: #b7d17a;
	--oasis-ui-match-fg: #26310d;
	--oasis-ui-matchParen-bg: #e1d7a4;
	--oasis-ui-matchParen-fg: #747049;
	--oasis-ui-nontext: #6d7a83;
	--oasis-ui-search-bg: #e1c99d;
	--oasis-ui-search-fg: #4e370e;
	--oasis-ui-title: #8d2222;
	--oasis-ui-visual-bg: #e1d7a4;
	--oasis-ui-visual-fg: none;
}