/* extras/css/themes/light/5/oasis_cactus_light_5.css
 * name: Oasis Cactus Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="cactus_light_5"],
.oasis-cactus_light_5 {
	--oasis-name: "Oasis Cactus Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #cbebd7;
	--oasis-bg-mantle: #c0e7cf;
	--oasis-bg-shadow: #b5e2c6;
	--oasis-bg-surface: #aadebe;
	--oasis-diff-add: #2b513f;
	--oasis-diff-change: #3d4d41;
	--oasis-diff-delete: #6c3c3c;
	--oasis-diff-text: #674029;
	--oasis-fg-comment: #607261;
	--oasis-fg-core: #121714;
	--oasis-fg-dim: #8b8178;
	--oasis-fg-muted: #5d6960;
	--oasis-fg-strong: #2b3d2f;
	--oasis-git-add: #1f5417;
	--oasis-git-change: #514a0b;
	--oasis-git-delete: #990000;
	--oasis-syntax-bracket: #43474e;
	--oasis-syntax-builtinConst: #5852c4;
	--oasis-syntax-builtinFunc: #734e20;
	--oasis-syntax-builtinVar: #771dcd;
	--oasis-syntax-comment: #556c57;
	--oasis-syntax-conditional: #375e39;
	--oasis-syntax-constant: #984d11;
	--oasis-syntax-delimiter: #4a6e4c;
	--oasis-syntax-exception: #ab1319;
	--oasis-syntax-func: #61441f;
	--oasis-syntax-identifier: #24627a;
	--oasis-syntax-macro: #763723;
	--oasis-syntax-operator: #375e39;
	--oasis-syntax-parameter: #765610;
	--oasis-syntax-preproc: #993319;
	--oasis-syntax-punctuation: #2f5131;
	--oasis-syntax-regex: #9f4765;
	--oasis-syntax-special: #84440e;
	--oasis-syntax-statement: #3f6c41;
	--oasis-syntax-string: #941015;
	--oasis-syntax-type: #34635e;
	--oasis-syntax-typedef: #2a504c;
	--oasis-terminal-black: #494949;
	--oasis-terminal-blue: #135699;
	--oasis-terminal-bright-black: #51483f;
	--oasis-terminal-bright-blue: #215c73;
	--oasis-terminal-bright-cyan: #2f5d56;
	--oasis-terminal-bright-green: #325f2c;
	--oasis-terminal-bright-magenta: #7122cf;
	--oasis-terminal-bright-red: #ab1111;
	--oasis-terminal-bright-white: #51492b;
	--oasis-terminal-bright-yellow: #7e4812;
	--oasis-terminal-color0: #494949;
	--oasis-terminal-color1: #ab1111;
	--oasis-terminal-color10: #325f2c;
	--oasis-terminal-color11: #7e4812;
	--oasis-terminal-color12: #215c73;
	--oasis-terminal-color13: #7122cf;
	--oasis-terminal-color14: #2f5d56;
	--oasis-terminal-color15: #51492b;
	--oasis-terminal-color2: #365f32;
	--oasis-terminal-color3: #5d571f;
	--oasis-terminal-color4: #135699;
	--oasis-terminal-color5: #7122ce;
	--oasis-terminal-color6: #305d58;
	--oasis-terminal-color7: #564812;
	--oasis-terminal-color8: #51483f;
	--oasis-terminal-color9: #ab1111;
	--oasis-terminal-cyan: #305d58;
	--oasis-terminal-green: #365f32;
	--oasis-terminal-magenta: #7122ce;
	--oasis-terminal-red: #ab1111;
	--oasis-terminal-white: #564812;
	--oasis-terminal-yellow: #5d571f;
	--oasis-theme-accent: #3e008a;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #1e3b1f;
	--oasis-theme-primary: #234124;
	--oasis-theme-secondary: #630000;
	--oasis-theme-strong-primary: #3a6c3c;
	--oasis-ui-border: #3b4e3c;
	--oasis-ui-cursorLine: #c0e7cf;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #250404;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #06342d;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #051a2e;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #0b3206;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #332e06;
	--oasis-ui-dir: #1e3d4a;
	--oasis-ui-float-bg: #c0e7cf;
	--oasis-ui-float-border-bg: #c0e7cf;
	--oasis-ui-float-border-fg: #516c53;
	--oasis-ui-float-fg: #8b2222;
	--oasis-ui-float-title: #8b2222;
	--oasis-ui-lineNumber: #925823;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-matchParen-bg: #aadebe;
	--oasis-ui-matchParen-fg: #736f48;
	--oasis-ui-nontext: #80756b;
	--oasis-ui-search-bg: #a4dac0;
	--oasis-ui-search-fg: #15472f;
	--oasis-ui-title: #3b4e3c;
	--oasis-ui-visual-bg: #aadebe;
	--oasis-ui-visual-fg: none;
}