/* extras/css/themes/light/5/oasis_canyon_light_5.css
 * name: Oasis Canyon Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="canyon_light_5"],
.oasis-canyon_light_5 {
	--oasis-name: "Oasis Canyon Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #f3d5ba;
	--oasis-bg-mantle: #f1cdad;
	--oasis-bg-shadow: #eec5a0;
	--oasis-bg-surface: #ecbd93;
	--oasis-diff-add: #284b3a;
	--oasis-diff-change: #583e32;
	--oasis-diff-delete: #643737;
	--oasis-diff-text: #5f3b26;
	--oasis-fg-comment: #796359;
	--oasis-fg-core: #52412d;
	--oasis-fg-dim: #857a73;
	--oasis-fg-muted: #705c53;
	--oasis-fg-strong: #5c3c26;
	--oasis-git-add: #1c4e16;
	--oasis-git-change: #4b440a;
	--oasis-git-delete: #8e0000;
	--oasis-syntax-bracket: #5b606a;
	--oasis-syntax-builtinConst: #443eb5;
	--oasis-syntax-builtinFunc: #5a5015;
	--oasis-syntax-builtinVar: #6c00d4;
	--oasis-syntax-comment: #7a594b;
	--oasis-syntax-conditional: #713d13;
	--oasis-syntax-constant: #363535;
	--oasis-syntax-delimiter: #764319;
	--oasis-syntax-exception: #a01117;
	--oasis-syntax-func: #534b14;
	--oasis-syntax-identifier: #20556b;
	--oasis-syntax-operator: #764313;
	--oasis-syntax-parameter: #1f4a1b;
	--oasis-syntax-preproc: #694a0b;
	--oasis-syntax-punctuation: #794214;
	--oasis-syntax-regex: #7c3a51;
	--oasis-syntax-special: #575024;
	--oasis-syntax-statement: #764313;
	--oasis-syntax-string: #951519;
	--oasis-syntax-type: #2b514d;
	--oasis-terminal-black: #444444;
	--oasis-terminal-blue: #11518f;
	--oasis-terminal-bright-black: #4b423a;
	--oasis-terminal-bright-blue: #1f566c;
	--oasis-terminal-bright-cyan: #2c5750;
	--oasis-terminal-bright-green: #2f5929;
	--oasis-terminal-bright-magenta: #6a20c2;
	--oasis-terminal-bright-red: #a11010;
	--oasis-terminal-bright-white: #4b4428;
	--oasis-terminal-bright-yellow: #764311;
	--oasis-terminal-color0: #444444;
	--oasis-terminal-color1: #a11010;
	--oasis-terminal-color10: #2f5929;
	--oasis-terminal-color11: #764311;
	--oasis-terminal-color12: #1f566c;
	--oasis-terminal-color13: #6a20c2;
	--oasis-terminal-color14: #2c5750;
	--oasis-terminal-color15: #4b4428;
	--oasis-terminal-color2: #32592f;
	--oasis-terminal-color3: #56511d;
	--oasis-terminal-color4: #11518f;
	--oasis-terminal-color5: #6b1fc2;
	--oasis-terminal-color6: #2d5752;
	--oasis-terminal-color7: #4f4311;
	--oasis-terminal-color8: #4b423a;
	--oasis-terminal-color9: #a11010;
	--oasis-terminal-cyan: #2d5752;
	--oasis-terminal-green: #32592f;
	--oasis-terminal-magenta: #6b1fc2;
	--oasis-terminal-red: #a11010;
	--oasis-terminal-white: #4f4311;
	--oasis-terminal-yellow: #56511d;
	--oasis-theme-accent: #145a76;
	--oasis-theme-label: #8f0000;
	--oasis-theme-light-primary: #623e04;
	--oasis-theme-primary: #804000;
	--oasis-theme-secondary: #8a0000;
	--oasis-theme-strong-primary: #994a00;
	--oasis-ui-border: #613b18;
	--oasis-ui-cursorLine: #f1cdad;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #750e0e;
	--oasis-ui-diag-hint-bg: #92d3c9;
	--oasis-ui-diag-hint-fg: #0b5e52;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #0e447b;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #145d0b;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c540b;
	--oasis-ui-dir: #244857;
	--oasis-ui-float-bg: #f1cdad;
	--oasis-ui-float-border-bg: #f1cdad;
	--oasis-ui-float-border-fg: #613b18;
	--oasis-ui-float-fg: #603b17;
	--oasis-ui-float-title: #603b17;
	--oasis-ui-lineNumber: #52421c;
	--oasis-ui-match-bg: #72aeda;
	--oasis-ui-match-fg: #092234;
	--oasis-ui-matchParen-bg: #ecbd93;
	--oasis-ui-matchParen-fg: #244857;
	--oasis-ui-nontext: #877970;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #603b17;
	--oasis-ui-visual-bg: #ecbd93;
	--oasis-ui-visual-fg: none;
}