/* extras/css/themes/light/5/oasis_moonlight_light_5.css
 * name: Oasis Moonlight Light 5
 * author: uhs-robert
 * mode: light
 * light intensity: 5
 */

:root,
[data-oasis-theme="moonlight_light_5"],
.oasis-moonlight_light_5 {
	--oasis-name: "Oasis Moonlight Light 5";
	--oasis-mode: "light";
	--oasis-light-intensity: 5;
	--oasis-bg-core: #ddd8c5;
	--oasis-bg-crust: #dad5c0;
	--oasis-bg-mantle: #d5ceb7;
	--oasis-bg-shadow: #d7d2bb;
	--oasis-bg-surface: #c6be9e;
	--oasis-diff-add: #2e5643;
	--oasis-diff-change: #39506b;
	--oasis-diff-delete: #734040;
	--oasis-diff-text: #6e442c;
	--oasis-fg-comment: #5f6771;
	--oasis-fg-core: #181811;
	--oasis-fg-dim: #757b82;
	--oasis-fg-muted: #576066;
	--oasis-fg-strong: #33331b;
	--oasis-git-add: #215a19;
	--oasis-git-change: #744211;
	--oasis-git-delete: #a20000;
	--oasis-syntax-bracket: #3c4046;
	--oasis-syntax-builtin-const: #4f49c1;
	--oasis-syntax-builtin-func: #6b462f;
	--oasis-syntax-builtin-var: #6d1abc;
	--oasis-syntax-comment: #54606f;
	--oasis-syntax-conditional: #534f2d;
	--oasis-syntax-constant: #8e480f;
	--oasis-syntax-delimiter: #2e628f;
	--oasis-syntax-exception: #9d1117;
	--oasis-syntax-func: #5b3b28;
	--oasis-syntax-identifier: #225a71;
	--oasis-syntax-macro: #3c4621;
	--oasis-syntax-operator: #554f27;
	--oasis-syntax-parameter: #315e2c;
	--oasis-syntax-preproc: #475327;
	--oasis-syntax-punctuation: #464325;
	--oasis-syntax-regex: #9e3862;
	--oasis-syntax-special: #793f0d;
	--oasis-syntax-statement: #655b18;
	--oasis-syntax-string: #860f13;
	--oasis-syntax-type: #2e5c4f;
	--oasis-syntax-typedef: #27483f;
	--oasis-terminal-black: #383838;
	--oasis-terminal-blue: #114f8d;
	--oasis-terminal-bright-black: #3e3730;
	--oasis-terminal-bright-blue: #1e546a;
	--oasis-terminal-bright-cyan: #2f564a;
	--oasis-terminal-bright-green: #2e5829;
	--oasis-terminal-bright-magenta: #681fbf;
	--oasis-terminal-bright-red: #9e0f0f;
	--oasis-terminal-bright-white: #3a3a0c;
	--oasis-terminal-bright-yellow: #744211;
	--oasis-terminal-color0: #383838;
	--oasis-terminal-color1: #9e0f0f;
	--oasis-terminal-color10: #2e5829;
	--oasis-terminal-color11: #744211;
	--oasis-terminal-color12: #1e546a;
	--oasis-terminal-color13: #681fbf;
	--oasis-terminal-color14: #2f564a;
	--oasis-terminal-color15: #3a3a0c;
	--oasis-terminal-color2: #31572e;
	--oasis-terminal-color3: #55501c;
	--oasis-terminal-color4: #114f8d;
	--oasis-terminal-color5: #691fbe;
	--oasis-terminal-color6: #30554b;
	--oasis-terminal-color7: #3a3a1b;
	--oasis-terminal-color8: #3e3730;
	--oasis-terminal-color9: #9e0f0f;
	--oasis-terminal-cyan: #30554b;
	--oasis-terminal-green: #31572e;
	--oasis-terminal-magenta: #691fbe;
	--oasis-terminal-red: #9e0f0f;
	--oasis-terminal-white: #3a3a1b;
	--oasis-terminal-yellow: #55501c;
	--oasis-theme-accent: #8a0000;
	--oasis-theme-cursor: #71670f;
	--oasis-theme-label: #8f0000;
	--oasis-theme-primary: #1e3146;
	--oasis-theme-primary-light: #1a2d3f;
	--oasis-theme-primary-strong: #315275;
	--oasis-theme-secondary: #58500b;
	--oasis-theme-secondary-strong: #736e33;
	--oasis-ui-border: #3f5469;
	--oasis-ui-cursor-line: #d5ceb7;
	--oasis-ui-diag-error-bg: #d59090;
	--oasis-ui-diag-error-fg: #701818;
	--oasis-ui-diag-hint-bg: #97cebe;
	--oasis-ui-diag-hint-fg: #135c47;
	--oasis-ui-diag-info-bg: #92b2d3;
	--oasis-ui-diag-info-fg: #184571;
	--oasis-ui-diag-ok-bg: #9ece97;
	--oasis-ui-diag-ok-fg: #1d5c14;
	--oasis-ui-diag-warn-bg: #cec897;
	--oasis-ui-diag-warn-fg: #5c5413;
	--oasis-ui-dir: #264c5c;
	--oasis-ui-float-bg: #d5ceb7;
	--oasis-ui-float-border-bg: #d5ceb7;
	--oasis-ui-float-border-fg: #3f5469;
	--oasis-ui-float-fg: #3e3b1c;
	--oasis-ui-float-title: #3e3b1c;
	--oasis-ui-line-number: #885221;
	--oasis-ui-match-bg: #dd6f6f;
	--oasis-ui-match-fg: #350808;
	--oasis-ui-match-parent-bg: #c6be9e;
	--oasis-ui-match-parent-fg: #885220;
	--oasis-ui-nontext: #68707a;
	--oasis-ui-picker-bg: #d5ceb7;
	--oasis-ui-picker-border-bg: #d5ceb7;
	--oasis-ui-picker-border-fg: #55523a;
	--oasis-ui-picker-fg: #474320;
	--oasis-ui-picker-title: #474320;
	--oasis-ui-search-bg: #e1b69d;
	--oasis-ui-search-fg: #4e260e;
	--oasis-ui-title: #3f5469;
	--oasis-ui-visual-bg: #c6be9e;
	--oasis-ui-visual-fg: none;
}