/* extras/css/themes/dark/oasis_night_dark.css
 * name: Oasis Night Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="night_dark"],
.oasis-night_dark {
	--oasis-name: "Oasis Night Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #050F23;
	--oasis-bg-mantle: #0B1832;
	--oasis-bg-shadow: #020A19;
	--oasis-bg-surface: #122444;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #122444;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #708CA8;
	--oasis-fg-core: #E8F1FF;
	--oasis-fg-dim: #74808F;
	--oasis-fg-muted: #536B83;
	--oasis-fg-strong: #D9E6FA;
	--oasis-git-add: #A3E39A;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #CEDCE9;
	--oasis-palette-accent-100: #BFD2E3;
	--oasis-palette-accent-200: #B0C8DE;
	--oasis-palette-accent-300: #A2BED8;
	--oasis-palette-accent-400: #93B3D2;
	--oasis-palette-accent-500: #85A8CC;
	--oasis-palette-accent-600: #7FA3C9;
	--oasis-palette-accent-700: #6F98C3;
	--oasis-palette-accent-800: #5D8BBB;
	--oasis-palette-accent-900: #4575A5;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #D6CE7C;
	--oasis-palette-primary-700: #CDC673;
	--oasis-palette-primary-800: #BDB76B;
	--oasis-palette-primary-900: #807C37;
	--oasis-palette-secondary-50: #FFACA5;
	--oasis-palette-secondary-100: #F29B9B;
	--oasis-palette-secondary-200: #F39493;
	--oasis-palette-secondary-300: #F58B8B;
	--oasis-palette-secondary-400: #F78181;
	--oasis-palette-secondary-500: #FF7979;
	--oasis-palette-secondary-600: #E87272;
	--oasis-palette-secondary-700: #E26E6E;
	--oasis-palette-secondary-800: #D06666;
	--oasis-palette-secondary-900: #A23B3B;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #8D8DE7;
	--oasis-syntax-builtinFunc: #F9D9AB;
	--oasis-syntax-builtinVar: #C28EFF;
	--oasis-syntax-comment: #708CA8;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #1670AD;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #E3C394;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #C96E4D;
	--oasis-syntax-operator: #CDC673;
	--oasis-syntax-parameter: #7FCF78;
	--oasis-syntax-preproc: #F7997D;
	--oasis-syntax-punctuation: #BDB76B;
	--oasis-syntax-regex: #EAB8C8;
	--oasis-syntax-special: #FFC78F;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #FFA0A0;
	--oasis-syntax-type: #8FD1C7;
	--oasis-syntax-typedef: #68C0B6;
	--oasis-terminal-black: #050F23;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #536B83;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #A3E39A;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #F7F4E9;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #050F23;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #A3E39A;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #F7F4E9;
	--oasis-terminal-color2: #7FCF78;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #FFF7D7;
	--oasis-terminal-color8: #536B83;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #7FCF78;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #FFF7D7;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #FFA0A0;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #FF7979;
	--oasis-theme-light-primary: #B0C8DE;
	--oasis-theme-primary: #7FA3C9;
	--oasis-theme-secondary: #F0E68C;
	--oasis-theme-strong-primary: #5D8BBB;
	--oasis-ui-border: #7FA3C9;
	--oasis-ui-cursorLine: #122444;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #81C0FF;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #A3E39A;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #0B1832;
	--oasis-ui-float-border-bg: #0B1832;
	--oasis-ui-float-border-fg: #7FA3C9;
	--oasis-ui-float-fg: #D9E6FA;
	--oasis-ui-float-title: #F0E68C;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #CDC673;
	--oasis-ui-match-fg: #050F23;
	--oasis-ui-matchParen-bg: #4D4A42;
	--oasis-ui-matchParen-fg: #CDC673;
	--oasis-ui-nontext: #74808F;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #E8F1FF;
	--oasis-ui-title: #7FA3C9;
	--oasis-ui-visual-bg: #24364D;
	--oasis-ui-visual-fg: none;
}