/* extras/css/themes/dark/oasis_midnight_dark.css
 * name: Oasis Midnight Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="midnight_dark"],
.oasis-midnight_dark {
	--oasis-name: "Oasis Midnight Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #101418;
	--oasis-bg-mantle: #14181C;
	--oasis-bg-shadow: #0C1014;
	--oasis-bg-surface: #1C242C;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #1C242C;
	--oasis-diff-delete: #532E2E;
	--oasis-fg-core: #F7F4F2;
	--oasis-fg-dim: #635A51;
	--oasis-fg-muted: #3F5160;
	--oasis-fg-strong: #FFE0CC;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #A3ABB8;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #58B8FD;
	--oasis-syntax-comment: #5F7390;
	--oasis-syntax-conditional: #ED7777;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #D06666;
	--oasis-syntax-exception: #F0E68C;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #8FD1C7;
	--oasis-syntax-operator: #FABDA2;
	--oasis-syntax-parameter: #C28EFF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #F09595;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA247;
	--oasis-syntax-statement: #F28D8D;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #5ABAAE;
	--oasis-terminal-black: #101010;
	--oasis-terminal-blue: #519BFF;
	--oasis-terminal-bright-black: #504641;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101010;
	--oasis-terminal-color1: #D06666;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #519BFF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #504641;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #D06666;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #81C0B6;
	--oasis-theme-light-primary: #F29B9B;
	--oasis-theme-palette-primary-50: #FFACA5;
	--oasis-theme-palette-primary-100: #F29B9B;
	--oasis-theme-palette-primary-200: #F39493;
	--oasis-theme-palette-primary-300: #F28D8D;
	--oasis-theme-palette-primary-400: #F58888;
	--oasis-theme-palette-primary-500: #ED7777;
	--oasis-theme-palette-primary-600: #E87272;
	--oasis-theme-palette-primary-700: #E26E6E;
	--oasis-theme-palette-primary-800: #D06666;
	--oasis-theme-palette-primary-900: #A23B3B;
	--oasis-theme-primary: #ED7777;
	--oasis-theme-secondary: #F8B471;
	--oasis-theme-strong-primary: #D06666;
	--oasis-ui-border: #D06666;
	--oasis-ui-curSearch-bg: #F0E68C;
	--oasis-ui-curSearch-fg: #101418;
	--oasis-ui-cursorLine: #1C242C;
	--oasis-ui-diag-error-bg: #322639;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #273644;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #203346;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #00FF7F;
	--oasis-ui-diag-warn-bg: #38343D;
	--oasis-ui-diag-warn-fg: #EEEE00;
	--oasis-ui-float-bg: #1C242C;
	--oasis-ui-float-border-bg: #14181C;
	--oasis-ui-float-border-fg: #D06666;
	--oasis-ui-float-fg: #F7F4F2;
	--oasis-ui-float-title: #ED7777;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #FFA247;
	--oasis-ui-match-fg: #101418;
	--oasis-ui-nontext: #635A51;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #F7F4F2;
	--oasis-ui-title: #ED7777;
	--oasis-ui-visual-bg: #1C242C;
	--oasis-ui-visual-fg: none;
}