/* extras/css/themes/dark/oasis_cactus_dark.css
 * name: Oasis Cactus Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="cactus_dark"],
.oasis-cactus_dark {
	--oasis-name: "Oasis Cactus Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #1C261E;
	--oasis-bg-mantle: #2C3A30;
	--oasis-bg-shadow: #19231B;
	--oasis-bg-surface: #3C4B3E;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #3C4B3E;
	--oasis-diff-delete: #532E2E;
	--oasis-fg-core: #DDF0E5;
	--oasis-fg-dim: #756456;
	--oasis-fg-muted: #4B5F4F;
	--oasis-fg-strong: #C7EDCF;
	--oasis-syntax-bracket: #B3BAC7;
	--oasis-syntax-builtinConst: #B3BAC7;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #F0E68C;
	--oasis-syntax-comment: #608864;
	--oasis-syntax-conditional: #93C795;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #7FBB82;
	--oasis-syntax-exception: #F39493;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-operator: #FFB0B0;
	--oasis-syntax-parameter: #C695FF;
	--oasis-syntax-preproc: #FFDCA4;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #AED6B0;
	--oasis-syntax-string: #34CB7D;
	--oasis-syntax-type: #58B8FD;
	--oasis-terminal-black: #000000;
	--oasis-terminal-blue: #519BFF;
	--oasis-terminal-bright-black: #666666;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #FFA247;
	--oasis-terminal-color0: #000000;
	--oasis-terminal-color1: #D06666;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #FFA247;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #519BFF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #666666;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #D06666;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #FFA0A0;
	--oasis-theme-light-primary: #A7D3A9;
	--oasis-theme-palette-primary-50: #DEF6E0;
	--oasis-theme-palette-primary-100: #D2EED4;
	--oasis-theme-palette-primary-200: #C6E6C8;
	--oasis-theme-palette-primary-300: #BADEBC;
	--oasis-theme-palette-primary-400: #AED6B0;
	--oasis-theme-palette-primary-500: #A7D3A9;
	--oasis-theme-palette-primary-600: #93C795;
	--oasis-theme-palette-primary-700: #7FBB82;
	--oasis-theme-palette-primary-800: #5A9C5D;
	--oasis-theme-palette-primary-900: #355E37;
	--oasis-theme-primary: #7FBB82;
	--oasis-theme-secondary: #FF8080;
	--oasis-ui-border: #7FBB82;
	--oasis-ui-curSearch-bg: #F5A72C;
	--oasis-ui-curSearch-fg: #1C261E;
	--oasis-ui-cursorLine: #2C3A30;
	--oasis-ui-diag-error-bg: #322639;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #273644;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #203346;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #00FF7F;
	--oasis-ui-diag-warn-bg: #38343D;
	--oasis-ui-diag-warn-fg: #EEEE00;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #3C4B3E;
	--oasis-ui-float-border-bg: #2C3A30;
	--oasis-ui-float-border-fg: #7FBB82;
	--oasis-ui-float-fg: #DDF0E5;
	--oasis-ui-float-title: #7FBB82;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #FFA247;
	--oasis-ui-match-fg: #1C261E;
	--oasis-ui-nontext: #756456;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #DDF0E5;
	--oasis-ui-title: #7FBB82;
	--oasis-ui-visual-bg: #5A3824;
	--oasis-ui-visual-fg: none;
}