/* extras/css/themes/dark/oasis_dune_dark.css
 * name: Oasis Dune Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="dune_dark"],
.oasis-dune_dark {
	--oasis-name: "Oasis Dune Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #29211C;
	--oasis-bg-mantle: #352C26;
	--oasis-bg-shadow: #241D19;
	--oasis-bg-surface: #483F35;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #483F35;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #9F8B79;
	--oasis-fg-core: #E8E5DA;
	--oasis-fg-dim: #6E6E6E;
	--oasis-fg-muted: #826D5A;
	--oasis-fg-strong: #EDE8AF;
	--oasis-git-add: #A3E39A;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #F4EEFF;
	--oasis-palette-accent-100: #EEDDFF;
	--oasis-palette-accent-200: #DEC2FF;
	--oasis-palette-accent-300: #D2ADFF;
	--oasis-palette-accent-400: #CB9EFF;
	--oasis-palette-accent-500: #C28EFF;
	--oasis-palette-accent-600: #A870F0;
	--oasis-palette-accent-700: #9C5FEB;
	--oasis-palette-accent-800: #8F4FE6;
	--oasis-palette-accent-900: #7033CC;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #D6CE7C;
	--oasis-palette-primary-700: #CDC673;
	--oasis-palette-primary-800: #BDB76B;
	--oasis-palette-primary-900: #807C37;
	--oasis-palette-secondary-50: #DEF8F4;
	--oasis-palette-secondary-100: #CCEFE9;
	--oasis-palette-secondary-200: #BAE6DF;
	--oasis-palette-secondary-300: #A8DDD5;
	--oasis-palette-secondary-400: #96D4CB;
	--oasis-palette-secondary-500: #8FD1C7;
	--oasis-palette-secondary-600: #79C7BE;
	--oasis-palette-secondary-700: #68C0B6;
	--oasis-palette-secondary-800: #47A99B;
	--oasis-palette-secondary-900: #2A5E56;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #9797E9;
	--oasis-syntax-builtinFunc: #F9D9AB;
	--oasis-syntax-builtinVar: #CB9EFF;
	--oasis-syntax-comment: #9F8B79;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FFA34D;
	--oasis-syntax-delimiter: #BDB76B;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #E3C394;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #E28E6F;
	--oasis-syntax-operator: #D6CE7C;
	--oasis-syntax-parameter: #7FCF78;
	--oasis-syntax-preproc: #F7997D;
	--oasis-syntax-punctuation: #CDC673;
	--oasis-syntax-regex: #EAB8C8;
	--oasis-syntax-special: #FFC78F;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #FFA0A0;
	--oasis-syntax-type: #79C7BE;
	--oasis-syntax-typedef: #68C0B6;
	--oasis-terminal-black: #29211C;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #826D5A;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #A3E39A;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #F7F4E9;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #29211C;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #A3E39A;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #F7F4E9;
	--oasis-terminal-color2: #7FCF78;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #FFF7D7;
	--oasis-terminal-color8: #826D5A;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #7FCF78;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #FFF7D7;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #D2ADFF;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #79C7BE;
	--oasis-theme-light-primary: #F6EEB2;
	--oasis-theme-primary: #D6CE7C;
	--oasis-theme-secondary: #8FD1C7;
	--oasis-theme-strong-primary: #BDB76B;
	--oasis-ui-border: #BDB76B;
	--oasis-ui-cursorLine: #352C26;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #81C0FF;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #A3E39A;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #352C26;
	--oasis-ui-float-border-bg: #352C26;
	--oasis-ui-float-border-fg: #BDB76B;
	--oasis-ui-float-fg: #EDE8AF;
	--oasis-ui-float-title: #8FD1C7;
	--oasis-ui-lineNumber: #FFA34D;
	--oasis-ui-match-bg: #A1C254;
	--oasis-ui-match-fg: #29211C;
	--oasis-ui-matchParen-bg: #4D4A42;
	--oasis-ui-matchParen-fg: #68C0B6;
	--oasis-ui-nontext: #6E6E6E;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #E8E5DA;
	--oasis-ui-title: #D6CE7C;
	--oasis-ui-visual-bg: #483F35;
	--oasis-ui-visual-fg: none;
}