/* extras/css/themes/dark/oasis_desert_dark.css
 * name: Oasis Desert Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="desert_dark"],
.oasis-desert_dark {
	--oasis-name: "Oasis Desert Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #262626;
	--oasis-bg-mantle: #2E2E2E;
	--oasis-bg-shadow: #212121;
	--oasis-bg-surface: #404040;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #404040;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #948F7A;
	--oasis-fg-core: #F7EDE1;
	--oasis-fg-dim: #748C9A;
	--oasis-fg-muted: #77725F;
	--oasis-fg-strong: #E5D9CE;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #E6FDE3;
	--oasis-palette-accent-100: #D6FACF;
	--oasis-palette-accent-200: #C6F6BB;
	--oasis-palette-accent-300: #B6F2A7;
	--oasis-palette-accent-400: #A6EE93;
	--oasis-palette-accent-500: #96EA7F;
	--oasis-palette-accent-600: #81E665;
	--oasis-palette-accent-700: #70D255;
	--oasis-palette-accent-800: #4FA035;
	--oasis-palette-accent-900: #2E5E1F;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #CDC673;
	--oasis-palette-primary-700: #BDB76B;
	--oasis-palette-primary-800: #807C37;
	--oasis-palette-primary-900: #4D4A1B;
	--oasis-palette-secondary-50: #FFACA5;
	--oasis-palette-secondary-100: #F29B9B;
	--oasis-palette-secondary-200: #F39493;
	--oasis-palette-secondary-300: #F58B8B;
	--oasis-palette-secondary-400: #F78181;
	--oasis-palette-secondary-500: #FF7979;
	--oasis-palette-secondary-600: #E87272;
	--oasis-palette-secondary-700: #E26E6E;
	--oasis-palette-secondary-800: #D06666;
	--oasis-palette-secondary-900: #A23B3B;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #85A8CC;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #58B8FD;
	--oasis-syntax-comment: #948F7A;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #FF7979;
	--oasis-syntax-exception: #F58B8B;
	--oasis-syntax-func: #FFBA75;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-operator: #FFA0A0;
	--oasis-syntax-parameter: #CB9EFF;
	--oasis-syntax-preproc: #8FD1C7;
	--oasis-syntax-punctuation: #F09595;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA857;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #68C0B6;
	--oasis-terminal-black: #262626;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #77725F;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #262626;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #77725F;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #96EA7F;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #F3EA9F;
	--oasis-theme-primary: #F0E68C;
	--oasis-theme-secondary: #FF7979;
	--oasis-theme-secondary-light: #FFA0A0;
	--oasis-theme-secondary-strong: #D06666;
	--oasis-theme-strong-primary: #BDB76B;
	--oasis-ui-border: #FF7979;
	--oasis-ui-cursorLine: #2E2E2E;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #2E2E2E;
	--oasis-ui-float-border-bg: #2E2E2E;
	--oasis-ui-float-border-fg: #FF7979;
	--oasis-ui-float-fg: #E5D9CE;
	--oasis-ui-float-title: #FFA0A0;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #70D255;
	--oasis-ui-match-fg: #262626;
	--oasis-ui-matchParen-bg: #4D4A42;
	--oasis-ui-matchParen-fg: #F0E68C;
	--oasis-ui-nontext: #748C9A;
	--oasis-ui-search-bg: #345A2B;
	--oasis-ui-search-fg: #262626;
	--oasis-ui-title: #FF7979;
	--oasis-ui-visual-bg: #433F38;
	--oasis-ui-visual-fg: none;
}