/* extras/css/themes/dark/oasis_mirage_dark.css
 * name: Oasis Mirage Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="mirage_dark"],
.oasis-mirage_dark {
	--oasis-name: "Oasis Mirage Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #18252A;
	--oasis-bg-mantle: #1A2D33;
	--oasis-bg-shadow: #172328;
	--oasis-bg-surface: #2A3F46;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #2A3F46;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #439789;
	--oasis-fg-core: #DDEFEF;
	--oasis-fg-dim: #907C6C;
	--oasis-fg-muted: #587270;
	--oasis-fg-strong: #C9EEE6;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F3E989;
	--oasis-git-delete: #FFA0A0;
	--oasis-syntax-bracket: #B3BAC7;
	--oasis-syntax-builtinConst: #B3BAC7;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #F0E68C;
	--oasis-syntax-comment: #439789;
	--oasis-syntax-conditional: #5ABAAE;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #5ABAAE;
	--oasis-syntax-exception: #F39493;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #94D0FE;
	--oasis-syntax-operator: #FFB0B0;
	--oasis-syntax-parameter: #C695FF;
	--oasis-syntax-preproc: #FFD393;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #94E97C;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #96D4CB;
	--oasis-syntax-string: #34CB7D;
	--oasis-syntax-type: #58B8FD;
	--oasis-terminal-black: #101010;
	--oasis-terminal-blue: #71B8FF;
	--oasis-terminal-bright-black: #504641;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101010;
	--oasis-terminal-color1: #ED7777;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F3E989;
	--oasis-terminal-color4: #71B8FF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #504641;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #ED7777;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F3E989;
	--oasis-theme-accent: #C28EFF;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #96D4CB;
	--oasis-theme-palette-primary-50: #DEF8F4;
	--oasis-theme-palette-primary-100: #CCEFE9;
	--oasis-theme-palette-primary-200: #BAE6DF;
	--oasis-theme-palette-primary-300: #A8DDD5;
	--oasis-theme-palette-primary-400: #96D4CB;
	--oasis-theme-palette-primary-500: #8FD1C7;
	--oasis-theme-palette-primary-600: #81C0B6;
	--oasis-theme-palette-primary-700: #5ABAAE;
	--oasis-theme-palette-primary-800: #47A99B;
	--oasis-theme-palette-primary-900: #2A5E56;
	--oasis-theme-primary: #81C0B6;
	--oasis-theme-secondary: #F8B471;
	--oasis-theme-strong-primary: #5ABAAE;
	--oasis-ui-border: #5ABAAE;
	--oasis-ui-cursorLine: #1A2D33;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F3E989;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #1A2D33;
	--oasis-ui-float-border-bg: #1A2D33;
	--oasis-ui-float-border-fg: #5ABAAE;
	--oasis-ui-float-fg: #C9EEE6;
	--oasis-ui-float-title: #81C0B6;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #F9A05E;
	--oasis-ui-match-fg: #18252A;
	--oasis-ui-nontext: #907C6C;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #18252A;
	--oasis-ui-title: #81C0B6;
	--oasis-ui-visual-bg: #2A3F46;
	--oasis-ui-visual-fg: none;
}