/* extras/css/themes/dark/oasis_rose_dark.css
 * name: Oasis Rose Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="rose_dark"],
.oasis-rose_dark {
	--oasis-name: "Oasis Rose Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #301828;
	--oasis-bg-mantle: #3E2636;
	--oasis-bg-shadow: #2B1523;
	--oasis-bg-surface: #523A4B;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #523A4B;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #A87A91;
	--oasis-fg-core: #EDD5E7;
	--oasis-fg-dim: #8A786C;
	--oasis-fg-muted: #816175;
	--oasis-fg-strong: #EBBEDF;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #DEF8F4;
	--oasis-palette-accent-100: #CCEFE9;
	--oasis-palette-accent-200: #BAE6DF;
	--oasis-palette-accent-300: #A8DDD5;
	--oasis-palette-accent-400: #96D4CB;
	--oasis-palette-accent-500: #8FD1C7;
	--oasis-palette-accent-600: #79C7BE;
	--oasis-palette-accent-700: #68C0B6;
	--oasis-palette-accent-800: #47A99B;
	--oasis-palette-accent-900: #2A5E56;
	--oasis-palette-primary-50: #FFEBEB;
	--oasis-palette-primary-100: #FFDCDC;
	--oasis-palette-primary-200: #FFCECE;
	--oasis-palette-primary-300: #FFC0C0;
	--oasis-palette-primary-400: #FFB0B0;
	--oasis-palette-primary-500: #FFA0A0;
	--oasis-palette-primary-600: #FF9090;
	--oasis-palette-primary-700: #FF8080;
	--oasis-palette-primary-800: #CC5959;
	--oasis-palette-primary-900: #803333;
	--oasis-palette-secondary-50: #DEF6E0;
	--oasis-palette-secondary-100: #D2EED4;
	--oasis-palette-secondary-200: #C6E6C8;
	--oasis-palette-secondary-300: #BADEBC;
	--oasis-palette-secondary-400: #AED6B0;
	--oasis-palette-secondary-500: #A7D3A9;
	--oasis-palette-secondary-600: #93C795;
	--oasis-palette-secondary-700: #7FBB82;
	--oasis-palette-secondary-800: #5A9C5D;
	--oasis-palette-secondary-900: #355E37;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #85A8CC;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #58B8FD;
	--oasis-syntax-comment: #A87A91;
	--oasis-syntax-conditional: #FF8080;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #FF8080;
	--oasis-syntax-exception: #D6CE7C;
	--oasis-syntax-func: #FFBA75;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #B9ADA2;
	--oasis-syntax-operator: #FABDA2;
	--oasis-syntax-parameter: #CB9EFF;
	--oasis-syntax-preproc: #D5CAB9;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #A7D3A9;
	--oasis-syntax-statement: #FFA0A0;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #79C7BE;
	--oasis-syntax-typedef: #68C0B6;
	--oasis-terminal-black: #301828;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #816175;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #301828;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #816175;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #8FD1C7;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #93C795;
	--oasis-theme-light-primary: #FFB0B0;
	--oasis-theme-primary: #FF9090;
	--oasis-theme-secondary: #A7D3A9;
	--oasis-theme-strong-primary: #FF8080;
	--oasis-ui-border: #FF8080;
	--oasis-ui-cursorLine: #3E2636;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #3E2636;
	--oasis-ui-float-border-bg: #3E2636;
	--oasis-ui-float-border-fg: #FF8080;
	--oasis-ui-float-fg: #EBBEDF;
	--oasis-ui-float-title: #FF9090;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #96EA7F;
	--oasis-ui-match-fg: #301828;
	--oasis-ui-matchParen-bg: #345A2B;
	--oasis-ui-matchParen-fg: #81E665;
	--oasis-ui-nontext: #8A786C;
	--oasis-ui-search-bg: #345A2B;
	--oasis-ui-search-fg: #EDD5E7;
	--oasis-ui-title: #FF9090;
	--oasis-ui-visual-bg: #523A4B;
	--oasis-ui-visual-fg: none;
}