/* extras/css/themes/dark/oasis_cactus_dark.css
 * name: Oasis Cactus Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="cactus_dark"],
.oasis-cactus_dark {
	--oasis-name: "Oasis Cactus Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #1C261E;
	--oasis-bg-mantle: #2C3A30;
	--oasis-bg-shadow: #19231B;
	--oasis-bg-surface: #3C4B3E;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #3C4B3E;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #69956D;
	--oasis-fg-core: #DDF0E5;
	--oasis-fg-dim: #907B6A;
	--oasis-fg-muted: #5B7360;
	--oasis-fg-strong: #C7EDCF;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #F4EEFF;
	--oasis-palette-accent-100: #EEDDFF;
	--oasis-palette-accent-200: #DEC2FF;
	--oasis-palette-accent-300: #D2ADFF;
	--oasis-palette-accent-400: #C695FF;
	--oasis-palette-accent-500: #C28EFF;
	--oasis-palette-accent-600: #A870F0;
	--oasis-palette-accent-700: #9C5FEB;
	--oasis-palette-accent-800: #8F4FE6;
	--oasis-palette-accent-900: #7033CC;
	--oasis-palette-primary-50: #DEF6E0;
	--oasis-palette-primary-100: #D2EED4;
	--oasis-palette-primary-200: #C6E6C8;
	--oasis-palette-primary-300: #BADEBC;
	--oasis-palette-primary-400: #AED6B0;
	--oasis-palette-primary-500: #A7D3A9;
	--oasis-palette-primary-600: #93C795;
	--oasis-palette-primary-700: #7FBB82;
	--oasis-palette-primary-800: #5A9C5D;
	--oasis-palette-primary-900: #355E37;
	--oasis-palette-secondary-50: #FFEBEB;
	--oasis-palette-secondary-100: #FFDCDC;
	--oasis-palette-secondary-200: #FFCECE;
	--oasis-palette-secondary-300: #FFC0C0;
	--oasis-palette-secondary-400: #FFB0B0;
	--oasis-palette-secondary-500: #FFA0A0;
	--oasis-palette-secondary-600: #FF9090;
	--oasis-palette-secondary-700: #FF8080;
	--oasis-palette-secondary-800: #CC5959;
	--oasis-palette-secondary-900: #803333;
	--oasis-syntax-bracket: #B3BAC7;
	--oasis-syntax-builtinConst: #B3BAC7;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #F0E68C;
	--oasis-syntax-comment: #69956D;
	--oasis-syntax-conditional: #93C795;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #7FBB82;
	--oasis-syntax-exception: #F39493;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-operator: #FFB0B0;
	--oasis-syntax-parameter: #C695FF;
	--oasis-syntax-preproc: #FFDCA4;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #AED6B0;
	--oasis-syntax-string: #43CF8C;
	--oasis-syntax-type: #58B8FD;
	--oasis-terminal-black: #1C261E;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #5B7360;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #1C261E;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #5B7360;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #D2ADFF;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #A7D3A9;
	--oasis-theme-primary: #7FBB82;
	--oasis-theme-secondary: #FFA0A0;
	--oasis-theme-strong-primary: #7FBB82;
	--oasis-ui-border: #7FBB82;
	--oasis-ui-cursorLine: #2C3A30;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #2C3A30;
	--oasis-ui-float-border-bg: #2C3A30;
	--oasis-ui-float-border-fg: #7FBB82;
	--oasis-ui-float-fg: #C7EDCF;
	--oasis-ui-float-title: #7FBB82;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #FFA0A0;
	--oasis-ui-match-fg: #1C261E;
	--oasis-ui-nontext: #907B6A;
	--oasis-ui-search-bg: #532E2E;
	--oasis-ui-search-fg: #DDF0E5;
	--oasis-ui-title: #7FBB82;
	--oasis-ui-visual-bg: #3C4B3E;
	--oasis-ui-visual-fg: none;
}