/* extras/css/themes/dark/oasis_canyon_dark.css
 * name: Oasis Canyon Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="canyon_dark"],
.oasis-canyon_dark {
	--oasis-name: "Oasis Canyon Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #2F1A05;
	--oasis-bg-mantle: #402412;
	--oasis-bg-shadow: #2B1804;
	--oasis-bg-surface: #624020;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #624020;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #AD7C5D;
	--oasis-fg-core: #F8E7D3;
	--oasis-fg-dim: #7B7B7B;
	--oasis-fg-muted: #8B6043;
	--oasis-fg-strong: #FFD8BC;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #DEF6FC;
	--oasis-palette-accent-100: #CBEEF9;
	--oasis-palette-accent-200: #B8E5F5;
	--oasis-palette-accent-300: #A5DCF1;
	--oasis-palette-accent-400: #92D3ED;
	--oasis-palette-accent-500: #87CEEB;
	--oasis-palette-accent-600: #6BBAE0;
	--oasis-palette-accent-700: #4D9ACF;
	--oasis-palette-accent-800: #2E6894;
	--oasis-palette-accent-900: #1A3D5C;
	--oasis-palette-primary-50: #FFE7CC;
	--oasis-palette-primary-100: #FFD7AD;
	--oasis-palette-primary-200: #FFC78F;
	--oasis-palette-primary-300: #FFB870;
	--oasis-palette-primary-400: #FFA852;
	--oasis-palette-primary-500: #FFA247;
	--oasis-palette-primary-600: #FF8A1F;
	--oasis-palette-primary-700: #E67200;
	--oasis-palette-primary-800: #B35A00;
	--oasis-palette-primary-900: #804000;
	--oasis-palette-secondary-50: #FFEBEB;
	--oasis-palette-secondary-100: #FFDCDC;
	--oasis-palette-secondary-200: #FFCECE;
	--oasis-palette-secondary-300: #FFC0C0;
	--oasis-palette-secondary-400: #FFB0B0;
	--oasis-palette-secondary-500: #FFA0A0;
	--oasis-palette-secondary-600: #FF9090;
	--oasis-palette-secondary-700: #FF8080;
	--oasis-palette-secondary-800: #CC5959;
	--oasis-palette-secondary-900: #803333;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #A3ABB8;
	--oasis-syntax-builtinFunc: #FFD082;
	--oasis-syntax-builtinVar: #76C4FD;
	--oasis-syntax-comment: #AD7C5D;
	--oasis-syntax-conditional: #FFA852;
	--oasis-syntax-constant: #F4E36B;
	--oasis-syntax-delimiter: #FFA247;
	--oasis-syntax-exception: #F58B8B;
	--oasis-syntax-func: #FFDCA4;
	--oasis-syntax-identifier: #96D4CB;
	--oasis-syntax-operator: #FFA0A0;
	--oasis-syntax-parameter: #C695FF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #F09595;
	--oasis-syntax-regex: #A6EE93;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #FFB870;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #68C0B6;
	--oasis-terminal-black: #101010;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #7B7B7B;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101010;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #7B7B7B;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #87CEEB;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #F9C97B;
	--oasis-theme-primary: #FFB870;
	--oasis-theme-secondary: #FFA0A0;
	--oasis-theme-strong-primary: #FFA247;
	--oasis-ui-border: #FFA247;
	--oasis-ui-cursorLine: #402412;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #92D3ED;
	--oasis-ui-float-bg: #402412;
	--oasis-ui-float-border-bg: #402412;
	--oasis-ui-float-border-fg: #FFA247;
	--oasis-ui-float-fg: #FFD8BC;
	--oasis-ui-float-title: #FFB870;
	--oasis-ui-lineNumber: #FFD700;
	--oasis-ui-match-bg: #92D3ED;
	--oasis-ui-match-fg: #2F1A05;
	--oasis-ui-nontext: #7B7B7B;
	--oasis-ui-search-bg: #335668;
	--oasis-ui-search-fg: #F8E7D3;
	--oasis-ui-title: #FFB870;
	--oasis-ui-visual-bg: #624020;
	--oasis-ui-visual-fg: none;
}