/* extras/css/themes/dark/oasis_starlight_dark.css
 * name: Oasis Starlight Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="starlight_dark"],
.oasis-starlight_dark {
	--oasis-name: "Oasis Starlight Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #000000;
	--oasis-bg-mantle: #080808;
	--oasis-bg-shadow: #050505;
	--oasis-bg-surface: #1A1A1A;
	--oasis-diff-add: #6BBF59;
	--oasis-diff-change: #1A1A1A;
	--oasis-diff-delete: #532E2E;
	--oasis-fg-core: #FAF7F0;
	--oasis-fg-dim: #816658;
	--oasis-fg-muted: #4E5A6A;
	--oasis-fg-strong: #DCD9D2;
	--oasis-syntax-bracket: #A3A3BB;
	--oasis-syntax-builtinConst: #A3ABB8;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #F0E68C;
	--oasis-syntax-comment: #7FA5CC;
	--oasis-syntax-conditional: #3AACFD;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #1CA0FD;
	--oasis-syntax-exception: #ED7777;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #A8DDD5;
	--oasis-syntax-operator: #FFA0A0;
	--oasis-syntax-parameter: #C28EFF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #FF8080;
	--oasis-syntax-regex: #94E97C;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #58B8FD;
	--oasis-syntax-string: #34CB7D;
	--oasis-syntax-type: #81C0B6;
	--oasis-terminal-black: #101010;
	--oasis-terminal-blue: #519BFF;
	--oasis-terminal-bright-black: #504641;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101010;
	--oasis-terminal-color1: #D06666;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #519BFF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #504641;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #D06666;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #F8B471;
	--oasis-theme-light-primary: #87CEEB;
	--oasis-theme-palette-primary-50: #EEF4FF;
	--oasis-theme-palette-primary-100: #D0E8FE;
	--oasis-theme-palette-primary-200: #B2DCFE;
	--oasis-theme-palette-primary-300: #94D0FE;
	--oasis-theme-palette-primary-400: #76C4FD;
	--oasis-theme-palette-primary-500: #58B8FD;
	--oasis-theme-palette-primary-600: #3AACFD;
	--oasis-theme-palette-primary-700: #1CA0FD;
	--oasis-theme-palette-primary-800: #1670AD;
	--oasis-theme-palette-primary-900: #0D4266;
	--oasis-theme-primary: #58B8FD;
	--oasis-theme-secondary: #F0E68C;
	--oasis-theme-strong-primary: #1CA0FD;
	--oasis-ui-border: #1CA0FD;
	--oasis-ui-curSearch-bg: #F0E68C;
	--oasis-ui-curSearch-fg: #000000;
	--oasis-ui-cursorLine: #1A283F;
	--oasis-ui-diag-error-bg: #322639;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #273644;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #203346;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #00FF7F;
	--oasis-ui-diag-warn-bg: #38343D;
	--oasis-ui-diag-warn-fg: #EEEE00;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #1A1A1A;
	--oasis-ui-float-border-bg: #080808;
	--oasis-ui-float-border-fg: #1CA0FD;
	--oasis-ui-float-fg: #FAF7F0;
	--oasis-ui-float-title: #58B8FD;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #FFA247;
	--oasis-ui-match-fg: #000000;
	--oasis-ui-nontext: #816658;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #FAF7F0;
	--oasis-ui-title: #58B8FD;
	--oasis-ui-visual-bg: #4D4528;
	--oasis-ui-visual-fg: none;
}