/* extras/css/themes/dark/oasis_dune_dark.css
 * name: Oasis Dune Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="dune_dark"],
.oasis-dune_dark {
	--oasis-name: "Oasis Dune Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #27211B;
	--oasis-bg-crust: #211D17;
	--oasis-bg-mantle: #322A24;
	--oasis-bg-shadow: #1E1A15;
	--oasis-bg-surface: #463E34;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #463E34;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #9F8B79;
	--oasis-fg-core: #F5F5DC;
	--oasis-fg-dim: #6E6E6E;
	--oasis-fg-muted: #826D5A;
	--oasis-fg-strong: #FFFFF0;
	--oasis-git-add: #A3E39A;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #F4EEFF;
	--oasis-palette-accent-100: #EEDDFF;
	--oasis-palette-accent-200: #DEC2FF;
	--oasis-palette-accent-300: #D2ADFF;
	--oasis-palette-accent-400: #CB9EFF;
	--oasis-palette-accent-500: #C28EFF;
	--oasis-palette-accent-600: #A870F0;
	--oasis-palette-accent-700: #9C5FEB;
	--oasis-palette-accent-800: #8F4FE6;
	--oasis-palette-accent-900: #7033CC;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #D8CF7F;
	--oasis-palette-primary-700: #CDC673;
	--oasis-palette-primary-800: #BDB76B;
	--oasis-palette-primary-900: #9B9746;
	--oasis-palette-secondary-50: #DAF7F1;
	--oasis-palette-secondary-100: #C6EEE5;
	--oasis-palette-secondary-200: #B2E5D8;
	--oasis-palette-secondary-300: #9EDCCB;
	--oasis-palette-secondary-400: #8AD3BE;
	--oasis-palette-secondary-500: #7CCDB5;
	--oasis-palette-secondary-600: #69C3AA;
	--oasis-palette-secondary-700: #55B69D;
	--oasis-palette-secondary-800: #3B9F87;
	--oasis-palette-secondary-900: #24594A;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtin-const: #9797E9;
	--oasis-syntax-builtin-func: #E0AA87;
	--oasis-syntax-builtin-var: #CB9EFF;
	--oasis-syntax-comment: #9F8B79;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FFA34D;
	--oasis-syntax-delimiter: #BDB76B;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #E9C0A5;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #9CBC4E;
	--oasis-syntax-operator: #D8CF7F;
	--oasis-syntax-parameter: #7FCF78;
	--oasis-syntax-preproc: #ADC76B;
	--oasis-syntax-punctuation: #9B9746;
	--oasis-syntax-regex: #ECB5CB;
	--oasis-syntax-special: #FFBA75;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #FFA0A0;
	--oasis-syntax-type: #7CCDB5;
	--oasis-syntax-typedef: #55B69D;
	--oasis-terminal-black: #27211B;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #826D5A;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8AD3BE;
	--oasis-terminal-bright-green: #A3E39A;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFFFF0;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #27211B;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #A3E39A;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8AD3BE;
	--oasis-terminal-color15: #FFFFF0;
	--oasis-terminal-color2: #7FCF78;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #69C3AA;
	--oasis-terminal-color7: #F5F5DC;
	--oasis-terminal-color8: #826D5A;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #69C3AA;
	--oasis-terminal-green: #7FCF78;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #F5F5DC;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #D2ADFF;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #69C3AA;
	--oasis-theme-primary: #D8CF7F;
	--oasis-theme-primary-light: #F6EEB2;
	--oasis-theme-primary-strong: #BDB76B;
	--oasis-theme-secondary: #7CCDB5;
	--oasis-ui-border: #BDB76B;
	--oasis-ui-cursor-line: #322A24;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8AD3BE;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #81C0FF;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #A3E39A;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #211D17;
	--oasis-ui-float-border-bg: #211D17;
	--oasis-ui-float-border-fg: #BDB76B;
	--oasis-ui-float-fg: #FFFFF0;
	--oasis-ui-float-title: #7CCDB5;
	--oasis-ui-line-number: #FFA34D;
	--oasis-ui-match-bg: #ADC76B;
	--oasis-ui-match-fg: #27211B;
	--oasis-ui-match-parent-bg: #4D4A42;
	--oasis-ui-match-parent-fg: #55B69D;
	--oasis-ui-nontext: #6E6E6E;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #F5F5DC;
	--oasis-ui-title: #D8CF7F;
	--oasis-ui-visual-bg: #463E34;
	--oasis-ui-visual-fg: none;
}