/* extras/css/themes/dark/oasis_rose_dark.css
 * name: Oasis Rose Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="rose_dark"],
.oasis-rose_dark {
	--oasis-name: "Oasis Rose Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #2C1724;
	--oasis-bg-crust: #25131E;
	--oasis-bg-mantle: #3C2534;
	--oasis-bg-shadow: #22111B;
	--oasis-bg-surface: #4E3747;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #4E3747;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #A87A91;
	--oasis-fg-core: #F5F5DC;
	--oasis-fg-dim: #8A786C;
	--oasis-fg-muted: #816175;
	--oasis-fg-strong: #FFFFF0;
	--oasis-git-add: #A3E39A;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #DAF7F1;
	--oasis-palette-accent-100: #C6EEE5;
	--oasis-palette-accent-200: #B2E5D8;
	--oasis-palette-accent-300: #9EDCCB;
	--oasis-palette-accent-400: #8AD3BE;
	--oasis-palette-accent-500: #7CCDB5;
	--oasis-palette-accent-600: #69C3AA;
	--oasis-palette-accent-700: #55B69D;
	--oasis-palette-accent-800: #3B9F87;
	--oasis-palette-accent-900: #24594A;
	--oasis-palette-primary-50: #FCF0F4;
	--oasis-palette-primary-100: #F9E2EA;
	--oasis-palette-primary-200: #F5D3E0;
	--oasis-palette-primary-300: #F1C4D6;
	--oasis-palette-primary-400: #ECB5CB;
	--oasis-palette-primary-500: #E6A4BE;
	--oasis-palette-primary-600: #DF93B1;
	--oasis-palette-primary-700: #D783A7;
	--oasis-palette-primary-800: #B26780;
	--oasis-palette-primary-900: #8E4F67;
	--oasis-palette-secondary-50: #DEF6E0;
	--oasis-palette-secondary-100: #D2EED4;
	--oasis-palette-secondary-200: #C6E6C8;
	--oasis-palette-secondary-300: #BADEBC;
	--oasis-palette-secondary-400: #AED6B0;
	--oasis-palette-secondary-500: #A7D3A9;
	--oasis-palette-secondary-600: #93C795;
	--oasis-palette-secondary-700: #7FBB82;
	--oasis-palette-secondary-800: #5A9C5D;
	--oasis-palette-secondary-900: #355E37;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtin-const: #9797E9;
	--oasis-syntax-builtin-func: #E0AA87;
	--oasis-syntax-builtin-var: #CB9EFF;
	--oasis-syntax-comment: #A87A91;
	--oasis-syntax-conditional: #DF93B1;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #B26780;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #E9C0A5;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #9CBC4E;
	--oasis-syntax-operator: #DF93B1;
	--oasis-syntax-parameter: #7FCF78;
	--oasis-syntax-preproc: #ADC76B;
	--oasis-syntax-punctuation: #D783A7;
	--oasis-syntax-regex: #D8CF7F;
	--oasis-syntax-special: #FFBA75;
	--oasis-syntax-statement: #ECB5CB;
	--oasis-syntax-string: #FFA0A0;
	--oasis-syntax-type: #7CCDB5;
	--oasis-syntax-typedef: #55B69D;
	--oasis-terminal-black: #2C1724;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #816175;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8AD3BE;
	--oasis-terminal-bright-green: #A3E39A;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFFFF0;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #2C1724;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #A3E39A;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8AD3BE;
	--oasis-terminal-color15: #FFFFF0;
	--oasis-terminal-color2: #7FCF78;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #69C3AA;
	--oasis-terminal-color7: #F5F5DC;
	--oasis-terminal-color8: #816175;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #69C3AA;
	--oasis-terminal-green: #7FCF78;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #F5F5DC;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #7CCDB5;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #7FBB82;
	--oasis-theme-primary: #E6A4BE;
	--oasis-theme-primary-light: #ECB5CB;
	--oasis-theme-primary-strong: #DF93B1;
	--oasis-theme-secondary: #93C795;
	--oasis-ui-border: #DF93B1;
	--oasis-ui-cursor-line: #3C2534;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8AD3BE;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #81C0FF;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #A3E39A;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #25131E;
	--oasis-ui-float-border-bg: #25131E;
	--oasis-ui-float-border-fg: #DF93B1;
	--oasis-ui-float-fg: #FFFFF0;
	--oasis-ui-float-title: #93C795;
	--oasis-ui-line-number: #FF9633;
	--oasis-ui-match-bg: #7FCF78;
	--oasis-ui-match-fg: #2C1724;
	--oasis-ui-match-parent-bg: #345A2B;
	--oasis-ui-match-parent-fg: #7FBB82;
	--oasis-ui-nontext: #8A786C;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #F5F5DC;
	--oasis-ui-title: #E6A4BE;
	--oasis-ui-visual-bg: #4E3747;
	--oasis-ui-visual-fg: none;
}