/* extras/css/themes/dark/oasis_abyss_dark.css
 * name: Oasis Abyss Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="abyss_dark"],
.oasis-abyss_dark {
	--oasis-name: "Oasis Abyss Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #000000;
	--oasis-bg-mantle: #080808;
	--oasis-bg-shadow: #000000;
	--oasis-bg-surface: #1A1A1A;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #1A1A1A;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #7A7662;
	--oasis-fg-core: #F0EBE6;
	--oasis-fg-dim: #587179;
	--oasis-fg-muted: #605C4D;
	--oasis-fg-strong: #FFDACC;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #DEF8F4;
	--oasis-palette-accent-100: #CCEFE9;
	--oasis-palette-accent-200: #BAE6DF;
	--oasis-palette-accent-300: #A8DDD5;
	--oasis-palette-accent-400: #96D4CB;
	--oasis-palette-accent-500: #8FD1C7;
	--oasis-palette-accent-600: #79C7BE;
	--oasis-palette-accent-700: #68C0B6;
	--oasis-palette-accent-800: #47A99B;
	--oasis-palette-accent-900: #2A5E56;
	--oasis-palette-primary-50: #FFACA5;
	--oasis-palette-primary-100: #F29B9B;
	--oasis-palette-primary-200: #F39493;
	--oasis-palette-primary-300: #F58B8B;
	--oasis-palette-primary-400: #F78181;
	--oasis-palette-primary-500: #FF7979;
	--oasis-palette-primary-600: #E87272;
	--oasis-palette-primary-700: #E26E6E;
	--oasis-palette-primary-800: #D06666;
	--oasis-palette-primary-900: #A23B3B;
	--oasis-palette-secondary-50: #FDF0D0;
	--oasis-palette-secondary-100: #FCE4BD;
	--oasis-palette-secondary-200: #FBD8AA;
	--oasis-palette-secondary-300: #FACC97;
	--oasis-palette-secondary-400: #F9C084;
	--oasis-palette-secondary-500: #F8B471;
	--oasis-palette-secondary-600: #F9A05E;
	--oasis-palette-secondary-700: #F8944D;
	--oasis-palette-secondary-800: #B3671F;
	--oasis-palette-secondary-900: #663A14;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #85A8CC;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #58B8FD;
	--oasis-syntax-comment: #7A7662;
	--oasis-syntax-conditional: #E87272;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #E26E6E;
	--oasis-syntax-exception: #CDC673;
	--oasis-syntax-func: #FFBA75;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-operator: #F9AD92;
	--oasis-syntax-parameter: #C28EFF;
	--oasis-syntax-preproc: #8FD1C7;
	--oasis-syntax-punctuation: #E58383;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA34D;
	--oasis-syntax-statement: #F78181;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #68C0B6;
	--oasis-terminal-black: #000000;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #605C4D;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #000000;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #605C4D;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #8FD1C7;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #F29B9B;
	--oasis-theme-primary: #FF7979;
	--oasis-theme-secondary: #F8B471;
	--oasis-theme-strong-primary: #E26E6E;
	--oasis-ui-border: #FF7979;
	--oasis-ui-cursorLine: #1A1A1A;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #080808;
	--oasis-ui-float-border-bg: #080808;
	--oasis-ui-float-border-fg: #FF7979;
	--oasis-ui-float-fg: #FFDACC;
	--oasis-ui-float-title: #FF7979;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #F0E68C;
	--oasis-ui-match-fg: #000000;
	--oasis-ui-matchParen-bg: #4D4A42;
	--oasis-ui-matchParen-fg: #F0E68C;
	--oasis-ui-nontext: #587179;
	--oasis-ui-search-bg: #4D4A42;
	--oasis-ui-search-fg: #F0EBE6;
	--oasis-ui-title: #FF7979;
	--oasis-ui-visual-bg: #532E2E;
	--oasis-ui-visual-fg: none;
}