/* extras/css/themes/dark/oasis_mirage_dark.css
 * name: Oasis Mirage Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="mirage_dark"],
.oasis-mirage_dark {
	--oasis-name: "Oasis Mirage Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #18252A;
	--oasis-bg-mantle: #1A2D33;
	--oasis-bg-shadow: #172328;
	--oasis-bg-surface: #2A3F46;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #2A3F46;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #439789;
	--oasis-fg-core: #DDEFEF;
	--oasis-fg-dim: #907C6C;
	--oasis-fg-muted: #587270;
	--oasis-fg-strong: #C9EEE6;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #F4EEFF;
	--oasis-palette-accent-100: #EEDDFF;
	--oasis-palette-accent-200: #DEC2FF;
	--oasis-palette-accent-300: #D2ADFF;
	--oasis-palette-accent-400: #CB9EFF;
	--oasis-palette-accent-500: #C28EFF;
	--oasis-palette-accent-600: #A870F0;
	--oasis-palette-accent-700: #9C5FEB;
	--oasis-palette-accent-800: #8F4FE6;
	--oasis-palette-accent-900: #7033CC;
	--oasis-palette-primary-50: #DEF8F4;
	--oasis-palette-primary-100: #CCEFE9;
	--oasis-palette-primary-200: #BAE6DF;
	--oasis-palette-primary-300: #A8DDD5;
	--oasis-palette-primary-400: #96D4CB;
	--oasis-palette-primary-500: #8FD1C7;
	--oasis-palette-primary-600: #79C7BE;
	--oasis-palette-primary-700: #68C0B6;
	--oasis-palette-primary-800: #47A99B;
	--oasis-palette-primary-900: #2A5E56;
	--oasis-palette-secondary-50: #FDF0D0;
	--oasis-palette-secondary-100: #FCE4BD;
	--oasis-palette-secondary-200: #FBD8AA;
	--oasis-palette-secondary-300: #FACC97;
	--oasis-palette-secondary-400: #F9C084;
	--oasis-palette-secondary-500: #F8B471;
	--oasis-palette-secondary-600: #F9A05E;
	--oasis-palette-secondary-700: #F8944D;
	--oasis-palette-secondary-800: #B3671F;
	--oasis-palette-secondary-900: #663A14;
	--oasis-syntax-bracket: #B3BAC7;
	--oasis-syntax-builtinConst: #93B3D2;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #F0E68C;
	--oasis-syntax-comment: #439789;
	--oasis-syntax-conditional: #68C0B6;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #68C0B6;
	--oasis-syntax-exception: #F39493;
	--oasis-syntax-func: #FFBA75;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-operator: #FFB0B0;
	--oasis-syntax-parameter: #CB9EFF;
	--oasis-syntax-preproc: #FFD393;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #81E665;
	--oasis-syntax-special: #FFA857;
	--oasis-syntax-statement: #96D4CB;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #58B8FD;
	--oasis-terminal-black: #18252A;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #587270;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #18252A;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #587270;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #D2ADFF;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #96D4CB;
	--oasis-theme-primary: #79C7BE;
	--oasis-theme-secondary: #F8B471;
	--oasis-theme-strong-primary: #68C0B6;
	--oasis-ui-border: #68C0B6;
	--oasis-ui-cursorLine: #1A2D33;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #1A2D33;
	--oasis-ui-float-border-bg: #1A2D33;
	--oasis-ui-float-border-fg: #68C0B6;
	--oasis-ui-float-fg: #C9EEE6;
	--oasis-ui-float-title: #79C7BE;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #F9A05E;
	--oasis-ui-match-fg: #18252A;
	--oasis-ui-matchParen-bg: #5A3824;
	--oasis-ui-matchParen-fg: #F9A05E;
	--oasis-ui-nontext: #907C6C;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #18252A;
	--oasis-ui-title: #79C7BE;
	--oasis-ui-visual-bg: #2A3F46;
	--oasis-ui-visual-fg: none;
}