/* extras/css/themes/dark/oasis_luna_dark.css
 * name: Oasis Luna Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="luna_dark"],
.oasis-luna_dark {
	--oasis-name: "Oasis Luna Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #101032;
	--oasis-bg-mantle: #1A1646;
	--oasis-bg-shadow: #0C0A2A;
	--oasis-bg-surface: #241F56;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #241F56;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #A29AC9;
	--oasis-fg-core: #EEEAFE;
	--oasis-fg-dim: #7E789B;
	--oasis-fg-muted: #8A82B3;
	--oasis-fg-strong: #DCD5FF;
	--oasis-git-add: #A3E39A;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #ECFCFF;
	--oasis-palette-accent-100: #D8F7FD;
	--oasis-palette-accent-200: #C0EFFB;
	--oasis-palette-accent-300: #A5E5F7;
	--oasis-palette-accent-400: #8ADAF2;
	--oasis-palette-accent-500: #6DCEEB;
	--oasis-palette-accent-600: #4FC0E0;
	--oasis-palette-accent-700: #36A5CA;
	--oasis-palette-accent-800: #2788AC;
	--oasis-palette-accent-900: #1E6F8E;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #D6CE7C;
	--oasis-palette-primary-700: #CDC673;
	--oasis-palette-primary-800: #BDB76B;
	--oasis-palette-primary-900: #807C37;
	--oasis-palette-secondary-50: #FFE7CC;
	--oasis-palette-secondary-100: #FFD7AD;
	--oasis-palette-secondary-200: #FFC78F;
	--oasis-palette-secondary-300: #FFBA75;
	--oasis-palette-secondary-400: #FFA857;
	--oasis-palette-secondary-500: #FFA34D;
	--oasis-palette-secondary-600: #FF9633;
	--oasis-palette-secondary-700: #FF8A1F;
	--oasis-palette-secondary-800: #E67200;
	--oasis-palette-secondary-900: #B35A00;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #A9A9ED;
	--oasis-syntax-builtinFunc: #F9D9AB;
	--oasis-syntax-builtinVar: #CB9EFF;
	--oasis-syntax-comment: #A29AC9;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FF9633;
	--oasis-syntax-delimiter: #BDB76B;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #E3C394;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #C96E4D;
	--oasis-syntax-operator: #CDC673;
	--oasis-syntax-parameter: #7FCF78;
	--oasis-syntax-preproc: #E28E6F;
	--oasis-syntax-punctuation: #BDB76B;
	--oasis-syntax-regex: #EAB8C8;
	--oasis-syntax-special: #FFC78F;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #FFA0A0;
	--oasis-syntax-type: #68C0B6;
	--oasis-syntax-typedef: #47A99B;
	--oasis-terminal-black: #101032;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #8A82B3;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #A3E39A;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #F7F4E9;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101032;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #A3E39A;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #F7F4E9;
	--oasis-terminal-color2: #7FCF78;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #FFF7D7;
	--oasis-terminal-color8: #8A82B3;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #7FCF78;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #FFF7D7;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #6DCEEB;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #E87272;
	--oasis-theme-light-primary: #F3EA9F;
	--oasis-theme-primary: #F0E68C;
	--oasis-theme-secondary: #9797E9;
	--oasis-theme-secondary-light: #BCBDF5;
	--oasis-theme-secondary-strong: #BDB76B;
	--oasis-theme-status: #8D8DE7;
	--oasis-theme-strong-primary: #BDB76B;
	--oasis-ui-border: #9797E9;
	--oasis-ui-cursorLine: #241F56;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #81C0FF;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #A3E39A;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #1A1646;
	--oasis-ui-float-border-bg: #1A1646;
	--oasis-ui-float-border-fg: #9797E9;
	--oasis-ui-float-fg: #DCD5FF;
	--oasis-ui-float-title: #F0E68C;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #A1C254;
	--oasis-ui-match-fg: #101032;
	--oasis-ui-matchParen-bg: #4D4A42;
	--oasis-ui-matchParen-fg: #CDC673;
	--oasis-ui-nontext: #7E789B;
	--oasis-ui-picker-bg: #1A1646;
	--oasis-ui-picker-border-bg: #1A1646;
	--oasis-ui-picker-border-fg: #F0E68C;
	--oasis-ui-picker-fg: #DCD5FF;
	--oasis-ui-picker-title: #F0E68C;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #EEEAFE;
	--oasis-ui-title: #F0E68C;
	--oasis-ui-visual-bg: #433F38;
	--oasis-ui-visual-fg: none;
}