/* extras/css/themes/dark/oasis_starlight_dark.css
 * name: Oasis Starlight Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="starlight_dark"],
.oasis-starlight_dark {
	--oasis-name: "Oasis Starlight Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #000000;
	--oasis-bg-mantle: #080808;
	--oasis-bg-shadow: #000000;
	--oasis-bg-surface: #1A1A1A;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #1A1A1A;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #5E7C9A;
	--oasis-fg-core: #FAF7F0;
	--oasis-fg-dim: #85665B;
	--oasis-fg-muted: #4F5B6B;
	--oasis-fg-strong: #DCD9D2;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #FDF0D0;
	--oasis-palette-accent-100: #FCE4BD;
	--oasis-palette-accent-200: #FBD8AA;
	--oasis-palette-accent-300: #FACC97;
	--oasis-palette-accent-400: #F9C084;
	--oasis-palette-accent-500: #F8B471;
	--oasis-palette-accent-600: #F9A05E;
	--oasis-palette-accent-700: #F8944D;
	--oasis-palette-accent-800: #B3671F;
	--oasis-palette-accent-900: #663A14;
	--oasis-palette-primary-50: #EEF4FF;
	--oasis-palette-primary-100: #D0E8FE;
	--oasis-palette-primary-200: #B2DCFE;
	--oasis-palette-primary-300: #94D0FE;
	--oasis-palette-primary-400: #76C4FD;
	--oasis-palette-primary-500: #58B8FD;
	--oasis-palette-primary-600: #3AACFD;
	--oasis-palette-primary-700: #1CA0FD;
	--oasis-palette-primary-800: #1670AD;
	--oasis-palette-primary-900: #0D4266;
	--oasis-palette-secondary-50: #FBF6D8;
	--oasis-palette-secondary-100: #F9F2C5;
	--oasis-palette-secondary-200: #F6EEB2;
	--oasis-palette-secondary-300: #F3EA9F;
	--oasis-palette-secondary-400: #F2E898;
	--oasis-palette-secondary-500: #F0E68C;
	--oasis-palette-secondary-600: #CDC673;
	--oasis-palette-secondary-700: #BDB76B;
	--oasis-palette-secondary-800: #807C37;
	--oasis-palette-secondary-900: #4D4A1B;
	--oasis-syntax-bracket: #A3A3BB;
	--oasis-syntax-builtinConst: #A3ABB8;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #F0E68C;
	--oasis-syntax-comment: #5E7C9A;
	--oasis-syntax-conditional: #3AACFD;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #3AACFD;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #96D4CB;
	--oasis-syntax-operator: #FFA0A0;
	--oasis-syntax-parameter: #C28EFF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #FF8080;
	--oasis-syntax-regex: #94E97C;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #58B8FD;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #68C0B6;
	--oasis-terminal-black: #101010;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #504641;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101010;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #504641;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #F8B471;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #87CEEB;
	--oasis-theme-primary: #58B8FD;
	--oasis-theme-secondary: #F0E68C;
	--oasis-theme-strong-primary: #3AACFD;
	--oasis-ui-border: #3AACFD;
	--oasis-ui-cursorLine: #1A283F;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #080808;
	--oasis-ui-float-border-bg: #080808;
	--oasis-ui-float-border-fg: #3AACFD;
	--oasis-ui-float-fg: #DCD9D2;
	--oasis-ui-float-title: #58B8FD;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #F0E68C;
	--oasis-ui-match-fg: #000000;
	--oasis-ui-nontext: #85665B;
	--oasis-ui-search-bg: #4D4528;
	--oasis-ui-search-fg: #FAF7F0;
	--oasis-ui-title: #58B8FD;
	--oasis-ui-visual-bg: #4D4528;
	--oasis-ui-visual-fg: none;
}