/* extras/css/themes/dark/oasis_dune_dark.css
 * name: Oasis Dune Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="dune_dark"],
.oasis-dune_dark {
	--oasis-name: "Oasis Dune Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #2E2620;
	--oasis-bg-mantle: #3C332C;
	--oasis-bg-shadow: #2B231E;
	--oasis-bg-surface: #534A3F;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #534A3F;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #9F8B79;
	--oasis-fg-core: #E8E5DA;
	--oasis-fg-dim: #6E6E6E;
	--oasis-fg-muted: #826D5A;
	--oasis-fg-strong: #EDE8AF;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #F4EEFF;
	--oasis-palette-accent-100: #EEDDFF;
	--oasis-palette-accent-200: #DEC2FF;
	--oasis-palette-accent-300: #D2ADFF;
	--oasis-palette-accent-400: #CB9EFF;
	--oasis-palette-accent-500: #C28EFF;
	--oasis-palette-accent-600: #A870F0;
	--oasis-palette-accent-700: #9C5FEB;
	--oasis-palette-accent-800: #8F4FE6;
	--oasis-palette-accent-900: #7033CC;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #CDC673;
	--oasis-palette-primary-700: #BDB76B;
	--oasis-palette-primary-800: #807C37;
	--oasis-palette-primary-900: #4D4A1B;
	--oasis-palette-secondary-50: #DEF8F4;
	--oasis-palette-secondary-100: #CCEFE9;
	--oasis-palette-secondary-200: #BAE6DF;
	--oasis-palette-secondary-300: #A8DDD5;
	--oasis-palette-secondary-400: #96D4CB;
	--oasis-palette-secondary-500: #8FD1C7;
	--oasis-palette-secondary-600: #79C7BE;
	--oasis-palette-secondary-700: #68C0B6;
	--oasis-palette-secondary-800: #47A99B;
	--oasis-palette-secondary-900: #2A5E56;
	--oasis-syntax-bracket: #B3BAC7;
	--oasis-syntax-builtinConst: #93B3D2;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #76C4FD;
	--oasis-syntax-comment: #9F8B79;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FFA852;
	--oasis-syntax-delimiter: #BDB76B;
	--oasis-syntax-exception: #F29B9B;
	--oasis-syntax-func: #FFC78F;
	--oasis-syntax-identifier: #A8DDD5;
	--oasis-syntax-operator: #FFC0C0;
	--oasis-syntax-parameter: #CB9EFF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA247;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #53D390;
	--oasis-syntax-type: #79C7BE;
	--oasis-terminal-black: #2E2620;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #826D5A;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #2E2620;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #826D5A;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #D2ADFF;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #F3EA9F;
	--oasis-theme-primary: #F0E68C;
	--oasis-theme-secondary: #96D4CB;
	--oasis-theme-strong-primary: #BDB76B;
	--oasis-ui-border: #BDB76B;
	--oasis-ui-cursorLine: #3C332C;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #3C332C;
	--oasis-ui-float-border-bg: #3C332C;
	--oasis-ui-float-border-fg: #BDB76B;
	--oasis-ui-float-fg: #EDE8AF;
	--oasis-ui-float-title: #F0E68C;
	--oasis-ui-lineNumber: #FFA247;
	--oasis-ui-match-bg: #96EA7F;
	--oasis-ui-match-fg: #2E2620;
	--oasis-ui-matchParen-bg: #345A2B;
	--oasis-ui-matchParen-fg: #F78181;
	--oasis-ui-nontext: #6E6E6E;
	--oasis-ui-search-bg: #345A2B;
	--oasis-ui-search-fg: #2E2620;
	--oasis-ui-title: #F0E68C;
	--oasis-ui-visual-bg: #534A3F;
	--oasis-ui-visual-fg: none;
}