/* extras/css/themes/dark/oasis_scorpion_dark.css
 * name: Oasis Scorpion Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="scorpion_dark"],
.oasis-scorpion_dark {
	--oasis-name: "Oasis Scorpion Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #140400;
	--oasis-bg-mantle: #22100B;
	--oasis-bg-shadow: #080100;
	--oasis-bg-surface: #331C16;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #331C16;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #B08A80;
	--oasis-fg-core: #F7EAE5;
	--oasis-fg-dim: #8E7770;
	--oasis-fg-muted: #9A6F66;
	--oasis-fg-strong: #FFD9CF;
	--oasis-git-add: #A3E39A;
	--oasis-git-change: #F0E68C;
	--oasis-git-delete: #FFA0A0;
	--oasis-palette-accent-50: #EFFCF0;
	--oasis-palette-accent-100: #DCF7DA;
	--oasis-palette-accent-200: #BEEEB8;
	--oasis-palette-accent-300: #A3E39A;
	--oasis-palette-accent-400: #91D98A;
	--oasis-palette-accent-500: #7FCF78;
	--oasis-palette-accent-600: #6BC268;
	--oasis-palette-accent-700: #57A851;
	--oasis-palette-accent-800: #3F8339;
	--oasis-palette-accent-900: #295B24;
	--oasis-palette-primary-50: #FBF6D8;
	--oasis-palette-primary-100: #F9F2C5;
	--oasis-palette-primary-200: #F6EEB2;
	--oasis-palette-primary-300: #F3EA9F;
	--oasis-palette-primary-400: #F2E898;
	--oasis-palette-primary-500: #F0E68C;
	--oasis-palette-primary-600: #D6CE7C;
	--oasis-palette-primary-700: #CDC673;
	--oasis-palette-primary-800: #BDB76B;
	--oasis-palette-primary-900: #807C37;
	--oasis-palette-secondary-50: #FEF0E8;
	--oasis-palette-secondary-100: #FDE1D2;
	--oasis-palette-secondary-200: #FCD1BE;
	--oasis-palette-secondary-300: #FBC0AA;
	--oasis-palette-secondary-400: #F9AF96;
	--oasis-palette-secondary-500: #F7997D;
	--oasis-palette-secondary-600: #E28E6F;
	--oasis-palette-secondary-700: #C96E4D;
	--oasis-palette-secondary-800: #9C5034;
	--oasis-palette-secondary-900: #6B3420;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #8D8DE7;
	--oasis-syntax-builtinFunc: #FFD393;
	--oasis-syntax-builtinVar: #C28EFF;
	--oasis-syntax-comment: #B08A80;
	--oasis-syntax-conditional: #BDB76B;
	--oasis-syntax-constant: #FFA34D;
	--oasis-syntax-delimiter: #C96E4D;
	--oasis-syntax-exception: #FF7979;
	--oasis-syntax-func: #FFDEAD;
	--oasis-syntax-identifier: #87CEEB;
	--oasis-syntax-macro: #C96E4D;
	--oasis-syntax-operator: #D6CE7C;
	--oasis-syntax-parameter: #7FCF78;
	--oasis-syntax-preproc: #E28E6F;
	--oasis-syntax-punctuation: #CDC673;
	--oasis-syntax-regex: #E4AABD;
	--oasis-syntax-special: #FFC78F;
	--oasis-syntax-statement: #D6CE7C;
	--oasis-syntax-string: #FFA0A0;
	--oasis-syntax-type: #68C0B6;
	--oasis-syntax-typedef: #47A99B;
	--oasis-terminal-black: #140400;
	--oasis-terminal-blue: #81C0FF;
	--oasis-terminal-bright-black: #9A6F66;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #A3E39A;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #F7F4E9;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #140400;
	--oasis-terminal-color1: #FF7979;
	--oasis-terminal-color10: #A3E39A;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #F7F4E9;
	--oasis-terminal-color2: #7FCF78;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #81C0FF;
	--oasis-terminal-color5: #C695FF;
	--oasis-terminal-color6: #68C0B6;
	--oasis-terminal-color7: #FFF7D7;
	--oasis-terminal-color8: #9A6F66;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #68C0B6;
	--oasis-terminal-green: #7FCF78;
	--oasis-terminal-magenta: #C695FF;
	--oasis-terminal-red: #FF7979;
	--oasis-terminal-white: #FFF7D7;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #7FCF78;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-label: #E28E6F;
	--oasis-theme-light-primary: #F3EA9F;
	--oasis-theme-primary: #F0E68C;
	--oasis-theme-secondary: #F7997D;
	--oasis-theme-secondary-light: #FBC0AA;
	--oasis-theme-secondary-strong: #C96E4D;
	--oasis-theme-strong-primary: #CDC673;
	--oasis-ui-border: #C96E4D;
	--oasis-ui-cursorLine: #331C16;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #81C0FF;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #A3E39A;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F0E68C;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #22100B;
	--oasis-ui-float-border-bg: #22100B;
	--oasis-ui-float-border-fg: #C96E4D;
	--oasis-ui-float-fg: #FFD9CF;
	--oasis-ui-float-title: #F0E68C;
	--oasis-ui-lineNumber: #FF9633;
	--oasis-ui-match-bg: #A1C254;
	--oasis-ui-match-fg: #140400;
	--oasis-ui-matchParen-bg: #4D4A42;
	--oasis-ui-matchParen-fg: #CDC673;
	--oasis-ui-nontext: #8E7770;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #F7EAE5;
	--oasis-ui-title: #F7997D;
	--oasis-ui-visual-bg: #5A3824;
	--oasis-ui-visual-fg: none;
}