/* extras/css/themes/dark/oasis_desert_dark.css
 * name: Oasis Desert Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="desert_dark"],
.oasis-desert_dark {
	--oasis-name: "Oasis Desert Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #333333;
	--oasis-bg-mantle: #444444;
	--oasis-bg-shadow: #303030;
	--oasis-bg-surface: #555555;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #555555;
	--oasis-diff-delete: #532E2E;
	--oasis-diff-text: #5A3824;
	--oasis-fg-comment: #809FB4;
	--oasis-fg-core: #F7EDE1;
	--oasis-fg-dim: #9E8B7C;
	--oasis-fg-muted: #67808D;
	--oasis-fg-strong: #E5D9CE;
	--oasis-git-add: #96EA7F;
	--oasis-git-change: #F3E989;
	--oasis-git-delete: #FFA0A0;
	--oasis-syntax-bracket: #C3C9D3;
	--oasis-syntax-builtinConst: #C3C9D3;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #94D0FE;
	--oasis-syntax-comment: #809FB4;
	--oasis-syntax-conditional: #CDC673;
	--oasis-syntax-constant: #FFB870;
	--oasis-syntax-delimiter: #D06666;
	--oasis-syntax-exception: #FFACA5;
	--oasis-syntax-func: #FFD082;
	--oasis-syntax-identifier: #A8DDD5;
	--oasis-syntax-operator: #FABDA2;
	--oasis-syntax-parameter: #D2ADFF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #F6C1C1;
	--oasis-syntax-regex: #A6EE93;
	--oasis-syntax-special: #FFB870;
	--oasis-syntax-statement: #F0E68C;
	--oasis-syntax-string: #6DDFA0;
	--oasis-syntax-type: #8FD1C7;
	--oasis-terminal-black: #101010;
	--oasis-terminal-blue: #71B8FF;
	--oasis-terminal-bright-black: #504641;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #F8B471;
	--oasis-terminal-color0: #101010;
	--oasis-terminal-color1: #ED7777;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #F8B471;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F3E989;
	--oasis-terminal-color4: #71B8FF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #504641;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #ED7777;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F3E989;
	--oasis-theme-accent: #87CEEB;
	--oasis-theme-cursor: #F0E68C;
	--oasis-theme-light-primary: #FFA0A0;
	--oasis-theme-palette-primary-50: #FBF6D8;
	--oasis-theme-palette-primary-100: #F9F2C5;
	--oasis-theme-palette-primary-200: #F6EEB2;
	--oasis-theme-palette-primary-300: #F3EA9F;
	--oasis-theme-palette-primary-400: #F3E989;
	--oasis-theme-palette-primary-500: #F0E68C;
	--oasis-theme-palette-primary-600: #CDC673;
	--oasis-theme-palette-primary-700: #BDB76B;
	--oasis-theme-palette-primary-800: #807C37;
	--oasis-theme-palette-primary-900: #4D4A1B;
	--oasis-theme-primary: #ED7777;
	--oasis-theme-secondary: #F0E68C;
	--oasis-theme-strong-primary: #D06666;
	--oasis-ui-border: #ED7777;
	--oasis-ui-cursorLine: #444444;
	--oasis-ui-diag-error-bg: #532E2E;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #2B4A46;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #335668;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #96EA7F;
	--oasis-ui-diag-warn-bg: #4D4528;
	--oasis-ui-diag-warn-fg: #F3E989;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #444444;
	--oasis-ui-float-border-bg: #444444;
	--oasis-ui-float-border-fg: #ED7777;
	--oasis-ui-float-fg: #E5D9CE;
	--oasis-ui-float-title: #FFA0A0;
	--oasis-ui-lineNumber: #FFA852;
	--oasis-ui-match-bg: #F0E68C;
	--oasis-ui-match-fg: #333333;
	--oasis-ui-nontext: #9E8B7C;
	--oasis-ui-search-bg: #666666;
	--oasis-ui-search-fg: #F7EDE1;
	--oasis-ui-title: #ED7777;
	--oasis-ui-visual-bg: #555555;
	--oasis-ui-visual-fg: none;
}