/* extras/css/themes/dark/oasis_rose_dark.css
 * name: Oasis Rose Dark
 * author: uhs-robert
 * mode: dark
 */

:root,
[data-oasis-theme="rose_dark"],
.oasis-rose_dark {
	--oasis-name: "Oasis Rose Dark";
	--oasis-mode: "dark";
	--oasis-bg-core: #301828;
	--oasis-bg-mantle: #3E2636;
	--oasis-bg-shadow: #2B1523;
	--oasis-bg-surface: #523A4B;
	--oasis-diff-add: #1F3A2D;
	--oasis-diff-change: #523A4B;
	--oasis-diff-delete: #532E2E;
	--oasis-fg-core: #EDD5E7;
	--oasis-fg-dim: #706156;
	--oasis-fg-muted: #6A4F60;
	--oasis-fg-strong: #EBBEDF;
	--oasis-syntax-bracket: #A3ABB8;
	--oasis-syntax-builtinConst: #A3ABB8;
	--oasis-syntax-builtinFunc: #FFBA80;
	--oasis-syntax-builtinVar: #58B8FD;
	--oasis-syntax-comment: #9F6C85;
	--oasis-syntax-conditional: #FF8080;
	--oasis-syntax-constant: #FFA247;
	--oasis-syntax-delimiter: #FFA0A0;
	--oasis-syntax-exception: #F0E68C;
	--oasis-syntax-func: #FFB870;
	--oasis-syntax-identifier: #8FD1C7;
	--oasis-syntax-operator: #FABDA2;
	--oasis-syntax-parameter: #C695FF;
	--oasis-syntax-preproc: #87CEEB;
	--oasis-syntax-punctuation: #FBABAB;
	--oasis-syntax-regex: #96EA7F;
	--oasis-syntax-special: #FFA852;
	--oasis-syntax-statement: #FFA0A0;
	--oasis-syntax-string: #34CB7D;
	--oasis-syntax-type: #5ABAAE;
	--oasis-terminal-black: #000000;
	--oasis-terminal-blue: #519BFF;
	--oasis-terminal-bright-black: #666666;
	--oasis-terminal-bright-blue: #87CEEB;
	--oasis-terminal-bright-cyan: #8FD1C7;
	--oasis-terminal-bright-green: #96EA7F;
	--oasis-terminal-bright-magenta: #D2ADFF;
	--oasis-terminal-bright-red: #FFA0A0;
	--oasis-terminal-bright-white: #FFF9F2;
	--oasis-terminal-bright-yellow: #FFA247;
	--oasis-terminal-color0: #000000;
	--oasis-terminal-color1: #D06666;
	--oasis-terminal-color10: #96EA7F;
	--oasis-terminal-color11: #FFA247;
	--oasis-terminal-color12: #87CEEB;
	--oasis-terminal-color13: #D2ADFF;
	--oasis-terminal-color14: #8FD1C7;
	--oasis-terminal-color15: #FFF9F2;
	--oasis-terminal-color2: #53D390;
	--oasis-terminal-color3: #F0E68C;
	--oasis-terminal-color4: #519BFF;
	--oasis-terminal-color5: #C28EFF;
	--oasis-terminal-color6: #5ABAAE;
	--oasis-terminal-color7: #DDDBD5;
	--oasis-terminal-color8: #666666;
	--oasis-terminal-color9: #FFA0A0;
	--oasis-terminal-cyan: #5ABAAE;
	--oasis-terminal-green: #53D390;
	--oasis-terminal-magenta: #C28EFF;
	--oasis-terminal-red: #D06666;
	--oasis-terminal-white: #DDDBD5;
	--oasis-terminal-yellow: #F0E68C;
	--oasis-theme-accent: #87CEEB;
	--oasis-theme-light-primary: #FFC0C0;
	--oasis-theme-palette-primary-50: #FFEBEB;
	--oasis-theme-palette-primary-100: #FFDCDC;
	--oasis-theme-palette-primary-200: #FFCECE;
	--oasis-theme-palette-primary-300: #FFC0C0;
	--oasis-theme-palette-primary-400: #FFB0B0;
	--oasis-theme-palette-primary-500: #FFA0A0;
	--oasis-theme-palette-primary-600: #FF9090;
	--oasis-theme-palette-primary-700: #FF8080;
	--oasis-theme-palette-primary-800: #CC5959;
	--oasis-theme-palette-primary-900: #803333;
	--oasis-theme-primary: #FFA0A0;
	--oasis-theme-secondary: #F4E36B;
	--oasis-ui-border: #FFA0A0;
	--oasis-ui-curSearch-bg: #F5A72C;
	--oasis-ui-curSearch-fg: #301828;
	--oasis-ui-cursorLine: #3E2636;
	--oasis-ui-diag-error-bg: #322639;
	--oasis-ui-diag-error-fg: #FFA0A0;
	--oasis-ui-diag-hint-bg: #273644;
	--oasis-ui-diag-hint-fg: #8FD1C7;
	--oasis-ui-diag-info-bg: #203346;
	--oasis-ui-diag-info-fg: #87CEEB;
	--oasis-ui-diag-ok-bg: none;
	--oasis-ui-diag-ok-fg: #00FF7F;
	--oasis-ui-diag-warn-bg: #38343D;
	--oasis-ui-diag-warn-fg: #EEEE00;
	--oasis-ui-dir: #87CEEB;
	--oasis-ui-float-bg: #523A4B;
	--oasis-ui-float-border-bg: #3E2636;
	--oasis-ui-float-border-fg: #FFA0A0;
	--oasis-ui-float-fg: #EDD5E7;
	--oasis-ui-float-title: #FFA0A0;
	--oasis-ui-lineNumber: #F49F15;
	--oasis-ui-match-bg: #F49F15;
	--oasis-ui-match-fg: #301828;
	--oasis-ui-nontext: #706156;
	--oasis-ui-search-bg: #5A3824;
	--oasis-ui-search-fg: #EDD5E7;
	--oasis-ui-title: #FFA0A0;
	--oasis-ui-visual-bg: #5A3824;
	--oasis-ui-visual-fg: none;
}